Repository intel/auto-round: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

.azure-pipelines/code-scan.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: BanditCodeScan
    displayName: Bandit Code Scan
    dependsOn: []
    jobs:
    - job: Bandit
      displayName: Bandit
      steps:
      - template: template/code-scan-template.yml
        parameters:
          codeScanFileName: bandit
          uploadPath: bandit.log
  ...

.azure-pipelines/compatibility-test.yml:
  stages:
  - stage: null
    displayName: Compatibility Test
    dependsOn: []
    jobs:
    - job: null
      timeoutInMinutes: 20
      strategy:
        matrix:
          Python310_Linux:
            python_version: '3.10'
            vmImage: ubuntu-latest
          Python311_Linux:
            python_version: '3.11'
  ...

.azure-pipelines/unit-test-hpu.yml:
  pool: GAUDI
  stages:
  - stage: Unit_test
    displayName: Unit Test
    dependsOn: []
    jobs:
    - job: null
      displayName: Unit Test
      steps:
      - template: template/ut-template.yml
        parameters:
          imageSource: pull
          dockerConfigName: commonDockerConfig
  ...

.azure-pipelines/unit-test-xpu.yml:
  pool: ICX-16C
  stages:
  - stage: Unit_test
    displayName: Unit Test
    dependsOn: []
    jobs:
    - job: null
      displayName: Unit Test
      steps:
      - template: template/ut-template.yml
        parameters:
          dockerConfigName: commonDockerConfig
          utScriptFileName: run_ut_xpu
  ...

.azure-pipelines/unit-test.yml:
  pool: ICX-16C
  stages:
  - stage: Unit_test
    displayName: Unit Test
    dependsOn: []
    jobs:
    - job: null
      timeoutInMinutes: 120
      strategy:
        matrix:
          part1:
            PART: 1
          part2:
            PART: 2
          part3:
            PART: 3
          part4:
            PART: 4
  ...

fix bug
  test/test_cpu/export/test_gguf/test_gguf_baseline.py
  test/test_cpu/export/test_gguf/test_gguf_format.py
  test/test_cpu/export/test_gguf/test_gguf_q2k_mixed.py
  test/test_cpu/export/test_gguf/test_gguf_q4_k_m.py
  test/test_cpu/export/test_gguf/test_gguf_qtype_setting.py
  test/test_cpu/export/test_gguf/test_gguf_vlm.py
Due: .azure-pipelines/unit-test.yml

update
  auto_round/compressors/base.py
  auto_round/compressors/diffusion/compressor.py
  auto_round/compressors/mllm/compressor.py
  auto_round/compressors/shard_writer.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

update
  auto_round/__main__.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

test 8 chunks
  .azure-pipelines/scripts/ut/run_ut.sh
Due: .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix bug
  auto_round/compressors/base.py
  auto_round/experimental/attention.py
  auto_round/modelling/deepseek_v2.py
  auto_round/special_model_handler.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix CI
  auto_round/modelling/deepseek_v2.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

refine
  README.md
  auto_round/compressors/utils.py
  auto_round/formats.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix conditional statements
  auto_round/special_model_handler.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

open source delta loss
  auto_round/auto_scheme/__init__.py
  auto_round/auto_scheme/default_alg.abi3.so
  auto_round/auto_scheme/default_alg.pyd
  auto_round/auto_scheme/delta_loss.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

Update auto_round/auto_scheme/delta_loss.py
  auto_round/auto_scheme/delta_loss.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

refine a little
  auto_round/auto_scheme/delta_loss.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix
  auto_round/auto_scheme/delta_loss.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

remove itrex format
  auto_round/export/export_to_itrex/__init__.py
  auto_round/export/export_to_itrex/bit_packer.py
  auto_round/export/export_to_itrex/config.py
  auto_round/export/export_to_itrex/export.py
  auto_round/export/export_to_itrex/model_wrapper.py
  auto_round/formats.py
  auto_round/inference/convert_model.py
  auto_round/testing_utils.py
  docs/step_by_step.md
  test/test_cpu/core/test_autoround_export_to_itrex.py
  test/test_cpu/utils/test_woq_linear.py
  test/test_cuda/quantization/test_qbits.py
  test/test_hpu/test_auto_round.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix replace on cuda
  auto_round/modelling/replace_modules.py
  auto_round/special_model_handler.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

use original kv
  auto_round/experimental/kv_cache.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

inherit replace module from the original module
  auto_round/modelling/deepseek_v2.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

update
  .pre-commit-config.yaml
  auto_round/__init__.py
  auto_round/autoround.py
  auto_round/compressors/__init__.py
  auto_round/compressors/adam.py
  auto_round/compressors/base.py
  auto_round/compressors/diffusion/compressor.py
  auto_round/compressors/utils.py
  auto_round/quantizers/algs/auto_round.py
  auto_round/quantizers/algs/base.py
  auto_round/quantizers/algs/rtn.py
  auto_round/quantizers/base.py
  auto_round/quantizers/entrypoint.py
  auto_round/quantizers/utils.py
  test/test_cpu/export/test_gguf_format.py
  test/test_cpu/utils/test_cli_usage.py
  test/test_cuda/advanced/test_multiple_card_calib.py
  test/test_cuda/export/test_gguf.py
  test/test_cuda/models/test_support_vlms.py
  test/test_cuda/utils/test_alg_ext.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

Remove itrex format (#1301)
  auto_round/export/export_to_itrex/__init__.py
  auto_round/export/export_to_itrex/bit_packer.py
  auto_round/export/export_to_itrex/config.py
  auto_round/export/export_to_itrex/export.py
  auto_round/export/export_to_itrex/model_wrapper.py
  auto_round/formats.py
  auto_round/inference/convert_model.py
  auto_round/testing_utils.py
  docs/step_by_step.md
  test/test_cpu/core/test_autoround_export_to_itrex.py
  test/test_cpu/utils/test_woq_linear.py
  test/test_cuda/quantization/test_qbits.py
  test/test_hpu/test_auto_round.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix ignore layers regression
  auto_round/autoround.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix ignore layers regression (#1302)
  auto_round/autoround.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

open source delta loss (#1300)
  auto_round/auto_scheme/__init__.py
  auto_round/auto_scheme/default_alg.abi3.so
  auto_round/auto_scheme/default_alg.pyd
  auto_round/auto_scheme/delta_loss.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

bump version into v0.9.6
  README.md
  auto_round/version.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

open source alg_ext (#1219)
  auto_round/alg_ext.abi3.so
  auto_round/alg_ext.py
  auto_round/alg_ext.pyd
  auto_round/compressors/base.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

update pypi package build script
  setup.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

refine code
  auto_round/modelling/deepseek_v2.py
  auto_round/modelling/replace_modules.py
  auto_round/special_model_handler.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

add ut
  test/test_cpu/quantization/test_statc_attn.py
  test/test_hpu/test_statc_attn.py
Due: .azure-pipelines/unit-test.yml

clean code
  test/test_cpu/quantization/test_statc_attn.py
Due: .azure-pipelines/unit-test.yml

fix
  test/test_cpu/quantization/test_statc_attn.py
Due: .azure-pipelines/unit-test.yml

add hpu ut req
  test/test_hpu/requirements.txt
Due: none

fix
  auto_round/compressors/base.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

Revert "use original kv"
  auto_round/experimental/kv_cache.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix CI
  .azure-pipelines/template/ut-template.yml
Due: .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

refine replacement logic
  auto_round/modelling/replace_modules.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

refine gpt-oss
  auto_round/compressors/base.py
  auto_round/modelling/gpt_oss.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

Path conditions:
  .azure-pipelines/code-scan.yml: any of: auto_round, setup.py, requirements.txt, .azure-pipelines/code-scan.yml, .azure-pipelines/scripts/codeScan
  .azure-pipelines/compatibility-test.yml: any of: auto_round, auto_round_extension, setup.py, setup.cfg, requirements.txt, requirements-cpu.txt, .azure-pipelines/compatibility-test.yml, but not: *.md, **/*.md
  .azure-pipelines/unit-test-hpu.yml: any of: auto_round, test/test*hpu*', setup.py, requirements-lib.txt, .azure-pipelines/scripts/ut, .azure-pipelines/template/docker-template.yml, .azure-pipelines/template/ut-template.yml, but not: auto_round/export/export_to_autogptq, auto_round/export/export_to_awq, *.md, **/*.md
  .azure-pipelines/unit-test-xpu.yml: any of: auto_round/utils, auto_round_extension/ark, test/test_ark, setup.py, .azure-pipelines/template/ut-template.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/scripts/ut/run_ut_xpu.sh, but not: *.md, **/*.md
  .azure-pipelines/unit-test.yml: any of: auto_round, auto_round_extension, test, setup.py, requirements.txt, requirements-cpu.txt, .azure-pipelines/scripts/ut, .azure-pipelines/unit-test.yml, .azure-pipelines/template/ut-template.yml, .azure-pipelines/template/docker-template.yml, but not: test/test*hpu*, *.md, **/*.md
