Repository intel/auto-round: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

Path conditions:
  .azure-pipelines/code-scan.yml: any of: auto_round, setup.py, requirements.txt, .azure-pipelines/code-scan.yml, .azure-pipelines/scripts/codeScan
  .azure-pipelines/unit-test-hpu.yml: any of: auto_round, test/test*hpu*', setup.py, requirements-hpu.txt, .azure-pipelines/scripts/ut, but not: auto_round/export/export_to_autogptq, auto_round/export/export_to_awq, *.md, **/*.md
  .azure-pipelines/unit-test.yml: any of: auto_round, auto_round_extension, test, setup.py, requirements_pt.txt, .azure-pipelines/scripts/ut

fix critic bug of mxfp4 (#451)
  auto_round/data_type/mxfp.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

change native as default and add ut
  auto_round/__main__.py
  auto_round/script/llm.py
  test/test_basic_usage.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

tmp change
  auto_round/autoround.py
  auto_round/data_type/__init__.py
  auto_round/data_type/w4fp8.py
  auto_round/export/export_to_autogptq/export.py
  auto_round/export/export_to_autoround/qlinear_triton_act.py
  auto_round/script/llm.py
  auto_round/wrapper.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

add use_auto_round_format arg, force load other quant format to autoround
  auto_round/auto_quantizer.py
  test/test_generation.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

refine code, mv use_auto_round_format args
  auto_round/auto_quantizer.py
  test/test_generation.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix awq export bug
  auto_round/export/export_to_awq/export.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test.yml

bugfix
  test/test_export.py
Due: .azure-pipelines/unit-test.yml

bugfix2
  test/test_export.py
Due: .azure-pipelines/unit-test.yml

upload_auto-round-light results
  README.md
  auto_round/__main__.py
  auto_round/script/llm.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

default bs set to auto
  auto_round/script/llm.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

update readme
  README.md
Due: none

Update README.md
  README.md
Due: none

update readme (#455)
  README.md
Due: none

update eval (#450)
  auto_round/__main__.py
  auto_round/autoround.py
  auto_round/script/llm.py
  auto_round/utils.py
  test/test_basic_usage.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix export UT bug
  test/test_export.py
Due: .azure-pipelines/unit-test.yml

awq exporting bugfix
  auto_round/export/export_to_awq/export.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test.yml

awq exporting bugfix (#456)
  auto_round/export/export_to_awq/export.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test.yml

fix ipex awq bug
  auto_round_extension/ipex/qlinear_ipex_awq.py
  test/test_generation.py
Due: .azure-pipelines/unit-test.yml

fix ipex awq bug
  auto_round_extension/ipex/qlinear_ipex_awq.py
Due: .azure-pipelines/unit-test.yml

Support force loading into autoround Format (#453)
  auto_round/auto_quantizer.py
  auto_round/export/export_to_awq/export.py
  auto_round_extension/ipex/qlinear_ipex_awq.py
  test/test_export.py
  test/test_generation.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

20x for awq and 4x for gptq
  auto_round/export/export_to_autogptq/export.py
  auto_round/export/export_to_autogptq/qlinear_triton.py
  auto_round/export/export_to_awq/utils.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test.yml

refine the code
  auto_round/export/export_to_autogptq/qlinear_triton.py
  auto_round/export/export_to_awq/utils.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test.yml

20x for awq and 4x for gptq packing speedup (#459)
  auto_round/export/export_to_autogptq/export.py
  auto_round/export/export_to_autogptq/qlinear_triton.py
  auto_round/export/export_to_awq/utils.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test.yml

refine the code
  auto_round/autoround.py
  auto_round/data_type/w4fp8.py
  auto_round/export/export_to_autoround/export.py
  auto_round/export/export_to_autoround/qlinear_triton_act.py
  auto_round/wrapper.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

clean code
  auto_round/export/export_to_autoround/export.py
  auto_round/export/export_to_autoround/qlinear_triton_act.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

try to fix preci issue
  auto_round/autoround.py
  auto_round/export/export_to_autoround/qlinear_triton_act.py
  auto_round/wrapper.py
  test/test_auto_round_hpu_only.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

tiny change
  auto_round/data_type/fp8.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fixl eval bug
  auto_round/script/llm.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

comment hpu test, will fix it later
  auto_round/data_type/fp8.py
  auto_round/export/export_to_autoround/qlinear_triton_act.py
  test/test_auto_round_hpu_only.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

add time costs table
  README.md
Due: none

add log
  auto_round/script/llm.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix ut
  auto_round/wrapper.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix preci
  auto_round/wrapper.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fixl eval bug (#461)
  auto_round/script/llm.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

revert incorrect changes
  auto_round/export/export_to_autogptq/qlinear_triton.py
  auto_round/export/export_to_autoround/export.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

revert incorrect changes
  auto_round/export/export_to_autogptq/export.py
  auto_round/export/export_to_autogptq/qlinear_triton.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test.yml

refine table
  README.md
Due: none

force to bf16 if activation quantization is enabled
  auto_round/autoround.py
  auto_round/export/export_to_autoround/export.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

W4Afp8 export (#378)
  auto_round/autoround.py
  auto_round/data_type/__init__.py
  auto_round/data_type/fp8.py
  auto_round/data_type/utils.py
  auto_round/data_type/w4fp8.py
  auto_round/export/export_to_autogptq/export.py
  auto_round/export/export_to_autoround/export.py
  auto_round/export/export_to_autoround/qlinear_triton_act.py
  auto_round/script/llm.py
  auto_round/wrapper.py
  test/test_auto_round_hpu_only.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

a sample code
  auto_round/autoround.py
  auto_round/export/export_to_autogptq/export.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml
