Repository intel/auto-round: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test.yml

.azure-pipelines/code-scan.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: BanditCodeScan
    displayName: Bandit Code Scan
    dependsOn: []
    jobs:
    - job: Bandit
      displayName: Bandit
      steps:
      - template: template/code-scan-template.yml
        parameters:
          codeScanFileName: bandit
          uploadPath: bandit.log
  ...

.azure-pipelines/unit-test.yml:
  pool: ICX-16C
  stages:
  - stage: Unit_test
    displayName: Unit Test
    dependsOn: []
    jobs:
    - job: null
      displayName: Unit Test
      steps:
      - template: template/ut-template.yml
        parameters:
          dockerConfigName: commonDockerConfig
          utScriptFileName: run_ut
  ...

update docs, fixtypos
  auto_round/auto_quantizer.py
  examples/multimodal-modeling/Llava/README.md
  examples/multimodal-modeling/Llava/mm_evaluation/textvqa.py
  examples/multimodal-modeling/requirements.txt
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test.yml

fixtypo
  auto_round/auto_quantizer.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test.yml

Add MANIFEST.in file to include requirements.txt (#243)
  MANIFEST.in
Due: none

fix example bug
  auto_round/__main__.py
  examples/language-modeling/main.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test.yml

fix
  auto_round/__main__.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test.yml

modify readme and support lm_eval==0.4.4
  README.md
  auto_round/eval/evaluation.py
  examples/language-modeling/eval/evaluation.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test.yml

modify readme & requirements
  README.md
  examples/language-modeling/requirements.txt
  requirements.txt
Due: .azure-pipelines/code-scan.yml

fix example bug (#245)
  README.md
  auto_round/__main__.py
  auto_round/eval/evaluation.py
  examples/language-modeling/eval/evaluation.py
  examples/language-modeling/main.py
  examples/language-modeling/requirements.txt
  requirements.txt
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test.yml

fixed the gen issue of AO' llama
  auto_round/autoround.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test.yml

fixed the gen issue of AO' llama (#247)
  auto_round/autoround.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test.yml

fixtypos
  auto_round/export/export_to_autogptq/export.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test.yml

init_commit
  auto_round/autoround.py
  auto_round/special_model_handler.py
  auto_round/utils.py
  examples/language-modeling/main.py
  examples/multimodal-modeling/Qwen-VL/README.md
  examples/multimodal-modeling/Qwen-VL/main.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test.yml

enable llava int4 inference with autoround format (#237)
  auto_round/auto_quantizer.py
  auto_round/export/export_to_autogptq/export.py
  auto_round/export/export_to_autoround/export.py
  auto_round/export/export_to_awq/export.py
  auto_round/utils.py
  examples/multimodal-modeling/Llava/README.md
  examples/multimodal-modeling/Llava/main.py
  examples/multimodal-modeling/Llava/mm_evaluation/textvqa.py
  examples/multimodal-modeling/Llava/run_autoround_on_gaudi.sh
  examples/multimodal-modeling/requirements.txt
  examples/multimodal-modeling/run_autoround.sh
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test.yml

fixtypos
  auto_round/autoround.py
  auto_round/export/export_to_autoround/export.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test.yml

remove autoawq requirement
  auto_round/__main__.py
  auto_round/export/export_to_awq/export.py
  examples/language-modeling/main.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test.yml

update
  auto_round/export/export_to_awq/utils.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test.yml

fix
  README.md
  auto_round/autoround.py
  auto_round/export/export_to_awq/utils.py
  examples/language-modeling/main.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test.yml

modify autoround_awq
  auto_round/export/export_to_autoround/export.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test.yml

add copyright
  auto_round/export/export_to_awq/utils.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test.yml

copyright
  auto_round/export/export_to_awq/utils.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test.yml

update
  auto_round/export/export_to_awq/export.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test.yml

transformers version
  examples/language-modeling/requirements.txt
  requirements.txt
Due: .azure-pipelines/code-scan.yml

reset
  examples/language-modeling/requirements.txt
  requirements.txt
Due: .azure-pipelines/code-scan.yml

warning
  auto_round/export/export_to_awq/utils.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test.yml

fix and clean code
  examples/language-modeling/main.py
Due: none

remove autoawq requirement at packing stage (#249)
  README.md
  auto_round/__main__.py
  auto_round/autoround.py
  auto_round/export/export_to_autoround/export.py
  auto_round/export/export_to_awq/export.py
  auto_round/export/export_to_awq/utils.py
  examples/language-modeling/main.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test.yml

avoid potential bug for auto-gptq 0.8
  README.md
  auto_round/export/export_to_autogptq/export.py
  auto_round/export/export_to_autoround/export.py
  auto_round/utils.py
  examples/language-modeling/README.md
  requirements.txt
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test.yml

fix typo
  examples/language-modeling/README.md
Due: none

remove unused log
  auto_round/autoround.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test.yml

remove unused log (#252)
  auto_round/autoround.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test.yml

support INC API
  auto_round/export/export_to_autoround/export.py
  auto_round/export/export_to_awq/export.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test.yml

support INC API (#255)
  auto_round/export/export_to_autoround/export.py
  auto_round/export/export_to_awq/export.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test.yml

fix example
  auto_round/__main__.py
  examples/language-modeling/main.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test.yml

update readme
  README.md
Due: none

Update export.py
  auto_round/export/export_to_autoround/export.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test.yml

avoid potential bug for auto-gptq 0.8 (#250)
  README.md
  auto_round/export/export_to_autogptq/export.py
  auto_round/export/export_to_autoround/export.py
  auto_round/utils.py
  examples/language-modeling/README.md
  requirements.txt
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test.yml

update
  auto_round/__main__.py
  auto_round/autoround.py
  auto_round/utils.py
  examples/language-modeling/eval_legacy/evaluation.py
  examples/language-modeling/eval_legacy/evaluation_legacy.py
  examples/language-modeling/main.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test.yml

update
  auto_round/__main__.py
  auto_round/autoround.py
  examples/language-modeling/main.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test.yml

fix
  auto_round/utils.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test.yml

fix
  examples/language-modeling/main.py
Due: none

Path conditions:
  .azure-pipelines/code-scan.yml: any of: auto_round, setup.py, requirements.txt, .azure-pipelines/code-scan.yml, .azure-pipelines/scripts/codeScan
  .azure-pipelines/unit-test.yml: any of: auto_round, auto_round_extension, test, setup.py, requirements_pt.txt, .azure-pipelines/scripts/ut
