Repository intel/auto-round: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Path conditions:
  .azure-pipelines/code-scan.yml: any of: auto_round, auto_round_extension, setup.py, requirements.txt, requirements-cpu.txt, requirements-hpu.txt, .azure-pipelines/code-scan.yml, .azure-pipelines/scripts/codeScan
  .azure-pipelines/compatibility-test.yml: any of: auto_round, auto_round_extension, setup.py, setup.cfg, requirements.txt, requirements-cpu.txt, .azure-pipelines/compatibility-test.yml, but not: *.md, **/*.md
  .azure-pipelines/unit-test-hpu.yml: any of: auto_round, test/test*hpu*', setup.py, requirements-lib.txt, .azure-pipelines/scripts/ut, .azure-pipelines/template/docker-template.yml, .azure-pipelines/template/ut-template.yml, but not: auto_round/export/export_to_autogptq, auto_round/export/export_to_awq, *.md, **/*.md
  .azure-pipelines/unit-test-xpu.yml: any of: auto_round, auto_round_extension, test/test_ark, test/test_xpu, setup.py, .azure-pipelines/template/ut-template.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/scripts/ut/run_ut_xpu.sh, but not: *.md, **/*.md
  .azure-pipelines/unit-test.yml: any of: auto_round, auto_round_extension, test, setup.py, requirements.txt, requirements-cpu.txt, .azure-pipelines/scripts/ut, .azure-pipelines/unit-test.yml, .azure-pipelines/template/ut-template.yml, .azure-pipelines/template/docker-template.yml, but not: auto_round_extension/ark, test/test_hpu, test/test_ark, test/test_xpu, *.md, **/*.md, .azure-pipelines/scripts/ut/run_ut_hpu.sh, .azure-pipelines/scripts/ut/run_ut_cuda.sh, .azure-pipelines/scripts/ut/run_ut_xpu.sh

stop print moe if not updated
  auto_round/modeling/fused_moe/replace_modules.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix ut
  test/test_cpu/core/test_autoround.py
  test/test_cpu/utils/test_fp8_re_quant.py
Due: .azure-pipelines/unit-test.yml

support gpt-oss mxfp4 directly loading
  auto_round/utils/model.py
  test/test_cpu/models/test_moe_model.py
  test/test_cuda/models/test_moe_model.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Fix Inference tensors do not track version counter for fake model inference
  auto_round/compressors/base.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

[bug fix] force ignore mlp.gate (#1501)
  auto_round/special_model_handler.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

bump version to v0.10.3
  README.md
  auto_round/version.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix qwen2.5 omni issues
  auto_round/compressors/mllm/processor.py
  auto_round/compressors/mllm/template.py
  auto_round/inference/convert_model.py
  auto_round/modeling/fused_moe/qwen3_omni.py
  auto_round/modeling/fused_moe/replace_modules.py
  auto_round/special_model_handler.py
  auto_round/utils/common.py
  auto_round/utils/model.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

add ut
  test/fixtures.py
  test/helpers.py
  test/test_cpu/models/test_omni_model.py
  test/test_cuda/models/test_omni_model.py
Due: .azure-pipelines/unit-test.yml

fix lint issue
  auto_round/modeling/fused_moe/qwen3_omni.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

test gptqmodel
  .azure-pipelines/scripts/cuda_unit_test/run_cuda_ut.sh
  .azure-pipelines/unit-test-cuda.yml
Due: none

fix request
  .azure-pipelines/scripts/cuda_unit_test/runpod_manager.py
Due: none

fix typo
  .azure-pipelines/scripts/cuda_unit_test/run_cuda_ut.sh
Due: none

fix folder
  .azure-pipelines/scripts/cuda_unit_test/run_cuda_ut.sh
  test/test_cuda/models/test_support_vlms.py
Due: .azure-pipelines/unit-test.yml

test
  .azure-pipelines/scripts/cuda_unit_test/run_cuda_ut.sh
  .azure-pipelines/unit-test-cuda.yml
Due: none

Update README.md: Add nightly installation instructions for auto-round
  README.md
Due: none

Add nightly installation instructions for CPU/GPU
  README.md
  README_CN.md
Due: none

[bug fix] force ignore mlp.gate
  auto_round/special_model_handler.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix part
  .azure-pipelines/scripts/cuda_unit_test/runpod_manager.py
  .azure-pipelines/unit-test-cuda.yml
Due: none

add test
  .azure-pipelines/scripts/cuda_unit_test/run_cuda_ut.sh
  .azure-pipelines/unit-test-cuda.yml
Due: none

refine early stop calib logic, add ut for mllm calib cache check
  auto_round/compressors/base.py
  test/test_cpu/models/test_mllm.py
  test/test_cuda/models/test_mllm.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix uv
  .azure-pipelines/scripts/cuda_unit_test/run_cuda_ut.sh
Due: none

update branch reference to v0.10.3rc in unit test YAML files
  .azure-pipelines/unit-test-hpu.yml
  .azure-pipelines/unit-test-xpu.yml
  .azure-pipelines/unit-test.yml
Due: .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix CI
  test/helpers.py
Due: .azure-pipelines/unit-test.yml

fix CI
  test/test_cpu/utils/test_fp8_re_quant.py
Due: .azure-pipelines/unit-test.yml

support minimax_m2
  auto_round/special_model_handler.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

support minimax_m2 ignore layer: block_sparse_moe.gate
  auto_round/special_model_handler.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Fix #1284: preserve FP8 format for layers specified in ignore_layers
  auto_round/compressors/base.py
  auto_round/compressors/utils.py
  auto_round/utils/weight_handler.py
  test/test_cpu/utils/test_fp8_ignore_layers.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

update cuda ut
  .azure-pipelines/scripts/ut/run_ut_cuda.sh
  test/test_cuda/requirements.txt
Due: .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix pylint errors.
  auto_round/autoround.py
  auto_round/compressors/base.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Support GLM-Image model quantizaiton
  auto_round/autoround.py
  auto_round/compressors/mllm/compressor.py
  auto_round/compressors/mllm/template.py
  auto_round/compressors/mllm/utils.py
  auto_round/compressors/shard_writer.py
  auto_round/export/export_to_autogptq/export.py
  auto_round/export/export_to_autoround/export.py
  auto_round/export/utils.py
  auto_round/special_model_handler.py
  auto_round/utils/common.py
  auto_round/utils/model.py
  test/test_cpu/models/test_glm_image.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix test script
  test/test_cpu/models/test_glm_image.py
Due: .azure-pipelines/unit-test.yml

remove example
  examples/quant_model.py
Due: none

fix
  auto_round/modeling/hpu_patch.py
  auto_round/utils/common.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

add todo
  auto_round/utils/common.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

update license
  auto_round/modeling/finegrained_fp8_patch_v4.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Update README.md: Add nightly installation instructions for auto-round (#1505)
  README.md
  README_CN.md
Due: none

Fix FP8 quantizer for Transformers v4 (#1504)
  auto_round/modeling/finegrained_fp8_patch_v4.py
  auto_round/modeling/hpu_patch.py
  auto_round/utils/common.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

test
  .azure-pipelines/scripts/cuda_unit_test/run_cuda_ut.sh
Due: none

Remove temporary version restriction on compressed_tensors in requirements.txt
  test/test_hpu/requirements.txt
Due: none

fix ut
  .azure-pipelines/scripts/ut/run_ut_cuda.sh
Due: .azure-pipelines/unit-test-hpu.yml
