Repository intel/auto-round: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Path conditions:
  .azure-pipelines/code-scan.yml: any of: auto_round, auto_round_extension, setup.py, requirements.txt, requirements-cpu.txt, requirements-hpu.txt, .azure-pipelines/code-scan.yml, .azure-pipelines/scripts/codeScan
  .azure-pipelines/compatibility-test.yml: any of: auto_round, auto_round_extension, setup.py, setup.cfg, requirements.txt, requirements-cpu.txt, .azure-pipelines/compatibility-test.yml, but not: *.md, **/*.md
  .azure-pipelines/unit-test-hpu.yml: any of: auto_round, test/test*hpu*', setup.py, requirements-lib.txt, .azure-pipelines/scripts/ut, .azure-pipelines/template/docker-template.yml, .azure-pipelines/template/ut-template.yml, but not: auto_round/export/export_to_autogptq, auto_round/export/export_to_awq, *.md, **/*.md
  .azure-pipelines/unit-test-xpu.yml: any of: auto_round, auto_round_extension, test/test_ark, test/test_xpu, setup.py, .azure-pipelines/template/ut-template.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/scripts/ut/run_ut_xpu.sh, but not: *.md, **/*.md
  .azure-pipelines/unit-test.yml: any of: auto_round, auto_round_extension, test, setup.py, requirements.txt, requirements-cpu.txt, .azure-pipelines/scripts/ut, .azure-pipelines/unit-test.yml, .azure-pipelines/template/ut-template.yml, .azure-pipelines/template/docker-template.yml, but not: auto_round_extension/ark, test/test_hpu, test/test_ark, test/test_xpu, *.md, **/*.md, .azure-pipelines/scripts/ut/run_ut_hpu.sh, .azure-pipelines/scripts/ut/run_ut_cuda.sh, .azure-pipelines/scripts/ut/run_ut_xpu.sh

Revert "for debug"
  .azure-pipelines/unit-test.yml
Due: .azure-pipelines/unit-test.yml

Potential fix for pull request finding
  auto_round_extension/ark/auto_round_kernel/__init__.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-xpu.yml

Implement AutoScheme support for model-free packing with validation a… (#1990)
  auto_round/compressors/model_free.py
  auto_round/utils/model.py
  docs/step_by_step.md
  docs/step_by_step_CN.md
  test/test_cpu/quantization/test_model_free.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Enable auto-round-bot for CI comments (#1993)
  .azure-pipelines/unit-test.yml
Due: .azure-pipelines/unit-test.yml

Add sparse kernel profiling modes and dev bench path
  auto_round_extension/ark/auto_round_kernel/CMakeLists.txt
  auto_round_extension/ark/auto_round_kernel/__init__.py
  auto_round_extension/ark/auto_round_kernel/ark.cpp
  auto_round_extension/ark/auto_round_kernel/docs/PV_MICRO_MODE_RESULTS_20260703.md
  auto_round_extension/ark/auto_round_kernel/docs/PV_ONLY_REALISH_PROFILE_20260703.md
  auto_round_extension/ark/auto_round_kernel/docs/SPARSE_FAST_VS_SLOW_REPROFILE_20260703.md
  auto_round_extension/ark/auto_round_kernel/docs/SPARSE_PHASE_ISOLATION_REPROFILE_20260703.md
  auto_round_extension/ark/auto_round_kernel/docs/SPARSE_PHASE_SPLIT_RESULTS_20260703.md
  auto_round_extension/ark/auto_round_kernel/docs/SPARSE_PREFETCH_CONFIG_AUDIT_20260703.md
  auto_round_extension/ark/auto_round_kernel/docs/SPARSE_QK_ONLY_ISOLATION_IMPL_20260703.md
  auto_round_extension/ark/auto_round_kernel/docs/SPARSE_SAGE_KERNEL_STATUS.md
  auto_round_extension/ark/auto_round_kernel/docs/SPARSE_SAGE_ROW_LINEAR_PLAN.md
  auto_round_extension/ark/auto_round_kernel/sdpa.cpp
  auto_round_extension/ark/auto_round_kernel/sdpa_sparse_dev.cpp
  auto_round_extension/ark/auto_round_kernel/sparse_attention.py
  auto_round_extension/ark/auto_round_kernel/wrapper/include/stla/xe_sparse_sage_fwd_kernel.hpp
  auto_round_extension/ark/auto_round_kernel/wrapper/include/stla/xe_sparse_sagev1_fwd_mainloop.hpp
  auto_round_extension/ark/auto_round_kernel/wrapper/include/sycl_tla_common.hpp
  auto_round_extension/ark/auto_round_kernel/wrapper/include/sycl_tla_sdpa.hpp
  auto_round_extension/ark/auto_round_kernel/wrapper/test/test_sage_sparse_prefill_e2e.py
  auto_round_extension/ark/test/bench_sparse_topk.py
  auto_round_extension/ark/tools/enable_vtune_unitrace_env.sh
  auto_round_extension/ark/tools/fix_vtune_host.sh
  auto_round_extension/ark/tools/install_vtune_unitrace.sh
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-xpu.yml

Add support for LSE output in SDPA and SAGEV1 kernels
  auto_round_extension/ark/auto_round_kernel/__init__.py
  auto_round_extension/ark/auto_round_kernel/ark.cpp
  auto_round_extension/ark/auto_round_kernel/sdpa.cpp
  auto_round_extension/ark/auto_round_kernel/wrapper/include/stla/xe_sage_fwd_kernel.hpp
  auto_round_extension/ark/auto_round_kernel/wrapper/include/sycl_tla_common.hpp
  auto_round_extension/ark/auto_round_kernel/wrapper/include/sycl_tla_sdpa.hpp
  auto_round_extension/ark/auto_round_kernel/wrapper/include/xpu_wrapper.hpp
  auto_round_extension/ark/test/test_lse.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-xpu.yml

fix: adjust tolerance for SAGEV1 quantization noise in LSE tests
  auto_round_extension/ark/test/test_lse.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-xpu.yml

feat: enhance SAGE API with additional arguments for improved flexibility
  auto_round_extension/ark/auto_round_kernel/ark.cpp
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-xpu.yml

refactor: improve code readability by formatting function signatures and error messages
  auto_round_extension/ark/auto_round_kernel/__init__.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-xpu.yml

fix
  auto_round_extension/ark/auto_round_kernel/__init__.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-xpu.yml

feat: add return_lse support for SDPA and SAGEV1 kernel — enable sequence-parallel (Ring Attention) merge (#1991)
  auto_round_extension/ark/auto_round_kernel/__init__.py
  auto_round_extension/ark/auto_round_kernel/ark.cpp
  auto_round_extension/ark/auto_round_kernel/sdpa.cpp
  auto_round_extension/ark/auto_round_kernel/wrapper/include/stla/xe_sage_fwd_kernel.hpp
  auto_round_extension/ark/auto_round_kernel/wrapper/include/sycl_tla_common.hpp
  auto_round_extension/ark/auto_round_kernel/wrapper/include/sycl_tla_sdpa.hpp
  auto_round_extension/ark/auto_round_kernel/wrapper/include/xpu_wrapper.hpp
  auto_round_extension/ark/test/test_lse.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-xpu.yml

perf: back-pointer DP for AutoScheme bit allocation to cut path-copy RAM
  auto_round/auto_scheme/delta_loss.py
  test/test_cpu/schemes/test_choose_bits_per_layer.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

ark: split sparse sdpa kernel stack from dense path
  auto_round_extension/ark/auto_round_kernel/CMakeLists.txt
  auto_round_extension/ark/auto_round_kernel/ark.cpp
  auto_round_extension/ark/auto_round_kernel/compat/include/oneapi/mkl/rng/device.hpp
  auto_round_extension/ark/auto_round_kernel/sdpa_kernel_instantiation.cpp.in
  auto_round_extension/ark/auto_round_kernel/sdpa_sparse.cpp
  auto_round_extension/ark/auto_round_kernel/wrapper/include/stla/xe_sagev1_fwd_mainloop.hpp
  auto_round_extension/ark/auto_round_kernel/wrapper/include/stla/xe_sparse_sage_fwd_kernel.hpp
  auto_round_extension/ark/auto_round_kernel/wrapper/include/stla/xe_sparse_sagev1_fwd_mainloop.hpp
  auto_round_extension/ark/auto_round_kernel/wrapper/include/sycl_tla_common.hpp
  auto_round_extension/ark/auto_round_kernel/wrapper/include/sycl_tla_sdpa.hpp
  auto_round_extension/ark/auto_round_kernel/wrapper/include/sycl_tla_sdpa_dense.hpp
  auto_round_extension/ark/auto_round_kernel/wrapper/include/sycl_tla_sdpa_sparse.hpp
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-xpu.yml

ark: add sparse preprocess and benchmarking paths
  auto_round_extension/ark/auto_round_kernel/__init__.py
  auto_round_extension/ark/auto_round_kernel/sparge_preprocess_triton.py
  auto_round_extension/ark/auto_round_kernel/sparge_preprocess_triton_cuda_port.py
  auto_round_extension/ark/auto_round_kernel/sparse_attention.py
  auto_round_extension/ark/auto_round_kernel/triton_sparse_attention_xpu.py
  auto_round_extension/ark/auto_round_kernel/wrapper/test/test_sage_sparse_prefill_e2e.py
  auto_round_extension/ark/auto_round_kernel/wrapper/test/test_sparge_preprocess_topk_e2e.py
  auto_round_extension/ark/test/bench_sparse_topk.py
  auto_round_extension/ark/test/test_sparge_preprocess_helpers.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-xpu.yml

ark: add sparse Wan and Flux runners
  auto_round_extension/ark/REPRODUCE.md
  auto_round_extension/ark/auto_round_kernel/flux_sparse_patch.py
  auto_round_extension/ark/auto_round_kernel/run_flux.py
  auto_round_extension/ark/auto_round_kernel/run_wan.py
  auto_round_extension/ark/auto_round_kernel/wan_sparse_patch.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-xpu.yml

ark: enable decoupled qtile256 sparse path on HND
  auto_round_extension/ark/auto_round_kernel/sparse_attention.py
  auto_round_extension/ark/auto_round_kernel/wrapper/test/test_sparge_preprocess_topk_e2e.py
  auto_round_extension/ark/test/test_sparge_preprocess_helpers.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-xpu.yml

ark: extend sparse prefill runtime for decoupled rows
  auto_round_extension/ark/auto_round_kernel/ark.cpp
  auto_round_extension/ark/auto_round_kernel/sdpa.cpp
  auto_round_extension/ark/auto_round_kernel/sparge_preprocess_triton.py
  auto_round_extension/ark/auto_round_kernel/sparse_attention.py
  auto_round_extension/ark/auto_round_kernel/wrapper/include/stla/xe_sparse_sage_fwd_kernel.hpp
  auto_round_extension/ark/auto_round_kernel/wrapper/include/stla/xe_sparse_sagev1_fwd_mainloop.hpp
  auto_round_extension/ark/auto_round_kernel/wrapper/include/sycl_tla_common.hpp
  auto_round_extension/ark/auto_round_kernel/wrapper/include/sycl_tla_sdpa.hpp
  auto_round_extension/ark/auto_round_kernel/wrapper/test/test_sparge_preprocess_topk_e2e.py
  auto_round_extension/ark/test/bench_sparse_topk.py
  auto_round_extension/ark/test/test_sparge_preprocess_helpers.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-xpu.yml

ark: add focused sparse-dev benchmark modes
  auto_round_extension/ark/auto_round_kernel/CMakeLists.txt
  auto_round_extension/ark/auto_round_kernel/sdpa_sparse_dev.cpp
  auto_round_extension/ark/auto_round_kernel/wrapper/test/bench_sparse_kernel.cpp
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-xpu.yml

ark: document sparse qtile256 experiments and results
  auto_round_extension/ark/auto_round_kernel/docs/README.md
  auto_round_extension/ark/auto_round_kernel/docs/SPARSE_DEV_FAST_BUILD_20260703.md
  auto_round_extension/ark/auto_round_kernel/docs/SPARSE_HALFWIDTH_FULL_KERNEL_BENCH_20260704.md
  auto_round_extension/ark/auto_round_kernel/docs/SPARSE_PV_LIVE_STATE_REDUCTION_PLAN_20260704.md
  auto_round_extension/ark/auto_round_kernel/docs/SPARSE_QTILE256_ROW64K_COMPARE_20260706.md
  auto_round_extension/ark/auto_round_kernel/docs/SPARSE_QUERY_TILE_256_20260704.md
Due: .azure-pipelines/code-scan.yml

ark: restore dense Sage headers to main
  auto_round_extension/ark/auto_round_kernel/wrapper/include/stla/xe_sage_fwd_kernel.hpp
  auto_round_extension/ark/auto_round_kernel/wrapper/include/stla/xe_sagev1_fwd_mainloop.hpp
  auto_round_extension/ark/auto_round_kernel/wrapper/include/sycl_tla_sdpa.hpp
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-xpu.yml

ark: isolate sparse sdpa wrapper from dense path
  auto_round_extension/ark/auto_round_kernel/sdpa.cpp
  auto_round_extension/ark/auto_round_kernel/sdpa_kernel_instantiation.cpp.in
  auto_round_extension/ark/auto_round_kernel/sdpa_sparse.cpp
  auto_round_extension/ark/auto_round_kernel/wrapper/include/stla/xe_sparse_sage_fwd_kernel.hpp
  auto_round_extension/ark/auto_round_kernel/wrapper/include/sycl_tla_sdpa.hpp
  auto_round_extension/ark/auto_round_kernel/wrapper/include/sycl_tla_sdpa_dense.hpp
  auto_round_extension/ark/auto_round_kernel/wrapper/include/sycl_tla_sdpa_sparse.hpp
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-xpu.yml

ark: trim sparse sdpa compile surface
  auto_round_extension/ark/auto_round_kernel/sdpa_sparse.cpp
  auto_round_extension/ark/auto_round_kernel/wrapper/include/sycl_tla_sdpa_sparse.hpp
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-xpu.yml

fix cuda ut fail caused by used instructions for base model
  test/helpers.py
Due: .azure-pipelines/unit-test.yml

remove initial version of gemm
  auto_round_extension/ark/auto_round_kernel/__init__.py
  auto_round_extension/ark/auto_round_kernel/ark.cpp
  auto_round_extension/ark/auto_round_kernel/wrapper/include/sycl_tla_dense_gemm.hpp
  auto_round_extension/ark/test/test_matmul.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-xpu.yml

ark: drop dead sparse profile surface
  auto_round_extension/ark/auto_round_kernel/ark.cpp
  auto_round_extension/ark/auto_round_kernel/sdpa_sparse.cpp
  auto_round_extension/ark/auto_round_kernel/sparse_attention.py
  auto_round_extension/ark/auto_round_kernel/wrapper/include/sycl_tla_common.hpp
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-xpu.yml

update test_matmul
  auto_round_extension/ark/test/test_matmul.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-xpu.yml

ark: keep dense python api separate from sparse
  auto_round_extension/ark/auto_round_kernel/__init__.py
  auto_round_extension/ark/auto_round_kernel/sparse_attention.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-xpu.yml

pin transformers
  requirements.txt
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test.yml

update rotation doc.
  docs/rotation_details.md
  docs/step_by_step.md
  docs/step_by_step_CN.md
Due: none

ark: split sparse prefill entrypoints explicitly
  auto_round_extension/ark/auto_round_kernel/ark.cpp
  auto_round_extension/ark/auto_round_kernel/sdpa_sparse.cpp
  auto_round_extension/ark/auto_round_kernel/wrapper/include/sycl_tla_common.hpp
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-xpu.yml

Fix cuda ut fail caused by used instructions for base model (#1994)
  test/helpers.py
Due: .azure-pipelines/unit-test.yml

update auto_scheme_acc doc
  docs/auto_scheme_acc.md
Due: none

pin transformers (#1998)
  requirements.txt
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test.yml

skip ut
  test/test_cpu/integrations/test_llmc_integration.py
  test/test_cuda/export/test_llmc_format.py
  test/test_xpu/test_llmc_integration.py
Due: .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix: avoid rewriting quantized tensor suffixes in checkpoint remap
  auto_round/utils/common.py
  test/test_cpu/utils/test_utils.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml
