Repository intel/auto-round: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test.yml

.azure-pipelines/code-scan.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: BanditCodeScan
    displayName: Bandit Code Scan
    dependsOn: []
    jobs:
    - job: Bandit
      displayName: Bandit
      steps:
      - template: template/code-scan-template.yml
        parameters:
          codeScanFileName: bandit
          uploadPath: bandit.log
  ...

.azure-pipelines/unit-test.yml:
  pool: ICX-16C
  stages:
  - stage: Unit_test
    displayName: Unit Test
    dependsOn: []
    jobs:
    - job: null
      displayName: Unit Test
      steps:
      - template: template/ut-template.yml
        parameters:
          dockerConfigName: commonDockerConfig
          utScriptFileName: run_ut
  ...

remove llava dataset to test automatic switch
  test/test_basic_usage.py
Due: .azure-pipelines/unit-test.yml

fix mllm dataset config bug and add gptq cuda backend (#329)
  auto_round/auto_quantizer.py
  auto_round/autoround.py
  auto_round/backend.py
  auto_round/calib_dataset.py
  auto_round/mllm/autoround_mllm.py
  test/test_autoround.py
  test/test_basic_usage.py
  test/test_mllm.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test.yml

try to support fp8
  auto_round/quantizer.py
  auto_round/script/llm.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test.yml

add files
  auto_round/data_type/fp8.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test.yml

fix eval_bs in fake format
  auto_round/script/llm.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test.yml

tiny change
  auto_round/data_type/fp8.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test.yml

add tips and tricks for llm&mllm quantization
  README.md
  docs/imgs/full_range_sym.png
  docs/tips_and_tricks.md
Due: none

format
  docs/tips_and_tricks.md
Due: none

fix typo
  docs/tips_and_tricks.md
Due: none

reformat
  docs/tips_and_tricks.md
Due: none

fix table
  docs/tips_and_tricks.md
Due: none

fix
  docs/tips_and_tricks.md
Due: none

rest auto-gptq exporting max_shared_size to 5G, this will cause issue of marlin
  auto_round/export/export_to_autogptq/export.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test.yml

add tips and tricks for llm&mllm quantization (#333)
  README.md
  docs/imgs/full_range_sym.png
  docs/tips_and_tricks.md
Due: none

fix typo
  README.md
Due: none

refine
  auto_round/script/mllm.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test.yml

split args
  auto_round/__main__.py
  auto_round/mllm/autoround_mllm.py
  auto_round/script/mllm.py
  test/test_basic_usage.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test.yml

fix
  auto_round/script/mllm.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test.yml

pylint
  auto_round/script/mllm.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test.yml

fix eval_bs in fake format and reset auto-gptq exporting max_shard_size (#332)
  README.md
  auto_round/export/export_to_autogptq/export.py
  auto_round/script/llm.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test.yml

fix
  auto_round/autoround.py
  auto_round/data_type/fp8.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test.yml

fix model_dtype issue and reformat mllm code
  auto_round/mllm/README.md
  auto_round/mllm/autoround_mllm.py
  auto_round/mllm/eval.py
  auto_round/mllm/mllm_dataset.py
  auto_round/mllm/processor.py
  auto_round/mllm/template.py
  auto_round/mllm/utils.py
  auto_round/script/llm.py
  auto_round/script/mllm.py
  examples/language-modeling/main.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test.yml

fix nan issue and change to dynamic per token
  auto_round/data_type/fp8.py
  auto_round/quantizer.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test.yml

refine mllm docs
  auto_round/mllm/README.md
  docs/Llama-3.2-11B-Vision-Instruct_sym.md
  docs/Phi-3.5-vision-instruct_sym.md
  docs/Qwen2-VL-7B-Instruct_sym.md
  docs/llava-v1.5-7b_sym.md
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test.yml

modify api of processor
  auto_round/mllm/README.md
  auto_round/mllm/autoround_mllm.py
  auto_round/mllm/processor.py
  auto_round/mllm/template.py
  auto_round/script/mllm.py
  test/test_mllm.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test.yml

Update main.py
  examples/language-modeling/main.py
Due: none

fix model_dtype issue and reformat mllm code (#335)
  auto_round/mllm/README.md
  auto_round/mllm/autoround_mllm.py
  auto_round/mllm/eval.py
  auto_round/mllm/mllm_dataset.py
  auto_round/mllm/processor.py
  auto_round/mllm/template.py
  auto_round/mllm/utils.py
  auto_round/script/llm.py
  auto_round/script/mllm.py
  examples/language-modeling/main.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test.yml

exclude markdown files from unit test pipelines
  .azure-pipelines/unit-test-hpu.yml
  .azure-pipelines/unit-test.yml
Due: none

refine mllm doc
  README.md
  auto_round/mllm/README.md
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test.yml

exclude markdown files from unit test pipelines (#337)
  .azure-pipelines/unit-test-hpu.yml
  .azure-pipelines/unit-test.yml
Due: none

refine mllm docs, add qwen2.5 model recipe
  README.md
  auto_round/mllm/README.md
  docs/Llama-3.2-11B-Vision-Instruct_sym.md
  docs/Qwen2-VL-7B-Instruct_sym.md
  docs/Qwen2.5-7B-Instruct_sym.md
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test.yml

fixtypos
  auto_round/mllm/README.md
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test.yml

refine mllm docs (#336)
  README.md
  auto_round/mllm/README.md
  docs/Llama-3.2-11B-Vision-Instruct_sym.md
  docs/Phi-3.5-vision-instruct_sym.md
  docs/Qwen2-VL-7B-Instruct_sym.md
  docs/Qwen2.5-7B-Instruct_sym.md
  docs/llava-v1.5-7b_sym.md
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test.yml

edit profile readme
  README.md
  auto_round/mllm/README.md
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test.yml

fix
  auto_round/__main__.py
  auto_round/mllm/eval.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test.yml

cogvlm doc
  docs/cogvlm2-llama3-chat-19B_sym.md
  docs/llava-v1.5-7b_sym.md
Due: none

Path conditions:
  .azure-pipelines/code-scan.yml: any of: auto_round, setup.py, requirements.txt, .azure-pipelines/code-scan.yml, .azure-pipelines/scripts/codeScan
  .azure-pipelines/unit-test.yml: any of: auto_round, auto_round_extension, test, setup.py, requirements_pt.txt, .azure-pipelines/scripts/ut
