Repository intel/auto-round: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

.azure-pipelines/code-scan.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: BanditCodeScan
    displayName: Bandit Code Scan
    dependsOn: []
    jobs:
    - job: Bandit
      displayName: Bandit
      steps:
      - template: template/code-scan-template.yml
        parameters:
          codeScanFileName: bandit
          uploadPath: bandit.log
  ...

.azure-pipelines/compatibility-test.yml:
  jobs:
  - job: Test
    displayName: Compatibility Test
    strategy:
      matrix:
        Python310_Linux:
          python_version: '3.10'
          vmImage: ubuntu-latest
        Python311_Linux:
          python_version: '3.11'
          vmImage: ubuntu-latest
        Python312_Linux:
          python_version: '3.12'
  ...

.azure-pipelines/unit-test-hpu.yml:
  pool: GAUDI
  stages:
  - stage: Unit_test
    displayName: Unit Test
    dependsOn: []
    jobs:
    - job: null
      displayName: Unit Test
      steps:
      - template: template/ut-template.yml
        parameters:
          imageSource: pull
          dockerConfigName: commonDockerConfig
  ...

.azure-pipelines/unit-test.yml:
  pool: ICX-16C
  stages:
  - stage: Unit_test
    displayName: Unit Test
    dependsOn: []
    jobs:
    - job: null
      timeoutInMinutes: 120
      strategy:
        matrix:
          part1:
            PART: 1
          part2:
            PART: 2
          part3:
            PART: 3
          part4:
            PART: 4
  ...

fix
  auto_round/compressors/base.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

Fix param missing bug (#1008)
  auto_round/compressors/diffusion/compressor.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

add mxfp4 moe
  auto_round_extension/vllm_ext/linear_impl_mxfp8.py
  auto_round_extension/vllm_ext/mxfp8_qdq_utils.py
  auto_round_extension/vllm_ext/quant_method_moe.py
Due: .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test.yml

fix skip layers
  auto_round_extension/vllm_ext/quant_method_linear.py
  inc_examples/quantize.py
  inc_examples/run_gen.sh
  inc_examples/run_quant.sh
Due: .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test.yml

add device list to clear memory (#1009)
  auto_round/compressors/base.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

update example
  inc_examples/quantize.py
  inc_examples/run_gen.sh
  inc_examples/run_quant.sh
Due: none

clean code
  auto_round_extension/vllm_ext/linear_impl_mxfp8.py
Due: .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test.yml

fix bug
  auto_round/compressors/base.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

Minor refactor for LLMC (#993)
  auto_round/calib_dataset.py
  auto_round/compressors/base.py
  auto_round/compressors/utils.py
  auto_round/utils/common.py
  auto_round/utils/model.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix bug (#1011)
  auto_round/compressors/base.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

add ut for gguf alg_ext and update so file
  auto_round/alg_ext.abi3.so
  auto_round/compressors/base.py
  docs/gguf_alg_ext_acc.md
  test/test_cpu/test_autoround.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

refine gpt oss
  auto_round/modelling/gpt_oss.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

clean
  auto_round/modelling/gpt_oss.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix
  auto_round/modelling/gpt_oss.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix multi cuda ut bug
  auto_round/compressors/base.py
  auto_round/eval/eval_cli.py
  auto_round/eval/evaluation.py
  auto_round/utils/device.py
  test/test_cpu/test_scheme.py
  test/test_cuda/test_gguf.py
  test/test_cuda/test_vlms.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

add ut for gguf alg_ext and update so file (#1012)
  auto_round/alg_ext.abi3.so
  auto_round/compressors/base.py
  docs/gguf_alg_ext_acc.md
  test/test_cpu/test_autoround.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

revert typo
  auto_round_extension/qbits/qlinear_qbits.py
Due: .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test.yml

revert typo
  auto_round_extension/qbits/qlinear_qbits_gptq.py
Due: .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test.yml

Including auto_scheme.default_alg into binary as well
  setup.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix
  auto_round/compressors/utils.py
  test/test_cuda/test_gguf.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

add pre-task lm_eval args for exprimental usage
  auto_round/__main__.py
  auto_round/eval/eval_cli.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix gguf for mllm
  auto_round/compressors/utils.py
  auto_round/utils/common.py
  auto_round/utils/model.py
  test/test_cuda/test_gguf.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix
  auto_round/modelling/gpt_oss.py
  auto_round/special_model_handler.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

rename
  auto_round/modelling/gpt_oss.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

add mxfp4-mxfp8-moe
  auto_round_extension/vllm_ext/envs_ext.py
  auto_round_extension/vllm_ext/fp4_utils.py
  auto_round_extension/vllm_ext/moe_impl_mxfp4.py
  auto_round_extension/vllm_ext/mxfp4_qdq_utils.py
  auto_round_extension/vllm_ext/quant_method_linear.py
  auto_round_extension/vllm_ext/quant_method_moe.py
  auto_round_extension/vllm_ext/torchao_patch.py
  inc_examples/quantize.py
  inc_examples/run_gen.sh
  inc_examples/run_quant.sh
Due: .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test.yml

fix
  auto_round/compressors/utils.py
  auto_round/export/export_to_gguf/export.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix multi cuda ut bug (#1014)
  auto_round/compressors/utils.py
  auto_round/eval/eval_cli.py
  auto_round/eval/evaluation.py
  auto_round/export/export_to_gguf/export.py
  auto_round/utils/common.py
  auto_round/utils/device.py
  auto_round/utils/model.py
  test/test_cpu/test_scheme.py
  test/test_cuda/test_gguf.py
  test/test_cuda/test_vlms.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

Including auto_scheme.default_alg into binary (#1018)
  setup.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix cuda ut
  test/test_cuda/test_get_block_name.py
  test/test_cuda/test_gguf.py
Due: .azure-pipelines/unit-test.yml

add num_device check for set_auto_device_map_for_block_with_tuning
  auto_round/utils/device.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix moe mxfp8
  inc_examples/run_gen.sh
  inc_examples/run_quant.sh
Due: none

dispatch model with real max memory
  auto_round/compressors/base.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

add num_device check for set_auto_device_map_for_block_with_tuning (#1021)
  auto_round/utils/device.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

dispatch model with real max memory (#1022)
  auto_round/compressors/base.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix cuda ut (#1020)
  test/test_cuda/test_get_block_name.py
  test/test_cuda/test_gguf.py
Due: .azure-pipelines/unit-test.yml

fix
  inc_examples/run_eval.sh
Due: none

add readme
  inc_examples/README.md
Due: none

fix
  inc_examples/README.md
  inc_examples/generate.py
  inc_examples/quantize.py
Due: none

Path conditions:
  .azure-pipelines/code-scan.yml: any of: auto_round, setup.py, requirements.txt, .azure-pipelines/code-scan.yml, .azure-pipelines/scripts/codeScan
  .azure-pipelines/compatibility-test.yml: any of: auto_round, auto_round_extension, setup.py, setup.cfg, requirements.txt, requirements-cpu.txt, .azure-pipelines/compatibility-test.yml, but not: *.md, **/*.md
  .azure-pipelines/unit-test-hpu.yml: any of: auto_round, test/test*hpu*', setup.py, requirements-lib.txt, .azure-pipelines/scripts/ut, .azure-pipelines/template/docker-template.yml, .azure-pipelines/template/ut-template.yml, but not: auto_round/export/export_to_autogptq, auto_round/export/export_to_awq, *.md, **/*.md
  .azure-pipelines/unit-test.yml: any of: auto_round, auto_round_extension, test, setup.py, requirements.txt, requirements-cpu.txt, .azure-pipelines/scripts/ut, .azure-pipelines/unit-test.yml, .azure-pipelines/template/ut-template.yml, .azure-pipelines/template/docker-template.yml, but not: test/test*hpu*, *.md, **/*.md
