Repository intel/auto-round: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

.azure-pipelines/code-scan.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: BanditCodeScan
    displayName: Bandit Code Scan
    dependsOn: []
    jobs:
    - job: Bandit
      displayName: Bandit
      steps:
      - template: template/code-scan-template.yml
        parameters:
          codeScanFileName: bandit
          uploadPath: bandit.log
  ...

.azure-pipelines/compatibility-test.yml:
  stages:
  - stage: null
    displayName: Compatibility Test
    dependsOn: []
    jobs:
    - job: null
      timeoutInMinutes: 20
      strategy:
        matrix:
          Python310_Linux:
            python_version: '3.10'
            vmImage: ubuntu-latest
          Python311_Linux:
            python_version: '3.11'
  ...

.azure-pipelines/unit-test-hpu.yml:
  pool: GAUDI
  stages:
  - stage: Unit_test
    displayName: Unit Test
    dependsOn: []
    jobs:
    - job: null
      displayName: Unit Test
      steps:
      - template: template/ut-template.yml
        parameters:
          imageSource: pull
          dockerConfigName: commonDockerConfig
  ...

.azure-pipelines/unit-test-xpu.yml:
  pool: B60
  stages:
  - stage: Unit_test
    displayName: Unit Test
    dependsOn: []
    jobs:
    - job: null
      displayName: Unit Test
      steps:
      - template: template/ut-template.yml
        parameters:
          dockerConfigName: commonDockerConfig
          utScriptFileName: run_ut_xpu
  ...

.azure-pipelines/unit-test.yml:
  pool: ICX-16C
  stages:
  - stage: Unit_test
    displayName: Unit Test
    dependsOn: []
    jobs:
    - job: null
      timeoutInMinutes: 120
      strategy:
        matrix:
          part1:
            PART: 1
          part2:
            PART: 2
          part3:
            PART: 3
          part4:
            PART: 4
  ...

fix cuda ut
  .azure-pipelines/scripts/cuda_unit_test/run_cuda_ut.sh
Due: none

fix terminate_pod
  .azure-pipelines/scripts/cuda_unit_test/runpod_manager.py
Due: none

use cuda:0 instead of 'auto'
  test/test_cuda/backends/test_marlin_backend.py
  test/test_cuda/export/test_auto_round_format.py
Due: .azure-pipelines/unit-test.yml

fix terminate pod
  .azure-pipelines/scripts/cuda_unit_test/runpod_manager.py
Due: none

Add initialization for input_ids_new in get_dataloader function
  auto_round/calib_dataset.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix CI
  test/helpers.py
Due: .azure-pipelines/unit-test.yml

Update helpers.py
  test/helpers.py
Due: .azure-pipelines/unit-test.yml

[mllm] support longcat_next
  auto_round/compressors/mllm/processor.py
  auto_round/compressors/mllm/template.py
  auto_round/utils/model.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix group_size cmd
  auto_round/__main__.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

add ut
  test/test_cpu/quantization/test_block_fp.py
Due: .azure-pipelines/unit-test.yml

fix additional issue
  test/test_cuda/export/test_auto_round_format.py
Due: .azure-pipelines/unit-test.yml

Update torch to 2.11.0 in CI (#1606)
  .azure-pipelines/scripts/cuda_unit_test/run_cuda_ut.sh
  .azure-pipelines/scripts/cuda_unit_test/runpod_manager.py
  .azure-pipelines/scripts/ut/run_ut_cuda.sh
  .azure-pipelines/template/ut-template.yml
  .azure-pipelines/unit-test-cuda.yml
  test/fixtures.py
  test/helpers.py
  test/test_cuda/backends/test_marlin_backend.py
  test/test_cuda/export/test_auto_round_format.py
  test/test_cuda/export/test_gguf_format.py
  test/test_cuda/models/test_diffusion.py
  test/test_cuda/requirements_vlm.txt
Due: .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

decoupling quantization and refactor hadamard
  auto_round/algorithms/quantization/auto_round/adam.py
  auto_round/algorithms/quantization/auto_round/config.py
  auto_round/algorithms/quantization/auto_round/quantizer.py
  auto_round/algorithms/quantization/base.py
  auto_round/algorithms/quantization/config.py
  auto_round/algorithms/quantization/rtn/config.py
  auto_round/algorithms/quantization/rtn/quantizer.py
  auto_round/algorithms/rotation/__init__.py
  auto_round/algorithms/rotation/base.py
  auto_round/algorithms/rotation/hadamard/__init__.py
  auto_round/algorithms/rotation/hadamard/apply.py
  auto_round/algorithms/rotation/hadamard/config.py
  auto_round/algorithms/rotation/hadamard/patch.py
  auto_round/algorithms/rotation/hadamard/transforms.py
  auto_round/algorithms/rotation/hadamard/utils/__init__.py
  auto_round/algorithms/rotation/hadamard/utils/hadamards.safetensors
  auto_round/algorithms/rotation/hadamard/utils/math.py
  auto_round/algorithms/rotation/hadamard/utils/matrix.py
  auto_round/algorithms/rotation/hadamard/utils/triton/__init__.py
  auto_round/algorithms/rotation/hadamard/utils/triton/mxfp4.py
  auto_round/compressors_new/base.py
  auto_round/compressors_new/calib.py
  auto_round/compressors_new/entry.py
  auto_round/compressors_new/utils.py
  auto_round/compressors_new/zero_shot.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Fix group_size issue (#1638)
  auto_round/__main__.py
  test/test_cpu/quantization/test_block_fp.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

bump version
  README.md
  README_CN.md
Due: none

support multi rotation
  auto_round/compressors_new/base.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

sync compressors_new: add is_dynamic_afp8, is_block_wfp8, _get_safetensor helper, safetensor_only_matched, dispatch None guard, extend ignore_layers
  auto_round/compressors_new/utils.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

bump version
  README.md
  README_CN.md
  auto_round/version.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix nextstep loading issue
  auto_round/utils/common.py
  auto_round/utils/model.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Bump main branch version to v0.13.0 (#1639)
  README.md
  README_CN.md
  auto_round/version.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

support 6.0.0 gptqmodel
  auto_round_extension/cuda/gptqmodel_marlin.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

merge main
  auto_round/algorithms/quantization/auto_round/quantizer.py
  auto_round/algorithms/quantization/base.py
  auto_round/algorithms/quantization/rtn/config.py
  auto_round/algorithms/quantization/rtn/quantizer.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Update docs/step_by_step.md
  docs/step_by_step.md
Due: none

tmp change
  auto_round/__main__.py
  auto_round/compressors/base.py
  auto_round/experimental/hadamard_inplace/__init__.py
  auto_round/experimental/hadamard_inplace/hadamard.py
  auto_round/experimental/hadamard_inplace/llama2.py
  auto_round/experimental/hadamard_inplace/utils.py
  auto_round/experimental/transform/apply.py
  auto_round/experimental/transform/patch_modules.py
  auto_round/experimental/transform/utils/hadamard.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

support WOQ model input, such as kimi2.5
  auto_round/utils/weight_handler.py
  test/test_cpu/advanced/test_low_precision_input_model.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix
  auto_round/algorithms/quantization/base.py
  auto_round/compressors_new/calib.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

update xpu quantization cost (#1618)
  docs/step_by_step.md
  docs/step_by_step_CN.md
Due: none

fix
  auto_round/algorithms/quantization/base.py
  auto_round/compressors_new/base.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Enhance quantization configuration support for mixed precision and schemes in utils and tests
  auto_round/compressors/utils.py
  auto_round/export/export_to_llmcompressor/export_to_fp.py
  test/test_cpu/export/test_llmc_format.py
  test/test_cpu/quantization/test_mix_bits.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

add fp8 test
  .azure-pipelines/performance-test.yaml
  .azure-pipelines/scripts/performance/perf_test.sh
Due: none

fix typo
  .azure-pipelines/performance-test.yaml
Due: none

remove artifact
  .azure-pipelines/performance-test.yaml
  .azure-pipelines/scripts/performance/check_performance.py
Due: none

fix
  auto_round/algorithms/quantization/base.py
  auto_round/compressors_new/base.py
  auto_round/export/export_to_autogptq/export.py
  auto_round/export/export_to_autoround/export.py
  auto_round/export/export_to_autoround/export_to_fp8.py
  auto_round/export/export_to_autoround/export_to_nvfp_mxfp.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix output dir
  auto_round/__main__.py
  auto_round/compressors_new/base.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix cuda ci
  .azure-pipelines/scripts/cuda_unit_test/runpod_manager.py
Due: none

refine ut
  .azure-pipelines/scripts/ut/run_ut_hpu.sh
  .azure-pipelines/scripts/ut/run_ut_xpu.sh
Due: .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml

refine log
  .azure-pipelines/scripts/ut/run_ut_hpu.sh
  .azure-pipelines/scripts/ut/run_ut_xpu.sh
Due: .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml

Fix create pod
  .azure-pipelines/scripts/cuda_unit_test/runpod_manager.py
  .azure-pipelines/scripts/ut/run_ut_xpu.sh
Due: .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml

fix CI
  auto_round/export/export_to_llmcompressor/config.py
  auto_round/export/export_to_llmcompressor/export_to_fp.py
  test/test_cpu/quantization/test_mxfp_nvfp.py
  test/test_cuda/export/test_llmc_format.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Path conditions:
  .azure-pipelines/code-scan.yml: any of: auto_round, auto_round_extension, setup.py, requirements.txt, requirements-cpu.txt, requirements-hpu.txt, .azure-pipelines/code-scan.yml, .azure-pipelines/scripts/codeScan
  .azure-pipelines/compatibility-test.yml: any of: auto_round, auto_round_extension, setup.py, setup.cfg, requirements.txt, requirements-cpu.txt, .azure-pipelines/compatibility-test.yml, but not: *.md, **/*.md
  .azure-pipelines/unit-test-hpu.yml: any of: auto_round, test/test*hpu*', setup.py, requirements-lib.txt, .azure-pipelines/scripts/ut, .azure-pipelines/template/docker-template.yml, .azure-pipelines/template/ut-template.yml, but not: auto_round/export/export_to_autogptq, auto_round/export/export_to_awq, *.md, **/*.md
  .azure-pipelines/unit-test-xpu.yml: any of: auto_round, auto_round_extension, test/test_ark, test/test_xpu, setup.py, .azure-pipelines/template/ut-template.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/scripts/ut/run_ut_xpu.sh, but not: *.md, **/*.md
  .azure-pipelines/unit-test.yml: any of: auto_round, auto_round_extension, test, setup.py, requirements.txt, requirements-cpu.txt, .azure-pipelines/scripts/ut, .azure-pipelines/unit-test.yml, .azure-pipelines/template/ut-template.yml, .azure-pipelines/template/docker-template.yml, but not: auto_round_extension/ark, test/test_hpu, test/test_ark, test/test_xpu, *.md, **/*.md, .azure-pipelines/scripts/ut/run_ut_hpu.sh, .azure-pipelines/scripts/ut/run_ut_cuda.sh, .azure-pipelines/scripts/ut/run_ut_xpu.sh
