Repository intel/auto-round: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Path conditions:
  .azure-pipelines/code-scan.yml: any of: auto_round, auto_round_extension, setup.py, requirements.txt, requirements-cpu.txt, requirements-hpu.txt, .azure-pipelines/code-scan.yml, .azure-pipelines/scripts/codeScan
  .azure-pipelines/compatibility-test.yml: any of: auto_round, auto_round_extension, setup.py, setup.cfg, requirements.txt, requirements-cpu.txt, .azure-pipelines/compatibility-test.yml, but not: *.md, **/*.md
  .azure-pipelines/unit-test-hpu.yml: any of: auto_round, test/test*hpu*', setup.py, requirements-lib.txt, .azure-pipelines/scripts/ut, .azure-pipelines/template/docker-template.yml, .azure-pipelines/template/ut-template.yml, but not: auto_round/export/export_to_autogptq, auto_round/export/export_to_awq, *.md, **/*.md
  .azure-pipelines/unit-test-xpu.yml: any of: auto_round, auto_round_extension, test/test_ark, test/test_xpu, setup.py, .azure-pipelines/template/ut-template.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/scripts/ut/run_ut_xpu.sh, but not: *.md, **/*.md
  .azure-pipelines/unit-test.yml: any of: auto_round, auto_round_extension, test, setup.py, requirements.txt, requirements-cpu.txt, .azure-pipelines/scripts/ut, .azure-pipelines/unit-test.yml, .azure-pipelines/template/ut-template.yml, .azure-pipelines/template/docker-template.yml, but not: auto_round_extension/ark, test/test_hpu, test/test_ark, test/test_xpu, *.md, **/*.md, .azure-pipelines/scripts/ut/run_ut_hpu.sh, .azure-pipelines/scripts/ut/run_ut_cuda.sh, .azure-pipelines/scripts/ut/run_ut_xpu.sh

fix import
  auto_round/modeling/finegrained_fp8_patch_v4.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

quick fix
  auto_round/modeling/finegrained_fp8_patch_v4.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

test sglang
  .azure-pipelines/scripts/cuda_unit_test/run_cuda_ut.sh
  .azure-pipelines/unit-test-cuda.yml
Due: none

add quant code
  examples/quant_model.py
Due: none

test
  .azure-pipelines/scripts/cuda_unit_test/run_cuda_ut.sh
  .azure-pipelines/scripts/cuda_unit_test/runpod_manager.py
  .azure-pipelines/unit-test-cuda.yml
Due: none

run unittest
  .azure-pipelines/scripts/cuda_unit_test/run_cuda_ut.sh
  .azure-pipelines/scripts/cuda_unit_test/runpod_manager.py
  .azure-pipelines/unit-test-cuda.yml
Due: none

test
  .azure-pipelines/scripts/cuda_unit_test/run_cuda_ut.sh
Due: none

test
  .azure-pipelines/unit-test-cuda.yml
Due: none

test ut
  .azure-pipelines/unit-test-cuda.yml
Due: none

test
  .azure-pipelines/scripts/cuda_unit_test/run_cuda_ut.sh
  test/test_cuda/requirements.txt
Due: .azure-pipelines/unit-test.yml

fix
  .azure-pipelines/scripts/cuda_unit_test/run_cuda_ut.sh
  .azure-pipelines/unit-test-cuda.yml
Due: none

fix name
  .azure-pipelines/scripts/ut/run_ut_cuda.sh
Due: .azure-pipelines/unit-test-hpu.yml

Refactor evaluation in tests to use evaluate_accuracy function (#1402)
  test/helpers.py
  test/test_ark/test_model.py
  test/test_cpu/backends/test_torch_backend.py
  test/test_cpu/core/test_autoround.py
  test/test_cpu/quantization/test_asym.py
  test/test_cpu/quantization/test_mix_bits.py
  test/test_cuda/advanced/test_fp8_input.py
  test/test_cuda/advanced/test_multiple_card.py
  test/test_cuda/advanced/test_multiple_card_calib.py
  test/test_cuda/backends/test_exllamav2_backend.py
  test/test_cuda/backends/test_marlin_backend.py
  test/test_cuda/backends/test_torch_backend.py
  test/test_cuda/backends/test_triton_backend.py
  test/test_cuda/core/test_main_func.py
  test/test_cuda/export/test_auto_round_format.py
  test/test_cuda/export/test_gguf.py
  test/test_cuda/quantization/test_2_3bits.py
  test/test_cuda/quantization/test_asym.py
  test/test_cuda/quantization/test_mix_bits.py
  test/test_cuda/quantization/test_mxfp_nvfp.py
  test/test_cuda/schemes/test_auto_scheme.py
  test/test_cuda/utils/test_alg_ext.py
Due: .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Fix cuda model ut [glm4][Molmo] (#1428)
  test/test_cuda/models/test_get_block_name.py
Due: .azure-pipelines/unit-test.yml

Fix KeyError when GPU is missing from accelerate max_memory (#1457)
  auto_round/compressors/base.py
  auto_round/compressors/mllm/compressor.py
  auto_round/compressors/mllm/template.py
  auto_round/special_model_handler.py
  auto_round/utils/device.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Disable replace `FP8Expert` (#1379)
  auto_round/utils/device.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Attach `act_max_hook` for FP8 model (#1447)
  auto_round/compressors/base.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

support GPTQ_FORMAT for "gptqmodel:exllamav2" backend (#1434)
  auto_round/inference/backend.py
  auto_round/inference/convert_model.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

[Regression] fix FP8_STATIC loading (#1452)
  auto_round/export/export_to_autoround/export_to_fp8.py
  auto_round/formats.py
  test/test_cuda/schemes/test_scheme.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

support multiple device evaluation for activation quantized model (#1394)
  README.md
  auto_round/auto_scheme/utils.py
  auto_round/compressors/base.py
  auto_round/eval/eval_cli.py
  auto_round/eval/evaluation.py
  auto_round/utils/device.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix bug of evaluate_accuracy (#1430)
  test/test_cuda/advanced/test_multiple_card.py
  test/test_cuda/core/test_main_func.py
  test/test_cuda/quantization/test_2_3bits.py
Due: .azure-pipelines/unit-test.yml

fix bug in PR-1244 (#1422)
  auto_round/__main__.py
  auto_round/export/export_to_gguf/convert.py
  auto_round/utils/model.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

bump version (#1445)
  README.md
  README_CN.md
  auto_round/version.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Update diffusion README (#1439)
  auto_round/compressors/diffusion/README.md
Due: .azure-pipelines/code-scan.yml

Update auto-round-lib README.md (#1437)
  auto_round_extension/ark/README.md
Due: .azure-pipelines/code-scan.yml

Update compatibility test and version to 0.10.2 (#1463)
  .azure-pipelines/compatibility-test.yml
  .azure-pipelines/scripts/ut/run_ut_xpu.sh
  .github/workflows/compatibility-test.yml
  README.md
  README_CN.md
Due: .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml

update readme for Intel xpu usage (#1441)
  README.md
  README_CN.md
  setup.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Enable new cpu test pool (#1435)
  .azure-pipelines/docker/Dockerfile_xpu.devel
  .azure-pipelines/scripts/ut/run_ut.sh
  .azure-pipelines/scripts/ut/run_ut_xpu.sh
  .azure-pipelines/template/ut-template.yml
  .azure-pipelines/unit-test.yml
Due: .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Fix requirements packaging for source distribution (#1455)
  MANIFEST.in
Due: none

Support load FP8 model on HPU (#1449)
  auto_round/compressors/base.py
  auto_round/modeling/__init__.py
  auto_round/modeling/finegrained_fp8_patch.py
  auto_round/modeling/hpu_patch.py
  auto_round/utils/device.py
  auto_round/utils/model.py
  test/test_hpu/test_quant_fp8.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Update BackendInfos for AutoGPTQ based on transformer version and save g_idx for gptqmodel backend (#1429)
  auto_round/export/export_to_autoround/export.py
  auto_round/inference/backend.py
  auto_round_extension/torch/qlinear_torch.py
  docs/step_by_step.md
  docs/step_by_step_CN.md
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

update logic for compatibility with gptqmodel:exllamav2 backend (#1438)
  auto_round/inference/convert_model.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

remove require_intel_extension_for_pytorch and fix TypeError: unhashable type: 'set' (#1425)
  auto_round/compressors/base.py
  test/test_cuda/integrations/test_transformers.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix: preserve classmethod descriptor in from_pretrained monkey patch (#1460)
  auto_round/utils/common.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix CUDA CI (#1431)
  auto_round/auto_scheme/utils.py
  test/test_cuda/integrations/test_transformers.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

refine global scale calculation to blockwise (#1421)
  auto_round/compressors/base.py
  auto_round/data_type/nvfp.py
  auto_round/data_type/utils.py
  auto_round/utils/model.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

support glm5 (#1466)
  auto_round/export/export_to_autogptq/export.py
  auto_round/export/export_to_autoround/export.py
  auto_round/export/export_to_autoround/export_to_fp8.py
  auto_round/export/export_to_llmcompressor/export.py
  auto_round/export/utils.py
  auto_round/modeling/unfused_moe/__init__.py
  auto_round/modeling/unfused_moe/glm_moe_dsa.py
  auto_round/special_model_handler.py
  auto_round_extension/torch/qlinear_torch_zp.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix layer config (#1373)
  auto_round/compressors/base.py
  auto_round/utils/device.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix issue 1368
  auto_round/compressors/base.py
  auto_round/compressors/shard_writer.py
  auto_round/utils/device.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

update code for comments
  auto_round/compressors/base.py
  auto_round/utils/device.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml
