Repository intel/auto-round: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

Path conditions:
  .azure-pipelines/code-scan.yml: any of: auto_round, setup.py, requirements.txt, .azure-pipelines/code-scan.yml, .azure-pipelines/scripts/codeScan
  .azure-pipelines/unit-test-hpu.yml: any of: auto_round, test/test*hpu*', setup.py, requirements-hpu.txt, .azure-pipelines/scripts/ut, but not: auto_round/export/export_to_autogptq, auto_round/export/export_to_awq, *.md, **/*.md
  .azure-pipelines/unit-test.yml: any of: auto_round, auto_round_extension, test, setup.py, requirements_pt.txt, .azure-pipelines/scripts/ut

unify packing code for different devices
  auto_round/export/export_to_gguf/convert.py
  auto_round/export/export_to_gguf/quant_cpu.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix issues
  auto_round/autoround.py
  auto_round/export/export_to_gguf/quant_gpu.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix issues
  auto_round/autoround.py
  auto_round/script/llm.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix issues
  auto_round/autoround.py
  auto_round/utils.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix
  auto_round/autoround.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix one ut
  test/test_cpu/test_autoround.py
Due: .azure-pipelines/unit-test.yml

update docker images to ubuntu 2404
  .azure-pipelines/docker/Dockerfile.devel
Due: none

fix
  .azure-pipelines/docker/Dockerfile.devel
  .azure-pipelines/template/ut-template.yml
Due: none

fix
  .azure-pipelines/docker/Dockerfile.devel
  .azure-pipelines/scripts/ut/run_ut.sh
  .azure-pipelines/template/ut-template.yml
Due: .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix
  .azure-pipelines/docker/Dockerfile.devel
Due: none

support fallback and fix ut
  auto_round/autoround.py
  auto_round/data_type/gguf.py
  auto_round/export/export_to_gguf/config.py
  auto_round/export/export_to_gguf/quant_gpu.py
  auto_round/export/export_to_gguf/utils.py
  auto_round/utils.py
  test/test_cpu/test_gguf_format.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix ut and add disable_opt_rtn
  auto_round/autoround.py
  auto_round/script/llm.py
  auto_round/utils.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

change one file name
  auto_round/data_type/gguf.py
  auto_round/export/export_to_gguf/convert.py
  auto_round/export/export_to_gguf/packing.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

porting mixed bits setting from gguf
  auto_round/autoround.py
  auto_round/export/export_to_gguf/config.py
  auto_round/utils.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix
  README.md
  auto_round/autoround.py
  auto_round/utils.py
  docs/step_by_step.md
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

.
  q2_k_s.sh
Due: none

fix
  auto_round/script/llm.py
  test/test_cpu/test_gguf_format.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix
  auto_round/autoround.py
  auto_round/script/llm.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix
  auto_round/script/mllm.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix
  auto_round/data_type/gguf.py
  test/test_cpu/test_gguf_format.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix lots of gguf critic bugs and support imatrix in rtn mode (#595)
  README.md
  auto_round/__init__.py
  auto_round/autoround.py
  auto_round/data_type/__init__.py
  auto_round/data_type/gguf.py
  auto_round/data_type/int.py
  auto_round/export/export_to_gguf/config.py
  auto_round/export/export_to_gguf/convert.py
  auto_round/export/export_to_gguf/packing.py
  auto_round/export/export_to_gguf/quant_cpu.py
  auto_round/export/export_to_gguf/utils.py
  auto_round/script/llm.py
  auto_round/utils.py
  auto_round/wrapper.py
  docs/step_by_step.md
  test/test_cpu/test_autoround.py
  test/test_cpu/test_gguf_format.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix
  auto_round/export/export_to_gguf/config.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix
  auto_round/autoround.py
  test/test_cpu/test_gguf_format.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix gguf bug (#610)
  auto_round/autoround.py
  auto_round/export/export_to_gguf/config.py
  auto_round/script/mllm.py
  test/test_cpu/test_gguf_format.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

trigger ut
  test/test_cpu/test_gguf_format.py
Due: .azure-pipelines/unit-test.yml

fix
  auto_round/mllm/autoround_mllm.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

add auto-round related vllm and transformers UT
  test/__init__.py
  test/test_other_api/__init__.py
  test/test_other_api/conftest.py
  test/test_other_api/test_transformers.py
  test/test_other_api/test_vllm.py
Due: .azure-pipelines/unit-test.yml

fix
  auto_round/autoround.py
  auto_round/script/llm.py
  auto_round/script/mllm.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

mv some checkers (#611)
  auto_round/autoround.py
  auto_round/export/export_to_gguf/config.py
  auto_round/script/llm.py
  auto_round/script/mllm.py
  test/test_cpu/test_gguf_format.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix gguf packing bug
  auto_round/export/export_to_gguf/packing.py
  auto_round/utils.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix gguf packing bug
  auto_round/autoround.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml
