Repository intel/auto-round: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Path conditions:
  .azure-pipelines/code-scan.yml: any of: auto_round, auto_round_extension, setup.py, requirements.txt, requirements-cpu.txt, requirements-hpu.txt, .azure-pipelines/code-scan.yml, .azure-pipelines/scripts/codeScan
  .azure-pipelines/compatibility-test.yml: any of: auto_round, auto_round_extension, setup.py, setup.cfg, requirements.txt, requirements-cpu.txt, .azure-pipelines/compatibility-test.yml, but not: *.md, **/*.md
  .azure-pipelines/unit-test-hpu.yml: any of: auto_round, test/test*hpu*', setup.py, requirements-lib.txt, .azure-pipelines/scripts/ut, .azure-pipelines/template/docker-template.yml, .azure-pipelines/template/ut-template.yml, but not: auto_round/export/export_to_autogptq, auto_round/export/export_to_awq, *.md, **/*.md
  .azure-pipelines/unit-test-xpu.yml: any of: auto_round, auto_round_extension, test/test_ark, test/test_xpu, setup.py, .azure-pipelines/template/ut-template.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/scripts/ut/run_ut_xpu.sh, but not: *.md, **/*.md
  .azure-pipelines/unit-test.yml: any of: auto_round, auto_round_extension, test, setup.py, requirements.txt, requirements-cpu.txt, .azure-pipelines/scripts/ut, .azure-pipelines/unit-test.yml, .azure-pipelines/template/ut-template.yml, .azure-pipelines/template/docker-template.yml, but not: auto_round_extension/ark, test/test_hpu, test/test_ark, test/test_xpu, *.md, **/*.md, .azure-pipelines/scripts/ut/run_ut_hpu.sh, .azure-pipelines/scripts/ut/run_ut_cuda.sh, .azure-pipelines/scripts/ut/run_ut_xpu.sh

support random hadamard transform.
  auto_round/experimental/qmodules/__init__.py
  auto_round/experimental/qmodules/mx.py
  auto_round/experimental/transform/apply.py
  auto_round/experimental/transform/patch_modules.py
  auto_round/experimental/transform/transform_config.py
  auto_round/experimental/transform/transforms.py
  auto_round/experimental/transform/utils/hadamard.py
  auto_round/inference/backend.py
  auto_round/inference/convert_model.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix comments.
  auto_round/experimental/transform/triton/__init__.py
  auto_round/inference/convert_model.py
  requirements.txt
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix typo errors.
  auto_round/experimental/transform/patch_modules.py
  auto_round/experimental/transform/transform_config.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

keep regex ignore layers for missing tensors
  auto_round/compressors/utils.py
  auto_round/utils/missing_tensors.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix gpt-oss model
  auto_round/utils/missing_tensors.py
  test/test_cpu/models/test_moe_model.py
  test/test_cuda/models/test_moe_model.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

skip MXFP4 model
  auto_round/utils/model.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Fix CI test_transformers issue caused by transformers 5.3.0
  auto_round/utils/common.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

refine safetensros mapping logic
  auto_round/utils/common.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

ignore moe.gate
  auto_round/special_model_handler.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix name loading failure
  auto_round/compressors/utils.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

support non-triton inference path.
  auto_round/experimental/transform/apply.py
  auto_round/experimental/transform/transforms.py
  auto_round/experimental/transform/triton/utils.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix typo errors.
  auto_round/experimental/transform/transform_config.py
  auto_round/experimental/transform/triton/utils.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix typo errors.
  auto_round/experimental/transform/apply.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

add UTs and fix bug
  auto_round/__main__.py
  auto_round/compressors/utils.py
  auto_round/utils/missing_tensors.py
  test/test_cpu/models/test_moe_model.py
  test/test_cpu/utils/test_cli_usage.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

update missing tensor check logic for robust
  auto_round/__main__.py
  auto_round/utils/common.py
  auto_round/utils/missing_tensors.py
  test/test_cpu/utils/test_missing_tensors.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix CI
  test/test_cpu/utils/test_missing_tensors.py
Due: .azure-pipelines/unit-test.yml

fix CI
  test/test_cpu/utils/test_cli_usage.py
Due: .azure-pipelines/unit-test.yml

skip non-tiny model and evaluation
  test/test_cuda/advanced/test_evaluation.py
  test/test_cuda/advanced/test_fp8_input.py
  test/test_cuda/backends/test_exllamav2_backend.py
  test/test_cuda/backends/test_marlin_backend.py
  test/test_cuda/backends/test_torch_backend.py
  test/test_cuda/backends/test_triton_backend.py
  test/test_cuda/core/test_main_func.py
  test/test_cuda/export/test_gguf.py
  test/test_cuda/integrations/test_sglang.py
  test/test_cuda/integrations/test_transformers.py
  test/test_cuda/integrations/test_vllm.py
  test/test_cuda/models/test_diffusion.py
  test/test_cuda/models/test_get_block_name.py
  test/test_cuda/models/test_mllm.py
  test/test_cuda/models/test_support_vlms.py
  test/test_cuda/quantization/test_2_3bits.py
  test/test_cuda/quantization/test_mix_bits.py
  test/test_cuda/schemes/test_auto_scheme.py
  test/test_cuda/schemes/test_scheme.py
  test/test_cuda/utils/test_alg_ext.py
  test/test_cuda/utils/test_customized_data.py
Due: .azure-pipelines/unit-test.yml

skip gguf
  test/test_cuda/export/test_gguf.py
Due: .azure-pipelines/unit-test.yml

update
  auto_round/data_type/nvfp.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix
  auto_round/compressors/base.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

remove html
  .azure-pipelines/scripts/cuda_unit_test/run_cuda_ut.sh
Due: none

add comments
  auto_round/compressors/base.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

update
  auto_round/utils/device.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

update pre-defined ignore layers
  auto_round/special_model_handler.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

refine
  auto_round/compressors/base.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

support MTP module WOQ quantization and step3p5 model quantization (#1526)
  auto_round/__main__.py
  auto_round/compressors/shard_writer.py
  auto_round/compressors/utils.py
  auto_round/export/utils.py
  auto_round/modeling/fused_moe/replace_modules.py
  auto_round/modeling/fused_moe/step3_5_moe.py
  auto_round/special_model_handler.py
  auto_round/utils/__init__.py
  auto_round/utils/common.py
  auto_round/utils/missing_tensors.py
  auto_round/utils/model.py
  test/test_cpu/export/test_export.py
  test/test_cpu/models/test_moe_model.py
  test/test_cpu/utils/test_cli_usage.py
  test/test_cpu/utils/test_missing_tensors.py
  test/test_cuda/models/test_moe_model.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Fix sglang ut
  test/test_cuda/integrations/test_sglang.py
Due: .azure-pipelines/unit-test.yml

init
  auto_round/algorithms/__init__.py
  auto_round/algorithms/alg_config.py
  auto_round/algorithms/base.py
  auto_round/algorithms/quantization/__init__.py
  auto_round/algorithms/quantization/auto_round/__init__.py
  auto_round/algorithms/quantization/auto_round/config.py
  auto_round/algorithms/quantization/auto_round/quantize.py
  auto_round/algorithms/quantization/base.py
  auto_round/algorithms/quantization/rtn/__init__.py
  auto_round/algorithms/quantization/rtn/config.py
  auto_round/algorithms/quantization/rtn/rtn.py
  auto_round/calibration/__init__.py
  auto_round/calibration/utils.py
  auto_round/compressors_new/__init__.py
  auto_round/compressors_new/base.py
  auto_round/compressors_new/config.py
  auto_round/compressors_new/shard_writer.py
  auto_round/compressors_new/utils.py
  auto_round/context/__init__.py
  auto_round/context/base.py
  auto_round/context/compress_context.py
  auto_round/context/model_context.py
  auto_round/formats.py
  auto_round/schemes.py
  auto_round/utils/model.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

refactor: reduce chunk size for unit tests and clean up model name assignments in tests
  .azure-pipelines/scripts/cuda_unit_test/run_cuda_ut.sh
  .azure-pipelines/unit-test-cuda.yml
  test/test_cpu/core/test_autoround.py
  test/test_cpu/quantization/test_asym.py
  test/test_cuda/models/test_moe_model.py
Due: .azure-pipelines/unit-test.yml

fix: update test result summary exit status and change artifact publishing condition
  .azure-pipelines/scripts/cuda_unit_test/run_cuda_ut.sh
  .azure-pipelines/unit-test-cuda.yml
Due: none

Fix sglang ut (#1541)
  test/test_cuda/integrations/test_sglang.py
Due: .azure-pipelines/unit-test.yml

update doc
  auto_round/data_type/fp8.py
  docs/fp8_block_acc.md
  docs/step_by_step.md
  docs/step_by_step_CN.md
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Fix CI test_transformers issue caused by transformers 5.3.0 (#1535)
  auto_round/utils/common.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Refine CPU RAM offload strategy
  auto_round/compressors/base.py
  auto_round/utils/offload.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

init performance test
  .azure-pipelines/performance-test.yaml
  .azure-pipelines/scripts/performance/check_performance.py
  .azure-pipelines/scripts/performance/perf_test.sh
Due: none

add fixme
  auto_round/compressors/base.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

update ut and fix bug
  auto_round/compressors/base.py
  auto_round/compressors/utils.py
  auto_round/export/export_to_llmcompressor/export.py
  auto_round/wrapper.py
  test/test_cpu/quantization/test_block_fp.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Update README.md
  README.md
Due: none
