Repository intel/auto-round: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test.yml

Path conditions:
  .azure-pipelines/code-scan.yml: any of: auto_round, setup.py, requirements.txt, .azure-pipelines/code-scan.yml, .azure-pipelines/scripts/codeScan
  .azure-pipelines/unit-test.yml: any of: auto_round, auto_round_extension, test, setup.py, requirements_pt.txt, .azure-pipelines/scripts/ut

update xpu format exporting
  auto_round/export/export_to_itrex/export.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test.yml

add interface
  README.md
  auto_round/quantizer.py
  examples/language-modeling/main.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test.yml

fixtypos
  examples/language-modeling/main.py
Due: none

remove comparison with other methods as the paper has already included it.
  README.md
Due: none

add unittest, dump enable_norm_bias_tuning into checkpoint
  auto_round/autoround.py
  test/test_autoround.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test.yml

update UT, refine code
  auto_round/export/export_to_itrex/export.py
  test/test_autoround_export_to_itrex.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test.yml

fix one bug
  auto_round/autoround.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test.yml

update xpu format exporting (#214)
  auto_round/export/export_to_itrex/export.py
  examples/language-modeling/main.py
  test/test_autoround_export_to_itrex.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test.yml

fix a bug in autoround format inference
  auto_round/auto_quantizer.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test.yml

fix a bug in autoround format inference (#215)
  auto_round/auto_quantizer.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test.yml

add v2
  auto_round/autoround.py
  auto_round/utils.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test.yml

add qwen int4 model, refine example
  README.md
  examples/language-modeling/main.py
Due: none

tmp change
  auto_round/auto_quantizer.py
  auto_round_extension/cuda/qliner_exllamav2.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test.yml

support clip
  auto_round/auto_quantizer.py
  auto_round_extension/cuda/qliner_exllamav2.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test.yml

remove commented code
  auto_round/auto_quantizer.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test.yml

avoid underflow and overflow for exllamav2 (#218)
  auto_round/auto_quantizer.py
  auto_round_extension/cuda/qliner_exllamav2.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test.yml

update args
  examples/language-modeling/main.py
Due: none

add qwen int4 model, refine example (#217)
  README.md
  examples/language-modeling/main.py
Due: none

bump version into v0.3
  README.md
  auto_round/version.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test.yml

[Experimental Feature]fast tuning norm/bias at 2 bits (#208)
  README.md
  auto_round/autoround.py
  auto_round/data_type/int.py
  auto_round/export/export_to_itrex/export.py
  auto_round/quantizer.py
  auto_round/utils.py
  docs/imgs/norm_bias_overview.png
  docs/tuning_norm_bias.md
  examples/language-modeling/main.py
  test/test_autoround.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test.yml

update Phi3V, enable autoround format inference
  auto_round/auto_quantizer.py
  auto_round/autoround.py
  examples/multimodal-modeling/Phi-3-vision/README.md
  examples/multimodal-modeling/Phi-3-vision/eval_042/evaluation.py
  examples/multimodal-modeling/Phi-3-vision/eval_042/phi3_v.py
  examples/multimodal-modeling/Phi-3-vision/main.py
  examples/multimodal-modeling/Phi-3-vision/model/__init__.py
  examples/multimodal-modeling/Phi-3-vision/model/configuration_phi3_v.py
  examples/multimodal-modeling/Phi-3-vision/model/image_embedding_phi3_v.py
  examples/multimodal-modeling/Phi-3-vision/model/modeling_phi3_v.py
  examples/multimodal-modeling/Phi-3-vision/model/processing_phi3_v.py
  examples/multimodal-modeling/Phi-3-vision/run_autoround.sh
  examples/multimodal-modeling/Phi-3-vision/run_eval.sh
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test.yml

add multimodal model loading test
  examples/multimodal-modeling/Phi-3-vision/model/__init__.py
  examples/multimodal-modeling/Phi-3-vision/model/image_embedding_phi3_v.py
  test/test_block_names.py
Due: .azure-pipelines/unit-test.yml

fix typos
  auto_round/auto_quantizer.py
  examples/multimodal-modeling/Phi-3-vision/main.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test.yml

update readme
  README.md
Due: none

fix typo
  README.md
Due: none

refine eval_042 to enable parallelize evaluation
  examples/language-modeling/eval_042/evaluation.py
Due: none

update readme (#220)
  README.md
Due: none

tmp change
  algo_extension/utils.py
Due: none

add fuse norm and a variant of sq
  algo_extension/__init__.py
  algo_extension/utils.py
  examples/language-modeling/main.py
Due: none

refine eval_042 to enable parallelize evaluation (#221)
  examples/language-modeling/eval_042/evaluation.py
Due: none

Enable phi3v tuning (#197)
  auto_round/auto_quantizer.py
  auto_round/autoround.py
  examples/multimodal-modeling/Phi-3-vision/README.md
  examples/multimodal-modeling/Phi-3-vision/eval_042/__init__.py
  examples/multimodal-modeling/Phi-3-vision/eval_042/evaluation.py
  examples/multimodal-modeling/Phi-3-vision/eval_042/phi3_v.py
  examples/multimodal-modeling/Phi-3-vision/main.py
  examples/multimodal-modeling/Phi-3-vision/model/__init__.py
  examples/multimodal-modeling/Phi-3-vision/model/configuration_phi3_v.py
  examples/multimodal-modeling/Phi-3-vision/model/image_embedding_phi3_v.py
  examples/multimodal-modeling/Phi-3-vision/model/image_processing_phi3_v.py
  examples/multimodal-modeling/Phi-3-vision/model/modeling_phi3_v.py
  examples/multimodal-modeling/Phi-3-vision/model/processing_phi3_v.py
  examples/multimodal-modeling/Phi-3-vision/requirements.txt
  examples/multimodal-modeling/Phi-3-vision/run_autoround.sh
  examples/multimodal-modeling/Phi-3-vision/run_autoround_on_gaudi.sh
  examples/multimodal-modeling/Phi-3-vision/run_eval.sh
  test/test_block_names.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test.yml

fix amp
  auto_round/autoround.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test.yml

refine example
  examples/language-modeling/main.py
Due: none

refine example (#224)
  examples/language-modeling/main.py
Due: none

add runable script for autoround
  auto_round/__main__.py
  auto_round/eval_tools/__init__.py
  auto_round/eval_tools/eval/__init__.py
  auto_round/eval_tools/eval/evaluation.py
  auto_round/eval_tools/eval/utils.py
  auto_round/eval_tools/eval_042/__init__.py
  auto_round/eval_tools/eval_042/evaluation.py
  auto_round/eval_tools/eval_legacy/__init__.py
  auto_round/eval_tools/eval_legacy/evaluation.py
  auto_round/eval_tools/eval_legacy/parse_results.py
  setup.cfg
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test.yml

initial support hadamard transform, layernorm must be fused. Online hadamard has not supported yet
  algo_extension/hadamard/__init__.py
  algo_extension/hadamard/hadamard.py
  algo_extension/hadamard/utils.py
  algo_extension/utils.py
  examples/language-modeling/main.py
Due: none

add support of Qwen2, mistral/phi3 could not easily support due to tied lm-head though we could manually change the insert place of hadamard transform
  algo_extension/hadamard/hadamard.py
  algo_extension/utils.py
  examples/language-modeling/main.py
Due: none

refine docs, add accuracy data, add receip and eval scripts
  examples/multimodal-modeling/Llava/README.md
  examples/multimodal-modeling/Phi-3-vision/README.md
  examples/multimodal-modeling/Phi-3-vision/main.py
  examples/multimodal-modeling/Phi-3-vision/run_autoround.sh
  examples/multimodal-modeling/Phi-3-vision/run_autoround_on_gaudi.sh
  examples/multimodal-modeling/Qwen-VL/README.md
  examples/multimodal-modeling/Qwen-VL/eval_042/__init__.py
  examples/multimodal-modeling/Qwen-VL/eval_042/evaluation.py
  examples/multimodal-modeling/Qwen-VL/main.py
  examples/multimodal-modeling/Qwen-VL/mm_evaluation/evaluate_multiple_choice.py
  examples/multimodal-modeling/Qwen-VL/mm_evaluation/evaluate_vqa.py
  examples/multimodal-modeling/Qwen-VL/mm_evaluation/main.py
  examples/multimodal-modeling/Qwen-VL/mm_evaluation/vqa.py
  examples/multimodal-modeling/Qwen-VL/mm_evaluation/vqa_eval.py
  examples/multimodal-modeling/Qwen-VL/run_autoround.sh
  examples/multimodal-modeling/Qwen-VL/run_autoround_on_gaudi.sh
  examples/multimodal-modeling/Qwen-VL/run_eval.sh
Due: none
