Repository intel/auto-round: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test.yml

.azure-pipelines/code-scan.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: BanditCodeScan
    displayName: Bandit Code Scan
    dependsOn: []
    jobs:
    - job: Bandit
      displayName: Bandit
      steps:
      - template: template/code-scan-template.yml
        parameters:
          codeScanFileName: bandit
          uploadPath: bandit.log
  ...

.azure-pipelines/unit-test.yml:
  pool: ICX-16C
  stages:
  - stage: Unit_test
    displayName: Unit Test
    dependsOn: []
    jobs:
    - job: null
      displayName: Unit Test
      steps:
      - template: template/ut-template.yml
        parameters:
          dockerConfigName: commonDockerConfig
          utScriptFileName: run_ut
  ...

update requirements.txt
  requirements.txt
Due: .azure-pipelines/code-scan.yml

reformat
  README.md
Due: none

update readme for v0.3.1 release (#283)
  README.md
  auto_round/version.py
  requirements.txt
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test.yml

update
  auto_round/__main__.py
  auto_round/autoround.py
  auto_round/mllm/mllm_dataset.py
  examples/multimodal-modeling/hf/main.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test.yml

for cpu inference, the current version will have issue due to zp+-1, must need version>0.3.1
  README.md
Due: none

update readme for cpu inference
  README.md
Due: none

avoid deterministic algorithm warning in inference
  auto_round/autoround.py
  auto_round/calib_dataset.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test.yml

update sym model
  README.md
Due: none

avoid deterministic algorithm warning in inference (#285)
  README.md
  auto_round/autoround.py
  auto_round/calib_dataset.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test.yml

fix mx_fp issues
  auto_round/data_type/mxfp.py
  auto_round/quantizer.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test.yml

fix line too long issue
  auto_round/quantizer.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test.yml

support cogvlm2
  auto_round/__main__.py
  auto_round/autoround.py
  auto_round/mllm/mllm_dataset.py
  auto_round/mllm/plugin.py
  auto_round/mllm/template.py
  auto_round/mllm/templates/cogvlm2.json
  auto_round/mllm/templates/qwen2_vl.json
  auto_round/mllm/utils.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test.yml

remove example, replaced by __main__
  examples/multimodal-modeling/hf/main.py
  examples/multimodal-modeling/hf/run_autoround.sh
Due: none

fix mx_fp issues (#286)
  auto_round/data_type/mxfp.py
  auto_round/quantizer.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test.yml

update readme
  README.md
Due: none

fix
  auto_round/mllm/plugin.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test.yml

update readme (#287)
  README.md
Due: none

fix
  auto_round/__main__.py
  auto_round/autoround.py
  auto_round/mllm/mllm_dataset.py
  auto_round/mllm/plugin.py
  auto_round/mllm/template.py
  auto_round/mllm/templates/cogvlm2.json
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test.yml

fix
  auto_round/__main__.py
  auto_round/autoround.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test.yml

fix
  auto_round/autoround.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test.yml

calib for mllm
  auto_round/autoround.py
  auto_round/mllm/plugin.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test.yml

fix bug for cogvlm2
  auto_round/autoround.py
  auto_round/mllm/plugin.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test.yml

refine forward hook
  auto_round/autoround.py
  auto_round/special_model_handler.py
  auto_round/utils.py
  examples/multimodal-modeling/Common_model/main.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test.yml

refact api
  auto_round/__init__.py
  auto_round/__main__.py
  auto_round/autoround.py
  auto_round/mllm/__init__.py
  auto_round/mllm/autoround.py
  auto_round/mllm/mllm_dataset.py
  auto_round/mllm/template.py
  auto_round/mllm/templates/default.json
  examples/language-modeling/main.py
  examples/multimodal-modeling/Common_model/main.py
  examples/multimodal-modeling/Llava/main.py
  examples/multimodal-modeling/Phi-3-vision/main.py
  test/test_autoopt.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test.yml

tiny change
  auto_round/autoround.py
  auto_round/data_type/int.py
  auto_round/quantizer.py
  auto_round/utils.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test.yml

re-order init
  auto_round/autoround.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test.yml

fix some issue
  auto_round/autoround.py
  auto_round/utils.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test.yml

revert some change
  auto_round/data_type/int.py
  auto_round/quantizer.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test.yml

update
  auto_round/autoround.py
  auto_round/quantizer.py
  auto_round/utils.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test.yml

tiny change
  auto_round/autoround.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test.yml

update
  auto_round/mllm/__init__.py
  auto_round/mllm/mllm_autoround.py
  auto_round/mllm/mllm_dataset.py
  auto_round/mllm/plugin.py
  auto_round/mllm/template.py
  auto_round/mllm/templates/default.json
  auto_round/mllm/utils.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test.yml

add fast/best command
  auto_round/__main__.py
  setup.cfg
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test.yml

fix line too long issue
  auto_round/data_type/int.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test.yml

try to fix preci issue
  auto_round/data_type/int.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test.yml

Refine code (#291)
  README.md
  auto_round/autoround.py
  auto_round/data_type/int.py
  auto_round/quantizer.py
  auto_round/utils.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test.yml

add ipex support for cpu and readd gidx
  README.md
  auto_round/auto_quantizer.py
  auto_round/autoround.py
  auto_round/backend.py
  auto_round/export/export_to_autogptq/qlinear_triton.py
  auto_round_extension/cuda/qlinear_exllamav2.py
  auto_round_extension/ipex/__init__.py
  auto_round_extension/ipex/qlinear_ipex_awq.py
  auto_round_extension/ipex/qlinear_ipex_gptq.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test.yml

update
  auto_round/auto_quantizer.py
  auto_round_extension/ipex/qlinear_ipex_gptq.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test.yml

update
  README.md
  auto_round/backend.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test.yml

Path conditions:
  .azure-pipelines/code-scan.yml: any of: auto_round, setup.py, requirements.txt, .azure-pipelines/code-scan.yml, .azure-pipelines/scripts/codeScan
  .azure-pipelines/unit-test.yml: any of: auto_round, auto_round_extension, test, setup.py, requirements_pt.txt, .azure-pipelines/scripts/ut
