Repository intel/auto-round: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

.azure-pipelines/code-scan.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: BanditCodeScan
    displayName: Bandit Code Scan
    dependsOn: []
    jobs:
    - job: Bandit
      displayName: Bandit
      steps:
      - template: template/code-scan-template.yml
        parameters:
          codeScanFileName: bandit
          uploadPath: bandit.log
  ...

.azure-pipelines/compatibility-test.yml:
  stages:
  - stage: null
    displayName: Compatibility Test
    dependsOn: []
    jobs:
    - job: null
      timeoutInMinutes: 20
      strategy:
        matrix:
          Python310_Linux:
            python_version: '3.10'
            vmImage: ubuntu-latest
          Python311_Linux:
            python_version: '3.11'
  ...

.azure-pipelines/unit-test-hpu.yml:
  pool: GAUDI
  stages:
  - stage: Unit_test
    displayName: Unit Test
    dependsOn: []
    jobs:
    - job: null
      displayName: Unit Test
      steps:
      - template: template/ut-template.yml
        parameters:
          imageSource: pull
          dockerConfigName: commonDockerConfig
  ...

.azure-pipelines/unit-test-xpu.yml:
  pool: B60
  stages:
  - stage: Unit_test
    displayName: Unit Test
    dependsOn: []
    jobs:
    - job: null
      displayName: Unit Test
      steps:
      - template: template/ut-template.yml
        parameters:
          dockerConfigName: commonDockerConfig
          utScriptFileName: run_ut_xpu
  ...

.azure-pipelines/unit-test.yml:
  pool: ICX-16C
  stages:
  - stage: Unit_test
    displayName: Unit Test
    dependsOn: []
    jobs:
    - job: null
      timeoutInMinutes: 120
      strategy:
        matrix:
          part1:
            PART: 1
          part2:
            PART: 2
          part3:
            PART: 3
          part4:
            PART: 4
  ...

feat: add per-head fp8 kv attention calibration
  auto_round/autoround.py
  auto_round/cli/main.py
  auto_round/cli/parser.py
  auto_round/compressors/base.py
  auto_round/compressors/entry.py
  auto_round/context/compress.py
  auto_round/experimental/attention.py
  auto_round/experimental/kv_cache.py
  auto_round/experimental/utils.py
  auto_round/export/export_to_llmcompressor/export_to_fp.py
  auto_round/export/export_to_llmcompressor/export_to_static_fp.py
  test/test_cpu/export/test_export.py
  test/test_cpu/export/test_llmc_format.py
  test/test_cpu/test_experimental_fp8_granularity.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

adapt to concat
  auto_round/calib_dataset.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix cuda ut
  test/test_cuda/export/test_gguf_format.py
Due: .azure-pipelines/unit-test.yml

Fix dataset and batch_size not taking effect in CLI (#2102)
  auto_round/autoround.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix
  auto_round/compressors/base.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix: skip exporting fp8 attention q_max
  auto_round/compressors/shard_writer.py
  auto_round/experimental/attention.py
  test/test_cpu/export/test_export.py
  test/test_cpu/export/test_llmc_format.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

feat: add bf16 sparse mode to flux example
  auto_round_extension/ark/SPARSE_BF16_STATUS_20260729.md
  auto_round_extension/ark/SPARSE_BF16_STATUS_20260729_CN.md
  auto_round_extension/ark/examples/flux_sparse_patch.py
  auto_round_extension/ark/examples/run_flux.py
  auto_round_extension/ark/examples/wan_sparse_patch.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-xpu.yml

Stream AutoScheme's per-layer sensitivity scoring block-by-block (#2063)
  auto_round/auto_scheme/delta_loss.py
  auto_round/auto_scheme/gen_auto_scheme.py
  auto_round/compressors/base.py
  auto_round/compressors/orchestrator.py
  auto_round/compressors/shard_writer.py
  auto_round/context/model.py
  auto_round/envs.py
  auto_round/export/export_to_autoround/export.py
  auto_round/utils/disk_stream_util.py
  auto_round/utils/offload.py
  auto_round/utils/resume.py
  docs/environments.md
  docs/environments_CN.md
  test/test_cpu/core/test_resume_integration.py
  test/test_cpu/schemes/test_auto_scheme_disk_stream.py
  test/test_cpu/utils/test_disk_stream_util.py
  test/test_cpu/utils/test_resume.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

feat: add real_torch_compile marker and disable compilation overhead in tests
  pyproject.toml
  test/fixtures.py
  test/test_cpu/export/test_export.py
  test/test_cuda/quantization/test_torch_compile.py
Due: .azure-pipelines/unit-test.yml

update and support for more model
  auto_round/modeling/fused_moe/fusion_spec.py
  auto_round/modeling/fused_moe/gpt_oss.py
  auto_round/modeling/fused_moe/llama4.py
  auto_round/modeling/fused_moe/qwen3_5_moe.py
  auto_round/modeling/fused_moe/qwen3_omni.py
  auto_round/modeling/fused_moe/qwen3_vl_moe.py
  auto_round/modeling/fused_moe/replace_modules.py
  auto_round/modeling/fused_moe/step3_5_moe.py
  test/test_cpu/models/test_moe_fusion_spec.py
  test/test_cpu/models/test_moe_model.py
  test/test_cuda/export/test_gguf_format.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

disable_torch_compile for test_cpu
  pyproject.toml
  test/fixtures.py
  test/test_cpu/conftest.py
  test/test_cuda/quantization/test_torch_compile.py
Due: .azure-pipelines/unit-test.yml

update
  auto_round/data_type/mxfp.py
  auto_round/data_type/nvfp.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Add support for disk streaming in parallel scheme scoring and update documentation
  auto_round/auto_scheme/delta_loss.py
  docs/environments.md
  docs/environments_CN.md
  test/test_cpu/schemes/test_auto_scheme.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Enable torch.compile by default and update related documentation (#2070)
  README.md
  README_CN.md
  auto_round/algorithms/block_runner.py
  auto_round/algorithms/composer.py
  auto_round/algorithms/transforms/base.py
  auto_round/algorithms/transforms/hadamard/config.py
  auto_round/auto_scheme/delta_loss.py
  auto_round/auto_scheme/gen_auto_scheme.py
  auto_round/autoround.py
  auto_round/cli/main.py
  auto_round/cli/parser.py
  auto_round/compressors/base.py
  auto_round/compressors/entry.py
  auto_round/compressors/model_free.py
  auto_round/compressors/orchestrator.py
  auto_round/context/compress.py
  auto_round/data_type/nvfp.py
  auto_round/wrapper.py
  docs/environments.md
  docs/environments_CN.md
  docs/step_by_step.md
  docs/step_by_step_CN.md
  docs/tips_and_tricks.md
  test/fixtures.py
  test/test_cpu/algorithms/test_awq.py
  test/test_cpu/conftest.py
  test/test_cpu/core/test_init.py
  test/test_cpu/core/test_pipeline_fail_fast.py
  test/test_cpu/export/test_export.py
  test/test_cpu/quantization/test_model_free.py
  test/test_cpu/quantization/test_model_free_parity.py
  test/test_cpu/quantization/test_nvfp4_quant_linear.py
  test/test_cuda/integrations/test_sglang.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Update compatibility test configuration for Python 3.14t support
  .azure-pipelines/compatibility-test.yml
Due: .azure-pipelines/compatibility-test.yml

add accuracy
  auto_round/data_type/nvfp.py
  docs/opt_rtn.md
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

update doc
  docs/opt_rtn.md
Due: none

change to use unique api and delete old api
  auto_round/__init__.py
  auto_round/algorithms/transforms/spinquant/apply.py
  auto_round/auto_scheme/delta_loss.py
  auto_round/autoround.py
  auto_round/cli/main.py
  auto_round/compressors/__init__.py
  auto_round/compressors/compat.py
  auto_round/compressors/entry.py
  auto_round/compressors/entry_contract.py
  docs/step_by_step.md
  docs/step_by_step_CN.md
  test/test_cpu/algorithms/test_awq.py
  test/test_cpu/core/test_autoopt.py
  test/test_cpu/core/test_autoround_entry.py
  test/test_cpu/core/test_awq_autoround_smoke.py
  test/test_cpu/core/test_compression_plan_state.py
  test/test_cpu/core/test_entry_contract.py
  test/test_cpu/core/test_entry_scheme_unification.py
  test/test_cpu/core/test_init.py
  test/test_cpu/core/test_legacy_plan_parity.py
  test/test_cpu/core/test_pipeline_fail_fast.py
  test/test_cpu/integrations/test_llmc_integration.py
  test/test_cpu/models/test_moe_model.py
  test/test_cuda/algorithms/test_awq.py
  test/test_cuda/integrations/test_vllm.py
  test/test_mlx/test_mlx_format.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Add compatibility smoke test script and update pipeline to run it
  .azure-pipelines/compatibility-test.yml
  .azure-pipelines/scripts/compat_smoke_test.py
Due: .azure-pipelines/compatibility-test.yml

Add debug print statement for auto_round module import path
  .azure-pipelines/scripts/compat_smoke_test.py
Due: none

feat: add OpenCodeInstruct calibration dataset (#2096)
  auto_round/calib_dataset.py
  docs/step_by_step.md
  docs/step_by_step_CN.md
  test/test_cpu/utils/test_calib_dataset.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Enable parallel scoring by default and update documentation for environment variables
  auto_round/auto_scheme/delta_loss.py
  auto_round/envs.py
  docs/environments.md
  docs/environments_CN.md
  test/test_cpu/schemes/test_auto_scheme.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Update cache directory handling for AutoScheme and add related tests
  auto_round/auto_scheme/delta_loss.py
  auto_round/envs.py
  docs/environments.md
  docs/environments_CN.md
  test/test_cpu/schemes/test_auto_scheme.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix model free auto-round format bug
  auto_round/compressors/model_free.py
  test/test_cpu/quantization/test_model_free.py
  test/test_cpu/quantization/test_model_free_parity.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

feat: auto-select code calibration datasets
  auto_round/autoround.py
  auto_round/cli/parser.py
  auto_round/compressors/base.py
  auto_round/compressors/diffusion_mixin.py
  auto_round/compressors/entry.py
  auto_round/compressors/orchestrator.py
  auto_round/utils/code_calibration.py
  test/test_cpu/utils/test_cli_usage.py
  test/test_cpu/utils/test_code_calibration.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

feat: auto-select code calibration datasets
  auto_round/calib_dataset.py
  auto_round/compressors/base.py
  auto_round/utils/model.py
  test/test_cpu/utils/test_calib_dataset.py
  test/test_cpu/utils/test_utils.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

refactor: simplify code model detection
  auto_round/utils/model.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

AutoScheme JSON 缓存的通用化：
  auto_round/auto_scheme/delta_loss.py
  test/test_cpu/schemes/test_auto_scheme.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

split awq and gptq
  auto_round/formats/backends/__init__.py
  auto_round/formats/backends/auto_awq.py
  auto_round/formats/backends/auto_gptq.py
  auto_round/formats/backends/autoround.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

[Feature] Register_block_output to support GLM5.2 tuning (#2104)
  auto_round/algorithms/block_runner.py
  auto_round/utils/device.py
  test/test_cpu/algorithms/test_block_runner.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

update the code
  auto_round_extension/ark/auto_round_kernel/wrapper/include/sycl_tla_moe_mixed.hpp
  auto_round_extension/ark/auto_round_kernel/wrapper/include/sycl_tla_moe_prefill_fp8_dpas.hpp
  auto_round_extension/ark/auto_round_kernel/wrapper/include/sycl_tla_moe_prefill_int_dpas.hpp
  auto_round_extension/ark/auto_round_kernel/wrapper/include/sycl_tla_moe_prefill_s4_dpas.hpp
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-xpu.yml

opt 16 bit group gemm
  auto_round_extension/ark/auto_round_kernel/wrapper/include/sycl_tla_moe.hpp
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-xpu.yml

fix
  auto_round/algorithms/quantization/sign_round/config.py
  auto_round/autoround.py
  auto_round/cli/algorithms.py
  test/test_cpu/core/test_autoround_entry.py
  test/test_cpu/core/test_entry_contract.py
  test/test_cpu/core/test_pipeline_fail_fast.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix
  auto_round/special_model_handler.py
  test/test_cpu/export/test_gguf_format.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

relocate format and layer_config
  auto_round/cli/main.py
  auto_round/compressors/base.py
  auto_round/compressors/layer_config/__init__.py
  auto_round/compressors/layer_config/resolver.py
  auto_round/compressors/model_free.py
  auto_round/compressors/planning/__init__.py
  auto_round/compressors/planning/contracts.py
  auto_round/compressors/planning/errors.py
  auto_round/compressors/planning/resolve.py
  auto_round/compressors/utils.py
  auto_round/export/export_to_autoround/export.py
  auto_round/export/formats/__init__.py
  auto_round/export/formats/backends/__init__.py
  auto_round/export/formats/backends/auto_awq.py
  auto_round/export/formats/backends/auto_gptq.py
  auto_round/export/formats/backends/autoround.py
  auto_round/export/formats/backends/fake.py
  auto_round/export/formats/backends/fp8.py
  auto_round/export/formats/backends/gguf.py
  auto_round/export/formats/backends/llm_compressor.py
  auto_round/export/formats/backends/mlx.py
  auto_round/export/formats/base.py
  auto_round/export/formats/resolver.py
  auto_round/inference/convert_model.py
  auto_round/layer_config/special_cases.py
  auto_round/special_model_handler.py
  test/test_cpu/core/test_format_decoupling.py
  test/test_cpu/export/test_export.py
  test/test_cpu/formats/test_format_resolver.py
  test/test_cpu/layer_config/test_apply.py
  test/test_cpu/layer_config/test_layer_config_resolver.py
  test/test_cpu/planning/test_plan_snapshots.py
  test/test_cpu/planning/test_planning.py
  test/test_cpu/quantization/test_mx_quant_linear.py
  test/test_cpu/quantization/test_mxfp_save_load.py
  test/test_cpu/quantization/test_nvfp4_quant_linear.py
  test/test_cuda/quantization/test_mxfp_nvfp.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix MXFP model free auto-round format bug (#2106)
  auto_round/compressors/model_free.py
  test/test_cpu/quantization/test_model_free.py
  test/test_cpu/quantization/test_model_free_parity.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Fix: skip exporting fp8 attention q_max (#2103)
  auto_round/compressors/shard_writer.py
  auto_round/experimental/attention.py
  test/test_cpu/export/test_export.py
  test/test_cpu/export/test_llmc_format.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Enable AutoScheme parallel and disk stream by default (#2105)
  auto_round/auto_scheme/delta_loss.py
  auto_round/envs.py
  docs/environments.md
  docs/environments_CN.md
  test/test_cpu/schemes/test_auto_scheme.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix: temporarily skip tests due to known issues with xfail annotations
  test/test_cpu/export/test_llmc_format.py
  test/test_xpu/test_llmc_integration.py
Due: .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix merge error
  auto_round/compressors/base.py
  auto_round/compressors/model_free.py
  auto_round/utils/device_manager.py
  test/test_cpu/core/test_init.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Path conditions:
  .azure-pipelines/code-scan.yml: any of: auto_round, auto_round_extension, setup.py, requirements.txt, requirements-cpu.txt, requirements-hpu.txt, .azure-pipelines/code-scan.yml, .azure-pipelines/scripts/codeScan
  .azure-pipelines/compatibility-test.yml: any of: auto_round, auto_round_extension, setup.py, setup.cfg, requirements.txt, requirements-cpu.txt, .azure-pipelines/compatibility-test.yml, but not: *.md, **/*.md
  .azure-pipelines/unit-test-hpu.yml: any of: auto_round, test/test*hpu*', setup.py, requirements-lib.txt, .azure-pipelines/scripts/ut, .azure-pipelines/template/docker-template.yml, .azure-pipelines/template/ut-template.yml, but not: auto_round/export/export_to_autogptq, auto_round/export/export_to_awq, *.md, **/*.md
  .azure-pipelines/unit-test-xpu.yml: any of: auto_round, auto_round_extension, test/test_ark, test/test_xpu, setup.py, .azure-pipelines/template/ut-template.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/scripts/ut/run_ut_xpu.sh, but not: *.md, **/*.md
  .azure-pipelines/unit-test.yml: any of: auto_round, auto_round_extension, test, setup.py, requirements.txt, requirements-cpu.txt, .azure-pipelines/scripts/ut, .azure-pipelines/unit-test.yml, .azure-pipelines/template/ut-template.yml, .azure-pipelines/template/docker-template.yml, but not: auto_round_extension/ark, test/test_hpu, test/test_ark, test/test_xpu, *.md, **/*.md, .azure-pipelines/scripts/ut/run_ut_hpu.sh, .azure-pipelines/scripts/ut/run_ut_cuda.sh, .azure-pipelines/scripts/ut/run_ut_xpu.sh
