Repository intel/auto-round: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

.azure-pipelines/code-scan.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: BanditCodeScan
    displayName: Bandit Code Scan
    dependsOn: []
    jobs:
    - job: Bandit
      displayName: Bandit
      steps:
      - template: template/code-scan-template.yml
        parameters:
          codeScanFileName: bandit
          uploadPath: bandit.log
  ...

.azure-pipelines/compatibility-test.yml:
  jobs:
  - job: Test
    displayName: Compatibility Test
    strategy:
      matrix:
        Python310_Linux:
          python_version: '3.10'
          vmImage: ubuntu-latest
        Python311_Linux:
          python_version: '3.11'
          vmImage: ubuntu-latest
        Python312_Linux:
          python_version: '3.12'
  ...

.azure-pipelines/unit-test-hpu.yml:
  pool: GAUDI
  stages:
  - stage: Unit_test
    displayName: Unit Test
    dependsOn: []
    jobs:
    - job: null
      displayName: Unit Test
      steps:
      - template: template/ut-template.yml
        parameters:
          imageSource: pull
          dockerConfigName: commonDockerConfig
  ...

.azure-pipelines/unit-test.yml:
  pool: ICX-16C
  stages:
  - stage: Unit_test
    displayName: Unit Test
    dependsOn: []
    jobs:
    - job: null
      timeoutInMinutes: 120
      strategy:
        matrix:
          part1:
            PART: 1
          part2:
            PART: 2
          part3:
            PART: 3
          part4:
            PART: 4
  ...

add logo
  docs/imgs/AutoRound.png
Due: none

fix import error
  auto_round/auto_scheme/gen_auto_scheme.py
  auto_round/autoround.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

add logo (#960)
  README.md
  docs/imgs/AutoRound.png
Due: none

fix
  auto_round/__main__.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

try to fix import issue in another way
  auto_round/auto_scheme/default_alg.abi3.so
  auto_round/autoround.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

try to fix preci issue
  auto_round/auto_scheme/default_alg.abi3.so
  auto_round/autoround.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

consider enable_act_quant and optimize device map logic
  auto_round/utils/device.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

try to fix preci issue
  auto_round/auto_scheme/__init__.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

clear_memory for XPU
  auto_round/compressors/base.py
  auto_round/utils/device.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

refine device map logic
  auto_round/utils/device.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

update readme
  README.md
Due: none

refine AutoScheme readme/code (#958)
  README.md
  auto_round/__init__.py
  auto_round/__main__.py
  auto_round/auto_scheme/default_alg.abi3.so
  auto_round/auto_scheme/gen_auto_scheme.py
  auto_round/auto_scheme/register.py
  auto_round/autoround.py
  auto_round/compressors/base.py
  auto_round/schemes.py
  docs/step_by_step.md
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

update
  auto_round/autoround.py
  auto_round/compressors/adam.py
  auto_round/compressors/base.py
  auto_round/compressors/diffusion/compressor.py
  auto_round/compressors/mllm/compressor.py
  auto_round/envs.py
  auto_round/utils/model.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix
  auto_round/data_type/gguf.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix
  auto_round_extension/vllm_ext/fp4_utils.py
  auto_round_extension/vllm_ext/moe_impl_mxfp4.py
Due: .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test.yml

fix ling-flash-2.0 infer
  auto_round/compressors/base.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

add issue link
  auto_round/compressors/base.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

update per review comments
  auto_round/compressors/base.py
  auto_round/utils/device.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

update
  auto_round/compressors/base.py
  auto_round/envs.py
  auto_round/utils/model.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix
  README.md
Due: none

refine
  README.md
Due: none

mark round method as todo
  auto_round_extension/vllm_ext/mxfp4_qdq_utils.py
Due: .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test.yml

update
  auto_round/data_type/gguf.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

update
  README.md
Due: none

update readme (#962)
  README.md
Due: none

fix a critic regression
  auto_round/compressors/base.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

clear_memory only xpu and remove block.to(device)
  auto_round/compressors/base.py
  auto_round/utils/device.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix critic disable_opt_rtn regression (#963)
  auto_round/compressors/base.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

update rtn support
  auto_round/compressors/base.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix bug and refine additional memory calcu logic
  auto_round/compressors/base.py
  auto_round/utils/device.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

support
  auto_round/compressors/base.py
  auto_round/export/export_to_awq/export.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

[1/N] Initial vllm-ext evaluation support (MXFP4 MOE) (#935)
  auto_round_extension/vllm_ext/__init__.py
  auto_round_extension/vllm_ext/apply_ext.sh
  auto_round_extension/vllm_ext/auto_round_ext.py
  auto_round_extension/vllm_ext/envs_ext.py
  auto_round_extension/vllm_ext/fp4_utils.py
  auto_round_extension/vllm_ext/moe_impl_mxfp4.py
  auto_round_extension/vllm_ext/mxfp4_qdq_utils.py
  auto_round_extension/vllm_ext/quant_method_moe.py
  auto_round_extension/vllm_ext/sitecustomize.py
  auto_round_extension/vllm_ext/tests/conftest.py
  auto_round_extension/vllm_ext/tests/test_mxfp4_moe.py
  auto_round_extension/vllm_ext/utils.py
Due: .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test.yml

consider output_device when setting device_map
  auto_round/compressors/base.py
  auto_round/utils/device.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

update torch to 2.9.0
  .azure-pipelines/scripts/codeScan/pylint/pylint.sh
  .azure-pipelines/template/ut-template.yml
  requirements-cpu.txt
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix pylint
  .azure-pipelines/template/docker-template.yml
  auto_round/compressors/base.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

type annotation
  auto_round/data_type/gguf.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

Path conditions:
  .azure-pipelines/code-scan.yml: any of: auto_round, setup.py, requirements.txt, .azure-pipelines/code-scan.yml, .azure-pipelines/scripts/codeScan
  .azure-pipelines/compatibility-test.yml: any of: auto_round, auto_round_extension, setup.py, setup.cfg, requirements.txt, requirements-cpu.txt, .azure-pipelines/compatibility-test.yml, but not: *.md, **/*.md
  .azure-pipelines/unit-test-hpu.yml: any of: auto_round, test/test*hpu*', setup.py, requirements-lib.txt, .azure-pipelines/scripts/ut, .azure-pipelines/template/docker-template.yml, .azure-pipelines/template/ut-template.yml, but not: auto_round/export/export_to_autogptq, auto_round/export/export_to_awq, *.md, **/*.md
  .azure-pipelines/unit-test.yml: any of: auto_round, auto_round_extension, test, setup.py, requirements.txt, requirements-cpu.txt, .azure-pipelines/scripts/ut, .azure-pipelines/unit-test.yml, .azure-pipelines/template/ut-template.yml, .azure-pipelines/template/docker-template.yml, but not: test/test*hpu*, *.md, **/*.md
