Repository intel/auto-round: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

.azure-pipelines/code-scan.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: BanditCodeScan
    displayName: Bandit Code Scan
    dependsOn: []
    jobs:
    - job: Bandit
      displayName: Bandit
      steps:
      - template: template/code-scan-template.yml
        parameters:
          codeScanFileName: bandit
          uploadPath: bandit.log
  ...

.azure-pipelines/compatibility-test.yml:
  stages:
  - stage: null
    displayName: Compatibility Test
    dependsOn: []
    jobs:
    - job: null
      timeoutInMinutes: 20
      strategy:
        matrix:
          Python310_Linux:
            python_version: '3.10'
            vmImage: ubuntu-latest
          Python311_Linux:
            python_version: '3.11'
  ...

.azure-pipelines/unit-test-hpu.yml:
  pool: GAUDI
  stages:
  - stage: Unit_test
    displayName: Unit Test
    dependsOn: []
    jobs:
    - job: null
      displayName: Unit Test
      steps:
      - template: template/ut-template.yml
        parameters:
          imageSource: pull
          dockerConfigName: commonDockerConfig
  ...

.azure-pipelines/unit-test-xpu.yml:
  pool: B60
  stages:
  - stage: Unit_test
    displayName: Unit Test
    dependsOn: []
    jobs:
    - job: null
      displayName: Unit Test
      steps:
      - template: template/ut-template.yml
        parameters:
          dockerConfigName: commonDockerConfig
          utScriptFileName: run_ut_xpu
  ...

.azure-pipelines/unit-test.yml:
  pool: ICX-16C
  stages:
  - stage: Unit_test
    displayName: Unit Test
    dependsOn: []
    jobs:
    - job: null
      timeoutInMinutes: 120
      strategy:
        matrix:
          part1:
            PART: 1
          part2:
            PART: 2
          part3:
            PART: 3
          part4:
            PART: 4
  ...

fix CI
  test/test_cuda/backends/test_marlin_backend.py
Due: .azure-pipelines/unit-test.yml

set lm_head grad_mode=True
  auto_round/auto_scheme/delta_loss.py
  test/test_cuda/algorithms/test_auto_scheme.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

add the wrapper for woqgemm (#1965)
  auto_round_extension/ark/auto_round_kernel/__init__.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-xpu.yml

Remove AutoAWQ installation and update sglang requirements path in CUDA test script
  .azure-pipelines/scripts/ut/run_ut_cuda.sh
Due: .azure-pipelines/unit-test-hpu.yml

Skip fused_moe replacement when llm-compressor oneshot already linearizes experts (#1966)
  auto_round/modeling/fused_moe/llama4.py
  auto_round/modeling/fused_moe/replace_modules.py
  auto_round/modeling/fused_moe/utils.py
  test/test_cpu/models/test_moe_experts_interface.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Fix layer_config bug and CI unstable issue (#1949)
  auto_round/compressors/base.py
  auto_round/compressors/model_free.py
  auto_round/compressors/utils.py
  auto_round/experimental/utils.py
  auto_round/utils/offload.py
  auto_round/utils/weight_handler.py
  test/helpers.py
  test/test_cuda/backends/test_marlin_backend.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

close the test for temp
  .github/workflows/compatibility-test.yml
Due: none

Enhance model_forward_low_gpu to support scheme tagging and improve logging of batch average loss
  auto_round/auto_scheme/delta_loss.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

revert nsamples change
  auto_round/auto_scheme/delta_loss.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Add environment variables for AutoScheme nsamples and batch size; update documentation and tests
  auto_round/auto_scheme/delta_loss.py
  auto_round/envs.py
  docs/environments.md
  docs/environments_CN.md
  test/test_cpu/schemes/test_auto_scheme_internal.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Refactor unit test environment setup by removing unnecessary flags in venv creation and update skip reasons for tests
  .azure-pipelines/scripts/cuda_unit_test/run_cuda_ut.sh
  test/test_cuda/models/test_fp8_model.py
Due: .azure-pipelines/unit-test.yml

fix
  test/test_xpu/test_llmc_integration.py
Due: .azure-pipelines/unit-test-xpu.yml

Refactor _gen_layer_config to simplify nsamples and seqlen assignment for MoE models
  auto_round/auto_scheme/delta_loss.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Checkpoint sparse Sage kernel baseline
  auto_round_extension/ark/auto_round_kernel/ark.cpp
  auto_round_extension/ark/auto_round_kernel/docs/ARK_XPU_KERNEL_BKC.md
  auto_round_extension/ark/auto_round_kernel/sdpa.cpp
  auto_round_extension/ark/auto_round_kernel/sparse_attention.py
  auto_round_extension/ark/auto_round_kernel/wrapper/include/stla/xe_sagev1_fwd_mainloop.hpp
  auto_round_extension/ark/auto_round_kernel/wrapper/include/stla/xe_sparse_sage_fwd_kernel.hpp
  auto_round_extension/ark/auto_round_kernel/wrapper/include/stla/xe_sparse_sagev1_fwd_mainloop.hpp
  auto_round_extension/ark/auto_round_kernel/wrapper/include/sycl_tla_common.hpp
  auto_round_extension/ark/auto_round_kernel/wrapper/include/sycl_tla_sdpa.hpp
  auto_round_extension/ark/auto_round_kernel/wrapper/test/bench_sparse_kernel.cpp
  auto_round_extension/ark/auto_round_kernel/wrapper/test/test_sage_sparse_prefill_e2e.py
  auto_round_extension/ark/auto_round_kernel/wrapper/test/test_sdpa.hpp
  auto_round_extension/ark/test/bench_sparse_topk.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-xpu.yml

Fix mlx test path (#1952)
  .github/workflows/compatibility-test.yml
  test/test_cpu/export/test_mlx_export.py
Due: .azure-pipelines/unit-test.yml

fix gguf cuda ut fail
  test/test_cuda/algorithms/test_auto_scheme.py
Due: .azure-pipelines/unit-test.yml

correct merge
  auto_round/auto_scheme/delta_loss.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Fix gguf cuda ut (#1975)
  test/test_cuda/algorithms/test_auto_scheme.py
Due: .azure-pipelines/unit-test.yml

add fused_tla
  auto_round_extension/ark/auto_round_kernel/__init__.py
  auto_round_extension/ark/auto_round_kernel/ark.cpp
  auto_round_extension/ark/auto_round_kernel/wrapper/include/sycl_tla_dense_gemm.hpp
  auto_round_extension/ark/test/test_matmul.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-xpu.yml

Add llmc ut back (#1974)
  test/test_xpu/test_llmc_integration.py
Due: .azure-pipelines/unit-test-xpu.yml

update hpu test
  .azure-pipelines/ark-unit-test.yml
  test/test_hpu/test_auto_round.py
Due: none

Enhance documentation and comments for AutoScheme scoring parameters and methods; clarify default values for nsamples in environments.
  auto_round/auto_scheme/delta_loss.py
  auto_round/auto_scheme/utils.py
  auto_round/envs.py
  docs/environments.md
  docs/environments_CN.md
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

revert change
  .azure-pipelines/ark-unit-test.yml
  test/test_hpu/test_auto_round.py
Due: none

Implement AutoScheme support for model-free quantization; add validation and conversion functions, enhance documentation, and update tests for mixed-bit selection.
  auto_round/compressors/model_free.py
  auto_round/utils/model.py
  docs/step_by_step.md
  docs/step_by_step_CN.md
  test/test_cpu/quantization/test_model_free.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

remove GemmUniversal + LinearCombination
  auto_round_extension/ark/auto_round_kernel/wrapper/include/sycl_tla_dense_gemm.hpp
  auto_round_extension/ark/test/test_matmul.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-xpu.yml

restore the first version
  auto_round_extension/ark/auto_round_kernel/wrapper/include/sycl_tla_dense_gemm.hpp
  auto_round_extension/ark/test/test_matmul.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-xpu.yml

Refactor utils and delta_loss modules to enhance logging and expert score handling; streamline quantization scheme representation and layer configuration logging.
  auto_round/auto_scheme/delta_loss.py
  auto_round/auto_scheme/utils.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

support vllm based model quantization
  auto_round/algorithms/pipeline.py
  auto_round/algorithms/quantization/base.py
  auto_round/algorithms/quantization/rtn/quantizer.py
  auto_round/calibration/hooks.py
  auto_round/cli/main.py
  auto_round/cli/parser.py
  auto_round/compressors/base.py
  auto_round/compressors/data_driven.py
  auto_round/compressors/entry.py
  auto_round/compressors/vllm/__init__.py
  auto_round/compressors/vllm/linearized_fused_moe.py
  auto_round/compressors/vllm/vllm_calibrator.py
  auto_round/compressors/vllm_mixin.py
  auto_round/context/model.py
  auto_round/export/export_to_llmcompressor/export.py
  auto_round/export/export_to_llmcompressor/export_to_fp.py
  auto_round/export/utils.py
  auto_round/utils/common.py
  auto_round/utils/model.py
  auto_round/wrapper.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix: promote None-initialized kwarg to list in forward_capture
  auto_round/calibration/hooks.py
  test/test_cpu/core/test_forward_capture_none_kwarg.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix: use spawn instead of fork for dataset subprocess on macOS
  auto_round/calib_dataset.py
  test/test_cpu/core/test_calib_dataset_subprocess.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix: replace bare except clauses with except Exception
  auto_round/calib_dataset.py
  auto_round/inference/backend.py
  auto_round/inference/convert_model.py
  auto_round/modeling/unfused_moe/__init__.py
  auto_round/utils/common.py
  auto_round/utils/device.py
  auto_round/utils/device_manager.py
  auto_round/utils/model.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix
  auto_round/auto_scheme/delta_loss.py
  auto_round/compressors/base.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Update CUDA package installation URLs to use cu130 in unit test scripts
  .azure-pipelines/scripts/ut/run_ut_cuda.sh
Due: .azure-pipelines/unit-test-hpu.yml

rename the base rotation (deterministic/random hadamard) directory name. (#1956)
  auto_round/__init__.py
  auto_round/algorithms/transforms/__init__.py
  auto_round/algorithms/transforms/base.py
  auto_round/algorithms/transforms/hadamard/__init__.py
  auto_round/algorithms/transforms/hadamard/apply.py
  auto_round/algorithms/transforms/hadamard/config.py
  auto_round/algorithms/transforms/hadamard/dispatcher.py
  auto_round/algorithms/transforms/hadamard/inplace/__init__.py
  auto_round/algorithms/transforms/hadamard/inplace/apply.py
  auto_round/algorithms/transforms/hadamard/inplace/hooks.py
  auto_round/algorithms/transforms/hadamard/inplace/model_config.py
  auto_round/algorithms/transforms/hadamard/patch.py
  auto_round/algorithms/transforms/hadamard/transforms.py
  auto_round/algorithms/transforms/hadamard/utils/__init__.py
  auto_round/algorithms/transforms/hadamard/utils/hadamards.safetensors
  auto_round/algorithms/transforms/hadamard/utils/math.py
  auto_round/algorithms/transforms/hadamard/utils/matrix.py
  auto_round/algorithms/transforms/hadamard/utils/triton/__init__.py
  auto_round/algorithms/transforms/hadamard/utils/triton/mxfp4.py
  auto_round/algorithms/transforms/spinquant/inplace/__init__.py
  auto_round/algorithms/transforms/spinquant/inplace/apply.py
  auto_round/algorithms/transforms/spinquant/rotation_utils.py
  auto_round/cli/algorithms.py
  auto_round/compressors/entry.py
  auto_round/experimental/apply_rotation_transform.py
  auto_round/experimental/utils.py
  setup.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Add psutil to the installation in create_conda_env function
  .azure-pipelines/scripts/ut/run_ut_cuda.sh
Due: .azure-pipelines/unit-test-hpu.yml

minor fix for CI workflow
  .azure-pipelines/ark-unit-test.yml
Due: none

Fail fast on save failure in OffloadManager to prevent silent memory growth
  auto_round/utils/offload.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

improve nvfp4 moe
  auto_round/compressors/vllm/linearized_fused_moe.py
  auto_round/data_type/utils.py
  auto_round/export/export_to_llmcompressor/export_to_fp.py
  auto_round/utils/model.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

update by comments
  auto_round/data_type/gguf.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Path conditions:
  .azure-pipelines/code-scan.yml: any of: auto_round, auto_round_extension, setup.py, requirements.txt, requirements-cpu.txt, requirements-hpu.txt, .azure-pipelines/code-scan.yml, .azure-pipelines/scripts/codeScan
  .azure-pipelines/compatibility-test.yml: any of: auto_round, auto_round_extension, setup.py, setup.cfg, requirements.txt, requirements-cpu.txt, .azure-pipelines/compatibility-test.yml, but not: *.md, **/*.md
  .azure-pipelines/unit-test-hpu.yml: any of: auto_round, test/test*hpu*', setup.py, requirements-lib.txt, .azure-pipelines/scripts/ut, .azure-pipelines/template/docker-template.yml, .azure-pipelines/template/ut-template.yml, but not: auto_round/export/export_to_autogptq, auto_round/export/export_to_awq, *.md, **/*.md
  .azure-pipelines/unit-test-xpu.yml: any of: auto_round, auto_round_extension, test/test_ark, test/test_xpu, setup.py, .azure-pipelines/template/ut-template.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/scripts/ut/run_ut_xpu.sh, but not: *.md, **/*.md
  .azure-pipelines/unit-test.yml: any of: auto_round, auto_round_extension, test, setup.py, requirements.txt, requirements-cpu.txt, .azure-pipelines/scripts/ut, .azure-pipelines/unit-test.yml, .azure-pipelines/template/ut-template.yml, .azure-pipelines/template/docker-template.yml, but not: auto_round_extension/ark, test/test_hpu, test/test_ark, test/test_xpu, *.md, **/*.md, .azure-pipelines/scripts/ut/run_ut_hpu.sh, .azure-pipelines/scripts/ut/run_ut_cuda.sh, .azure-pipelines/scripts/ut/run_ut_xpu.sh
