Repository intel/auto-round: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

Path conditions:
  .azure-pipelines/code-scan.yml: any of: auto_round, setup.py, requirements.txt, .azure-pipelines/code-scan.yml, .azure-pipelines/scripts/codeScan
  .azure-pipelines/unit-test-hpu.yml: any of: auto_round, test/test*hpu*', setup.py, requirements-lib.txt, .azure-pipelines/scripts/ut, .azure-pipelines/template/docker-template.yml, .azure-pipelines/template/ut-template.yml, but not: auto_round/export/export_to_autogptq, auto_round/export/export_to_awq, *.md, **/*.md
  .azure-pipelines/unit-test.yml: any of: auto_round, auto_round_extension, test, setup.py, requirements.txt, requirements-cpu.txt, .azure-pipelines/scripts/ut, .azure-pipelines/unit-test.yml, .azure-pipelines/template/ut-template.yml, .azure-pipelines/template/docker-template.yml, but not: test/test*hpu*, *.md, **/*.md

support gguf
  auto_round/auto_schemes/utils.py
  test/test_cpu/test_gguf_format.py
  test/test_cuda/test_auto_scheme.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

revert test
  test/test_cpu/test_gguf_format.py
Due: .azure-pipelines/unit-test.yml

add cpu UT, refine cuda UT
  test/test_cpu/test_export.py
  test/test_cuda/test_export.py
Due: .azure-pipelines/unit-test.yml

move ste from quant to round for nvfp4 (#889)
  auto_round/data_type/nvfp.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

update
  test/test_cuda/test_gguf.py
Due: .azure-pipelines/unit-test.yml

fix ut typo
  test/test_cpu/test_export.py
Due: .azure-pipelines/unit-test.yml

update alg_ext.abi3.so with python compatible version (#894)
  auto_round/alg_ext.abi3.so
  auto_round/alg_ext.cpython-310-x86_64-linux-gnu.so
  setup.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

rewrite the implementation for ease-of-maintain
  auto_round/compressors/base.py
  auto_round/wrapper.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix bug
  auto_round/wrapper.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

bump version into 0.8.0
  auto_round/version.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

Add GPT-OSS quant support (#887)
  auto_round/modelling/__init__.py
  auto_round/modelling/gpt_oss.py
  auto_round/modelling/llama4.py
  auto_round/special_model_handler.py
  auto_round/utils.py
  test/test_cpu/test_gpt_oss.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

gguf weight type align with original, output.weight, token_embed
  auto_round/compressors/base.py
  auto_round/utils.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix quant performance
  auto_round/compressors/base.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

update
  auto_round/auto_schemes/gen_auto_scheme.py
  auto_round/utils.py
  test/test_cuda/test_auto_scheme.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

update
  auto_round/compressors/base.py
  auto_round/utils.py
  test/test_cpu/test_gguf_format.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

better help printing information (#883)
  auto_round/__main__.py
  auto_round/eval/eval_cli.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix merge issue
  auto_round/__main__.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix merge issue
  README.md
  auto_round/__main__.py
  auto_round/compressors/base.py
  auto_round/utils.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

update
  auto_round/__main__.py
  auto_round/auto_scheme/__init__.py
  auto_round/auto_scheme/gen_auto_scheme.py
  auto_round/auto_scheme/utils.py
  auto_round/compressors/base.py
  docs/alg_202508.md
  docs/auto_scheme_acc.md
  test/test_cuda/test_auto_scheme.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

add UT for regression
  test/test_cuda/test_transformers.py
Due: .azure-pipelines/unit-test.yml

fix
  test/test_cpu/test_gguf_format.py
Due: .azure-pipelines/unit-test.yml

fix act related config saving
  auto_round/export/export_to_autoround/export.py
  auto_round/export/export_to_autoround/export_to_fp8.py
  auto_round/export/export_to_autoround/export_to_nvfp_mxfp.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

update
  README.md
  auto_round/auto_scheme/gen_auto_scheme.py
  auto_round/schemes.py
  auto_round/utils.py
  docs/step_by_step.md
  test/test_cuda/test_auto_scheme.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix cpu ut
  test/test_cpu/test_export.py
Due: .azure-pipelines/unit-test.yml

fix mxfp load
  auto_round/inference/backend.py
  auto_round/testing_utils.py
  test/test_cpu/test_mxfp4_save_load.py
  test/test_cuda/test_mxfp_and_nvfp_quant.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

Update auto_round/compressors/base.py
  auto_round/compressors/base.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

speedup quant and evaluation, fix recompile issue (#897)
  auto_round/compressors/base.py
  auto_round/wrapper.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

save per block
  auto_round/compressors/base.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

enhance experts amax match, refine UT
  auto_round/utils.py
  test/test_cpu/test_export.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

add ut for act_config check
  test/test_cpu/test_act_quantization.py
Due: .azure-pipelines/unit-test.yml

fix nvfp act quantization bug (#891)
  auto_round/compressors/base.py
  auto_round/utils.py
  test/test_cpu/test_export.py
  test/test_cuda/test_export.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

update
  auto_round/__main__.py
  auto_round/auto_scheme/__init__.py
  auto_round/auto_scheme/gen_auto_scheme.py
  auto_round/schemes.py
  auto_round/utils.py
  test/test_cuda/test_auto_scheme.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

support torch enable compile
  auto_round/auto_scheme/gen_auto_scheme.py
  auto_round/compressors/base.py
  auto_round/utils.py
  test/test_cuda/test_auto_scheme.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

add so file and cpu ut
  README.md
  auto_round/auto_scheme/default_alg.abi3.so
  test/test_cpu/test_auto_scheme.py
  test/test_cuda/test_auto_scheme.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

correct model path
  auto_round/auto_scheme/__init__.py
  test/test_cpu/test_auto_scheme.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

update so
  auto_round/auto_scheme/default_alg.abi3.so
  docs/step_by_step.md
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

update readme
  README.md
Due: none

support automatic mixed bits assignment (#851)
  README.md
  auto_round/__init__.py
  auto_round/__main__.py
  auto_round/auto_scheme/__init__.py
  auto_round/auto_scheme/default_alg.abi3.so
  auto_round/auto_scheme/gen_auto_scheme.py
  auto_round/auto_scheme/utils.py
  auto_round/autoround.py
  auto_round/compressors/base.py
  auto_round/data_type/gguf.py
  auto_round/export/export_to_autoround/export_to_nvfp_mxfp.py
  auto_round/export/export_to_llmcompressor/export_to_fp.py
  auto_round/schemes.py
  auto_round/utils.py
  auto_round/wrapper.py
  docs/alg_202508.md
  docs/auto_scheme_acc.md
  docs/step_by_step.md
  test/test_cpu/test_auto_scheme.py
  test/test_cpu/test_autoround.py
  test/test_cuda/test_auto_scheme.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

try to fix gguf issue (#886)
  auto_round/compressors/base.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml
