Repository intel/auto-round: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Path conditions:
  .azure-pipelines/code-scan.yml: any of: auto_round, setup.py, requirements.txt, .azure-pipelines/code-scan.yml, .azure-pipelines/scripts/codeScan
  .azure-pipelines/compatibility-test.yml: any of: auto_round, auto_round_extension, setup.py, setup.cfg, requirements.txt, requirements-cpu.txt, .azure-pipelines/compatibility-test.yml, but not: *.md, **/*.md
  .azure-pipelines/unit-test-hpu.yml: any of: auto_round, test/test*hpu*', setup.py, requirements-lib.txt, .azure-pipelines/scripts/ut, .azure-pipelines/template/docker-template.yml, .azure-pipelines/template/ut-template.yml, but not: auto_round/export/export_to_autogptq, auto_round/export/export_to_awq, *.md, **/*.md
  .azure-pipelines/unit-test-xpu.yml: any of: auto_round/utils, auto_round_extension/ark, test/test_ark, setup.py, .azure-pipelines/template/ut-template.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/scripts/ut/run_ut_xpu.sh, but not: *.md, **/*.md
  .azure-pipelines/unit-test.yml: any of: auto_round, auto_round_extension, test, setup.py, requirements.txt, requirements-cpu.txt, .azure-pipelines/scripts/ut, .azure-pipelines/unit-test.yml, .azure-pipelines/template/ut-template.yml, .azure-pipelines/template/docker-template.yml, but not: test/test*hpu*, *.md, **/*.md

enhance memory monitor
  auto_round/utils/device.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix
  auto_round/modelling/gpt_oss.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

upgrade transformers version
  .azure-pipelines/scripts/ut/run_ut.sh
Due: .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

Update deepseek_v2.py
  auto_round/modelling/deepseek_v2.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

update replace logic
  auto_round/compressors/base.py
  auto_round/inference/convert_model.py
  auto_round/modelling/gpt_oss.py
  auto_round/modelling/replace_modules.py
  auto_round/special_model_handler.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

clean
  auto_round/modelling/gpt_oss.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

refine name
  auto_round/compressors/base.py
  auto_round/modelling/replace_modules.py
  auto_round/special_model_handler.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

refactor ds
  auto_round/modelling/gpt_oss.py
  auto_round/modelling/qwen3_vl_moe.py
  auto_round/modelling/replace_modules.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix
  auto_round/modelling/gpt_oss.py
  auto_round/modelling/qwen3_vl_moe.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

Enable q_scale calibration for deepseek v2 on Gaudi (#1299)
  .azure-pipelines/template/ut-template.yml
  auto_round/__main__.py
  auto_round/compressors/base.py
  auto_round/experimental/attention.py
  auto_round/export/export_to_llmcompressor/export_to_static_fp.py
  auto_round/modelling/deepseek_v2.py
  auto_round/modelling/replace_modules.py
  auto_round/special_model_handler.py
  test/test_cpu/quantization/test_statc_attn.py
  test/test_hpu/requirements.txt
  test/test_hpu/test_statc_attn.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

refactor llama4
  auto_round/modelling/llama4.py
  test/test_cuda/models/test_moe_model.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

add note
  auto_round/compressors/base.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

revert test change
  test/test_cuda/models/test_moe_model.py
Due: .azure-pipelines/unit-test.yml

add utils
  auto_round/modelling/utils.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix bug of format (#1287)
  auto_round/compressors/base.py
  test/test_cpu/core/test_autoround.py
  test/test_cpu/export/test_gguf_format.py
  test/test_cpu/quantization/test_asym.py
  test/test_cpu/utils/test_cli_usage.py
  test/test_cuda/advanced/test_multiple_card_calib.py
  test/test_cuda/export/test_gguf.py
  test/test_cuda/models/test_support_vlms.py
  test/test_cuda/quantization/test_asym.py
  test/test_cuda/utils/test_alg_ext.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

align act_max of experts for qwen3-vl and qwen3-next
  auto_round/utils/model.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix
  auto_round/modelling/qwen3_vl_moe.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

add asym for XPU backend.
  auto_round/inference/backend.py
  auto_round_extension/ark/qlinear.py
  test/test_ark/test_model.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix
  auto_round/modelling/replace_modules.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

refactor: convert thread limits to decorator, keep only e4m3fn
  auto_round/utils/model.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix cpu ut
  auto_round/compressors/base.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

Upgrade torch to 2.10.0
  .azure-pipelines/template/ut-template.yml
  requirements-cpu.txt
Due: .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

update torch
  .azure-pipelines/template/ut-template.yml
  requirements-cpu.txt
Due: .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix XPU CI hang issue (#1261)
  test/test_xpu/test_autoround.py
Due: .azure-pipelines/unit-test.yml

fix guff
  auto_round/export/export_to_gguf/convert.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

Add issue templates and PR template with required fields (#1309)
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/pull_request_template.md
Due: none

add safe to cpu
  auto_round/modelling/replace_modules.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

tmp debug
  .azure-pipelines/scripts/ut/run_ut.sh
Due: .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

better check for tied_weights
  auto_round/export/export_to_gguf/convert.py
  auto_round/utils/model.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

refine
  auto_round/compressors/base.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix
  auto_round/compressors/base.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix llama
  auto_round/modelling/llama4.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

[GGUF] using quant_nontext_module to control whether quant vision model
  auto_round/compressors/base.py
  auto_round/compressors/mllm/compressor.py
  auto_round/export/export_to_gguf/convert.py
  auto_round/export/export_to_gguf/export.py
  auto_round/formats.py
  test/test_cpu/export/test_gguf_format.py
  test/test_cuda/export/test_gguf.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix low_cpu and set it to True as default (#1288)
  README.md
  auto_round/__main__.py
  auto_round/auto_scheme/utils.py
  auto_round/autoround.py
  auto_round/calib_dataset.py
  auto_round/compressors/base.py
  auto_round/compressors/diffusion/compressor.py
  auto_round/compressors/mllm/compressor.py
  auto_round/compressors/shard_writer.py
  auto_round/compressors/utils.py
  auto_round/export/export_to_autogptq/export.py
  auto_round/export/export_to_gguf/convert.py
  auto_round/export/export_to_gguf/export.py
  auto_round/formats.py
  auto_round/utils/device.py
  auto_round/utils/model.py
  auto_round/wrapper.py
  test/test_cpu/quantization/test_asym.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

quick fix
  auto_round/compressors/base.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml
