Repository intel/auto-round: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Path conditions:
  .azure-pipelines/code-scan.yml: any of: auto_round, auto_round_extension, setup.py, requirements.txt, requirements-cpu.txt, requirements-hpu.txt, .azure-pipelines/code-scan.yml, .azure-pipelines/scripts/codeScan
  .azure-pipelines/compatibility-test.yml: any of: auto_round, auto_round_extension, setup.py, setup.cfg, requirements.txt, requirements-cpu.txt, .azure-pipelines/compatibility-test.yml, but not: *.md, **/*.md
  .azure-pipelines/unit-test-hpu.yml: any of: auto_round, test/test*hpu*', setup.py, requirements-lib.txt, .azure-pipelines/scripts/ut, .azure-pipelines/template/docker-template.yml, .azure-pipelines/template/ut-template.yml, but not: auto_round/export/export_to_autogptq, auto_round/export/export_to_awq, *.md, **/*.md
  .azure-pipelines/unit-test-xpu.yml: any of: auto_round/utils, auto_round_extension/ark, test/test_ark, setup.py, .azure-pipelines/template/ut-template.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/scripts/ut/run_ut_xpu.sh, but not: *.md, **/*.md
  .azure-pipelines/unit-test.yml: any of: auto_round, auto_round_extension, test, setup.py, requirements.txt, requirements-cpu.txt, .azure-pipelines/scripts/ut, .azure-pipelines/unit-test.yml, .azure-pipelines/template/ut-template.yml, .azure-pipelines/template/docker-template.yml, but not: test/test*hpu*, *.md, **/*.md

debug info
  ds32/quant_ds_v32.py
Due: none

add qwen v5 path
  qwen-v5/qwen_in_v5.py
  qwen-v5/qwen_v5_patch.py
Due: none

Update step_by_step_CN.md
  docs/step_by_step_CN.md
Due: none

fix lm_eval import issue and update requirement to suit transformers 5.0.0
  auto_round/eval/eval_cli.py
  auto_round/eval/evaluation.py
  test/test_ark/requirements.txt
  test/test_cpu/requirements.txt
  test/test_cuda/requirements.txt
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix
  qwen-v5/qwen_in_v5.py
Due: none

skip
  qwen-v5/qwen_in_v5.py
Due: none

skip PhiConfig has no attribute 'pad_token_id'
  test/test_cpu/core/test_autoround.py
Due: .azure-pipelines/unit-test.yml

fix mixed type in qlinera_torch_zp
  auto_round_extension/torch/qlinear_torch_zp.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test.yml

monkey patch for datasets
  test/fixtures.py
Due: .azure-pipelines/unit-test.yml

update no_init_weights import for gpt-oss
  auto_round/modelling/gpt_oss.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix merge
  auto_round/compressors/base.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix
  auto_round/quantizers/algs/rtn.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

skip diffusers
  test/test_cpu/models/test_diffusion.py
Due: .azure-pipelines/unit-test.yml

fix
  test/fixtures.py
Due: .azure-pipelines/unit-test.yml

for test
  .azure-pipelines/unit-test-xpu.yml
Due: .azure-pipelines/unit-test-xpu.yml

Add Copilot instruction for bilingual markdown consistency (#1351)
  .github/copilot-instructions.md
Due: none

add copilot-instructions (#1341)
  .github/copilot-instructions.md
Due: none

Apply suggestion from @Copilot
  auto_round/modelling/gpt_oss.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

Apply suggestion from @Copilot
  auto_round/modelling/llama4.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

Update gpt_oss.py
  auto_round/modelling/gpt_oss.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

Update llama4.py
  auto_round/modelling/llama4.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

Fix transformers 5.0 upgrade issue for interface no_init_weights
  auto_round/modelling/gpt_oss.py
  auto_round/modelling/llama4.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

update code
  auto_round/modelling/gpt_oss.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

patch
  auto_round/__main__.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

skip phiconfig
  test/test_cpu/export/test_export.py
Due: .azure-pipelines/unit-test.yml

update vllm and sglang to use git main branch
  test/test_cuda/requirements.txt
  test/test_cuda/requirements_sglang.txt
Due: .azure-pipelines/unit-test.yml

support qwen3 moe patch
  auto_round/modeling/__init__.py
  auto_round/modeling/deepseek_v2.py
  auto_round/modeling/gpt_oss.py
  auto_round/modeling/llama4.py
  auto_round/modeling/qwen3_moe.py
  auto_round/modeling/qwen3_vl_moe.py
  auto_round/modeling/replace_modules.py
  auto_round/modeling/utils.py
  auto_round/modelling/__init__.py
  auto_round/utils/common.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

skip diffusers import
  test/test_cpu/models/test_diffusion.py
Due: .azure-pipelines/unit-test.yml

refine
  auto_round/modeling/__init__.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix
  auto_round/compressors/base.py
  auto_round/modeling/deepseek_v2.py
  auto_round/modeling/gpt_oss.py
  auto_round/modeling/llama4.py
  auto_round/modeling/qwen3_vl_moe.py
  auto_round/modeling/replace_modules.py
  auto_round/special_model_handler.py
  auto_round/utils/common.py
  test/test_cpu/models/test_moe_model.py
  test/test_cuda/models/test_moe_model.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

set trust_remote_code=False for tiny-deepseek
  test/fixtures.py
  test/helpers.py
Due: .azure-pipelines/unit-test.yml

update version
  .azure-pipelines/scripts/ut/run_ut_cuda.sh
Due: .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

set pad_token_id to None in setup_llama4 for compatibility with Llama4 model
  test/test_cuda/models/test_moe_model.py
Due: .azure-pipelines/unit-test.yml

fix
  test/test_cuda/requirements.txt
Due: .azure-pipelines/unit-test.yml

feat: handle per-tensor FP8 dequantization for Devstral models
  auto_round/utils/model.py
  test/test_cpu/core/test_fp8_re_quant.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix
  auto_round/__main__.py
  auto_round/utils/__init__.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix
  auto_round/utils/__init__.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

update
  auto_round/utils/__init__.py
  test/fixtures.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml
