Repository intel/auto-round: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Path conditions:
  .azure-pipelines/code-scan.yml: any of: auto_round, auto_round_extension, setup.py, requirements.txt, requirements-cpu.txt, requirements-hpu.txt, .azure-pipelines/code-scan.yml, .azure-pipelines/scripts/codeScan
  .azure-pipelines/compatibility-test.yml: any of: auto_round, auto_round_extension, setup.py, setup.cfg, requirements.txt, requirements-cpu.txt, .azure-pipelines/compatibility-test.yml, but not: *.md, **/*.md
  .azure-pipelines/unit-test-hpu.yml: any of: auto_round, test/test*hpu*', setup.py, requirements-lib.txt, .azure-pipelines/scripts/ut, .azure-pipelines/template/docker-template.yml, .azure-pipelines/template/ut-template.yml, but not: auto_round/export/export_to_autogptq, auto_round/export/export_to_awq, *.md, **/*.md
  .azure-pipelines/unit-test-xpu.yml: any of: auto_round, auto_round_extension, test/test_ark, test/test_xpu, setup.py, .azure-pipelines/template/ut-template.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/scripts/ut/run_ut_xpu.sh, but not: *.md, **/*.md
  .azure-pipelines/unit-test.yml: any of: auto_round, auto_round_extension, test, setup.py, requirements.txt, requirements-cpu.txt, .azure-pipelines/scripts/ut, .azure-pipelines/unit-test.yml, .azure-pipelines/template/ut-template.yml, .azure-pipelines/template/docker-template.yml, but not: auto_round_extension/ark, test/test_hpu, test/test_ark, test/test_xpu, *.md, **/*.md, .azure-pipelines/scripts/ut/run_ut_hpu.sh, .azure-pipelines/scripts/ut/run_ut_cuda.sh, .azure-pipelines/scripts/ut/run_ut_xpu.sh

fix CI
  auto_round/compressors/model_free.py
  auto_round/compressors_new/utils.py
  test/test_cpu/quantization/test_mix_bits.py
  test/test_cuda/export/test_auto_gptq_format.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

remove breakpoint
  test/test_cuda/export/test_auto_gptq_format.py
Due: .azure-pipelines/unit-test.yml

update
  _smoke_device.py
  auto_round/inference/convert_model.py
  auto_round/utils/__init__.py
  auto_round/utils/device.py
  auto_round/utils/device_backend.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Reduce RAM usage of quantizing VLM models and fix issues of quantizing gemma4
  auto_round/compressors/base.py
  auto_round/compressors_new/calib.py
  auto_round/compressors_new/diffusion_mixin.py
  auto_round/compressors_new/mllm_mixin.py
  auto_round/special_model_handler.py
  auto_round/utils/device.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

add test
  test/test_cpu/models/test_vlm_ram_reduction.py
Due: .azure-pipelines/unit-test.yml

fix
  auto_round/compressors_new/calib.py
  auto_round/context/base.py
  auto_round/context/model.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

sync batch_size into AlgConfig; fix mixin batch_size reset; remove SKIP_ARGS in favor of explicit local_args
  auto_round/compressors_new/diffusion_mixin.py
  auto_round/compressors_new/mllm_mixin.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

add iters in init kwargs for new arch
  auto_round/compressors/model_free.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

update
  auto_round/algorithms/quantization/rtn/config.py
  auto_round/algorithms/quantization/sign_round/config.py
  auto_round/compressors_new/base.py
  auto_round/compressors_new/calib.py
  auto_round/compressors_new/entry.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

update readme
  auto_round_extension/ark/README.md
Due: .azure-pipelines/code-scan.yml

update
  auto_round/compressors_new/base.py
  auto_round/compressors_new/entry.py
  auto_round/utils/model.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

refine alg_ext code to better support torch compile
  auto_round/alg_ext.py
  auto_round/data_type/gguf.py
  auto_round/data_type/int.py
  auto_round/export/export_to_gguf/packing.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix bug of gguf alg ext
  auto_round/compressors_new/base.py
  test/test_cuda/algorithms/test_alg_ext.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix
  auto_round/alg_ext.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

add notes
  README.md
Due: none

revert change
  README.md
Due: none

update
  README.md
Due: none

update code according to comments
  auto_round/compressors/base.py
  auto_round/compressors/utils.py
  auto_round/compressors_new/calib.py
  auto_round/compressors_new/utils.py
  auto_round/special_model_handler.py
  test/test_cpu/models/test_vlm_ram_reduction.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

refine awq model mapping strategy, add UTs
  auto_round/algorithms/quantization/awq/mappings.py
  auto_round/algorithms/quantization/awq/quantizer.py
  auto_round/autoround.py
  auto_round/compressors_new/awq.py
  auto_round/compressors_new/base.py
  test/test_cpu/algorithms/__init__.py
  test/test_cpu/algorithms/test_awq.py
  test/test_cuda/algorithms/test_awq.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix spell typo check
  pyproject.toml
Due: none

update
  auto_round/export/export_to_autoround/export.py
  auto_round/schemes.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

add ut
  auto_round/alg_ext.py
  test/test_cuda/algorithms/test_alg_ext.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

update ut
  test/test_cuda/algorithms/test_alg_ext.py
Due: .azure-pipelines/unit-test.yml

fix ut
  auto_round/compressors_new/calib.py
  auto_round/compressors_new/mllm_mixin.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix CI
  auto_round/algorithms/quantization/awq/mappings.py
  test/test_cpu/algorithms/test_awq.py
  test/test_cuda/algorithms/test_awq.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

support ar format fp8 in vLLM
  auto_round/formats.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix
  auto_round/algorithms/quantization/base.py
  auto_round/compressors_new/base.py
  test/test_cuda/quantization/test_torch_compile.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix
  auto_round/algorithms/quantization/base.py
  auto_round/algorithms/quantization/rtn/quantizer.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

update
  auto_round/algorithms/quantization/base.py
  auto_round/compressors/base.py
  auto_round/utils/device.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

set DYNAMO_CACHE_SIZE_LIMIT to 16
  auto_round/envs.py
  auto_round/utils/device.py
  docs/environments.md
  docs/environments_CN.md
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

refine the monkey-patch approach
  auto_round/compressors/base.py
  auto_round/compressors/utils.py
  auto_round/compressors_new/base.py
  auto_round/compressors_new/utils.py
  auto_round/special_model_handler.py
  test/test_cpu/models/test_vlm_ram_reduction.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

update and clean
  auto_round/__main__.py
  auto_round/alg_ext.py
  auto_round/algorithms/transforms/rotation/apply.py
  auto_round/algorithms/transforms/rotation/config.py
  auto_round/algorithms/transforms/rotation/dispatcher.py
  auto_round/auto_scheme/gen_auto_scheme.py
  auto_round/autoround.py
  auto_round/calibration/diffusion.py
  auto_round/compressors/base.py
  auto_round/compressors/diffusion/README.md
  auto_round/compressors/diffusion/__init__.py
  auto_round/compressors/diffusion/dataset.py
  auto_round/compressors/diffusion/eval.py
  auto_round/compressors/utils.py
  auto_round/context/model.py
  auto_round/data_type/utils.py
  auto_round/eval/evaluation.py
  auto_round/experimental/utils.py
  auto_round/export/export_to_autoround/export.py
  auto_round/export/export_to_autoround/export_to_nvfp_mx.py
  auto_round/export/export_to_autoround/qlinear_fp.py
  auto_round/export/export_to_autoround/qlinear_int.py
  auto_round/export/export_to_llmcompressor/export_to_fp.py
  auto_round/formats.py
  auto_round/utils/weight_handler.py
  auto_round/wrapper.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

codescan
  auto_round/calibration/hooks.py
  auto_round/compressors/architecture_visualization.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

bugfix, refine CI
  auto_round/__main__.py
  auto_round/algorithms/quantization/awq/quantizer.py
  auto_round/compressors_new/entry.py
  test/test_cpu/algorithms/test_awq.py
  test/test_cuda/algorithms/test_awq.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

remove auto_round_kernel.qlinear dependency
  auto_round/inference/convert_model.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

update version
  auto_round_extension/ark/auto_round_kernel/version.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-xpu.yml

debug auto-round-lib version
  .azure-pipelines/template/lib-build-template.yml
  auto_round_extension/ark/setup.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-xpu.yml

remove condition
  .azure-pipelines/template/lib-build-template.yml
Due: none
