Repository intel/auto-round: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

.azure-pipelines/code-scan.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: BanditCodeScan
    displayName: Bandit Code Scan
    dependsOn: []
    jobs:
    - job: Bandit
      displayName: Bandit
      steps:
      - template: template/code-scan-template.yml
        parameters:
          codeScanFileName: bandit
          uploadPath: bandit.log
  ...

.azure-pipelines/compatibility-test.yml:
  stages:
  - stage: null
    displayName: Compatibility Test
    dependsOn: []
    jobs:
    - job: null
      timeoutInMinutes: 20
      strategy:
        matrix:
          Python310_Linux:
            python_version: '3.10'
            vmImage: ubuntu-latest
          Python311_Linux:
            python_version: '3.11'
  ...

.azure-pipelines/unit-test-hpu.yml:
  pool: GAUDI
  stages:
  - stage: Unit_test
    displayName: Unit Test
    dependsOn: []
    jobs:
    - job: null
      displayName: Unit Test
      steps:
      - template: template/ut-template.yml
        parameters:
          imageSource: pull
          dockerConfigName: commonDockerConfig
  ...

.azure-pipelines/unit-test-xpu.yml:
  pool: ICX-16C
  stages:
  - stage: Unit_test
    displayName: Unit Test
    dependsOn: []
    jobs:
    - job: null
      displayName: Unit Test
      steps:
      - template: template/ut-template.yml
        parameters:
          dockerConfigName: commonDockerConfig
          utScriptFileName: run_ut_xpu
  ...

.azure-pipelines/unit-test.yml:
  pool: ICX-16C
  stages:
  - stage: Unit_test
    displayName: Unit Test
    dependsOn: []
    jobs:
    - job: null
      timeoutInMinutes: 120
      strategy:
        matrix:
          part1:
            PART: 1
          part2:
            PART: 2
          part3:
            PART: 3
          part4:
            PART: 4
  ...

reformat
  auto_round/compressors/mllm/compressor.py
  auto_round/export/export_to_gguf/convert.py
  auto_round/export/export_to_gguf/export.py
  auto_round/formats.py
  test/test_cpu/export/test_gguf_format.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

codescan
  auto_round/compressors/mllm/compressor.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix
  auto_round/compressors/base.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

update
  auto_round/compressors/base.py
  auto_round/special_model_handler.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix
  auto_round/special_model_handler.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

Update auto_round/special_model_handler.py
  auto_round/special_model_handler.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

refine
  auto_round/special_model_handler.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

refine
  auto_round/compressors/base.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

refactor eval and add UT
  auto_round/__main__.py
  auto_round/eval/eval_cli.py
  auto_round/eval/evaluation.py
  auto_round/utils/model.py
  test/test_cpu/advanced/test_evaluation_functions.py
  test/test_cuda/advanced/test_evaluation.py
  test/test_cuda/integrations/test_vllm.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

set predefined ignore layers (#1318)
  auto_round/compressors/base.py
  auto_round/special_model_handler.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

add blockwise way in pure rtn to ease module replacements (#1320)
  auto_round/compressors/base.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

enable glm4_moe_lite quantization generation
  auto_round/modelling/glm4_moe_lite.py
  auto_round/modelling/replace_modules.py
  test/test_cpu/models/test_moe_model.py
  test/test_cuda/models/test_moe_model.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

open source lib code (#1304)
  .azure-pipelines/scripts/ut/run_ut.sh
  auto_round/alg_ext.abi3.so
  auto_round/alg_ext.py
  auto_round/alg_ext.pyd
  auto_round/auto_scheme/__init__.py
  auto_round/auto_scheme/default_alg.abi3.so
  auto_round/auto_scheme/default_alg.pyd
  auto_round/auto_scheme/delta_loss.py
  auto_round/compressors/base.py
  setup.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

update
  .azure-pipelines/scripts/ut/run_ut.sh
  auto_round/compressors/base.py
  auto_round/utils/model.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Autoround in vLLM Office Hours
  docs/publication_list.md
Due: none

better lib check
  auto_round/compressors/mllm/compressor.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

allow_deprecated_quantization and simplify UT to reduce time
  auto_round/eval/eval_cli.py
  test/test_cuda/advanced/test_evaluation.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

add support for w4a16_mixed
  auto_round/formats.py
  auto_round/schemes.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix
  auto_round/compressors/mllm/compressor.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

add ut
  auto_round/schemes.py
  test/test_cpu/schemes/test_scheme.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

clean code
  auto_round/utils/device.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

update
  auto_round/utils/device.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix
  auto_round/utils/device.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

replace auto-round-lib with auto-round-hpu
  .azure-pipelines/code-scan.yml
  .azure-pipelines/template/ut-template.yml
  .azure-pipelines/unit-test-hpu.yml
  .github/workflows/manual-binary-build-publish.yml
  README.md
  auto_round/version.py
  requirements-hpu.txt
  setup.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

update package naming format
  setup.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix CI and update readme
  auto_round/eval/evaluation.py
  docs/step_by_step.md
  test/test_cuda/advanced/test_evaluation.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

remove 'from auto_round import AutoRoundConfig'
  auto_round/inference/auto_quantizer.py
  test/test_cuda/advanced/test_multiple_card.py
  test/test_cuda/export/test_export.py
  test/test_cuda/models/test_conv1d.py
  test/test_cuda/models/test_support_vlms.py
  test/test_cuda/models/test_vlms.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

simplify pull_request_template.md
  .github/pull_request_template.md
Due: none

Update test/test_cuda/advanced/test_evaluation.py
  test/test_cuda/advanced/test_evaluation.py
Due: .azure-pipelines/unit-test.yml

Update pull_request_template.md
  .github/pull_request_template.md
Due: none

remove AutoHfQuantizer
  auto_round/__init__.py
  auto_round/compressors/mllm/eval.py
  auto_round/eval/evaluation.py
  auto_round/inference/backend.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

add more mem logger
  auto_round/compressors/base.py
  auto_round/modelling/replace_modules.py
  auto_round/utils/device.py
  auto_round/utils/model.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Path conditions:
  .azure-pipelines/code-scan.yml: any of: auto_round, setup.py, requirements.txt, .azure-pipelines/code-scan.yml, .azure-pipelines/scripts/codeScan
  .azure-pipelines/compatibility-test.yml: any of: auto_round, auto_round_extension, setup.py, setup.cfg, requirements.txt, requirements-cpu.txt, .azure-pipelines/compatibility-test.yml, but not: *.md, **/*.md
  .azure-pipelines/unit-test-hpu.yml: any of: auto_round, test/test*hpu*', setup.py, requirements-lib.txt, .azure-pipelines/scripts/ut, .azure-pipelines/template/docker-template.yml, .azure-pipelines/template/ut-template.yml, but not: auto_round/export/export_to_autogptq, auto_round/export/export_to_awq, *.md, **/*.md
  .azure-pipelines/unit-test-xpu.yml: any of: auto_round/utils, auto_round_extension/ark, test/test_ark, setup.py, .azure-pipelines/template/ut-template.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/scripts/ut/run_ut_xpu.sh, but not: *.md, **/*.md
  .azure-pipelines/unit-test.yml: any of: auto_round, auto_round_extension, test, setup.py, requirements.txt, requirements-cpu.txt, .azure-pipelines/scripts/ut, .azure-pipelines/unit-test.yml, .azure-pipelines/template/ut-template.yml, .azure-pipelines/template/docker-template.yml, but not: test/test*hpu*, *.md, **/*.md
