Repository intel/auto-round: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

.azure-pipelines/code-scan.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: BanditCodeScan
    displayName: Bandit Code Scan
    dependsOn: []
    jobs:
    - job: Bandit
      displayName: Bandit
      steps:
      - template: template/code-scan-template.yml
        parameters:
          codeScanFileName: bandit
          uploadPath: bandit.log
  ...

.azure-pipelines/compatibility-test.yml:
  stages:
  - stage: null
    displayName: Compatibility Test
    dependsOn: []
    jobs:
    - job: null
      timeoutInMinutes: 20
      strategy:
        matrix:
          Python310_Linux:
            python_version: '3.10'
            vmImage: ubuntu-latest
          Python311_Linux:
            python_version: '3.11'
  ...

.azure-pipelines/unit-test-hpu.yml:
  pool: GAUDI
  stages:
  - stage: Unit_test
    displayName: Unit Test
    dependsOn: []
    jobs:
    - job: null
      displayName: Unit Test
      steps:
      - template: template/ut-template.yml
        parameters:
          imageSource: pull
          dockerConfigName: commonDockerConfig
  ...

.azure-pipelines/unit-test-xpu.yml:
  pool: B60
  stages:
  - stage: Unit_test
    displayName: Unit Test
    dependsOn: []
    jobs:
    - job: null
      displayName: Unit Test
      steps:
      - template: template/ut-template.yml
        parameters:
          dockerConfigName: commonDockerConfig
          utScriptFileName: run_ut_xpu
  ...

.azure-pipelines/unit-test.yml:
  pool: ICX-16C
  stages:
  - stage: Unit_test
    displayName: Unit Test
    dependsOn: []
    jobs:
    - job: null
      timeoutInMinutes: 120
      strategy:
        matrix:
          part1:
            PART: 1
          part2:
            PART: 2
          part3:
            PART: 3
          part4:
            PART: 4
  ...

refine/fix gptq format (#1853)
  auto_round/export/export_to_autogptq/export.py
  auto_round/export/export_to_autogptq/qlinear_triton.py
  auto_round/export/utils.py
  auto_round/formats.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix save_quantized log conflict (#1845)
  auto_round/algorithms/quantization/awq/quantizer.py
  auto_round/export/export_to_autogptq/export.py
  auto_round/export/export_to_autoround/export.py
  auto_round/export/export_to_autoround/export_to_fp8.py
  auto_round/export/export_to_autoround/export_to_nvfp_mx.py
  auto_round/export/export_to_awq/export.py
  auto_round/export/export_to_llmcompressor/export.py
  auto_round/export/export_to_llmcompressor/export_to_fp.py
  auto_round/export/export_to_llmcompressor/export_to_static_fp.py
  auto_round/export/utils.py
  docs/step_by_step.md
  docs/step_by_step_CN.md
  test/test_cpu/export/test_export.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Fix packing format in quantization config and update variable assignment in tests
  auto_round/compressors/model_free.py
  test/test_cuda/export/test_auto_round_format.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

update doc
  README.md
  README_CN.md
  docs/step_by_step.md
  docs/step_by_step_CN.md
Due: none

update doc
  docs/step_by_step.md
  docs/step_by_step_CN.md
Due: none

Potential fix for pull request finding
  docs/step_by_step.md
Due: none

Potential fix for pull request finding
  README.md
Due: none

Potential fix for pull request finding
  README_CN.md
Due: none

update doc
  README.md
Due: none

update doc (#1856)
  README.md
  README_CN.md
  docs/step_by_step.md
  docs/step_by_step_CN.md
Due: none

fix bug
  test/test_cpu/quantization/test_model_free_parity.py
Due: .azure-pipelines/unit-test.yml

Fix Qwen Omni quantization model issue for long form audio generation (#1698)
  auto_round/compressors/shard_writer.py
  auto_round/modeling/fused_moe/moe_experts_interface.py
  auto_round/modeling/fused_moe/qwen3_omni.py
  auto_round/modeling/fused_moe/replace_modules.py
  auto_round/special_model_handler.py
  auto_round/utils/missing_tensors.py
  test/test_cpu/models/test_omni_model.py
  test/test_cpu/utils/test_missing_tensors.py
  test/test_cpu/utils/test_shard_writer.py
  test/test_xpu/test_autoround.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix CI
  test/test_cpu/quantization/test_model_free_parity.py
Due: .azure-pipelines/unit-test.yml

remove useless artifact to avoid retest failure
  .azure-pipelines/unit-test-cuda.yml
Due: none

cuda test auto trigger
  .azure-pipelines/unit-test.yml
Due: .azure-pipelines/unit-test.yml

remove useless print
  auto_round/algorithms/transforms/spinquant/training.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Potential fix for pull request finding
  .azure-pipelines/unit-test.yml
Due: .azure-pipelines/unit-test.yml

refactor quarot/spinquant rotation with simplying code. (#1849)
  auto_round/algorithms/transforms/__init__.py
  auto_round/algorithms/transforms/base.py
  auto_round/algorithms/transforms/spinquant/__init__.py
  auto_round/algorithms/transforms/spinquant/apply.py
  auto_round/algorithms/transforms/spinquant/preprocessor.py
  auto_round/algorithms/transforms/spinquant/trainer.py
  auto_round/algorithms/transforms/spinquant/training.py
  auto_round/algorithms/transforms/spinquant/training_core.py
  test/test_cuda/transform/test_spinquant.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Add CUDA CI trigger check script and update pipeline to prevent duplicate triggers
  .azure-pipelines/scripts/check_cuda_trigger.py
  .azure-pipelines/unit-test.yml
Due: .azure-pipelines/unit-test.yml

for test only, need to revert before merge
  .azure-pipelines/scripts/ut/run_ut.sh
Due: .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

minor fix
  .azure-pipelines/scripts/ut/run_ut.sh
Due: .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

Revert "for test only, need to revert before merge"
  .azure-pipelines/scripts/ut/run_ut.sh
Due: .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

Fix gemma4 crash issue during quantizing
  auto_round/compressors/utils.py
  auto_round/special_model_handler.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Enhance CI workflow (#1858)
  .azure-pipelines/scripts/check_cuda_trigger.py
  .azure-pipelines/scripts/ut/run_ut.sh
  .azure-pipelines/unit-test-cuda.yml
  .azure-pipelines/unit-test.yml
Due: .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix mllm missing issue
  auto_round/compressors/entry.py
  auto_round/eval/evaluation.py
  auto_round/utils/model.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

add ut
  test/test_cpu/models/test_gemma4_special_handler.py
  test/test_cpu/models/test_vlm_ram_reduction.py
Due: .azure-pipelines/unit-test.yml

fix vllm failure
  auto_round/compressors/model_free.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix: preserve FP8 llmc metadata for mxfp8
  auto_round/export/export_to_llmcompressor/export_to_fp.py
  test/test_cpu/export/test_llmc_format.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix folder issue
  auto_round/eval/evaluation.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Fix gemma4 crash issue during quantizing (#1860)
  auto_round/compressors/utils.py
  auto_round/special_model_handler.py
  test/test_cpu/models/test_gemma4_special_handler.py
  test/test_cpu/models/test_vlm_ram_reduction.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Path conditions:
  .azure-pipelines/code-scan.yml: any of: auto_round, auto_round_extension, setup.py, requirements.txt, requirements-cpu.txt, requirements-hpu.txt, .azure-pipelines/code-scan.yml, .azure-pipelines/scripts/codeScan
  .azure-pipelines/compatibility-test.yml: any of: auto_round, auto_round_extension, setup.py, setup.cfg, requirements.txt, requirements-cpu.txt, .azure-pipelines/compatibility-test.yml, but not: *.md, **/*.md
  .azure-pipelines/unit-test-hpu.yml: any of: auto_round, test/test*hpu*', setup.py, requirements-lib.txt, .azure-pipelines/scripts/ut, .azure-pipelines/template/docker-template.yml, .azure-pipelines/template/ut-template.yml, but not: auto_round/export/export_to_autogptq, auto_round/export/export_to_awq, *.md, **/*.md
  .azure-pipelines/unit-test-xpu.yml: any of: auto_round, auto_round_extension, test/test_ark, test/test_xpu, setup.py, .azure-pipelines/template/ut-template.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/scripts/ut/run_ut_xpu.sh, but not: *.md, **/*.md
  .azure-pipelines/unit-test.yml: any of: auto_round, auto_round_extension, test, setup.py, requirements.txt, requirements-cpu.txt, .azure-pipelines/scripts/ut, .azure-pipelines/unit-test.yml, .azure-pipelines/template/ut-template.yml, .azure-pipelines/template/docker-template.yml, but not: auto_round_extension/ark, test/test_hpu, test/test_ark, test/test_xpu, *.md, **/*.md, .azure-pipelines/scripts/ut/run_ut_hpu.sh, .azure-pipelines/scripts/ut/run_ut_cuda.sh, .azure-pipelines/scripts/ut/run_ut_xpu.sh
