Repository intel/auto-round: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

Path conditions:
  .azure-pipelines/code-scan.yml: any of: auto_round, setup.py, requirements.txt, .azure-pipelines/code-scan.yml, .azure-pipelines/scripts/codeScan
  .azure-pipelines/compatibility-test.yml: any of: auto_round, auto_round_extension, setup.py, setup.cfg, requirements.txt, requirements-cpu.txt, .azure-pipelines/compatibility-test.yml, but not: *.md, **/*.md
  .azure-pipelines/unit-test-hpu.yml: any of: auto_round, test/test*hpu*', setup.py, requirements-lib.txt, .azure-pipelines/scripts/ut, .azure-pipelines/template/docker-template.yml, .azure-pipelines/template/ut-template.yml, but not: auto_round/export/export_to_autogptq, auto_round/export/export_to_awq, *.md, **/*.md
  .azure-pipelines/unit-test.yml: any of: auto_round, auto_round_extension, test, setup.py, requirements.txt, requirements-cpu.txt, .azure-pipelines/scripts/ut, .azure-pipelines/unit-test.yml, .azure-pipelines/template/ut-template.yml, .azure-pipelines/template/docker-template.yml, but not: test/test*hpu*, *.md, **/*.md

fix
  auto_round_extension/vllm_ext/linear_impl_mxfp4.py
Due: .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test.yml

clean
  auto_round_extension/vllm_ext/moe_impl_mxfp8.py
Due: .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test.yml

add ut
  auto_round/special_model_handler.py
  test/test_cpu/test_moe_model.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

Add static FP8 attention support (#1061)
  auto_round/__main__.py
  auto_round/compressors/base.py
  auto_round/compressors/config.py
  auto_round/experimental/attention.py
  auto_round/experimental/kv_cache.py
  auto_round/experimental/qmodules/fp8_static.py
  auto_round/experimental/utils.py
  test/test_cpu/test_export.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

Update test_moe_model.py
  test/test_cpu/test_moe_model.py
Due: .azure-pipelines/unit-test.yml

clean
  auto_round/__main__.py
  auto_round/compressors/base.py
  auto_round/experimental/attention.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

clean
  auto_round/compressors/utils.py
  auto_round/experimental/attention.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix
  auto_round/experimental/attn_patches/llama.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

clean
  auto_round/experimental/attention.py
  auto_round/utils.py
  test/test_cpu/test_attention_quant.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix
  auto_round/utils/common.py
  auto_round/utils/device.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix
  .azure-pipelines/scripts/ut/run_ut.sh
  .azure-pipelines/template/ut-template.yml
Due: .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix
  auto_round/compressors/base.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

revert
  auto_round/compressors/base.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix
  auto_round/schemes.py
  test/test_cpu/test_gguf_format.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

export kv scheme
  auto_round/compressors/base.py
  auto_round/export/export_to_llmcompressor/export_to_static_fp.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

remove tbb
  requirements-lib.txt
  requirements.txt
  test/test_cpu/requirements.txt
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

Update convert_model.py
  auto_round/inference/convert_model.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix ut
  test/test_cpu/test_gguf_format.py
Due: .azure-pipelines/unit-test.yml

fix
  auto_round_extension/vllm_ext/README.md
  auto_round_extension/vllm_ext/apply_ext.sh
  auto_round_extension/vllm_ext/mxfp8_qdq_utils.py
  auto_round_extension/vllm_ext/torchao_patch.py
  auto_round_extension/vllm_ext/utils.py
Due: .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test.yml

fix coverage
  .azure-pipelines/template/docker-template.yml
  .azure-pipelines/unit-test.yml
Due: .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix env
  .azure-pipelines/scripts/ut/run_ut.sh
  .azure-pipelines/template/ut-template.yml
Due: .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

simplify what's new and add publication_list
  README.md
  docs/publication_list.md
Due: none

remove tbb (#1069)
  requirements-lib.txt
  requirements.txt
  test/test_cpu/requirements.txt
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

support for gguf mixed q2_k_s (#1059)
  auto_round/compressors/base.py
  auto_round/schemes.py
  test/test_cpu/test_gguf_format.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

upgrade setuptools
  .github/workflows/compatibility-test.yml
Due: none

fix
  .github/workflows/compatibility-test.yml
Due: none

fix
  test/test_cpu/requirements.txt
Due: .azure-pipelines/unit-test.yml

fix device
  auto_round/compressors/base.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

test
  .github/workflows/compatibility-test.yml
Due: none

test quant
  .github/workflows/compatibility-test.yml
Due: none

update per review comments and optimize expression
  README.md
  docs/publication_list.md
  docs/step_by_step.md
Due: none

add test
  .github/workflows/compatibility-test.yml
Due: none
