Repository intel/auto-round: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

.azure-pipelines/code-scan.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: BanditCodeScan
    displayName: Bandit Code Scan
    dependsOn: []
    jobs:
    - job: Bandit
      displayName: Bandit
      steps:
      - template: template/code-scan-template.yml
        parameters:
          codeScanFileName: bandit
          uploadPath: bandit.log
  ...

.azure-pipelines/unit-test-hpu.yml:
  pool: GAUDI
  stages:
  - stage: Unit_test
    displayName: Unit Test
    dependsOn: []
    jobs:
    - job: null
      displayName: Unit Test
      steps:
      - template: template/ut-template.yml
        parameters:
          imageSource: pull
          dockerConfigName: commonDockerConfig
  ...

.azure-pipelines/unit-test.yml:
  pool: ICX-16C
  stages:
  - stage: Unit_test
    displayName: Unit Test
    dependsOn: []
    jobs:
    - job: null
      displayName: Unit Test
      steps:
      - template: template/ut-template.yml
        parameters:
          dockerConfigName: commonDockerConfig
          utScriptFileName: run_ut
  ...

mv gc
  auto_round/export/export_to_gguf/convert.py
  auto_round/export/export_to_gguf/export.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

use latest version
  test/test_cuda/requirements_vlm.txt
Due: .azure-pipelines/unit-test.yml

fix torch
  test/test_cuda/requirements_vlm.txt
Due: .azure-pipelines/unit-test.yml

tmp fix
  auto_round/autoround.py
  auto_round/export/export_to_gguf/convert.py
  auto_round/export/export_to_gguf/export.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix bug
  auto_round/autoround.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix clean moe bug
  auto_round/export/export_to_gguf/convert.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

clean
  auto_round/export/export_to_gguf/convert.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

refine code
  auto_round/autoround.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

clean code
  auto_round/export/export_to_gguf/export.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix
  auto_round/autoround.py
  auto_round/utils.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix multiple gpu issue
  auto_round/autoround.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix typo
  auto_round/export/__init__.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix deepseekv3 issue
  auto_round/export/export_to_gguf/convert.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix line too long
  auto_round/export/export_to_gguf/convert.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix embedding mixed bits setting
  auto_round/autoround.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

update version to 0.6.0
  auto_round/version.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

support packing immediately for gguf to reduce ram usage (#638)
  auto_round/autoround.py
  auto_round/export/__init__.py
  auto_round/export/export_to_gguf/convert.py
  auto_round/export/export_to_gguf/export.py
  auto_round/utils.py
  auto_round/version.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

only for ut
  auto_round/version.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix log
  auto_round/autoround.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

check
  q2_autoround_baseline.sh
  q4_autoround_baseline.sh
Due: none

Delete q2_autoround_baseline.sh
  q2_autoround_baseline.sh
Due: none

update gguf_accuracy(q3_ks)
  docs/gguf_accuracy.md
Due: none

Delete q4_autoround_baseline.sh
  q4_autoround_baseline.sh
Due: none

Update gguf_accuracy (q3_ks)
  docs/gguf_accuracy.md
Due: none

.
  q2_k_s.sh
Due: none

auto choose the layer with mix bit
  .history/docs/gguf_accuracy_20250706001140.md
  .history/docs/gguf_accuracy_20250706001220.md
  .history/docs/gguf_accuracy_20250706001321.md
  auto_round/autoround.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

Delete q4_test.sh
  q4_test.sh
Due: none

Delete q3_autoround_baseline.sh
  q3_autoround_baseline.sh
Due: none

Delete q2_k_s.sh
  q2_k_s.sh
Due: none

Delete q4_auroround_baseline.sh
  q4_auroround_baseline.sh
Due: none

support for gguf packing immediatly
  auto_round/data_type/gguf.py
  auto_round/export/export_to_gguf/convert.py
  auto_round/export/export_to_gguf/packing.py
  auto_round/wrapper.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

Delete _autoround.log
  _autoround.log
Due: none

fix
  auto_round/data_type/gguf.py
  auto_round/export/export_to_gguf/packing.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

Delete .log
  .log
Due: none

Path conditions:
  .azure-pipelines/code-scan.yml: any of: auto_round, setup.py, requirements.txt, .azure-pipelines/code-scan.yml, .azure-pipelines/scripts/codeScan
  .azure-pipelines/unit-test-hpu.yml: any of: auto_round, test/test*hpu*', setup.py, requirements-hpu.txt, .azure-pipelines/scripts/ut, but not: auto_round/export/export_to_autogptq, auto_round/export/export_to_awq, *.md, **/*.md
  .azure-pipelines/unit-test.yml: any of: auto_round, auto_round_extension, test, setup.py, requirements_pt.txt, .azure-pipelines/scripts/ut
