Repository intel/auto-round: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

.azure-pipelines/code-scan.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: BanditCodeScan
    displayName: Bandit Code Scan
    dependsOn: []
    jobs:
    - job: Bandit
      displayName: Bandit
      steps:
      - template: template/code-scan-template.yml
        parameters:
          codeScanFileName: bandit
          uploadPath: bandit.log
  ...

.azure-pipelines/compatibility-test.yml:
  stages:
  - stage: null
    displayName: Compatibility Test
    dependsOn: []
    jobs:
    - job: null
      timeoutInMinutes: 20
      strategy:
        matrix:
          Python310_Linux:
            python_version: '3.10'
            vmImage: ubuntu-latest
          Python311_Linux:
            python_version: '3.11'
  ...

.azure-pipelines/unit-test-hpu.yml:
  pool: GAUDI
  stages:
  - stage: Unit_test
    displayName: Unit Test
    dependsOn: []
    jobs:
    - job: null
      displayName: Unit Test
      steps:
      - template: template/ut-template.yml
        parameters:
          imageSource: pull
          dockerConfigName: commonDockerConfig
  ...

.azure-pipelines/unit-test-xpu.yml:
  pool: B60
  stages:
  - stage: Unit_test
    displayName: Unit Test
    dependsOn: []
    jobs:
    - job: null
      displayName: Unit Test
      steps:
      - template: template/ut-template.yml
        parameters:
          dockerConfigName: commonDockerConfig
          utScriptFileName: run_ut_xpu
  ...

.azure-pipelines/unit-test.yml:
  pool: ICX-16C
  stages:
  - stage: Unit_test
    displayName: Unit Test
    dependsOn: []
    jobs:
    - job: null
      timeoutInMinutes: 120
      strategy:
        matrix:
          part1:
            PART: 1
          part2:
            PART: 2
          part3:
            PART: 3
          part4:
            PART: 4
  ...

Update RunPod management to the V2 API. (#2271)
  .azure-pipelines/nightly-test-cuda.yml
  .azure-pipelines/scripts/cuda_unit_test/monitor_gpu.py
  .azure-pipelines/scripts/cuda_unit_test/runpod_manager.py
  .azure-pipelines/unit-test-cuda.yml
  .claude/skills/review-pr/SKILL.md
  AGENTS.md
Due: none

bug fix
  .azure-pipelines/scripts/ut/run_ut.sh
Due: .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

feat: Add MXFP even rounding quantization schemes for 4 and 8 bits
  auto_round/data_type/mxfp.py
  auto_round/schemes.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix(diffusion): use real images for I2V calibration
  README.md
  README_CN.md
  auto_round/calibration/diffusion.py
  auto_round/compressors/diffusion/dataset.py
  test/unit/common/calibration/test_diffusion.py
  test/unit/common/models/test_diffusion_dataset.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

feat: Add AI analysis for CI
  .azure-pipelines/scripts/ai_analysis/ai_analyze.py
  .azure-pipelines/scripts/ai_analysis/analyze_failures.py
  .azure-pipelines/scripts/ai_analysis/match_known_issues.py
  .azure-pipelines/scripts/ai_analysis/merge_reports.py
  .azure-pipelines/scripts/ai_analysis/post_pr_comment.py
  .azure-pipelines/template/ai-analysis-template.yml
  .azure-pipelines/unit-test.yml
Due: .azure-pipelines/unit-test.yml

Refactor coverage configuration to use 'exclude_also' instead of 'exclude_lines' for better clarity and maintainability.
  .azure-pipelines/scripts/ut/coveragerc/cpu.coveragerc
  .azure-pipelines/scripts/ut/coveragerc/cuda.coveragerc
  .azure-pipelines/scripts/ut/coveragerc/hpu.coveragerc
  .azure-pipelines/scripts/ut/coveragerc/xpu.coveragerc
Due: .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

docs: align low_cpu_mem_usage CLI docs with implementation
  README.md
Due: none

docs: sync low_cpu_mem_usage behavior across CN and guides
  README_CN.md
  docs/step_by_step.md
  docs/step_by_step_CN.md
Due: none

fix file path
  .azure-pipelines/scripts/ut/run_ut.sh
  .azure-pipelines/template/ut-template.yml
Due: .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

refactor: replace the allow_w8_asym argument with the AR_ALLOW_W8_ASYM env
  auto_round/auto_scheme/delta_loss.py
  auto_round/auto_scheme/gen_auto_scheme.py
  auto_round/autoround.py
  auto_round/cli/main.py
  auto_round/cli/parser.py
  auto_round/compressors/base.py
  auto_round/compressors/layer_config_resolver.py
  auto_round/compressors/model_free.py
  auto_round/envs.py
  auto_round/export/export_to_llmcompressor/export.py
  auto_round/schemes.py
  docs/environments.md
  docs/environments_CN.md
  docs/step_by_step.md
  docs/step_by_step_CN.md
  test/unit/common/quantization/test_asym.py
  test/unit/common/schemes/test_auto_scheme.py
  test/unit/common/schemes/test_w8_asym_policy.py
  test/unit/common/utils/test_layer_config_resolver.py
  test/unit/test_cpu/quantization/test_model_free_parity.py
  test/unit/test_cuda/export/test_autoround_int_export.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix(diffusion): use real images for I2V calibration (#2272)
  README.md
  README_CN.md
  auto_round/calibration/diffusion.py
  auto_round/compressors/diffusion/dataset.py
  test/unit/common/calibration/test_diffusion.py
  test/unit/common/models/test_diffusion_dataset.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

try unified coverage path
  .azure-pipelines/scripts/ut/run_ut_xpu.sh
  .azure-pipelines/unit-test-xpu.yml
Due: .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml

Report format update
  .azure-pipelines/scripts/ai_analysis/analyze_failures.py
  .azure-pipelines/scripts/ai_analysis/merge_reports.py
Due: none

minor report update
  .azure-pipelines/scripts/ai_analysis/merge_reports.py
Due: none

fix issue
  .azure-pipelines/scripts/ut/retry_failed_tests.sh
  .azure-pipelines/scripts/ut/run_ut.sh
  .azure-pipelines/scripts/ut/run_ut_xpu.sh
Due: .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

update
  auto_round/export/export_to_awq/utils.py
  auto_round/export/formats/backends/auto_awq.py
  auto_round/export/formats/backends/auto_gptq.py
  auto_round/export/formats/backends/autoround.py
  auto_round/inference/backend.py
  auto_round/inference/convert_model.py
  auto_round/schemes.py
  auto_round/utils/bit_packing.py
  auto_round_extension/humming/__init__.py
  auto_round_extension/humming/qlinear_humming.py
  auto_round_extension/torch/qlinear_torch.py
  auto_round_extension/torch/qlinear_torch_zp.py
  docs/step_by_step.md
  docs/step_by_step_CN.md
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

update
  auto_round/inference/backend.py
  auto_round_extension/humming/qlinear_humming.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix: model-free format handling and asymmetric zero-point packing
  auto_round/autoround.py
  auto_round/compressors/model_free.py
  auto_round/utils/missing_tensors.py
  auto_round/utils/model_free_utils.py
  test/unit/common/core/test_entry_scheme_unification.py
  test/unit/common/quantization/test_model_free.py
  test/unit/common/utils/test_missing_tensors.py
  test/unit/test_cpu/export/test_qlinear_pack_clamp.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Run all the failed cases in one trial
  .azure-pipelines/scripts/ut/detect_changed_tests.sh
  .azure-pipelines/scripts/ut/retry_failed_tests.sh
Due: .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

log print optimize
  .azure-pipelines/scripts/ut/run_ut.sh
  .azure-pipelines/scripts/ut/run_ut_xpu.sh
Due: .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Remove duplicate AR_DISK_STREAM_MODEL/AR_RESUME_DIR doc sections
  docs/environments.md
Due: none

fix: asymmetric zero-point packing, format-scoped 8-bit asym, W5/W6/W7 llm_compressor presets (#2273)
  auto_round/auto_scheme/delta_loss.py
  auto_round/auto_scheme/gen_auto_scheme.py
  auto_round/autoround.py
  auto_round/compressors/base.py
  auto_round/compressors/layer_config_resolver.py
  auto_round/compressors/model_free.py
  auto_round/envs.py
  auto_round/export/export_to_awq/utils.py
  auto_round/export/export_to_llmcompressor/export.py
  auto_round/export/formats/backends/llm_compressor.py
  auto_round/schemes.py
  auto_round/utils/missing_tensors.py
  auto_round/utils/model_free_utils.py
  auto_round_extension/torch/qlinear_torch.py
  auto_round_extension/torch/qlinear_torch_zp.py
  docs/environments.md
  docs/environments_CN.md
  docs/step_by_step.md
  docs/step_by_step_CN.md
  test/unit/common/core/test_entry_scheme_unification.py
  test/unit/common/export/test_format_helpers.py
  test/unit/common/quantization/test_asym.py
  test/unit/common/quantization/test_model_free.py
  test/unit/common/schemes/test_auto_scheme.py
  test/unit/common/schemes/test_w8_asym_policy.py
  test/unit/common/utils/test_layer_config_resolver.py
  test/unit/common/utils/test_missing_tensors.py
  test/unit/test_cpu/export/test_llmc_format.py
  test/unit/test_cpu/export/test_qlinear_pack_clamp.py
  test/unit/test_cpu/quantization/test_model_free_parity.py
  test/unit/test_cuda/export/test_autoround_int_export.py
  test/unit/test_cuda/quantization/test_act_quantization.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Potential fix for pull request finding
  auto_round_extension/ark/test/test_weightonly.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-xpu.yml

fix CUDA UT
  test/e2e/test_cuda/test_moe_accuracy.py
  test/unit/common/utils/test_common_utils.py
  test/unit/common/utils/test_device.py
  test/unit/test_cpu/models/test_block_names.py
  test/unit/test_cuda/quantization/test_mxfp_nvfp.py
Due: .azure-pipelines/unit-test.yml

bug fix
  .azure-pipelines/scripts/ut/detect_changed_tests.sh
  .azure-pipelines/scripts/ut/retry_failed_tests.sh
Due: .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix: replace bare except clauses with except Exception (#1981)
  auto_round/calib_dataset.py
  auto_round/inference/backend.py
  auto_round/inference/convert_model.py
  auto_round/modeling/unfused_moe/__init__.py
  auto_round/utils/common.py
  auto_round/utils/device.py
  auto_round/utils/device_manager.py
  auto_round/utils/model.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Add atomic write function for staging failed logs
  .azure-pipelines/scripts/ut/collect_result.py
Due: .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

minor update
  .azure-pipelines/scripts/ut/detect_changed_tests.sh
Due: .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

Enhance _add_routed_experts_if_moe to trigger on non-standard expert paths and generic projection names
  auto_round/utils/model_free_utils.py
  test/unit/test_cpu/utils/test_model_free_utils.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

standardize desc of skip_cli
  .azure-pipelines/scripts/cuda_unit_test/run_cuda_ut.sh
  test/fixtures.py
  test/integration/test_cuda/test_huggingface.py
  test/integration/test_cuda/test_sglang.py
  test/integration/test_cuda/test_vllm.py
  test/unit/common/quantization/test_asym.py
  test/unit/common/test_skip_ci_policy.py
  test/unit/test_cpu/backends/test_torch_backend.py
  test/unit/test_cuda/advanced/test_evaluation.py
  test/unit/test_cuda/advanced/test_multiple_card.py
  test/unit/test_cuda/algorithms/test_alg_ext.py
  test/unit/test_cuda/algorithms/test_auto_scheme.py
  test/unit/test_cuda/algorithms/test_awq.py
  test/unit/test_cuda/algorithms/test_awq_accuracy.py
  test/unit/test_cuda/backends/test_exllamav2_backend.py
  test/unit/test_cuda/backends/test_gptqmodel_awq_backend.py
  test/unit/test_cuda/backends/test_marlin_backend.py
  test/unit/test_cuda/backends/test_torch_backend.py
  test/unit/test_cuda/backends/test_torch_backend_accuracy.py
  test/unit/test_cuda/backends/test_triton_backend.py
  test/unit/test_cuda/calibration/test_customized_data.py
  test/unit/test_cuda/export/test_auto_awq_format.py
  test/unit/test_cuda/export/test_auto_gptq_format.py
  test/unit/test_cuda/export/test_auto_round_format.py
  test/unit/test_cuda/export/test_gguf_format.py
  test/unit/test_cuda/export/test_llmc_format.py
  test/unit/test_cuda/models/test_diffusion.py
  test/unit/test_cuda/models/test_fp8_model.py
  test/unit/test_cuda/models/test_get_block_name.py
  test/unit/test_cuda/models/test_mllm.py
  test/unit/test_cuda/models/test_omni_model.py
  test/unit/test_cuda/models/test_support_vlms.py
  test/unit/test_cuda/quantization/test_mxfp_nvfp.py
  test/unit/test_cuda/quantization/test_torch_compile.py
  test/unit/test_xpu/backends/test_torch_backend.py
Due: .azure-pipelines/unit-test.yml

fix: normalize device indices when setting CUDA_VISIBLE_DEVICES
  auto_round/utils/device.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

add log print
  .azure-pipelines/scripts/ut/retry_failed_tests.sh
Due: .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

update awq detail data of fake eval
  docs/awq_details.md
  docs/awq_details_CN.md
Due: none

update test log name
  .azure-pipelines/scripts/ut/retry_failed_tests.sh
Due: .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

Revert "For test only, need to revert before merge."
  test/integration/test_cpu/test_llmc_integration.py
  test/unit/common/utils/test_apply.py
  test/unit/test_cpu/algorithms/test_awq.py
Due: .azure-pipelines/unit-test.yml

fix: skip activation fake-quant in FakeActQuantLinear when act quantization is not configured
  auto_round/experimental/qmodules/fake.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

enable failed cases trigger for cuda8 test
  .azure-pipelines/scripts/cuda_unit_test/run_cuda_ut.sh
  .azure-pipelines/unit-test-cuda.yml
Due: none

update
  auto_round/export/formats/backends/auto_awq.py
  test/unit/test_cpu/export/test_export.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

feat: update download_audiocaps_csv to prefer AR_WORKSPACE for cache location
  auto_round/utils/common.py
  test/unit/common/utils/test_common_utils.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Path conditions:
  .azure-pipelines/code-scan.yml: any of: auto_round, auto_round_extension, setup.py, requirements.txt, requirements-cpu.txt, requirements-hpu.txt, .azure-pipelines/code-scan.yml, .azure-pipelines/scripts/codeScan
  .azure-pipelines/compatibility-test.yml: any of: auto_round, auto_round_extension, setup.py, setup.cfg, requirements.txt, requirements-cpu.txt, .azure-pipelines/compatibility-test.yml, but not: *.md, **/*.md
  .azure-pipelines/unit-test-hpu.yml: any of: auto_round, test/test*hpu*', setup.py, requirements-lib.txt, .azure-pipelines/scripts/ut, .azure-pipelines/template/docker-template.yml, .azure-pipelines/template/ut-template.yml, but not: auto_round/export/export_to_autogptq, auto_round/export/export_to_awq, *.md, **/*.md
  .azure-pipelines/unit-test-xpu.yml: any of: auto_round, auto_round_extension, test/test_ark, test/test_xpu, setup.py, .azure-pipelines/template/ut-template.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/scripts/ut/run_ut_xpu.sh, but not: *.md, **/*.md
  .azure-pipelines/unit-test.yml: any of: auto_round, auto_round_extension, test, setup.py, requirements.txt, requirements-cpu.txt, .azure-pipelines/scripts/ut, .azure-pipelines/unit-test.yml, .azure-pipelines/template/ut-template.yml, .azure-pipelines/template/docker-template.yml, but not: auto_round_extension/ark, test/test_hpu, test/test_ark, test/test_xpu, *.md, **/*.md, .azure-pipelines/scripts/ut/run_ut_hpu.sh, .azure-pipelines/scripts/ut/run_ut_cuda.sh, .azure-pipelines/scripts/ut/run_ut_xpu.sh
