Repository intel/auto-round: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

Path conditions:
  .azure-pipelines/code-scan.yml: any of: auto_round, setup.py, requirements.txt, .azure-pipelines/code-scan.yml, .azure-pipelines/scripts/codeScan
  .azure-pipelines/compatibility-test.yml: any of: auto_round, auto_round_extension, setup.py, setup.cfg, requirements.txt, requirements-cpu.txt, .azure-pipelines/compatibility-test.yml, but not: *.md, **/*.md
  .azure-pipelines/unit-test-hpu.yml: any of: auto_round, test/test*hpu*', setup.py, requirements-lib.txt, .azure-pipelines/scripts/ut, .azure-pipelines/template/docker-template.yml, .azure-pipelines/template/ut-template.yml, but not: auto_round/export/export_to_autogptq, auto_round/export/export_to_awq, *.md, **/*.md
  .azure-pipelines/unit-test.yml: any of: auto_round, auto_round_extension, test, setup.py, requirements.txt, requirements-cpu.txt, .azure-pipelines/scripts/ut, .azure-pipelines/unit-test.yml, .azure-pipelines/template/ut-template.yml, .azure-pipelines/template/docker-template.yml, but not: test/test*hpu*, *.md, **/*.md

refine code
  .github/workflows/compatibility-test.yml
Due: none

fix import
  auto_round_extension/vllm_ext/__init__.py
  auto_round_extension/vllm_ext/auto_round_ext.py
  auto_round_extension/vllm_ext/tests/test_models.py
Due: .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test.yml

fix model path
  auto_round_extension/vllm_ext/tests/test_models.py
Due: .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test.yml

update ut
  auto_round_extension/vllm_ext/__init__.py
  auto_round_extension/vllm_ext/tests/test_models.py
Due: .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test.yml

update envs
  auto_round_extension/vllm_ext/envs_ext.py
Due: .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test.yml

remove tbb (#1069) (#1072)
  requirements-lib.txt
  requirements.txt
  test/test_cpu/requirements.txt
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

remove tbb (#1069)
  requirements-lib.txt
  requirements.txt
  test/test_cpu/requirements.txt
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

bump to v0.9.1
  README.md
  auto_round/version.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

Add compatibility test for ARM (#1073)
  .github/workflows/compatibility-test.yml
Due: none

fix log path
  .azure-pipelines/scripts/ut/collect_log.sh
Due: .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

update version
  README.md
  auto_round/version.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix
  .azure-pipelines/scripts/ut/.coverage
Due: .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

remove
  .azure-pipelines/template/ut-template.yml
Due: .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

Optimize CPU CI pipelines (#1071)
  .azure-pipelines/docker/Dockerfile.devel
  .azure-pipelines/scripts/ut/.coverage
  .azure-pipelines/scripts/ut/collect_log.sh
  .azure-pipelines/scripts/ut/run_ut.sh
  .azure-pipelines/template/docker-template.yml
  .azure-pipelines/template/ut-template.yml
  .azure-pipelines/unit-test-hpu.yml
  .azure-pipelines/unit-test.yml
  README.md
  auto_round/version.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

update publications
  docs/publication_list.md
Due: none

fix
  test/test_cpu/requirements.txt
Due: .azure-pipelines/unit-test.yml

fix ut and add cuda ut
  test/test_cuda/test_moe_model.py
Due: .azure-pipelines/unit-test.yml

export kv scheme (#1068)
  auto_round/compressors/base.py
  auto_round/export/export_to_llmcompressor/export_to_static_fp.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix
  auto_round/compressors/base.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

Add LLMC integration test (#1053)
  auto_round/compressors/base.py
  test/test_cpu/requirements.txt
  test/test_cpu/test_llmc_integration.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

Support transformers loading quantized moe model (#1067)
  auto_round/inference/convert_model.py
  auto_round/modelling/gpt_oss.py
  auto_round/modelling/llama4.py
  auto_round/special_model_handler.py
  test/test_cpu/test_moe_model.py
  test/test_cuda/test_moe_model.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

refine logs, fix pack_layer for awq&gptq
  auto_round/compressors/base.py
  auto_round/export/export_to_autogptq/export.py
  auto_round/export/export_to_awq/export.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

added ark folder & removed qbits
  auto_round_extension/ark/__init__.py
  auto_round_extension/ark/qlinear.py
  auto_round_extension/qbits/qbits_awq.py
  auto_round_extension/qbits/qlinear_qbits.py
  auto_round_extension/qbits/qlinear_qbits_gptq.py
Due: .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test.yml

modified qbits to ark
  auto_round/inference/backend.py
  auto_round/inference/convert_model.py
  test/test_cpu/test_torch_backend.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

refine log, fix pack_layer for awq&gptq
  auto_round/compressors/base.py
  auto_round/export/export_to_autogptq/export.py
  auto_round/export/export_to_awq/export.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

exp: test accuracy of 3/4
  auto_round/data_type/mxfp.py
  workspace/exp.sh
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

update exp.sh
  workspace/exp.sh
Due: none

fix
  auto_round_extension/vllm_ext/utils.py
Due: .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test.yml

update alg_ext and add ut (#1064)
  auto_round/alg_ext.abi3.so
  auto_round/compressors/base.py
  auto_round/data_type/utils.py
  test/test_cpu/test_alg_ext.py
  test/test_cpu/test_autoround.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

simplify what's new and add publication_list (#1070)
  README.md
  docs/publication_list.md
  docs/step_by_step.md
Due: none

Add MXFP8 MOE/Linear and MXFP4 Linear (#1034)
  auto_round_extension/vllm_ext/README.md
  auto_round_extension/vllm_ext/__init__.py
  auto_round_extension/vllm_ext/apply_ext.sh
  auto_round_extension/vllm_ext/auto_round_ext.py
  auto_round_extension/vllm_ext/envs_ext.py
  auto_round_extension/vllm_ext/fp4_utils.py
  auto_round_extension/vllm_ext/linear_impl_mxfp4.py
  auto_round_extension/vllm_ext/linear_impl_mxfp8.py
  auto_round_extension/vllm_ext/moe_impl_mxfp4.py
  auto_round_extension/vllm_ext/moe_impl_mxfp8.py
  auto_round_extension/vllm_ext/mxfp4_qdq_utils.py
  auto_round_extension/vllm_ext/mxfp8_qdq_utils.py
  auto_round_extension/vllm_ext/quant_impl.py
  auto_round_extension/vllm_ext/quant_method_linear.py
  auto_round_extension/vllm_ext/quant_method_moe.py
  auto_round_extension/vllm_ext/tests/test_models.py
  auto_round_extension/vllm_ext/utils.py
Due: .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test.yml

refine sampler
  auto_round/compressors/base.py
  auto_round/compressors/utils.py
  auto_round/utils/common.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

add awq&gptq lm_head UT
  test/test_cpu/test_export.py
  test/test_cuda/test_export.py
Due: .azure-pipelines/unit-test.yml

clean
  auto_round/compressors/base.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

refine
  auto_round/compressors/utils.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml
