Repository intel/auto-round: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

Path conditions:
  .azure-pipelines/code-scan.yml: any of: auto_round, setup.py, requirements.txt, .azure-pipelines/code-scan.yml, .azure-pipelines/scripts/codeScan
  .azure-pipelines/compatibility-test.yml: any of: auto_round, auto_round_extension, setup.py, setup.cfg, requirements.txt, requirements-cpu.txt, .azure-pipelines/compatibility-test.yml, but not: *.md, **/*.md
  .azure-pipelines/unit-test-hpu.yml: any of: auto_round, test/test*hpu*', setup.py, requirements-lib.txt, .azure-pipelines/scripts/ut, .azure-pipelines/template/docker-template.yml, .azure-pipelines/template/ut-template.yml, but not: auto_round/export/export_to_autogptq, auto_round/export/export_to_awq, *.md, **/*.md
  .azure-pipelines/unit-test.yml: any of: auto_round, auto_round_extension, test, setup.py, requirements.txt, requirements-cpu.txt, .azure-pipelines/scripts/ut, .azure-pipelines/unit-test.yml, .azure-pipelines/template/ut-template.yml, .azure-pipelines/template/docker-template.yml, but not: test/test*hpu*, *.md, **/*.md

update and clean
  auto_round/auto_scheme/gen_auto_scheme.py
  auto_round/compressors/base.py
  auto_round/compressors/diffusion/compressor.py
  auto_round/compressors/utils.py
  auto_round/export/export_to_autogptq/export.py
  auto_round/export/export_to_autoround/export.py
  auto_round/export/export_to_autoround/export_to_fp8.py
  auto_round/export/export_to_autoround/export_to_nvfp_mxfp.py
  auto_round/export/export_to_awq/export.py
  auto_round/export/export_to_gguf/convert.py
  auto_round/export/export_to_llmcompressor/export.py
  auto_round/export/export_to_llmcompressor/export_to_fp.py
  auto_round/export/export_to_llmcompressor/export_to_static_fp.py
  auto_round/export/utils.py
  auto_round/utils/__init__.py
  auto_round/utils/common.py
  auto_round/utils/device.py
  auto_round/utils/dtype_utils.py
  auto_round/utils/memory_utils.py
  auto_round/utils/model.py
  auto_round/wrapper.py
  test/test_cuda/test_main_func.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

reduce file
  auto_round/compressors/utils.py
  auto_round/utils/__init__.py
  auto_round/utils/common.py
  auto_round/utils/constants.py
  auto_round/utils/device.py
  auto_round/utils/model.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

update readme
  auto_round/compressors/diffusion/README.md
  docs/step_by_step.md
Due: .azure-pipelines/code-scan.yml

Add diffusion README (#923)
  auto_round/compressors/diffusion/README.md
  docs/step_by_step.md
Due: .azure-pipelines/code-scan.yml

fix
  auto_round_extension/vllm_ext/mxfp4_qdq_utils.py
Due: .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test.yml

use absolute path
  auto_round_extension/vllm_ext/__init__.py
  auto_round_extension/vllm_ext/auto_round_ext.py
  auto_round_extension/vllm_ext/moe_impl_mxfp4.py
  auto_round_extension/vllm_ext/mxfp4_qdq_utils.py
  auto_round_extension/vllm_ext/quant_method_moe.py
Due: .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test.yml

fix merge
  auto_round/compressors/base.py
  auto_round/compressors/utils.py
  auto_round/export/export_to_autoround/export_to_nvfp_mxfp.py
  auto_round/export/export_to_autoround/qlinear_fp.py
  auto_round/export/export_to_llmcompressor/export_to_fp.py
  auto_round/utils.py
  auto_round/utils/device.py
  auto_round/utils/model.py
  auto_round/wrapper.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

refine device_map code
  auto_round/auto_scheme/gen_auto_scheme.py
  auto_round/compressors/adam_comperssor.py
  auto_round/compressors/base.py
  auto_round/data_type/int.py
  auto_round/schemes.py
  auto_round/utils_bk/__init__.py
  auto_round/utils_bk/device.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

refine device_map code
  auto_round/compressors/base.py
  auto_round/utils_bk/device.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix adam issue
  auto_round/compressors/__init__.py
  auto_round/compressors/adam.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

tiny change
  auto_round/compressors/__init__.py
  auto_round/compressors/base.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix ut
  test/test_cpu/test_gguf_format.py
  test/test_cpu/test_utils.py
Due: .azure-pipelines/unit-test.yml

update
  auto_round/compressors/adam.py
  auto_round/compressors/base.py
  auto_round/utils_bk/device.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix
  auto_round/compressors/utils.py
  auto_round/utils/model.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

try to fix preci
  auto_round/compressors/base.py
  auto_round/utils_bk/device.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

trigger ut
  auto_round/auto_scheme/gen_auto_scheme.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

update readme
  README.md
  docs/auto_scheme_acc.md
Due: none

update readme (#949)
  README.md
  docs/auto_scheme_acc.md
Due: none

update gguf and support for CompressedLinear
  auto_round/export/export_to_gguf/convert_hf_to_gguf.py
  auto_round/export/export_to_gguf/export.py
  auto_round/utils.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix
  auto_round/export/export_to_gguf/export.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

refactor utils file (#943)
  auto_round/alg_ext.abi3.so
  auto_round/auto_scheme/gen_auto_scheme.py
  auto_round/compressors/base.py
  auto_round/compressors/diffusion/compressor.py
  auto_round/compressors/mllm/compressor.py
  auto_round/compressors/utils.py
  auto_round/export/export_to_autogptq/export.py
  auto_round/export/export_to_autoround/export.py
  auto_round/export/export_to_autoround/export_to_fp8.py
  auto_round/export/export_to_autoround/export_to_nvfp_mxfp.py
  auto_round/export/export_to_autoround/qlinear_fp.py
  auto_round/export/export_to_autoround/qlinear_triton_act.py
  auto_round/export/export_to_awq/export.py
  auto_round/export/export_to_awq/utils.py
  auto_round/export/export_to_gguf/convert.py
  auto_round/export/export_to_llmcompressor/export.py
  auto_round/export/export_to_llmcompressor/export_to_fp.py
  auto_round/export/export_to_llmcompressor/export_to_static_fp.py
  auto_round/export/utils.py
  auto_round/utils.py
  auto_round/utils/__init__.py
  auto_round/utils/common.py
  auto_round/utils/device.py
  auto_round/utils/model.py
  auto_round/wrapper.py
  auto_round_extension/torch/qlinear_torch.py
  auto_round_extension/torch/qlinear_torch_zp.py
  auto_round_extension/triton/qlinear_tritonv2.py
  test/test_cpu/test_gguf_format.py
  test/test_cpu/test_utils.py
  test/test_cuda/test_main_func.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

update
  auto_round/export/export_to_gguf/convert.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix merge issue
  auto_round/compressors/base.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

merge utils
  auto_round/compressors/base.py
  auto_round/utils/device.py
  auto_round/utils_bk/__init__.py
  auto_round/utils_bk/device.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix import issues
  auto_round/utils/device.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix
  auto_round/__main__.py
  auto_round/export/export_to_gguf/convert_hf_to_gguf.py
  test/test_cpu/test_gguf_format.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix
  auto_round/compressors/base.py
  auto_round/compressors/mllm/compressor.py
  auto_round/special_model_handler.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

update
  auto_round/auto_scheme/gen_auto_scheme.py
  auto_round/utils/device.py
  test/test_cpu/test_gguf_format.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

add seq experts
  auto_round/modelling/qwen3_vl_moe.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

codescan
  auto_round/export/export_to_gguf/convert_hf_to_gguf.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

load converted model
  auto_round/inference/convert_model.py
  auto_round/modelling/qwen3_vl_moe.py
  auto_round/special_model_handler.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

pre dequant
  auto_round/envs.py
  auto_round/experimental/qmodules/fp8_static.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix
  auto_round/inference/convert_model.py
  auto_round/special_model_handler.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

pre dequant
  auto_round/experimental/qmodules/fp8_static.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

update readme for sglang support
  README.md
Due: none

fix bug of imatrix contains 0
  auto_round/data_type/gguf.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix issues
  auto_round/schemes.py
  auto_round/utils/device.py
  auto_round/utils/model.py
  auto_round/wrapper.py
  test/test_cuda/test_auto_scheme.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

refine doc
  README.md
Due: none

Update README.md
  README.md
Due: none

update readme for sglang support (#953)
  README.md
Due: none
