Repository intel/auto-round: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Path conditions:
  .azure-pipelines/code-scan.yml: any of: auto_round, auto_round_extension, setup.py, requirements.txt, requirements-cpu.txt, requirements-hpu.txt, .azure-pipelines/code-scan.yml, .azure-pipelines/scripts/codeScan
  .azure-pipelines/compatibility-test.yml: any of: auto_round, auto_round_extension, setup.py, setup.cfg, requirements.txt, requirements-cpu.txt, .azure-pipelines/compatibility-test.yml, but not: *.md, **/*.md
  .azure-pipelines/unit-test-hpu.yml: any of: auto_round, test/test*hpu*', setup.py, requirements-lib.txt, .azure-pipelines/scripts/ut, .azure-pipelines/template/docker-template.yml, .azure-pipelines/template/ut-template.yml, but not: auto_round/export/export_to_autogptq, auto_round/export/export_to_awq, *.md, **/*.md
  .azure-pipelines/unit-test-xpu.yml: any of: auto_round/utils, auto_round_extension/ark, test/test_ark, setup.py, .azure-pipelines/template/ut-template.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/scripts/ut/run_ut_xpu.sh, but not: *.md, **/*.md
  .azure-pipelines/unit-test.yml: any of: auto_round, auto_round_extension, test, setup.py, requirements.txt, requirements-cpu.txt, .azure-pipelines/scripts/ut, .azure-pipelines/unit-test.yml, .azure-pipelines/template/ut-template.yml, .azure-pipelines/template/docker-template.yml, but not: test/test*hpu*, *.md, **/*.md

Fix CPU CI (#1344)
  .azure-pipelines/scripts/ut/run_ut.sh
  .azure-pipelines/scripts/ut/run_ut_cuda.sh
  auto_round/calib_dataset.py
  auto_round/utils/__init__.py
  test/fixtures.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

update deps install steps
  .azure-pipelines/scripts/ut/run_ut_xpu.sh
  .azure-pipelines/template/ut-template.yml
Due: .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Fix cpu ut for transformers v5 (#1333)
  auto_round/eval/eval_cli.py
  auto_round/eval/evaluation.py
  auto_round/modelling/gpt_oss.py
  auto_round/modelling/llama4.py
  auto_round_extension/torch/qlinear_torch.py
  auto_round_extension/torch/qlinear_torch_zp.py
  test/fixtures.py
  test/helpers.py
  test/test_ark/requirements.txt
  test/test_cpu/core/test_autoround.py
  test/test_cpu/export/test_export.py
  test/test_cpu/export/test_gguf_format.py
  test/test_cpu/integrations/test_llmc_integration.py
  test/test_cpu/models/test_diffusion.py
  test/test_cpu/models/test_moe_model.py
  test/test_cpu/quantization/test_mxfp_nvfp.py
  test/test_cpu/requirements.txt
  test/test_cuda/models/test_moe_model.py
  test/test_cuda/quantization/test_mix_bits.py
  test/test_cuda/quantization/test_mxfp_nvfp.py
  test/test_cuda/requirements.txt
  test/test_cuda/requirements_sglang.txt
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix cuda ut fail for transformers v5.0
  test/test_cuda/advanced/test_fp8_input.py
  test/test_cuda/export/test_gguf.py
  test/test_cuda/models/test_diffusion.py
  test/test_cuda/models/test_get_block_name.py
  test/test_cuda/models/test_support_vlms.py
  test/test_cuda/schemes/test_scheme.py
Due: .azure-pipelines/unit-test.yml

set default eval batch size to avoid None case
  auto_round/__main__.py
  auto_round/eval/eval_cli.py
  test/test_cuda/requirements.txt
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix cpu llama4 issue
  test/test_cpu/models/test_moe_model.py
Due: .azure-pipelines/unit-test.yml

fix typo
  test/test_cuda/requirements.txt
Due: .azure-pipelines/unit-test.yml

refactor auto_round api, using local symbol table to pass all args
  auto_round/autoround.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

use monkey_patch to resolve no_init_weights issue of auto_gptq
  auto_round/utils/common.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

add skip for transformers issue
  test/test_cuda/export/test_export.py
Due: .azure-pipelines/unit-test.yml

support general moe replacement
  auto_round/modelling/__init__.py
  auto_round/modelling/moe_experts_impl.py
  auto_round/modelling/replace_modules.py
  test/test_moe_experts_impl.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix ut issues
  auto_round/utils/model.py
  test/test_cuda/models/test_moe_experts_impl.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix
  auto_round/compressors/base.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

add skip for moe and add mock_cuda_capability for fp8 model input
  test/test_cpu/models/test_moe_model.py
  test/test_cuda/models/test_moe_model.py
  test/test_cuda/quantization/test_mxfp_nvfp.py
Due: .azure-pipelines/unit-test.yml

add ds patch
  auto_round/modelling/v5/deepseek/__init__.py
  auto_round/modelling/v5/deepseek/ds_in_v5_demo.py
  auto_round/modelling/v5/deepseek/ds_patch.py
  auto_round/modelling/v5/deepseek/fp8_quantizer_patch.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix
  auto_round/modelling/v5/deepseek/__init__.py
  auto_round/modelling/v5/deepseek/ds_in_v5_demo.py
  auto_round/modelling/v5/deepseek/fp8_quantizer_patch.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

merge
  auto_round/modelling/v5/deepseek/fp8_quantizer_patch.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

Autoround in vLLM Office Hours (#1322)
  docs/publication_list.md
Due: none

fix
  auto_round/compressors/base.py
  auto_round/eval/evaluation.py
  test/test_ark/test_model.py
  test/test_cpu/backends/test_torch_backend.py
  test/test_cpu/core/test_autoround.py
  test/test_cpu/core/test_init.py
  test/test_cpu/export/test_export.py
  test/test_cpu/export/test_gguf_format.py
  test/test_cpu/integrations/test_llmcompressor.py
  test/test_cpu/models/test_mllm.py
  test/test_cpu/models/test_moe_model.py
  test/test_cpu/quantization/test_act_quantization.py
  test/test_cpu/quantization/test_mix_bits.py
  test/test_cpu/quantization/test_mxfp_nvfp.py
  test/test_cpu/quantization/test_mxfp_save_load.py
  test/test_cpu/schemes/test_scheme.py
  test/test_cpu/utils/test_generation.py
  test/test_cuda/backends/test_torch_backend.py
  test/test_cuda/backends/test_triton_backend.py
  test/test_cuda/export/test_auto_round_format.py
  test/test_cuda/export/test_export.py
  test/test_cuda/export/test_gguf.py
  test/test_cuda/integrations/test_transformers.py
  test/test_cuda/quantization/test_2_3bits.py
  test/test_cuda/quantization/test_mix_bits.py
  test/test_cuda/quantization/test_mxfp_and_nvfp_quant.py
  test/test_cuda/quantization/test_mxfp_nvfp.py
  test/test_cuda/schemes/test_scheme.py
  test/test_xpu/test_autoround.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

update expected outputs for transformers 5.0.0 and refine model name checks in tests
  test/test_cuda/integrations/test_transformers.py
  test/test_cuda/models/test_vlms.py
Due: .azure-pipelines/unit-test.yml

fix
  auto_round/modelling/v5/deepseek/fp8_quantizer_patch.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

test transformers 5.0.0
  .azure-pipelines/scripts/ut/run_ut_cuda.sh
Due: .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

test torch 2.10
  .azure-pipelines/scripts/ut/run_ut_cuda.sh
Due: .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix transformers version <5.0
  requirements-lib.txt
  requirements.txt
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

bump release version into v0.9.7
  README.md
  auto_round/version.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix ut issues
  auto_round/export/export_to_autoround/export_to_nvfp_mxfp.py
  auto_round/export/utils.py
  auto_round/modelling/gpt_oss.py
  auto_round/modelling/llama4.py
  auto_round/modelling/moe_experts_impl.py
  auto_round/modelling/replace_modules.py
  auto_round/wrapper.py
  test/test_cuda/models/test_moe_model.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix
  .azure-pipelines/scripts/ut/run_ut_cuda.sh
Due: .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix prci issue
  auto_round/modeling/qwen3_moe.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix bug of exporting fp8 static
  auto_round/formats.py
  test/test_cpu/export/test_export.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

refactor auto_round api, using local symbol table to pass all args (#1358)
  auto_round/autoround.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

Update auto_round/formats.py
  auto_round/formats.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

Refactor FP8 dequantization and detection using registry pattern (#1348)
  auto_round/utils/model.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

remove default batch size
  auto_round/__main__.py
  auto_round/eval/eval_cli.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

keep moe failure waiting for #1345
  test/test_cuda/models/test_moe_model.py
  test/test_cuda/quantization/test_mxfp_nvfp.py
Due: .azure-pipelines/unit-test.yml

fix
  test/test_cpu/backends/test_torch_backend.py
  test/test_cpu/core/test_autoround.py
  test/test_cuda/advanced/test_fp8_input.py
  test/test_cuda/quantization/test_asym.py
  test/test_cuda/schemes/test_auto_scheme.py
  test/test_cuda/utils/test_alg_ext.py
Due: .azure-pipelines/unit-test.yml

fix infernce
  auto_round/compressors/base.py
  auto_round/inference/convert_model.py
  auto_round/modeling/__init__.py
  auto_round/modeling/legacy/__init__.py
  auto_round/modeling/legacy/deepseek_v2.py
  auto_round/modeling/legacy/gpt_oss.py
  auto_round/modeling/legacy/llama4.py
  auto_round/modeling/legacy/qwen3_vl_moe.py
  auto_round/modeling/legacy/replace_modules.py
  auto_round/modeling/legacy/utils.py
  auto_round/special_model_handler.py
  auto_round/utils/common.py
  auto_round/utils/model.py
  test/test_cpu/models/test_moe_model.py
  test/test_cuda/models/test_moe_model.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix preci issue
  auto_round/compressors/base.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix preci issue
  auto_round/compressors/base.py
  auto_round/modeling/__init__.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml
