Repository intel/auto-round: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Path conditions:
  .azure-pipelines/code-scan.yml: any of: auto_round, auto_round_extension, setup.py, requirements.txt, requirements-cpu.txt, requirements-hpu.txt, .azure-pipelines/code-scan.yml, .azure-pipelines/scripts/codeScan
  .azure-pipelines/compatibility-test.yml: any of: auto_round, auto_round_extension, setup.py, setup.cfg, requirements.txt, requirements-cpu.txt, .azure-pipelines/compatibility-test.yml, but not: *.md, **/*.md
  .azure-pipelines/unit-test-hpu.yml: any of: auto_round, test/test*hpu*', setup.py, requirements-lib.txt, .azure-pipelines/scripts/ut, .azure-pipelines/template/docker-template.yml, .azure-pipelines/template/ut-template.yml, but not: auto_round/export/export_to_autogptq, auto_round/export/export_to_awq, *.md, **/*.md
  .azure-pipelines/unit-test-xpu.yml: any of: auto_round, auto_round_extension, test/test_ark, test/test_xpu, setup.py, .azure-pipelines/template/ut-template.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/scripts/ut/run_ut_xpu.sh, but not: *.md, **/*.md
  .azure-pipelines/unit-test.yml: any of: auto_round, auto_round_extension, test, setup.py, requirements.txt, requirements-cpu.txt, .azure-pipelines/scripts/ut, .azure-pipelines/unit-test.yml, .azure-pipelines/template/ut-template.yml, .azure-pipelines/template/docker-template.yml, but not: auto_round_extension/ark, test/test_hpu, test/test_ark, test/test_xpu, *.md, **/*.md, .azure-pipelines/scripts/ut/run_ut_hpu.sh, .azure-pipelines/scripts/ut/run_ut_cuda.sh, .azure-pipelines/scripts/ut/run_ut_xpu.sh

for test
  auto_round_extension/ark/setup.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-xpu.yml

for debug
  .azure-pipelines/template/lib-build-template.yml
  auto_round_extension/ark/setup.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-xpu.yml

bug fix
  .azure-pipelines/template/lib-build-template.yml
  auto_round_extension/ark/setup.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-xpu.yml

update version format
  .azure-pipelines/template/lib-build-template.yml
  auto_round_extension/ark/setup.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-xpu.yml

Generate a publishable version number
  auto_round_extension/ark/setup.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-xpu.yml

update
  auto_round/algorithms/quantization/base.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Support BAGEL quantization
  auto_round/compressors/base.py
  auto_round/special_model_handler.py
  auto_round/utils/bagel_loader.py
  auto_round/utils/model.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

update code
  auto_round/special_model_handler.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Update auto_round/utils/bagel_loader.py
  auto_round/utils/bagel_loader.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Update auto_round/utils/model.py
  auto_round/utils/model.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Support BAGEL quantization
  auto_round/context/model.py
  auto_round/special_model_handler.py
  auto_round/utils/bagel_loader.py
  auto_round/utils/model.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

let pre-commit not change MOT to NOT
  .azure-pipelines/scripts/codeScan/codespell/autoround_dict.txt
  auto_round/special_model_handler.py
  auto_round/utils/bagel_loader.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

remove IPEX related code, doc, and test (#1787)
  auto_round_extension/ark/auto_round_kernel/version.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-xpu.yml

fix typo
  auto_round/special_model_handler.py
  auto_round/utils/bagel_loader.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Restore auto_round_kernel/version.py deleted during rebase
  auto_round_extension/ark/auto_round_kernel/version.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-xpu.yml

update mtp quant for special cases (#1691)
  auto_round/utils/missing_tensors.py
  test/test_cpu/utils/test_missing_tensors.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

[research feature] Introduce INT4 support at the algorithm level (#1641)
  README.md
  README_CN.md
  auto_round/__main__.py
  auto_round/alg_ext.py
  auto_round/auto_scheme/delta_loss.py
  auto_round/compressors/base.py
  auto_round/compressors/utils.py
  auto_round/data_type/gguf.py
  auto_round/data_type/int.py
  auto_round/data_type/utils.py
  auto_round/envs.py
  auto_round/eval/evaluation.py
  auto_round/experimental/apply_rotation_transform.py
  auto_round/experimental/qmodules/mx.py
  auto_round/experimental/qmodules/nvfp4.py
  auto_round/experimental/rotation_inplace/__init__.py
  auto_round/experimental/rotation_inplace/apply_rotation_transform.py
  auto_round/experimental/rotation_inplace/model_config.py
  auto_round/experimental/rotation_inplace/utils.py
  auto_round/experimental/transform/apply.py
  auto_round/experimental/transform/hadamard_config.py
  auto_round/experimental/transform/patch_modules.py
  auto_round/experimental/transform/rotation_config.py
  auto_round/experimental/utils.py
  auto_round/formats.py
  auto_round/inference/convert_model.py
  auto_round/schemes.py
  auto_round/wrapper.py
  docs/environments.md
  docs/environments_CN.md
  docs/int_acc.md
  docs/step_by_step.md
  docs/step_by_step_CN.md
  test/test_cuda/transform/test_mxfp4_transform.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Update gaudi-docker to v1.24.0 & fix CUDA UT (#1708)
  .azure-pipelines/scripts/cuda_unit_test/run_cuda_ut.sh
  .azure-pipelines/scripts/ut/collect_result.py
  .azure-pipelines/scripts/ut/run_ut_cuda.sh
  .azure-pipelines/template/docker-template.yml
  test/test_cuda/requirements_sglang.txt
Due: .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

ignore mtp.fc for qwen3_5 due to vllm failure (#1710)
  auto_round/special_model_handler.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Support new model Qwen/Qwen3.6-35B-A3B (#1705)
  auto_round/inference/convert_model.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

add support for gemma4 model (#1655)
  auto_round/compressors/base.py
  auto_round/compressors/mllm/compressor.py
  auto_round/compressors/shard_writer.py
  auto_round/export/export_to_gguf/packing.py
  auto_round/special_model_handler.py
  auto_round/utils/common.py
  auto_round/utils/model.py
  auto_round/wrapper.py
  test/test_cpu/utils/test_cli_usage.py
  test/test_cpu/utils/test_shard_writer.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

refine int4 doc (#1720)
  README.md
  README_CN.md
  docs/int4_acc.md
Due: none

fix: add missing run_mllm entry point alias (#1695)
  auto_round/__main__.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

rename scheme INT8_W8A8 to INT8 (#1687)
  README.md
  README_CN.md
  auto_round/formats.py
  auto_round/schemes.py
  test/test_cpu/export/test_export.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Create model_support_request.yml (#1738)
  .github/ISSUE_TEMPLATE/model_support_request.yml
Due: none

Remove threaded packing from exporters (#1719)
  auto_round/export/export_to_autogptq/export.py
  auto_round/export/export_to_autoround/export.py
  auto_round/export/export_to_autoround/export_to_fp8.py
  auto_round/export/export_to_autoround/export_to_nvfp_mx.py
  auto_round/export/export_to_awq/export.py
  auto_round/export/export_to_llmcompressor/export_to_fp.py
  auto_round/export/export_to_llmcompressor/export_to_static_fp.py
  requirements-hpu.txt
  requirements.txt
  test/helpers.py
  test/test_cpu/export/test_export.py
  test/test_cpu/export/test_llmc_format.py
  test/test_cpu/quantization/test_mxfp_nvfp.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

add small zimage test and fix bug (#1734)
  auto_round/utils/model.py
  test/fixtures.py
  test/helpers.py
  test/test_cuda/models/test_diffusion.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Revert "ignore mtp.fc for qwen3_5 due to vllm failure (#1710)" (#1730)
  auto_round/special_model_handler.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Reduce xpu memory usage with patch_xpu_sdpa_drop_causal_mask (#1716)
  auto_round/auto_scheme/delta_loss.py
  auto_round/compressors/base.py
  auto_round/utils/device.py
  auto_round/utils/model.py
  docs/step_by_step.md
  docs/step_by_step_CN.md
  test/test_xpu/test_xpu_sdpa_patch.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

skip quantizing mtp.fc since vLLM doesn't support (#1731)
  auto_round/utils/missing_tensors.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix gemma3 gguf ut fail (#1735)
  auto_round/export/export_to_gguf/convert.py
  test/helpers.py
  test/test_cuda/export/test_gguf_format.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Enhance llmc CI on XPU (#1483)
  .azure-pipelines/docker/Dockerfile_xpu.devel
  .azure-pipelines/scripts/ut/run_ut_xpu.sh
  test/test_xpu/requirements_llmc.txt
  test/test_xpu/test_llmc_integration.py
Due: .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml

Update pull_request_template.md (#1727)
  .github/pull_request_template.md
Due: none

add notes (#1795)
  README.md
Due: none

[Experimental]Add MLX format export support and AutoScheme for vlm support (#1732)
  auto_round/__main__.py
  auto_round/auto_scheme/delta_loss.py
  auto_round/auto_scheme/gen_auto_scheme.py
  auto_round/compressors/base.py
  auto_round/compressors/mllm/template.py
  auto_round/export/export_to_mlx/__init__.py
  auto_round/export/export_to_mlx/export.py
  auto_round/formats.py
  auto_round/inference/backend.py
  auto_round/inference/convert_model.py
  auto_round/schemes.py
  auto_round/utils/common.py
  auto_round_extension/mlx/__init__.py
  auto_round_extension/mlx/qlinear_mlx.py
  auto_round_extension/torch/qlinear_mlx.py
  docs/step_by_step.md
  docs/step_by_step_CN.md
  test/helpers.py
  test/test_cuda/algorithms/test_auto_scheme.py
  test/test_mlx/__init__.py
  test/test_mlx/test_mlx_format.py
  test_mlx_export.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix amp (#1768)
  auto_round/compressors/base.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix bug of gguf alg ext (#1796)
  auto_round/alg_ext.py
  auto_round/algorithms/quantization/base.py
  auto_round/compressors_new/base.py
  test/test_cuda/algorithms/test_alg_ext.py
  test/test_cuda/quantization/test_torch_compile.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

remove IPEX related code, doc, and test (#1787)
  .claude/skills/add-inference-backend/SKILL.md
  .claude/skills/readme.md
  auto_round/inference/backend.py
  auto_round/inference/convert_model.py
  auto_round_extension/ipex/__init__.py
  auto_round_extension/ipex/qlinear_ipex_awq.py
  auto_round_extension/ipex/qlinear_ipex_gptq.py
  docs/step_by_step.md
  docs/step_by_step_CN.md
  test/envs.py
  test/test_cuda/export/test_auto_round_format.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

[MTP]split gate_up_proj and fix accu gap in rtn quantization (#1758)
  auto_round/utils/missing_tensors.py
  test/test_cpu/utils/test_missing_tensors.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml
