Repository intel/auto-round: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

Path conditions:
  .azure-pipelines/code-scan.yml: any of: auto_round, setup.py, requirements.txt, .azure-pipelines/code-scan.yml, .azure-pipelines/scripts/codeScan
  .azure-pipelines/unit-test-hpu.yml: any of: auto_round, test/test*hpu*', setup.py, requirements-hpu.txt, .azure-pipelines/scripts/ut, but not: auto_round/export/export_to_autogptq, auto_round/export/export_to_awq, *.md, **/*.md
  .azure-pipelines/unit-test.yml: any of: auto_round, auto_round_extension, test, setup.py, requirements_pt.txt, .azure-pipelines/scripts/ut

support for float zp and q5_0/1
  auto_round/autoround.py
  auto_round/data_type/int.py
  auto_round/export/export_to_gguf/config.py
  auto_round/export/export_to_gguf/convert.py
  auto_round/export/export_to_gguf/export.py
  auto_round/export/export_to_gguf/quant_cpu.py
  auto_round/export/export_to_gguf/quant_gpu.py
  auto_round/export/export_to_gguf/utils.py
  auto_round/script/llm.py
  auto_round/utils.py
  auto_round/wrapper.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

update requirements for vlm
  test/test_cuda/requirements_vlm.txt
Due: .azure-pipelines/unit-test.yml

update;
  test/test_cuda/requirements_vlm.txt
Due: .azure-pipelines/unit-test.yml

support for q5_k_s
  auto_round/export/export_to_gguf/config.py
  auto_round/export/export_to_gguf/convert.py
  auto_round/export/export_to_gguf/export.py
  auto_round/export/export_to_gguf/quant_cpu.py
  auto_round/export/export_to_gguf/quant_gpu.py
  auto_round/script/llm.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

add UE5M3 simulation
  auto_round/data_type/nvfp.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix line too long
  auto_round/data_type/nvfp.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix
  auto_round/data_type/__init__.py
  auto_round/data_type/mxfp.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

add UE5M3 simulation (#562)
  auto_round/data_type/__init__.py
  auto_round/data_type/mxfp.py
  auto_round/data_type/nvfp.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

update
  auto_round/export/export_to_autoround/export.py
  auto_round/inference/backend.py
  auto_round_extension/triton/__init__.py
  auto_round_extension/triton/qlinear_tritonv2.py
  auto_round_extension/triton/qlinear_tritonv2_zp.py
  auto_round_extension/triton/triton_utils/__init__.py
  auto_round_extension/triton/triton_utils/custom_autotune.py
  auto_round_extension/triton/triton_utils/dequant.py
  auto_round_extension/triton/triton_utils/kernels.py
  auto_round_extension/triton/triton_utils/mixin.py
  auto_round_extension/triton/triton_utils_zp/__init__.py
  auto_round_extension/triton/triton_utils_zp/custom_autotune.py
  auto_round_extension/triton/triton_utils_zp/dequant.py
  auto_round_extension/triton/triton_utils_zp/kernels.py
  auto_round_extension/triton/triton_utils_zp/mixin.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

support for q3_k
  auto_round/data_type/int.py
  auto_round/export/export_to_gguf/config.py
  auto_round/export/export_to_gguf/convert.py
  auto_round/export/export_to_gguf/export.py
  auto_round/export/export_to_gguf/quant_cpu.py
  auto_round/export/export_to_gguf/quant_gpu.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

update a little
  auto_round_extension/triton/qlinear_tritonv2.py
  auto_round_extension/triton/qlinear_tritonv2_zp.py
Due: .azure-pipelines/unit-test.yml

support
  README.md
  auto_round/inference/backend.py
  auto_round_extension/triton/qlinear_tritonv2.py
  auto_round_extension/triton/qlinear_tritonv2_zp.py
  auto_round_extension/triton/triton_utils/dequant.py
  auto_round_extension/triton/triton_utils/kernels.py
  auto_round_extension/triton/triton_utils_zp/dequant.py
  auto_round_extension/triton/triton_utils_zp/kernels.py
  docs/step_by_step.md
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix typo
  README.md
Due: none

trigger ci
  README.md
Due: none

support xpu in triton backend (#563)
  README.md
  auto_round/export/export_to_autoround/export.py
  auto_round/inference/backend.py
  auto_round_extension/triton/__init__.py
  auto_round_extension/triton/qlinear_tritonv2.py
  auto_round_extension/triton/qlinear_tritonv2_zp.py
  auto_round_extension/triton/triton_utils/__init__.py
  auto_round_extension/triton/triton_utils/custom_autotune.py
  auto_round_extension/triton/triton_utils/dequant.py
  auto_round_extension/triton/triton_utils/kernels.py
  auto_round_extension/triton/triton_utils/mixin.py
  auto_round_extension/triton/triton_utils_zp/__init__.py
  auto_round_extension/triton/triton_utils_zp/custom_autotune.py
  auto_round_extension/triton/triton_utils_zp/dequant.py
  auto_round_extension/triton/triton_utils_zp/kernels.py
  auto_round_extension/triton/triton_utils_zp/mixin.py
  docs/step_by_step.md
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix
  auto_round/inference/backend.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix typo in backend (#564)
  auto_round/inference/backend.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

refine torch backend, fix ut
  auto_round/autoround.py
  auto_round/export/export_to_autoround/export.py
  auto_round/inference/backend.py
  auto_round/inference/convert_model.py
  auto_round_extension/torch/__init__.py
  auto_round_extension/torch/qlinear_int32.py
  auto_round_extension/torch/qlinear_int32_zp.py
  auto_round_extension/torch/torch_utils/__init__.py
  auto_round_extension/torch/torch_utils/mixin.py
  test/test_export.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix ci
  auto_round/inference/backend.py
  auto_round_extension/torch/qlinear_int32.py
  auto_round_extension/torch/qlinear_int32_zp.py
  test/test_export.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

rm deplicate files
  auto_round_extension/cuda/qlinear_int32.py
  auto_round_extension/cuda/qlinear_int32_zp.py
Due: .azure-pipelines/unit-test.yml

fixtypo
  auto_round_extension/torch/qlinear_int32.py
Due: .azure-pipelines/unit-test.yml

refine torch backend name
  auto_round/inference/backend.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix
  auto_round/data_type/int.py
  auto_round/export/export_to_gguf/config.py
  auto_round/export/export_to_gguf/export.py
  auto_round/export/export_to_gguf/quant_cpu.py
  auto_round/export/export_to_gguf/quant_gpu.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix UT
  auto_round/inference/backend.py
  test/test_export.py
  test_cuda/test_export.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix & support for q6_k
  auto_round/data_type/int.py
  auto_round/export/export_to_gguf/quant_cpu.py
  auto_round/export/export_to_gguf/quant_gpu.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

use torch matmul for 248 bits
  auto_round/export/export_to_autoround/export.py
  auto_round/inference/backend.py
  auto_round_extension/torch/qlinear_int32.py
  auto_round_extension/torch/qlinear_int32_zp.py
  test/test_export.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

float zp for q*_1, auto switch
  auto_round/autoround.py
  auto_round/data_type/int.py
  auto_round/script/llm.py
  auto_round/utils.py
  auto_round/wrapper.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

shorter log for gguf support format
  auto_round/script/llm.py
  auto_round/utils.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix
  auto_round/autoround.py
  auto_round/data_type/int.py
  auto_round/export/export_to_gguf/quant_cpu.py
  auto_round/export/export_to_gguf/quant_gpu.py
  auto_round/utils.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

refine docstyle, fixtypo
  auto_round/export/export_to_autoround/export.py
  auto_round/inference/backend.py
  auto_round_extension/torch/qlinear_torch.py
  auto_round_extension/torch/qlinear_torch_zp.py
  auto_round_extension/torch/torch_utils/__init__.py
  auto_round_extension/torch/torch_utils/mixin.py
  test/test_export.py
  test_cuda/test_export.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

add ut
  auto_round/export/export_to_gguf/config.py
  auto_round/export/export_to_gguf/quant_cpu.py
  auto_round/export/export_to_gguf/quant_gpu.py
  auto_round/utils.py
  test/test_gguf_format.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

update habana docker to 1.21.0
  .azure-pipelines/template/docker-template.yml
Due: none

fix path
  .azure-pipelines/unit-test-hpu.yml
  .azure-pipelines/unit-test.yml
Due: none

update habana docker to 1.21.0 (#566)
  .azure-pipelines/template/docker-template.yml
  .azure-pipelines/unit-test-hpu.yml
  .azure-pipelines/unit-test.yml
Due: none

add ut
  test/test_gguf_format.py
Due: .azure-pipelines/unit-test.yml

Add script for cuda unit test
  .azure-pipelines/scripts/ut/run_ut_cuda.sh
  .gitignore
Due: .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix conda path
  .azure-pipelines/scripts/ut/run_ut_cuda.sh
Due: .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

move gguf_check to quantize_and_save, add torchvision to ut requirements
  auto_round/autoround.py
  auto_round/export/export_to_gguf/config.py
  auto_round/script/llm.py
  auto_round/script/mllm.py
  auto_round/utils.py
  test/requirements.txt
  test/test_gguf_format.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix
  auto_round/autoround.py
  auto_round/script/llm.py
  auto_round/utils.py
  auto_round/wrapper.py
  test/test_gguf_format.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix
  auto_round/export/export_to_gguf/config.py
  test/requirements.txt
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml
