Repository intel/auto-round: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

.azure-pipelines/code-scan.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: BanditCodeScan
    displayName: Bandit Code Scan
    dependsOn: []
    jobs:
    - job: Bandit
      displayName: Bandit
      steps:
      - template: template/code-scan-template.yml
        parameters:
          codeScanFileName: bandit
          uploadPath: bandit.log
  ...

.azure-pipelines/compatibility-test.yml:
  stages:
  - stage: null
    displayName: Compatibility Test
    dependsOn: []
    jobs:
    - job: null
      timeoutInMinutes: 20
      strategy:
        matrix:
          Python310_Linux:
            python_version: '3.10'
            vmImage: ubuntu-latest
          Python311_Linux:
            python_version: '3.11'
  ...

.azure-pipelines/unit-test-hpu.yml:
  pool: GAUDI
  stages:
  - stage: Unit_test
    displayName: Unit Test
    dependsOn: []
    jobs:
    - job: null
      displayName: Unit Test
      steps:
      - template: template/ut-template.yml
        parameters:
          imageSource: pull
          dockerConfigName: commonDockerConfig
  ...

.azure-pipelines/unit-test-xpu.yml:
  pool: B60
  stages:
  - stage: Unit_test
    displayName: Unit Test
    dependsOn: []
    jobs:
    - job: null
      displayName: Unit Test
      steps:
      - template: template/ut-template.yml
        parameters:
          dockerConfigName: commonDockerConfig
          utScriptFileName: run_ut_xpu
  ...

.azure-pipelines/unit-test.yml:
  pool: ICX-16C
  stages:
  - stage: Unit_test
    displayName: Unit Test
    dependsOn: []
    jobs:
    - job: null
      timeoutInMinutes: 120
      strategy:
        matrix:
          part1:
            PART: 1
          part2:
            PART: 2
          part3:
            PART: 3
          part4:
            PART: 4
  ...

move function test to test_cpu
  test/test_cpu/models/test_moe_experts_interface.py
Due: .azure-pipelines/unit-test.yml

update format folder, split format into seperate folder
  test/test_cuda/backends/test_torch_backend.py
  test/test_cuda/export/test_auto_awq_format.py
  test/test_cuda/export/test_auto_gptq_format.py
  test/test_cuda/export/test_export.py
  test/test_cuda/export/test_gguf_format.py
  test/test_cuda/export/test_llm_compressor_format.py
  test/test_cuda/quantization/test_mxfp_nvfp.py
Due: .azure-pipelines/unit-test.yml

fix google/gemma-3-4b-it (#1547)
  auto_round/utils/missing_tensors.py
  test/test_cpu/utils/test_missing_tensors.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Use AR_WORK_SPACE/offload/ as base dir for offload temp files
  auto_round/utils/offload.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix wrong match of ignore_layers
  auto_round/compressors/utils.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

add UT
  auto_round/compressors/utils.py
  test/test_cpu/utils/test_set_layer_config.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

remove out-of-date test
  test/test_cpu/core/test_autoround.py
Due: .azure-pipelines/unit-test.yml

Clean up empty offload/ parent directory after temp dir removal
  auto_round/utils/offload.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

add comments
  auto_round/compressors/utils.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

remove duplicate test and use fixture for moe
  test/fixtures.py
  test/test_cpu/models/test_moe_model.py
  test/test_cuda/models/test_moe_model.py
Due: .azure-pipelines/unit-test.yml

Support block-wise fp8 quant (#1487)
  README.md
  auto_round/__main__.py
  auto_round/alg_ext.py
  auto_round/autoround.py
  auto_round/compressors/base.py
  auto_round/compressors/utils.py
  auto_round/data_type/__init__.py
  auto_round/data_type/fp8.py
  auto_round/data_type/utils.py
  auto_round/export/export_to_autoround/export_to_fp8.py
  auto_round/export/export_to_llmcompressor/export.py
  auto_round/formats.py
  auto_round/schemes.py
  auto_round/utils/common.py
  auto_round/wrapper.py
  docs/fp8_block_acc.md
  docs/step_by_step.md
  docs/step_by_step_CN.md
  test/test_cpu/quantization/test_block_fp.py
  test/test_cuda/quantization/test_block_fp.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

remove test_2_3bits.py since it's out-of-date and coverd by backends test
  test/test_cuda/quantization/test_2_3bits.py
Due: .azure-pipelines/unit-test.yml

remove duplicate test in test_cuda/test_asym.py
  test/test_cpu/quantization/test_asym.py
  test/test_cuda/quantization/test_asym.py
Due: .azure-pipelines/unit-test.yml

update glm-4v model name and issue link
  test/test_cuda/models/test_get_block_name.py
Due: .azure-pipelines/unit-test.yml

remove test_mix_bits and it's covered by test_cpu and export tests.
  test/test_cuda/quantization/test_mix_bits.py
Due: .azure-pipelines/unit-test.yml

remove test_transformers.py since transformers loading is always tested after quantization.
  test/test_cuda/integrations/test_transformers.py
Due: .azure-pipelines/unit-test.yml

Apply suggestion from @Copilot
  auto_round/special_model_handler.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

use to_standard_regex and increase linear size to fix CI
  auto_round/compressors/utils.py
  test/test_cpu/utils/test_set_layer_config.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

update moe test and add sglang in CI
  test/test_cpu/models/test_moe_model.py
  test/test_cuda/integrations/test_sglang.py
Due: .azure-pipelines/unit-test.yml

add vllm requirement
  test/test_cuda/advanced/test_evaluation.py
  test/test_cuda/requirements_vllm.txt
Due: .azure-pipelines/unit-test.yml

add vllm test
  .azure-pipelines/scripts/cuda_unit_test/run_cuda_ut.sh
  .azure-pipelines/scripts/ut/run_ut.sh
  .azure-pipelines/unit-test-cuda.yml
  test/test_cuda/requirements.txt
Due: .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix requirements
  .azure-pipelines/unit-test-cuda.yml
  test/test_cuda/requirements_vllm.txt
Due: .azure-pipelines/unit-test.yml

fix vllm test
  .azure-pipelines/scripts/ut/run_ut_cuda.sh
Due: .azure-pipelines/unit-test-hpu.yml

fix wrong match of ignore_layers and use warning instead of error for mismatch (#1553)
  auto_round/compressors/utils.py
  test/test_cpu/core/test_autoround.py
  test/test_cpu/utils/test_set_layer_config.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Optimize mtp tensor process by compiling layer names once for all
  auto_round/utils/missing_tensors.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

add gptqmodel:awq backend support, keep autoawq WQLinear_GEMM for compatibility
  auto_round/inference/backend.py
  auto_round/inference/convert_model.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix algorithms folder
  test/test_cuda/algorithms/__init__.py
Due: .azure-pipelines/unit-test.yml

fix CPU CI
  test/fixtures.py
  test/test_cpu/models/test_moe_model.py
  test/test_cpu/quantization/test_asym.py
Due: .azure-pipelines/unit-test.yml

remove redundant code
  auto_round/__main__.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix packing wokers & extend xpu ut
  auto_round/export/export_to_autoround/export_to_nvfp_mxfp.py
  test/test_xpu/test_autoround.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix workflow
  .azure-pipelines/performance-test.yaml
Due: none

fix path
  .azure-pipelines/performance-test.yaml
Due: none

rm import
  test/test_xpu/test_autoround.py
Due: .azure-pipelines/unit-test-xpu.yml

Potential fix for pull request finding
  auto_round/utils/missing_tensors.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

remove redundant code
  test/test_xpu/test_autoround.py
Due: .azure-pipelines/unit-test-xpu.yml

fix missing import
  test/test_xpu/test_autoround.py
Due: .azure-pipelines/unit-test-xpu.yml

fix env
  .azure-pipelines/performance-test.yaml
  .azure-pipelines/scripts/performance/perf_test.sh
Due: none

fix pylint issue
  auto_round/inference/backend.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix uv
  .azure-pipelines/performance-test.yaml
Due: none

Path conditions:
  .azure-pipelines/code-scan.yml: any of: auto_round, auto_round_extension, setup.py, requirements.txt, requirements-cpu.txt, requirements-hpu.txt, .azure-pipelines/code-scan.yml, .azure-pipelines/scripts/codeScan
  .azure-pipelines/compatibility-test.yml: any of: auto_round, auto_round_extension, setup.py, setup.cfg, requirements.txt, requirements-cpu.txt, .azure-pipelines/compatibility-test.yml, but not: *.md, **/*.md
  .azure-pipelines/unit-test-hpu.yml: any of: auto_round, test/test*hpu*', setup.py, requirements-lib.txt, .azure-pipelines/scripts/ut, .azure-pipelines/template/docker-template.yml, .azure-pipelines/template/ut-template.yml, but not: auto_round/export/export_to_autogptq, auto_round/export/export_to_awq, *.md, **/*.md
  .azure-pipelines/unit-test-xpu.yml: any of: auto_round, auto_round_extension, test/test_ark, test/test_xpu, setup.py, .azure-pipelines/template/ut-template.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/scripts/ut/run_ut_xpu.sh, but not: *.md, **/*.md
  .azure-pipelines/unit-test.yml: any of: auto_round, auto_round_extension, test, setup.py, requirements.txt, requirements-cpu.txt, .azure-pipelines/scripts/ut, .azure-pipelines/unit-test.yml, .azure-pipelines/template/ut-template.yml, .azure-pipelines/template/docker-template.yml, but not: auto_round_extension/ark, test/test_hpu, test/test_ark, test/test_xpu, *.md, **/*.md, .azure-pipelines/scripts/ut/run_ut_hpu.sh, .azure-pipelines/scripts/ut/run_ut_cuda.sh, .azure-pipelines/scripts/ut/run_ut_xpu.sh
