Repository intel/auto-round: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Path conditions:
  .azure-pipelines/code-scan.yml: any of: auto_round, auto_round_extension, setup.py, requirements.txt, requirements-cpu.txt, requirements-hpu.txt, .azure-pipelines/code-scan.yml, .azure-pipelines/scripts/codeScan
  .azure-pipelines/compatibility-test.yml: any of: auto_round, auto_round_extension, setup.py, setup.cfg, requirements.txt, requirements-cpu.txt, .azure-pipelines/compatibility-test.yml, but not: *.md, **/*.md
  .azure-pipelines/unit-test-hpu.yml: any of: auto_round, test/test*hpu*', setup.py, requirements-lib.txt, .azure-pipelines/scripts/ut, .azure-pipelines/template/docker-template.yml, .azure-pipelines/template/ut-template.yml, but not: auto_round/export/export_to_autogptq, auto_round/export/export_to_awq, *.md, **/*.md
  .azure-pipelines/unit-test-xpu.yml: any of: auto_round, auto_round_extension, test/test_ark, test/test_xpu, setup.py, .azure-pipelines/template/ut-template.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/scripts/ut/run_ut_xpu.sh, but not: *.md, **/*.md
  .azure-pipelines/unit-test.yml: any of: auto_round, auto_round_extension, test, setup.py, requirements.txt, requirements-cpu.txt, .azure-pipelines/scripts/ut, .azure-pipelines/unit-test.yml, .azure-pipelines/template/ut-template.yml, .azure-pipelines/template/docker-template.yml, but not: auto_round_extension/ark, test/test_hpu, test/test_ark, test/test_xpu, *.md, **/*.md, .azure-pipelines/scripts/ut/run_ut_hpu.sh, .azure-pipelines/scripts/ut/run_ut_cuda.sh, .azure-pipelines/scripts/ut/run_ut_xpu.sh

feat: enable search scale for mxfp in model-free (#2141)
  auto_round/autoround.py
  auto_round/compressors/model_free.py
  auto_round/utils/missing_tensors.py
  auto_round/utils/model.py
  docs/step_by_step.md
  docs/step_by_step_CN.md
  test/unit/test_cpu/quantization/test_model_free.py
  test/unit/test_cpu/quantization/test_model_free_parity.py
  test/unit/test_cpu/utils/test_missing_tensors.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Add support for kimi_k25 INT4 packed source models and related tests
  auto_round/compressors/model_free.py
  test/unit/test_cpu/quantization/test_model_free.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

feat: Support world model Cosmos3 (#2040)
  auto_round/compressors/diffusion/README.md
  auto_round/context/model.py
  auto_round/special_model_handler.py
  auto_round/utils/model.py
  test/test_cpu/models/test_cosmos3.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

refine awq, bugfix (#2115)
  auto_round/algorithms/quantization/sign_roundv2/quantizer.py
  auto_round/algorithms/transforms/awq/base.py
  auto_round/algorithms/transforms/awq/config.py
  auto_round/algorithms/transforms/awq/mappings.py
  auto_round/autoround.py
  auto_round/cli/algorithms.py
  auto_round/utils/model.py
  auto_round/wrapper.py
  docs/step_by_step.md
  docs/step_by_step_CN.md
  test/unit/test_cpu/algorithms/test_awq.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fixed test_xpu w8a8 bug
  auto_round_extension/ark/auto_round_kernel/wrapper/include/sycl_tla_s8_gemm.hpp
  auto_round_extension/ark/auto_round_kernel/wrapper/include/xpu_wrapper.hpp
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-xpu.yml

fix: preserve diffusion calibration device type after rebase
  auto_round/calibration/diffusion.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

feat: add Nunchaku SVDQuant export
  auto_round/algorithms/transforms/svdquant/apply.py
  auto_round/compressors/base.py
  auto_round/compressors/diffusion_mixin.py
  auto_round/export/formats/__init__.py
  auto_round/export/formats/backends/__init__.py
  auto_round/export/formats/backends/svdquant_nunchaku.py
  auto_round/export/formats/base.py
  auto_round/export/svdquant_adapters/__init__.py
  auto_round/export/svdquant_adapters/flux.py
  auto_round/export/svdquant_nunchaku.py
  auto_round/formats.py
  auto_round/utils/common.py
  test/unit/test_cpu/export/test_svdquant_flux_adapter.py
  test/unit/test_cpu/export/test_svdquant_nunchaku_export.py
  test/unit/test_cpu/export/test_svdquant_nunchaku_format.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix device target
  auto_round/calibration/diffusion.py
  test/unit/test_cpu/models/test_diffusion.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

feat: add SVDQuant smooth calibration
  auto_round/algorithms/transforms/svdquant/apply.py
  auto_round/algorithms/transforms/svdquant/smooth.py
  auto_round/algorithms/transforms/svdquant/smooth_adapters/__init__.py
  auto_round/algorithms/transforms/svdquant/smooth_adapters/base.py
  auto_round/algorithms/transforms/svdquant/smooth_adapters/flux.py
  test/unit/test_cpu/algorithms/test_svdquant_smooth.py
  test/unit/test_cpu/algorithms/test_svdquant_smooth_adapters.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

modify the blockforwardrunner cache process
  auto_round/algorithms/block_runner.py
  test/unit/test_cpu/algorithms/test_block_runner.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix: support low-memory diffusion SignRound calibration
  auto_round/algorithms/block_runner.py
  auto_round/algorithms/transforms/svdquant/apply.py
  auto_round/calibration/diffusion.py
  auto_round/compressors/diffusion_mixin.py
  auto_round/export/formats/backends/svdquant_nunchaku.py
  auto_round/utils/model.py
  test/unit/test_cpu/algorithms/test_block_runner.py
  test/unit/test_cpu/algorithms/test_svdquant.py
  test/unit/test_cpu/export/test_svdquant_nunchaku_format.py
  test/unit/test_cpu/models/test_diffusion.py
  test/unit/test_cpu/utils/test_diffusion_detection.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

docs: add SVDQuant details
  docs/svdquant_details.md
Due: none

feat: port SVDQuant core primitives
  auto_round/algorithms/transforms/svdquant/__init__.py
  auto_round/algorithms/transforms/svdquant/config.py
  auto_round/algorithms/transforms/svdquant/residual.py
  auto_round/algorithms/transforms/svdquant/wrapper.py
  test/unit/test_cpu/algorithms/test_svdquant_residual.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

refactor: remove unused SVDQuant output splits
  auto_round/algorithms/transforms/svdquant/smooth_adapters/base.py
  auto_round/algorithms/transforms/svdquant/smooth_adapters/flux.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

add docs
  docs/svdquant_details.md
Due: none

simplify ut
  test/unit/test_cpu/algorithms/test_svdquant_residual.py
  test/unit/test_cpu/export/test_svdquant_flux_adapter.py
  test/unit/test_cpu/export/test_svdquant_nunchaku_export.py
Due: .azure-pipelines/unit-test.yml

address SVDQuant review feedback
  auto_round/algorithms/transforms/svdquant/__init__.py
  auto_round/algorithms/transforms/svdquant/apply.py
  auto_round/algorithms/transforms/svdquant/config.py
  auto_round/algorithms/transforms/svdquant/residual.py
  auto_round/algorithms/transforms/svdquant/smooth.py
  auto_round/algorithms/transforms/svdquant/smooth_adapters/flux.py
  auto_round/cli/algorithms.py
  auto_round/cli/main.py
  auto_round/compressors/base.py
  auto_round/export/formats/backends/svdquant_nunchaku.py
  auto_round/export/formats/base.py
  auto_round/utils/model.py
  docs/svdquant_details.md
  docs/svdquant_details_CN.md
  test/unit/test_cpu/algorithms/test_svdquant_smooth.py
  test/unit/test_cpu/algorithms/test_svdquant_smooth_adapters.py
  test/unit/test_cpu/export/test_svdquant_nunchaku_format.py
  test/unit/test_cpu/utils/test_cli_usage.py
  test/unit/test_cpu/utils/test_utils.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

feat: integrate SVDQuant with algorithm composer
  auto_round/algorithms/registry.py
  auto_round/algorithms/transforms/svdquant/__init__.py
  auto_round/algorithms/transforms/svdquant/apply.py
  auto_round/algorithms/transforms/svdquant/smooth_adapters/__init__.py
  auto_round/algorithms/transforms/svdquant/smooth_adapters/base.py
  auto_round/algorithms/transforms/svdquant/smooth_adapters/flux.py
  test/unit/test_cpu/algorithms/test_svdquant.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

test: streamline SVDQuant coverage
  test/unit/test_cpu/export/test_svdquant_nunchaku_format.py
  test/unit/test_cpu/models/test_diffusion.py
Due: .azure-pipelines/unit-test.yml

fix pylint
  auto_round/export/formats/backends/svdquant_nunchaku.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix: validate SVDQuant calibration config
  auto_round/algorithms/transforms/svdquant/config.py
  test/unit/test_cpu/algorithms/test_svdquant_residual.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

feat: add SVDQuant algorithm CLI
  auto_round/cli/algorithms.py
  test/unit/test_cpu/utils/test_cli_usage.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

feat: add SVDQuant serialization codecs
  auto_round/export/svdquant_mxfp4.py
  auto_round/export/svdquant_w4a16.py
  test/unit/test_cpu/export/test_svdquant_mxfp4.py
  test/unit/test_cpu/export/test_svdquant_w4a16.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Potential fix for pull request finding
  auto_round/algorithms/transforms/svdquant/apply.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

refine SVDQuant integration and coverage
  auto_round/algorithms/transforms/svdquant/apply.py
  auto_round/autoround.py
  auto_round/cli/algorithms.py
  auto_round/cli/main.py
  auto_round/compressors/diffusion_mixin.py
  docs/step_by_step.md
  docs/step_by_step_CN.md
  docs/svdquant_details.md
  docs/svdquant_details_CN.md
  test/unit/test_cpu/algorithms/test_svdquant.py
  test/unit/test_cpu/algorithms/test_svdquant_residual.py
  test/unit/test_cpu/algorithms/test_svdquant_smooth.py
  test/unit/test_cpu/algorithms/test_svdquant_smooth_adapters.py
  test/unit/test_cpu/export/test_svdquant_flux_adapter.py
  test/unit/test_cpu/export/test_svdquant_nunchaku_export.py
  test/unit/test_cpu/export/test_svdquant_nunchaku_format.py
  test/unit/test_cpu/export/test_svdquant_w4a16.py
  test/unit/test_cpu/utils/test_cli_usage.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

simplify code
  auto_round/algorithms/transforms/svdquant/apply.py
  auto_round/algorithms/transforms/svdquant/config.py
  auto_round/algorithms/transforms/svdquant/residual.py
  auto_round/calibration/diffusion.py
  auto_round/cli/algorithms.py
  auto_round/export/formats/__init__.py
  auto_round/formats.py
  auto_round/utils/model.py
  test/unit/test_cpu/algorithms/test_svdquant.py
  test/unit/test_cpu/algorithms/test_svdquant_residual.py
  test/unit/test_cpu/export/test_svdquant_nunchaku_format.py
  test/unit/test_cpu/utils/test_cli_usage.py
  test/unit/test_cpu/utils/test_diffusion_detection.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fixed copilot issues
  auto_round_extension/ark/auto_round_kernel/CMakeLists.txt
  auto_round_extension/ark/auto_round_kernel/wrapper/include/sycl_tla_s8_gemm.hpp
  auto_round_extension/ark/setup.py
  auto_round_extension/ark/test/test_weightonly.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-xpu.yml

fixed copilot issues
  auto_round_extension/ark/setup.py
  auto_round_extension/ark/test/test_weightonly.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-xpu.yml

- Remove the old B70 oneAPI < 2026 runtime fallback
  auto_round_extension/ark/auto_round_kernel/qlinear.py
  auto_round_extension/ark/auto_round_kernel/utils.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-xpu.yml

fix: move all diffusion components for calibration
  auto_round/calibration/diffusion.py
  test/unit/test_cpu/models/test_diffusion.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

feat: enhance support for Kimi-K25 INT4 format with additional packing options and unpacking logic
  auto_round/compressors/model_free.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix: set default value for source_quant_config in _process_single_shard_task
  auto_round/compressors/model_free.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

feat: implement change-based test selection for unit tests
  .azure-pipelines/nightly-test-cpu.yml
  .azure-pipelines/nightly-test-xpu.yml
  .azure-pipelines/scripts/cuda_unit_test/run_cuda_ut.sh
  .azure-pipelines/scripts/ut/collect_log.sh
  .azure-pipelines/scripts/ut/detect_changed_tests.sh
  .azure-pipelines/scripts/ut/run_ut.sh
  .azure-pipelines/scripts/ut/run_ut_hpu.sh
  .azure-pipelines/scripts/ut/run_ut_xpu.sh
  .azure-pipelines/template/ut-template.yml
  .azure-pipelines/unit-test-cuda.yml
  .azure-pipelines/unit-test-hpu.yml
  .azure-pipelines/unit-test-xpu.yml
  .azure-pipelines/unit-test.yml
Due: .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

merge cpu/cuda duplicate unit tests into common/ and dedupe SpinQuant/Hadamard suites
  test/unit/common/__init__.py
  test/unit/common/algorithms/__init__.py
  test/unit/common/algorithms/test_awq.py
  test/unit/common/algorithms/test_block_runner.py
  test/unit/common/algorithms/test_hadamard_inplace_apply.py
  test/unit/common/algorithms/test_quantization_utils.py
  test/unit/common/algorithms/test_rotation.py
  test/unit/common/algorithms/test_spinquant.py
  test/unit/common/algorithms/test_spinquant_serialize.py
  test/unit/common/algorithms/test_transforms_init.py
  test/unit/common/algorithms/transforms/__init__.py
  test/unit/common/algorithms/transforms/hadamard/__init__.py
  test/unit/common/algorithms/transforms/hadamard/test_dispatcher.py
  test/unit/common/algorithms/transforms/hadamard/test_hadamard_apply.py
  test/unit/common/algorithms/transforms/hadamard/test_patch.py
  test/unit/common/backends/__init__.py
  test/unit/common/backends/test_torch_backend.py
  test/unit/common/models/__init__.py
  test/unit/common/models/test_audio_model.py
  test/unit/common/models/test_conv1d.py
  test/unit/common/quantization/__init__.py
  test/unit/common/quantization/test_asym.py
  test/unit/test_cpu/algorithms/test_spinquant_apply.py
  test/unit/test_cpu/algorithms/test_spinquant_inplace_apply.py
  test/unit/test_cpu/algorithms/test_spinquant_preprocessor.py
  test/unit/test_cpu/algorithms/test_spinquant_serialize_helpers.py
  test/unit/test_cpu/algorithms/test_spinquant_training.py
  test/unit/test_cpu/backends/test_torch_backend.py
  test/unit/test_cpu/models/test_audio_model.py
  test/unit/test_cpu/models/test_conv1d.py
  test/unit/test_cpu/quantization/test_asym.py
  test/unit/test_cuda/algorithms/test_awq.py
  test/unit/test_cuda/algorithms/test_awq_accuracy.py
  test/unit/test_cuda/backends/test_gptqmodel_awq_backend.py
  test/unit/test_cuda/backends/test_torch_backend.py
  test/unit/test_cuda/backends/test_torch_backend_accuracy.py
  test/unit/test_cuda/models/test_conv1d.py
  test/unit/test_cuda/quantization/test_asym.py
Due: .azure-pipelines/unit-test.yml

Add more cuda UT cases for coverage
  test/unit/test_cuda/algorithms/test_block_runner.py
  test/unit/test_cuda/algorithms/test_composer.py
  test/unit/test_cuda/algorithms/test_config_resolver.py
  test/unit/test_cuda/algorithms/test_hadamard_inplace_apply.py
  test/unit/test_cuda/algorithms/test_hadamard_patch.py
  test/unit/test_cuda/algorithms/transforms/__init__.py
  test/unit/test_cuda/algorithms/transforms/hadamard/__init__.py
  test/unit/test_cuda/algorithms/transforms/hadamard/test_dispatcher.py
  test/unit/test_cuda/algorithms/transforms/hadamard/test_hadamard_apply.py
  test/unit/test_cuda/auto_scheme/__init__.py
  test/unit/test_cuda/auto_scheme/test_auto_scheme_utils.py
  test/unit/test_cuda/auto_scheme/test_delta_loss.py
  test/unit/test_cuda/auto_scheme/test_gen_auto_scheme.py
  test/unit/test_cuda/compressors/__init__.py
  test/unit/test_cuda/compressors/test_compressors_utils_predicates.py
  test/unit/test_cuda/config_resolution/__init__.py
  test/unit/test_cuda/config_resolution/test_config_resolution_extended.py
  test/unit/test_cuda/data_type/__init__.py
  test/unit/test_cuda/data_type/test_data_type_utils.py
  test/unit/test_cuda/data_type/test_data_type_utils_extended.py
  test/unit/test_cuda/export/test_autoround_export_utils.py
  test/unit/test_cuda/export/test_export_utils.py
  test/unit/test_cuda/export/test_format_resolver.py
  test/unit/test_cuda/export/test_formats_backends.py
  test/unit/test_cuda/export/test_gguf_format_extended.py
  test/unit/test_cuda/export/test_llm_compressor_format.py
  test/unit/test_cuda/export/test_llmc_utils.py
  test/unit/test_cuda/export/test_nvfp_autoround_export.py
  test/unit/test_cuda/export/test_qlinear_fp8_nvfp_mx.py
  test/unit/test_cuda/quantization/test_quantization_utils.py
  test/unit/test_cuda/schemes/__init__.py
  test/unit/test_cuda/schemes/test_schemes_advanced.py
  test/unit/test_cuda/test_schemes_extended.py
  test/unit/test_cuda/test_special_model_handler.py
Due: .azure-pipelines/unit-test.yml

Set the quant_method to auto-round by default (#2138)
  auto_round/export/formats/backends/fp8.py
  test/unit/test_cuda/export/test_auto_round_format.py
  test/unit/test_cuda/export/test_fp8_format.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

[ARK] Optimize SYCL-TLA woqgemm_s8 on B70 (#2133)
  auto_round_extension/ark/auto_round_kernel/CMakeLists.txt
  auto_round_extension/ark/auto_round_kernel/bestla/CMakeLists.txt
  auto_round_extension/ark/auto_round_kernel/qlinear.py
  auto_round_extension/ark/auto_round_kernel/utils.py
  auto_round_extension/ark/auto_round_kernel/wrapper/include/sycl_tla_s8_gemm.hpp
  auto_round_extension/ark/auto_round_kernel/wrapper/include/utils.hpp
  auto_round_extension/ark/auto_round_kernel/wrapper/include/xpu_wrapper.hpp
  auto_round_extension/ark/setup.py
  auto_round_extension/ark/test/test_weightonly.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-xpu.yml

Add cpu & xpu nightly test (#2149)
  .azure-pipelines/nightly-test-cpu.yml
  .azure-pipelines/nightly-test-xpu.yml
  .azure-pipelines/nightly-test.yml
  .azure-pipelines/scripts/cuda_unit_test/run_cuda_ut.sh
  .azure-pipelines/scripts/ut/collect_log.sh
  .azure-pipelines/scripts/ut/detect_changed_tests.sh
  .azure-pipelines/scripts/ut/run_ut.sh
  .azure-pipelines/scripts/ut/run_ut_hpu.sh
  .azure-pipelines/scripts/ut/run_ut_xpu.sh
  .azure-pipelines/template/ut-template.yml
  .azure-pipelines/unit-test-cuda.yml
  .azure-pipelines/unit-test-hpu.yml
  .azure-pipelines/unit-test-xpu.yml
  .azure-pipelines/unit-test.yml
  .azure-pipelines/weekly-test-cuda.yml
  test/README.md
  test/integration/README.md
  test/unit/test_cpu/utils/test_model_scope.py
Due: .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

finish dedup: merge remaining cpu/cuda + within-repo duplicate tests into common
  test/unit/common/core/__init__.py
  test/unit/common/core/test_entry_normalization.py
  test/unit/common/core/test_entry_scheme_unification.py
  test/unit/common/core/test_pipeline_fail_fast.py
  test/unit/common/eval/__init__.py
  test/unit/common/eval/test_eval_cli.py
  test/unit/common/eval/test_evaluation.py
  test/unit/common/schemes/__init__.py
  test/unit/common/schemes/test_auto_scheme_disk_stream.py
  test/unit/common/schemes/test_auto_scheme_low_cpu_mem.py
  test/unit/common/utils/__init__.py
  test/unit/common/utils/test_cli_usage.py
  test/unit/common/utils/test_common_pure_helpers.py
  test/unit/common/utils/test_common_utils.py
  test/unit/common/utils/test_compress_layer_names.py
  test/unit/common/utils/test_device.py
  test/unit/common/utils/test_device_manager.py
  test/unit/common/utils/test_model_utils.py
  test/unit/common/utils/test_offload_helpers.py
  test/unit/common/utils/test_weight_handler.py
  test/unit/test_cpu/core/test_entry_contract.py
  test/unit/test_cpu/eval/test_evaluation_more.py
  test/unit/test_cpu/utils/test_device_utils.py
  test/unit/test_cpu/utils/test_fp8_re_quant.py
Due: .azure-pipelines/unit-test.yml
