Repository intel/auto-round: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

.azure-pipelines/code-scan.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: BanditCodeScan
    displayName: Bandit Code Scan
    dependsOn: []
    jobs:
    - job: Bandit
      displayName: Bandit
      steps:
      - template: template/code-scan-template.yml
        parameters:
          codeScanFileName: bandit
          uploadPath: bandit.log
  ...

.azure-pipelines/compatibility-test.yml:
  stages:
  - stage: null
    displayName: Compatibility Test
    dependsOn: []
    jobs:
    - job: null
      timeoutInMinutes: 20
      strategy:
        matrix:
          Python310_Linux:
            python_version: '3.10'
            vmImage: ubuntu-latest
          Python311_Linux:
            python_version: '3.11'
  ...

.azure-pipelines/unit-test-hpu.yml:
  pool: GAUDI
  stages:
  - stage: Unit_test
    displayName: Unit Test
    dependsOn: []
    jobs:
    - job: null
      displayName: Unit Test
      steps:
      - template: template/ut-template.yml
        parameters:
          imageSource: pull
          dockerConfigName: commonDockerConfig
  ...

.azure-pipelines/unit-test-xpu.yml:
  pool: B60
  stages:
  - stage: Unit_test
    displayName: Unit Test
    dependsOn: []
    jobs:
    - job: null
      displayName: Unit Test
      steps:
      - template: template/ut-template.yml
        parameters:
          dockerConfigName: commonDockerConfig
          utScriptFileName: run_ut_xpu
  ...

.azure-pipelines/unit-test.yml:
  pool: ICX-16C
  stages:
  - stage: Unit_test
    displayName: Unit Test
    dependsOn: []
    jobs:
    - job: null
      timeoutInMinutes: 120
      strategy:
        matrix:
          part1:
            PART: 1
          part2:
            PART: 2
          part3:
            PART: 3
          part4:
            PART: 4
  ...

add catch for eval api
  auto_round/eval/eval_cli.py
  test/unit/test_cpu/eval/test_eval_cli.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix: prevent quantized layers from being reinitialized by Transformers
  auto_round/inference/convert_model.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Remove timeout option from pytest commands in unit test scripts for improved compatibility
  .azure-pipelines/scripts/ut/run_ut_cuda.sh
Due: .azure-pipelines/unit-test-hpu.yml

Refactor pytest commands in unit test scripts to remove duration options for improved compatibility
  .azure-pipelines/scripts/cuda_unit_test/run_cuda_ut.sh
  .azure-pipelines/scripts/ut/run_ut.sh
  .azure-pipelines/scripts/ut/run_ut_cuda.sh
  .azure-pipelines/scripts/ut/run_ut_hpu.sh
  .azure-pipelines/scripts/ut/run_ut_xpu.sh
  test/pytest.ini
Due: .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Update coverage configuration and refactor pytest commands in unit test scripts for improved consistency
  .azure-pipelines/scripts/cuda_unit_test/run_cuda_ut.sh
  .azure-pipelines/scripts/ut/.coveragerc
  .azure-pipelines/scripts/ut/collect_log.sh
  .azure-pipelines/scripts/ut/run_ut.sh
  .azure-pipelines/scripts/ut/run_ut_cuda.sh
  .azure-pipelines/scripts/ut/run_ut_hpu.sh
  .azure-pipelines/scripts/ut/run_ut_xpu.sh
Due: .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Refactor unit test parameters to use a dynamic matrix for improved scalability
  .azure-pipelines/unit-test.yml
Due: .azure-pipelines/unit-test.yml

Update unit test script paths for improved organization
  .azure-pipelines/unit-test.yml
Due: .azure-pipelines/unit-test.yml

refine step doc of awq algo
  docs/step_by_step.md
  docs/step_by_step_CN.md
Due: none

fix: soften alg_configs kwarg mismatch to logger.error instead of hard TypeError
  auto_round/algorithms/transforms/awq/config.py
  auto_round/autoround.py
  test/unit/test_cpu/core/test_autoround_entry.py
  test/unit/test_cpu/models/test_audio_model.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Optimize dataset materialization by capping rows for improved efficiency with large remote datasets
  auto_round/calib_dataset.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

tmp increase timeout threshold
  test/unit/test_cpu/algorithms/test_awq.py
  test/unit/test_cpu/core/test_autoround.py
Due: .azure-pipelines/unit-test.yml

fix diffusion pipe different device
  auto_round/calibration/diffusion.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix: restrict transformers version to <5.15.0 in requirements files
  test/unit/test_cpu/requirements.txt
  test/unit/test_cuda/requirements.txt
Due: .azure-pipelines/unit-test.yml

fixed ark_auto_s8_bug
  auto_round_extension/ark/auto_round_kernel/wrapper/include/xpu_wrapper.hpp
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-xpu.yml

feat: support MiniMax-H3 modular diffusion handoff
  auto_round/algorithms/block_runner.py
  auto_round/utils/model.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fixed ark_auto_s8_bug scale fp32 and auto_s8=-1 by default
  auto_round_extension/ark/auto_round_kernel/wrapper/include/utils.hpp
  auto_round_extension/ark/auto_round_kernel/wrapper/include/xpu_wrapper.hpp
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-xpu.yml

test: add MiniMax-H3 packed MXFP8 Diffusers smoke
  tools/minimax_h3_mxfp8_packed_smoke.py
Due: none

fix: update transformers version constraint in requirements file
  test/unit/test_cuda/requirements_diffusion.txt
Due: .azure-pipelines/unit-test.yml

fix: remove transformers installation from unit test setup
  .azure-pipelines/scripts/cuda_unit_test/run_cuda_ut.sh
Due: none

fix
  test/unit/test_cpu/calibration/test_diffusion.py
Due: .azure-pipelines/unit-test.yml

remove dead/stale unit tests with disabled assertions
  test/unit/test_cpu/core/test_forward_capture_none_kwarg.py
  test/unit/test_cpu/core/test_init.py
  test/unit/test_cpu/core/test_llmc_quantize_block.py
Due: .azure-pipelines/unit-test.yml

dedupe 100%-overlapping unit tests
  test/unit/test_cpu/algorithms/test_hadamard_patch.py
  test/unit/test_cpu/utils/test_common_pure_helpers.py
  test/unit/test_cpu/utils/test_common_utils.py
  test/unit/test_cpu/utils/test_compress_layer_names.py
  test/unit/test_cpu/utils/test_model_utils.py
  test/unit/test_cuda/export/test_fp8_format.py
Due: .azure-pipelines/unit-test.yml

fix: prevent quantized layers from being reinitialized by Transformers (#2147)
  auto_round/calibration/diffusion.py
  auto_round/inference/convert_model.py
  test/unit/test_cpu/algorithms/test_awq.py
  test/unit/test_cpu/calibration/test_diffusion.py
  test/unit/test_cpu/core/test_autoround.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Refactor unit test scripts (#2148)
  .azure-pipelines/scripts/cuda_unit_test/run_cuda_ut.sh
  .azure-pipelines/scripts/ut/.coveragerc
  .azure-pipelines/scripts/ut/collect_log.sh
  .azure-pipelines/scripts/ut/print_summary.py
  .azure-pipelines/scripts/ut/run_ut.sh
  .azure-pipelines/scripts/ut/run_ut_cuda.sh
  .azure-pipelines/scripts/ut/run_ut_hpu.sh
  .azure-pipelines/scripts/ut/run_ut_xpu.sh
  .azure-pipelines/unit-test.yml
  auto_round/calib_dataset.py
  test/integration/test_cpu/test_llmc_integration.py
  test/integration/test_cuda/test_llmc_integration.py
  test/pytest.ini
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix: ensure plain RTN is used for INT WOQ in model-free mode and update documentation
  auto_round/compressors/model_free.py
  docs/step_by_step.md
  docs/step_by_step_CN.md
  test/unit/test_cpu/quantization/test_model_free_parity.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

test: add timeout to test_auto_round_cmd8
  test/unit/test_cpu/utils/test_cli_usage.py
Due: .azure-pipelines/unit-test.yml

rename awq_seqlen, refine docs
  auto_round/algorithms/transforms/awq/base.py
  auto_round/algorithms/transforms/awq/config.py
  auto_round/autoround.py
  auto_round/cli/algorithms.py
  auto_round/utils/model.py
  docs/step_by_step.md
  docs/step_by_step_CN.md
  test/unit/test_cpu/algorithms/test_awq.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix: adjust timeout values for unit tests to improve stability
  .azure-pipelines/scripts/ut/run_ut.sh
  test/unit/test_cpu/core/test_autoround.py
  test/unit/test_cpu/quantization/test_static_attn.py
  test/unit/test_cpu/schemes/test_auto_scheme.py
  test/unit/test_cpu/utils/test_model_scope.py
Due: .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

align awq args naming style, refine doc
  auto_round/algorithms/quantization/sign_roundv2/quantizer.py
  auto_round/algorithms/transforms/awq/base.py
  auto_round/algorithms/transforms/awq/config.py
  auto_round/cli/algorithms.py
  auto_round/wrapper.py
  docs/step_by_step.md
  docs/step_by_step_CN.md
  test/unit/test_cpu/algorithms/test_awq.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

remove performance regression
  auto_round/data_type/mxfp.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

feat: add timeout decorators to various test cases for improved stability
  test/unit/test_cpu/core/test_autoround.py
  test/unit/test_cpu/quantization/test_static_attn.py
  test/unit/test_cpu/schemes/test_auto_scheme.py
  test/unit/test_cpu/utils/test_cli_usage.py
Due: .azure-pipelines/unit-test.yml

docs: update Python version requirement and clarify test execution schedule in README
  test/README.md
Due: none

Migrate cpu sdpa from NS flash attn (#2092)
  .gitignore
  auto_round_extension/ark/.gitignore
  auto_round_extension/ark/README.md
  auto_round_extension/ark/auto_round_kernel/CMakeLists.txt
  auto_round_extension/ark/auto_round_kernel/__init__.py
  auto_round_extension/ark/auto_round_kernel/ark.cpp
  auto_round_extension/ark/auto_round_kernel/ark/cpu/mha_dense.cpp
  auto_round_extension/ark/auto_round_kernel/ark/cpu/mha_dense.h
  auto_round_extension/ark/auto_round_kernel/ark/cpu/mha_dense_wrapper.h
  auto_round_extension/ark/auto_round_kernel/ark/cpu/sdpa.cpp
  auto_round_extension/ark/auto_round_kernel/ark/cpu/sdpa.h
  auto_round_extension/ark/auto_round_kernel/bestla/bestla/bestla_gemm.h
  auto_round_extension/ark/auto_round_kernel/wrapper/include/sycl_tla_common.hpp
  auto_round_extension/ark/auto_round_kernel/wrapper/include/utils.hpp
  auto_round_extension/ark/requirements.txt
  auto_round_extension/ark/test/bench_ark_cpu_sdpa.py
  auto_round_extension/ark/test/test_ark_cpu_mixed_bestla_sdpa.py
  auto_round_extension/ark/test/test_ark_cpu_sdpa.py
  auto_round_extension/ark/test/validate_non_int8_cpu_sdpa.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-xpu.yml

set quant_method to auto-round
  test/unit/test_cuda/export/test_fp8_format.py
Due: .azure-pipelines/unit-test.yml

fix: enable change detection in nightly XPU pipeline
  .azure-pipelines/nightly-test-xpu.yml
Due: none

feat: add timeout decorator to test_attention_mask_via_tokenize_in_dataset for stability
  test/unit/test_cpu/core/test_autoround.py
Due: .azure-pipelines/unit-test.yml

refine eval, add more option (#2114)
  auto_round/cli/main.py
  auto_round/cli/parser.py
  auto_round/eval/eval_cli.py
  auto_round/eval/evaluation.py
  docs/step_by_step.md
  docs/step_by_step_CN.md
  test/unit/test_cpu/advanced/test_evaluation_functions.py
  test/unit/test_cpu/eval/test_eval_cli.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Add timeout decorators to improve test case stability (#2155)
  test/unit/test_cpu/core/test_autoround.py
  test/unit/test_cpu/quantization/test_static_attn.py
  test/unit/test_cpu/schemes/test_auto_scheme.py
  test/unit/test_cpu/utils/test_cli_usage.py
Due: .azure-pipelines/unit-test.yml

fix bug
  auto_round/utils/model.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

remove out-of-date UT
  auto_round/data_type/mxfp.py
  test/unit/test_cpu/quantization/test_model_free.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Path conditions:
  .azure-pipelines/code-scan.yml: any of: auto_round, auto_round_extension, setup.py, requirements.txt, requirements-cpu.txt, requirements-hpu.txt, .azure-pipelines/code-scan.yml, .azure-pipelines/scripts/codeScan
  .azure-pipelines/compatibility-test.yml: any of: auto_round, auto_round_extension, setup.py, setup.cfg, requirements.txt, requirements-cpu.txt, .azure-pipelines/compatibility-test.yml, but not: *.md, **/*.md
  .azure-pipelines/unit-test-hpu.yml: any of: auto_round, test/test*hpu*', setup.py, requirements-lib.txt, .azure-pipelines/scripts/ut, .azure-pipelines/template/docker-template.yml, .azure-pipelines/template/ut-template.yml, but not: auto_round/export/export_to_autogptq, auto_round/export/export_to_awq, *.md, **/*.md
  .azure-pipelines/unit-test-xpu.yml: any of: auto_round, auto_round_extension, test/test_ark, test/test_xpu, setup.py, .azure-pipelines/template/ut-template.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/scripts/ut/run_ut_xpu.sh, but not: *.md, **/*.md
  .azure-pipelines/unit-test.yml: any of: auto_round, auto_round_extension, test, setup.py, requirements.txt, requirements-cpu.txt, .azure-pipelines/scripts/ut, .azure-pipelines/unit-test.yml, .azure-pipelines/template/ut-template.yml, .azure-pipelines/template/docker-template.yml, but not: auto_round_extension/ark, test/test_hpu, test/test_ark, test/test_xpu, *.md, **/*.md, .azure-pipelines/scripts/ut/run_ut_hpu.sh, .azure-pipelines/scripts/ut/run_ut_cuda.sh, .azure-pipelines/scripts/ut/run_ut_xpu.sh
