Repository intel/auto-round: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

.azure-pipelines/code-scan.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: BanditCodeScan
    displayName: Bandit Code Scan
    dependsOn: []
    jobs:
    - job: Bandit
      displayName: Bandit
      steps:
      - template: template/code-scan-template.yml
        parameters:
          codeScanFileName: bandit
          uploadPath: bandit.log
  ...

.azure-pipelines/unit-test-hpu.yml:
  pool: GAUDI
  stages:
  - stage: Unit_test
    displayName: Unit Test
    dependsOn: []
    jobs:
    - job: null
      displayName: Unit Test
      steps:
      - template: template/ut-template.yml
        parameters:
          imageSource: pull
          dockerConfigName: commonDockerConfig
  ...

.azure-pipelines/unit-test.yml:
  pool: ICX-16C
  stages:
  - stage: Unit_test
    displayName: Unit Test
    dependsOn: []
    jobs:
    - job: null
      displayName: Unit Test
      steps:
      - template: template/ut-template.yml
        parameters:
          dockerConfigName: commonDockerConfig
          utScriptFileName: run_ut
  ...

fix awq exporting at group_size=-1 (#579)
  README.md
  auto_round/export/export_to_awq/utils.py
  docs/step_by_step.md
  test/test_export.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test.yml

fix gguf bug
  auto_round/data_type/int.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix
  auto_round/data_type/int.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

add check for quantiza_and_save
  auto_round/autoround.py
  auto_round/script/llm.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix csan issue
  auto_round/autoround.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix
  auto_round/autoround.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix tensor shape mismatch error for API usage (#582)
  auto_round/autoround.py
  auto_round/script/llm.py
  auto_round/script/mllm.py
  auto_round/utils.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix device bug at calibration
  auto_round/autoround.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix device bug at calibration (#587)
  auto_round/autoround.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

add recipes for deepseek-r1-0528
  docs/DeepSeek-R1-0528-int2-mixed-sym-inc.md
  docs/DeepSeek-R1-0528-int4-sym-gptq-inc.md
Due: none

update
  docs/DeepSeek-R1-0528-int2-mixed-sym-inc.md
  docs/DeepSeek-R1-0528-int4-sym-gptq-inc.md
Due: none

fix
  docs/DeepSeek-R1-0528-int2-mixed-sym-inc.md
  docs/DeepSeek-R1-0528-int4-sym-gptq-inc.md
Due: none

fix
  docs/DeepSeek-R1-0528-int2-mixed-sym-inc.md
Due: none

tmp change
  auto_round/data_type/nvfp.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

update gguf_accuracy(q3_ks)
  docs/gguf_accuracy.md
Due: none

Delete q4_autoround_baseline.sh
  q4_autoround_baseline.sh
Due: none

Delete q2_autoround_baseline.sh
  q2_autoround_baseline.sh
Due: none

Update gguf_accuracy (q3_ks)
  docs/gguf_accuracy.md
Due: none

Update gguf_accuracy (q3_ks) (#590)
  docs/gguf_accuracy.md
Due: none

add awq recipe
  README.md
  docs/DeepSeek-R1-0528-int4-asym-awq-inc.md
Due: none

add recipes for deepseek-r1-0528 (#588)
  README.md
  docs/DeepSeek-R1-0528-int2-mixed-sym-inc.md
  docs/DeepSeek-R1-0528-int4-asym-awq-inc.md
  docs/DeepSeek-R1-0528-int4-sym-gptq-inc.md
Due: none

correct errors of deepseek-r1-0528 recipes
  docs/DeepSeek-R1-0528-int4-asym-awq-inc.md
  docs/DeepSeek-R1-0528-int4-sym-gptq-inc.md
Due: none

update
  docs/DeepSeek-R1-0528-int4-asym-awq-inc.md
  docs/DeepSeek-R1-0528-int4-sym-gptq-inc.md
Due: none

correct errors of deepseek-r1-0528 recipes (#591)
  docs/DeepSeek-R1-0528-int4-asym-awq-inc.md
  docs/DeepSeek-R1-0528-int4-sym-gptq-inc.md
Due: none

fix
  .azure-pipelines/scripts/ut/run_ut_cuda.sh
Due: .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix cuda ut
  auto_round/autoround.py
  auto_round/export/export_to_autoround/export.py
  auto_round/export/export_to_autoround/qlinear_triton.py
  auto_round/inference/convert_model.py
  test/test_cuda/test_exllamav2_backend.py
  test/test_cuda/test_triton_backend.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix
  auto_round/export/export_to_autoround/export.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

Update auto_round/autoround.py
  auto_round/autoround.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

Update auto_round/inference/convert_model.py
  auto_round/inference/convert_model.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix cuda ut (#592)
  auto_round/autoround.py
  auto_round/export/export_to_autoround/export.py
  auto_round/export/export_to_autoround/qlinear_triton.py
  auto_round/inference/convert_model.py
  test/test_cuda/test_exllamav2_backend.py
  test/test_cuda/test_triton_backend.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

reduce unnecessary forward to improve speed
  auto_round/autoround.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

tiny change
  auto_round/autoround.py
  auto_round/script/mllm.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

Update auto_round/script/mllm.py
  auto_round/script/mllm.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

rm unnecessary forward to improve speed (#593)
  auto_round/autoround.py
  auto_round/script/mllm.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

try to setup imatrix baseline
  auto_round/autoround.py
  auto_round/data_type/int.py
  auto_round/export/export_to_gguf/quant_gpu.py
  auto_round/wrapper.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

add todo
  auto_round/autoround.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

support for q4_k_m
  auto_round/autoround.py
  auto_round/export/export_to_gguf/config.py
  auto_round/export/export_to_gguf/convert.py
  auto_round/export/export_to_gguf/export.py
  auto_round/utils.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

Path conditions:
  .azure-pipelines/code-scan.yml: any of: auto_round, setup.py, requirements.txt, .azure-pipelines/code-scan.yml, .azure-pipelines/scripts/codeScan
  .azure-pipelines/unit-test-hpu.yml: any of: auto_round, test/test*hpu*', setup.py, requirements-hpu.txt, .azure-pipelines/scripts/ut, but not: auto_round/export/export_to_autogptq, auto_round/export/export_to_awq, *.md, **/*.md
  .azure-pipelines/unit-test.yml: any of: auto_round, auto_round_extension, test, setup.py, requirements_pt.txt, .azure-pipelines/scripts/ut
