Repository intel/auto-round: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

.azure-pipelines/code-scan.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: BanditCodeScan
    displayName: Bandit Code Scan
    dependsOn: []
    jobs:
    - job: Bandit
      displayName: Bandit
      steps:
      - template: template/code-scan-template.yml
        parameters:
          codeScanFileName: bandit
          uploadPath: bandit.log
  ...

.azure-pipelines/compatibility-test.yml:
  stages:
  - stage: null
    displayName: Compatibility Test
    dependsOn: []
    jobs:
    - job: null
      timeoutInMinutes: 20
      strategy:
        matrix:
          Python310_Linux:
            python_version: '3.10'
            vmImage: ubuntu-latest
          Python311_Linux:
            python_version: '3.11'
  ...

.azure-pipelines/unit-test-hpu.yml:
  pool: GAUDI
  stages:
  - stage: Unit_test
    displayName: Unit Test
    dependsOn: []
    jobs:
    - job: null
      displayName: Unit Test
      steps:
      - template: template/ut-template.yml
        parameters:
          imageSource: pull
          dockerConfigName: commonDockerConfig
  ...

.azure-pipelines/unit-test-xpu.yml:
  pool: B60
  stages:
  - stage: Unit_test
    displayName: Unit Test
    dependsOn: []
    jobs:
    - job: null
      displayName: Unit Test
      steps:
      - template: template/ut-template.yml
        parameters:
          dockerConfigName: commonDockerConfig
          utScriptFileName: run_ut_xpu
  ...

.azure-pipelines/unit-test.yml:
  pool: ICX-16C
  stages:
  - stage: Unit_test
    displayName: Unit Test
    dependsOn: []
    jobs:
    - job: null
      timeoutInMinutes: 120
      strategy:
        matrix:
          part1:
            PART: 1
          part2:
            PART: 2
          part3:
            PART: 3
          part4:
            PART: 4
  ...

fix gguf format gemma4 High RAM and glm-4.7 error (#2084)
  auto_round/compressors/orchestrator.py
  auto_round/data_type/gguf.py
  auto_round/export/export_to_gguf/convert.py
  auto_round/export/export_to_gguf/packing.py
  auto_round/export/export_to_llmcompressor/export_to_fp.py
  auto_round/export/export_to_llmcompressor/export_to_static_fp.py
  test/test_cpu/export/test_llmc_format.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix cuda CI
  test/test_cuda/models/test_fp8_model.py
Due: .azure-pipelines/unit-test.yml

[Feature]: speedup autoscheme with multi-process and cache files (#2083)
  auto_round/auto_scheme/delta_loss.py
  auto_round/auto_scheme/gen_auto_scheme.py
  auto_round/auto_scheme/utils.py
  auto_round/cli/main.py
  auto_round/cli/parser.py
  auto_round/compressors/entry.py
  auto_round/compressors/model_free.py
  auto_round/compressors/orchestrator.py
  auto_round/envs.py
  auto_round/modeling/fused_moe/replace_modules.py
  auto_round/utils/device.py
  auto_round/utils/device_manager.py
  auto_round/utils/model.py
  docs/environments.md
  docs/environments_CN.md
  test/fixtures.py
  test/test_cpu/export/test_llmc_format.py
  test/test_cpu/models/test_moe_model.py
  test/test_cpu/quantization/test_model_free.py
  test/test_cpu/schemes/test_auto_scheme.py
  test/test_cpu/schemes/test_auto_scheme_internal.py
  test/test_cpu/utils/test_cli_usage.py
  test/test_cuda/models/test_fp8_model.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

feat: enable torch.compile by default for improved quantization performance
  README.md
  README_CN.md
  auto_round/compressors/entry.py
  auto_round/compressors/model_free.py
  test/test_cpu/quantization/test_model_free.py
  test/test_cpu/quantization/test_model_free_parity.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

docs: update step-by-step instructions for torch.compile settings on Windows and non-Windows platforms
  docs/step_by_step.md
  docs/step_by_step_CN.md
Due: none

docs: update README to clarify default behavior of torch.compile on Windows
  README.md
  README_CN.md
Due: none

disable for CI failure
  test/test_cpu/algorithms/test_awq.py
Due: .azure-pipelines/unit-test.yml

Decoupling oneDNN (#2049)
  auto_round_extension/ark/auto_round_kernel/CMakeLists.txt
  auto_round_extension/ark/auto_round_kernel/__init__.py
  auto_round_extension/ark/auto_round_kernel/ark.cpp
  auto_round_extension/ark/auto_round_kernel/sdpa.cpp
  auto_round_extension/ark/auto_round_kernel/wrapper/include/cpu_wrapper.hpp
  auto_round_extension/ark/auto_round_kernel/wrapper/include/sycl_s8_wrapper.hpp
  auto_round_extension/ark/auto_round_kernel/wrapper/include/sycl_tla_dense_gemm.hpp
  auto_round_extension/ark/auto_round_kernel/wrapper/include/sycl_tla_s8_gemm.hpp
  auto_round_extension/ark/auto_round_kernel/wrapper/include/utils.hpp
  auto_round_extension/ark/auto_round_kernel/wrapper/include/xpu_wrapper.hpp
  auto_round_extension/ark/setup.py
  auto_round_extension/ark/test/test_matmul.py
  auto_round_extension/ark/test/test_weightonly.py
  auto_round_extension/ark/test/ut_utils.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-xpu.yml

bug fix
  .azure-pipelines/scripts/cuda_unit_test/run_cuda_ut.sh
Due: none

feat: update tensor processing for FP8 compatibility and add test for calculate_gparam with float8 input
  auto_round/data_type/nvfp.py
  test/fixtures.py
  test/test_cpu/quantization/test_nvfp4_quant_linear.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix
  auto_round/algorithms/composer.py
  auto_round/algorithms/quantization/base.py
  auto_round/algorithms/quantization/sign_round/quantizer.py
  auto_round/compressors/orchestrator.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix
  auto_round/compressors/orchestrator.py
  test/test_cpu/core/test_llmc_quantize_block.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

feat: integrate SVDQuant with algorithm composer
  auto_round/algorithms/registry.py
  auto_round/algorithms/transforms/svdquant/__init__.py
  auto_round/algorithms/transforms/svdquant/apply.py
  auto_round/algorithms/transforms/svdquant/smooth_adapters/__init__.py
  auto_round/algorithms/transforms/svdquant/smooth_adapters/base.py
  auto_round/algorithms/transforms/svdquant/smooth_adapters/flux.py
  test/test_cpu/algorithms/test_svdquant.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

feat: add SVDQuant smooth calibration
  auto_round/algorithms/transforms/svdquant/apply.py
  auto_round/algorithms/transforms/svdquant/smooth.py
  auto_round/algorithms/transforms/svdquant/smooth_adapters/__init__.py
  auto_round/algorithms/transforms/svdquant/smooth_adapters/base.py
  auto_round/algorithms/transforms/svdquant/smooth_adapters/flux.py
  test/test_cpu/algorithms/test_svdquant_smooth.py
  test/test_cpu/algorithms/test_svdquant_smooth_adapters.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

docs: add SVDQuant details
  docs/svdquant_details.md
Due: none

feat: add SVDQuant algorithm CLI
  auto_round/cli/algorithms.py
  test/test_cpu/utils/test_cli_usage.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

feat: port SVDQuant core primitives
  auto_round/algorithms/transforms/svdquant/__init__.py
  auto_round/algorithms/transforms/svdquant/config.py
  auto_round/algorithms/transforms/svdquant/residual.py
  auto_round/algorithms/transforms/svdquant/wrapper.py
  test/test_cpu/algorithms/test_svdquant_residual.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

feat: add Nunchaku SVDQuant export
  auto_round/algorithms/transforms/svdquant/apply.py
  auto_round/compressors/base.py
  auto_round/compressors/diffusion_mixin.py
  auto_round/export/svdquant_adapters/__init__.py
  auto_round/export/svdquant_adapters/flux.py
  auto_round/export/svdquant_nunchaku.py
  auto_round/formats.py
  auto_round/utils/common.py
  test/test_cpu/export/test_svdquant_flux_adapter.py
  test/test_cpu/export/test_svdquant_nunchaku_export.py
  test/test_cpu/export/test_svdquant_nunchaku_format.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

feat: add SVDQuant serialization codecs
  auto_round/export/svdquant_mxfp4.py
  auto_round/export/svdquant_w4a16.py
  test/test_cpu/export/test_svdquant_mxfp4.py
  test/test_cpu/export/test_svdquant_w4a16.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix: support low-memory diffusion SignRound calibration
  auto_round/algorithms/block_runner.py
  auto_round/algorithms/transforms/svdquant/apply.py
  auto_round/calibration/diffusion.py
  auto_round/compressors/diffusion_mixin.py
  auto_round/formats.py
  auto_round/utils/model.py
  test/test_cpu/algorithms/test_block_runner.py
  test/test_cpu/algorithms/test_svdquant.py
  test/test_cpu/export/test_svdquant_nunchaku_format.py
  test/test_cpu/models/test_diffusion.py
  test/test_cpu/utils/test_diffusion_detection.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

feat: add OpenCodeInstruct calibration dataset
  auto_round/calib_dataset.py
  test/test_cpu/utils/test_calib_dataset.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

support block without quantized ops
  auto_round/utils/device.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

support GLM5.2 shared inputs across blocks
  auto_round/algorithms/block_runner.py
  test/test_cpu/algorithms/test_block_runner.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

refactor: enhance memory estimation for tuning blocks to support various input formats
  auto_round/utils/device.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix: restore Kimi-VL routed expert gradients
  auto_round/algorithms/quantization/sign_round/quantizer.py
  auto_round/modeling/kimi_vl.py
  test/test_cpu/models/test_kimi_vl.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix: validate SVDQuant calibration config
  auto_round/algorithms/transforms/svdquant/config.py
  auto_round/autoround.py
  test/test_cpu/algorithms/test_svdquant_residual.py
  test/test_cpu/core/test_pipeline_fail_fast.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix: resolve sparse benchmark lint errors
  auto_round_extension/ark/benchmarks/bench_sparse_topk.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-xpu.yml

clean
  auto_round_extension/ark/BKC_KERNEL_BENCH.md
  auto_round_extension/ark/REPRODUCE.md
  auto_round_extension/ark/auto_round_kernel/CMakeLists.txt
  auto_round_extension/ark/benchmarks/plot_sparse_sweep_vs_sagev1.py
  auto_round_extension/ark/benchmarks/run_bench_sparse_topk_xpu67_oneapi2025.sh
  auto_round_extension/ark/benchmarks/source_env_xpu67_oneapi2025.sh
  auto_round_extension/ark/benchmarks/sweep_sparse_topk_qtile256.sh
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-xpu.yml

clean
  auto_round_extension/ark/examples/FLUX_SWEEP.md
  auto_round_extension/ark/examples/run_flux_sweep.sh
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-xpu.yml

Remove RoutedExperts since the bug is fixed.
  auto_round/compressors/model_free.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

update step docs and improve template
  auto_round/calib_dataset.py
  docs/step_by_step.md
  docs/step_by_step_CN.md
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

ark: add SpargeAttn support (#2027)
  auto_round_extension/ark/auto_round_kernel/__init__.py
  auto_round_extension/ark/auto_round_kernel/ark.cpp
  auto_round_extension/ark/auto_round_kernel/sdpa_sparse.cpp
  auto_round_extension/ark/auto_round_kernel/sparge_preprocess_triton.py
  auto_round_extension/ark/auto_round_kernel/sparse_attention.py
  auto_round_extension/ark/auto_round_kernel/wrapper/include/stla/xe_sparse_fmha_fwd_epilogue.hpp
  auto_round_extension/ark/auto_round_kernel/wrapper/include/stla/xe_sparse_sage_fwd_kernel.hpp
  auto_round_extension/ark/auto_round_kernel/wrapper/include/stla/xe_sparse_sagev1_fwd_mainloop.hpp
  auto_round_extension/ark/auto_round_kernel/wrapper/include/sycl_tla_common.hpp
  auto_round_extension/ark/auto_round_kernel/wrapper/include/sycl_tla_sdpa_sparse.hpp
  auto_round_extension/ark/auto_round_kernel/wrapper/test/test_sage_sparse_prefill_e2e.py
  auto_round_extension/ark/auto_round_kernel/wrapper/test/test_sparge_preprocess_topk_e2e.py
  auto_round_extension/ark/auto_round_kernel/xpu_loader.py
  auto_round_extension/ark/benchmarks/bench_sparse_topk.py
  auto_round_extension/ark/examples/flux_sparse_patch.py
  auto_round_extension/ark/examples/run_flux.py
  auto_round_extension/ark/examples/run_wan.py
  auto_round_extension/ark/examples/wan_sparse_patch.py
  auto_round_extension/ark/test/test_sparge_preprocess_helpers.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-xpu.yml

AutoRound 执行 torch.compile 后，TorchInductor/Triton 会在当前 pytest 进程中创建后台线程、线程池和同步锁。随后 SGLang 在同一个进程中启动自己的多进程组件时使用了 fork。
  test/test_cuda/integrations/test_sglang.py
Due: .azure-pipelines/unit-test.yml

update CI
  test/test_cpu/quantization/test_model_free.py
Due: .azure-pipelines/unit-test.yml

refine alg and support lfq (#2082)
  auto_round/algorithms/composer.py
  auto_round/algorithms/quantization/base.py
  auto_round/algorithms/quantization/rtn/quantizer.py
  auto_round/algorithms/quantization/sign_round/config.py
  auto_round/algorithms/quantization/sign_round/quantizer.py
  auto_round/calibration/llm.py
  auto_round/cli/algorithms.py
  auto_round/compressors/orchestrator.py
  test/test_cpu/core/test_llmc_quantize_block.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix
  auto_round/algorithms/composer.py
  auto_round/algorithms/quantization/rtn/quantizer.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

compressors/base: propagate model_dir to offloader; defer resume clear
  auto_round/compressors/base.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Add disk-streaming primitive for per-block checkpoint materialization
  auto_round/utils/disk_stream_util.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Add unit tests for disk_stream_util.py primitives
  test/test_cpu/utils/test_disk_stream_util.py
Due: .azure-pipelines/unit-test.yml

Strip leaked internal-repo comments; fix meta-materialize dtype bug
  auto_round/context/model.py
  auto_round/envs.py
  auto_round/utils/disk_stream_util.py
  auto_round/utils/offload.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Path conditions:
  .azure-pipelines/code-scan.yml: any of: auto_round, auto_round_extension, setup.py, requirements.txt, requirements-cpu.txt, requirements-hpu.txt, .azure-pipelines/code-scan.yml, .azure-pipelines/scripts/codeScan
  .azure-pipelines/compatibility-test.yml: any of: auto_round, auto_round_extension, setup.py, setup.cfg, requirements.txt, requirements-cpu.txt, .azure-pipelines/compatibility-test.yml, but not: *.md, **/*.md
  .azure-pipelines/unit-test-hpu.yml: any of: auto_round, test/test*hpu*', setup.py, requirements-lib.txt, .azure-pipelines/scripts/ut, .azure-pipelines/template/docker-template.yml, .azure-pipelines/template/ut-template.yml, but not: auto_round/export/export_to_autogptq, auto_round/export/export_to_awq, *.md, **/*.md
  .azure-pipelines/unit-test-xpu.yml: any of: auto_round, auto_round_extension, test/test_ark, test/test_xpu, setup.py, .azure-pipelines/template/ut-template.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/scripts/ut/run_ut_xpu.sh, but not: *.md, **/*.md
  .azure-pipelines/unit-test.yml: any of: auto_round, auto_round_extension, test, setup.py, requirements.txt, requirements-cpu.txt, .azure-pipelines/scripts/ut, .azure-pipelines/unit-test.yml, .azure-pipelines/template/ut-template.yml, .azure-pipelines/template/docker-template.yml, but not: auto_round_extension/ark, test/test_hpu, test/test_ark, test/test_xpu, *.md, **/*.md, .azure-pipelines/scripts/ut/run_ut_hpu.sh, .azure-pipelines/scripts/ut/run_ut_cuda.sh, .azure-pipelines/scripts/ut/run_ut_xpu.sh
