Repository intel/auto-round: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

Path conditions:
  .azure-pipelines/code-scan.yml: any of: auto_round, setup.py, requirements.txt, .azure-pipelines/code-scan.yml, .azure-pipelines/scripts/codeScan
  .azure-pipelines/compatibility-test.yml: any of: auto_round, auto_round_extension, setup.py, setup.cfg, requirements.txt, requirements-cpu.txt, .azure-pipelines/compatibility-test.yml, but not: *.md, **/*.md
  .azure-pipelines/unit-test-hpu.yml: any of: auto_round, test/test*hpu*', setup.py, requirements-lib.txt, .azure-pipelines/scripts/ut, .azure-pipelines/template/docker-template.yml, .azure-pipelines/template/ut-template.yml, but not: auto_round/export/export_to_autogptq, auto_round/export/export_to_awq, *.md, **/*.md
  .azure-pipelines/unit-test.yml: any of: auto_round, auto_round_extension, test, setup.py, requirements.txt, requirements-cpu.txt, .azure-pipelines/scripts/ut, .azure-pipelines/unit-test.yml, .azure-pipelines/template/ut-template.yml, .azure-pipelines/template/docker-template.yml, but not: test/test*hpu*, *.md, **/*.md

fix asym quantization issue (#1158)
  auto_round/compressors/base.py
  auto_round_extension/torch/qlinear_torch.py
  auto_round_extension/torch/qlinear_torch_zp.py
  test/test_cpu/test_asym.py
  test/test_cuda/test_asym.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix
  auto_round/compressors/base.py
  test/test_cuda/test_customized_data.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

refine
  test/test_cuda/test_customized_data.py
Due: .azure-pipelines/unit-test.yml

fix
  auto_round/compressors/base.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

update
  auto_round/compressors/base.py
  test/test_cuda/test_customized_data.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

Update auto_round/compressors/base.py
  auto_round/compressors/base.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix bug
  auto_round/compressors/base.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

update
  auto_round/compressors/base.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

update norm bias tuning doc (#1155)
  docs/tuning_norm_bias.md
Due: none

fix
  test/test_cpu/test_mxfp_nvfp.py
  test/test_cuda/test_mxfp_nvfp.py
Due: .azure-pipelines/unit-test.yml

fix bug
  test/conftest.py
Due: .azure-pipelines/unit-test.yml

revert some changes
  test/test_cpu/test_mxfp_nvfp.py
Due: .azure-pipelines/unit-test.yml

handle key not found issue (#1156)
  auto_round/compressors/base.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

clean
  auto_round/data_type/fp8.py
  auto_round/data_type/utils.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix few bugs
  test/conftest.py
  test/fixtures.py
  test/helpers.py
  test/test_cuda/test_2_3bits.py
  test/test_cuda/test_alg_ext.py
Due: .azure-pipelines/unit-test.yml

rename
  auto_round/compressors/base.py
  auto_round/inference/convert_model.py
  auto_round/special_model_handler.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

rewrite fill_default_value logic for robust
  auto_round/compressors/utils.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

reduce acc threshold
  test/test_cpu/test_mxfp_nvfp.py
  test/test_cuda/test_mxfp_nvfp.py
Due: .azure-pipelines/unit-test.yml

Add G2-specific `FP8_STATIC` support (#1148)
  auto_round/compressors/base.py
  auto_round/data_type/fp8.py
  auto_round/data_type/utils.py
  auto_round/experimental/attention.py
  auto_round/experimental/utils.py
  auto_round/utils/device.py
  auto_round/utils/model.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

refine
  auto_round/modelling/__init__.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

reduce threshold
  test/test_cpu/test_mxfp_nvfp.py
  test/test_cuda/test_mxfp_nvfp.py
Due: .azure-pipelines/unit-test.yml

use lazy import
  auto_round/modelling/__init__.py
  auto_round/modelling/replace_modules.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

update
  test/test_cuda/test_customized_data.py
Due: .azure-pipelines/unit-test.yml

fix preci issue
  test/test_cuda/test_customized_data.py
Due: .azure-pipelines/unit-test.yml

rm infer part of awq UT, as newest transformers not compile with awq
  test/test_cpu/test_export.py
Due: .azure-pipelines/unit-test.yml

rm assert for xpu
  auto_round_extension/ark/qlinear.py
Due: .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test.yml

enable xpu+awq
  auto_round/inference/backend.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix awq accuracy
  auto_round_extension/ark/qlinear.py
Due: .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test.yml

add awq UT cases
  test/test_ark/test_model.py
Due: .azure-pipelines/unit-test.yml

use auto compute dtype for gptq model
  auto_round_extension/ark/qlinear.py
Due: .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test.yml

update cuda ut
  test/helpers.py
  test/test_cuda/test_alg_ext.py
  test/test_cuda/test_asym.py
  test/test_cuda/test_auto_round_format.py
  test/test_cuda/test_auto_scheme.py
  test/test_cuda/test_calib_dataset.py
  test/test_cuda/test_conv1d.py
  test/test_cuda/test_diffusion.py
  test/test_cuda/test_exllamav2_backend.py
  test/test_cuda/test_export.py
  test/test_cuda/test_fp8_input.py
  test/test_cuda/test_scheme.py
Due: .azure-pipelines/unit-test.yml

update cuda ut
  test/test_cpu/test_auto_scheme.py
Due: .azure-pipelines/unit-test.yml

revert utils
  auto_round/data_type/utils.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

Fix accuracy bug in the customized dataset (#1162)
  auto_round/compressors/base.py
  test/test_cpu/test_mxfp_nvfp.py
  test/test_cuda/test_customized_data.py
  test/test_cuda/test_mxfp_nvfp.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml
