Repository intel/auto-round: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Path conditions:
  .azure-pipelines/code-scan.yml: any of: auto_round, auto_round_extension, setup.py, requirements.txt, requirements-cpu.txt, requirements-hpu.txt, .azure-pipelines/code-scan.yml, .azure-pipelines/scripts/codeScan
  .azure-pipelines/compatibility-test.yml: any of: auto_round, auto_round_extension, setup.py, setup.cfg, requirements.txt, requirements-cpu.txt, .azure-pipelines/compatibility-test.yml, but not: *.md, **/*.md
  .azure-pipelines/unit-test-hpu.yml: any of: auto_round, test/test*hpu*', setup.py, requirements-lib.txt, .azure-pipelines/scripts/ut, .azure-pipelines/template/docker-template.yml, .azure-pipelines/template/ut-template.yml, but not: auto_round/export/export_to_autogptq, auto_round/export/export_to_awq, *.md, **/*.md
  .azure-pipelines/unit-test-xpu.yml: any of: auto_round, auto_round_extension, test/test_ark, test/test_xpu, setup.py, .azure-pipelines/template/ut-template.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/scripts/ut/run_ut_xpu.sh, but not: *.md, **/*.md
  .azure-pipelines/unit-test.yml: any of: auto_round, auto_round_extension, test, setup.py, requirements.txt, requirements-cpu.txt, .azure-pipelines/scripts/ut, .azure-pipelines/unit-test.yml, .azure-pipelines/template/ut-template.yml, .azure-pipelines/template/docker-template.yml, but not: auto_round_extension/ark, test/test_hpu, test/test_ark, test/test_xpu, *.md, **/*.md, .azure-pipelines/scripts/ut/run_ut_hpu.sh, .azure-pipelines/scripts/ut/run_ut_cuda.sh, .azure-pipelines/scripts/ut/run_ut_xpu.sh

feat: update Python version to 3.14 and related dependencies across CI/CD configurations
  .azure-pipelines/ark-unit-test.yml
  .azure-pipelines/docker/DockerfileCodeScan.devel
  .azure-pipelines/docker/cpu.dockerfile
  .azure-pipelines/docker/xpu.dockerfile
  .azure-pipelines/nightly-test-cpu.yml
  .azure-pipelines/nightly-test-cuda.yml
  .azure-pipelines/nightly-test-xpu.yml
  .azure-pipelines/scripts/cuda_unit_test/run_cuda_ut.sh
  .azure-pipelines/scripts/ut/constraints.txt
  .azure-pipelines/scripts/ut/run_ut_cuda.sh
  .azure-pipelines/template/docker-template.yml
  .azure-pipelines/template/lib-build-template.yml
  .azure-pipelines/template/ut-template.yml
  .azure-pipelines/unit-test-cuda.yml
  .azure-pipelines/unit-test-xpu.yml
  .azure-pipelines/unit-test.yml
Due: .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

update
  auto_round/compressors/mllm/dataset.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Potential fix for pull request finding
  auto_round/inference/backend.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Potential fix for pull request finding
  auto_round/compressors/mllm/dataset.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Potential fix for pull request finding
  auto_round_extension/torch/qlinear_torch.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Potential fix for pull request finding
  docs/step_by_step.md
Due: none

use tiny model and move few e2e ut to weekly test
  test/fixtures.py
  test/helpers.py
  test/unit/common/export/test_gguf_dtype_helpers.py
  test/unit/common/inference/test_int_export_backend_selection.py
  test/unit/common/models/test_omni_model.py
  test/unit/test_cuda/export/test_auto_round_format.py
  test/unit/test_cuda/export/test_autoround_int_export.py
  test/unit/test_cuda/export/test_gguf_format.py
  test/unit/test_cuda/models/test_moe_model.py
  test/unit/test_cuda/models/test_omni_model.py
  test/unit/test_cuda/transform/test_mxfp4_transform.py
  test/unit/test_cuda/transform/test_spinquant.py
Due: .azure-pipelines/unit-test.yml

optimize workflow
  .azure-pipelines/scripts/cuda_unit_test/run_cuda_ut.sh
  .azure-pipelines/template/ut-template.yml
  .azure-pipelines/unit-test-cuda.yml
Due: .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

for test only, need to revert before merge
  test/unit/test_cuda/export/test_auto_awq_format.py
Due: .azure-pipelines/unit-test.yml

fix: add GITHUB_TOKEN environment variable for GitHub access in CI scripts
  .azure-pipelines/nightly-test-cuda.yml
  .azure-pipelines/scripts/cuda_unit_test/run_cuda_ut.sh
  .azure-pipelines/scripts/ut/run_ut_cuda.sh
  .azure-pipelines/unit-test-cuda.yml
Due: .azure-pipelines/unit-test-hpu.yml

fix: reorder TARGET_GPUS list to avoid duplication of MIG 2g.48gb entry
  .azure-pipelines/scripts/cuda_unit_test/runpod_manager.py
Due: none

fix: remove GITHUB_TOKEN configuration from create_conda_env function
  .azure-pipelines/scripts/ut/run_ut_cuda.sh
Due: .azure-pipelines/unit-test-hpu.yml

feat(orchestrator): add reference_output to quantize_block to skip collect_reference
  auto_round/algorithms/composer.py
  auto_round/compressors/orchestrator.py
  auto_round/compressors/utils.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

test(compressors): add unit tests for compress_block reference_output skip
  test/unit/common/compressors/test_reference_output.py
Due: .azure-pipelines/unit-test.yml

use tiny model and local json calibration
  test/unit/common/models/test_conv1d.py
  test/unit/common/quantization/test_asym.py
  test/unit/test_cuda/algorithms/test_alg_ext.py
  test/unit/test_cuda/algorithms/test_auto_scheme.py
  test/unit/test_cuda/algorithms/test_block_runner.py
  test/unit/test_cuda/auto_scheme/test_auto_scheme.py
  test/unit/test_cuda/backends/test_triton_backend.py
  test/unit/test_cuda/export/test_auto_round_format.py
Due: .azure-pipelines/unit-test.yml

update
  auto_round/auto_scheme/delta_loss.py
  auto_round/context/model.py
  auto_round/envs.py
  auto_round/modeling/fused_moe/moe_experts_interface.py
  auto_round/modeling/fused_moe/replace_modules.py
  auto_round/utils/disk_stream_util.py
  auto_round/utils/offload.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix: skip activation fake-quant in FakeActQuantLinear when act quantization is not configured (#2286)
  auto_round/experimental/qmodules/fake.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Revert "for test only, need to revert before merge"
  test/unit/test_cuda/export/test_auto_awq_format.py
Due: .azure-pipelines/unit-test.yml

update
  auto_round/envs.py
  auto_round/modeling/fused_moe/moe_experts_interface.py
  auto_round/modeling/fused_moe/replace_modules.py
  auto_round/utils/disk_stream_util.py
  test/unit/test_cpu/models/test_fused_moe_detection.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

disable all moe replacements
  auto_round/modeling/fused_moe/replace_modules.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix: add variable group for GPU test stages in CI configurations
  .azure-pipelines/nightly-test-cuda.yml
  .azure-pipelines/unit-test-cuda.yml
Due: none

fix: replace bare except clauses with except Exception (#1981)
  auto_round/calib_dataset.py
  auto_round/inference/backend.py
  auto_round/inference/convert_model.py
  auto_round/modeling/unfused_moe/__init__.py
  auto_round/utils/common.py
  auto_round/utils/device.py
  auto_round/utils/device_manager.py
  auto_round/utils/model.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

modified repack fp16-bf16 route tests
  auto_round_extension/ark/test/test_ark_cpu_mixed_bestla_sdpa.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-xpu.yml

Enhance test logging and retry mechanism for unit tests (#2274)
  .azure-pipelines/scripts/cuda_unit_test/run_cuda_ut.sh
  .azure-pipelines/scripts/ut/collect_result.py
  .azure-pipelines/scripts/ut/detect_changed_tests.sh
  .azure-pipelines/scripts/ut/retry_failed_tests.sh
  .azure-pipelines/scripts/ut/run_ut.sh
  .azure-pipelines/scripts/ut/run_ut_xpu.sh
  .azure-pipelines/template/ut-template.yml
  .azure-pipelines/unit-test-cuda.yml
  .azure-pipelines/unit-test-xpu.yml
  test/pytest.ini
Due: .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix: update Python environment setup and dependencies in Dockerfiles and test scripts
  .azure-pipelines/docker/cpu.dockerfile
  .azure-pipelines/docker/xpu.dockerfile
  .azure-pipelines/scripts/cuda_unit_test/run_cuda_ut.sh
Due: none

speedup tuning
  auto_round/algorithms/quantization/sign_roundv2/quantizer.py
  auto_round/envs.py
  auto_round/modeling/fused_moe/__init__.py
  auto_round/modeling/fused_moe/grouped_experts.py
  auto_round/modeling/fused_moe/moe_experts_interface.py
  auto_round/wrapper.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

remove duplicate code
  .azure-pipelines/scripts/ut/run_ut.sh
Due: .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

no speedup gain
  auto_round/algorithms/composer.py
  auto_round/modeling/fused_moe/grouped_experts.py
  auto_round/modeling/fused_moe/moe_experts_interface.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix moe gguf
  auto_round/compressors/base.py
  auto_round/compressors/orchestrator.py
  auto_round/export/export_to_gguf/conversion/base.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fixtypo
  docs/awq_details.md
  docs/awq_details_CN.md
Due: none

fix
  test/unit/test_cuda/algorithms/test_block_runner.py
Due: .azure-pipelines/unit-test.yml

feat(orchestrator): add reference_output to quantize_block to skip collect_reference (#2289)
  auto_round/algorithms/composer.py
  auto_round/compressors/orchestrator.py
  auto_round/compressors/utils.py
  test/unit/common/compressors/test_reference_output.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix gguf format mtp bug
  auto_round/export/export_to_gguf/export.py
  test/unit/common/export/test_gguf_conversion.py
  test/unit/test_cpu/export/test_gguf_format.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fixtypos
  docs/awq_details.md
  docs/awq_details_CN.md
Due: none

short-circuit unfuse before expensive projection scan
  auto_round/modeling/fused_moe/moe_experts_interface.py
  test/unit/common/models/test_moe_experts_interface.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix: handle mantissa round overflow in float_to_e5m3_frexp to carry to exponent
  auto_round/data_type/nvfp.py
  test/unit/common/data_type/test_nvfp.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix
  test/fixtures.py
Due: .azure-pipelines/unit-test.yml
