Repository intel/auto-round: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

.azure-pipelines/code-scan.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: BanditCodeScan
    displayName: Bandit Code Scan
    dependsOn: []
    jobs:
    - job: Bandit
      displayName: Bandit
      steps:
      - template: template/code-scan-template.yml
        parameters:
          codeScanFileName: bandit
          uploadPath: bandit.log
  ...

.azure-pipelines/unit-test-hpu.yml:
  pool: GAUDI
  stages:
  - stage: Unit_test
    displayName: Unit Test
    dependsOn: []
    jobs:
    - job: null
      displayName: Unit Test
      steps:
      - template: template/ut-template.yml
        parameters:
          imageSource: pull
          dockerConfigName: commonDockerConfig
  ...

.azure-pipelines/unit-test.yml:
  pool: ICX-16C
  stages:
  - stage: Unit_test
    displayName: Unit Test
    dependsOn: []
    jobs:
    - job: null
      displayName: Unit Test
      steps:
      - template: template/ut-template.yml
        parameters:
          dockerConfigName: commonDockerConfig
          utScriptFileName: run_ut
  ...

fix
  auto_round/export/export_to_autoround/export.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

rm fp16 export in autoround format (#525)
  auto_round/export/export_to_autoround/export.py
  auto_round/inference/backend.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

update convert_hf_to_gguf to support more models (#524)
  auto_round/export/export_to_gguf/convert.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

refine script
  auto_round/autoround.py
  run_llama4_quant.sh
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

typofix
  run_llama4_quant.sh
Due: none

refine shell
  run_llama4_quant.sh
Due: none

fix light config
  auto_round/script/llm.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix light config (#526)
  auto_round/script/llm.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix typos, add model card link for VLMs
  README.md
Due: none

typofix
  README.md
Due: none

fixtypo
  README.md
Due: none

fix typos, add model card link for VLMs (#527)
  README.md
Due: none

add backend readme
  README.md
  auto_round/inference/backend.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

format
  README.md
Due: none

fix typo
  README.md
Due: none

add backend readme (#528)
  README.md
  auto_round/inference/backend.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

raise exception if no autogptq exllamav2
  auto_round/inference/convert_model.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

update mllm readme
  README.md
  auto_round/mllm/README.md
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test.yml

update readme
  README.md
  docs/step_by_step.md
  test/test_calib_dataset.py
Due: .azure-pipelines/unit-test.yml

fix bug
  auto_round/calib_dataset.py
  auto_round/inference/convert_model.py
  test_cuda/test_2_3bits.py
  test_cuda/test_calib_dataset.py
  test_cuda/test_gguf.py
  test_cuda/test_multiple_card.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix
  test_cuda/test_2_3bits.py
Due: none

update mllm readme (#530)
  README.md
  auto_round/mllm/README.md
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test.yml

fix inference issue
  auto_round/inference/backend.py
  auto_round/inference/convert_model.py
  test_cuda/test_exllamav2_backend.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix
  test_cuda/test_exllamav2_backend.py
Due: none

update ut
  test_cuda/test_2_3bits.py
Due: none

fix
  auto_round/inference/backend.py
  test_cuda/test_exllamav2_backend.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

update inference usage
  docs/step_by_step.md
Due: none

typofix
  docs/step_by_step.md
Due: none

update
  test_cuda/test_2_3bits.py
Due: none

fix line too long issue
  auto_round/inference/backend.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

update
  README.md
  test_cuda/test_2_3bits.py
Due: none

revert
  test_cuda/test_2_3bits.py
Due: none

fix bug of cuda ut (#532)
  auto_round/calib_dataset.py
  auto_round/inference/convert_model.py
  test_cuda/test_2_3bits.py
  test_cuda/test_calib_dataset.py
  test_cuda/test_gguf.py
  test_cuda/test_multiple_card.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

add mixed bits usage
  docs/step_by_step.md
Due: none

fix inference issue (#529)
  README.md
  auto_round/inference/backend.py
  auto_round/inference/convert_model.py
  test_cuda/test_exllamav2_backend.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix typo
  README.md
  docs/step_by_step.md
Due: none

Update README.md
  README.md
Due: none

Path conditions:
  .azure-pipelines/code-scan.yml: any of: auto_round, setup.py, requirements.txt, .azure-pipelines/code-scan.yml, .azure-pipelines/scripts/codeScan
  .azure-pipelines/unit-test-hpu.yml: any of: auto_round, test/test*hpu*', setup.py, requirements-hpu.txt, .azure-pipelines/scripts/ut, but not: auto_round/export/export_to_autogptq, auto_round/export/export_to_awq, *.md, **/*.md
  .azure-pipelines/unit-test.yml: any of: auto_round, auto_round_extension, test, setup.py, requirements_pt.txt, .azure-pipelines/scripts/ut
