Repository intel/auto-round: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

.azure-pipelines/code-scan.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: BanditCodeScan
    displayName: Bandit Code Scan
    dependsOn: []
    jobs:
    - job: Bandit
      displayName: Bandit
      steps:
      - template: template/code-scan-template.yml
        parameters:
          codeScanFileName: bandit
          uploadPath: bandit.log
  ...

.azure-pipelines/unit-test-hpu.yml:
  pool: GAUDI
  stages:
  - stage: Unit_test
    displayName: Unit Test
    dependsOn: []
    jobs:
    - job: null
      displayName: Unit Test
      steps:
      - template: template/ut-template.yml
        parameters:
          imageSource: pull
          dockerConfigName: commonDockerConfig
  ...

.azure-pipelines/unit-test.yml:
  pool: ICX-16C
  stages:
  - stage: Unit_test
    displayName: Unit Test
    dependsOn: []
    jobs:
    - job: null
      displayName: Unit Test
      timeoutInMinutes: 240
      steps:
      - template: template/ut-template.yml
        parameters:
          dockerConfigName: commonDockerConfig
  ...

refine backend
  test/test_cuda/test_torch_backend.py
Due: .azure-pipelines/unit-test.yml

update nvfp & mxfp quant, add llmcompressor nv_fp/mx_fp format export
  auto_round/__main__.py
  auto_round/autoround.py
  auto_round/data_type/nvfp.py
  auto_round/data_type/utils.py
  auto_round/export/__init__.py
  auto_round/export/export_to_autoround/export.py
  auto_round/export/export_to_autoround/export_to_fp.py
  auto_round/export/export_to_autoround/qlinear_fp.py
  auto_round/export/export_to_llmcompressor/__init__.py
  auto_round/export/export_to_llmcompressor/config.py
  auto_round/export/export_to_llmcompressor/export.py
  auto_round/export/export_to_llmcompressor/export_to_fp.py
  auto_round/script/llm.py
  auto_round/script/mllm.py
  auto_round/utils.py
  auto_round/wrapper.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

add dp to auto choose the bit while keepping size not too large
  auto_round/autoround.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

support for glm4.5
  auto_round/autoround.py
  auto_round/export/export_to_gguf/convert.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix gguf mistral_common import
  auto_round/export/export_to_gguf/convert_hf_to_gguf.py
  test/test_cpu/requirements.txt
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix ut
  test/test_cpu/test_gguf_format.py
Due: .azure-pipelines/unit-test.yml

Fix torch_zp infer bug & API disable_deterministic_algorithms bug (#733)
  auto_round/autoround.py
  auto_round/script/llm.py
  auto_round/script/mllm.py
  auto_round_extension/torch/qlinear_torch_zp.py
  test/test_cuda/test_torch_backend.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

update
  auto_round/export/export_to_gguf/convert.py
  auto_round/special_model_handler.py
  test/test_cpu/test_gguf_format.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix gguf mistral_common import (#736)
  auto_round/export/export_to_gguf/convert_hf_to_gguf.py
  test/test_cpu/requirements.txt
  test/test_cpu/test_gguf_format.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

refine export, fixtypo, add UT
  auto_round/autoround.py
  auto_round/data_type/nvfp.py
  auto_round/data_type/utils.py
  auto_round/export/__init__.py
  auto_round/export/export_to_autoround/export.py
  auto_round/export/export_to_autoround/export_to_fp.py
  auto_round/export/export_to_autoround/export_to_fp8_woq.py
  auto_round/export/export_to_autoround/qlinear_fp.py
  auto_round/export/export_to_autoround/utils.py
  auto_round/export/export_to_fp/__init__.py
  auto_round/export/export_to_fp/config.py
  auto_round/export/export_to_fp/export.py
  auto_round/export/export_to_fp/qlinear_fp.py
  auto_round/export/export_to_llmcompressor/config.py
  auto_round/export/export_to_llmcompressor/export.py
  auto_round/export/export_to_llmcompressor/export_to_fp.py
  auto_round/script/llm.py
  auto_round/script/mllm.py
  auto_round/utils.py
  auto_round/wrapper.py
  test/test_cpu/requirements.txt
  test/test_cpu/test_export.py
  test/test_cuda/requirements.txt
  test/test_cuda/test_export.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fixtypo
  auto_round/data_type/nvfp.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix
  auto_round/export/export_to_gguf/convert.py
  auto_round/export/export_to_gguf/special_handle.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix plint
  auto_round/autoround.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

add fp8 kv
  auto_round/autoround.py
  auto_round/experimental/auto_round_fp8_kv_example.py
  auto_round/experimental/fp8_kv_cache.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

refactor
  auto_round/autoround.py
  auto_round/experimental/fp8_kv_cache.py
  test/test_cpu/test_export.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

clean code
  auto_round/experimental/auto_round_fp8_kv_example.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix guff UT
  test/test_cpu/test_gguf_format.py
Due: .azure-pipelines/unit-test.yml

rm torch_compile from nvfp funcs
  auto_round/data_type/nvfp.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

Enable mxfp exporting (#649)
  auto_round/autoround.py
  auto_round/data_type/__init__.py
  auto_round/data_type/nvfp.py
  auto_round/data_type/utils.py
  auto_round/export/__init__.py
  auto_round/export/export_to_autoround/export.py
  auto_round/export/export_to_autoround/export_to_fp.py
  auto_round/export/export_to_autoround/qlinear_fp.py
  auto_round/export/export_to_autoround/utils.py
  auto_round/export/export_to_llmcompressor/__init__.py
  auto_round/export/export_to_llmcompressor/config.py
  auto_round/export/export_to_llmcompressor/export.py
  auto_round/export/export_to_llmcompressor/export_to_fp.py
  auto_round/script/llm.py
  auto_round/script/mllm.py
  auto_round/utils.py
  auto_round/wrapper.py
  test/test_cpu/requirements.txt
  test/test_cpu/test_export.py
  test/test_cpu/test_gguf_format.py
  test/test_cuda/requirements.txt
  test/test_cuda/test_export.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix
  auto_round/export/export_to_gguf/convert.py
  test/test_cpu/test_gguf_format.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

support bf16 scale and bias
  auto_round/autoround.py
  auto_round/export/export_to_autoround/export.py
  auto_round/wrapper.py
  auto_round_extension/torch/qlinear_torch.py
  auto_round_extension/torch/qlinear_torch_zp.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

update name
  auto_round/autoround.py
  test/test_cpu/test_export.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

support llama4 quant
  auto_round/mllm/autoround_mllm.py
  auto_round/special_model_handler.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

[WIP] support for glm4.5 gguf (#735)
  auto_round/autoround.py
  auto_round/export/export_to_gguf/convert.py
  auto_round/export/export_to_gguf/special_handle.py
  auto_round/special_model_handler.py
  test/test_cpu/test_gguf_format.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

upgrade torch to 2.8.0
  .azure-pipelines/docker/DockerfileCodeScan.devel
  .azure-pipelines/scripts/ut/run_ut.sh
  .azure-pipelines/template/ut-template.yml
Due: .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix pylint
  .azure-pipelines/docker/DockerfileCodeScan.devel
Due: none

add libomp-dev
  .azure-pipelines/docker/Dockerfile.devel
Due: none

add python3.12-dev
  .azure-pipelines/code-scan.yml
  .azure-pipelines/docker/Dockerfile.devel
  .azure-pipelines/unit-test-hpu.yml
Due: .azure-pipelines/code-scan.yml

test
  auto_round/special_model_handler.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

support auto-round-mllm command
  auto_round/__main__.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

support auto-round-mllm command (#742)
  auto_round/__main__.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

optimize packing zeros for int sym
  auto_round/data_type/int.py
  auto_round/export/export_to_autogptq/export.py
  auto_round/wrapper.py
  auto_round_extension/torch/qlinear_torch.py
  auto_round_extension/torch/qlinear_torch_zp.py
  test/test_cuda/test_2_3bits.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

add auto-round & auto_awq zp packing optimizition
  auto_round/export/export_to_autoround/export.py
  auto_round/export/export_to_awq/export.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix gguf packing issues
  auto_round/autoround.py
  auto_round/export/export_to_autogptq/export.py
  auto_round/export/export_to_awq/export.py
  auto_round/export/export_to_gguf/packing.py
  auto_round/export/export_to_itrex/export.py
  auto_round/wrapper.py
  test/test_cpu/test_woq_linear.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

store
  auto_round/autoround.py
  auto_round/special_model_handler.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

support llama4 quant
  auto_round/autoround.py
  auto_round/mllm/autoround_mllm.py
  auto_round/special_model_handler.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

update moe forward
  auto_round/special_model_handler.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix UT issues
  auto_round/export/export_to_autoround/export.py
  auto_round/export/export_to_autoround/export_to_fp8_woq.py
  auto_round/export/export_to_awq/export.py
  auto_round/export/export_to_itrex/export.py
  auto_round/export/export_to_itrex/model_wrapper.py
  test/test_cpu/test_woq_linear.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix
  auto_round/export/export_to_awq/export.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test.yml

Path conditions:
  .azure-pipelines/code-scan.yml: any of: auto_round, setup.py, requirements.txt, .azure-pipelines/code-scan.yml, .azure-pipelines/scripts/codeScan
  .azure-pipelines/unit-test-hpu.yml: any of: auto_round, test/test*hpu*', setup.py, requirements-lib.txt, .azure-pipelines/scripts/ut, .azure-pipelines/template/docker-template.yml, .azure-pipelines/template/ut-template.yml, but not: auto_round/export/export_to_autogptq, auto_round/export/export_to_awq, *.md, **/*.md
  .azure-pipelines/unit-test.yml: any of: auto_round, auto_round_extension, test, setup.py, requirements.txt, requirements-cpu.txt, .azure-pipelines/scripts/ut, .azure-pipelines/unit-test.yml, .azure-pipelines/template/ut-template.yml, .azure-pipelines/template/docker-template.yml, but not: test/test*hpu*, *.md, **/*.md
