Repository intel/auto-round: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

Path conditions:
  .azure-pipelines/code-scan.yml: any of: auto_round, setup.py, requirements.txt, .azure-pipelines/code-scan.yml, .azure-pipelines/scripts/codeScan
  .azure-pipelines/compatibility-test.yml: any of: auto_round, auto_round_extension, setup.py, setup.cfg, requirements.txt, requirements-cpu.txt, .azure-pipelines/compatibility-test.yml, but not: *.md, **/*.md
  .azure-pipelines/unit-test-hpu.yml: any of: auto_round, test/test*hpu*', setup.py, requirements-lib.txt, .azure-pipelines/scripts/ut, .azure-pipelines/template/docker-template.yml, .azure-pipelines/template/ut-template.yml, but not: auto_round/export/export_to_autogptq, auto_round/export/export_to_awq, *.md, **/*.md
  .azure-pipelines/unit-test.yml: any of: auto_round, auto_round_extension, test, setup.py, requirements.txt, requirements-cpu.txt, .azure-pipelines/scripts/ut, .azure-pipelines/unit-test.yml, .azure-pipelines/template/ut-template.yml, .azure-pipelines/template/docker-template.yml, but not: test/test*hpu*, *.md, **/*.md

fix llama 4 ut (#896)
  test/test_cuda/test_gguf.py
Due: .azure-pipelines/unit-test.yml

fix CI
  auto_round/export/export_to_autoround/utils.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

add diffusion README
  auto_round/compressors/diffusion/README.md
Due: .azure-pipelines/code-scan.yml

add numba for cpu lib (#919)
  requirements-cpu.txt
Due: .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test.yml

Loosen the packing restrictions for mxfp&nvfp (#911)
  auto_round/export/export_to_autoround/qlinear_fp.py
  auto_round/inference/backend.py
  auto_round/utils.py
  test/test_cpu/test_export.py
  test/test_cpu/test_mxfp_nvfp.py
  test/test_cuda/test_export.py
  test/test_cuda/test_mxfp_nvfp.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

Update README.md
  auto_round/compressors/diffusion/README.md
Due: .azure-pipelines/code-scan.yml

fix scan issue
  auto_round/export/export_to_autoround/utils.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

rm global variable
  auto_round/export/export_to_autoround/export.py
  auto_round/export/export_to_autoround/export_to_fp8.py
  auto_round/export/export_to_autoround/export_to_nvfp_mxfp.py
  auto_round/export/export_to_autoround/utils.py
  test/test_cpu/test_act_quantization.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

optimize rtn for int woq
  auto_round/compressors/base.py
  auto_round/data_type/int.py
  auto_round/data_type/utils.py
  auto_round/export/export_to_autoround/export.py
  auto_round/wrapper.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

rerun ut
  test/test_cpu/test_act_quantization.py
Due: .azure-pipelines/unit-test.yml

add attention quant
  auto_round/compressors/base.py
  auto_round/experimental/attention.py
  auto_round/experimental/kv_cache.py
  auto_round/utils.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

add ut
  auto_round/compressors/base.py
  auto_round/experimental/attention.py
  test/test_cpu/test_attention_quant.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

revert change
  auto_round/export/export_to_autoround/export.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

Extend mxfp loading dtypes (#916)
  auto_round/inference/backend.py
  auto_round/testing_utils.py
  test/test_cpu/test_mxfp_save_load.py
  test/test_cuda/test_mxfp_and_nvfp_quant.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

refine ut
  test/test_cpu/test_act_quantization.py
Due: .azure-pipelines/unit-test.yml

update cuda ut
  .azure-pipelines/scripts/ut/run_ut_cuda.sh
Due: .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

Fix act config exporting for mixed schemes (#903)
  auto_round/export/export_to_autoround/export.py
  auto_round/export/export_to_autoround/export_to_fp8.py
  auto_round/export/export_to_autoround/export_to_nvfp_mxfp.py
  auto_round/export/export_to_autoround/utils.py
  test/test_cpu/test_act_quantization.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

add llama patch
  auto_round/experimental/attention.py
  auto_round/experimental/attn_patches/llama.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix and update accuracy
  README.md
  auto_round/data_type/int.py
  auto_round/utils.py
  docs/opt_rtn.md
  docs/step_by_step.md
  test/test_cpu/test_autoround.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix
  auto_round/data_type/int.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

refine
  auto_round/data_type/int.py
  docs/opt_rtn.md
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

rm useless code
  auto_round/compressors/base.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

revert ut change
  test/test_cpu/test_autoround.py
Due: .azure-pipelines/unit-test.yml

fix
  test/test_cpu/test_gguf_format.py
Due: .azure-pipelines/unit-test.yml

correct fp8
  auto_round/experimental/attention.py
  auto_round/experimental/attn_patches/llama.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

add utils
  auto_round/experimental/utils.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix bug of gguf and support for LiquidAI/LFM2-1.2B
  auto_round/export/export_to_gguf/convert.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix ut
  auto_round/utils.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

update doc
  README.md
  docs/opt_rtn.md
  docs/step_by_step.md
Due: none

optimize rtn for int woq (#924)
  README.md
  auto_round/compressors/base.py
  auto_round/data_type/int.py
  auto_round/data_type/utils.py
  auto_round/export/export_to_autoround/export.py
  auto_round/utils.py
  auto_round/wrapper.py
  docs/opt_rtn.md
  docs/step_by_step.md
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix bug of gguf and support for LiquidAI/LFM2-1.2B (#927)
  auto_round/export/export_to_gguf/convert.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

remove numpy<2.0 limitation (#921)
  requirements-lib.txt
  requirements.txt
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

support attention mask
  auto_round/compressors/base.py
  test/test_cpu/test_autoround.py
  test/test_cuda/test_main_func.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix preci
  auto_round/compressors/base.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix bug
  auto_round/compressors/base.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

refine export, enhance gptq UT
  auto_round/export/export_to_autogptq/export.py
  auto_round/export/export_to_llmcompressor/utils.py
  auto_round/inference/utils.py
  auto_round/utils.py
  test/test_cpu/test_mix_bits.py
  test/test_cuda/test_mix_bits.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

remove low_cpu_mem
  auto_round/auto_scheme/utils.py
  auto_round/autoround.py
  auto_round/compressors/base.py
  auto_round/compressors/diffusion/compressor.py
  auto_round/compressors/mllm/compressor.py
  auto_round/low_cpu_mem/__init__.py
  auto_round/low_cpu_mem/load.py
  auto_round/low_cpu_mem/modified_pickle.py
  auto_round/low_cpu_mem/utils.py
  auto_round/utils.py
  docs/step_by_step.md
  test/test_cpu/test_autoround.py
  test/test_cpu/test_low_cpu_mem.py
  test/test_cuda/test_vlms.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

remove low_cpu_mem
  auto_round/auto_scheme/utils.py
  auto_round/autoround.py
  auto_round/compressors/base.py
  auto_round/compressors/diffusion/compressor.py
  auto_round/compressors/mllm/compressor.py
  auto_round/low_cpu_mem/__init__.py
  auto_round/low_cpu_mem/load.py
  auto_round/low_cpu_mem/modified_pickle.py
  auto_round/low_cpu_mem/utils.py
  auto_round/utils.py
  test/test_cpu/test_autoround.py
  test/test_cpu/test_low_cpu_mem.py
  test/test_cuda/test_vlms.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

enable regex quantization config saving for mixed bits (#825)
  auto_round/compressors/base.py
  auto_round/export/export_to_autogptq/export.py
  auto_round/export/export_to_autoround/export.py
  auto_round/export/export_to_autoround/export_to_nvfp_mxfp.py
  auto_round/export/export_to_awq/export.py
  auto_round/export/export_to_llmcompressor/export_to_fp.py
  auto_round/export/export_to_llmcompressor/utils.py
  auto_round/inference/convert_model.py
  auto_round/inference/utils.py
  auto_round/utils.py
  test/test_cpu/test_mix_bits.py
  test/test_cuda/test_mix_bits.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml
