Repository intel/auto-round: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

.azure-pipelines/code-scan.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: BanditCodeScan
    displayName: Bandit Code Scan
    dependsOn: []
    jobs:
    - job: Bandit
      displayName: Bandit
      steps:
      - template: template/code-scan-template.yml
        parameters:
          codeScanFileName: bandit
          uploadPath: bandit.log
  ...

.azure-pipelines/compatibility-test.yml:
  stages:
  - stage: null
    displayName: Compatibility Test
    dependsOn: []
    jobs:
    - job: null
      timeoutInMinutes: 20
      strategy:
        matrix:
          Python310_Linux:
            python_version: '3.10'
            vmImage: ubuntu-latest
          Python311_Linux:
            python_version: '3.11'
  ...

.azure-pipelines/unit-test-hpu.yml:
  pool: GAUDI
  stages:
  - stage: Unit_test
    displayName: Unit Test
    dependsOn: []
    jobs:
    - job: null
      displayName: Unit Test
      steps:
      - template: template/ut-template.yml
        parameters:
          imageSource: pull
          dockerConfigName: commonDockerConfig
  ...

.azure-pipelines/unit-test-xpu.yml:
  pool: B60
  stages:
  - stage: Unit_test
    displayName: Unit Test
    dependsOn: []
    jobs:
    - job: null
      displayName: Unit Test
      steps:
      - template: template/ut-template.yml
        parameters:
          dockerConfigName: commonDockerConfig
          utScriptFileName: run_ut_xpu
  ...

.azure-pipelines/unit-test.yml:
  pool: ICX-16C
  stages:
  - stage: Unit_test
    displayName: Unit Test
    dependsOn: []
    jobs:
    - job: null
      timeoutInMinutes: 120
      strategy:
        matrix:
          part1:
            PART: 1
          part2:
            PART: 2
          part3:
            PART: 3
          part4:
            PART: 4
  ...

update auto_scheme_acc doc (#2000)
  docs/auto_scheme_acc.md
Due: none

refactor: Remove unused import of _has_nvfp4_layer from AlgorithmComposer
  test/unit/test_cpu/core/test_pipeline_fail_fast.py
Due: .azure-pipelines/unit-test.yml

fix: AutoScheme parallel scoring OOMs (MoE memory, VLM gate) and disk-stream tuning crash (#2220)
  auto_round/auto_scheme/delta_loss.py
  auto_round/envs.py
  auto_round/utils/disk_stream_util.py
  auto_round/utils/offload.py
  docs/environments.md
  docs/environments_CN.md
  test/unit/test_cpu/schemes/test_auto_scheme.py
  test/unit/test_cpu/schemes/test_auto_scheme_disk_stream.py
  test/unit/test_cpu/utils/test_disk_stream_util.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Fix FP8 quantization config for native fp8 export (#2228)
  auto_round/cli/main.py
  auto_round/compressors/base.py
  auto_round/export/formats/backends/fp8.py
  test/unit/test_cuda/export/test_auto_round_format.py
  test/unit/test_cuda/export/test_fp8_format.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

add rotation ut for xpu. (#2094)
  test/unit/test_xpu/transform/__init__.py
  test/unit/test_xpu/transform/test_hadamard.py
  test/unit/test_xpu/transform/test_spinquant.py
Due: .azure-pipelines/unit-test.yml

add awq torch_compile fix, disable_opt_rtn by default for awq (#2208)
  README.md
  README_CN.md
  auto_round/algorithms/composer.py
  auto_round/algorithms/registry.py
  auto_round/algorithms/transforms/awq/base.py
  auto_round/algorithms/transforms/awq/config.py
  auto_round/algorithms/transforms/awq/qdq.py
  auto_round/autoround.py
  auto_round/cli/algorithms.py
  auto_round/cli/parser.py
  docs/awq_details.md
  docs/awq_details_CN.md
  docs/rotation_details.md
  docs/step_by_step.md
  docs/step_by_step_CN.md
  test/unit/test_cpu/algorithms/test_awq.py
  test/unit/test_cpu/core/test_autoround_entry.py
  test/unit/test_cpu/core/test_entry_contract.py
  test/unit/test_cpu/core/test_pipeline_fail_fast.py
  test/unit/test_cpu/utils/test_model_scope.py
  test/unit/test_cuda/algorithms/test_awq.py
  test/unit/test_cuda/backends/test_exllamav2_backend.py
  test/unit/test_cuda/backends/test_torch_backend.py
  test/unit/test_cuda/export/test_auto_round_format.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

add enable_torch_compile mark to SGLang and vLLM throughput tests (#2226)
  test/e2e/test_cuda/test_sglang_throughput.py
  test/e2e/test_cuda/test_vllm_throughput.py
Due: .azure-pipelines/unit-test.yml

fix: Add import for SimpleNamespace in test_pipeline_fail_fast.py
  test/unit/test_cpu/core/test_pipeline_fail_fast.py
Due: .azure-pipelines/unit-test.yml

fix typo
  .azure-pipelines/scripts/cuda_unit_test/run_cuda_ut.sh
Due: none

fix: remove stale quantizer access in dual-transformer diffusion (#2230)
  auto_round/compressors/diffusion_mixin.py
  test/unit/test_cpu/compressors/test_diffusion_mixin.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Fix Cuda UT coverage collect (#2234)
  .azure-pipelines/nightly-test-cuda.yml
  .azure-pipelines/scripts/cuda_unit_test/run_cuda_ut.sh
  .azure-pipelines/scripts/ut/run_ut_cuda.sh
  test/README.md
  test/integration/README.md
Due: .azure-pipelines/unit-test-hpu.yml

add conditional adjustment for step value in compute_mx_v_scale function
  auto_round/data_type/mxfp.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Fix CUDA UT issue
  auto_round/eval/eval_cli.py
  test/e2e/test_cuda/conftest.py
  test/e2e/test_cuda/test_vllm_throughput.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

bump release version
  README.md
  README_CN.md
Due: none

Fix CUDA UT issue (#2238)
  auto_round/eval/eval_cli.py
  test/e2e/test_cuda/conftest.py
  test/e2e/test_cuda/test_vllm_throughput.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix: remove stale quantizer access in dual-transformer diffusion
  auto_round/compressors/diffusion_mixin.py
  test/unit/test_cpu/compressors/test_diffusion_mixin.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix: remove stale quantizer access in dual-transformer diffusion
  auto_round/compressors/diffusion_mixin.py
  test/unit/common/compressors/test_diffusion_mixin.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Fix CUDA UT issue (#2238) (#2239)
  auto_round/eval/eval_cli.py
  test/e2e/test_cuda/conftest.py
  test/e2e/test_cuda/test_vllm_throughput.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix: align preloaded diffusion pipeline dtypes
  auto_round/compressors/diffusion_mixin.py
  auto_round/context/model.py
  test/unit/common/compressors/test_diffusion_mixin.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

test: skip FP8 tests with transformers 5.16.x (#2241)
  test/unit/test_cuda/models/test_fp8_model.py
Due: .azure-pipelines/unit-test.yml

docs: update README_CN.md with troubleshooting tips for quantization issues
  README_CN.md
Due: none

feat: Enhance fake backend configuration with additional data types and group sizes
  auto_round/export/formats/backends/fake.py
  auto_round/inference/backend.py
  test/unit/test_cpu/export/test_fake_format.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

increase precision of loss logging in quantization tuning for debugging (#2229)
  auto_round/algorithms/quantization/sign_round/quantizer.py
  auto_round/algorithms/transforms/spinquant/preprocessor.py
  auto_round/algorithms/transforms/spinquant/training.py
  auto_round/auto_scheme/delta_loss.py
  auto_round/auto_scheme/utils.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

update
  auto_round/compressors/base.py
  auto_round/compressors/layer_config/__init__.py
  auto_round/compressors/layer_config_resolver.py
  auto_round/compressors/orchestrator.py
  auto_round/compressors/utils.py
  test/unit/common/utils/test_apply.py
  test/unit/common/utils/test_layer_config_resolver.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

feat: Add AR_SAVE_FAKE_MODEL environment variable to control saving of fake-quantized models
  auto_round/envs.py
  auto_round/eval/evaluation.py
  auto_round/export/formats/backends/fake.py
  auto_round/inference/backend.py
  auto_round/utils/model.py
  docs/environments.md
  docs/environments_CN.md
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

disable torch compile in some cases
  README.md
  README_CN.md
  auto_round/compressors/base.py
  test/unit/common/core/test_init.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix argument mismatch
  test/e2e/test_cuda/test_sglang_throughput.py
  test/e2e/test_cuda/test_vllm_throughput.py
Due: .azure-pipelines/unit-test.yml

test: skip HPU FP8 test with transformers 5.16.x (#2247)
  test/unit/test_hpu/test_quant_fp8.py
Due: .azure-pipelines/unit-test.yml

fix CI
  test/unit/test_cpu/export/test_fake_format.py
Due: .azure-pipelines/unit-test.yml

update log
  auto_round/export/formats/backends/fake.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

update
  auto_round/compressors/base.py
  test/unit/common/core/test_init.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

feat: Implement compute_mx_v_scale function for per-element v step-scale in MXFP quantization
  auto_round/data_type/mxfp.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

update
  README.md
  README_CN.md
Due: none

fix ut
  auto_round/compressors/model_free.py
  test/unit/common/core/test_init.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Update troubleshooting tips for quantization issues in README_CN.md (#2244)
  README_CN.md
Due: none

Update device_manager.py
  auto_round/utils/device_manager.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Update base.py
  auto_round/compressors/base.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix: remove stale quantizer access in dual-transformer diffusion (#2236)
  auto_round/compressors/diffusion_mixin.py
  test/unit/common/compressors/test_diffusion_mixin.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

test: skip FP8 tests with transformers 5.16.x
  test/unit/test_cuda/models/test_fp8_model.py
Due: .azure-pipelines/unit-test.yml

Path conditions:
  .azure-pipelines/code-scan.yml: any of: auto_round, auto_round_extension, setup.py, requirements.txt, requirements-cpu.txt, requirements-hpu.txt, .azure-pipelines/code-scan.yml, .azure-pipelines/scripts/codeScan
  .azure-pipelines/compatibility-test.yml: any of: auto_round, auto_round_extension, setup.py, setup.cfg, requirements.txt, requirements-cpu.txt, .azure-pipelines/compatibility-test.yml, but not: *.md, **/*.md
  .azure-pipelines/unit-test-hpu.yml: any of: auto_round, test/test*hpu*', setup.py, requirements-lib.txt, .azure-pipelines/scripts/ut, .azure-pipelines/template/docker-template.yml, .azure-pipelines/template/ut-template.yml, but not: auto_round/export/export_to_autogptq, auto_round/export/export_to_awq, *.md, **/*.md
  .azure-pipelines/unit-test-xpu.yml: any of: auto_round, auto_round_extension, test/test_ark, test/test_xpu, setup.py, .azure-pipelines/template/ut-template.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/scripts/ut/run_ut_xpu.sh, but not: *.md, **/*.md
  .azure-pipelines/unit-test.yml: any of: auto_round, auto_round_extension, test, setup.py, requirements.txt, requirements-cpu.txt, .azure-pipelines/scripts/ut, .azure-pipelines/unit-test.yml, .azure-pipelines/template/ut-template.yml, .azure-pipelines/template/docker-template.yml, but not: auto_round_extension/ark, test/test_hpu, test/test_ark, test/test_xpu, *.md, **/*.md, .azure-pipelines/scripts/ut/run_ut_hpu.sh, .azure-pipelines/scripts/ut/run_ut_cuda.sh, .azure-pipelines/scripts/ut/run_ut_xpu.sh
