Repository intel/auto-round: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Path conditions:
  .azure-pipelines/code-scan.yml: any of: auto_round, auto_round_extension, setup.py, requirements.txt, requirements-cpu.txt, requirements-hpu.txt, .azure-pipelines/code-scan.yml, .azure-pipelines/scripts/codeScan
  .azure-pipelines/compatibility-test.yml: any of: auto_round, auto_round_extension, setup.py, setup.cfg, requirements.txt, requirements-cpu.txt, .azure-pipelines/compatibility-test.yml, but not: *.md, **/*.md
  .azure-pipelines/unit-test-hpu.yml: any of: auto_round, test/test*hpu*', setup.py, requirements-lib.txt, .azure-pipelines/scripts/ut, .azure-pipelines/template/docker-template.yml, .azure-pipelines/template/ut-template.yml, but not: auto_round/export/export_to_autogptq, auto_round/export/export_to_awq, *.md, **/*.md
  .azure-pipelines/unit-test-xpu.yml: any of: auto_round, auto_round_extension, test/test_ark, test/test_xpu, setup.py, .azure-pipelines/template/ut-template.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/scripts/ut/run_ut_xpu.sh, but not: *.md, **/*.md
  .azure-pipelines/unit-test.yml: any of: auto_round, auto_round_extension, test, setup.py, requirements.txt, requirements-cpu.txt, .azure-pipelines/scripts/ut, .azure-pipelines/unit-test.yml, .azure-pipelines/template/ut-template.yml, .azure-pipelines/template/docker-template.yml, but not: test/test*hpu*, *.md, **/*.md

fix: update model imports from AutoModelForVision2Seq to AutoModelFor… (#1412)
  test/test_cuda/models/test_get_block_name.py
Due: .azure-pipelines/unit-test.yml

[LLMC] Wrap block for DDP (#1407)
  auto_round/compressors/base.py
  auto_round/utils/distributed.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

refine_qwen3_vl_moe_experts_forward
  auto_round/modeling/fused_moe/qwen3_vl_moe.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Update auto_round/modeling/fused_moe/qwen3_vl_moe.py
  auto_round/modeling/fused_moe/qwen3_vl_moe.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

[fix]AttributeError: 'Autotuner' object has no attribute '_cache_lock'
  auto_round/inference/convert_model.py
  auto_round_extension/triton/triton_utils/dequant.py
  auto_round_extension/triton/triton_utils_zp/dequant.py
  test/test_cuda/schemes/test_auto_scheme.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

better warning for not support mllm while quant_non_text_module (#1411)
  auto_round/compressors/mllm/compressor.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Update convert_model.py
  auto_round/inference/convert_model.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Update auto_round_extension/triton/triton_utils/dequant.py
  auto_round_extension/triton/triton_utils/dequant.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

update with load_kwargs
  auto_round/utils/model.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix Qwen3-VL model auto_awq export, add auto_awq vllm ut (#1384)
  auto_round/export/export_to_awq/export.py
  test/test_cpu/export/test_export.py
  test/test_cuda/export/test_export.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

refine qwen3_vl_moe experts forward (#1413)
  auto_round/modeling/fused_moe/qwen3_vl_moe.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

update torch version
  .azure-pipelines/scripts/ut/run_ut_xpu.sh
  .azure-pipelines/template/ut-template.yml
  test/test_ark/test_model.py
Due: .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

use latest auto-round-lib release for test
  .azure-pipelines/scripts/ut/run_ut.sh
  .azure-pipelines/template/ut-template.yml
  requirements-cpu.txt
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

[fix]AttributeError: 'Autotuner' object has no attribute '_cache_lock' (#1414)
  auto_round_extension/triton/triton_utils/dequant.py
  auto_round_extension/triton/triton_utils_zp/dequant.py
  test/test_cuda/schemes/test_auto_scheme.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

update auto-round-kernel package name to auto-round-lib (#1410)
  .azure-pipelines/scripts/ut/run_ut_xpu.sh
  .azure-pipelines/template/ut-template.yml
  auto_round/inference/backend.py
  auto_round_extension/ark/README.md
  auto_round_extension/ark/install_kernel.py
  auto_round_extension/ark/qlinear.py
  setup.cfg
  test/test_ark/requirements.txt
  test/test_ark/test_model.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

update deps
  .azure-pipelines/scripts/ut/run_ut.sh
  .azure-pipelines/scripts/ut/run_ut_xpu.sh
Due: .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

work around for test pending issue
  .azure-pipelines/scripts/ut/run_ut.sh
  test/test_cpu/core/test_autoround.py
Due: .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

adapt vllm_ext to new extra config (#1409)
  auto_round_extension/vllm_ext/auto_round_ext.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

remove ipex ut
  test/test_cpu/core/test_autoround.py
  test/test_cpu/utils/test_generation.py
Due: .azure-pipelines/unit-test.yml

add NCCL_ASYNC_ERROR_HANDLING environment variable for VLLM evaluation tests
  test/test_cuda/advanced/test_evaluation.py
Due: .azure-pipelines/unit-test.yml

Update torch to 2.9.1 in CI (#1313)
  .azure-pipelines/scripts/ut/run_ut.sh
  .azure-pipelines/scripts/ut/run_ut_xpu.sh
  .azure-pipelines/template/ut-template.yml
  requirements-cpu.txt
  test/test_cpu/core/test_autoround.py
  test/test_cpu/utils/test_generation.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Patch Autotuner when initializing
  auto_round_extension/triton/__init__.py
  auto_round_extension/triton/triton_utils/dequant.py
  auto_round_extension/triton/triton_utils_zp/dequant.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

update per copilot suggestion
  auto_round_extension/triton/__init__.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Adopt PyTorch native get_submodule/set_submodule for module operations
  auto_round/utils/model.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix test_evaluation and AutoTuner new issue (#1417)
  auto_round_extension/triton/__init__.py
  auto_round_extension/triton/triton_utils/dequant.py
  auto_round_extension/triton/triton_utils_zp/dequant.py
  test/test_cuda/advanced/test_evaluation.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix: update cleanup logic for quantized model path in tests
  test/test_cuda/quantization/test_mxfp_nvfp.py
Due: .azure-pipelines/unit-test.yml

fix: update cleanup logic for quantized model path in tests (#1419)
  test/test_cuda/quantization/test_mxfp_nvfp.py
Due: .azure-pipelines/unit-test.yml

support AutoScheme cpu ram optimization
  auto_round/auto_scheme/delta_loss.py
  auto_round/auto_scheme/gen_auto_scheme.py
  auto_round/auto_scheme/utils.py
  test/test_cpu/schemes/test_auto_scheme_low_cpu_mem.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Refactor evaluation in tests to use evaluate_accuracy function (#1402)
  test/helpers.py
  test/test_ark/test_model.py
  test/test_cpu/backends/test_torch_backend.py
  test/test_cpu/core/test_autoround.py
  test/test_cpu/quantization/test_asym.py
  test/test_cpu/quantization/test_mix_bits.py
  test/test_cuda/advanced/test_fp8_input.py
  test/test_cuda/advanced/test_multiple_card.py
  test/test_cuda/advanced/test_multiple_card_calib.py
  test/test_cuda/backends/test_exllamav2_backend.py
  test/test_cuda/backends/test_marlin_backend.py
  test/test_cuda/backends/test_torch_backend.py
  test/test_cuda/backends/test_triton_backend.py
  test/test_cuda/core/test_main_func.py
  test/test_cuda/export/test_auto_round_format.py
  test/test_cuda/export/test_gguf.py
  test/test_cuda/quantization/test_2_3bits.py
  test/test_cuda/quantization/test_asym.py
  test/test_cuda/quantization/test_mix_bits.py
  test/test_cuda/quantization/test_mxfp_nvfp.py
  test/test_cuda/schemes/test_auto_scheme.py
  test/test_cuda/utils/test_alg_ext.py
Due: .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

refine global scale calculation to blockwise
  auto_round/compressors/base.py
  auto_round/utils/model.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

refine log
  auto_round/compressors/base.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

bugfix
  auto_round/compressors/base.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix bug in PR-1244
  auto_round/export/export_to_gguf/convert.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

[BUG] support gguf evaluation
  auto_round/__main__.py
  auto_round/utils/model.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

[BUG] support gguf evaluation (#1423)
  auto_round/__main__.py
  auto_round/utils/model.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

revert "sync with new version of gguf"
  auto_round/export/export_to_gguf/convert.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

add comments
  auto_round/export/export_to_gguf/convert.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

remove require_intel_extension_for_pytorch
  test/test_cuda/integrations/test_transformers.py
Due: .azure-pipelines/unit-test.yml

fix bug in PR-1244 (#1422)
  auto_round/__main__.py
  auto_round/export/export_to_gguf/convert.py
  auto_round/utils/model.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix: convert _no_split_modules from set to list for compatibility with transformers > 5.0
  auto_round/compressors/base.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml
