Repository intel/auto-round: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Path conditions:
  .azure-pipelines/code-scan.yml: any of: auto_round, auto_round_extension, setup.py, requirements.txt, requirements-cpu.txt, requirements-hpu.txt, .azure-pipelines/code-scan.yml, .azure-pipelines/scripts/codeScan
  .azure-pipelines/compatibility-test.yml: any of: auto_round, auto_round_extension, setup.py, setup.cfg, requirements.txt, requirements-cpu.txt, .azure-pipelines/compatibility-test.yml, but not: *.md, **/*.md
  .azure-pipelines/unit-test-hpu.yml: any of: auto_round, test/test*hpu*', setup.py, requirements-lib.txt, .azure-pipelines/scripts/ut, .azure-pipelines/template/docker-template.yml, .azure-pipelines/template/ut-template.yml, but not: auto_round/export/export_to_autogptq, auto_round/export/export_to_awq, *.md, **/*.md
  .azure-pipelines/unit-test-xpu.yml: any of: auto_round/utils, auto_round_extension/ark, test/test_ark, setup.py, .azure-pipelines/template/ut-template.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/scripts/ut/run_ut_xpu.sh, but not: *.md, **/*.md
  .azure-pipelines/unit-test.yml: any of: auto_round, auto_round_extension, test, setup.py, requirements.txt, requirements-cpu.txt, .azure-pipelines/scripts/ut, .azure-pipelines/unit-test.yml, .azure-pipelines/template/ut-template.yml, .azure-pipelines/template/docker-template.yml, but not: test/test*hpu*, *.md, **/*.md

fix exporting fp8 static for format auto_round
  auto_round/compressors/base.py
  auto_round/export/export_to_autoround/export_to_fp8.py
  auto_round/export/export_to_llmcompressor/export_to_static_fp.py
  auto_round/formats.py
  test/test_cpu/quantization/test_act_quantization.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

Add Links; Add step_by_step_CN; Fix several grammatical issues (#1366)
  README.md
  README_CN.md
  docs/step_by_step.md
  docs/step_by_step_CN.md
Due: none

fix
  auto_round/compressors/base.py
  auto_round/wrapper.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

patch cuda
  auto_round/utils/device.py
  auto_round/utils/model.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix --device_map cuda xpu issue
  auto_round/compressors/base.py
  test/test_cpu/schemes/test_scheme.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

revert some change
  auto_round/compressors/base.py
  test/test_cpu/schemes/test_scheme.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix fp8 on a100
  auto_round/modeling/fp8_quant.py
  auto_round/utils/model.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

add log
  auto_round/modeling/fp8_quant.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

revert
  auto_round/utils/model.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

update
  auto_round/auto_scheme/utils.py
  test/test_cuda/export/test_gguf.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

robust patch
  auto_round/modeling/fp8_quant.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

test transformers v5
  .azure-pipelines/scripts/ut/run_ut_cuda.sh
Due: .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix auto_awq export, add awq vllm ut
  auto_round/export/export_to_awq/export.py
  test/test_cpu/export/test_export.py
  test/test_cuda/export/test_export.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test.yml

fix act_max shape issue
  auto_round/compressors/base.py
  auto_round/utils/model.py
  auto_round/wrapper.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Standardize comment language in utils.py (#1378)
  auto_round/auto_scheme/utils.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix exporting fp8 static for format auto_round (#1381)
  auto_round/compressors/base.py
  auto_round/export/export_to_autoround/export_to_fp8.py
  auto_round/export/export_to_llmcompressor/export_to_static_fp.py
  auto_round/formats.py
  test/test_cpu/quantization/test_act_quantization.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix merge
  auto_round/compressors/base.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix gguf scheme
  auto_round/compressors/base.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

Optimize CPU RAM peak memeory during quantization
  auto_round/compressors/base.py
  auto_round/utils/model.py
  test/test_cuda/advanced/test_cpu_ram_optimization.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fixtypo
  auto_round/export/export_to_awq/export.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test.yml

rm duplicate args of the quantization extra config (#1334)
  auto_round/export/export_to_autoround/export.py
  auto_round/export/export_to_autoround/export_to_fp8.py
  auto_round/export/export_to_autoround/export_to_nvfp_mxfp.py
  test/test_cpu/quantization/test_act_quantization.py
  test/test_cpu/quantization/test_mix_bits.py
  test/test_cuda/integrations/test_sglang.py
  test/test_cuda/quantization/test_mix_bits.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix one ut failure
  auto_round/schemes.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

Implement MXFP4Handler MXFP8Handler NVFP4Handler
  auto_round/utils/weight_handler.py
  test/test_cuda/advanced/test_fp8_input.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

add cpu test
  test/test_cpu/advanced/test_low_precision_input_model.py
  test/test_cuda/advanced/test_fp8_input.py
Due: .azure-pipelines/unit-test.yml

optimize docker user Signed-off-by: chensuyue <suyue.chen@intel.com>
  .azure-pipelines/docker/Dockerfile.devel
  .azure-pipelines/scripts/ut/run_ut_xpu.sh
Due: .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

update scheme name
  auto_round/compressors/utils.py
  auto_round/formats.py
  auto_round/schemes.py
  test/test_cpu/export/test_export.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix --device_map cuda and xpu issue (#1383)
  auto_round/auto_scheme/utils.py
  auto_round/compressors/base.py
  test/test_cuda/export/test_gguf.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix docker permission
  .azure-pipelines/docker/Dockerfile.devel
Due: none

add LD_PRELOAD env
  .azure-pipelines/scripts/ut/run_ut_xpu.sh
Due: .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

add LD_PRELOAD env
  .azure-pipelines/scripts/ut/run_ut.sh
Due: .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

update workspace
  .azure-pipelines/scripts/ut/run_ut.sh
  .azure-pipelines/scripts/ut/run_ut_xpu.sh
Due: .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

add ut
  auto_round/experimental/qmodules/fp4_utils.py
  test/test_cuda/models/test_fp8_model.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix comments
  auto_round/modeling/fused_moe/moe_experts_interface.py
  auto_round/modeling/fused_moe/replace_modules.py
  auto_round/utils/model.py
  test/test_cuda/models/test_moe_experts_interface.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Update test/test_cpu/advanced/test_low_precision_input_model.py
  test/test_cpu/advanced/test_low_precision_input_model.py
Due: .azure-pipelines/unit-test.yml

stop mock_fp8_capable_device for the entire UT to fix CI
  test/fixtures.py
  test/test_cuda/advanced/test_fp8_input.py
  test/test_cuda/quantization/test_mxfp_nvfp.py
Due: .azure-pipelines/unit-test.yml

fix lint issue
  auto_round/modeling/fused_moe/replace_modules.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix comments
  auto_round/export/utils.py
  auto_round/utils/model.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

for debug
  .azure-pipelines/scripts/ut/run_ut_xpu.sh
Due: .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml
