Repository intel/auto-round: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

.azure-pipelines/code-scan.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: BanditCodeScan
    displayName: Bandit Code Scan
    dependsOn: []
    jobs:
    - job: Bandit
      displayName: Bandit
      steps:
      - template: template/code-scan-template.yml
        parameters:
          codeScanFileName: bandit
          uploadPath: bandit.log
  ...

.azure-pipelines/compatibility-test.yml:
  stages:
  - stage: null
    displayName: Compatibility Test
    dependsOn: []
    jobs:
    - job: null
      timeoutInMinutes: 20
      strategy:
        matrix:
          Python310_Linux:
            python_version: '3.10'
            vmImage: ubuntu-latest
          Python311_Linux:
            python_version: '3.11'
  ...

.azure-pipelines/unit-test-hpu.yml:
  pool: GAUDI
  stages:
  - stage: Unit_test
    displayName: Unit Test
    dependsOn: []
    jobs:
    - job: null
      displayName: Unit Test
      steps:
      - template: template/ut-template.yml
        parameters:
          imageSource: pull
          dockerConfigName: commonDockerConfig
  ...

.azure-pipelines/unit-test-xpu.yml:
  pool: B60
  stages:
  - stage: Unit_test
    displayName: Unit Test
    dependsOn: []
    jobs:
    - job: null
      displayName: Unit Test
      steps:
      - template: template/ut-template.yml
        parameters:
          dockerConfigName: commonDockerConfig
          utScriptFileName: run_ut_xpu
  ...

.azure-pipelines/unit-test.yml:
  pool: ICX-16C
  stages:
  - stage: Unit_test
    displayName: Unit Test
    dependsOn: []
    jobs:
    - job: null
      timeoutInMinutes: 120
      strategy:
        matrix:
          part1:
            PART: 1
          part2:
            PART: 2
          part3:
            PART: 3
          part4:
            PART: 4
  ...

feat: implement early fallback check for model-free + AutoScheme compatibility
  auto_round/auto_scheme/utils.py
  auto_round/compressors/model_free.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix rank
  auto_round/auto_scheme/utils.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Update requirements.txt
  requirements.txt
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test.yml

Update kernels package version to 0.15.2 in run_cuda_ut.sh
  .azure-pipelines/scripts/cuda_unit_test/run_cuda_ut.sh
Due: none

Update PyTorch and torchvision to version 2.13.0 and 0.28.0 in Dockerfile_xpu.devel
  .azure-pipelines/docker/Dockerfile_xpu.devel
Due: none

update
  auto_round/algorithms/base.py
  auto_round/algorithms/quantization/base.py
  auto_round/algorithms/quantization/rtn/quantizer.py
  auto_round/algorithms/quantization/sign_round/quantizer.py
  auto_round/calibration/hooks.py
  auto_round/cli/main.py
  auto_round/cli/parser.py
  auto_round/compressors/data_driven.py
  auto_round/compressors/entry.py
  auto_round/compressors/utils.py
  auto_round/compressors/zero_shot.py
  auto_round/formats.py
  test/test_cpu/core/test_forward_capture_none_kwarg.py
  test/test_cpu/core/test_llmc_quantize_block.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

support fp32 in sycltla
  auto_round_extension/ark/auto_round_kernel/__init__.py
  auto_round_extension/ark/auto_round_kernel/wrapper/include/sycl_tla_dense_gemm.hpp
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-xpu.yml

fix
  auto_round/algorithms/quantization/base.py
  auto_round/cli/main.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix
  auto_round/compressors/data_driven.py
  auto_round/compressors/zero_shot.py
  test/test_cpu/core/test_init.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix
  auto_round/special_model_handler.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Support auto-round-lib build with oneAPI 2026.0 and work with pytorch xpu 2.13 (#2043)
  .azure-pipelines/ark-unit-test.yml
  .azure-pipelines/template/lib-build-template.yml
  auto_round_extension/ark/requirements.txt
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-xpu.yml

fix: handle router_logits tuple for compatibility with transformers >= 5.13.0
  auto_round/modeling/unfused_moe/glm_moe.py
  auto_round/modeling/unfused_moe/glm_moe_dsa.py
  auto_round/modeling/unfused_moe/glm_moe_light.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix: update model_args to include device_map=sequential for parallelism
  auto_round/eval/eval_cli.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix
  auto_round/algorithms/pipeline.py
  auto_round/algorithms/quantization/config.py
  auto_round/algorithms/quantization/sign_round/quantizer.py
  auto_round/compressors/data_driven.py
  auto_round/compressors/diffusion_mixin.py
  auto_round/compressors/entry.py
  auto_round/schemes.py
  test/test_cpu/core/test_init.py
  test/test_cpu/models/test_diffusion_dataset.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Reduce job timeout to 45 minutes in unit-test.yml and skip CI for small model RTN generation test due to triton issue
  .azure-pipelines/unit-test.yml
  test/test_cuda/models/test_fp8_model.py
Due: .azure-pipelines/unit-test.yml

docs: design RTN residual iteration for SVDQuant
  docs/superpowers/specs/2026-07-13-svdquant-rtn-residual-iteration-design.md
Due: none

docs: include Nunchaku MXFP4 export in SVDQuant design
  docs/superpowers/specs/2026-07-13-svdquant-rtn-residual-iteration-design.md
Due: none

docs: plan SVDQuant RTN and Nunchaku export
  docs/plans/2026-07-13-svdquant-rtn-residual-nunchaku-implementation.md
Due: none

feat: configure SVDQuant residual iteration
  auto_round/algorithms/transforms/svdquant/config.py
  test/test_cpu/algorithms/test_svdquant.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix: validate SVDQuant residual iteration count
  auto_round/algorithms/transforms/svdquant/config.py
  test/test_cpu/algorithms/test_svdquant.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

add more test files
  test/unit/test_cpu/algorithms/test_rotation.py
  test/unit/test_cpu/algorithms/test_spinquant_serialize_helpers.py
  test/unit/test_cpu/export/test_conversion_base.py
  test/unit/test_cpu/export/test_export.py
  test/unit/test_cpu/export/test_export_autogptq_export.py
  test/unit/test_cpu/export/test_export_autoround_utils.py
  test/unit/test_cpu/export/test_export_awq_export.py
  test/unit/test_cpu/export/test_export_awq_utils.py
  test/unit/test_cpu/export/test_format_helpers.py
  test/unit/test_cpu/export/test_gguf_conversion.py
  test/unit/test_cpu/export/test_gguf_dtype_helpers.py
  test/unit/test_cpu/export/test_llama_cpp_conversion.py
  test/unit/test_cpu/export/test_qlinear_fp_helpers.py
  test/unit/test_cpu/export/test_qlinear_int_helpers.py
  test/unit/test_cpu/inference/test_backend_helpers.py
  test/unit/test_cpu/utils/test_auto_scheme_helpers.py
  test/unit/test_cpu/utils/test_calib_dataset_helpers.py
  test/unit/test_cpu/utils/test_common_pure_helpers.py
  test/unit/test_cpu/utils/test_device_manager_helpers.py
  test/unit/test_cpu/utils/test_offload_helpers.py
Due: .azure-pipelines/unit-test.yml

feat: reuse RTN QDQ for SVDQuant residuals
  auto_round/algorithms/transforms/svdquant/residual.py
  test/test_cpu/algorithms/test_svdquant_residual.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix: validate residual quantization schemes
  auto_round/algorithms/transforms/svdquant/residual.py
  test/test_cpu/algorithms/test_svdquant_residual.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix: preserve RTN residual scheme semantics
  auto_round/algorithms/transforms/svdquant/residual.py
  test/test_cpu/algorithms/test_svdquant_residual.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

feat: iterate RTN residuals in SVDQuant
  auto_round/algorithms/transforms/svdquant/apply.py
  test/test_cpu/algorithms/test_svdquant.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix: rank residual candidates at deployed precision
  auto_round/algorithms/transforms/svdquant/apply.py
  test/test_cpu/algorithms/test_svdquant.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix
  auto_round/algorithms/pipeline.py
  auto_round/compressors/data_driven.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

feat: encode SVDQuant MXFP4 residual tensors
  auto_round/export/svdquant_mxfp4.py
  test/test_cpu/export/test_svdquant_mxfp4.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix: handle extreme MXFP4 encode ranges
  auto_round/export/svdquant_mxfp4.py
  test/test_cpu/export/test_svdquant_mxfp4.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

update CMakeLists & setup.py
  auto_round_extension/ark/auto_round_kernel/CMakeLists.txt
  auto_round_extension/ark/setup.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-xpu.yml

fix: match AutoRound MXFP4 tie rounding
  auto_round/export/svdquant_mxfp4.py
  test/test_cpu/export/test_svdquant_mxfp4.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Update torch version to 2.13.0 (#2045)
  .azure-pipelines/docker/Dockerfile.devel
  .azure-pipelines/docker/Dockerfile_xpu.devel
  .azure-pipelines/scripts/cuda_unit_test/run_cuda_ut.sh
  .azure-pipelines/scripts/ut/constraints.txt
  .azure-pipelines/scripts/ut/run_ut_cuda.sh
  .azure-pipelines/unit-test.yml
  test/test_cuda/models/test_fp8_model.py
Due: .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

decompling oneDNNL
  auto_round_extension/ark/auto_round_kernel/ark.cpp
  auto_round_extension/ark/auto_round_kernel/sdpa.cpp
  auto_round_extension/ark/auto_round_kernel/wrapper/include/cpu_wrapper.hpp
  auto_round_extension/ark/auto_round_kernel/wrapper/include/sycl_s8_wrapper.hpp
  auto_round_extension/ark/auto_round_kernel/wrapper/include/utils.hpp
  auto_round_extension/ark/auto_round_kernel/wrapper/include/xpu_wrapper.hpp
  auto_round_extension/ark/test/test_matmul.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-xpu.yml

fix: disambiguate MXFP4 scale layout
  auto_round/export/svdquant_mxfp4.py
  test/test_cpu/export/test_svdquant_mxfp4.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

trigger ut
  auto_round/algorithms/quantization/sign_round/config.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

feat: pack MXFP4 tensors for Nunchaku
  auto_round/export/svdquant_mxfp4.py
  test/test_cpu/export/test_svdquant_mxfp4.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix mllm ut
  auto_round/algorithms/quantization/sign_round/config.py
  auto_round/calibration/mllm.py
  auto_round/compressors/mllm/dataset.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix ut
  test/test_cpu/models/test_mllm.py
Due: .azure-pipelines/unit-test.yml

feat: export packed SVDQuant MXFP4 artifacts
  auto_round/export/svdquant_mxfp4.py
  auto_round/export/svdquant_nunchaku.py
  test/test_cpu/export/test_svdquant_mxfp4.py
  test/test_cpu/export/test_svdquant_nunchaku_export.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Path conditions:
  .azure-pipelines/code-scan.yml: any of: auto_round, auto_round_extension, setup.py, requirements.txt, requirements-cpu.txt, requirements-hpu.txt, .azure-pipelines/code-scan.yml, .azure-pipelines/scripts/codeScan
  .azure-pipelines/compatibility-test.yml: any of: auto_round, auto_round_extension, setup.py, setup.cfg, requirements.txt, requirements-cpu.txt, .azure-pipelines/compatibility-test.yml, but not: *.md, **/*.md
  .azure-pipelines/unit-test-hpu.yml: any of: auto_round, test/test*hpu*', setup.py, requirements-lib.txt, .azure-pipelines/scripts/ut, .azure-pipelines/template/docker-template.yml, .azure-pipelines/template/ut-template.yml, but not: auto_round/export/export_to_autogptq, auto_round/export/export_to_awq, *.md, **/*.md
  .azure-pipelines/unit-test-xpu.yml: any of: auto_round, auto_round_extension, test/test_ark, test/test_xpu, setup.py, .azure-pipelines/template/ut-template.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/scripts/ut/run_ut_xpu.sh, but not: *.md, **/*.md
  .azure-pipelines/unit-test.yml: any of: auto_round, auto_round_extension, test, setup.py, requirements.txt, requirements-cpu.txt, .azure-pipelines/scripts/ut, .azure-pipelines/unit-test.yml, .azure-pipelines/template/ut-template.yml, .azure-pipelines/template/docker-template.yml, but not: auto_round_extension/ark, test/test_hpu, test/test_ark, test/test_xpu, *.md, **/*.md, .azure-pipelines/scripts/ut/run_ut_hpu.sh, .azure-pipelines/scripts/ut/run_ut_cuda.sh, .azure-pipelines/scripts/ut/run_ut_xpu.sh
