Repository intel/auto-round: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

.azure-pipelines/code-scan.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: BanditCodeScan
    displayName: Bandit Code Scan
    dependsOn: []
    jobs:
    - job: Bandit
      displayName: Bandit
      steps:
      - template: template/code-scan-template.yml
        parameters:
          codeScanFileName: bandit
          uploadPath: bandit.log
  ...

.azure-pipelines/compatibility-test.yml:
  stages:
  - stage: null
    displayName: Compatibility Test
    dependsOn: []
    jobs:
    - job: null
      timeoutInMinutes: 20
      strategy:
        matrix:
          Python310_Linux:
            python_version: '3.10'
            vmImage: ubuntu-latest
          Python311_Linux:
            python_version: '3.11'
  ...

.azure-pipelines/unit-test-hpu.yml:
  pool: GAUDI
  stages:
  - stage: Unit_test
    displayName: Unit Test
    dependsOn: []
    jobs:
    - job: null
      displayName: Unit Test
      steps:
      - template: template/ut-template.yml
        parameters:
          imageSource: pull
          dockerConfigName: commonDockerConfig
  ...

.azure-pipelines/unit-test-xpu.yml:
  pool: B60
  stages:
  - stage: Unit_test
    displayName: Unit Test
    dependsOn: []
    jobs:
    - job: null
      displayName: Unit Test
      steps:
      - template: template/ut-template.yml
        parameters:
          dockerConfigName: commonDockerConfig
          utScriptFileName: run_ut_xpu
  ...

.azure-pipelines/unit-test.yml:
  pool: ICX-16C
  stages:
  - stage: Unit_test
    displayName: Unit Test
    dependsOn: []
    jobs:
    - job: null
      timeoutInMinutes: 120
      strategy:
        matrix:
          part1:
            PART: 1
          part2:
            PART: 2
          part3:
            PART: 3
          part4:
            PART: 4
  ...

refine comments
  auto_round/export/export_to_awq/export.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

add issue link
  test/test_cpu/advanced/test_low_precision_input_model.py
Due: .azure-pipelines/unit-test.yml

add more ut.
  auto_round/experimental/transform/apply.py
  auto_round/experimental/transform/helper.py
  auto_round/experimental/transform/transforms.py
  test/test_cuda/transform/test_mxfp4_transform.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix typo.
  test/test_cuda/transform/test_mxfp4_transform.py
Due: .azure-pipelines/unit-test.yml

fix llmc test
  .azure-pipelines/scripts/cuda_unit_test/run_cuda_ut.sh
  .azure-pipelines/scripts/ut/run_ut_cuda.sh
  test/test_cuda/requirements_llmc.txt
Due: .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

feat: add workflow to close stale issues and pull requests (#1612)
  .github/workflows/check-stale-issue.yml
Due: none

fix dtype config field consistency issue
  auto_round/export/utils.py
  test/test_cuda/integrations/test_vllm.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

support HPU memory dump in MemoryMonitor (#1605)
  auto_round/utils/device.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix merged CI failure
  test/test_cpu/models/test_omni_model.py
Due: .azure-pipelines/unit-test.yml

fix: refactor and fix Omni model tests to improve CI stability (#1598)
  auto_round/compressors/base.py
  auto_round/special_model_handler.py
  test/fixtures.py
  test/helpers.py
  test/test_cuda/models/test_omni_model.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

refine marlin backend priority
  auto_round/inference/backend.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

replace to .
  auto_round/autoround.py
  auto_round/compressors/base.py
  auto_round/experimental/qmodules/__init__.py
  auto_round/experimental/qmodules/mx.py
  auto_round/experimental/transform/apply.py
  auto_round/experimental/transform/hadamard_config.py
  auto_round/experimental/transform/hadamards.py
  auto_round/experimental/transform/helper.py
  auto_round/experimental/transform/patch_modules.py
  auto_round/experimental/transform/transform_config.py
  auto_round/experimental/transform/triton/utils.py
  auto_round/inference/backend.py
  auto_round/inference/convert_model.py
  auto_round/schemes.py
  test/test_cuda/transform/test_mxfp4_transform.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix CI
  auto_round/data_type/fp8.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix typo
  auto_round/experimental/transform/helper.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

add initial hadamard tranform document.
  docs/step_by_step.md
Due: none

Fix AssertionError in module.to("meta") for models with plain Tensors (#1499)
  auto_round/compressors/base.py
  auto_round/compressors/shard_writer.py
  test/test_cpu/utils/test_shard_writer.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Support AIDC-AI/Ovis-Image-7B quantization
  auto_round/compressors/diffusion/README.md
  auto_round/compressors/diffusion/compressor.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix CI
  test/test_cpu/models/test_omni_model.py
Due: .azure-pipelines/unit-test.yml

fix diffusion model tuning issue
  auto_round/compressors/diffusion/compressor.py
  test/test_cpu/models/test_diffusion.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

update acc and remove warning
  auto_round/compressors/base.py
  docs/fp8_block_acc.md
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

update hadamard transform api for better usage.
  auto_round/autoround.py
  auto_round/compressors/base.py
  auto_round/experimental/transform/hadamards.py
  auto_round/experimental/transform/helper.py
  docs/step_by_step.md
  test/test_cuda/transform/test_mxfp4_transform.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix typo
  docs/step_by_step.md
Due: none

update hadamard transform doc.
  docs/step_by_step.md
Due: none

Update base.py
  auto_round/compressors/base.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Fix LLMC CI & Update CPU CI to transformers 5.x (#1604)
  .azure-pipelines/scripts/cuda_unit_test/run_cuda_ut.sh
  .azure-pipelines/scripts/ut/run_ut.sh
  .azure-pipelines/scripts/ut/run_ut_cuda.sh
  test/test_cpu/advanced/test_low_precision_input_model.py
  test/test_cpu/export/test_gguf_format.py
  test/test_cpu/models/test_moe_alignment.py
  test/test_cpu/models/test_omni_model.py
  test/test_cpu/requirements.txt
  test/test_cpu/requirements_llmc.txt
  test/test_cuda/requirements_llmc.txt
Due: .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix CI
  auto_round/compressors/base.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

skip mode download of deepseek and gemma
  test/fixtures.py
  test/test_cuda/export/test_gguf_format.py
Due: .azure-pipelines/unit-test.yml

fix diffusion model tuning issue (#1617)
  auto_round/compressors/diffusion/compressor.py
  test/test_cpu/models/test_diffusion.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

format code.
  auto_round/compressors/base.py
  auto_round/experimental/transform/apply.py
  auto_round/experimental/transform/hadamards.py
  auto_round/experimental/transform/helper.py
  auto_round/experimental/utils.py
  docs/step_by_step.md
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

update xpu quantization cost
  docs/step_by_step.md
  docs/step_by_step_CN.md
Due: none

update hadamard transform doc.
  docs/step_by_step.md
  docs/step_by_step_CN.md
  setup.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

revert awq dtype change for vllm inference limitation (#1613)
  auto_round/export/export_to_autoround/export.py
  auto_round/export/export_to_awq/export.py
  auto_round/export/utils.py
  auto_round/inference/backend.py
  test/test_cuda/integrations/test_vllm.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

update doc.
  docs/step_by_step.md
Due: none

update doc.
  docs/step_by_step_CN.md
Due: none

fix fp8 accuracy drop issue (#1611)
  auto_round/compressors/base.py
  auto_round/data_type/fp8.py
  docs/fp8_block_acc.md
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

feat: add environment variables for dataset caching and subprocess control
  auto_round/calib_dataset.py
  auto_round/envs.py
  docs/environments.md
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Path conditions:
  .azure-pipelines/code-scan.yml: any of: auto_round, auto_round_extension, setup.py, requirements.txt, requirements-cpu.txt, requirements-hpu.txt, .azure-pipelines/code-scan.yml, .azure-pipelines/scripts/codeScan
  .azure-pipelines/compatibility-test.yml: any of: auto_round, auto_round_extension, setup.py, setup.cfg, requirements.txt, requirements-cpu.txt, .azure-pipelines/compatibility-test.yml, but not: *.md, **/*.md
  .azure-pipelines/unit-test-hpu.yml: any of: auto_round, test/test*hpu*', setup.py, requirements-lib.txt, .azure-pipelines/scripts/ut, .azure-pipelines/template/docker-template.yml, .azure-pipelines/template/ut-template.yml, but not: auto_round/export/export_to_autogptq, auto_round/export/export_to_awq, *.md, **/*.md
  .azure-pipelines/unit-test-xpu.yml: any of: auto_round, auto_round_extension, test/test_ark, test/test_xpu, setup.py, .azure-pipelines/template/ut-template.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/scripts/ut/run_ut_xpu.sh, but not: *.md, **/*.md
  .azure-pipelines/unit-test.yml: any of: auto_round, auto_round_extension, test, setup.py, requirements.txt, requirements-cpu.txt, .azure-pipelines/scripts/ut, .azure-pipelines/unit-test.yml, .azure-pipelines/template/ut-template.yml, .azure-pipelines/template/docker-template.yml, but not: auto_round_extension/ark, test/test_hpu, test/test_ark, test/test_xpu, *.md, **/*.md, .azure-pipelines/scripts/ut/run_ut_hpu.sh, .azure-pipelines/scripts/ut/run_ut_cuda.sh, .azure-pipelines/scripts/ut/run_ut_xpu.sh
