Repository intel/auto-round: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Path conditions:
  .azure-pipelines/code-scan.yml: any of: auto_round, auto_round_extension, setup.py, requirements.txt, requirements-cpu.txt, requirements-hpu.txt, .azure-pipelines/code-scan.yml, .azure-pipelines/scripts/codeScan
  .azure-pipelines/compatibility-test.yml: any of: auto_round, auto_round_extension, setup.py, setup.cfg, requirements.txt, requirements-cpu.txt, .azure-pipelines/compatibility-test.yml, but not: *.md, **/*.md
  .azure-pipelines/unit-test-hpu.yml: any of: auto_round, test/test*hpu*', setup.py, requirements-lib.txt, .azure-pipelines/scripts/ut, .azure-pipelines/template/docker-template.yml, .azure-pipelines/template/ut-template.yml, but not: auto_round/export/export_to_autogptq, auto_round/export/export_to_awq, *.md, **/*.md
  .azure-pipelines/unit-test-xpu.yml: any of: auto_round, auto_round_extension, test/test_ark, test/test_xpu, setup.py, .azure-pipelines/template/ut-template.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/scripts/ut/run_ut_xpu.sh, but not: *.md, **/*.md
  .azure-pipelines/unit-test.yml: any of: auto_round, auto_round_extension, test, setup.py, requirements.txt, requirements-cpu.txt, .azure-pipelines/scripts/ut, .azure-pipelines/unit-test.yml, .azure-pipelines/template/ut-template.yml, .azure-pipelines/template/docker-template.yml, but not: auto_round_extension/ark, test/test_hpu, test/test_ark, test/test_xpu, *.md, **/*.md, .azure-pipelines/scripts/ut/run_ut_hpu.sh, .azure-pipelines/scripts/ut/run_ut_cuda.sh, .azure-pipelines/scripts/ut/run_ut_xpu.sh

support W3 in llmc
  auto_round/export/formats/backends/llm_compressor.py
  docs/step_by_step.md
  docs/step_by_step_CN.md
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Simplify default calibration dataset log (#2162)
  auto_round/compressors/base.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

add shape analysis
  auto_round_extension/ark/benchmarks/BF16_SPARSE_TILE_SHAPE_ANALYSIS_20260818.md
Due: .azure-pipelines/code-scan.yml

chore: stop tracking ark benchmark results
  auto_round_extension/ark/benchmarks/results/FLUX_SPARSE_BF16_INT8_APPLE_TO_APPLE_20260816.md
  auto_round_extension/ark/benchmarks/results/FLUX_SPARSE_BF16_INT8_APPLE_TO_APPLE_20260816_CN.md
  auto_round_extension/ark/benchmarks/results/SPARSE_BF16_HANDOFF_20260814.md
  auto_round_extension/ark/benchmarks/results/SPARSE_BF16_HANDOFF_20260814_CN.md
  auto_round_extension/ark/benchmarks/results/SPARSE_BF16_K32_AB_20260814.md
  auto_round_extension/ark/benchmarks/results/SPARSE_BF16_K32_AB_20260814_CN.md
  auto_round_extension/ark/benchmarks/results/UNITRACE_USAGE_GUIDE_20260814.md
  auto_round_extension/ark/benchmarks/results/ab_bf16_sdpa_k32_20260814_092404.csv
  auto_round_extension/ark/benchmarks/results/ab_k32_bf16_20260814_091351.csv
  auto_round_extension/ark/benchmarks/results/ab_k64_bf16_20260814_090508.csv
  auto_round_extension/ark/benchmarks/results/flux_bf16_topk09_k32_20260814_112445/SWEEP_SUMMARY_dev5.md
  auto_round_extension/ark/benchmarks/results/flux_bf16_topk09_k32_20260814_112445/flux_bf16_qtile256_topk0.9_512_dev5.png
  auto_round_extension/ark/benchmarks/results/flux_bf16_topk09_k32_20260814_112445/sweep_summary_dev5.csv
  auto_round_extension/ark/benchmarks/results/k32_qtile256_sweep_20260814_163445/SWEEP_SUMMARY.md
  auto_round_extension/ark/benchmarks/results/k32_qtile256_sweep_20260814_163445/bf16_k32_qtile256_topk_0p5_0p3_0p1.csv
  auto_round_extension/ark/benchmarks/results/k32_qtile256_sweep_20260814_163445/fp16_k32_qtile256_topk_0p5_0p3_0p1.csv
  auto_round_extension/ark/benchmarks/results/unitrace_k32_compute_20260814/k32_compute.metrics.2889557
  auto_round_extension/ark/benchmarks/results/unitrace_k32_stalls_20260814.csv
  auto_round_extension/ark/benchmarks/results/unitrace_k32_stalls_20260814/k32_stalls.metrics.2892853
  auto_round_extension/ark/benchmarks/results/unitrace_k32_verbose_20260814.csv
  auto_round_extension/ark/benchmarks/results/unitrace_k32_verbose_20260814/k32_verbose.3726840
  auto_round_extension/ark/benchmarks/results/unitrace_k64_compute_real_20260814.csv
  auto_round_extension/ark/benchmarks/results/unitrace_k64_compute_real_20260814/k64_compute_real.2948755
  auto_round_extension/ark/benchmarks/results/unitrace_k64_compute_real_20260814/k64_compute_real.metrics.2948755
  auto_round_extension/ark/benchmarks/results/unitrace_k64_stalls_real_20260814.csv
  auto_round_extension/ark/benchmarks/results/unitrace_k64_stalls_real_20260814/k64_stalls_real.metrics.2952213
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-xpu.yml

fix
  .azure-pipelines/nightly-test-cpu.yml
  auto_round_extension/ark/auto_round_kernel/wrapper/include/stla/xe_sparse_sage_fwd_kernel.hpp
  auto_round_extension/ark/auto_round_kernel/wrapper/include/sycl_tla_s8_gemm.hpp
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-xpu.yml

revert
  auto_round_extension/ark/auto_round_kernel/wrapper/include/sycl_tla_sdpa_sparse.hpp
  docs/step_by_step.md
  docs/step_by_step_CN.md
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-xpu.yml

fix: consolidate xpu triton workaround
  auto_round_extension/ark/auto_round_kernel/_xpu_triton_compat.py
  auto_round_extension/ark/auto_round_kernel/sparge_preprocess_triton.py
  auto_round_extension/ark/tools/run_sparse_sagev1_bench.sh
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-xpu.yml

clean
  auto_round_extension/ark/auto_round_kernel/wrapper/include/stla/xe_sparse_sage_fwd_kernel.hpp
  auto_round_extension/ark/auto_round_kernel/wrapper/include/sycl_tla_sdpa_sparse.hpp
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-xpu.yml

update
  docs/step_by_step.md
  docs/step_by_step_CN.md
Due: none

update
  auto_round/auto_scheme/delta_loss.py
  auto_round/envs.py
  docs/environments.md
  docs/environments_CN.md
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix
  auto_round/export/export_to_gguf/export.py
  test/unit/test_cpu/export/test_gguf_format.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix: disable MTP for AutoRound GGUF export
  auto_round/export/export_to_gguf/export.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

refactor: rename sparse sdpa api
  auto_round_extension/ark/auto_round_kernel/__init__.py
  auto_round_extension/ark/auto_round_kernel/ark.cpp
  auto_round_extension/ark/auto_round_kernel/sparse_attention.py
  auto_round_extension/ark/auto_round_kernel/wrapper/test/test_sage_sparse_prefill_e2e.py
  auto_round_extension/ark/benchmarks/bench_sparse_topk.py
  auto_round_extension/ark/examples/flux_sparse_patch.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-xpu.yml

Enable Torch compilation for throughput tests
  test/e2e/test_cuda/test_sglang_throughput.py
  test/e2e/test_cuda/test_vllm_throughput.py
Due: .azure-pipelines/unit-test.yml

Potential fix for pull request finding
  docs/step_by_step.md
Due: none

Potential fix for pull request finding
  docs/step_by_step_CN.md
Due: none

update
  auto_round/export/formats/backends/llm_compressor.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix: preserve llm compressor mixed targets
  auto_round/export/export_to_llmcompressor/export.py
  auto_round/export/formats/backends/llm_compressor.py
  test/test_cpu/export/test_llmc_format.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix DiffusionCompressionOrchestrator missing nsamples (#2179)
  auto_round/compressors/diffusion_mixin.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

refine avg bits log info
  auto_round/compressors/base.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix CI
  auto_round/export/formats/backends/fake.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Implement cross-shard FP8 scale handling and add unit tests for weight map processing
  auto_round/compressors/model_free.py
  auto_round/utils/model_free_utils.py
  test/unit/test_cpu/utils/test_model_free_cross_shard.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

feat: add NVFP4 layer detection utility and corresponding unit tests; refactor calibration check method
  auto_round/algorithms/composer.py
  auto_round/algorithms/utils.py
  auto_round/compressors/base.py
  auto_round/modeling/fp8_quant.py
  auto_round/utils/model.py
  test/unit/test_cpu/utils/test_model_utils.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Enhance cross-shard dependency management and logging for FP8 scale hydration
  auto_round/compressors/model_free.py
  auto_round/utils/model_free_utils.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Refactor scale name generation for consistency in FP8 tensor handling
  auto_round/utils/model_free_utils.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

update
  auto_round_extension/ark/auto_round_kernel/wrapper/include/sycl_tla_sdpa_sparse.hpp
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-xpu.yml

Enable Torch compilation for throughput tests (#2181)
  test/e2e/test_cuda/test_sglang_throughput.py
  test/e2e/test_cuda/test_vllm_throughput.py
Due: .azure-pipelines/unit-test.yml

UT draft
  auto_round_extension/ark/auto_round_kernel/CMakeLists.txt
  auto_round_extension/ark/auto_round_kernel/wrapper/include/sycl_tla_dense_gemm.hpp
  auto_round_extension/ark/auto_round_kernel/wrapper/include/sycl_tla_s8_gemm.hpp
  auto_round_extension/ark/auto_round_kernel/wrapper/test/test_main.cpp
  auto_round_extension/ark/auto_round_kernel/wrapper/test/test_sycltla_dense_gemm_perf.hpp
  auto_round_extension/ark/auto_round_kernel/wrapper/test/test_sycltla_igemm_s8s8_dequant.hpp
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-xpu.yml

feat: add AR_NVFP4_FUSED_LAYER_GLOBAL_SCALE environment variable and update related documentation; implement tests for global scale sharing behavior
  auto_round/data_type/utils.py
  auto_round/envs.py
  docs/environments.md
  docs/environments_CN.md
  test/unit/test_cpu/data_type/test_nvfp.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Refine tensor handling by adding layer ignore checks and preserving original tensors for skipped layers
  auto_round/utils/model_free_utils.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix: preserve llm compressor layer targets
  auto_round/export/export_to_llmcompressor/export.py
  test/test_cpu/export/test_llmc_format.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Remove test for ignored layer preserving original FP8 tensors
  test/unit/test_cpu/quantization/test_model_free.py
Due: .azure-pipelines/unit-test.yml

Refactor unit test requirements and update installation script for LLMC
  .azure-pipelines/scripts/ut/run_ut_xpu.sh
  test/integration/test_xpu/requirements_llmc.txt
  test/unit/test_xpu/requirements.txt
Due: .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

adjust lrx2 logic to fix its issue in mixed bits scenarios and add more woq support in llmc (#2164)
  auto_round/algorithms/quantization/sign_round/config.py
  auto_round/algorithms/quantization/sign_round/quantizer.py
  auto_round/auto_scheme/delta_loss.py
  auto_round/auto_scheme/utils.py
  auto_round/compressors/base.py
  auto_round/envs.py
  auto_round/export/formats/backends/llm_compressor.py
  docs/environments.md
  docs/environments_CN.md
  docs/step_by_step.md
  docs/step_by_step_CN.md
  test/unit/test_cpu/export/test_export.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

update
  tools/minimax_h3_mxfp8_packed_smoke.py
  tools/minimax_h3_native_vae_layout.py
  tools/minimax_h3_w4a16_pretrained.py
Due: none

Refactor common test execution in run_ut_xpu.sh to streamline logging and improve readability
  .azure-pipelines/scripts/ut/run_ut_xpu.sh
Due: .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml

fix: preserve llm compressor layer targets
  auto_round/export/export_to_llmcompressor/export.py
  test/unit/test_cpu/export/test_llmc_format.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

refactor: streamline calibration check methods in BaseOrchestrator and update related tests
  auto_round/compressors/base.py
  test/unit/test_cpu/core/test_pipeline_fail_fast.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml
