Repository intel/auto-round: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

.azure-pipelines/code-scan.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: BanditCodeScan
    displayName: Bandit Code Scan
    dependsOn: []
    jobs:
    - job: Bandit
      displayName: Bandit
      steps:
      - template: template/code-scan-template.yml
        parameters:
          codeScanFileName: bandit
          uploadPath: bandit.log
  ...

.azure-pipelines/compatibility-test.yml:
  stages:
  - stage: null
    displayName: Compatibility Test
    dependsOn: []
    jobs:
    - job: null
      timeoutInMinutes: 20
      strategy:
        matrix:
          Python310_Linux:
            python_version: '3.10'
            vmImage: ubuntu-latest
          Python311_Linux:
            python_version: '3.11'
  ...

.azure-pipelines/unit-test-hpu.yml:
  pool: GAUDI
  stages:
  - stage: Unit_test
    displayName: Unit Test
    dependsOn: []
    jobs:
    - job: null
      displayName: Unit Test
      steps:
      - template: template/ut-template.yml
        parameters:
          imageSource: pull
          dockerConfigName: commonDockerConfig
  ...

.azure-pipelines/unit-test-xpu.yml:
  pool: ICX-16C
  stages:
  - stage: Unit_test
    displayName: Unit Test
    dependsOn: []
    jobs:
    - job: null
      displayName: Unit Test
      steps:
      - template: template/ut-template.yml
        parameters:
          dockerConfigName: commonDockerConfig
          utScriptFileName: run_ut_xpu
  ...

.azure-pipelines/unit-test.yml:
  pool: ICX-16C
  stages:
  - stage: Unit_test
    displayName: Unit Test
    dependsOn: []
    jobs:
    - job: null
      timeoutInMinutes: 120
      strategy:
        matrix:
          part1:
            PART: 1
          part2:
            PART: 2
          part3:
            PART: 3
          part4:
            PART: 4
  ...

fix issue
  test/test_cuda/models/test_moe_experts_impl.py
Due: .azure-pipelines/unit-test.yml

Update replace_modules.py
  auto_round/modeling/unfused_moe/replace_modules.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

Update moe_experts_interface.py
  auto_round/modeling/unfused_moe/moe_experts_interface.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

Update __init__.py
  auto_round/modeling/unfused_moe/__init__.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

refine
  auto_round/modeling/unfused_moe/__init__.py
  auto_round/modeling/unfused_moe/deepseek_v3.py
  auto_round/modeling/unfused_moe/ernie4_5_moe.py
  auto_round/modeling/unfused_moe/glm_moe.py
  auto_round/modeling/unfused_moe/qwen3_moe.py
  auto_round/modeling/unfused_moe/qwen3_next.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix
  auto_round/modeling/unfused_moe/qwen3_moe.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

update lm_eval requirement
  test/test_ark/requirements.txt
  test/test_cpu/requirements.txt
Due: .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix
  auto_round/modeling/unfused_moe/ernie4_5_moe.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

revert change
  auto_round/modeling/unfused_moe/qwen3_moe.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

Update __init__.py
  test/test_cuda/models/test_moe_experts_interface.py
Due: .azure-pipelines/unit-test.yml

reifne sglang mix bits ut
  test/test_cpu/quantization/test_act_quantization.py
  test/test_cuda/integrations/test_sglang.py
Due: .azure-pipelines/unit-test.yml

fix
  auto_round/modeling/unfused_moe/qwen3_next.py
  auto_round/special_model_handler.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

Update README_CN.md lib -> hpu
  README_CN.md
Due: none

Update step_by_step_CN.md to align wih the latest version
  docs/step_by_step_CN.md
Due: none

support qwen3-next/glm4-moe/deepseekv3 monkey patch for transformers 5 (#1367)
  README.md
  auto_round/compressors/base.py
  auto_round/inference/convert_model.py
  auto_round/modeling/fused_moe/__init__.py
  auto_round/modeling/fused_moe/deepseek_v2.py
  auto_round/modeling/fused_moe/gpt_oss.py
  auto_round/modeling/fused_moe/llama4.py
  auto_round/modeling/fused_moe/qwen3_vl_moe.py
  auto_round/modeling/fused_moe/replace_modules.py
  auto_round/modeling/fused_moe/utils.py
  auto_round/modeling/unfused_moe/__init__.py
  auto_round/modeling/unfused_moe/deepseek_v3.py
  auto_round/modeling/unfused_moe/ernie4_5_moe.py
  auto_round/modeling/unfused_moe/glm_moe.py
  auto_round/modeling/unfused_moe/glm_moe_light.py
  auto_round/modeling/unfused_moe/qwen3_moe.py
  auto_round/modeling/unfused_moe/qwen3_next.py
  auto_round/special_model_handler.py
  test/test_cpu/models/test_moe_model.py
  test/test_cuda/models/test_moe_model.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix cuda ut fail for transformers v5.0 (#1357)
  auto_round/eval/eval_cli.py
  auto_round/inference/convert_model.py
  auto_round/utils/common.py
  test/test_ark/requirements.txt
  test/test_cpu/models/test_moe_model.py
  test/test_cpu/requirements.txt
  test/test_cuda/advanced/test_fp8_input.py
  test/test_cuda/export/test_export.py
  test/test_cuda/export/test_gguf.py
  test/test_cuda/integrations/test_transformers.py
  test/test_cuda/integrations/test_vllm.py
  test/test_cuda/models/test_diffusion.py
  test/test_cuda/models/test_get_block_name.py
  test/test_cuda/models/test_moe_model.py
  test/test_cuda/models/test_support_vlms.py
  test/test_cuda/models/test_vlms.py
  test/test_cuda/quantization/test_mxfp_nvfp.py
  test/test_cuda/requirements.txt
  test/test_cuda/schemes/test_scheme.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

unify interface to convert_model_to_high_precision_if_necessary
  auto_round/compressors/base.py
  auto_round/utils/model.py
  test/test_cpu/core/test_autoround.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

add support for w4a16_mixed (#1326)
  auto_round/compressors/base.py
  auto_round/formats.py
  auto_round/schemes.py
  test/test_cpu/schemes/test_scheme.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

add new patch demo
  auto_round/modeling/fused_moe/v5/deepseek/ds_in_v5_demo_new_patch.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

Update __init__.py
  README.md
  auto_round/compressors/base.py
  auto_round/inference/convert_model.py
  auto_round/modeling/fused_moe/__init__.py
  auto_round/modeling/fused_moe/deepseek_v2.py
  auto_round/modeling/fused_moe/gpt_oss.py
  auto_round/modeling/fused_moe/llama4.py
  auto_round/modeling/fused_moe/moe_experts_interface.py
  auto_round/modeling/fused_moe/qwen3_vl_moe.py
  auto_round/modeling/fused_moe/replace_modules.py
  auto_round/modeling/fused_moe/utils.py
  auto_round/modeling/unfused_moe/__init__.py
  auto_round/modeling/unfused_moe/deepseek_v3.py
  auto_round/modeling/unfused_moe/ernie4_5_moe.py
  auto_round/modeling/unfused_moe/glm_moe.py
  auto_round/modeling/unfused_moe/glm_moe_light.py
  auto_round/modeling/unfused_moe/qwen3_moe.py
  auto_round/modeling/unfused_moe/qwen3_next.py
  auto_round/special_model_handler.py
  test/test_cpu/models/test_moe_model.py
  test/test_cuda/models/test_moe_experts_interface.py
  test/test_cuda/models/test_moe_model.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix issue
  auto_round/modeling/fused_moe/__init__.py
  auto_round/modeling/fused_moe/moe_experts_interface.py
  auto_round/modeling/fused_moe/replace_modules.py
  auto_round/modeling/unfused_moe/__init__.py
  auto_round/modeling/unfused_moe/replace_modules.py
  test/test_cuda/models/test_moe_experts_interface.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

enable xpu test Signed-off-by: chensuyue <suyue.chen@intel.com>
  .azure-pipelines/unit-test-xpu.yml
Due: .azure-pipelines/unit-test-xpu.yml

fix issue
  auto_round/compressors/base.py
  auto_round/eval/eval_cli.py
  auto_round/formats.py
  auto_round/inference/convert_model.py
  auto_round/modeling/fused_moe/deepseek_v2.py
  auto_round/modeling/fused_moe/gpt_oss.py
  auto_round/modeling/fused_moe/llama4.py
  auto_round/modeling/fused_moe/qwen3_moe.py
  auto_round/modeling/fused_moe/qwen3_vl_moe.py
  auto_round/modeling/unfused_moe/deepseek_v2.py
  auto_round/modeling/unfused_moe/gpt_oss.py
  auto_round/modeling/unfused_moe/llama4.py
  auto_round/modeling/unfused_moe/utils.py
  auto_round/schemes.py
  auto_round/special_model_handler.py
  auto_round/utils/common.py
  test/test_ark/requirements.txt
  test/test_cpu/models/test_moe_model.py
  test/test_cpu/requirements.txt
  test/test_cpu/schemes/test_scheme.py
  test/test_cuda/advanced/test_fp8_input.py
  test/test_cuda/export/test_export.py
  test/test_cuda/export/test_gguf.py
  test/test_cuda/integrations/test_transformers.py
  test/test_cuda/integrations/test_vllm.py
  test/test_cuda/models/test_diffusion.py
  test/test_cuda/models/test_get_block_name.py
  test/test_cuda/models/test_moe_model.py
  test/test_cuda/models/test_support_vlms.py
  test/test_cuda/models/test_vlms.py
  test/test_cuda/quantization/test_mxfp_nvfp.py
  test/test_cuda/requirements.txt
  test/test_cuda/schemes/test_scheme.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Apply suggestion from @xin3he
  docs/step_by_step_CN.md
Due: none

Update step_by_step_CN.md 法* -> 用法*
  docs/step_by_step_CN.md
Due: none

support general moe experts replacement
  auto_round/modeling/fused_moe/__init__.py
  auto_round/modeling/fused_moe/moe_experts_interface.py
  auto_round/modeling/fused_moe/replace_modules.py
  test/test_cuda/models/test_moe_experts_interface.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

restored get_attr and set_attr
  auto_round/utils/model.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

restored get_attr and set_attr
  test_fp8_ignore.py
Due: none

fix ut
  auto_round/modeling/fused_moe/moe_experts_interface.py
  test/test_cuda/models/test_moe_experts_interface.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix cuda ut fail
  auto_round/compressors/base.py
  test/test_cuda/models/test_get_block_name.py
  test/test_cuda/models/test_support_vlms.py
  test/test_cuda/models/test_vlms.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

update
  test/test_cuda/models/test_support_vlms.py
Due: .azure-pipelines/unit-test.yml

Support llmc format for dynamic wint8aint8
  auto_round/compressors/base.py
  auto_round/compressors/utils.py
  auto_round/export/export_to_llmcompressor/config.py
  auto_round/export/export_to_llmcompressor/export.py
  auto_round/formats.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix copy python file issue
  auto_round/utils/model.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

add compress_layer_names utility to reduce log verbosity for unquantized layers
  auto_round/compressors/base.py
  auto_round/utils/common.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

refine
  auto_round/compressors/base.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

Update auto_round/utils/model.py
  auto_round/utils/model.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fixed datatype
  auto_round/schemes.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix
  auto_round/schemes.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

Path conditions:
  .azure-pipelines/code-scan.yml: any of: auto_round, auto_round_extension, setup.py, requirements.txt, requirements-cpu.txt, requirements-hpu.txt, .azure-pipelines/code-scan.yml, .azure-pipelines/scripts/codeScan
  .azure-pipelines/compatibility-test.yml: any of: auto_round, auto_round_extension, setup.py, setup.cfg, requirements.txt, requirements-cpu.txt, .azure-pipelines/compatibility-test.yml, but not: *.md, **/*.md
  .azure-pipelines/unit-test-hpu.yml: any of: auto_round, test/test*hpu*', setup.py, requirements-lib.txt, .azure-pipelines/scripts/ut, .azure-pipelines/template/docker-template.yml, .azure-pipelines/template/ut-template.yml, but not: auto_round/export/export_to_autogptq, auto_round/export/export_to_awq, *.md, **/*.md
  .azure-pipelines/unit-test-xpu.yml: any of: auto_round/utils, auto_round_extension/ark, test/test_ark, setup.py, .azure-pipelines/template/ut-template.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/scripts/ut/run_ut_xpu.sh, but not: *.md, **/*.md
  .azure-pipelines/unit-test.yml: any of: auto_round, auto_round_extension, test, setup.py, requirements.txt, requirements-cpu.txt, .azure-pipelines/scripts/ut, .azure-pipelines/unit-test.yml, .azure-pipelines/template/ut-template.yml, .azure-pipelines/template/docker-template.yml, but not: test/test*hpu*, *.md, **/*.md
