Repository intel/auto-round: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

.azure-pipelines/code-scan.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: BanditCodeScan
    displayName: Bandit Code Scan
    dependsOn: []
    jobs:
    - job: Bandit
      displayName: Bandit
      steps:
      - template: template/code-scan-template.yml
        parameters:
          codeScanFileName: bandit
          uploadPath: bandit.log
  ...

.azure-pipelines/compatibility-test.yml:
  stages:
  - stage: null
    displayName: Compatibility Test
    dependsOn: []
    jobs:
    - job: null
      timeoutInMinutes: 20
      strategy:
        matrix:
          Python310_Linux:
            python_version: '3.10'
            vmImage: ubuntu-latest
          Python311_Linux:
            python_version: '3.11'
  ...

.azure-pipelines/unit-test-hpu.yml:
  pool: GAUDI
  stages:
  - stage: Unit_test
    displayName: Unit Test
    dependsOn: []
    jobs:
    - job: null
      displayName: Unit Test
      steps:
      - template: template/ut-template.yml
        parameters:
          imageSource: pull
          dockerConfigName: commonDockerConfig
  ...

.azure-pipelines/unit-test-xpu.yml:
  pool: B60
  stages:
  - stage: Unit_test
    displayName: Unit Test
    dependsOn: []
    jobs:
    - job: null
      displayName: Unit Test
      steps:
      - template: template/ut-template.yml
        parameters:
          dockerConfigName: commonDockerConfig
          utScriptFileName: run_ut_xpu
  ...

.azure-pipelines/unit-test.yml:
  pool: ICX-16C
  stages:
  - stage: Unit_test
    displayName: Unit Test
    dependsOn: []
    jobs:
    - job: null
      timeoutInMinutes: 120
      strategy:
        matrix:
          part1:
            PART: 1
          part2:
            PART: 2
          part3:
            PART: 3
          part4:
            PART: 4
  ...

fix
  auto_round/compressors/entry.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

add env print
  .azure-pipelines/scripts/ut/run_ut.sh
Due: .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

bump ark version
  auto_round_extension/ark/auto_round_kernel/version.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-xpu.yml

fix few gguf bugs of hf-name and checkpoint name
  auto_round/eval/evaluation.py
  auto_round/export/export_to_gguf/convert.py
  auto_round/export/export_to_gguf/export.py
  auto_round/export/export_to_gguf/hf_checkpoint_restorer.py
  auto_round/export/export_to_gguf/llama_cpp_conversion.py
  test/test_cpu/advanced/test_evaluation_functions.py
  test/test_cpu/export/test_gguf_format.py
  test/test_cpu/export/test_gguf_hf_checkpoint_restorer.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

reorder UT for CUDA CI memory leak (#1938)
  test/test_cuda/models/test_fp8_model.py
Due: .azure-pipelines/unit-test.yml

fix compute_dtype set
  auto_round_extension/ark/auto_round_kernel/__init__.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-xpu.yml

refine hadamard rotation api.
  auto_round/algorithms/transforms/quarot/apply.py
  auto_round/algorithms/transforms/quarot/dispatcher.py
  auto_round/compressors/base.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

refine v2 search init_scale
  auto_round/algorithms/quantization/sign_roundv2/quantizer.py
  auto_round/algorithms/transforms/awq/quantizer.py
  auto_round/data_type/int.py
  auto_round/data_type/utils.py
  test/test_cpu/algorithms/test_awq.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

mark the rotation feature as experimental.
  docs/step_by_step.md
  docs/step_by_step_CN.md
Due: none

fixtypo
  auto_round/algorithms/transforms/awq/config.py
  auto_round/algorithms/transforms/awq/quantizer.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

only make change to gguf format
  README.md
  README_CN.md
  auto_round/auto_scheme/delta_loss.py
  auto_round/auto_scheme/gen_auto_scheme.py
  auto_round/compressors/entry.py
  docs/auto_scheme_acc.md
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

revert some code
  auto_round/auto_scheme/delta_loss.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

update
  docs/auto_scheme_acc.md
Due: none

fix
  docs/deck/auto-round-vllm-v1.html
Due: none

Potential fix for pull request finding
  README.md
Due: none

clean
  auto_round/auto_scheme/delta_loss.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Potential fix for pull request finding
  docs/auto_scheme_acc.md
Due: none

Potential fix for pull request finding
  auto_round/auto_scheme/delta_loss.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Fix slow startup time of pytest coverage for unit tests (#1899)
  .azure-pipelines/scripts/ut/run_ut.sh
  .azure-pipelines/scripts/ut/run_ut_cuda.sh
Due: .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

update llama-cpp-python installation for CUDA CI (#1907)
  .azure-pipelines/scripts/cuda_unit_test/run_cuda_ut.sh
  .azure-pipelines/scripts/ut/collect_result.py
  .azure-pipelines/scripts/ut/run_ut_cuda.sh
Due: .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix random rotation and update rotation doc. (#1884)
  auto_round/algorithms/transforms/__init__.py
  auto_round/algorithms/transforms/spinquant/__init__.py
  auto_round/algorithms/transforms/spinquant/preprocessor.py
  docs/step_by_step.md
  docs/step_by_step_CN.md
  test/test_cuda/requirements.txt
  test/test_cuda/transform/test_spinquant.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

feat: add MXFP4/MXFP8 quantization support (llmc_compressor format) and related tests (#1865)
  auto_round/compressors/model_free.py
  docs/step_by_step.md
  docs/step_by_step_CN.md
  test/test_cpu/models/test_moe_model.py
  test/test_cpu/quantization/test_model_free.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix: guard zero-division in GGUF quant kernels to avoid NaN block scales (#1909)
  auto_round/export/export_to_gguf/packing.py
  test/test_cpu/export/test_gguf_format.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

feat: improve review-pr skill score from 76% to 90% (#1901)
  .claude/skills/review-pr/SKILL.md
Due: none

Fix CI coverage & bug grep issue (#1893)
  .azure-pipelines/scripts/ut/.coverage
  .azure-pipelines/scripts/ut/collect_result.py
  .azure-pipelines/scripts/ut/run_ut.sh
  .azure-pipelines/scripts/ut/run_ut_hpu.sh
  .azure-pipelines/scripts/ut/run_ut_xpu.sh
  .azure-pipelines/template/ut-template.yml
  auto_round/utils/model.py
  test/test_cuda/requirements.txt
  test/test_hpu/test_inference.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Update auto-round-lib release package build (#1895)
  .azure-pipelines/ark-unit-test.yml
  .azure-pipelines/template/lib-build-template.yml
  auto_round_extension/ark/MANIFEST.in
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-xpu.yml

[step 1]refine code to support all devices in torch and hot fix for gemma4-unified (#1879)
  auto_round/__main__.py
  auto_round/algorithms/quantization/adam_round/adam.py
  auto_round/algorithms/quantization/awq/quantizer.py
  auto_round/algorithms/quantization/base.py
  auto_round/algorithms/quantization/rtn/quantizer.py
  auto_round/algorithms/quantization/sign_round/quantizer.py
  auto_round/auto_scheme/delta_loss.py
  auto_round/autoround.py
  auto_round/calibration/diffusion.py
  auto_round/calibration/inputs.py
  auto_round/calibration/llm.py
  auto_round/compressors/base.py
  auto_round/compressors/data_driven.py
  auto_round/compressors/diffusion_mixin.py
  auto_round/compressors/model_free.py
  auto_round/compressors/utils.py
  auto_round/context/compress.py
  auto_round/context/model.py
  auto_round/eval/eval_cli.py
  auto_round/eval/evaluation.py
  auto_round/export/export_to_llmcompressor/export.py
  auto_round/formats.py
  auto_round/special_model_handler.py
  auto_round/utils/__init__.py
  auto_round/utils/device.py
  auto_round/utils/device_manager.py
  auto_round/utils/model.py
  test/helpers.py
  test/test_ark/test_model.py
  test/test_xpu/test_llmc_integration.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fallback compute type on b70 if needed (#1904)
  auto_round_extension/ark/auto_round_kernel/qlinear.py
  auto_round_extension/ark/auto_round_kernel/utils.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-xpu.yml

fix gguf opt-rtn regression (#1905)
  auto_round/export/export_to_gguf/convert.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

[ARK] update README (#1906)
  auto_round_extension/ark/README.md
Due: .azure-pipelines/code-scan.yml

fix inplace rotation issue (#1903)
  auto_round/__main__.py
  auto_round/algorithms/transforms/rotation/config.py
  auto_round/algorithms/transforms/rotation/dispatcher.py
  auto_round/algorithms/transforms/rotation/inplace/apply.py
  auto_round/compressors/base.py
  auto_round/compressors/entry.py
  auto_round/schemes.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix awq cuda CI (#1912)
  test/test_cuda/algorithms/test_awq.py
Due: .azure-pipelines/unit-test.yml

enable MXFP clamp for model free (#1914)
  auto_round/compressors/model_free.py
  test/test_cpu/quantization/test_model_free.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

add all
  docs/deck/images/algos-acc-compare-4bits.png
  docs/deck/images/algos-acc-compare.png
  docs/deck/images/ar-qr.png
  docs/deck/images/ar-star-history-2026617.png
  docs/deck/images/data-type-flops.png
  docs/deck/images/fig3_wan22_t2v.png
  docs/deck/images/fig4_wan22_i2v.png
  docs/deck/images/fig5_vram_footprint.png
  docs/deck/images/fig6_latency_memory_tradeoff.png
  docs/deck/images/fig7_cfg_parallel_latency.png
  docs/deck/images/hf-model.png
  docs/deck/images/ld.png
  docs/deck/images/quant-element.png
  docs/deck/images/signr-v1.png
  docs/deck/images/signr-v2.png
  docs/deck/images/wan-flash-attn.mp4
  docs/deck/images/wan-sage-attn.mp4
Due: none

update
  docs/deck/auto-round-vllm-v1.html
Due: none

upadte
  docs/deck/auto-round-vllm-v1.html
Due: none

Path conditions:
  .azure-pipelines/code-scan.yml: any of: auto_round, auto_round_extension, setup.py, requirements.txt, requirements-cpu.txt, requirements-hpu.txt, .azure-pipelines/code-scan.yml, .azure-pipelines/scripts/codeScan
  .azure-pipelines/compatibility-test.yml: any of: auto_round, auto_round_extension, setup.py, setup.cfg, requirements.txt, requirements-cpu.txt, .azure-pipelines/compatibility-test.yml, but not: *.md, **/*.md
  .azure-pipelines/unit-test-hpu.yml: any of: auto_round, test/test*hpu*', setup.py, requirements-lib.txt, .azure-pipelines/scripts/ut, .azure-pipelines/template/docker-template.yml, .azure-pipelines/template/ut-template.yml, but not: auto_round/export/export_to_autogptq, auto_round/export/export_to_awq, *.md, **/*.md
  .azure-pipelines/unit-test-xpu.yml: any of: auto_round, auto_round_extension, test/test_ark, test/test_xpu, setup.py, .azure-pipelines/template/ut-template.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/scripts/ut/run_ut_xpu.sh, but not: *.md, **/*.md
  .azure-pipelines/unit-test.yml: any of: auto_round, auto_round_extension, test, setup.py, requirements.txt, requirements-cpu.txt, .azure-pipelines/scripts/ut, .azure-pipelines/unit-test.yml, .azure-pipelines/template/ut-template.yml, .azure-pipelines/template/docker-template.yml, but not: auto_round_extension/ark, test/test_hpu, test/test_ark, test/test_xpu, *.md, **/*.md, .azure-pipelines/scripts/ut/run_ut_hpu.sh, .azure-pipelines/scripts/ut/run_ut_cuda.sh, .azure-pipelines/scripts/ut/run_ut_xpu.sh
