Repository intel/auto-round: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

.azure-pipelines/code-scan.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: BanditCodeScan
    displayName: Bandit Code Scan
    dependsOn: []
    jobs:
    - job: Bandit
      displayName: Bandit
      steps:
      - template: template/code-scan-template.yml
        parameters:
          codeScanFileName: bandit
          uploadPath: bandit.log
  ...

.azure-pipelines/compatibility-test.yml:
  stages:
  - stage: null
    displayName: Compatibility Test
    dependsOn: []
    jobs:
    - job: null
      timeoutInMinutes: 20
      strategy:
        matrix:
          Python310_Linux:
            python_version: '3.10'
            vmImage: ubuntu-latest
          Python311_Linux:
            python_version: '3.11'
  ...

.azure-pipelines/unit-test-hpu.yml:
  pool: GAUDI
  stages:
  - stage: Unit_test
    displayName: Unit Test
    dependsOn: []
    jobs:
    - job: null
      displayName: Unit Test
      steps:
      - template: template/ut-template.yml
        parameters:
          imageSource: pull
          dockerConfigName: commonDockerConfig
  ...

.azure-pipelines/unit-test-xpu.yml:
  pool: B60
  stages:
  - stage: Unit_test
    displayName: Unit Test
    dependsOn: []
    jobs:
    - job: null
      displayName: Unit Test
      steps:
      - template: template/ut-template.yml
        parameters:
          dockerConfigName: commonDockerConfig
          utScriptFileName: run_ut_xpu
  ...

.azure-pipelines/unit-test.yml:
  pool: ICX-16C
  stages:
  - stage: Unit_test
    displayName: Unit Test
    dependsOn: []
    jobs:
    - job: null
      timeoutInMinutes: 120
      strategy:
        matrix:
          part1:
            PART: 1
          part2:
            PART: 2
          part3:
            PART: 3
          part4:
            PART: 4
  ...

update versions
  .azure-pipelines/ark-unit-test.yml
Due: none

update ark binary build
  .azure-pipelines/ark-unit-test.yml
  .azure-pipelines/template/lib-build-template.yml
Due: none

bug fix
  .azure-pipelines/template/lib-build-template.yml
Due: none

fix build env
  .azure-pipelines/template/lib-build-template.yml
Due: none

update rotation document and unit tests.
  auto_round/algorithms/transforms/__init__.py
  auto_round/algorithms/transforms/spinquant/__init__.py
  auto_round/algorithms/transforms/spinquant/preprocessor.py
  docs/step_by_step.md
  docs/step_by_step_CN.md
  test/test_cuda/transform/test_spinquant.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

revert for test
  .azure-pipelines/scripts/ut/.coverage
  .azure-pipelines/scripts/ut/run_ut.sh
  .azure-pipelines/template/ut-template.yml
Due: .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

bug fix
  .azure-pipelines/ark-unit-test.yml
  .azure-pipelines/template/lib-build-template.yml
Due: none

Refactor LogAnalyzer: improve error handling and update status determination logic
  .azure-pipelines/scripts/ut/collect_result.py
Due: .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

add transformers version limit for cuda UT
  test/test_cuda/requirements.txt
Due: .azure-pipelines/unit-test.yml

bug fix
  .azure-pipelines/template/ut-template.yml
Due: .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

add MANIFEST.in to include necessary files and directories
  auto_round_extension/ark/MANIFEST.in
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-xpu.yml

update HPU test scope
  .azure-pipelines/scripts/ut/collect_result.py
  test/test_hpu/test_inference.py
Due: .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

remove debug code
  .azure-pipelines/scripts/ut/run_ut.sh
  test/conftest.py
Due: .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

refactor pipeline
  auto_round/algorithms/base.py
  auto_round/algorithms/pipeline.py
  auto_round/algorithms/quantization/__init__.py
  auto_round/algorithms/quantization/base.py
  auto_round/algorithms/quantization/sign_round/quantizer.py
  auto_round/algorithms/transforms/awq/quantizer.py
  auto_round/cli/algorithms.py
  auto_round/cli/main.py
  auto_round/compressors/data_driven.py
  auto_round/compressors/zero_shot.py
  docs/step_by_step.md
  docs/step_by_step_CN.md
  test/test_cpu/utils/test_cli_usage.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

add build condition
  .azure-pipelines/template/lib-build-template.yml
Due: none

change num_samples to property
  auto_round/algorithms/pipeline.py
  auto_round/algorithms/quantization/sign_round/quantizer.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

uptimize code
  .azure-pipelines/ark-unit-test.yml
  .azure-pipelines/template/lib-build-template.yml
Due: none

fix CI
  auto_round/compressors/model_free.py
  test/test_cpu/models/test_moe_model.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

use source code path for cpu coverage collect
  .azure-pipelines/scripts/ut/.coverage
  .azure-pipelines/scripts/ut/run_ut.sh
  auto_round/utils/model.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

revert change
  test/conftest.py
Due: .azure-pipelines/unit-test.yml

Fix AutoRound DDP gradient synchronization
  auto_round/algorithms/quantization/sign_round/quantizer.py
  auto_round/utils/distributed.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix ut.
  test/test_cuda/requirements.txt
Due: .azure-pipelines/unit-test.yml

fix CI
  auto_round/compressors/model_free.py
  test/test_cpu/quantization/test_model_free.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix coverage combine
  .azure-pipelines/scripts/ut/.coverage
Due: .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

for minimal test only
  .azure-pipelines/scripts/ut/run_ut.sh
Due: .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

add step name
  .azure-pipelines/template/ut-template.yml
Due: .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Revert "for minimal test only"
  .azure-pipelines/scripts/ut/run_ut.sh
Due: .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

update report
  .azure-pipelines/scripts/ut/run_ut.sh
Due: .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix random rotation and update rotation doc. (#1884)
  auto_round/algorithms/transforms/__init__.py
  auto_round/algorithms/transforms/spinquant/__init__.py
  auto_round/algorithms/transforms/spinquant/preprocessor.py
  docs/step_by_step.md
  docs/step_by_step_CN.md
  test/test_cuda/requirements.txt
  test/test_cuda/transform/test_spinquant.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

comment ut
  test/test_xpu/test_llmc_integration.py
Due: .azure-pipelines/unit-test-xpu.yml

minor update
  .azure-pipelines/scripts/ut/run_ut.sh
Due: .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

Update auto-round-lib release package build (#1895)
  .azure-pipelines/ark-unit-test.yml
  .azure-pipelines/template/lib-build-template.yml
  auto_round_extension/ark/MANIFEST.in
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-xpu.yml

bump version
  README.md
  README_CN.md
  auto_round/version.py
  auto_round_extension/ark/auto_round_kernel/version.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

remove transformers version limit
  test/test_cuda/requirements.txt
Due: .azure-pipelines/unit-test.yml

[step 1]refine code to support all devices in torch and hot fix for gemma4-unified (#1879)
  auto_round/__main__.py
  auto_round/algorithms/quantization/adam_round/adam.py
  auto_round/algorithms/quantization/awq/quantizer.py
  auto_round/algorithms/quantization/base.py
  auto_round/algorithms/quantization/rtn/quantizer.py
  auto_round/algorithms/quantization/sign_round/quantizer.py
  auto_round/auto_scheme/delta_loss.py
  auto_round/autoround.py
  auto_round/calibration/diffusion.py
  auto_round/calibration/inputs.py
  auto_round/calibration/llm.py
  auto_round/compressors/base.py
  auto_round/compressors/data_driven.py
  auto_round/compressors/diffusion_mixin.py
  auto_round/compressors/model_free.py
  auto_round/compressors/utils.py
  auto_round/context/compress.py
  auto_round/context/model.py
  auto_round/eval/eval_cli.py
  auto_round/eval/evaluation.py
  auto_round/export/export_to_llmcompressor/export.py
  auto_round/formats.py
  auto_round/special_model_handler.py
  auto_round/utils/__init__.py
  auto_round/utils/device.py
  auto_round/utils/device_manager.py
  auto_round/utils/model.py
  test/helpers.py
  test/test_ark/test_model.py
  test/test_xpu/test_llmc_integration.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Path conditions:
  .azure-pipelines/code-scan.yml: any of: auto_round, auto_round_extension, setup.py, requirements.txt, requirements-cpu.txt, requirements-hpu.txt, .azure-pipelines/code-scan.yml, .azure-pipelines/scripts/codeScan
  .azure-pipelines/compatibility-test.yml: any of: auto_round, auto_round_extension, setup.py, setup.cfg, requirements.txt, requirements-cpu.txt, .azure-pipelines/compatibility-test.yml, but not: *.md, **/*.md
  .azure-pipelines/unit-test-hpu.yml: any of: auto_round, test/test*hpu*', setup.py, requirements-lib.txt, .azure-pipelines/scripts/ut, .azure-pipelines/template/docker-template.yml, .azure-pipelines/template/ut-template.yml, but not: auto_round/export/export_to_autogptq, auto_round/export/export_to_awq, *.md, **/*.md
  .azure-pipelines/unit-test-xpu.yml: any of: auto_round, auto_round_extension, test/test_ark, test/test_xpu, setup.py, .azure-pipelines/template/ut-template.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/scripts/ut/run_ut_xpu.sh, but not: *.md, **/*.md
  .azure-pipelines/unit-test.yml: any of: auto_round, auto_round_extension, test, setup.py, requirements.txt, requirements-cpu.txt, .azure-pipelines/scripts/ut, .azure-pipelines/unit-test.yml, .azure-pipelines/template/ut-template.yml, .azure-pipelines/template/docker-template.yml, but not: auto_round_extension/ark, test/test_hpu, test/test_ark, test/test_xpu, *.md, **/*.md, .azure-pipelines/scripts/ut/run_ut_hpu.sh, .azure-pipelines/scripts/ut/run_ut_cuda.sh, .azure-pipelines/scripts/ut/run_ut_xpu.sh
