Repository intel/auto-round: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Path conditions:
  .azure-pipelines/code-scan.yml: any of: auto_round, auto_round_extension, setup.py, requirements.txt, requirements-cpu.txt, requirements-hpu.txt, .azure-pipelines/code-scan.yml, .azure-pipelines/scripts/codeScan
  .azure-pipelines/compatibility-test.yml: any of: auto_round, auto_round_extension, setup.py, setup.cfg, requirements.txt, requirements-cpu.txt, .azure-pipelines/compatibility-test.yml, but not: *.md, **/*.md
  .azure-pipelines/unit-test-hpu.yml: any of: auto_round, test/test*hpu*', setup.py, requirements-lib.txt, .azure-pipelines/scripts/ut, .azure-pipelines/template/docker-template.yml, .azure-pipelines/template/ut-template.yml, but not: auto_round/export/export_to_autogptq, auto_round/export/export_to_awq, *.md, **/*.md
  .azure-pipelines/unit-test-xpu.yml: any of: auto_round/utils, auto_round_extension/ark, test/test_ark, setup.py, .azure-pipelines/template/ut-template.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/scripts/ut/run_ut_xpu.sh, but not: *.md, **/*.md
  .azure-pipelines/unit-test.yml: any of: auto_round, auto_round_extension, test, setup.py, requirements.txt, requirements-cpu.txt, .azure-pipelines/scripts/ut, .azure-pipelines/unit-test.yml, .azure-pipelines/template/ut-template.yml, .azure-pipelines/template/docker-template.yml, but not: test/test*hpu*, *.md, **/*.md

Extensible Module Weight Type Conversion Framework. (#1375)
  auto_round/compressors/base.py
  auto_round/compressors/mllm/compressor.py
  auto_round/compressors/utils.py
  auto_round/export/export_to_gguf/convert.py
  auto_round/utils/__init__.py
  auto_round/utils/model.py
  auto_round/utils/weight_handler.py
  test/fixtures.py
  test/test_cpu/core/test_autoround.py
  test/test_cpu/utils/test_fp8_re_quant.py
  test/test_cuda/quantization/test_mxfp_nvfp.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Update step_by_step_CN.md
  docs/step_by_step_CN.md
Due: none

Enable q_scale calibration for deepseek v2 on Gaudi (#1299)
  .azure-pipelines/template/ut-template.yml
  auto_round/__main__.py
  auto_round/compressors/base.py
  auto_round/experimental/attention.py
  auto_round/export/export_to_llmcompressor/export_to_static_fp.py
  auto_round/modelling/deepseek_v2.py
  auto_round/modelling/replace_modules.py
  auto_round/special_model_handler.py
  test/test_cpu/quantization/test_statc_attn.py
  test/test_hpu/requirements.txt
  test/test_hpu/test_statc_attn.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix bug of format (#1287)
  auto_round/compressors/base.py
  test/test_cpu/core/test_autoround.py
  test/test_cpu/export/test_gguf_format.py
  test/test_cpu/quantization/test_asym.py
  test/test_cpu/utils/test_cli_usage.py
  test/test_cuda/advanced/test_multiple_card_calib.py
  test/test_cuda/export/test_gguf.py
  test/test_cuda/models/test_support_vlms.py
  test/test_cuda/quantization/test_asym.py
  test/test_cuda/utils/test_alg_ext.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

open source delta loss (#1300)
  auto_round/auto_scheme/__init__.py
  auto_round/auto_scheme/default_alg.abi3.so
  auto_round/auto_scheme/default_alg.pyd
  auto_round/auto_scheme/delta_loss.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

Remove itrex format (#1301)
  auto_round/export/export_to_itrex/__init__.py
  auto_round/export/export_to_itrex/bit_packer.py
  auto_round/export/export_to_itrex/config.py
  auto_round/export/export_to_itrex/export.py
  auto_round/export/export_to_itrex/model_wrapper.py
  auto_round/formats.py
  auto_round/inference/convert_model.py
  auto_round/testing_utils.py
  docs/step_by_step.md
  test/test_cpu/core/test_autoround_export_to_itrex.py
  test/test_cpu/utils/test_woq_linear.py
  test/test_cuda/quantization/test_qbits.py
  test/test_hpu/test_auto_round.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix XPU CI hang issue (#1261)
  test/test_xpu/test_autoround.py
Due: .azure-pipelines/unit-test.yml

fix ignore layers regression (#1302)
  auto_round/autoround.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

Add issue templates and PR template with required fields (#1309)
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/pull_request_template.md
  README.md
  auto_round/__main__.py
  auto_round/auto_scheme/utils.py
  auto_round/autoround.py
  auto_round/calib_dataset.py
  auto_round/compressors/base.py
  auto_round/compressors/diffusion/compressor.py
  auto_round/compressors/mllm/compressor.py
  auto_round/compressors/shard_writer.py
  auto_round/compressors/utils.py
  auto_round/export/export_to_autogptq/export.py
  auto_round/export/export_to_gguf/convert.py
  auto_round/export/export_to_gguf/export.py
  auto_round/formats.py
  auto_round/utils/device.py
  auto_round/utils/model.py
  auto_round/wrapper.py
  test/test_cpu/quantization/test_asym.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Fix CPU CI (#1344)
  .azure-pipelines/scripts/ut/run_ut.sh
  .azure-pipelines/scripts/ut/run_ut_cuda.sh
  auto_round/calib_dataset.py
  auto_round/utils/__init__.py
  test/fixtures.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Fix cpu ut for transformers v5 (#1333)
  auto_round/eval/eval_cli.py
  auto_round/eval/evaluation.py
  auto_round/modelling/gpt_oss.py
  auto_round/modelling/llama4.py
  auto_round_extension/torch/qlinear_torch.py
  auto_round_extension/torch/qlinear_torch_zp.py
  test/fixtures.py
  test/helpers.py
  test/test_ark/requirements.txt
  test/test_cpu/core/test_autoround.py
  test/test_cpu/export/test_export.py
  test/test_cpu/export/test_gguf_format.py
  test/test_cpu/integrations/test_llmc_integration.py
  test/test_cpu/models/test_diffusion.py
  test/test_cpu/models/test_moe_model.py
  test/test_cpu/quantization/test_mxfp_nvfp.py
  test/test_cpu/requirements.txt
  test/test_cuda/models/test_moe_model.py
  test/test_cuda/quantization/test_mix_bits.py
  test/test_cuda/quantization/test_mxfp_nvfp.py
  test/test_cuda/requirements.txt
  test/test_cuda/requirements_sglang.txt
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

[GGUF] using quant_nontext_module to control whether quant vision model (#1317)
  auto_round/compressors/base.py
  auto_round/compressors/mllm/compressor.py
  auto_round/export/export_to_gguf/convert.py
  auto_round/export/export_to_gguf/export.py
  auto_round/formats.py
  test/test_cpu/export/test_gguf_format.py
  test/test_cuda/export/test_gguf.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix tied weights keys bug (#1330)
  auto_round/compressors/base.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix cuda ut fail for transformers v5.0 (#1357)
  auto_round/eval/eval_cli.py
  auto_round/inference/convert_model.py
  auto_round/utils/common.py
  test/test_ark/requirements.txt
  test/test_cpu/models/test_moe_model.py
  test/test_cpu/requirements.txt
  test/test_cuda/advanced/test_fp8_input.py
  test/test_cuda/export/test_export.py
  test/test_cuda/export/test_gguf.py
  test/test_cuda/integrations/test_transformers.py
  test/test_cuda/integrations/test_vllm.py
  test/test_cuda/models/test_diffusion.py
  test/test_cuda/models/test_get_block_name.py
  test/test_cuda/models/test_moe_model.py
  test/test_cuda/models/test_support_vlms.py
  test/test_cuda/models/test_vlms.py
  test/test_cuda/quantization/test_mxfp_nvfp.py
  test/test_cuda/requirements.txt
  test/test_cuda/schemes/test_scheme.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Fix issue where predefined ignore layers incorrectly apply to GGUF (#1340)
  auto_round/auto_scheme/delta_loss.py
  auto_round/compressors/base.py
  auto_round/compressors/utils.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

refactor eval and add UT (#1324)
  auto_round/__init__.py
  auto_round/__main__.py
  auto_round/compressors/mllm/eval.py
  auto_round/eval/eval_cli.py
  auto_round/eval/evaluation.py
  auto_round/inference/auto_quantizer.py
  auto_round/inference/backend.py
  auto_round/utils/device.py
  auto_round/utils/model.py
  docs/step_by_step.md
  test/test_ark/test_model.py
  test/test_cpu/advanced/test_evaluation_functions.py
  test/test_cpu/backends/test_torch_backend.py
  test/test_cpu/schemes/test_auto_scheme.py
  test/test_cuda/advanced/test_evaluation.py
  test/test_cuda/advanced/test_multiple_card.py
  test/test_cuda/backends/test_exllamav2_backend.py
  test/test_cuda/backends/test_marlin_backend.py
  test/test_cuda/backends/test_torch_backend.py
  test/test_cuda/backends/test_triton_backend.py
  test/test_cuda/export/test_auto_round_format.py
  test/test_cuda/export/test_export.py
  test/test_cuda/integrations/test_vllm.py
  test/test_cuda/models/test_conv1d.py
  test/test_cuda/models/test_support_vlms.py
  test/test_cuda/models/test_vlms.py
  test/test_cuda/quantization/test_2_3bits.py
  test/test_cuda/schemes/test_auto_scheme.py
  test/test_cuda/utils/test_alg_ext.py
  test/test_cuda/utils/test_customized_data.py
  test/test_xpu/test_autoround.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Delay materializing the replaced model weights until quantization (#1307)
  auto_round/compressors/base.py
  auto_round/inference/convert_model.py
  auto_round/modelling/deepseek_v2.py
  auto_round/modelling/gpt_oss.py
  auto_round/modelling/llama4.py
  auto_round/modelling/qwen3_vl_moe.py
  auto_round/modelling/replace_modules.py
  auto_round/modelling/utils.py
  auto_round/special_model_handler.py
  auto_round/utils/common.py
  auto_round/utils/device.py
  test/test_cuda/models/test_moe_model.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Autoround in vLLM Office Hours (#1322)
  docs/publication_list.md
Due: none

add copilot-instructions (#1341)
  .github/copilot-instructions.md
Due: none

support qwen3-moe/glm-4.7-flash monkey patch for transformers 5 (#1354)
  auto_round/compressors/base.py
  auto_round/compressors/shard_writer.py
  auto_round/inference/convert_model.py
  auto_round/modeling/__init__.py
  auto_round/modeling/fused_moe/__init__.py
  auto_round/modeling/fused_moe/glm_moe_light.py
  auto_round/modeling/fused_moe/qwen3_moe.py
  auto_round/modeling/unfused_moe/__init__.py
  auto_round/modeling/unfused_moe/deepseek_v2.py
  auto_round/modeling/unfused_moe/gpt_oss.py
  auto_round/modeling/unfused_moe/llama4.py
  auto_round/modeling/unfused_moe/qwen3_vl_moe.py
  auto_round/modeling/unfused_moe/replace_modules.py
  auto_round/modeling/unfused_moe/utils.py
  auto_round/special_model_handler.py
  auto_round/utils/model.py
  test/test_cpu/models/test_moe_model.py
  test/test_cuda/models/test_moe_model.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Update publication dates in README and add recipe configuration detai… (#1329)
  README.md
  docs/step_by_step.md
Due: none

Fix attribute bug for diffusion model (#1338)
  auto_round/utils/model.py
  test/test_cpu/models/test_diffusion.py
  test/test_cpu/requirements.txt
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

add support for w4a16_mixed (#1326)
  auto_round/compressors/base.py
  auto_round/formats.py
  auto_round/schemes.py
  test/test_cpu/schemes/test_scheme.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

Fix FP8 MLA (#1343)
  auto_round_extension/vllm_ext/auto_round_ext.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test.yml

fix bug of exporting fp8 static (#1361)
  auto_round/compressors/utils.py
  auto_round/formats.py
  test/test_cpu/export/test_export.py
  test/test_cpu/quantization/test_act_quantization.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix copy python file issue (#1372)
  auto_round/utils/model.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

(feat): add support for g2 fp8 on cpu with LUT (#1254)
  auto_round/envs.py
  auto_round/utils/model.py
  test/test_cpu/core/test_autoround.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

feat: handle per-tensor FP8 dequantization for Devstral models (#1356)
  auto_round/utils/model.py
  test/test_cpu/core/test_autoround.py
  test/test_cpu/core/test_fp8_re_quant.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

refactor auto_round api, using local symbol table to pass all args (#1358)
  auto_round/autoround.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

Refactor FP8 dequantization and detection using registry pattern (#1348)
  auto_round/utils/model.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

set predefined ignore layers (#1318)
  auto_round/compressors/base.py
  auto_round/special_model_handler.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

simplify pull_request_template.md (#1328)
  .github/pull_request_template.md
Due: none

format add check for scheme args (#1332)
  auto_round/formats.py
  test/test_cpu/export/test_export.py
  test/test_cpu/integrations/test_llmcompressor.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

add blockwise way in pure rtn to ease module replacements (#1320)
  auto_round/compressors/base.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

Add Chinese README (#1335)
  README.md
  README_CN.md
Due: none

support qwen3-next/glm4-moe/deepseekv3 monkey patch for transformers 5 (#1367)
  README.md
  auto_round/compressors/base.py
  auto_round/inference/convert_model.py
  auto_round/modeling/fused_moe/__init__.py
  auto_round/modeling/fused_moe/deepseek_v2.py
  auto_round/modeling/fused_moe/gpt_oss.py
  auto_round/modeling/fused_moe/llama4.py
  auto_round/modeling/fused_moe/qwen3_vl_moe.py
  auto_round/modeling/fused_moe/replace_modules.py
  auto_round/modeling/fused_moe/utils.py
  auto_round/modeling/unfused_moe/__init__.py
  auto_round/modeling/unfused_moe/deepseek_v3.py
  auto_round/modeling/unfused_moe/ernie4_5_moe.py
  auto_round/modeling/unfused_moe/glm_moe.py
  auto_round/modeling/unfused_moe/glm_moe_light.py
  auto_round/modeling/unfused_moe/qwen3_moe.py
  auto_round/modeling/unfused_moe/qwen3_next.py
  auto_round/special_model_handler.py
  test/test_cpu/models/test_moe_model.py
  test/test_cuda/models/test_moe_model.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

update release package and bump version (#1327)
  .azure-pipelines/code-scan.yml
  .azure-pipelines/template/ut-template.yml
  .azure-pipelines/unit-test-hpu.yml
  .github/workflows/manual-binary-build-publish.yml
  README.md
  auto_round/version.py
  requirements-hpu.txt
  setup.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml
