Repository intel/auto-round: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Path conditions:
  .azure-pipelines/code-scan.yml: any of: auto_round, auto_round_extension, setup.py, requirements.txt, requirements-cpu.txt, requirements-hpu.txt, .azure-pipelines/code-scan.yml, .azure-pipelines/scripts/codeScan
  .azure-pipelines/compatibility-test.yml: any of: auto_round, auto_round_extension, setup.py, setup.cfg, requirements.txt, requirements-cpu.txt, .azure-pipelines/compatibility-test.yml, but not: *.md, **/*.md
  .azure-pipelines/unit-test-hpu.yml: any of: auto_round, test/test*hpu*', setup.py, requirements-lib.txt, .azure-pipelines/scripts/ut, .azure-pipelines/template/docker-template.yml, .azure-pipelines/template/ut-template.yml, but not: auto_round/export/export_to_autogptq, auto_round/export/export_to_awq, *.md, **/*.md
  .azure-pipelines/unit-test-xpu.yml: any of: auto_round, auto_round_extension, test/test_ark, test/test_xpu, setup.py, .azure-pipelines/template/ut-template.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/scripts/ut/run_ut_xpu.sh, but not: *.md, **/*.md
  .azure-pipelines/unit-test.yml: any of: auto_round, auto_round_extension, test, setup.py, requirements.txt, requirements-cpu.txt, .azure-pipelines/scripts/ut, .azure-pipelines/unit-test.yml, .azure-pipelines/template/ut-template.yml, .azure-pipelines/template/docker-template.yml, but not: auto_round_extension/ark, test/test_hpu, test/test_ark, test/test_xpu, *.md, **/*.md, .azure-pipelines/scripts/ut/run_ut_hpu.sh, .azure-pipelines/scripts/ut/run_ut_cuda.sh, .azure-pipelines/scripts/ut/run_ut_xpu.sh

update per comments
  auto_round/compressors/model_free.py
  test/test_cpu/quantization/test_model_free.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix segmentation failure
  test/test_cuda/export/test_auto_round_format.py
Due: .azure-pipelines/unit-test.yml

support HND layout
  auto_round_extension/ark/auto_round_kernel/__init__.py
  auto_round_extension/ark/auto_round_kernel/ark.cpp
  auto_round_extension/ark/auto_round_kernel/sdpa.cpp
  auto_round_extension/ark/auto_round_kernel/torch_sdpa_patch.py
  auto_round_extension/ark/auto_round_kernel/wrapper/include/sycl_tla_common.hpp
  auto_round_extension/ark/auto_round_kernel/wrapper/include/sycl_tla_sdpa.hpp
  auto_round_extension/ark/auto_round_kernel/wrapper/include/xpu_wrapper.hpp
  auto_round_extension/ark/test/test_sdpa_parity.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-xpu.yml

Enhance unit test script and CI pipeline for AI failure analysis
  .azure-pipelines/scripts/ai_failure_analysis/analyze_and_suggest.py
  .azure-pipelines/scripts/ai_failure_analysis/merge_failure_context.py
  .azure-pipelines/scripts/ai_failure_analysis/post_pr_comment.py
  .azure-pipelines/scripts/ut/collect_result.py
  .azure-pipelines/scripts/ut/run_ut.sh
  .azure-pipelines/template/ai-analysis-template.yml
  .azure-pipelines/template/ut-template.yml
  .azure-pipelines/unit-test.yml
Due: .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

for test only, need to revert before merge
  .azure-pipelines/scripts/ut/run_ut.sh
  auto_round/compressors/base.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix segmentation failure (#1871)
  test/test_cuda/export/test_auto_round_format.py
Due: .azure-pipelines/unit-test.yml

bump version
  README.md
  README_CN.md
Due: none

bump build version
  auto_round/version.py
  auto_round_extension/ark/auto_round_kernel/version.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Bump build version to v0.14.0 (#1875)
  README.md
  README_CN.md
  auto_round/version.py
  auto_round_extension/ark/auto_round_kernel/version.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix: wire nblocks overlap through sign-round config
  auto_round/algorithms/quantization/sign_round/config.py
  auto_round/compressors/base.py
  auto_round/compressors/entry.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix: retain overlap state across block windows
  auto_round/algorithms/quantization/sign_round/quantizer.py
  auto_round/compressors/data_driven.py
  auto_round/wrapper.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix dependency conflict
  test/test_cuda/requirements_sglang.txt
Due: .azure-pipelines/unit-test.yml

fix some issues
  auto_round/compressors/base.py
  auto_round/formats.py
  auto_round/schemes.py
  auto_round/utils/common.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Fix SGL CI dependency conflict (#1877)
  test/test_cuda/requirements_sglang.txt
Due: .azure-pipelines/unit-test.yml

refine devices
  auto_round/auto_scheme/delta_loss.py
  auto_round/utils/device.py
  auto_round/utils/device_manager.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

feat: add int3 (S3) symmetric WOQ GEMV kernel for ARK XPU
  auto_round_extension/ark/auto_round_kernel/bestla/bestla/sycl/sycl_prologue_b.h
  auto_round_extension/ark/auto_round_kernel/qlinear.py
  auto_round_extension/ark/auto_round_kernel/wrapper/include/xpu_wrapper.hpp
  auto_round_extension/ark/auto_round_kernel/wrapper/test/test_gemm.hpp
  auto_round_extension/ark/auto_round_kernel/wrapper/test/test_main.cpp
  auto_round_extension/ark/docs/ark_xpu_build_bkc.md
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-xpu.yml

fix gguf export
  auto_round/compressors/base.py
  auto_round/export/export_to_gguf/convert.py
  auto_round/schemes.py
  test/test_cpu/schemes/test_scheme.py
  test/test_cuda/export/test_gguf_format.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

refine devices
  auto_round/algorithms/quantization/adam_round/adam.py
  auto_round/algorithms/quantization/awq/quantizer.py
  auto_round/algorithms/quantization/base.py
  auto_round/algorithms/quantization/sign_round/quantizer.py
  auto_round/calibration/diffusion.py
  auto_round/calibration/inputs.py
  auto_round/calibration/llm.py
  auto_round/compressors/base.py
  auto_round/compressors/data_driven.py
  auto_round/compressors/diffusion_mixin.py
  auto_round/compressors/utils.py
  auto_round/context/compress.py
  auto_round/context/model.py
  auto_round/utils/device.py
  auto_round/utils/device_manager.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix random rotation and update rotation doc.
  auto_round/algorithms/transforms/spinquant/preprocessor.py
  docs/step_by_step.md
  docs/step_by_step_CN.md
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

update q2k_mixed recipe
  auto_round/formats.py
  auto_round/schemes.py
  test/test_cpu/export/test_gguf_format.py
  test/test_cpu/schemes/test_scheme.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

refine devices
  auto_round/context/model.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

refine devices
  auto_round/context/model.py
  auto_round/utils/device.py
  auto_round/utils/device_manager.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

[ARK] Add bf16 + NHD layout support, refactor sage_dynamic_quant
  auto_round_extension/ark/auto_round_kernel/__init__.py
  auto_round_extension/ark/auto_round_kernel/ark.cpp
  auto_round_extension/ark/auto_round_kernel/sdpa.cpp
  auto_round_extension/ark/auto_round_kernel/wrapper/include/sycl_tla_common.hpp
  auto_round_extension/ark/auto_round_kernel/wrapper/include/sycl_tla_sdpa.hpp
  auto_round_extension/ark/auto_round_kernel/wrapper/include/utils.hpp
  auto_round_extension/ark/auto_round_kernel/wrapper/include/xpu_wrapper.hpp
  auto_round_extension/ark/auto_round_kernel/wrapper/test/test_sdpa.hpp
  auto_round_extension/ark/test/test_sdpa.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-xpu.yml

[ARK] Refactor ARK class to module-level functions
  auto_round_extension/ark/auto_round_kernel/__init__.py
  auto_round_extension/ark/auto_round_kernel/qlinear.py
  auto_round_extension/ark/auto_round_kernel/torch_sdpa_patch.py
  auto_round_extension/ark/test/test_bench_bmg.py
  auto_round_extension/ark/test/test_flash_attn.py
  auto_round_extension/ark/test/test_matmul.py
  auto_round_extension/ark/test/test_moe.py
  auto_round_extension/ark/test/test_packq.py
  auto_round_extension/ark/test/test_sage_dynquant.py
  auto_round_extension/ark/test/test_sdpa.py
  auto_round_extension/ark/test/test_sdpa_parity.py
  auto_round_extension/ark/test/test_weightonly.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-xpu.yml

fix comments
  auto_round_extension/ark/auto_round_kernel/wrapper/include/xpu_wrapper.hpp
  auto_round_extension/ark/test/test_sdpa.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-xpu.yml

add pip install method
  auto_round_extension/ark/README.md
Due: .azure-pipelines/code-scan.yml

test: add int3 ARK XPU end-to-end examples
  auto_round_extension/ark/test/ark_int3_generate.py
  auto_round_extension/ark/test/test_int3_e2e.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-xpu.yml

fix ut
  auto_round/compressors/base.py
  auto_round/schemes.py
  test/test_cpu/schemes/test_scheme.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

gguf format add support for mtp quantization (#1866)
  auto_round/compressors/base.py
  auto_round/compressors/utils.py
  auto_round/export/export_to_gguf/convert.py
  auto_round/export/export_to_gguf/gguf_dtype.py
  auto_round/formats.py
  auto_round/schemes.py
  auto_round/utils/common.py
  test/test_cpu/export/test_gguf_format.py
  test/test_cpu/export/test_gguf_mtp_dtype.py
  test/test_cpu/schemes/test_scheme.py
  test/test_cuda/export/test_gguf_format.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

try to fix performance regression
  auto_round/compressors/data_driven.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

clean a little
  auto_round/algorithms/quantization/rtn/quantizer.py
  auto_round/utils/__init__.py
  auto_round/utils/device.py
  auto_round/utils/device_manager.py
  auto_round/utils/model.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

suppress misleading warning when detecting model type for GGUF export directories
  auto_round/utils/model.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

update
  auto_round/__main__.py
  auto_round/compressors/data_driven.py
  auto_round/compressors/model_free.py
  auto_round/eval/eval_cli.py
  auto_round/eval/evaluation.py
  auto_round/export/export_to_llmcompressor/export.py
  auto_round/utils/device.py
  auto_round/utils/device_manager.py
  test/helpers.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix gguf error
  auto_round/formats.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml
