Repository intel/auto-round: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Path conditions:
  .azure-pipelines/code-scan.yml: any of: auto_round, auto_round_extension, setup.py, requirements.txt, requirements-cpu.txt, requirements-hpu.txt, .azure-pipelines/code-scan.yml, .azure-pipelines/scripts/codeScan
  .azure-pipelines/compatibility-test.yml: any of: auto_round, auto_round_extension, setup.py, setup.cfg, requirements.txt, requirements-cpu.txt, .azure-pipelines/compatibility-test.yml, but not: *.md, **/*.md
  .azure-pipelines/unit-test-hpu.yml: any of: auto_round, test/test*hpu*', setup.py, requirements-lib.txt, .azure-pipelines/scripts/ut, .azure-pipelines/template/docker-template.yml, .azure-pipelines/template/ut-template.yml, but not: auto_round/export/export_to_autogptq, auto_round/export/export_to_awq, *.md, **/*.md
  .azure-pipelines/unit-test-xpu.yml: any of: auto_round/utils, auto_round_extension/ark, test/test_ark, setup.py, .azure-pipelines/template/ut-template.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/scripts/ut/run_ut_xpu.sh, but not: *.md, **/*.md
  .azure-pipelines/unit-test.yml: any of: auto_round, auto_round_extension, test, setup.py, requirements.txt, requirements-cpu.txt, .azure-pipelines/scripts/ut, .azure-pipelines/unit-test.yml, .azure-pipelines/template/ut-template.yml, .azure-pipelines/template/docker-template.yml, but not: test/test*hpu*, *.md, **/*.md

Disable replace `FP8Expert` (#1379)
  auto_round/experimental/qmodules/fp4_utils.py
  auto_round/modeling/__init__.py
  auto_round/modeling/fp8_quant.py
  auto_round/utils/common.py
  auto_round/utils/device.py
  auto_round/utils/model.py
  test/test_cuda/models/test_fp8_model.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

refine test case
  test/test_cpu/core/test_low_cpu_mem_options.py
  test/test_cuda/advanced/test_cpu_ram_optimization.py
Due: .azure-pipelines/unit-test.yml

Support general MOE replacement for MOE models (Transformers 5.0 compatible) (#1374)
  auto_round/experimental/qmodules/nvfp4.py
  auto_round/export/export_to_autoround/export_to_nvfp_mxfp.py
  auto_round/export/utils.py
  auto_round/modeling/fused_moe/__init__.py
  auto_round/modeling/fused_moe/moe_experts_interface.py
  auto_round/modeling/fused_moe/replace_modules.py
  auto_round/utils/model.py
  auto_round/wrapper.py
  test/test_cpu/quantization/test_mxfp_nvfp.py
  test/test_cuda/models/test_moe_experts_interface.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fixtypo
  auto_round/export/export_to_autoround/export_to_nvfp_mxfp.py
  auto_round/export/export_to_llmcompressor/export_to_fp.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

skip ngram embedding
  auto_round/utils/model.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Detach scale tensor to prevent holding computation graph references in attention and kv_cache modules
  auto_round/experimental/attention.py
  auto_round/experimental/kv_cache.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix CI
  auto_round/utils/weight_handler.py
  test/test_cpu/advanced/test_low_precision_input_model.py
  test/test_cpu/core/test_autoround.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

tmp fix
  auto_round/compressors/base.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix cuda ut fail (#1370)
  auto_round/compressors/base.py
  test/test_cuda/models/test_get_block_name.py
  test/test_cuda/models/test_support_vlms.py
  test/test_cuda/models/test_vlms.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

[Regression] Detach scale tensor to prevent holding computation graph references (#1389)
  auto_round/experimental/attention.py
  auto_round/experimental/kv_cache.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

Refactor weight type assertions to use type checks instead of isinstance for clarity
  auto_round/utils/weight_handler.py
  test/test_cpu/advanced/test_low_precision_input_model.py
  test/test_cuda/advanced/test_fp8_input.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix layer config (#1373)
  auto_round/compressors/base.py
  auto_round/export/export_to_autoround/export_to_nvfp_mxfp.py
  auto_round/export/export_to_llmcompressor/export_to_fp.py
  auto_round/schemes.py
  auto_round/utils/model.py
  test/test_cpu/schemes/test_scheme.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix layer config (#1373)
  auto_round/compressors/base.py
  auto_round/export/export_to_autoround/export_to_nvfp_mxfp.py
  auto_round/export/export_to_llmcompressor/export_to_fp.py
  auto_round/schemes.py
  auto_round/utils/device.py
  auto_round/utils/model.py
  test/test_cpu/core/test_low_cpu_mem_options.py
  test/test_cpu/schemes/test_scheme.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Implement MXFP4Handler MXFP8Handler NVFP4Handler (#1385)
  auto_round/utils/weight_handler.py
  test/fixtures.py
  test/test_cpu/advanced/test_low_precision_input_model.py
  test/test_cpu/core/test_autoround.py
  test/test_cuda/advanced/test_fp8_input.py
  test/test_cuda/quantization/test_mxfp_nvfp.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

update code for comments
  auto_round/compressors/base.py
  auto_round/utils/device.py
  auto_round/utils/model.py
  test/test_cpu/core/test_low_cpu_mem_options.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Fix bug in mxfp.py where--disable_act_dynamic can't be call correctly
  auto_round/data_type/mxfp.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

Update mxfp.py
  auto_round/data_type/mxfp.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

Fix version
  .azure-pipelines/scripts/ut/run_ut_cuda.sh
  README.md
  README_CN.md
Due: .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

support user model evaluation with multi devices
  auto_round/auto_scheme/utils.py
  auto_round/compressors/base.py
  auto_round/eval/evaluation.py
  auto_round/utils/device.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

revert changes
  README.md
  auto_round/utils/device.py
  test/test_cpu/schemes/test_scheme.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

use special dockerfile for xpu test
  .azure-pipelines/docker/Dockerfile.devel
  .azure-pipelines/docker/Dockerfile.xpu
Due: none

update license template
  .azure-pipelines/license_template.txt
Due: none

fix
  auto_round/compressors/base.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix meta device issue
  auto_round/formats.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

align scale for kv
  auto_round_extension/vllm_ext/auto_round_ext.py
  auto_round_extension/vllm_ext/kv_cache.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test.yml

fix
  auto_round/eval/eval_cli.py
  auto_round/eval/evaluation.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix
  auto_round/eval/eval_cli.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix
  auto_round/eval/eval_cli.py
  auto_round/utils/device.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Fix version (#1393)
  .azure-pipelines/scripts/ut/run_ut_cuda.sh
  README.md
  README_CN.md
Due: .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

support gpt-oss mxfp4 directly loading
  auto_round/utils/model.py
  test/test_cpu/models/test_moe_model.py
  test/test_cuda/models/test_moe_model.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix cuda ut fail and eval_task_by_task parallel
  auto_round/eval/eval_cli.py
  auto_round/export/export_to_gguf/convert.py
  auto_round/inference/convert_model.py
  auto_round/utils/device.py
  auto_round/utils/weight_handler.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix
  auto_round/utils/device.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml
