Repository intel/auto-round: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

Path conditions:
  .azure-pipelines/code-scan.yml: any of: auto_round, setup.py, requirements.txt, .azure-pipelines/code-scan.yml, .azure-pipelines/scripts/codeScan
  .azure-pipelines/unit-test-hpu.yml: any of: auto_round, test/test*hpu*', setup.py, requirements-lib.txt, .azure-pipelines/scripts/ut, .azure-pipelines/template/docker-template.yml, .azure-pipelines/template/ut-template.yml, but not: auto_round/export/export_to_autogptq, auto_round/export/export_to_awq, *.md, **/*.md
  .azure-pipelines/unit-test.yml: any of: auto_round, auto_round_extension, test, setup.py, requirements.txt, requirements-cpu.txt, .azure-pipelines/scripts/ut, .azure-pipelines/unit-test.yml, .azure-pipelines/template/ut-template.yml, .azure-pipelines/template/docker-template.yml, but not: test/test*hpu*, *.md, **/*.md

remove numba
  requirements.txt
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test.yml

add for test
  test/test_cpu/requirements.txt
  test/test_cuda/requirements.txt
Due: .azure-pipelines/unit-test.yml

enable hf loading for regex, add UTs
  auto_round/compressors/base.py
  auto_round/export/export_to_autogptq/export.py
  auto_round/export/export_to_autoround/export.py
  auto_round/export/export_to_autoround/export_to_nvfp_mxfp.py
  auto_round/export/export_to_awq/export.py
  auto_round/export/export_to_llmcompressor/utils.py
  auto_round/inference/convert_model.py
  auto_round/inference/utils.py
  test/test_cpu/test_mix_bits.py
  test/test_cuda/test_mix_bits.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

upgrade python version
  setup.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix pre-ci
  auto_round/export/export_to_itrex/bit_packer.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix merge and clean base __init__
  auto_round/compressors/base.py
  auto_round/utils.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

refact formats
  auto_round/formats.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

extend mxfp data types
  test/test_cpu/test_mxfp_save_load.py
Due: .azure-pipelines/unit-test.yml

block dataset logger info
  auto_round/calib_dataset.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

remove numba from requirments (#905)
  auto_round/export/export_to_itrex/bit_packer.py
  requirements.txt
  setup.py
  test/test_cpu/requirements.txt
  test/test_cuda/requirements.txt
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix torch compile issue in AutoScheme
  README.md
  auto_round/auto_scheme/default_alg.abi3.so
  auto_round/compressors/base.py
  docs/step_by_step.md
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

Loosen the packing restrictions for mxfp&nvfp, enable Qwen1.5-MoE-A2.7B quantize
  auto_round/export/export_to_autoround/qlinear_fp.py
  auto_round/inference/backend.py
  test/test_cpu/test_export.py
  test/test_cpu/test_mxfp_nvfp.py
  test/test_cuda/test_export.py
  test/test_cuda/test_mxfp_nvfp.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

update
  auto_round/auto_scheme/default_alg.abi3.so
  auto_round/auto_scheme/gen_auto_scheme.py
  auto_round/schemes.py
  docs/step_by_step.md
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix UT
  test/test_cpu/test_mxfp_nvfp.py
Due: .azure-pipelines/unit-test.yml

Extend mxfp loading dtypes (#907)
  auto_round/inference/backend.py
  auto_round/testing_utils.py
  test/test_cpu/test_mxfp_save_load.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

block dataset logger info (#908)
  auto_round/calib_dataset.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix torch compile issue in AutoScheme (#909)
  README.md
  auto_round/auto_scheme/default_alg.abi3.so
  auto_round/auto_scheme/gen_auto_scheme.py
  auto_round/compressors/base.py
  auto_round/schemes.py
  docs/step_by_step.md
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

update
  auto_round/compressors/base.py
  docs/step_by_step.md
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

Revert "Extend mxfp loading dtypes (#907)"
  auto_round/inference/backend.py
  auto_round/testing_utils.py
  test/test_cpu/test_mxfp_save_load.py
  test/test_cuda/test_mxfp_and_nvfp_quant.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

Revert "Extend mxfp loading dtypes (#907)" (#915)
  auto_round/inference/backend.py
  auto_round/testing_utils.py
  test/test_cpu/test_mxfp_save_load.py
  test/test_cuda/test_mxfp_and_nvfp_quant.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

Add compatibility test pipeline and update unit test configurations
  .azure-pipelines/compatibility-test.yml
  .azure-pipelines/scripts/ut/run_ut.sh
  .azure-pipelines/template/ut-template.yml
  .azure-pipelines/unit-test.yml
Due: .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix config check
  test/test_cpu/test_mxfp_save_load.py
Due: .azure-pipelines/unit-test.yml

fix env
  .azure-pipelines/compatibility-test.yml
Due: none

add stages
  .azure-pipelines/compatibility-test.yml
Due: none

fix name
  .azure-pipelines/compatibility-test.yml
Due: none

add numba for cpu lib
  requirements-cpu.txt
Due: .azure-pipelines/unit-test.yml

fix parts
  .azure-pipelines/scripts/ut/run_ut.sh
  .azure-pipelines/unit-test.yml
Due: .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

remove numpy<2.0 limitation
  requirements-lib.txt
  requirements.txt
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

refine code
  auto_round/compressors/base.py
  auto_round/data_type/gguf.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

refine extra_config saving, add UTs
  auto_round/export/export_to_autoround/export.py
  auto_round/export/export_to_autoround/export_to_fp8.py
  auto_round/export/export_to_autoround/export_to_nvfp_mxfp.py
  auto_round/export/export_to_autoround/utils.py
  test/test_cpu/test_act_quantization.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix ut typo
  test/test_cpu/test_act_quantization.py
Due: .azure-pipelines/unit-test.yml

support disable_opt_rtn in auto-scheme
  auto_round/auto_scheme/default_alg.abi3.so
  auto_round/auto_scheme/gen_auto_scheme.py
  auto_round/schemes.py
  docs/step_by_step.md
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix bug
  auto_round/auto_scheme/default_alg.abi3.so
  auto_round/data_type/gguf.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

refine mxfp&nvfp layer checker
  auto_round/export/export_to_autoround/qlinear_fp.py
  auto_round/inference/backend.py
  auto_round/utils.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix pylint
  auto_round/utils.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fixtypo
  auto_round/export/export_to_autoround/utils.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

support disable_opt_rtn in auto-scheme (#913)
  auto_round/auto_scheme/default_alg.abi3.so
  auto_round/auto_scheme/gen_auto_scheme.py
  auto_round/compressors/base.py
  auto_round/data_type/gguf.py
  auto_round/schemes.py
  docs/step_by_step.md
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix
  auto_round/calib_dataset.py
  auto_round/utils.py
  test/test_cpu/test_gguf_format.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml
