Repository intel/auto-round: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

Path conditions:
  .azure-pipelines/code-scan.yml: any of: auto_round, setup.py, requirements.txt, .azure-pipelines/code-scan.yml, .azure-pipelines/scripts/codeScan
  .azure-pipelines/unit-test-hpu.yml: any of: auto_round, test/test*hpu*', setup.py, requirements-lib.txt, .azure-pipelines/scripts/ut, .azure-pipelines/template/docker-template.yml, .azure-pipelines/template/ut-template.yml, but not: auto_round/export/export_to_autogptq, auto_round/export/export_to_awq, *.md, **/*.md
  .azure-pipelines/unit-test.yml: any of: auto_round, auto_round_extension, test, setup.py, requirements.txt, requirements-cpu.txt, .azure-pipelines/scripts/ut, .azure-pipelines/unit-test.yml, .azure-pipelines/template/ut-template.yml, .azure-pipelines/template/docker-template.yml, but not: test/test*hpu*, *.md, **/*.md

clean warning
  auto_round/wrapper.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix ut
  test/test_cpu/test_act_quantization.py
  test/test_cpu/test_export.py
Due: .azure-pipelines/unit-test.yml

fix
  auto_round/autoround.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

code scan
  auto_round/eval/evaluation.py
  auto_round/script/llm.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

update
  auto_round/__main__.py
  auto_round/export/export_to_autogptq/export.py
  auto_round/export/export_to_autoround/export.py
  auto_round/export/export_to_awq/export.py
  auto_round/export/export_to_gguf/export.py
  auto_round/export/export_to_itrex/export.py
  auto_round/export/export_to_llmcompressor/export.py
  auto_round/mllm/autoround_mllm.py
  auto_round/mllm/processor.py
  auto_round/mllm/template.py
  auto_round/script/llm.py
  auto_round/special_model_handler.py
  auto_round/utils.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

add moe experts act_max autocomplete
  auto_round/autoround.py
  auto_round/export/__init__.py
  auto_round/export/export_to_fp/config.py
  auto_round/export/export_to_fp/export.py
  auto_round/wrapper.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

clean
  auto_round/__main__.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix typo, add llm-compressor config
  auto_round/export/export_to_fp/export.py
  auto_round/export/export_to_fp/qlinear_fp.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fixtypo
  auto_round/export/export_to_fp/config.py
  auto_round/export/export_to_fp/export.py
  auto_round/utils.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix and add ut
  README.md
  auto_round/autoround.py
  auto_round/eval/evaluation.py
  auto_round/script/llm.py
  auto_round/utils.py
  requirements.txt
  test/test_cpu/test_autoround.py
  test/test_cuda/test_fp8_input.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix
  test/test_cpu/test_act_quantization.py
Due: .azure-pipelines/unit-test.yml

refine
  auto_round/autoround.py
  auto_round/eval/evaluation.py
  auto_round/script/llm.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix preci issue
  auto_round/script/llm.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix ut
  test/test_cpu/test_autoround.py
Due: .azure-pipelines/unit-test.yml

support fp8 model and str as input in llm quantization (#699)
  README.md
  auto_round/autoround.py
  auto_round/eval/evaluation.py
  auto_round/script/llm.py
  auto_round/utils.py
  requirements.txt
  test/test_cpu/test_autoround.py
  test/test_cuda/test_fp8_input.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

change act_scale to input_scale for fp8 export (#711)
  auto_round/export/export_to_autoround/export_to_fp8_woq.py
  auto_round/wrapper.py
  test/test_cpu/test_export.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

simply CpuInfo class
  auto_round/eval/evaluation.py
  auto_round/mllm/eval.py
  auto_round/script/llm.py
  auto_round/utils.py
  docs/step_by_step.md
  test/test_cuda/test_auto_round_format.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

comment ut
  test/test_cpu/test_autoround.py
Due: .azure-pipelines/unit-test.yml

simply CpuInfo class (#715)
  auto_round/eval/evaluation.py
  auto_round/mllm/eval.py
  auto_round/script/llm.py
  auto_round/utils.py
  docs/step_by_step.md
  test/test_cpu/test_autoround.py
  test/test_cuda/test_auto_round_format.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

code scan
  auto_round/mllm/processor.py
  auto_round/utils.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix act_max moe issue for nvfp
  auto_round/autoround.py
  auto_round/wrapper.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

Update step_by_step.md
  docs/step_by_step.md
Due: none

Update step_by_step.md (#717)
  docs/step_by_step.md
Due: none

fix bug of activation quant when act_max is None
  auto_round/wrapper.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix bug of activation quant when act_max is None (#718)
  auto_round/wrapper.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix moe static act_quant issue
  auto_round/autoround.py
  auto_round/data_type/nvfp.py
  auto_round/export/export_to_fp/export.py
  auto_round/utils.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

Update requirements.txt
  test/test_cuda/requirements.txt
Due: .azure-pipelines/unit-test.yml

Freeze torchvision version in CI
  .azure-pipelines/template/ut-template.yml
Due: .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

Freeze torchvision version in CI (#720)
  .azure-pipelines/template/ut-template.yml
Due: .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

update convert.py and support for gpt-oss
  auto_round/autoround.py
  auto_round/export/export_to_gguf/convert.py
  auto_round/export/export_to_gguf/export.py
  auto_round/export/export_to_gguf/special_handle.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

clean
  auto_round/autoround.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

auto download convert file from github
  auto_round/autoround.py
  auto_round/export/export_to_gguf/convert.py
  auto_round/export/export_to_gguf/export.py
  auto_round/export/export_to_gguf/special_handle.py
  auto_round/utils.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

update
  .gitignore
  auto_round/autoround.py
  q2_k_s_sensitive.sh
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

load static w8a8
  ds/load_w8a8.py
  ds/patch_for_ds.py
  ds/quant.py
Due: none

format
  auto_round/script/llm.py
  ds/load_w8a8.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

add cmd
  ds/load_w8a8.py
Due: none

check if need redownload dependency file
  auto_round/autoround.py
  auto_round/export/export_to_gguf/convert.py
  auto_round/export/export_to_gguf/export.py
  auto_round/export/export_to_gguf/special_handle.py
  auto_round/utils.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

Update auto_round/export/export_to_llmcompressor/export.py
  auto_round/export/export_to_llmcompressor/export.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

Update auto_round/export/export_to_awq/export.py
  auto_round/export/export_to_awq/export.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test.yml

Update auto_round/export/export_to_autoround/export.py
  auto_round/export/export_to_autoround/export.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml
