Repository intel/auto-round: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

.azure-pipelines/code-scan.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: BanditCodeScan
    displayName: Bandit Code Scan
    dependsOn: []
    jobs:
    - job: Bandit
      displayName: Bandit
      steps:
      - template: template/code-scan-template.yml
        parameters:
          codeScanFileName: bandit
          uploadPath: bandit.log
  ...

.azure-pipelines/compatibility-test.yml:
  stages:
  - stage: null
    displayName: Compatibility Test
    dependsOn: []
    jobs:
    - job: null
      timeoutInMinutes: 20
      strategy:
        matrix:
          Python310_Linux:
            python_version: '3.10'
            vmImage: ubuntu-latest
          Python311_Linux:
            python_version: '3.11'
  ...

.azure-pipelines/unit-test-hpu.yml:
  pool: GAUDI
  stages:
  - stage: Unit_test
    displayName: Unit Test
    dependsOn: []
    jobs:
    - job: null
      displayName: Unit Test
      steps:
      - template: template/ut-template.yml
        parameters:
          imageSource: pull
          dockerConfigName: commonDockerConfig
  ...

.azure-pipelines/unit-test-xpu.yml:
  pool: B60
  stages:
  - stage: Unit_test
    displayName: Unit Test
    dependsOn: []
    jobs:
    - job: null
      displayName: Unit Test
      steps:
      - template: template/ut-template.yml
        parameters:
          dockerConfigName: commonDockerConfig
          utScriptFileName: run_ut_xpu
  ...

.azure-pipelines/unit-test.yml:
  pool: ICX-16C
  stages:
  - stage: Unit_test
    displayName: Unit Test
    dependsOn: []
    jobs:
    - job: null
      timeoutInMinutes: 120
      strategy:
        matrix:
          part1:
            PART: 1
          part2:
            PART: 2
          part3:
            PART: 3
          part4:
            PART: 4
  ...

relocate awq
  auto_round/algorithms/base.py
  auto_round/algorithms/quantization/__init__.py
  auto_round/algorithms/quantization/base.py
  auto_round/algorithms/quantization/pipeline.py
  auto_round/algorithms/quantization/registry.py
  auto_round/algorithms/transforms/__init__.py
  auto_round/algorithms/transforms/awq/__init__.py
  auto_round/algorithms/transforms/awq/config.py
  auto_round/algorithms/transforms/awq/mappings.py
  auto_round/algorithms/transforms/awq/quantizer.py
  auto_round/algorithms/transforms/base.py
  auto_round/cli/algorithms.py
  auto_round/compressors/data_driven.py
  auto_round/compressors/entry.py
  auto_round/compressors/zero_shot.py
  test/test_cpu/algorithms/test_awq.py
  test/test_cpu/core/test_awq_autoround_smoke.py
  test/test_cpu/core/test_pipeline_fail_fast.py
  test/test_cuda/algorithms/test_awq.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix sdpa bug; add pv s8 per 1d block
  auto_round_extension/ark/auto_round_kernel/__init__.py
  auto_round_extension/ark/auto_round_kernel/wrapper/include/stla/xe_sage_fwd_kernel.hpp
  auto_round_extension/ark/auto_round_kernel/wrapper/include/stla/xe_sagev1_fwd_mainloop.hpp
  auto_round_extension/ark/auto_round_kernel/wrapper/include/stla/xe_sdpa_fwd_mainloop.hpp
  auto_round_extension/ark/auto_round_kernel/wrapper/include/xpu_wrapper.hpp
  auto_round_extension/ark/auto_round_kernel/wrapper/test/test_sdpa.hpp
  auto_round_extension/ark/test/test_sage_dynquant.py
  auto_round_extension/ark/test/test_sdpa_parity.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-xpu.yml

fix: preserve FP8 llmc metadata for mxfp8 (#1861)
  auto_round/export/export_to_llmcompressor/export_to_fp.py
  test/test_cpu/export/test_llmc_format.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Fix predefined ignore-layer filtering for special models
  auto_round/compressors/base.py
  test/test_cpu/utils/test_utils.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix precommit
  auto_round_extension/ark/auto_round_kernel/__init__.py
  auto_round_extension/ark/test/test_moe.py
  auto_round_extension/ark/test/test_moe_decode_perf.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-xpu.yml

Fix SDPA bug (#1862)
  auto_round_extension/ark/auto_round_kernel/__init__.py
  auto_round_extension/ark/auto_round_kernel/wrapper/include/stla/xe_sage_fwd_kernel.hpp
  auto_round_extension/ark/auto_round_kernel/wrapper/include/stla/xe_sagev1_fwd_mainloop.hpp
  auto_round_extension/ark/auto_round_kernel/wrapper/include/stla/xe_sdpa_fwd_mainloop.hpp
  auto_round_extension/ark/auto_round_kernel/wrapper/include/xpu_wrapper.hpp
  auto_round_extension/ark/auto_round_kernel/wrapper/test/test_sdpa.hpp
  auto_round_extension/ark/test/test_sage_dynquant.py
  auto_round_extension/ark/test/test_sdpa_parity.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-xpu.yml

refactor: enhance model evaluation and command tests
  auto_round/compressors/utils.py
  auto_round/eval/evaluation.py
  test/test_cpu/utils/test_cli_usage.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Fix special-model predefined ignore layer filtering (#1863)
  auto_round/compressors/base.py
  test/test_cpu/utils/test_utils.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Fix packing format in quantization config and update variable assignment in tests (#1857)
  auto_round/compressors/entry.py
  auto_round/compressors/model_free.py
  auto_round/compressors/utils.py
  auto_round/eval/evaluation.py
  auto_round/utils/model.py
  test/test_cpu/quantization/test_model_free_parity.py
  test/test_cpu/utils/test_cli_usage.py
  test/test_cuda/export/test_auto_round_format.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

feat: add MXFP4/MXFP8 quantization support and related tests
  auto_round/compressors/model_free.py
  test/test_cpu/quantization/test_model_free.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

update document
  auto_round/compressors/model_free.py
  docs/step_by_step.md
  docs/step_by_step_CN.md
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

refactor scheme and entry
  auto_round/__init__.py
  auto_round/algorithms/base.py
  auto_round/algorithms/quantization/adam_round/adam.py
  auto_round/algorithms/quantization/base.py
  auto_round/algorithms/quantization/config.py
  auto_round/algorithms/quantization/pipeline.py
  auto_round/algorithms/transforms/awq/quantizer.py
  auto_round/auto_scheme/delta_loss.py
  auto_round/auto_scheme/gen_auto_scheme.py
  auto_round/auto_scheme/utils.py
  auto_round/autoround.py
  auto_round/cli/main.py
  auto_round/compressors/base.py
  auto_round/compressors/data_driven.py
  auto_round/compressors/entry.py
  auto_round/compressors/model_free.py
  auto_round/compressors/utils.py
  auto_round/context/__init__.py
  auto_round/context/scheme.py
  auto_round/experimental/qmodules/mx.py
  auto_round/experimental/qmodules/nvfp4.py
  auto_round/export/export_to_autogptq/export.py
  auto_round/export/export_to_autoround/export.py
  auto_round/export/export_to_autoround/export_to_fp8.py
  auto_round/export/export_to_autoround/export_to_nvfp_mx.py
  auto_round/export/export_to_autoround/utils.py
  auto_round/formats.py
  auto_round/inference/backend.py
  auto_round/inference/convert_model.py
  auto_round/utils/model.py
  auto_round/utils/weight_handler.py
  auto_round_extension/vllm_ext/auto_round_ext.py
  auto_round_extension/vllm_ext/quant_method_linear.py
  auto_round_extension/vllm_ext/quant_method_moe.py
  auto_round_extension/vllm_ext/utils.py
  test/test_cpu/core/test_pipeline_fail_fast.py
  test/test_cpu/quantization/test_model_free.py
  test/test_cpu/quantization/test_mx_quant_linear.py
  test/test_cpu/quantization/test_nvfp4_quant_linear.py
  test/test_cpu/schemes/test_scheme.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

gguf format support for mtp quantization
  auto_round/compressors/utils.py
  auto_round/export/export_to_gguf/convert.py
  auto_round/export/export_to_gguf/gguf_dtype.py
  test/test_cpu/export/test_gguf_mtp_dtype.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

update
  auto_round/data_type/utils.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

update
  auto_round/compressors/entry.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

modify by comments
  AGENTS.md
  auto_round/algorithms/alg_config.py
  auto_round/algorithms/base.py
  auto_round/algorithms/quantization/__init__.py
  auto_round/algorithms/quantization/adam_round/adam.py
  auto_round/algorithms/quantization/base.py
  auto_round/algorithms/quantization/config.py
  auto_round/algorithms/quantization/pipeline.py
  auto_round/algorithms/quantization/registry.py
  auto_round/algorithms/quantization/rtn/config.py
  auto_round/algorithms/quantization/rtn/quantizer.py
  auto_round/algorithms/quantization/sign_round/config.py
  auto_round/algorithms/quantization/sign_round/quantizer.py
  auto_round/algorithms/quantization/sign_roundv2/quantizer.py
  auto_round/algorithms/registry.py
  auto_round/algorithms/transforms/awq/config.py
  auto_round/algorithms/transforms/awq/quantizer.py
  auto_round/autoround.py
  auto_round/cli/algorithms.py
  auto_round/compressors/base.py
  auto_round/compressors/data_driven.py
  auto_round/compressors/entry.py
  auto_round/compressors/mllm_mixin.py
  auto_round/compressors/zero_shot.py
  auto_round/wrapper.py
  test/test_cpu/core/test_pipeline_fail_fast.py
  test/test_cpu/export/test_gguf_format.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Fix unsupported dtype (#1868)
  auto_round/compressors/entry.py
  auto_round/data_type/utils.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix ut
  auto_round/algorithms/base.py
  auto_round/algorithms/pipeline.py
  auto_round/algorithms/quantization/__init__.py
  auto_round/algorithms/quantization/base.py
  auto_round/algorithms/transforms/awq/quantizer.py
  auto_round/compressors/base.py
  auto_round/compressors/data_driven.py
  auto_round/compressors/entry.py
  auto_round/compressors/zero_shot.py
  test/test_cpu/core/test_pipeline_fail_fast.py
  test/test_cpu/models/test_audio_model.py
  test/test_cpu/quantization/test_model_free.py
  test/test_cpu/quantization/test_mxfp_save_load.py
  test/test_cpu/utils/test_cli_usage.py
  test/test_cuda/models/test_audio_model.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix ut
  auto_round/compressors/utils.py
  auto_round/export/export_to_gguf/gguf_dtype.py
  test/test_cpu/export/test_gguf_mtp_dtype.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix
  auto_round/__init__.py
  auto_round/algorithms/base.py
  auto_round/algorithms/pipeline.py
  auto_round/algorithms/quantization/adam_round/adam.py
  auto_round/algorithms/quantization/config.py
  auto_round/auto_scheme/delta_loss.py
  auto_round/auto_scheme/gen_auto_scheme.py
  auto_round/auto_scheme/utils.py
  auto_round/autoround.py
  auto_round/cli/algorithms.py
  auto_round/cli/main.py
  auto_round/compressors/base.py
  auto_round/compressors/entry.py
  auto_round/compressors/model_free.py
  auto_round/compressors/utils.py
  auto_round/context/__init__.py
  auto_round/experimental/qmodules/mx.py
  auto_round/experimental/qmodules/nvfp4.py
  auto_round/export/export_to_autogptq/export.py
  auto_round/export/export_to_autoround/export.py
  auto_round/export/export_to_autoround/export_to_fp8.py
  auto_round/export/export_to_autoround/export_to_nvfp_mx.py
  auto_round/export/export_to_autoround/utils.py
  auto_round/formats.py
  auto_round/inference/backend.py
  auto_round/inference/convert_model.py
  auto_round/schemes.py
  auto_round/utils/model.py
  auto_round/utils/weight_handler.py
  auto_round_extension/vllm_ext/auto_round_ext.py
  auto_round_extension/vllm_ext/quant_method_linear.py
  auto_round_extension/vllm_ext/quant_method_moe.py
  auto_round_extension/vllm_ext/utils.py
  test/test_cpu/quantization/test_model_free.py
  test/test_cpu/quantization/test_mx_quant_linear.py
  test/test_cpu/quantization/test_mxfp_save_load.py
  test/test_cpu/quantization/test_nvfp4_quant_linear.py
  test/test_cpu/schemes/test_scheme.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Adjust requirements for compressed_tensors
  .azure-pipelines/docker/Dockerfile.devel
  .azure-pipelines/docker/Dockerfile_xpu.devel
  test/test_hpu/requirements.txt
Due: none

update gguf export
  auto_round/compressors/utils.py
  auto_round/export/export_to_gguf/convert.py
  auto_round/export/export_to_gguf/gguf_dtype.py
  test/test_cpu/export/test_gguf_mtp_dtype.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Fix torch and torchvision versions in Dockerfile and remove unnecessary requirements installation in performance test setup
  .azure-pipelines/docker/Dockerfile_xpu.devel
  .azure-pipelines/performance-test.yaml
Due: none

Add "Segmentation fault" to failure markers in LogAnalyzer
  .azure-pipelines/scripts/ut/collect_result.py
Due: .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

Fix HPU CI (#1870)
  .azure-pipelines/docker/Dockerfile.devel
  .azure-pipelines/performance-test.yaml
  .azure-pipelines/scripts/ut/collect_result.py
  test/test_hpu/requirements.txt
Due: .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix ut
  test/test_cpu/export/test_gguf_mtp_dtype.py
Due: .azure-pipelines/unit-test.yml

add llmc api
  auto_round/compressors/base.py
  auto_round/compressors/data_driven.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Potential fix for pull request finding
  auto_round/compressors/model_free.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Path conditions:
  .azure-pipelines/code-scan.yml: any of: auto_round, auto_round_extension, setup.py, requirements.txt, requirements-cpu.txt, requirements-hpu.txt, .azure-pipelines/code-scan.yml, .azure-pipelines/scripts/codeScan
  .azure-pipelines/compatibility-test.yml: any of: auto_round, auto_round_extension, setup.py, setup.cfg, requirements.txt, requirements-cpu.txt, .azure-pipelines/compatibility-test.yml, but not: *.md, **/*.md
  .azure-pipelines/unit-test-hpu.yml: any of: auto_round, test/test*hpu*', setup.py, requirements-lib.txt, .azure-pipelines/scripts/ut, .azure-pipelines/template/docker-template.yml, .azure-pipelines/template/ut-template.yml, but not: auto_round/export/export_to_autogptq, auto_round/export/export_to_awq, *.md, **/*.md
  .azure-pipelines/unit-test-xpu.yml: any of: auto_round, auto_round_extension, test/test_ark, test/test_xpu, setup.py, .azure-pipelines/template/ut-template.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/scripts/ut/run_ut_xpu.sh, but not: *.md, **/*.md
  .azure-pipelines/unit-test.yml: any of: auto_round, auto_round_extension, test, setup.py, requirements.txt, requirements-cpu.txt, .azure-pipelines/scripts/ut, .azure-pipelines/unit-test.yml, .azure-pipelines/template/ut-template.yml, .azure-pipelines/template/docker-template.yml, but not: auto_round_extension/ark, test/test_hpu, test/test_ark, test/test_xpu, *.md, **/*.md, .azure-pipelines/scripts/ut/run_ut_hpu.sh, .azure-pipelines/scripts/ut/run_ut_cuda.sh, .azure-pipelines/scripts/ut/run_ut_xpu.sh
