Repository intel/auto-round: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

.azure-pipelines/code-scan.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: BanditCodeScan
    displayName: Bandit Code Scan
    dependsOn: []
    jobs:
    - job: Bandit
      displayName: Bandit
      steps:
      - template: template/code-scan-template.yml
        parameters:
          codeScanFileName: bandit
          uploadPath: bandit.log
  ...

.azure-pipelines/compatibility-test.yml:
  stages:
  - stage: null
    displayName: Compatibility Test
    dependsOn: []
    jobs:
    - job: null
      timeoutInMinutes: 20
      strategy:
        matrix:
          Python310_Linux:
            python_version: '3.10'
            vmImage: ubuntu-latest
          Python311_Linux:
            python_version: '3.11'
  ...

.azure-pipelines/unit-test-hpu.yml:
  pool: GAUDI
  stages:
  - stage: Unit_test
    displayName: Unit Test
    dependsOn: []
    jobs:
    - job: null
      displayName: Unit Test
      steps:
      - template: template/ut-template.yml
        parameters:
          imageSource: pull
          dockerConfigName: commonDockerConfig
  ...

.azure-pipelines/unit-test-xpu.yml:
  pool: B60
  stages:
  - stage: Unit_test
    displayName: Unit Test
    dependsOn: []
    jobs:
    - job: null
      displayName: Unit Test
      steps:
      - template: template/ut-template.yml
        parameters:
          dockerConfigName: commonDockerConfig
          utScriptFileName: run_ut_xpu
  ...

.azure-pipelines/unit-test.yml:
  pool: ICX-16C
  stages:
  - stage: Unit_test
    displayName: Unit Test
    dependsOn: []
    jobs:
    - job: null
      timeoutInMinutes: 120
      strategy:
        matrix:
          part1:
            PART: 1
          part2:
            PART: 2
          part3:
            PART: 3
          part4:
            PART: 4
  ...

temporary pin compressed-tensors version for llmcompressor (#1560)
  test/test_cpu/requirements.txt
  test/test_cuda/requirements_llmc.txt
Due: .azure-pipelines/unit-test.yml

fix timing for block processing in BaseCompressor
  auto_round/compressors/base.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Update compressed-tensors dependency to use the latest version from the main branch
  test/test_cpu/requirements.txt
  test/test_cuda/requirements_llmc.txt
Due: .azure-pipelines/unit-test.yml

fix CI
  test/fixtures.py
  test/helpers.py
  test/test_cuda/algorithms/test_alg_ext.py
  test/test_cuda/export/test_auto_awq_format.py
  test/test_cuda/export/test_gguf_format.py
  test/test_cuda/models/test_fp8_model.py
  test/test_cuda/models/test_mllm.py
Due: .azure-pipelines/unit-test.yml

fix qweight
  auto_round/compressors_new/calib.py
  auto_round/compressors_new/zero_shot.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix lm_head quantization failure
  auto_round/compressors/base.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

update test_cpu UT to cover
  test/test_cpu/core/test_autoround.py
Due: .azure-pipelines/unit-test.yml

fix gguf CI
  test/test_cpu/export/test_gguf_format.py
Due: .azure-pipelines/unit-test.yml

add rtn quant func
  auto_round/auto_scheme/delta_loss.py
  auto_round/compressors/base.py
  auto_round/data_type/fp8.py
  auto_round/data_type/gguf.py
  auto_round/data_type/int.py
  auto_round/data_type/mxfp.py
  auto_round/data_type/nvfp.py
  auto_round/data_type/utils.py
  auto_round/data_type/w4fp8.py
  auto_round/wrapper.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Update fp8.py
  auto_round/data_type/fp8.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Update int.py
  auto_round/data_type/int.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Update mxfp.py
  auto_round/data_type/mxfp.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Update w4fp8.py
  auto_round/data_type/w4fp8.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Update nvfp.py
  auto_round/data_type/nvfp.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Update packing.py
  auto_round/export/export_to_gguf/packing.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix CI
  auto_round/data_type/fp8.py
  auto_round/data_type/int.py
  auto_round/data_type/mxfp.py
  auto_round/data_type/nvfp.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Add per-WrapperLinear activation checkpointing for memory reduction
  auto_round/__main__.py
  auto_round/autoround.py
  auto_round/compressors/base.py
  auto_round/compressors/config.py
  auto_round/compressors/utils.py
  auto_round/wrapper.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

install compressed-tensor nightly for llmc
  .azure-pipelines/template/ut-template.yml
  test/test_cpu/requirements.txt
  test/test_cuda/requirements_llmc.txt
Due: .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

update hpu_fp8
  auto_round/data_type/fp8.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Add activation checkpointing benchmark scripts and findings
  tasks/act_cp/FINDINGS.md
  tasks/act_cp/README.md
  tasks/act_cp/benchmark_memory.py
  tasks/act_cp/diagnose_memory.py
  tasks/act_cp/micro_benchmark.py
  tasks/act_cp/micro_benchmark_v2.py
  tasks/act_cp/quant_model.py
  tasks/act_cp/verify_full_model.log
  tasks/act_cp/verify_full_model.py
Due: none

refine import
  auto_round/inference/backend.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

change awq backend priority, refine code
  auto_round/inference/backend.py
  auto_round/inference/convert_model.py
  test/envs.py
  test/test_cuda/backends/test_exllamav2_backend.py
  test/test_cuda/quantization/test_mix_bits.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

pin llmc commit
  .azure-pipelines/template/ut-template.yml
  test/test_cpu/requirements.txt
  test/test_cuda/requirements_llmc.txt
Due: .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

add env to control offload
  auto_round/envs.py
  auto_round/utils/offload.py
  docs/environments.md
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix check disk space issue
  auto_round/utils/offload.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Freeze compressed-tensors & llmc version temporary (#1562)
  test/test_cpu/requirements.txt
  test/test_cuda/requirements_llmc.txt
Due: .azure-pipelines/unit-test.yml

revert test_auto_cheme.py change
  test/test_cuda/algorithms/test_auto_scheme.py
Due: .azure-pipelines/unit-test.yml

Update Qwen Omni document
  auto_round/compressors/mllm/README.md
Due: .azure-pipelines/code-scan.yml

fix llmc test
  .azure-pipelines/scripts/cuda_unit_test/runpod_manager.py
  .azure-pipelines/scripts/ut/run_ut.sh
  test/test_cpu/requirements.txt
  test/test_cpu/requirements_llmc.txt
Due: .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix issue
  auto_round/special_model_handler.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

refine test
  .azure-pipelines/scripts/performance/perf_test.sh
Due: none

fix ut
  auto_round/data_type/fp8.py
  auto_round/data_type/int.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Revert "Freeze compressed-tensors & llmc version temporary (#1562)"
  test/test_cpu/requirements.txt
  test/test_cuda/requirements_llmc.txt
Due: .azure-pipelines/unit-test.yml

Path conditions:
  .azure-pipelines/code-scan.yml: any of: auto_round, auto_round_extension, setup.py, requirements.txt, requirements-cpu.txt, requirements-hpu.txt, .azure-pipelines/code-scan.yml, .azure-pipelines/scripts/codeScan
  .azure-pipelines/compatibility-test.yml: any of: auto_round, auto_round_extension, setup.py, setup.cfg, requirements.txt, requirements-cpu.txt, .azure-pipelines/compatibility-test.yml, but not: *.md, **/*.md
  .azure-pipelines/unit-test-hpu.yml: any of: auto_round, test/test*hpu*', setup.py, requirements-lib.txt, .azure-pipelines/scripts/ut, .azure-pipelines/template/docker-template.yml, .azure-pipelines/template/ut-template.yml, but not: auto_round/export/export_to_autogptq, auto_round/export/export_to_awq, *.md, **/*.md
  .azure-pipelines/unit-test-xpu.yml: any of: auto_round, auto_round_extension, test/test_ark, test/test_xpu, setup.py, .azure-pipelines/template/ut-template.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/scripts/ut/run_ut_xpu.sh, but not: *.md, **/*.md
  .azure-pipelines/unit-test.yml: any of: auto_round, auto_round_extension, test, setup.py, requirements.txt, requirements-cpu.txt, .azure-pipelines/scripts/ut, .azure-pipelines/unit-test.yml, .azure-pipelines/template/ut-template.yml, .azure-pipelines/template/docker-template.yml, but not: auto_round_extension/ark, test/test_hpu, test/test_ark, test/test_xpu, *.md, **/*.md, .azure-pipelines/scripts/ut/run_ut_hpu.sh, .azure-pipelines/scripts/ut/run_ut_cuda.sh, .azure-pipelines/scripts/ut/run_ut_xpu.sh
