Repository intel/auto-round: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

.azure-pipelines/code-scan.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: BanditCodeScan
    displayName: Bandit Code Scan
    dependsOn: []
    jobs:
    - job: Bandit
      displayName: Bandit
      steps:
      - template: template/code-scan-template.yml
        parameters:
          codeScanFileName: bandit
          uploadPath: bandit.log
  ...

.azure-pipelines/compatibility-test.yml:
  stages:
  - stage: null
    displayName: Compatibility Test
    dependsOn: []
    jobs:
    - job: null
      timeoutInMinutes: 20
      strategy:
        matrix:
          Python310_Linux:
            python_version: '3.10'
            vmImage: ubuntu-latest
          Python311_Linux:
            python_version: '3.11'
  ...

.azure-pipelines/unit-test-hpu.yml:
  pool: GAUDI
  stages:
  - stage: Unit_test
    displayName: Unit Test
    dependsOn: []
    jobs:
    - job: null
      displayName: Unit Test
      steps:
      - template: template/ut-template.yml
        parameters:
          imageSource: pull
          dockerConfigName: commonDockerConfig
  ...

.azure-pipelines/unit-test-xpu.yml:
  pool: B60
  stages:
  - stage: Unit_test
    displayName: Unit Test
    dependsOn: []
    jobs:
    - job: null
      displayName: Unit Test
      steps:
      - template: template/ut-template.yml
        parameters:
          dockerConfigName: commonDockerConfig
          utScriptFileName: run_ut_xpu
  ...

.azure-pipelines/unit-test.yml:
  pool: ICX-16C
  stages:
  - stage: Unit_test
    displayName: Unit Test
    dependsOn: []
    jobs:
    - job: null
      timeoutInMinutes: 120
      strategy:
        matrix:
          part1:
            PART: 1
          part2:
            PART: 2
          part3:
            PART: 3
          part4:
            PART: 4
  ...

test_needs_calibration_data_when_layer_config_overrides_to_nvfp4
  auto_round/compressors/base.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

to compatiable stable diffusion with unet
  auto_round/utils/model.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

feat: add compute_mx_v_scale function for per-element v step-scale in MXFP quantization
  auto_round/data_type/mxfp.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

[Experimental] Add NVFP4 E5M3 support and related components for model-free quantization (#2123)
  auto_round/compressors/model_free.py
  auto_round/data_type/nvfp.py
  auto_round/envs.py
  auto_round/experimental/qmodules/__init__.py
  auto_round/experimental/qmodules/fake.py
  auto_round/experimental/qmodules/nvfp4_e5m3.py
  auto_round/export/export_to_autoround/qlinear_fp.py
  auto_round/export/export_to_llmcompressor/config.py
  auto_round/export/export_to_llmcompressor/export_to_fp.py
  auto_round/export/formats/backends/autoround.py
  auto_round/export/formats/backends/fake.py
  auto_round/export/formats/backends/llm_compressor.py
  auto_round/export/formats/base.py
  auto_round/inference/backend.py
  auto_round/inference/convert_model.py
  auto_round/schemes.py
  auto_round/utils/common.py
  auto_round/utils/model.py
  auto_round/utils/model_free_utils.py
  auto_round_extension/cuda/cute_nvfp4_e5m3.py
  docs/environments.md
  docs/environments_CN.md
  docs/nvfp4_e5m3.md
  docs/nvfp4_e5m3_CN.md
  test/unit/test_cpu/core/test_format_decoupling.py
  test/unit/test_cpu/data_type/test_nvfp.py
  test/unit/test_cpu/export/test_fake_format.py
  test/unit/test_cpu/quantization/test_model_free.py
  test/unit/test_cpu/quantization/test_nvfp4_quant_linear.py
  test/unit/test_cpu/schemes/test_auto_scheme.py
  test/unit/test_cpu/utils/test_model_free_cross_shard.py
  test/unit/test_cuda/quantization/test_nvfp4_e5m3_cute.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

feat: add MoE expert module check for global scale updates in update_fused_layer_global_scales
  auto_round/data_type/utils.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Fix wan i2v pipeline (#2180)
  auto_round/calibration/diffusion.py
  test/unit/test_cpu/calibration/test_diffusion.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

add comment
  auto_round/utils/model.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix: reduce SYCL TLA compile memory
  auto_round_extension/ark/README.md
  auto_round_extension/ark/README_CN.md
  auto_round_extension/ark/auto_round_kernel/CMakeLists.txt
  auto_round_extension/ark/auto_round_kernel/ark.cpp
  auto_round_extension/ark/auto_round_kernel/sdpa.cpp
  auto_round_extension/ark/auto_round_kernel/sdpa_generation.cmake
  auto_round_extension/ark/auto_round_kernel/sdpa_kernel_instantiation.cpp.in
  auto_round_extension/ark/auto_round_kernel/sycl_tla_gemm.cpp.in
  auto_round_extension/ark/auto_round_kernel/sycl_tla_generation.cmake
  auto_round_extension/ark/auto_round_kernel/sycl_tla_moe.cpp.in
  auto_round_extension/ark/auto_round_kernel/wrapper/include/sycl_s8_wrapper.hpp
  auto_round_extension/ark/auto_round_kernel/wrapper/include/sycl_tla_common.hpp
  auto_round_extension/ark/auto_round_kernel/wrapper/include/sycl_tla_dense_gemm.hpp
  auto_round_extension/ark/auto_round_kernel/wrapper/include/sycl_tla_dense_gemm_helpers.hpp
  auto_round_extension/ark/auto_round_kernel/wrapper/include/sycl_tla_moe.hpp
  auto_round_extension/ark/auto_round_kernel/wrapper/include/sycl_tla_moe_decode.hpp
  auto_round_extension/ark/auto_round_kernel/wrapper/include/sycl_tla_moe_mixed.hpp
  auto_round_extension/ark/auto_round_kernel/wrapper/include/sycl_tla_moe_prefill_fp8_dpas.hpp
  auto_round_extension/ark/auto_round_kernel/wrapper/include/sycl_tla_moe_prefill_fp8_helpers.hpp
  auto_round_extension/ark/auto_round_kernel/wrapper/include/sycl_tla_moe_prefill_fp8_tensor_helpers.hpp
  auto_round_extension/ark/auto_round_kernel/wrapper/include/sycl_tla_moe_prefill_int8_helpers.hpp
  auto_round_extension/ark/auto_round_kernel/wrapper/include/sycl_tla_moe_prefill_int_dpas.hpp
  auto_round_extension/ark/auto_round_kernel/wrapper/include/sycl_tla_moe_prefill_int_tensor_helpers.hpp
  auto_round_extension/ark/auto_round_kernel/wrapper/include/sycl_tla_moe_prefill_s4_dpas.hpp
  auto_round_extension/ark/auto_round_kernel/wrapper/include/sycl_tla_moe_prefill_s4_helpers.hpp
  auto_round_extension/ark/auto_round_kernel/wrapper/include/sycl_tla_moe_prefill_upcast.hpp
  auto_round_extension/ark/auto_round_kernel/wrapper/include/sycl_tla_s8_gemm.hpp
  auto_round_extension/ark/auto_round_kernel/wrapper/include/sycl_tla_s8_gemm_fixed.hpp
  auto_round_extension/ark/auto_round_kernel/wrapper/include/sycl_tla_s8_gemm_helpers.hpp
  auto_round_extension/ark/auto_round_kernel/wrapper/include/sycl_tla_sdpa.hpp
  auto_round_extension/ark/auto_round_kernel/wrapper/include/xpu_wrapper.hpp
  auto_round_extension/ark/setup.py
  auto_round_extension/ark/tools/analyze_sycl_tla_templates.py
  auto_round_extension/ark/tools/measure_sycl_tla_compile_memory.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-xpu.yml

For compatibility with Stable Diffusion (#2191)
  auto_round/utils/model.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

opt common ut and reduce rt
  test/integration/test_cpu/test_inc_calib_dataset.py
  test/integration/test_cpu/test_inc_static_attn.py
  test/unit/common/quantization/test_model_free.py
  test/unit/common/quantization/test_mxfp_nvfp_llmc_export.py
  test/unit/common/schemes/test_auto_scheme.py
  test/unit/common/schemes/test_scheme.py
  test/unit/common/utils/test_cli_usage.py
  test/unit/test_cpu/algorithms/__init__.py
  test/unit/test_cpu/algorithms/test_awq.py
  test/unit/test_cpu/backends/__init__.py
  test/unit/test_cpu/backends/test_torch_backend.py
  test/unit/test_cuda/algorithms/test_awq.py
  test/unit/test_cuda/backends/test_torch_backend.py
  test/unit/test_xpu/algorithms/__init__.py
  test/unit/test_xpu/algorithms/test_awq.py
  test/unit/test_xpu/backends/__init__.py
  test/unit/test_xpu/backends/test_torch_backend.py
Due: .azure-pipelines/unit-test.yml

update
  auto_round_extension/ark/auto_round_kernel/CMakeLists.txt
  auto_round_extension/ark/auto_round_kernel/__init__.py
  auto_round_extension/ark/auto_round_kernel/ark.cpp
  auto_round_extension/ark/auto_round_kernel/sdpa.cpp
  auto_round_extension/ark/auto_round_kernel/sdpa_generation.cmake
  auto_round_extension/ark/auto_round_kernel/wrapper/include/stla/xe_sage_fwd_kernel.hpp
  auto_round_extension/ark/auto_round_kernel/wrapper/include/stla/xe_sagev1_fwd_mainloop.hpp
  auto_round_extension/ark/auto_round_kernel/wrapper/include/sycl_tla_common.hpp
  auto_round_extension/ark/auto_round_kernel/wrapper/include/sycl_tla_sdpa.hpp
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-xpu.yml

update
  docs/auto_scheme_acc.md
Due: none

feat: enhance global scale update logic to support mixed-scheme scenarios in update_block_global_scale_if_needed
  auto_round/data_type/utils.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix CI
  auto_round/modeling/fp8_quant.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

update readme
  README.md
  README_CN.md
Due: none

fix: match llm compressor schemes by full args
  auto_round/export/export_to_llmcompressor/export.py
  test/unit/test_cpu/export/test_llmc_signature.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

update readme (#2194)
  README.md
  README_CN.md
Due: none

fix xpu ut
  .azure-pipelines/scripts/ut/run_ut_xpu.sh
  test/unit/common/quantization/test_asym.py
Due: .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix typo
  docs/auto_scheme_acc.md
Due: none

Refactor unit test scripts and YAML configurations for improved test environment setup and execution
  .azure-pipelines/nightly-test-cpu.yml
  .azure-pipelines/scripts/cuda_unit_test/run_cuda_ut.sh
  .azure-pipelines/scripts/ut/run_ut.sh
  .azure-pipelines/scripts/ut/run_ut_xpu.sh
  .azure-pipelines/unit-test-cuda.yml
  .azure-pipelines/unit-test.yml
Due: .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Increase memory limits for the build process in the CI pipeline
  .azure-pipelines/template/lib-build-template.yml
Due: none

Increase memory limits for the build process in the CI pipeline (#2198)
  .azure-pipelines/template/lib-build-template.yml
Due: none

fix typos
  docs/auto_scheme_acc.md
Due: none

add svdquant news
  README.md
  README_CN.md
  docs/svdquant_details.md
  docs/svdquant_details_CN.md
Due: none

update
  .azure-pipelines/scripts/ut/run_ut.sh
  auto_round/compressors/model_free.py
  auto_round/special_model_handler.py
  test/fixtures.py
  test/unit/common/algorithms/test_rotation.py
  test/unit/common/core/test_init.py
  test/unit/common/eval/test_eval_cli.py
  test/unit/common/quantization/test_mix_bits.py
  test/unit/common/schemes/test_auto_scheme.py
  test/unit/test_cpu/algorithms/test_awq.py
  test/unit/test_cpu/backends/test_torch_backend.py
  test/unit/test_xpu/algorithms/test_awq.py
  test/unit/test_xpu/backends/test_torch_backend.py
  test/unit/test_xpu/test_autoround.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix: cap SYCL TLA wheel build concurrency
  .azure-pipelines/template/lib-build-template.yml
  auto_round_extension/ark/setup.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-xpu.yml

add print of system info
  auto_round_extension/ark/setup.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-xpu.yml

protect cpu sdpa UT
  auto_round_extension/ark/test/test_ark_cpu_mixed_bestla_sdpa.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-xpu.yml

print log
  auto_round_extension/ark/setup.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-xpu.yml

Reduce SYCL-TLA Compiler Memory (#2193)
  auto_round_extension/ark/README.md
  auto_round_extension/ark/README_CN.md
  auto_round_extension/ark/auto_round_kernel/CMakeLists.txt
  auto_round_extension/ark/auto_round_kernel/ark.cpp
  auto_round_extension/ark/auto_round_kernel/sdpa.cpp
  auto_round_extension/ark/auto_round_kernel/sdpa_generation.cmake
  auto_round_extension/ark/auto_round_kernel/sdpa_kernel_instantiation.cpp.in
  auto_round_extension/ark/auto_round_kernel/sycl_tla_gemm.cpp.in
  auto_round_extension/ark/auto_round_kernel/sycl_tla_generation.cmake
  auto_round_extension/ark/auto_round_kernel/sycl_tla_moe.cpp.in
  auto_round_extension/ark/auto_round_kernel/wrapper/include/sycl_s8_wrapper.hpp
  auto_round_extension/ark/auto_round_kernel/wrapper/include/sycl_tla_common.hpp
  auto_round_extension/ark/auto_round_kernel/wrapper/include/sycl_tla_dense_gemm.hpp
  auto_round_extension/ark/auto_round_kernel/wrapper/include/sycl_tla_dense_gemm_helpers.hpp
  auto_round_extension/ark/auto_round_kernel/wrapper/include/sycl_tla_moe.hpp
  auto_round_extension/ark/auto_round_kernel/wrapper/include/sycl_tla_moe_decode.hpp
  auto_round_extension/ark/auto_round_kernel/wrapper/include/sycl_tla_moe_mixed.hpp
  auto_round_extension/ark/auto_round_kernel/wrapper/include/sycl_tla_moe_prefill_fp8_dpas.hpp
  auto_round_extension/ark/auto_round_kernel/wrapper/include/sycl_tla_moe_prefill_fp8_helpers.hpp
  auto_round_extension/ark/auto_round_kernel/wrapper/include/sycl_tla_moe_prefill_fp8_tensor_helpers.hpp
  auto_round_extension/ark/auto_round_kernel/wrapper/include/sycl_tla_moe_prefill_int8_helpers.hpp
  auto_round_extension/ark/auto_round_kernel/wrapper/include/sycl_tla_moe_prefill_int_dpas.hpp
  auto_round_extension/ark/auto_round_kernel/wrapper/include/sycl_tla_moe_prefill_int_tensor_helpers.hpp
  auto_round_extension/ark/auto_round_kernel/wrapper/include/sycl_tla_moe_prefill_s4_dpas.hpp
  auto_round_extension/ark/auto_round_kernel/wrapper/include/sycl_tla_moe_prefill_s4_helpers.hpp
  auto_round_extension/ark/auto_round_kernel/wrapper/include/sycl_tla_moe_prefill_upcast.hpp
  auto_round_extension/ark/auto_round_kernel/wrapper/include/sycl_tla_s8_gemm.hpp
  auto_round_extension/ark/auto_round_kernel/wrapper/include/sycl_tla_s8_gemm_fixed.hpp
  auto_round_extension/ark/auto_round_kernel/wrapper/include/sycl_tla_s8_gemm_helpers.hpp
  auto_round_extension/ark/auto_round_kernel/wrapper/include/sycl_tla_sdpa.hpp
  auto_round_extension/ark/auto_round_kernel/wrapper/include/xpu_wrapper.hpp
  auto_round_extension/ark/setup.py
  auto_round_extension/ark/test/test_ark_cpu_mixed_bestla_sdpa.py
  auto_round_extension/ark/tools/analyze_sycl_tla_templates.py
  auto_round_extension/ark/tools/measure_sycl_tla_compile_memory.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-xpu.yml

enable max jobs
  .azure-pipelines/template/lib-build-template.yml
  auto_round_extension/ark/setup.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-xpu.yml

Limit diffusion model calibration cache size
  auto_round/autoround.py
  auto_round/calibration/diffusion.py
  auto_round/calibration/llm.py
  auto_round/cli/main.py
  auto_round/cli/parser.py
  auto_round/compressors/diffusion/README.md
  auto_round/compressors/diffusion_mixin.py
  test/unit/test_cpu/calibration/test_diffusion.py
  test/unit/test_cpu/compressors/test_diffusion_mixin.py
  test/unit/test_cpu/core/test_entry_contract.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Preserve diffusion component dtypes during quantization
  auto_round/compressors/diffusion_mixin.py
  test/unit/test_cpu/compressors/test_diffusion_mixin.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Limit dtype preservation to protected modules
  auto_round/compressors/diffusion_mixin.py
  test/unit/test_cpu/compressors/test_diffusion_mixin.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

simplify ut
  test/unit/test_cpu/compressors/test_diffusion_mixin.py
Due: .azure-pipelines/unit-test.yml

feat: add support for FP8 model loading and ragged-tile dequantization fallback (#2158)
  auto_round/algorithms/composer.py
  auto_round/algorithms/quantization/utils.py
  auto_round/algorithms/utils.py
  auto_round/compressors/base.py
  auto_round/data_type/utils.py
  auto_round/envs.py
  auto_round/modeling/fp8_quant.py
  auto_round/modeling/fused_moe/moe_experts_interface.py
  auto_round/modeling/fused_moe/qwen3_5_moe.py
  auto_round/modeling/fused_moe/utils.py
  auto_round/modeling/unfused_moe/deepseek_v3.py
  auto_round/modeling/unfused_moe/qwen3_moe.py
  auto_round/modeling/unfused_moe/qwen3_next.py
  auto_round/utils/model.py
  docs/environments.md
  docs/environments_CN.md
  test/unit/test_cpu/core/test_pipeline_fail_fast.py
  test/unit/test_cpu/data_type/test_nvfp.py
  test/unit/test_cpu/models/test_moe_experts_interface.py
  test/unit/test_cpu/utils/test_model_utils.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix: layer_config for lm_head takes effect in model-free mode (#2182)
  auto_round/compressors/model_free.py
  auto_round/utils/model_free_utils.py
  test/unit/test_cpu/quantization/test_model_free.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

add workaround for llmc issue and add unit tests for model_free_utils helpers
  auto_round/utils/model_free_utils.py
  test/unit/test_cpu/quantization/test_model_free.py
  test/unit/test_cpu/utils/test_model_free_utils.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Refactor and consolidate cross-shard FP8 scale handling tests
  test/unit/test_cpu/quantization/test_model_free.py
  test/unit/test_cpu/utils/test_model_free_cross_shard.py
  test/unit/test_cpu/utils/test_model_free_utils.py
Due: .azure-pipelines/unit-test.yml

add awq compile bugfix, set disable_opt_rtn by default with awq, fix model free bug
  auto_round/algorithms/composer.py
  auto_round/algorithms/registry.py
  auto_round/algorithms/transforms/awq/base.py
  auto_round/algorithms/transforms/awq/config.py
  auto_round/algorithms/transforms/awq/qdq.py
  auto_round/autoround.py
  auto_round/cli/algorithms.py
  test/unit/test_cpu/algorithms/test_awq.py
  test/unit/test_cpu/core/test_autoround_entry.py
  test/unit/test_cpu/core/test_entry_contract.py
  test/unit/test_cpu/core/test_pipeline_fail_fast.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Path conditions:
  .azure-pipelines/code-scan.yml: any of: auto_round, auto_round_extension, setup.py, requirements.txt, requirements-cpu.txt, requirements-hpu.txt, .azure-pipelines/code-scan.yml, .azure-pipelines/scripts/codeScan
  .azure-pipelines/compatibility-test.yml: any of: auto_round, auto_round_extension, setup.py, setup.cfg, requirements.txt, requirements-cpu.txt, .azure-pipelines/compatibility-test.yml, but not: *.md, **/*.md
  .azure-pipelines/unit-test-hpu.yml: any of: auto_round, test/test*hpu*', setup.py, requirements-lib.txt, .azure-pipelines/scripts/ut, .azure-pipelines/template/docker-template.yml, .azure-pipelines/template/ut-template.yml, but not: auto_round/export/export_to_autogptq, auto_round/export/export_to_awq, *.md, **/*.md
  .azure-pipelines/unit-test-xpu.yml: any of: auto_round, auto_round_extension, test/test_ark, test/test_xpu, setup.py, .azure-pipelines/template/ut-template.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/scripts/ut/run_ut_xpu.sh, but not: *.md, **/*.md
  .azure-pipelines/unit-test.yml: any of: auto_round, auto_round_extension, test, setup.py, requirements.txt, requirements-cpu.txt, .azure-pipelines/scripts/ut, .azure-pipelines/unit-test.yml, .azure-pipelines/template/ut-template.yml, .azure-pipelines/template/docker-template.yml, but not: auto_round_extension/ark, test/test_hpu, test/test_ark, test/test_xpu, *.md, **/*.md, .azure-pipelines/scripts/ut/run_ut_hpu.sh, .azure-pipelines/scripts/ut/run_ut_cuda.sh, .azure-pipelines/scripts/ut/run_ut_xpu.sh
