Repository intel/auto-round: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

.azure-pipelines/code-scan.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: BanditCodeScan
    displayName: Bandit Code Scan
    dependsOn: []
    jobs:
    - job: Bandit
      displayName: Bandit
      steps:
      - template: template/code-scan-template.yml
        parameters:
          codeScanFileName: bandit
          uploadPath: bandit.log
  ...

.azure-pipelines/compatibility-test.yml:
  stages:
  - stage: null
    displayName: Compatibility Test
    dependsOn: []
    jobs:
    - job: null
      timeoutInMinutes: 20
      strategy:
        matrix:
          Python310_Linux:
            python_version: '3.10'
            vmImage: ubuntu-latest
          Python311_Linux:
            python_version: '3.11'
  ...

.azure-pipelines/unit-test-hpu.yml:
  pool: GAUDI
  stages:
  - stage: Unit_test
    displayName: Unit Test
    dependsOn: []
    jobs:
    - job: null
      displayName: Unit Test
      steps:
      - template: template/ut-template.yml
        parameters:
          imageSource: pull
          dockerConfigName: commonDockerConfig
  ...

.azure-pipelines/unit-test.yml:
  pool: ICX-16C
  stages:
  - stage: Unit_test
    displayName: Unit Test
    dependsOn: []
    jobs:
    - job: null
      timeoutInMinutes: 120
      strategy:
        matrix:
          part1:
            PART: 1
          part2:
            PART: 2
          part3:
            PART: 3
          part4:
            PART: 4
  ...

update cd workflow
  .github/workflows/manual-binary-build-publish.yml
Due: none

print support matrix
  auto_round/__main__.py
  auto_round/compressors/utils.py
  auto_round/formats.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

remove comments
  .github/workflows/manual-binary-build-publish.yml
Due: none

for test only
  .github/workflows/manual-binary-build-publish.yml
Due: none

Revert "for test only"
  .github/workflows/manual-binary-build-publish.yml
Due: none

Update README.md
  README.md
Due: none

fix typo
  .github/workflows/manual-binary-build-publish.yml
Due: none

update step name
  .github/workflows/manual-binary-build-publish.yml
Due: none

update cd workflow (#1151)
  .github/workflows/manual-binary-build-publish.yml
Due: none

fix pipeline
  .azure-pipelines/unit-test-hpu.yml
  .azure-pipelines/unit-test.yml
Due: .azure-pipelines/unit-test.yml

fix
  auto_round/compressors/utils.py
  auto_round/formats.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

add more blog in README (#1147)
  README.md
  docs/publication_list.md
Due: none

Update base.py
  auto_round/compressors/base.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

update UT with pytest
  test/README.md
  test/conftest.py
  test/fixtures.py
  test/helpers.py
  test/test_ark/test_model.py
  test/test_cpu/__init__.py
  test/test_cpu/_test_helpers.py
  test/test_cpu/test_act_quantization.py
  test/test_cuda/__init__.py
  test/test_cuda/_test_helpers.py
  test/test_hpu/__init__.py
  test/test_xpu/__init__.py
Due: .azure-pipelines/unit-test.yml

Fix cuda test and llmc test (#1152)
  .azure-pipelines/scripts/ut/run_ut_cuda.sh
  .azure-pipelines/unit-test-hpu.yml
  .azure-pipelines/unit-test.yml
  test/test_cuda/requirements.txt
  test/test_cuda/requirements_llmc.txt
Due: .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

[STEP 1] refact output formats (#906)
  auto_round/__main__.py
  auto_round/compressors/base.py
  auto_round/compressors/utils.py
  auto_round/export/export_to_autoround/__init__.py
  auto_round/export/export_to_autoround/export.py
  auto_round/formats.py
  auto_round/inference/convert_model.py
  auto_round/special_model_handler.py
  auto_round_extension/vllm_ext/moe_impl_mxfp4.py
  test/test_cpu/test_export.py
  test/test_cpu/test_mx_quant_linear.py
  test/test_cpu/test_mxfp_save_load.py
  test/test_cpu/test_nvfp4_quant_linear.py
  test/test_cuda/test_mxfp_and_nvfp_quant.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

add new posts and align the format (#1125)
  README.md
  docs/publication_list.md
Due: none

fix bug and support shared_layers in cli (#1138)
  auto_round/__main__.py
  auto_round/utils/model.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

update
  docs/tuning_norm_bias.md
Due: none

handle key not found issue
  auto_round/compressors/base.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

Fix code for llmc llama4 quantization
  auto_round/compressors/base.py
  auto_round/compressors/mllm/compressor.py
  auto_round/special_model_handler.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

Revert "[STEP 1] refact output formats (#906)"
  auto_round/__main__.py
  auto_round/compressors/base.py
  auto_round/compressors/utils.py
  auto_round/export/export_to_autoround/__init__.py
  auto_round/export/export_to_autoround/export.py
  auto_round/formats.py
  auto_round/inference/convert_model.py
  auto_round/special_model_handler.py
  auto_round_extension/vllm_ext/moe_impl_mxfp4.py
  test/test_cpu/test_export.py
  test/test_cpu/test_mx_quant_linear.py
  test/test_cpu/test_mxfp_save_load.py
  test/test_cpu/test_nvfp4_quant_linear.py
  test/test_cuda/test_mxfp_and_nvfp_quant.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix
  auto_round/formats.py
  auto_round_extension/torch/qlinear_torch.py
  auto_round_extension/torch/qlinear_torch_zp.py
  test/test_cpu/test_asym.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

Revert "[STEP 1] refact output formats" (#1157)
  auto_round/__main__.py
  auto_round/compressors/base.py
  auto_round/compressors/utils.py
  auto_round/export/export_to_autoround/__init__.py
  auto_round/export/export_to_autoround/export.py
  auto_round/formats.py
  auto_round/inference/convert_model.py
  auto_round/special_model_handler.py
  auto_round_extension/vllm_ext/moe_impl_mxfp4.py
  test/test_cpu/test_export.py
  test/test_cpu/test_mx_quant_linear.py
  test/test_cpu/test_mxfp_save_load.py
  test/test_cpu/test_nvfp4_quant_linear.py
  test/test_cuda/test_mxfp_and_nvfp_quant.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

revert change
  auto_round/formats.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

add readme
  test/README.md
Due: none

update
  auto_round/compressors/base.py
  test/test_cpu/test_asym.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

add get_model_path func
  test/helpers.py
Due: .azure-pipelines/unit-test.yml

update
  auto_round_extension/torch/qlinear_torch_zp.py
  test/test_cuda/test_asym.py
Due: .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test.yml

add more fixtures
  test/fixtures.py
  test/helpers.py
Due: .azure-pipelines/unit-test.yml

fix
  test/test_cuda/test_asym.py
Due: .azure-pipelines/unit-test.yml

add more test
  test/test_cuda/test_asym.py
Due: .azure-pipelines/unit-test.yml

Path conditions:
  .azure-pipelines/code-scan.yml: any of: auto_round, setup.py, requirements.txt, .azure-pipelines/code-scan.yml, .azure-pipelines/scripts/codeScan
  .azure-pipelines/compatibility-test.yml: any of: auto_round, auto_round_extension, setup.py, setup.cfg, requirements.txt, requirements-cpu.txt, .azure-pipelines/compatibility-test.yml, but not: *.md, **/*.md
  .azure-pipelines/unit-test-hpu.yml: any of: auto_round, test/test*hpu*', setup.py, requirements-lib.txt, .azure-pipelines/scripts/ut, .azure-pipelines/template/docker-template.yml, .azure-pipelines/template/ut-template.yml, but not: auto_round/export/export_to_autogptq, auto_round/export/export_to_awq, *.md, **/*.md
  .azure-pipelines/unit-test.yml: any of: auto_round, auto_round_extension, test, setup.py, requirements.txt, requirements-cpu.txt, .azure-pipelines/scripts/ut, .azure-pipelines/unit-test.yml, .azure-pipelines/template/ut-template.yml, .azure-pipelines/template/docker-template.yml, but not: test/test*hpu*, *.md, **/*.md
