Repository intel/auto-round: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

.azure-pipelines/code-scan.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: BanditCodeScan
    displayName: Bandit Code Scan
    dependsOn: []
    jobs:
    - job: Bandit
      displayName: Bandit
      steps:
      - template: template/code-scan-template.yml
        parameters:
          codeScanFileName: bandit
          uploadPath: bandit.log
  ...

.azure-pipelines/compatibility-test.yml:
  stages:
  - stage: null
    displayName: Compatibility Test
    dependsOn: []
    jobs:
    - job: null
      timeoutInMinutes: 20
      strategy:
        matrix:
          Python310_Linux:
            python_version: '3.10'
            vmImage: ubuntu-latest
          Python311_Linux:
            python_version: '3.11'
  ...

.azure-pipelines/unit-test-hpu.yml:
  pool: GAUDI
  stages:
  - stage: Unit_test
    displayName: Unit Test
    dependsOn: []
    jobs:
    - job: null
      displayName: Unit Test
      steps:
      - template: template/ut-template.yml
        parameters:
          imageSource: pull
          dockerConfigName: commonDockerConfig
  ...

.azure-pipelines/unit-test-xpu.yml:
  pool: B60
  stages:
  - stage: Unit_test
    displayName: Unit Test
    dependsOn: []
    jobs:
    - job: null
      displayName: Unit Test
      steps:
      - template: template/ut-template.yml
        parameters:
          dockerConfigName: commonDockerConfig
          utScriptFileName: run_ut_xpu
  ...

.azure-pipelines/unit-test.yml:
  pool: ICX-16C
  stages:
  - stage: Unit_test
    displayName: Unit Test
    dependsOn: []
    jobs:
    - job: null
      timeoutInMinutes: 120
      strategy:
        matrix:
          part1:
            PART: 1
          part2:
            PART: 2
          part3:
            PART: 3
          part4:
            PART: 4
  ...

bug fix: prune static kv/attention granularity keys when dtype not set (#2415)
  auto_round/export/utils.py
  test/unit/common/export/test_export_utils.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix(xpu): make ARK sdpa graph-capture safe for torch.xpu.XPUGraph
  auto_round_extension/ark/auto_round_kernel/__init__.py
  auto_round_extension/ark/auto_round_kernel/wrapper/include/sycl_tla_wrapper.hpp
  auto_round_extension/ark/test/test_ark_sdpa_graph_capture.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-xpu.yml

fix: use spawn start method for vLLM evaluation to avoid CUDA re-init error
  auto_round/eval/eval_cli.py
  test/unit/common/eval/test_eval_cli.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix(rrq): ensure base+residual are both exported via a single save_rrq_model
  auto_round/export/export_to_autoround/__init__.py
  auto_round/export/export_to_autoround/export_to_rrq.py
  auto_round/export/formats/backends/rrq.py
  auto_round/export/formats/base.py
  test/unit/test_cpu/algorithms/test_rrq.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Potential fix for pull request finding
  auto_round/export/formats/backends/rrq.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix(rrq): default active_bits to max supported by checkpoint
  auto_round/inference/rrq_model.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Potential fix for pull request finding
  auto_round/export/export_to_gguf/conversion/base.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix(xpu): make ARK SDPA graph-capture safe for torch.xpu.XPUGraph (#2416)
  auto_round_extension/ark/auto_round_kernel/__init__.py
  auto_round_extension/ark/auto_round_kernel/wrapper/include/sycl_tla_wrapper.hpp
  auto_round_extension/ark/auto_round_kernel/wrapper/include/utils.hpp
  auto_round_extension/ark/test/test_ark_sdpa_graph_capture.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-xpu.yml

fix(multi-gpu): disable torch.compile on multi-device execution to prevent ContextVar crash
  auto_round/algorithms/quantization/base.py
  auto_round/compressors/base.py
  test/unit/common/utils/test_device_manager.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix(eval): harden vllm spawn initialization and tests
  auto_round/eval/eval_cli.py
  test/unit/common/eval/test_eval_cli.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

update dependency
  test/integration/test_cpu/requirements_inc.txt
Due: .azure-pipelines/unit-test.yml

fix(rrq): address PR #2308 review comments
  README.md
  README_CN.md
  auto_round/algorithms/registry.py
  auto_round/cli/main.py
  auto_round/export/export_to_gguf/conversion/base.py
  auto_round/export/export_to_mlx/export.py
  auto_round/inference/rrq_model.py
  test/unit/test_cpu/algorithms/test_rrq.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Potential fix for pull request finding 'Remove unused imports from the test file'
  auto_round_extension/ark/test/test_ark_sdpa_graph_capture.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-xpu.yml

feat: NeUQI grid search for the optimized-RTN path (--enable_neuqi)
  README.md
  README_CN.md
  auto_round/algorithms/quantization/base.py
  auto_round/algorithms/quantization/rtn/config.py
  auto_round/algorithms/quantization/rtn/quantizer.py
  auto_round/algorithms/quantization/sign_round/config.py
  auto_round/algorithms/quantization/sign_round/quantizer.py
  auto_round/autoround.py
  auto_round/data_type/__init__.py
  auto_round/data_type/neuqi.py
  auto_round/data_type/utils.py
  auto_round/envs.py
  auto_round/wrapper.py
  auto_round_extension/triton/neuqi_sweep.py
  docs/environments.md
  docs/environments_CN.md
  docs/neuqi_acc.md
  docs/step_by_step.md
  docs/step_by_step_CN.md
  test/unit/test_cpu/quantization/test_neuqi.py
  test/unit/test_cuda/quantization/test_neuqi_e2e.py
  test/unit/test_cuda/quantization/test_neuqi_triton.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

NeUQI grid search for optimized RTN (--enable_neuqi: joint asym scale/zp search, two-stage sym search, frozen-init anchor) (#2341)
  README.md
  README_CN.md
  auto_round/algorithms/quantization/base.py
  auto_round/algorithms/quantization/rtn/config.py
  auto_round/algorithms/quantization/rtn/quantizer.py
  auto_round/algorithms/quantization/sign_round/config.py
  auto_round/algorithms/quantization/sign_round/quantizer.py
  auto_round/autoround.py
  auto_round/data_type/__init__.py
  auto_round/data_type/neuqi.py
  auto_round/data_type/utils.py
  auto_round/envs.py
  auto_round/wrapper.py
  auto_round_extension/triton/neuqi_sweep.py
  docs/environments.md
  docs/environments_CN.md
  docs/neuqi_acc.md
  docs/step_by_step.md
  docs/step_by_step_CN.md
  test/unit/test_cpu/quantization/test_neuqi.py
  test/unit/test_cuda/quantization/test_neuqi_e2e.py
  test/unit/test_cuda/quantization/test_neuqi_triton.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

feat: data-parallel block tuning via --parallel_quantization
  auto_round/algorithms/block_runner.py
  auto_round/algorithms/composer.py
  auto_round/algorithms/quantization/base.py
  auto_round/algorithms/quantization/rtn/quantizer.py
  auto_round/algorithms/quantization/sign_round/data_parallel.py
  auto_round/algorithms/quantization/sign_round/quantizer.py
  auto_round/algorithms/quantization/sign_round/tune_parallel.py
  auto_round/algorithms/quantization/sign_roundv2/quantizer.py
  auto_round/cli/main.py
  auto_round/cli/parser.py
  auto_round/compressors/orchestrator.py
  auto_round/compressors/utils.py
  auto_round/envs.py
  auto_round/utils/tune_profile.py
  auto_round/wrapper.py
  docs/environments.md
  docs/environments_CN.md
  docs/step_by_step.md
  docs/step_by_step_CN.md
  test/unit/test_cpu/quantization/test_ddp_core.py
  test/unit/test_cpu/quantization/test_tune_parallel_context.py
  test/unit/test_cuda/quantization/test_ddp_mirror.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix: ensure single-threaded execution for dataset preprocessing and adjust tensor formatting
  auto_round/calib_dataset.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix: preserve quantization scales and zero points in export dtype state dict
  auto_round/export/utils.py
  test/unit/common/export/test_export_utils.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix: match layer names ending with a digit in ignore_layers
  auto_round/compressors/layer_config_resolver.py
  test/unit/common/utils/test_set_layer_config.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix: ensure dataset filtering uses single process for consistency
  auto_round/calib_dataset.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

feat: parallel engine improvements — world policy, batched searches, engine relocation
  auto_round/algorithms/block_runner.py
  auto_round/algorithms/composer.py
  auto_round/algorithms/parallel/__init__.py
  auto_round/algorithms/parallel/data_parallel.py
  auto_round/algorithms/parallel/rtn_sharding.py
  auto_round/algorithms/parallel/tune_parallel.py
  auto_round/algorithms/quantization/base.py
  auto_round/algorithms/quantization/rtn/quantizer.py
  auto_round/algorithms/quantization/search_dispatch.py
  auto_round/algorithms/quantization/sign_round/quantizer.py
  auto_round/algorithms/quantization/sign_roundv2/quantizer.py
  auto_round/cli/main.py
  auto_round/cli/parser.py
  auto_round/compressors/orchestrator.py
  auto_round/compressors/utils.py
  auto_round/context/compress.py
  auto_round/data_type/utils.py
  auto_round/envs.py
  auto_round/utils/device.py
  auto_round/utils/oom.py
  auto_round/utils/tune_profile.py
  auto_round/wrapper.py
  docs/environments.md
  docs/environments_CN.md
  docs/step_by_step.md
  docs/step_by_step_CN.md
  test/unit/test_cpu/quantization/test_ddp_core.py
  test/unit/test_cpu/quantization/test_neuqi.py
  test/unit/test_cpu/quantization/test_tune_memory_estimator.py
  test/unit/test_cpu/quantization/test_tune_parallel_context.py
  test/unit/test_cpu/utils/test_oom_census.py
  test/unit/test_cuda/quantization/test_ddp_mirror.py
  test/unit/test_cuda/quantization/test_ddp_parity.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix: recover finalized shards and transformed resume names
  auto_round/compressors/shard_writer.py
  test/unit/common/utils/test_shard_writer.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

add mxuint
  auto_round/data_type/mxfp.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix(multi-gpu): enforce torch.compile restriction consistently
  auto_round/compressors/base.py
  test/unit/common/utils/test_device_manager.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

switch blockwise mxfp8 to OCP mxfp8.
  auto_round/utils/model_free_utils.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

INC integration test bug fix (#2423)
  auto_round/calib_dataset.py
  auto_round/export/utils.py
  test/integration/test_cpu/requirements_inc.txt
  test/unit/common/export/test_export_utils.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

ignore dsv41 .engram.embed.
  auto_round/utils/model_free_utils.py
  test/unit/test_cpu/utils/test_model_free_utils.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

update README.md
  README.md
Due: none

update README.md
  README.md
  README_CN.md
Due: none

fix: honor AR_WORK_SPACE for the AudioCaps dataset cache (#2420)
  auto_round/utils/common.py
  test/unit/common/utils/test_common_utils.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Keep the case of the AR_WORK_SPACE path (#2417)
  auto_round/envs.py
  test/unit/common/utils/test_envs.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix: return the repaired string from escape_invalid_json_backslashes (#2419)
  auto_round/utils/common.py
  test/unit/common/utils/test_common_pure_helpers.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

update README.md (#2428)
  README.md
  README_CN.md
Due: none

bump version to v0.16.0
  README.md
  README_CN.md
Due: none

add mxuint (#2425)
  auto_round/data_type/mxfp.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix: update model name in performance test configuration to openbmb/MiniCPM5-1B
  .azure-pipelines/performance-test.yaml
Due: none

chore: update version to 0.17.0 and README badges to reflect Python 3.11+ and release 0.16.0
  README.md
  README_CN.md
  auto_round/version.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

refactor: address review feedback
  auto_round/algorithms/block_runner.py
  auto_round/algorithms/composer.py
  auto_round/algorithms/quantization/base.py
  auto_round/algorithms/quantization/rtn/batched_search.py
  auto_round/algorithms/quantization/rtn/quantizer.py
  auto_round/algorithms/quantization/search_dispatch.py
  auto_round/algorithms/quantization/sign_round/quantizer.py
  auto_round/algorithms/quantization/sign_roundv2/quantizer.py
  auto_round/algorithms/quantization/tune_memory.py
  auto_round/compressors/diffusion/tuning_cache.py
  auto_round/compressors/orchestrator.py
  auto_round/compressors/utils.py
  auto_round/data_type/utils.py
  auto_round/modeling/fused_moe/grouped_experts.py
  auto_round/utils/device.py
  auto_round/utils/oom.py
  auto_round/utils/pool_placement.py
  auto_round/utils/resume.py
  auto_round/wrapper.py
  test/unit/test_cpu/quantization/test_auto_linear_loop.py
  test/unit/test_cpu/quantization/test_pull_pool_if_fits.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Path conditions:
  .azure-pipelines/code-scan.yml: any of: auto_round, auto_round_extension, setup.py, requirements.txt, requirements-cpu.txt, requirements-hpu.txt, .azure-pipelines/code-scan.yml, .azure-pipelines/scripts/codeScan
  .azure-pipelines/compatibility-test.yml: any of: auto_round, auto_round_extension, setup.py, setup.cfg, requirements.txt, requirements-cpu.txt, .azure-pipelines/compatibility-test.yml, but not: *.md, **/*.md
  .azure-pipelines/unit-test-hpu.yml: any of: auto_round, test/test*hpu*', setup.py, requirements-lib.txt, .azure-pipelines/scripts/ut, .azure-pipelines/template/docker-template.yml, .azure-pipelines/template/ut-template.yml, but not: auto_round/export/export_to_autogptq, auto_round/export/export_to_awq, *.md, **/*.md
  .azure-pipelines/unit-test-xpu.yml: any of: auto_round, auto_round_extension, test/test_ark, test/test_xpu, setup.py, .azure-pipelines/template/ut-template.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/scripts/ut/run_ut_xpu.sh, but not: *.md, **/*.md
  .azure-pipelines/unit-test.yml: any of: auto_round, auto_round_extension, test, setup.py, requirements.txt, requirements-cpu.txt, .azure-pipelines/scripts/ut, .azure-pipelines/unit-test.yml, .azure-pipelines/template/ut-template.yml, .azure-pipelines/template/docker-template.yml, but not: auto_round_extension/ark, test/test_hpu, test/test_ark, test/test_xpu, *.md, **/*.md, .azure-pipelines/scripts/ut/run_ut_hpu.sh, .azure-pipelines/scripts/ut/run_ut_cuda.sh, .azure-pipelines/scripts/ut/run_ut_xpu.sh
