Repository intel/auto-round: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Path conditions:
  .azure-pipelines/code-scan.yml: any of: auto_round, auto_round_extension, setup.py, requirements.txt, requirements-cpu.txt, requirements-hpu.txt, .azure-pipelines/code-scan.yml, .azure-pipelines/scripts/codeScan
  .azure-pipelines/compatibility-test.yml: any of: auto_round, auto_round_extension, setup.py, setup.cfg, requirements.txt, requirements-cpu.txt, .azure-pipelines/compatibility-test.yml, but not: *.md, **/*.md
  .azure-pipelines/unit-test-hpu.yml: any of: auto_round, test/test*hpu*', setup.py, requirements-lib.txt, .azure-pipelines/scripts/ut, .azure-pipelines/template/docker-template.yml, .azure-pipelines/template/ut-template.yml, but not: auto_round/export/export_to_autogptq, auto_round/export/export_to_awq, *.md, **/*.md
  .azure-pipelines/unit-test-xpu.yml: any of: auto_round, auto_round_extension, test/test_ark, test/test_xpu, setup.py, .azure-pipelines/template/ut-template.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/scripts/ut/run_ut_xpu.sh, but not: *.md, **/*.md
  .azure-pipelines/unit-test.yml: any of: auto_round, auto_round_extension, test, setup.py, requirements.txt, requirements-cpu.txt, .azure-pipelines/scripts/ut, .azure-pipelines/unit-test.yml, .azure-pipelines/template/ut-template.yml, .azure-pipelines/template/docker-template.yml, but not: auto_round_extension/ark, test/test_hpu, test/test_ark, test/test_xpu, *.md, **/*.md, .azure-pipelines/scripts/ut/run_ut_hpu.sh, .azure-pipelines/scripts/ut/run_ut_cuda.sh, .azure-pipelines/scripts/ut/run_ut_xpu.sh

chore: use CPU calibration cache on B200
  scripts/launch_wan_svdquant_mxfp4_b200.sh
Due: none

docs: add B200 Wan quantization handoff
  B200_WAN_SVDQUANT_HANDOFF.md
Due: none

chore: default B200 launcher to single GPU
  scripts/launch_wan_svdquant_mxfp4_b200.sh
Due: none

fix report format
  .azure-pipelines/scripts/ai_analysis/merge_reports.py
Due: none

revert test code
  .azure-pipelines/scripts/ut/run_ut.sh
  auto_round/autoround.py
  test/unit/common/advanced/test_evaluation_functions.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

try to fix ut
  auto_round/modeling/fused_moe/llama4.py
  auto_round/modeling/fused_moe/qwen3_5_moe.py
  auto_round/modeling/fused_moe/qwen3_omni.py
  auto_round/modeling/fused_moe/qwen3_vl_moe.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

clean
  .azure-pipelines/scripts/cuda_unit_test/run_cuda_ut.sh
  test/fixtures.py
  test/unit/common/test_micro_models.py
Due: .azure-pipelines/unit-test.yml

Update report format
  .azure-pipelines/scripts/ai_analysis/merge_reports.py
Due: none

Update report
  .azure-pipelines/scripts/ai_analysis/merge_reports.py
Due: none

Implement AI-Powered CI Failure Analysis and Fix Recommendations (#2277)
  .azure-pipelines/scripts/ai_analysis/ai_analyze.py
  .azure-pipelines/scripts/ai_analysis/analyze_failures.py
  .azure-pipelines/scripts/ai_analysis/match_known_issues.py
  .azure-pipelines/scripts/ai_analysis/merge_reports.py
  .azure-pipelines/scripts/ai_analysis/post_pr_comment.py
  .azure-pipelines/template/ai-stage-template.yml
  .azure-pipelines/unit-test-xpu.yml
  .azure-pipelines/unit-test.yml
Due: .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

feat: add support for fake quantization in model-free mode and update related tests
  auto_round/cli/main.py
  auto_round/compressors/model_free.py
  auto_round/utils/model_free_utils.py
  test/unit/common/quantization/test_model_free.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix: update artifact name format for ark wheel download
  .azure-pipelines/template/ut-template.yml
Due: .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix: update artifact name format for ark wheel download (#2321)
  .azure-pipelines/template/ut-template.yml
Due: .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix
  auto_round/compressors/base.py
  auto_round/utils/offload.py
  test/unit/common/core/test_init.py
  test/unit/common/utils/test_offload_helpers.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix: remove redundant up_gate_proj documentation and ensure tensor contiguity in dequantization
  auto_round/utils/model_free_utils.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix: update artifact name for ark wheel download in CI pipeline
  .azure-pipelines/template/ut-template.yml
Due: .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix: update artifact name for ark wheel download in CI pipeline (#2322)
  .azure-pipelines/template/ut-template.yml
Due: .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

[high risk]Speedup 2.5-6X moe tuning and pin ngram to cpu (#2303)
  auto_round/algorithms/quantization/sign_round/quantizer.py
  auto_round/compressors/orchestrator.py
  auto_round/context/model.py
  auto_round/envs.py
  auto_round/logger.py
  auto_round/modeling/fused_moe/__init__.py
  auto_round/modeling/fused_moe/gpt_oss.py
  auto_round/modeling/fused_moe/grouped_experts.py
  auto_round/modeling/fused_moe/llama4.py
  auto_round/modeling/fused_moe/moe_experts_interface.py
  auto_round/modeling/fused_moe/qwen3_5_moe.py
  auto_round/modeling/fused_moe/qwen3_omni.py
  auto_round/modeling/fused_moe/qwen3_vl_moe.py
  auto_round/modeling/fused_moe/step3_5_moe.py
  auto_round/modeling/fused_moe/utils.py
  auto_round/utils/device.py
  auto_round/utils/disk_stream_util.py
  auto_round/utils/model.py
  test/unit/common/models/test_moe_experts_interface.py
  test/unit/common/utils/test_model_utils.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Apply batched suggestions from code review
  auto_round/algorithms/quantization/rrq/config.py
  auto_round/inference/rrq_linear.py
  auto_round/inference/rrq_model.py
  auto_round_extension/torch/qlinear_torch.py
  auto_round_extension/torch/qlinear_torch_zp.py
  test_rrq_lm_eval.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

revert log info
  auto_round/compressors/model_free.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix
  auto_round/modeling/fused_moe/moe_experts_interface.py
  auto_round/utils/model.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix(rrq): raise ValueError for explicit model_free=True with RRQConfig
  auto_round/autoround.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix(rrq): enforce disable_opt_rtn=True in RRQConfig.check_config()
  auto_round/algorithms/quantization/rrq/config.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix: pin Hugging Face snapshots for AutoScheme offload reloads (#2318)
  auto_round/auto_scheme/delta_loss.py
  auto_round/compressors/base.py
  auto_round/utils/offload.py
  test/unit/common/core/test_init.py
  test/unit/common/utils/test_offload_helpers.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix: pin Hugging Face snapshots for AutoScheme offload reloads (#2318)
  auto_round/auto_scheme/delta_loss.py
  auto_round/compressors/base.py
  auto_round/utils/offload.py
  test/unit/test_cpu/core/test_init.py
  test/unit/test_cpu/utils/test_offload_helpers.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix nemoron gate inference issue (#2325)
  auto_round/modeling/fused_moe/moe_experts_interface.py
  auto_round/utils/model.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix
  auto_round/export/utils.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

refactor: reorganize tensor utility functions and enhance split_fused_expert_tensors for special cases (#2320)
  auto_round/compressors/shard_writer.py
  auto_round/utils/__init__.py
  auto_round/utils/missing_tensors.py
  auto_round/utils/model_free_utils.py
  auto_round/utils/offload.py
  test/unit/common/utils/test_missing_tensors.py
  test/unit/test_cpu/export/test_qlinear_pack_clamp.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

feat: add transformers checkpoint conversion mapping support for missing tensors
  auto_round/utils/missing_tensors.py
  test/unit/common/utils/test_missing_tensors.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

feat: add support for fake quantization in model-free mode and update related evaluation logic
  auto_round/cli/main.py
  auto_round/compressors/model_free.py
  auto_round/eval/evaluation.py
  auto_round/utils/model_free_utils.py
  test/unit/test_cpu/quantization/test_model_free.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

feat: implement resume functionality for model-free compression with validation checks
  auto_round/compressors/model_free.py
  test/unit/test_cpu/quantization/test_model_free.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

feat: add progress bar for shard processing on resume functionality
  auto_round/compressors/model_free.py
  test/unit/test_cpu/quantization/test_model_free.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

feat: add support for WOQ fake quantization in model-free mode and update… (#2329)
  auto_round/cli/main.py
  auto_round/compressors/model_free.py
  auto_round/eval/evaluation.py
  auto_round/utils/model_free_utils.py
  test/unit/test_cpu/quantization/test_model_free.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

feat: add transformers checkpoint conversion mapping support for missing tensors (#2328)
  auto_round/utils/missing_tensors.py
  test/unit/common/utils/test_missing_tensors.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

optimize decode
  auto_round_extension/ark/auto_round_kernel/wrapper/include/sycl_tla_dense_woq_s4_dpas.hpp
  auto_round_extension/ark/auto_round_kernel/wrapper/include/utils.hpp
  auto_round_extension/ark/auto_round_kernel/wrapper/include/xpu_wrapper.hpp
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-xpu.yml

reduce the memory usage
  auto_round_extension/ark/auto_round_kernel/wrapper/include/sycl_tla_dense_woq_s4_dpas.hpp
  auto_round_extension/ark/auto_round_kernel/wrapper/include/xpu_wrapper.hpp
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-xpu.yml

update
  auto_round/special_model_handler.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

unify target_bits/options into bits/schemes for AutoScheme
  README.md
  README_CN.md
  auto_round/autoround.py
  auto_round/cli/main.py
  auto_round/cli/parser.py
  auto_round/scheme_entry.py
  docs/auto_scheme_acc.md
  docs/step_by_step.md
  docs/step_by_step_CN.md
  test/unit/common/core/test_entry_scheme_unification.py
  test/unit/common/utils/test_cli_usage.py
  test/unit/test_cuda/algorithms/test_alg_ext.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml
