Repository intel/auto-round: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

.azure-pipelines/code-scan.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: BanditCodeScan
    displayName: Bandit Code Scan
    dependsOn: []
    jobs:
    - job: Bandit
      displayName: Bandit
      steps:
      - template: template/code-scan-template.yml
        parameters:
          codeScanFileName: bandit
          uploadPath: bandit.log
  ...

.azure-pipelines/compatibility-test.yml:
  jobs:
  - job: Test
    displayName: Compatibility Test
    strategy:
      matrix:
        Python310_Linux:
          python_version: '3.10'
          vmImage: ubuntu-latest
        Python311_Linux:
          python_version: '3.11'
          vmImage: ubuntu-latest
        Python312_Linux:
          python_version: '3.12'
  ...

.azure-pipelines/unit-test-hpu.yml:
  pool: GAUDI
  stages:
  - stage: Unit_test
    displayName: Unit Test
    dependsOn: []
    jobs:
    - job: null
      displayName: Unit Test
      steps:
      - template: template/ut-template.yml
        parameters:
          imageSource: pull
          dockerConfigName: commonDockerConfig
  ...

.azure-pipelines/unit-test.yml:
  pool: ICX-16C
  stages:
  - stage: Unit_test
    displayName: Unit Test
    dependsOn: []
    jobs:
    - job: null
      timeoutInMinutes: 120
      strategy:
        matrix:
          part1:
            PART: 1
          part2:
            PART: 2
          part3:
            PART: 3
          part4:
            PART: 4
  ...

fix local path
  test/test_cpu/test_export.py
Due: .azure-pipelines/unit-test.yml

improve accuracy for 2bit with auto-round-best
  auto_round/autoround.py
  auto_round/compressors/base.py
  docs/alg_202508.md
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

improve accuracy for 2bit with auto-round-best (#1078)
  auto_round/autoround.py
  auto_round/compressors/base.py
  docs/alg_202508.md
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix bf16 option in AutoScheme
  auto_round/__main__.py
  auto_round/compressors/base.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

Support mxfp nvfp lmhead quant (#1051)
  auto_round/compressors/base.py
  auto_round/export/export_to_autogptq/export.py
  auto_round/export/export_to_autoround/export_to_nvfp_mxfp.py
  auto_round/export/export_to_awq/export.py
  auto_round/export/export_to_llmcompressor/export_to_fp.py
  test/test_cpu/test_export.py
  test/test_cpu/test_mxfp_nvfp.py
  test/test_cuda/test_export.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

refine sampler (#1077)
  auto_round/compressors/base.py
  auto_round/compressors/utils.py
  auto_round/utils/common.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

reduce ut cost
  test/test_cpu/test_autoround.py
Due: .azure-pipelines/unit-test.yml

fix bf16 option in AutoScheme (#1079)
  auto_round/__main__.py
  auto_round/compressors/base.py
  test/test_cpu/test_autoround.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

add MXFP4_EXP
  auto_round/compressors/utils.py
  auto_round/data_type/mxfp.py
  auto_round/experimental/qmodules/mx.py
  auto_round/export/export_to_autoround/qlinear_fp.py
  auto_round/inference/backend.py
  auto_round/schemes.py
  workspace/exp.sh
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

tmp fix attn mask
  auto_round/compressors/base.py
  auto_round/utils/common.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

set all priorities to 6 for ark
  auto_round/inference/backend.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

auto_round_extension.kernel.qlinear -> auto_round_extension.ark.qlinear
  auto_round/inference/backend.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

added test_meodel.py
  test/test_kernel/test_model.py
Due: .azure-pipelines/unit-test.yml

refine
  auto_round/compressors/base.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

update
  auto_round/compressors/base.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

add fp8 kv
  auto_round_extension/vllm_ext/auto_round_ext.py
  auto_round_extension/vllm_ext/kv_cache.py
Due: .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test.yml

add attn mask wip
  auto_round/utils/common.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

add windows binary for alg_ext
  auto_round/alg_ext.pyd
  auto_round/auto_scheme/default_alg.pyd
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

including pyd into pypi package
  setup.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

calib for kv/attn
  auto_round/compressors/base.py
  auto_round/compressors/utils.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

adjust 3 bits hyperparameters at auto-round-best (#1081)
  auto_round/compressors/base.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

Support alg_ext on windows (#1082)
  auto_round/alg_ext.pyd
  auto_round/auto_scheme/default_alg.pyd
  setup.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

remove numpy restriction for gptq kernel
  auto_round/inference/backend.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

add ut
  test/test_cpu/test_mxfp_nvfp.py
Due: .azure-pipelines/unit-test.yml

revert
  auto_round_extension/vllm_ext/auto_round_ext.py
  auto_round_extension/vllm_ext/kv_cache.py
Due: .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test.yml

update config
  auto_round/compressors/base.py
  test/test_cpu/test_mxfp_nvfp.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

update
  auto_round_extension/vllm_ext/auto_round_ext.py
Due: .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test.yml

add ut
  auto_round_extension/vllm_ext/tests/test_fp8kv.py
Due: .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test.yml

fix mxfp qdq
  auto_round_extension/vllm_ext/mxfp4_qdq_utils.py
Due: .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test.yml

fix mxfp qdq (#1088)
  auto_round_extension/vllm_ext/mxfp4_qdq_utils.py
Due: .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test.yml

update
  auto_round/compressors/base.py
  auto_round/utils/device.py
  auto_round/utils/model.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

remove numpy restriction for gptq kernel (#1084)
  auto_round/inference/backend.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

reduce model
  test/test_cpu/test_mxfp_nvfp.py
Due: .azure-pipelines/unit-test.yml

fix attn mask
  auto_round/compressors/base.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

Fix MXFP/NVFP + FP8 Attn/KV (#1086)
  auto_round/compressors/base.py
  auto_round/compressors/utils.py
  test/test_cpu/test_mxfp_nvfp.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

remove accelerate version limitation
  requirements.txt
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test.yml

remove accelerate version limitation (#1090)
  requirements.txt
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test.yml

bump version to v0.9.2
  README.md
  auto_round/version.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

bump version to v0.9.3
  README.md
  auto_round/version.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

Path conditions:
  .azure-pipelines/code-scan.yml: any of: auto_round, setup.py, requirements.txt, .azure-pipelines/code-scan.yml, .azure-pipelines/scripts/codeScan
  .azure-pipelines/compatibility-test.yml: any of: auto_round, auto_round_extension, setup.py, setup.cfg, requirements.txt, requirements-cpu.txt, .azure-pipelines/compatibility-test.yml, but not: *.md, **/*.md
  .azure-pipelines/unit-test-hpu.yml: any of: auto_round, test/test*hpu*', setup.py, requirements-lib.txt, .azure-pipelines/scripts/ut, .azure-pipelines/template/docker-template.yml, .azure-pipelines/template/ut-template.yml, but not: auto_round/export/export_to_autogptq, auto_round/export/export_to_awq, *.md, **/*.md
  .azure-pipelines/unit-test.yml: any of: auto_round, auto_round_extension, test, setup.py, requirements.txt, requirements-cpu.txt, .azure-pipelines/scripts/ut, .azure-pipelines/unit-test.yml, .azure-pipelines/template/ut-template.yml, .azure-pipelines/template/docker-template.yml, but not: test/test*hpu*, *.md, **/*.md
