Repository intel/auto-round: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

.azure-pipelines/code-scan.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: BanditCodeScan
    displayName: Bandit Code Scan
    dependsOn: []
    jobs:
    - job: Bandit
      displayName: Bandit
      steps:
      - template: template/code-scan-template.yml
        parameters:
          codeScanFileName: bandit
          uploadPath: bandit.log
  ...

.azure-pipelines/compatibility-test.yml:
  stages:
  - stage: null
    displayName: Compatibility Test
    dependsOn: []
    jobs:
    - job: null
      timeoutInMinutes: 20
      strategy:
        matrix:
          Python310_Linux:
            python_version: '3.10'
            vmImage: ubuntu-latest
          Python311_Linux:
            python_version: '3.11'
  ...

.azure-pipelines/unit-test-hpu.yml:
  pool: GAUDI
  stages:
  - stage: Unit_test
    displayName: Unit Test
    dependsOn: []
    jobs:
    - job: null
      displayName: Unit Test
      steps:
      - template: template/ut-template.yml
        parameters:
          imageSource: pull
          dockerConfigName: commonDockerConfig
  ...

.azure-pipelines/unit-test-xpu.yml:
  pool: B60
  stages:
  - stage: Unit_test
    displayName: Unit Test
    dependsOn: []
    jobs:
    - job: null
      displayName: Unit Test
      steps:
      - template: template/ut-template.yml
        parameters:
          dockerConfigName: commonDockerConfig
          utScriptFileName: run_ut_xpu
  ...

.azure-pipelines/unit-test.yml:
  pool: ICX-16C
  stages:
  - stage: Unit_test
    displayName: Unit Test
    dependsOn: []
    jobs:
    - job: null
      timeoutInMinutes: 120
      strategy:
        matrix:
          part1:
            PART: 1
          part2:
            PART: 2
          part3:
            PART: 3
          part4:
            PART: 4
  ...

update
  auto_round/utils/common.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Refactor RRQ exports to sub-package entry points and add eval scripts
  auto_round/__init__.py
  auto_round/export/__init__.py
  auto_round/inference/__init__.py
  auto_round/inference/rrq_linear.py
  benchmark_both.py
  test/unit/test_cpu/algorithms/test_rrq.py
  test_rrq_lm_eval.py
  test_rrq_qwen3_06b.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

feat: add opt-in diffusion tuning cache prefetch
  auto_round/algorithms/quantization/sign_round/quantizer.py
  auto_round/autoround.py
  auto_round/cli/main.py
  auto_round/cli/parser.py
  auto_round/compressors/diffusion/tuning_cache.py
  auto_round/compressors/diffusion_mixin.py
  test/unit/common/compressors/test_diffusion_mixin.py
  test/unit/common/compressors/test_diffusion_tuning_cache.py
  test/unit/common/core/test_entry_normalization.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

XPU oneDNN: bind matmul execution to live SYCL queue (graph-capture safe) (#2280)
  .azure-pipelines/template/ut-template.yml
  auto_round_extension/ark/auto_round_kernel/ark.cpp
  auto_round_extension/ark/auto_round_kernel/sycl_tla_moe_decode_scratch.cpp
  auto_round_extension/ark/auto_round_kernel/wrapper/include/dnnl_wrapper.hpp
  auto_round_extension/ark/auto_round_kernel/wrapper/include/sycl_tla_moe_decode_scratch.hpp
  auto_round_extension/ark/auto_round_kernel/wrapper/include/sycl_tla_moe_prefill_fp8_dpas.hpp
  auto_round_extension/ark/auto_round_kernel/wrapper/include/utils.hpp
  auto_round_extension/ark/test/test_weightonly.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

test(rrq): add lm-eval accuracy test for RRQ W2A16 quantization
  test/unit/test_cpu/algorithms/test_rrq.py
Due: .azure-pipelines/unit-test.yml

update
  auto_round/context/model.py
  auto_round/envs.py
  auto_round/modeling/fused_moe/replace_modules.py
  auto_round/special_model_handler.py
  auto_round/utils/disk_stream_util.py
  test/unit/common/utils/test_utils.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

docs(README): note that RRQ does not support production-level deployments yet
  README.md
  README_CN.md
Due: none

refine per comments
  auto_round/compressors/model_free.py
  test/unit/test_cpu/quantization/test_model_free.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

update
  auto_round/compressors/base.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix: pin Hugging Face snapshots for AutoScheme offload reloads (#2318)
  auto_round/auto_scheme/delta_loss.py
  auto_round/compressors/base.py
  auto_round/utils/offload.py
  test/unit/test_cpu/core/test_init.py
  test/unit/test_cpu/utils/test_offload_helpers.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

bump version
  README.md
  README_CN.md
Due: none

fix: recreate calibrator for secondary diffusion transformers
  auto_round/compressors/diffusion_mixin.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

feat(rrq): hide RRQ from user-facing listings, auto-select via format
  auto_round/algorithms/quantization/rrq/config.py
  auto_round/algorithms/registry.py
  auto_round/autoround.py
  auto_round/cli/algorithms.py
  test/unit/test_cpu/algorithms/test_rrq.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix: preserve layer config for secondary diffusion transformers
  auto_round/compressors/diffusion_mixin.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

try to fix rename issue
  auto_round/compressors/shard_writer.py
  auto_round/utils/common.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

try to fix rename issue
  auto_round/cli/main.py
  auto_round/cli/parser.py
  auto_round/compressors/base.py
  auto_round/context/model.py
  auto_round/envs.py
  auto_round/utils/common.py
  auto_round/utils/model.py
  docs/moe.md
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix: remove redundant q->wait() in scratch grow path that breaks graph capture
  auto_round_extension/ark/auto_round_kernel/wrapper/include/utils.hpp
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-xpu.yml

test: simplify diffusion tuning cache coverage
  test/unit/common/compressors/test_diffusion_tuning_cache.py
  test/unit/test_cuda/models/test_diffusion.py
Due: .azure-pipelines/unit-test.yml

Potential fix for pull request finding
  auto_round/compressors/diffusion/tuning_cache.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix(rrq): auto-select W2A16 scheme and force disable_opt_rtn for RRQ
  auto_round/algorithms/quantization/rrq/config.py
  auto_round/cli/algorithms.py
  auto_round/cli/main.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

feat: NeUQI grid search for the optimized-RTN path (--enable_neuqi)
  README.md
  README_CN.md
  auto_round/algorithms/quantization/base.py
  auto_round/algorithms/quantization/rtn/config.py
  auto_round/algorithms/quantization/rtn/quantizer.py
  auto_round/algorithms/quantization/sign_round/config.py
  auto_round/algorithms/quantization/sign_round/quantizer.py
  auto_round/autoround.py
  auto_round/data_type/__init__.py
  auto_round/data_type/neuqi.py
  auto_round/data_type/utils.py
  auto_round/envs.py
  auto_round/wrapper.py
  auto_round_extension/triton/neuqi_sweep.py
  docs/environments.md
  docs/environments_CN.md
  docs/neuqi_acc.md
  docs/step_by_step.md
  docs/step_by_step_CN.md
  test/unit/test_cpu/quantization/test_neuqi.py
  test/unit/test_cuda/quantization/test_neuqi_e2e.py
  test/unit/test_cuda/quantization/test_neuqi_triton.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Improve the low_cpu_mem_usage usage in the doc (#2278)
  README.md
  README_CN.md
  docs/step_by_step.md
  docs/step_by_step_CN.md
Due: none

try to fix ngram shard rename issue
  auto_round/compressors/shard_writer.py
  auto_round/utils/common.py
  auto_round/utils/disk_stream_util.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

update ignore layers
  auto_round/special_model_handler.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

feat(ark): general-dim HMT kernel, WAN benchmarks, full precision tests
  auto_round_extension/ark/auto_round_kernel/__init__.py
  auto_round_extension/ark/auto_round_kernel/ark.cpp
  auto_round_extension/ark/auto_round_kernel/mxfp4_hadamard.py
  auto_round_extension/ark/auto_round_kernel/wrapper/include/xpu_mxfp4_hadamard.hpp
  auto_round_extension/ark/benchmarks/bench_mxfp4_hadamard.py
  auto_round_extension/ark/test/README_HMT_QUANT_ONLY_BASELINE.md
  auto_round_extension/ark/test/test_mxfp4_hadamard.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-xpu.yml

WIP: add HMT quant-only baseline
  auto_round_extension/ark/auto_round_kernel/__init__.py
  auto_round_extension/ark/auto_round_kernel/ark.cpp
  auto_round_extension/ark/auto_round_kernel/mxfp4_hadamard.py
  auto_round_extension/ark/auto_round_kernel/wrapper/include/xpu_mxfp4_hadamard.hpp
  auto_round_extension/ark/benchmarks/bench_mxfp4_hadamard.py
  auto_round_extension/ark/test/README_HMT_QUANT_ONLY_BASELINE.md
  auto_round_extension/ark/test/test_mxfp4_hadamard.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-xpu.yml

added perf Benchmark script
  auto_round_extension/ark/benchmarks/bench_mxfp4_hadamard.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-xpu.yml

added xmx general HMT path with benchmark & tests
  auto_round_extension/ark/auto_round_kernel/ark.cpp
  auto_round_extension/ark/auto_round_kernel/mxfp4_hadamard.py
  auto_round_extension/ark/auto_round_kernel/wrapper/include/xpu_mxfp4_hadamard_xmx.hpp
  auto_round_extension/ark/benchmarks/bench_mxfp4_hadamard.py
  auto_round_extension/ark/test/test_mxfp4_hadamard.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-xpu.yml

reduced repeated and overlapped tests
  auto_round_extension/ark/test/test_mxfp4_hadamard.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-xpu.yml

ark HMT-FWHT mxfp4 quant fused kernel
  auto_round_extension/ark/auto_round_kernel/__init__.py
  auto_round_extension/ark/auto_round_kernel/ark.cpp
  auto_round_extension/ark/auto_round_kernel/mxfp4_hadamard.py
  auto_round_extension/ark/auto_round_kernel/wrapper/include/xpu_mxfp4_hadamard.hpp
  auto_round_extension/ark/test/test_mxfp4_hadamard.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-xpu.yml

docs(ark): fix stale transform-dim docs and dangling references
  auto_round_extension/ark/auto_round_kernel/ark.cpp
  auto_round_extension/ark/auto_round_kernel/mxfp4_hadamard.py
  auto_round_extension/ark/auto_round_kernel/wrapper/include/xpu_mxfp4_hadamard.hpp
  auto_round_extension/ark/auto_round_kernel/wrapper/include/xpu_mxfp4_hadamard_xmx.hpp
  auto_round_extension/ark/benchmarks/bench_mxfp4_hadamard.py
  auto_round_extension/ark/test/test_mxfp4_hadamard.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-xpu.yml

fix(ark): avoid del of closure-captured buffers in the benchmark
  auto_round_extension/ark/benchmarks/bench_mxfp4_hadamard.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-xpu.yml

fix: preserve layer config for secondary diffusion transformers (#2337)
  auto_round/compressors/diffusion_mixin.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

update by comments
  auto_round/autoround.py
  auto_round/cli/main.py
  auto_round/cli/parser.py
  test/unit/common/core/test_entry_scheme_unification.py
  test/unit/common/utils/test_cli_usage.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix: recreate calibrator for secondary diffusion transformers (#2335)
  auto_round/compressors/diffusion_mixin.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix comment
  auto_round/compressors/diffusion/tuning_cache.py
  test/unit/common/compressors/test_diffusion_tuning_cache.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

feat: add opt-in diffusion tuning cache prefetch (#2340)
  auto_round/algorithms/quantization/sign_round/quantizer.py
  auto_round/autoround.py
  auto_round/cli/main.py
  auto_round/cli/parser.py
  auto_round/compressors/diffusion/README.md
  auto_round/compressors/diffusion/tuning_cache.py
  auto_round/compressors/diffusion_mixin.py
  test/unit/common/compressors/test_diffusion_mixin.py
  test/unit/common/compressors/test_diffusion_tuning_cache.py
  test/unit/common/core/test_entry_normalization.py
  test/unit/test_cuda/models/test_diffusion.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

feat: retain diffusion tuning samples in GPU cache
  auto_round/cli/parser.py
  auto_round/compressors/diffusion/tuning_cache.py
  auto_round/compressors/diffusion_mixin.py
  test/unit/test_cuda/algorithms/test_diffusion_tuning_cache.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

test: reuse existing diffusion cache coverage
  test/unit/common/compressors/test_diffusion_tuning_cache.py
  test/unit/test_cuda/algorithms/test_diffusion_tuning_cache.py
  test/unit/test_cuda/models/test_diffusion.py
Due: .azure-pipelines/unit-test.yml

update readme
  README.md
  README_CN.md
  docs/moe.md
Due: none

Path conditions:
  .azure-pipelines/code-scan.yml: any of: auto_round, auto_round_extension, setup.py, requirements.txt, requirements-cpu.txt, requirements-hpu.txt, .azure-pipelines/code-scan.yml, .azure-pipelines/scripts/codeScan
  .azure-pipelines/compatibility-test.yml: any of: auto_round, auto_round_extension, setup.py, setup.cfg, requirements.txt, requirements-cpu.txt, .azure-pipelines/compatibility-test.yml, but not: *.md, **/*.md
  .azure-pipelines/unit-test-hpu.yml: any of: auto_round, test/test*hpu*', setup.py, requirements-lib.txt, .azure-pipelines/scripts/ut, .azure-pipelines/template/docker-template.yml, .azure-pipelines/template/ut-template.yml, but not: auto_round/export/export_to_autogptq, auto_round/export/export_to_awq, *.md, **/*.md
  .azure-pipelines/unit-test-xpu.yml: any of: auto_round, auto_round_extension, test/test_ark, test/test_xpu, setup.py, .azure-pipelines/template/ut-template.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/scripts/ut/run_ut_xpu.sh, but not: *.md, **/*.md
  .azure-pipelines/unit-test.yml: any of: auto_round, auto_round_extension, test, setup.py, requirements.txt, requirements-cpu.txt, .azure-pipelines/scripts/ut, .azure-pipelines/unit-test.yml, .azure-pipelines/template/ut-template.yml, .azure-pipelines/template/docker-template.yml, but not: auto_round_extension/ark, test/test_hpu, test/test_ark, test/test_xpu, *.md, **/*.md, .azure-pipelines/scripts/ut/run_ut_hpu.sh, .azure-pipelines/scripts/ut/run_ut_cuda.sh, .azure-pipelines/scripts/ut/run_ut_xpu.sh
