Repository intel/auto-round: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

Path conditions:
  .azure-pipelines/code-scan.yml: any of: auto_round, setup.py, requirements.txt, .azure-pipelines/code-scan.yml, .azure-pipelines/scripts/codeScan
  .azure-pipelines/compatibility-test.yml: any of: auto_round, auto_round_extension, setup.py, setup.cfg, requirements.txt, requirements-cpu.txt, .azure-pipelines/compatibility-test.yml, but not: *.md, **/*.md
  .azure-pipelines/unit-test-hpu.yml: any of: auto_round, test/test*hpu*', setup.py, requirements-lib.txt, .azure-pipelines/scripts/ut, .azure-pipelines/template/docker-template.yml, .azure-pipelines/template/ut-template.yml, but not: auto_round/export/export_to_autogptq, auto_round/export/export_to_awq, *.md, **/*.md
  .azure-pipelines/unit-test.yml: any of: auto_round, auto_round_extension, test, setup.py, requirements.txt, requirements-cpu.txt, .azure-pipelines/scripts/ut, .azure-pipelines/unit-test.yml, .azure-pipelines/template/ut-template.yml, .azure-pipelines/template/docker-template.yml, but not: test/test*hpu*, *.md, **/*.md

update ut
  test/test_cpu/test_act_quantization.py
  test/test_cpu/test_scheme.py
  test/test_cuda/test_scheme.py
Due: .azure-pipelines/unit-test.yml

add ut
  auto_round/compressors/base.py
  auto_round/inference/convert_model.py
  auto_round/special_model_handler.py
  test/test_cuda/test_moe_model.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

[Important Update]change mxfp4 to ocp standard definition and fix scale dtype issue (#1181)
  auto_round/compressors/base.py
  auto_round/schemes.py
  docs/step_by_step.md
  test/test_cpu/test_act_quantization.py
  test/test_cpu/test_scheme.py
  test/test_cuda/test_scheme.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

update cuda ut
  test/helpers.py
  test/test_cuda/test_gguf.py
  test/test_cuda/test_main_func.py
  test/test_cuda/test_marlin_backend.py
  test/test_cuda/test_mix_bits.py
  test/test_cuda/test_multiple_card.py
  test/test_cuda/test_multiple_card_calib.py
  test/test_cuda/test_mxfp_and_nvfp_quant.py
  test/test_cuda/test_mxfp_nvfp.py
  test/test_cuda/test_qbits.py
  test/test_cuda/test_scheme.py
  test/test_cuda/test_torch_backend.py
Due: .azure-pipelines/unit-test.yml

update deps
  test/test_ark/requirements.txt
Due: .azure-pipelines/unit-test.yml

fix merge fail
  auto_round/formats.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

add ./tmp as workspace and remove duplicate UTs
  test/fixtures.py
  test/helpers.py
  test/test_cpu/test_gguf_format.py
  test/test_cpu/test_gpt_oss.py
  test/test_cpu/test_moe_model.py
Due: .azure-pipelines/unit-test.yml

add UT to check enable_torch_compile
  test/test_cpu/test_init.py
Due: .azure-pipelines/unit-test.yml

Fix code for llmc llama4 quantization (#1161)
  auto_round/compressors/base.py
  auto_round/compressors/mllm/compressor.py
  auto_round/special_model_handler.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

revert ark change and add some gguf tiny model back
  test/test_ark/test_model.py
  test/test_cpu/test_gguf_format.py
Due: .azure-pipelines/unit-test.yml

update
  auto_round/schemes.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fixtypo
  auto_round/data_type/utils.py
  auto_round/modelling/qwen3_vl_moe.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

Enable ark CI model test (#1177)
  .azure-pipelines/scripts/ut/run_ut_xpu.sh
  .azure-pipelines/template/ut-template.yml
  .azure-pipelines/unit-test-xpu.yml
  .azure-pipelines/unit-test.yml
  test/test_ark/requirements.txt
Due: .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix
  auto_round/formats.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

Revert "[Important Update]change mxfp4 to ocp standard definition and fix sca…"
  auto_round/compressors/base.py
  auto_round/schemes.py
  docs/step_by_step.md
  test/test_cpu/test_act_quantization.py
  test/test_cpu/test_scheme.py
  test/test_cuda/test_scheme.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

Revert "[Important Update]change mxfp4 to ocp standard definition and fix scale dtype issue" (#1184)
  auto_round/compressors/base.py
  auto_round/schemes.py
  docs/step_by_step.md
  test/test_cpu/test_act_quantization.py
  test/test_cpu/test_scheme.py
  test/test_cuda/test_scheme.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix scale_dtype is None issue
  auto_round/compressors/base.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix device mismatch issue for unifying qkv scale (#1175)
  auto_round/compressors/base.py
  auto_round/data_type/utils.py
  test/test_cpu/test_init.py
  test/test_cuda/test_multiple_card_calib.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

add test_ark change and minor fix
  test/test_ark/test_model.py
  test/test_cpu/test_init.py
  test/test_cpu/test_torch_backend.py
  test/test_cuda/test_transformers.py
Due: .azure-pipelines/unit-test.yml

Fix accuracy bug in the customized dataset (#1162)
  auto_round/compressors/base.py
  test/test_cpu/test_mxfp_nvfp.py
  test/test_cuda/test_customized_data.py
  test/test_cuda/test_mxfp_nvfp.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

Deprecate awq infer ut (#1171)
  test/test_cpu/test_export.py
  test/test_cuda/test_export.py
Due: .azure-pipelines/unit-test.yml

Fix inference issue in ARK for AWQ format (#1170)
  auto_round/inference/backend.py
  auto_round/inference/convert_model.py
  auto_round_extension/ark/qlinear.py
  test/test_ark/test_model.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix scale_dtype is None issue (#1185)
  auto_round/compressors/base.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

Update auto_round/modelling/qwen3_vl_moe.py
  auto_round/modelling/qwen3_vl_moe.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

set calib_all_experts to false
  auto_round/modelling/qwen3_vl_moe.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix typo
  auto_round/modelling/qwen3_vl_moe.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

update path for testing
  test/test_cpu/test_cli_usage.py
  test/test_cpu/test_gguf_format.py
  test/test_cuda/test_alg_ext.py
  test/test_cuda/test_gguf.py
  test/test_cuda/test_multiple_card_calib.py
  test/test_cuda/test_support_vlms.py
Due: .azure-pipelines/unit-test.yml

fix xpu ut path
  .azure-pipelines/scripts/ut/run_ut_xpu.sh
Due: .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix bug
  test/test_ark/__init__.py
Due: .azure-pipelines/unit-test.yml

fix bug
  test/test_ark/test_model.py
Due: .azure-pipelines/unit-test.yml

update
  auto_round/compressors/base.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix cuda ut fail
  test/test_cuda/test_asym.py
Due: .azure-pipelines/unit-test.yml

add permission for workflow
  .github/workflows/compatibility-test.yml
Due: none

Bump version to v0.9.3
  README.md
Due: none

fix
  auto_round/modelling/replace_modules.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml
