Repository intel/auto-round: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

.azure-pipelines/code-scan.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: BanditCodeScan
    displayName: Bandit Code Scan
    dependsOn: []
    jobs:
    - job: Bandit
      displayName: Bandit
      steps:
      - template: template/code-scan-template.yml
        parameters:
          codeScanFileName: bandit
          uploadPath: bandit.log
  ...

.azure-pipelines/unit-test-hpu.yml:
  pool: GAUDI
  stages:
  - stage: Unit_test
    displayName: Unit Test
    dependsOn: []
    jobs:
    - job: null
      displayName: Unit Test
      steps:
      - template: template/ut-template.yml
        parameters:
          imageSource: pull
          dockerConfigName: commonDockerConfig
  ...

.azure-pipelines/unit-test.yml:
  pool: ICX-16C
  stages:
  - stage: Unit_test
    displayName: Unit Test
    dependsOn: []
    jobs:
    - job: null
      displayName: Unit Test
      timeoutInMinutes: 240
      steps:
      - template: template/ut-template.yml
        parameters:
          dockerConfigName: commonDockerConfig
  ...

update args type
  auto_round/autoround.py
  auto_round/utils.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

rename check
  auto_round/inference/backend.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

rename
  auto_round/inference/backend.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

add cuda scheme ut
  test/test_cuda/test_scheme.py
Due: .azure-pipelines/unit-test.yml

fix bug and add nvfp in alg_ext with slight improvement
  README.md
  auto_round/alg_ext.cpython-310-x86_64-linux-gnu.so
  auto_round/autoround.py
  docs/mxnv_acc.md
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fixtypo
  test/test_cpu/test_torch_backend.py
Due: .azure-pipelines/unit-test.yml

refine a little
  auto_round/autoround.py
  docs/mxnv_acc.md
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

refine doc, fixtypo
  README.md
Due: none

disable CUDA_VISIBLE_DEVICE setting
  auto_round/script/llm.py
  auto_round/script/mllm.py
  auto_round/utils.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix ds
  auto_round/utils.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix import & log
  auto_round/autoround.py
  auto_round/export/export_to_autoround/export.py
  auto_round/export/export_to_autoround/export_to_fp8.py
  auto_round/export/export_to_autoround/export_to_nvfp_mxfp.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix doctypo
  docs/step_by_step.md
Due: none

torch backend bugfix and speedup ut (#793)
  README.md
  auto_round_extension/torch/qlinear_torch.py
  test/test_cpu/test_export.py
  test/test_cpu/test_gguf_format.py
  test/test_cpu/test_llmcompressor_w8a8.py
  test/test_cpu/test_torch_backend.py
  test/test_cuda/test_scheme.py
Due: .azure-pipelines/unit-test.yml

Support auto device mapping (#781)
  auto_round/autoround.py
  auto_round/script/llm.py
  auto_round/script/mllm.py
  auto_round/utils.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix bug and add nvfp in alg-ext with slight improvement (#794)
  README.md
  auto_round/alg_ext.cpython-310-x86_64-linux-gnu.so
  auto_round/autoround.py
  docs/mxnv_acc.md
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

rename llmcompressor to llm_compressor for align with other formats (#780)
  auto_round/autoround.py
  auto_round/export/__init__.py
  auto_round/export/export_to_autoround/export.py
  auto_round/export/export_to_autoround/export_to_fp8.py
  auto_round/export/export_to_autoround/export_to_nvfp_mxfp.py
  auto_round/export/export_to_autoround/qlinear_fp.py
  auto_round/export/export_to_autoround/qlinear_triton_act.py
  auto_round/export/export_to_autoround/utils.py
  auto_round/export/export_to_llmcompressor/export.py
  auto_round/script/llm.py
  auto_round/utils.py
  docs/step_by_step.md
  test/test_cpu/test_export.py
  test/test_cpu/test_llmcompressor_w8a8.py
  test/test_cuda/test_export.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

align formats packing device to API
  auto_round/autoround.py
  auto_round/export/export_to_autogptq/export.py
  auto_round/export/export_to_autogptq/qlinear_triton.py
  auto_round/export/export_to_autoround/export.py
  auto_round/export/export_to_autoround/export_to_fp8.py
  auto_round/export/export_to_autoround/export_to_nvfp_mxfp.py
  auto_round/export/export_to_autoround/qlinear_fp.py
  auto_round/export/export_to_autoround/qlinear_triton_act.py
  auto_round/export/export_to_awq/export.py
  auto_round/export/export_to_awq/utils.py
  auto_round/export/export_to_gguf/convert.py
  auto_round/export/export_to_llmcompressor/export.py
  auto_round/export/export_to_llmcompressor/export_to_fp.py
  auto_round/utils.py
  auto_round_extension/torch/qlinear_torch.py
  auto_round_extension/torch/qlinear_torch_zp.py
  auto_round_extension/triton/qlinear_tritonv2.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix import typo
  auto_round/export/export_to_autoround/qlinear_triton_act.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

align formats packing device to API (#795)
  auto_round/autoround.py
  auto_round/export/export_to_autogptq/export.py
  auto_round/export/export_to_autogptq/qlinear_triton.py
  auto_round/export/export_to_autoround/export.py
  auto_round/export/export_to_autoround/export_to_fp8.py
  auto_round/export/export_to_autoround/export_to_nvfp_mxfp.py
  auto_round/export/export_to_autoround/qlinear_fp.py
  auto_round/export/export_to_autoround/qlinear_triton_act.py
  auto_round/export/export_to_awq/export.py
  auto_round/export/export_to_awq/utils.py
  auto_round/export/export_to_gguf/convert.py
  auto_round/export/export_to_llmcompressor/export.py
  auto_round/export/export_to_llmcompressor/export_to_fp.py
  auto_round/utils.py
  auto_round_extension/torch/qlinear_torch.py
  auto_round_extension/torch/qlinear_torch_zp.py
  auto_round_extension/triton/qlinear_tritonv2.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix lm-head issue
  auto_round/autoround.py
  auto_round/script/llm.py
  auto_round/script/mllm.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix 3bits asym torch backend issue
  auto_round/autoround.py
  auto_round/inference/convert_model.py
  auto_round_extension/torch/qlinear_torch.py
  test/test_cpu/test_autoround.py
  test/test_cpu/test_autoround_acc.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix exception when calling layer.weight.device in packing
  auto_round/export/export_to_autogptq/export.py
  auto_round/export/export_to_autoround/export.py
  test/test_cpu/test_autoround.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

refine
  auto_round/autoround.py
  auto_round/export/export_to_autogptq/export.py
  auto_round/export/export_to_autoround/export.py
  test/test_cpu/test_export.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

update
  test/test_cpu/test_export.py
Due: .azure-pipelines/unit-test.yml

fix gguf scheme mismatch export format issue
  auto_round/autoround.py
  auto_round/utils.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix cuda ut fail
  auto_round/autoround.py
  auto_round/data_type/gguf.py
  auto_round/export/export_to_gguf/convert.py
  auto_round/utils.py
  test/test_cpu/test_gguf_format.py
  test/test_cuda/test_get_block_name.py
  test/test_cuda/test_transformers.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

clean
  auto_round/autoround.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

add ut and fix bug
  auto_round/diffusion/autoround_diffusion.py
  auto_round/diffusion/eval.py
  auto_round/script/llm.py
  auto_round/utils.py
  test/test_cuda/test_diffusion.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix llama-4 gguf
  auto_round/autoround.py
  test/test_cuda/test_transformers.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix llama4 gguf
  auto_round/special_model_handler.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

keeps the format order
  auto_round/autoround.py
  docs/mxnv_acc.md
  test/test_cpu/test_cli_usage.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

refine ut
  test/test_cpu/test_autoround.py
Due: .azure-pipelines/unit-test.yml

revert one change
  test/test_cpu/test_cli_usage.py
Due: .azure-pipelines/unit-test.yml

refine readme
  README.md
  docs/DeepSeek-R1-0528-int2-mixed-sym-inc.md
  docs/DeepSeek-R1-0528-int4-asym-awq-inc.md
  docs/DeepSeek-R1-0528-int4-sym-gptq-inc.md
  docs/Llama-2-7b-chat-hf-asym-recipe.md
  docs/Llama-3.2-11B-Vision-Instruct-sym.md
  docs/Meta-Llama-3-8B-Instruct-asym-recipe.md
  docs/Mistral-7B-Instruct-v0.2-asym-recipe.md
  docs/Mistral-7B-v0.1-asym-recipe.md
  docs/Mixtral-8x7B-Instruct-v0.1-asym-recipe.md
  docs/Mixtral-8x7B-v0.1-asym-acc.md
  docs/Phi-3.5-vision-instruct-sym.md
  docs/Qwen1.5-7B-Chat-acc.md
  docs/Qwen2-VL-7B-Instruct-sym.md
  docs/Qwen2.5-14B-Instruct-sym.md
  docs/Qwen2.5-32B-Instruct-sym.md
  docs/Qwen2.5-72B-Instruct-sym.md
  docs/Qwen2.5-7B-Instruct-sym.md
  docs/Qwen3-14B-sym-recipe.md
  docs/Qwen3-8B-sym-recipe.md
  docs/Yi-6B-Chat-asym-recipe.md
  docs/baichuan2-7b-cha-asym-recipe.md
  docs/bloom-3B-asym-recipe.md
  docs/cogvlm2-llama3-chat-19B-sym.md
  docs/falcon-7b-asym-recipe.md
  docs/gemma-2b-asym-recipe.md
  docs/gemma-7b-asym-recipe.md
  docs/gemma-7b-it-asym-recipe.md
  docs/glm-4-9b-chat-recipe.md
  docs/gpt-j-6B-asym-recipe.md
  docs/llava-v1.5-7b-sym.md
  docs/neural-chat-7b-v3-1-asym-recipe.md
  docs/neural-chat-7b-v3-3-asym-recipe.md
  docs/opt-2.7b-asym-recipe.md
  docs/paper_acc.md
  docs/phi-2-old-sym-recipe.md
Due: none

add comment
  auto_round/autoround.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

address comments
  auto_round/autoround.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

change a little
  auto_round/autoround.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

add fp8 export format check (#779)
  auto_round/autoround.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix several regressions including lm-head quantization, 3bit asym torch backend,etc (#796)
  auto_round/autoround.py
  auto_round/export/export_to_autogptq/export.py
  auto_round/inference/convert_model.py
  auto_round/script/llm.py
  auto_round/script/mllm.py
  auto_round/utils.py
  auto_round_extension/torch/qlinear_torch.py
  docs/mxnv_acc.md
  test/test_cpu/test_autoround.py
  test/test_cpu/test_autoround_acc.py
  test/test_cpu/test_cli_usage.py
  test/test_cpu/test_export.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

update
  README.md
  auto_round/schemes.py
  docs/step_by_step.md
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

Path conditions:
  .azure-pipelines/code-scan.yml: any of: auto_round, setup.py, requirements.txt, .azure-pipelines/code-scan.yml, .azure-pipelines/scripts/codeScan
  .azure-pipelines/unit-test-hpu.yml: any of: auto_round, test/test*hpu*', setup.py, requirements-lib.txt, .azure-pipelines/scripts/ut, .azure-pipelines/template/docker-template.yml, .azure-pipelines/template/ut-template.yml, but not: auto_round/export/export_to_autogptq, auto_round/export/export_to_awq, *.md, **/*.md
  .azure-pipelines/unit-test.yml: any of: auto_round, auto_round_extension, test, setup.py, requirements.txt, requirements-cpu.txt, .azure-pipelines/scripts/ut, .azure-pipelines/unit-test.yml, .azure-pipelines/template/ut-template.yml, .azure-pipelines/template/docker-template.yml, but not: test/test*hpu*, *.md, **/*.md
