Repository intel/auto-round: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

Path conditions:
  .azure-pipelines/code-scan.yml: any of: auto_round, setup.py, requirements.txt, .azure-pipelines/code-scan.yml, .azure-pipelines/scripts/codeScan
  .azure-pipelines/unit-test-hpu.yml: any of: auto_round, test/test*hpu*', setup.py, requirements-lib.txt, .azure-pipelines/scripts/ut, .azure-pipelines/template/docker-template.yml, .azure-pipelines/template/ut-template.yml, but not: auto_round/export/export_to_autogptq, auto_round/export/export_to_awq, *.md, **/*.md
  .azure-pipelines/unit-test.yml: any of: auto_round, auto_round_extension, test, setup.py, requirements.txt, requirements-cpu.txt, .azure-pipelines/scripts/ut, .azure-pipelines/unit-test.yml, .azure-pipelines/template/ut-template.yml, .azure-pipelines/template/docker-template.yml, but not: test/test*hpu*, *.md, **/*.md

fix typo
  docs/step_by_step.md
Due: none

refine readme (#798)
  README.md
  auto_round/schemes.py
  docs/DeepSeek-R1-0528-int2-mixed-sym-inc.md
  docs/DeepSeek-R1-0528-int4-asym-awq-inc.md
  docs/DeepSeek-R1-0528-int4-sym-gptq-inc.md
  docs/Llama-2-7b-chat-hf-asym-recipe.md
  docs/Llama-3.2-11B-Vision-Instruct-sym.md
  docs/Meta-Llama-3-8B-Instruct-asym-recipe.md
  docs/Mistral-7B-Instruct-v0.2-asym-recipe.md
  docs/Mistral-7B-v0.1-asym-recipe.md
  docs/Mixtral-8x7B-Instruct-v0.1-asym-recipe.md
  docs/Mixtral-8x7B-v0.1-asym-acc.md
  docs/Phi-3.5-vision-instruct-sym.md
  docs/Qwen1.5-7B-Chat-acc.md
  docs/Qwen2-VL-7B-Instruct-sym.md
  docs/Qwen2.5-14B-Instruct-sym.md
  docs/Qwen2.5-32B-Instruct-sym.md
  docs/Qwen2.5-72B-Instruct-sym.md
  docs/Qwen2.5-7B-Instruct-sym.md
  docs/Qwen3-14B-sym-recipe.md
  docs/Qwen3-8B-sym-recipe.md
  docs/Yi-6B-Chat-asym-recipe.md
  docs/baichuan2-7b-cha-asym-recipe.md
  docs/bloom-3B-asym-recipe.md
  docs/cogvlm2-llama3-chat-19B-sym.md
  docs/falcon-7b-asym-recipe.md
  docs/gemma-2b-asym-recipe.md
  docs/gemma-7b-asym-recipe.md
  docs/gemma-7b-it-asym-recipe.md
  docs/glm-4-9b-chat-recipe.md
  docs/gpt-j-6B-asym-recipe.md
  docs/llava-v1.5-7b-sym.md
  docs/neural-chat-7b-v3-1-asym-recipe.md
  docs/neural-chat-7b-v3-3-asym-recipe.md
  docs/opt-2.7b-asym-recipe.md
  docs/paper_acc.md
  docs/phi-2-old-sym-recipe.md
  docs/step_by_step.md
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix typo
  README.md
Due: none

fix cuda ut
  .azure-pipelines/scripts/ut/run_ut_cuda.sh
Due: .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix ut
  test/test_cpu/test_gguf_format.py
Due: .azure-pipelines/unit-test.yml

fix typo in readme (#799)
  README.md
Due: none

fix ut
  test/test_cpu/test_autoround_acc.py
Due: .azure-pipelines/unit-test.yml

fix several cuda ut bug (#797)
  auto_round/autoround.py
  auto_round/data_type/gguf.py
  auto_round/export/export_to_gguf/convert.py
  auto_round/special_model_handler.py
  auto_round/utils.py
  test/test_cpu/test_autoround_acc.py
  test/test_cpu/test_gguf_format.py
  test/test_cuda/test_get_block_name.py
  test/test_cuda/test_transformers.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

vlm support for scheme
  README.md
  auto_round/mllm/autoround_mllm.py
  test/test_cpu/test_scheme.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix tag
  .azure-pipelines/scripts/ut/run_ut_cuda.sh
Due: .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

enable model python files saving
  auto_round/autoround.py
  auto_round/export/export_to_autogptq/export.py
  auto_round/export/export_to_autoround/export.py
  auto_round/export/export_to_autoround/export_to_fp8.py
  auto_round/export/export_to_autoround/export_to_nvfp_mxfp.py
  auto_round/export/export_to_awq/export.py
  auto_round/export/export_to_llmcompressor/export.py
  auto_round/export/export_to_llmcompressor/export_to_fp.py
  auto_round/utils.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

enhance wfp8afp8 dtype check, refine check_compressed_tensors
  auto_round/autoround.py
  auto_round/export/export_to_llmcompressor/config.py
  auto_round/utils.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

update
  auto_round/mllm/autoround_mllm.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix
  auto_round/script/llm.py
  test/test_cuda/test_scheme.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix
  auto_round/inference/backend.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix
  auto_round/autoround.py
  auto_round/mllm/autoround_mllm.py
  test/test_cuda/test_multiple_card.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

enable model python files saving (#802)
  auto_round/autoround.py
  auto_round/export/export_to_autogptq/export.py
  auto_round/export/export_to_autoround/export.py
  auto_round/export/export_to_autoround/export_to_fp8.py
  auto_round/export/export_to_autoround/export_to_nvfp_mxfp.py
  auto_round/export/export_to_awq/export.py
  auto_round/export/export_to_llmcompressor/config.py
  auto_round/export/export_to_llmcompressor/export.py
  auto_round/export/export_to_llmcompressor/export_to_fp.py
  auto_round/utils.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

AutoRoundMLLM supports scheme and fix device_map=dict regression (#801)
  README.md
  auto_round/autoround.py
  auto_round/mllm/autoround_mllm.py
  auto_round/script/llm.py
  test/test_cpu/test_scheme.py
  test/test_cuda/test_multiple_card.py
  test/test_cuda/test_scheme.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

make scheme more robust
  auto_round/schemes.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

update readme
  README.md
Due: none

update
  README.md
Due: none

improve the robustness of scheme (#803)
  README.md
  auto_round/schemes.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix nsamples in get_dataloader
  auto_round/calib_dataset.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix cuda ut
  test/test_cuda/test_transformers.py
Due: .azure-pipelines/unit-test.yml

fix
  auto_round/autoround.py
  auto_round/script/llm.py
  auto_round/script/mllm.py
  test/test_cuda/test_transformers.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

clean
  auto_round/autoround.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

enable act quantization for mxfp datatype
  auto_round/autoround.py
  auto_round/export/export_to_autoround/export_to_nvfp_mxfp.py
  auto_round/export/export_to_autoround/qlinear_fp.py
  auto_round/export/export_to_llmcompressor/export_to_fp.py
  test/test_cpu/test_export.py
  test/test_cpu/test_scheme.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

upadate
  auto_round/script/llm.py
  auto_round/script/mllm.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

clean
  auto_round/script/llm.py
  auto_round/script/mllm.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

add ut, fixtypo
  auto_round/autoround.py
  auto_round/utils.py
  test/test_cpu/test_export.py
  test/test_cpu/test_scheme.py
  test/test_cuda/test_export.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fixtypo
  auto_round/export/export_to_autoround/export_to_nvfp_mxfp.py
  auto_round/export/export_to_autoround/qlinear_fp.py
  auto_round/export/export_to_llmcompressor/export_to_fp.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

update
  auto_round/autoround.py
  auto_round/export/export_to_autoround/__init__.py
  auto_round/export/export_to_autoround/export.py
  auto_round/inference/backend.py
  auto_round/inference/convert_model.py
  auto_round/utils.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix mxfp exporting (#806)
  auto_round/autoround.py
  auto_round/export/export_to_autoround/export_to_nvfp_mxfp.py
  auto_round/export/export_to_autoround/qlinear_fp.py
  auto_round/export/export_to_llmcompressor/export_to_fp.py
  auto_round/utils.py
  test/test_cpu/test_export.py
  test/test_cpu/test_scheme.py
  test/test_cuda/test_export.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

set use_deterministic_algorithms with warn_only=True as default
  auto_round/autoround.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix cuda ut bug of use_deterministic_algorithms (#805)
  auto_round/autoround.py
  auto_round/script/llm.py
  auto_round/script/mllm.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml
