Repository intel/auto-round: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

.azure-pipelines/code-scan.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: BanditCodeScan
    displayName: Bandit Code Scan
    dependsOn: []
    jobs:
    - job: Bandit
      displayName: Bandit
      steps:
      - template: template/code-scan-template.yml
        parameters:
          codeScanFileName: bandit
          uploadPath: bandit.log
  ...

.azure-pipelines/unit-test-hpu.yml:
  pool: GAUDI
  stages:
  - stage: Unit_test
    displayName: Unit Test
    dependsOn: []
    jobs:
    - job: null
      displayName: Unit Test
      steps:
      - template: template/ut-template.yml
        parameters:
          imageSource: pull
          dockerConfigName: commonDockerConfig
  ...

.azure-pipelines/unit-test.yml:
  pool: ICX-16C
  stages:
  - stage: Unit_test
    displayName: Unit Test
    dependsOn: []
    jobs:
    - job: null
      displayName: Unit Test
      timeoutInMinutes: 120
      strategy:
        matrix:
          part1:
            PART: 1
          part2:
            PART: 2
          part3:
            PART: 3
      steps:
  ...

refine code
  .azure-pipelines/scripts/ut/run_ut_cuda.sh
  auto_round/autoround.py
  auto_round/compressors/base.py
  auto_round/compressors/config.py
  auto_round/compressors/diffusion/compressor.py
  auto_round/compressors/diffusion/dataset.py
  auto_round/utils.py
  test/test_cuda/test_diffusion.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

add dependence
  auto_round/compressors/diffusion/eval.py
  test/test_cuda/requirements_diffusion.txt
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix tuning bug
  auto_round/compressors/base.py
  auto_round/compressors/diffusion/compressor.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

Update autoround.py
  auto_round/autoround.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

support flux
  auto_round/__init__.py
  auto_round/__main__.py
  auto_round/autoround.py
  auto_round/compressors/base.py
  auto_round/compressors/config.py
  auto_round/compressors/diffusion/__init__.py
  auto_round/compressors/diffusion/compressor.py
  auto_round/compressors/diffusion/dataset.py
  auto_round/compressors/diffusion/eval.py
  auto_round/utils.py
  test/test_cuda/test_diffusion.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

Update test_diffusion.py
  test/test_cuda/test_diffusion.py
Due: .azure-pipelines/unit-test.yml

fix ci
  auto_round/compressors/base.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix vllm backend evaluation (#872)
  auto_round/eval/eval_cli.py
  test/test_cuda/test_vllm.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix one bug
  auto_round/schemes.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix coverage
  .azure-pipelines/docker/Dockerfile.devel
  .azure-pipelines/unit-test.yml
Due: .azure-pipelines/unit-test.yml

fix
  auto_round/schemes.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix artifact
  .azure-pipelines/unit-test.yml
Due: .azure-pipelines/unit-test.yml

Fix paramter name
  auto_round/compressors/base.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

Fix act calibration bug
  auto_round/compressors/base.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix code scan
  .azure-pipelines/docker/DockerfileCodeScan.devel
Due: none

fix coverage
  .azure-pipelines/template/ut-template.yml
Due: .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

Optimize CPU unit test workflow (#881)
  .azure-pipelines/docker/Dockerfile.devel
  .azure-pipelines/docker/DockerfileCodeScan.devel
  .azure-pipelines/scripts/ut/.coverage
  .azure-pipelines/scripts/ut/collect_log.sh
  .azure-pipelines/scripts/ut/compare_coverage.sh
  .azure-pipelines/scripts/ut/run_ut.sh
  .azure-pipelines/scripts/ut/run_ut_cuda.sh
  .azure-pipelines/template/docker-template.yml
  .azure-pipelines/template/ut-template.yml
  .azure-pipelines/unit-test-hpu.yml
  .azure-pipelines/unit-test.yml
  test/test_cuda/requirements.txt
Due: .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

update version
  .pre-commit-config.yaml
Due: none

Resolving CI issues caused by incompatibility between Transformers and awq
  auto_round/inference/backend.py
  auto_round/testing_utils.py
  test/test_cuda/test_auto_round_format.py
  test/test_cuda/test_export.py
  test/test_cuda/test_main_func.py
  test/test_cuda/test_support_vlms.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix import typo
  test/test_cuda/test_support_vlms.py
Due: .azure-pipelines/unit-test.yml

better help printing information
  auto_round/__main__.py
  auto_round/eval/eval_cli.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

add ut and enhance code
  auto_round/utils.py
  test/test_cuda/test_diffusion.py
  test/test_cuda/test_get_block_name.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix
  auto_round/__main__.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

move ste from quant to round for nvfp4
  auto_round/data_type/nvfp.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix ci
  auto_round/utils.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

add gpt oss
  auto_round/modelling/__init__.py
  auto_round/modelling/gpt_oss.py
  auto_round/special_model_handler.py
  auto_round/utils.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

refine code
  auto_round/modelling/gpt_oss.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

Fix Cuda CI failures due to Transformers and AWQ incompatibility (#882)
  auto_round/inference/backend.py
  auto_round/testing_utils.py
  test/test_cuda/test_auto_round_format.py
  test/test_cuda/test_export.py
  test/test_cuda/test_main_func.py
  test/test_cuda/test_support_vlms.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

refator llama4
  auto_round/modelling/gpt_oss.py
  auto_round/modelling/llama4.py
  auto_round/special_model_handler.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

set up the first version, there are many details to be handled
  auto_round/auto_schemes/__init__.py
  auto_round/auto_schemes/gen_auto_scheme.py
  auto_round/auto_schemes/utils.py
  auto_round/compressors/base.py
  auto_round/schemes.py
  auto_round/utils.py
  test/test_cuda/test_auto_scheme.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

clean
  auto_round/modelling/gpt_oss.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix
  auto_round/modelling/llama4.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

refine code
  auto_round/modelling/llama4.py
  auto_round/special_model_handler.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

static_fp bugfix
  auto_round/export/export_to_llmcompressor/export_to_static_fp.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix one bug
  auto_round/auto_schemes/__init__.py
  auto_round/compressors/base.py
  test/test_cuda/test_auto_scheme.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

uncomment ut
  test/test_cuda/test_auto_scheme.py
Due: .azure-pipelines/unit-test.yml

rename functions
  test/test_cuda/test_auto_scheme.py
Due: .azure-pipelines/unit-test.yml

add ut
  test/test_cpu/test_autoround.py
Due: .azure-pipelines/unit-test.yml

Path conditions:
  .azure-pipelines/code-scan.yml: any of: auto_round, setup.py, requirements.txt, .azure-pipelines/code-scan.yml, .azure-pipelines/scripts/codeScan
  .azure-pipelines/unit-test-hpu.yml: any of: auto_round, test/test*hpu*', setup.py, requirements-lib.txt, .azure-pipelines/scripts/ut, .azure-pipelines/template/docker-template.yml, .azure-pipelines/template/ut-template.yml, but not: auto_round/export/export_to_autogptq, auto_round/export/export_to_awq, *.md, **/*.md
  .azure-pipelines/unit-test.yml: any of: auto_round, auto_round_extension, test, setup.py, requirements.txt, requirements-cpu.txt, .azure-pipelines/scripts/ut, .azure-pipelines/unit-test.yml, .azure-pipelines/template/ut-template.yml, .azure-pipelines/template/docker-template.yml, but not: test/test*hpu*, *.md, **/*.md
