Repository intel/auto-round: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

.azure-pipelines/code-scan.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: BanditCodeScan
    displayName: Bandit Code Scan
    dependsOn: []
    jobs:
    - job: Bandit
      displayName: Bandit
      steps:
      - template: template/code-scan-template.yml
        parameters:
          codeScanFileName: bandit
          uploadPath: bandit.log
  ...

.azure-pipelines/compatibility-test.yml:
  stages:
  - stage: null
    displayName: Compatibility Test
    dependsOn: []
    jobs:
    - job: null
      timeoutInMinutes: 20
      strategy:
        matrix:
          Python310_Linux:
            python_version: '3.10'
            vmImage: ubuntu-latest
          Python311_Linux:
            python_version: '3.11'
  ...

.azure-pipelines/unit-test-hpu.yml:
  pool: GAUDI
  stages:
  - stage: Unit_test
    displayName: Unit Test
    dependsOn: []
    jobs:
    - job: null
      displayName: Unit Test
      steps:
      - template: template/ut-template.yml
        parameters:
          imageSource: pull
          dockerConfigName: commonDockerConfig
  ...

.azure-pipelines/unit-test-xpu.yml:
  pool: B60
  stages:
  - stage: Unit_test
    displayName: Unit Test
    dependsOn: []
    jobs:
    - job: null
      displayName: Unit Test
      steps:
      - template: template/ut-template.yml
        parameters:
          dockerConfigName: commonDockerConfig
          utScriptFileName: run_ut_xpu
  ...

.azure-pipelines/unit-test.yml:
  pool: ICX-16C
  stages:
  - stage: Unit_test
    displayName: Unit Test
    dependsOn: []
    jobs:
    - job: null
      timeoutInMinutes: 120
      strategy:
        matrix:
          part1:
            PART: 1
          part2:
            PART: 2
          part3:
            PART: 3
          part4:
            PART: 4
  ...

Keep the original checkpoint key names and fix Qwen4 vLLM inference (#2327)
  README.md
  README_CN.md
  auto_round/cli/main.py
  auto_round/cli/parser.py
  auto_round/compressors/base.py
  auto_round/compressors/shard_writer.py
  auto_round/context/model.py
  auto_round/envs.py
  auto_round/export/utils.py
  auto_round/modeling/fused_moe/replace_modules.py
  auto_round/special_model_handler.py
  auto_round/utils/common.py
  auto_round/utils/disk_stream_util.py
  auto_round/utils/model.py
  docs/moe.md
  test/unit/common/utils/test_utils.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Update README.md
  README.md
Due: none

Update README.md (#2343)
  README.md
Due: none

enhance device manager
  auto_round/algorithms/transforms/hadamard/inplace/apply.py
  auto_round/algorithms/transforms/hadamard/inplace/hooks.py
  auto_round/algorithms/transforms/spinquant/preprocessor.py
  auto_round/algorithms/transforms/spinquant/training.py
  auto_round/calibration/llm.py
  auto_round/inference/convert_model.py
  auto_round/utils/common.py
  auto_round/utils/device.py
  auto_round/utils/device_manager.py
  test/unit/common/utils/test_device.py
  test/unit/common/utils/test_device_manager.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix: support list inputs in diffusion tuning cache
  auto_round/compressors/diffusion/tuning_cache.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

feat: implement resume functionality for model-free compression (#2330)
  auto_round/compressors/model_free.py
  test/unit/test_cpu/quantization/test_model_free.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

add fineweb-edu dataset as calibration bakeup
  auto_round/calib_dataset.py
  docs/step_by_step.md
  docs/step_by_step_CN.md
  test/unit/common/utils/test_calib_dataset_helpers.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix: update key cache access for compatibility with newer DynamicCache implementation
  auto_round/experimental/kv_cache.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

feat: allow resident diffusion pipelines during calibration
  README.md
  README_CN.md
  auto_round/autoround.py
  auto_round/calibration/diffusion.py
  auto_round/cli/main.py
  auto_round/cli/parser.py
  auto_round/compressors/diffusion_mixin.py
  test/unit/common/calibration/test_diffusion.py
  test/unit/common/compressors/test_diffusion_mixin.py
  test/unit/common/core/test_entry_normalization.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix: complete calibrated dual-expert Wan SVDQuant export
  B200_WAN_SVDQUANT_HANDOFF.md
  B200_WAN_SVDQUANT_HANDOFF_CN.md
  auto_round/autoround.py
  auto_round/compressors/diffusion_mixin.py
  auto_round/export/svdquant_adapters/wan.py
  scripts/launch_wan_svdquant_mxfp4_b200.sh
  scripts/quantize_wan_a14b_svdquant.py
  test/integration/test_cuda/test_wan_svdquant_roundtrip.py
  test/unit/common/compressors/test_diffusion_dual_lifecycle.py
  test/unit/common/core/test_entry_normalization.py
  test/unit/common/export/test_quantize_wan_a14b_script.py
  test/unit/common/export/test_svdquant_wan_adapter.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

feat: data-parallel block tuning via --parallel_quantization
  auto_round/algorithms/block_runner.py
  auto_round/algorithms/composer.py
  auto_round/algorithms/quantization/base.py
  auto_round/algorithms/quantization/rtn/quantizer.py
  auto_round/algorithms/quantization/sign_round/data_parallel.py
  auto_round/algorithms/quantization/sign_round/quantizer.py
  auto_round/algorithms/quantization/sign_roundv2/quantizer.py
  auto_round/cli/main.py
  auto_round/cli/parser.py
  auto_round/compressors/orchestrator.py
  auto_round/compressors/utils.py
  auto_round/envs.py
  auto_round/utils/tune_profile.py
  auto_round/wrapper.py
  docs/environments.md
  docs/environments_CN.md
  docs/step_by_step.md
  docs/step_by_step_CN.md
  test/unit/test_cpu/quantization/test_ddp_core.py
  test/unit/test_cuda/quantization/test_ddp_mirror.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix
  auto_round/utils/common.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix qwen35 regression (#2352)
  auto_round/utils/common.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix: reload Diffusers blocks from component checkpoints
  auto_round/utils/model.py
  auto_round/utils/offload.py
  test/unit/common/utils/test_offload_helpers.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix CI
  test/unit/common/utils/test_calib_dataset_helpers.py
Due: .azure-pipelines/unit-test.yml

test MALLOC_ARENA_MAX
  .azure-pipelines/scripts/performance/perf_test.sh
Due: none

fix: update conda dependencies and remove flash-attn from requirements
  .azure-pipelines/scripts/ut/run_ut_cuda.sh
  test/unit/test_cuda/requirements_vlm.txt
Due: .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix: reload Diffusers blocks from component checkpoints (#2353)
  auto_round/utils/model.py
  auto_round/utils/offload.py
  test/unit/common/utils/test_offload_helpers.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix: remove MALLOC_ARENA_MAX environment variable from setup
  .azure-pipelines/scripts/performance/perf_test.sh
Due: none

fix: update key cache access for compatibility with newer DynamicCache implementation (#2348)
  auto_round/experimental/kv_cache.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

perf: avoid unused SVD reconstruction in SVDQuant
  auto_round/algorithms/transforms/svdquant/apply.py
  auto_round/algorithms/transforms/svdquant/residual.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

perf: reuse the selected SVD driver during quantization
  auto_round/algorithms/transforms/svdquant/apply.py
  auto_round/algorithms/transforms/svdquant/residual.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

update dense s4
  auto_round_extension/ark/auto_round_kernel/__init__.py
  auto_round_extension/ark/auto_round_kernel/wrapper/include/sycl_tla_dense_woq_s4_dpas.hpp
  auto_round_extension/ark/auto_round_kernel/wrapper/include/sycl_tla_moe_prefill_s4_dpas.hpp
  auto_round_extension/ark/auto_round_kernel/wrapper/include/xpu_wrapper.hpp
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-xpu.yml

fix: initialize the SVD driver once on the quantization device
  auto_round/algorithms/transforms/svdquant/apply.py
  auto_round/algorithms/transforms/svdquant/residual.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

refactor: keep SVD driver initialization private to the transform
  auto_round/algorithms/transforms/svdquant/apply.py
  auto_round/algorithms/transforms/svdquant/residual.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix: update Python version to 3.12 and use variable for TORCH_VERSION in installation commands
  .azure-pipelines/scripts/ut/run_ut_cuda.sh
Due: .azure-pipelines/unit-test-hpu.yml

refactor: pass SVD driver and device explicitly
  auto_round/algorithms/transforms/svdquant/apply.py
  auto_round/algorithms/transforms/svdquant/residual.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

refactor: reuse the configured device for SVDQuant
  auto_round/algorithms/transforms/svdquant/apply.py
  auto_round/algorithms/transforms/svdquant/residual.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

refactor: run SVDQuant on the weight device
  auto_round/algorithms/transforms/svdquant/apply.py
  auto_round/algorithms/transforms/svdquant/residual.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix: preserve declared FP32 tensors during model dtype conversion
  auto_round/compressors/base.py
  auto_round/compressors/diffusion_mixin.py
  auto_round/context/model.py
  auto_round/utils/model.py
  test/unit/common/compressors/test_diffusion_mixin.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

update dense s4
  auto_round_extension/ark/auto_round_kernel/wrapper/include/sycl_tla_dense_woq_s4_dpas.hpp
  auto_round_extension/ark/auto_round_kernel/wrapper/include/xpu_wrapper.hpp
  auto_round_extension/ark/decode.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-xpu.yml

add decode
  auto_round_extension/ark/test/decode.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-xpu.yml

refactor: decouple datatype quantization from algorithms
  auto_round/algorithms/base.py
  auto_round/algorithms/composer.py
  auto_round/algorithms/quantization/base.py
  auto_round/algorithms/quantization/sign_round/quantizer.py
  auto_round/algorithms/quantization/sign_roundv2/__init__.py
  auto_round/algorithms/quantization/sign_roundv2/quantizer.py
  auto_round/algorithms/quantization/utils.py
  auto_round/algorithms/transforms/awq/base.py
  auto_round/algorithms/transforms/awq/qdq.py
  auto_round/algorithms/transforms/svdquant/residual.py
  auto_round/auto_scheme/delta_loss.py
  auto_round/autoround.py
  auto_round/compressors/base.py
  auto_round/compressors/compile_policy.py
  auto_round/compressors/layer_config_resolver.py
  auto_round/data_type/__init__.py
  auto_round/data_type/base.py
  auto_round/data_type/fp8.py
  auto_round/data_type/gguf.py
  auto_round/data_type/int.py
  auto_round/data_type/mxfp.py
  auto_round/data_type/nvfp.py
  auto_round/data_type/register.py
  auto_round/data_type/utils.py
  auto_round/data_type/w4fp8.py
  auto_round/schemes.py
  auto_round/wrapper.py
  test/unit/common/algorithms/test_algorithm_datatype_parity.py
  test/unit/common/data_type/__init__.py
  test/unit/common/data_type/test_quantizer_parity.py
  test/unit/common/schemes/test_auto_scheme.py
  test/unit/test_cpu/algorithms/test_awq.py
  test/unit/test_cuda/algorithms/test_alg_ext.py
  test/unit/test_cuda/algorithms/test_awq.py
  test/unit/test_xpu/algorithms/test_awq.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

simplify
  auto_round/compressors/base.py
  auto_round/compressors/compile_policy.py
  auto_round/data_type/__init__.py
  auto_round/data_type/base.py
  auto_round/data_type/fp8.py
  auto_round/data_type/gguf.py
  auto_round/data_type/int.py
  auto_round/data_type/mxfp.py
  auto_round/data_type/nvfp.py
  auto_round/data_type/w4fp8.py
  test/unit/common/data_type/test_quantizer_parity.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix: guard model dtype conversion with string type check
  auto_round/utils/model.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix: support list inputs in diffusion tuning cache (#2346)
  auto_round/compressors/diffusion/tuning_cache.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

refine fineweb calib, add more CI
  auto_round/calib_dataset.py
  test/unit/common/core/test_calib_dataset_subprocess.py
  test/unit/common/utils/test_calib_dataset_helpers.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Path conditions:
  .azure-pipelines/code-scan.yml: any of: auto_round, auto_round_extension, setup.py, requirements.txt, requirements-cpu.txt, requirements-hpu.txt, .azure-pipelines/code-scan.yml, .azure-pipelines/scripts/codeScan
  .azure-pipelines/compatibility-test.yml: any of: auto_round, auto_round_extension, setup.py, setup.cfg, requirements.txt, requirements-cpu.txt, .azure-pipelines/compatibility-test.yml, but not: *.md, **/*.md
  .azure-pipelines/unit-test-hpu.yml: any of: auto_round, test/test*hpu*', setup.py, requirements-lib.txt, .azure-pipelines/scripts/ut, .azure-pipelines/template/docker-template.yml, .azure-pipelines/template/ut-template.yml, but not: auto_round/export/export_to_autogptq, auto_round/export/export_to_awq, *.md, **/*.md
  .azure-pipelines/unit-test-xpu.yml: any of: auto_round, auto_round_extension, test/test_ark, test/test_xpu, setup.py, .azure-pipelines/template/ut-template.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/scripts/ut/run_ut_xpu.sh, but not: *.md, **/*.md
  .azure-pipelines/unit-test.yml: any of: auto_round, auto_round_extension, test, setup.py, requirements.txt, requirements-cpu.txt, .azure-pipelines/scripts/ut, .azure-pipelines/unit-test.yml, .azure-pipelines/template/ut-template.yml, .azure-pipelines/template/docker-template.yml, but not: auto_round_extension/ark, test/test_hpu, test/test_ark, test/test_xpu, *.md, **/*.md, .azure-pipelines/scripts/ut/run_ut_hpu.sh, .azure-pipelines/scripts/ut/run_ut_cuda.sh, .azure-pipelines/scripts/ut/run_ut_xpu.sh
