Repository intel/auto-round: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

Path conditions:
  .azure-pipelines/code-scan.yml: any of: auto_round, setup.py, requirements.txt, .azure-pipelines/code-scan.yml, .azure-pipelines/scripts/codeScan
  .azure-pipelines/unit-test-hpu.yml: any of: auto_round, test/test*hpu*', setup.py, requirements-hpu.txt, .azure-pipelines/scripts/ut, but not: auto_round/export/export_to_autogptq, auto_round/export/export_to_awq, *.md, **/*.md
  .azure-pipelines/unit-test.yml: any of: auto_round, auto_round_extension, test, setup.py, requirements_pt.txt, .azure-pipelines/scripts/ut

add uts for lazy and compile modes
  auto_round/utils.py
  test/_test_helpers.py
  test/conftest.py
  test/test_auto_round_hpu_only.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

update the ci
  .azure-pipelines/scripts/ut/run_ut_hpu.sh
Due: .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

update vlm test
  test_cuda/test_2_3bits.py
  test_cuda/test_vlms.py
Due: none

[HPU] Add lazy mode back (#371)
  .azure-pipelines/scripts/ut/run_ut_hpu.sh
  auto_round/utils.py
  test/_test_helpers.py
  test/conftest.py
  test/test_auto_round_hpu_only.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix save quantized
  auto_round/__main__.py
  auto_round/mllm/autoround_mllm.py
  auto_round/script/mllm.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

skip only_text_test for known supported models
  auto_round/mllm/autoround_mllm.py
  auto_round/mllm/template.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

update
  auto_round/autoround.py
  auto_round/mllm/autoround_mllm.py
  auto_round/mllm/template.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

update
  auto_round/mllm/autoround_mllm.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix bias issue in autogptq
  auto_round/export/export_to_autogptq/export.py
  auto_round/export/export_to_autoround/export.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix bias issue in autogptq (#375)
  auto_round/export/export_to_autogptq/export.py
  auto_round/export/export_to_autoround/export.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix
  auto_round/mllm/autoround_mllm.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

add ut for support vlms, include tune and infer
  test_cuda/test_support_vlms.py
Due: none

update
  test_cuda/test_support_vlms.py
Due: none

save processor automatically (#372)
  auto_round/__main__.py
  auto_round/autoround.py
  auto_round/mllm/autoround_mllm.py
  auto_round/mllm/template.py
  auto_round/script/mllm.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix
  test_cuda/test_support_vlms.py
Due: none

Add gpu ut (#370)
  test_cuda/test_2_3bits.py
  test_cuda/test_main_func.py
  test_cuda/test_multiple_card_calib.py
  test_cuda/test_support_vlms.py
  test_cuda/test_vlms.py
Due: none

fix gpu ut
  auto_round/mllm/autoround_mllm.py
  test_cuda/test_support_vlms.py
  test_cuda/test_vlms.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix
  test_cuda/test_vlms.py
Due: none

fix gpu ut (#376)
  auto_round/mllm/autoround_mllm.py
  test_cuda/test_support_vlms.py
  test_cuda/test_vlms.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix typos
  README.md
  auto_round/mllm/autoround_mllm.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix typos (#377)
  README.md
  auto_round/mllm/autoround_mllm.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

w4fp8 export
  auto_round/autoround.py
  auto_round/data_type/fp8.py
  auto_round/export/export_to_autoround/export.py
  auto_round/export/export_to_autoround/qlinear_trition_gptq.py
  auto_round/quantizer.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

bump version into v0.4.2
  README.md
  auto_round/version.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

bump version into v0.4.2 (#379)
  README.md
  auto_round/version.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix some issues
  auto_round/auto_quantizer.py
  auto_round/autoround.py
  auto_round/data_type/fp8.py
  auto_round/export/export_to_autoround/export.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

support gptq exporting
  auto_round/export/export_to_autogptq/export.py
  auto_round/export/export_to_autoround/export.py
  auto_round/export/export_to_autoround/qlinear_triton_gptq.py
  auto_round/script/llm.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

support_llava_hf_vlm_example
  auto_round/script/mllm.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

bump version to 0.4.3 and update installation instructions
  README.md
  auto_round/version.py
  requirements-cpu.txt
  setup.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

auto detect hardware
  setup.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

move pip install
  setup.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

skip import check
  auto_round/script/mllm.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix ut
  .azure-pipelines/template/ut-template.yml
Due: none

fix block_name_to_quantize, add qdq weight attr
  auto_round/export/export_to_autogptq/export.py
  auto_round/mllm/eval.py
  auto_round/quantizer.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

support_llava_hf_vlm_example (#381)
  auto_round/script/mllm.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix bias init issue
  auto_round/quantizer.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix bias init issues
  auto_round/quantizer.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fallback hymba support code
  README.md
  auto_round/quantizer.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix convert model device detect
  auto_round/auto_quantizer.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

update eval device
  auto_round/script/llm.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix duplicated block_name_to_quantize exporting in gptq format (#382)
  README.md
  auto_round/export/export_to_autogptq/export.py
  auto_round/mllm/eval.py
  auto_round/quantizer.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml
