Repository intel/auto-round: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Path conditions:
  .azure-pipelines/code-scan.yml: any of: auto_round, setup.py, requirements.txt, .azure-pipelines/code-scan.yml, .azure-pipelines/scripts/codeScan
  .azure-pipelines/compatibility-test.yml: any of: auto_round, auto_round_extension, setup.py, setup.cfg, requirements.txt, requirements-cpu.txt, .azure-pipelines/compatibility-test.yml, but not: *.md, **/*.md
  .azure-pipelines/unit-test-hpu.yml: any of: auto_round, test/test*hpu*', setup.py, requirements-lib.txt, .azure-pipelines/scripts/ut, .azure-pipelines/template/docker-template.yml, .azure-pipelines/template/ut-template.yml, but not: auto_round/export/export_to_autogptq, auto_round/export/export_to_awq, *.md, **/*.md
  .azure-pipelines/unit-test-xpu.yml: any of: auto_round/utils, auto_round_extension/ark, test/test_ark, setup.py, .azure-pipelines/template/ut-template.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/scripts/ut/run_ut_xpu.sh, but not: *.md, **/*.md
  .azure-pipelines/unit-test.yml: any of: auto_round, auto_round_extension, test, setup.py, requirements.txt, requirements-cpu.txt, .azure-pipelines/scripts/ut, .azure-pipelines/unit-test.yml, .azure-pipelines/template/ut-template.yml, .azure-pipelines/template/docker-template.yml, but not: test/test*hpu*, *.md, **/*.md

revert
  auto_round/wrapper.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix bug
  auto_round/compressors/base.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix typo
  auto_round/compressors/base.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

update
  auto_round/compressors/base.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix
  auto_round/compressors/base.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

refine log info
  auto_round/compressors/base.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

refine
  auto_round/compressors/base.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix
  auto_round/utils/device.py
  auto_round/utils/model.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

update
  auto_round/__main__.py
  auto_round/export/export_to_gguf/convert.py
  auto_round/export/export_to_gguf/packing.py
  test/helpers.py
  test/test_cpu/test_gguf_format.py
  test/test_cuda/test_gguf.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix
  test/test_cpu/test_gguf_format.py
Due: .azure-pipelines/unit-test.yml

WNA16 does not apply optimized RTN for moe layers by default (#1245)
  auto_round/compressors/base.py
  auto_round/compressors/config.py
  auto_round/utils/device.py
  auto_round/utils/model.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

codescan
  auto_round/export/export_to_gguf/convert.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix
  auto_round/compressors/base.py
  auto_round/compressors/utils.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix merge
  test/test_cpu/export/test_gguf_format.py
  test/test_cpu/utils/test_cli_usage.py
  test/test_cuda/advanced/test_multiple_card_calib.py
  test/test_cuda/export/test_gguf.py
  test/test_cuda/models/test_support_vlms.py
  test/test_cuda/utils/test_alg_ext.py
Due: .azure-pipelines/unit-test.yml

fix merge
  test/test_cuda/export/test_gguf.py
Due: .azure-pipelines/unit-test.yml

Fix low cpu speed issue (#1251)
  auto_round/compressors/base.py
  auto_round/compressors/utils.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

tmp_change
  auto_round/compressors/base.py
  auto_round/compressors/utils.py
  auto_round/export/utils.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix
  test/test_cpu/export/test_gguf_format.py
  test/test_cpu/utils/test_cli_usage.py
  test/test_cuda/advanced/test_multiple_card_calib.py
  test/test_cuda/export/test_gguf.py
  test/test_cuda/integrations/test_transformers.py
  test/test_cuda/models/test_support_vlms.py
  test/test_cuda/utils/test_alg_ext.py
Due: .azure-pipelines/unit-test.yml

feat: addded support for g2 fp8 on cpu with LUT and added a test to verify
  auto_round/utils/model.py
  test/test_cpu/core/test_autoround.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix cuda ut fail (#1237)
  auto_round/formats.py
  docs/step_by_step.md
  test/helpers.py
  test/test_cpu/export/test_gguf_format.py
  test/test_cpu/utils/test_cli_usage.py
  test/test_cuda/advanced/test_fp8_input.py
  test/test_cuda/advanced/test_multiple_card.py
  test/test_cuda/advanced/test_multiple_card_calib.py
  test/test_cuda/backends/test_marlin_backend.py
  test/test_cuda/export/test_gguf.py
  test/test_cuda/integrations/test_transformers.py
  test/test_cuda/models/test_support_vlms.py
  test/test_cuda/quantization/test_mix_bits.py
  test/test_cuda/schemes/test_scheme.py
  test/test_cuda/utils/test_alg_ext.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix import error
  test/test_cpu/export/test_gguf_format.py
Due: .azure-pipelines/unit-test.yml

modify by comment
  auto_round/__main__.py
  auto_round/export/export_to_gguf/convert.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

update ut
  .azure-pipelines/docker/Dockerfile.devel
  .azure-pipelines/scripts/ut/run_ut.sh
  .azure-pipelines/scripts/ut/run_ut_cuda.sh
  .azure-pipelines/scripts/ut/run_ut_hpu.sh
  .azure-pipelines/scripts/ut/run_ut_xpu.sh
Due: .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Add nightly release workflow
  .github/workflows/nightly-binary-release.yml
Due: none

update workflow
  .github/workflows/nightly-binary-release.yml
Due: none

fix gguf mixed
  auto_round/compressors/base.py
  auto_round/export/export_to_gguf/config.py
  auto_round/formats.py
  auto_round/schemes.py
  test/helpers.py
  test/test_cpu/export/test_gguf_format.py
  test/test_cuda/export/test_gguf.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix and update docs
  auto_round/formats.py
  docs/step_by_step.md
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

minor update
  .github/workflows/nightly-binary-release.yml
Due: none

update doc
  docs/step_by_step.md
Due: none

initial support
  auto_round/__main__.py
  auto_round/autoround.py
  auto_round/calib_dataset.py
  auto_round/compressors/vllm/__init__.py
  auto_round/compressors/vllm/compressor.py
  auto_round/compressors/vllm/dataset.py
  auto_round/utils/common.py
  auto_round/utils/model.py
  auto_round/wrapper.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

GGUF format add support for MoE models with non-linear expert layers. (#1244)
  auto_round/compressors/base.py
  auto_round/export/export_to_gguf/config.py
  auto_round/export/export_to_gguf/convert.py
  auto_round/export/export_to_gguf/packing.py
  auto_round/formats.py
  auto_round/schemes.py
  docs/step_by_step.md
  test/helpers.py
  test/test_cpu/export/test_gguf_format.py
  test/test_cuda/export/test_gguf.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix bug
  auto_round/compressors/__init__.py
  auto_round/compressors/vllm/compressor.py
  auto_round/utils/model.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

update fp8 conversion
  auto_round/utils/model.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Add nightly release workflow (#1255)
  .github/workflows/nightly-binary-release.yml
Due: none

fix syntax
  .github/workflows/nightly-binary-release.yml
Due: none
