Repository intel/auto-round: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

.azure-pipelines/code-scan.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: BanditCodeScan
    displayName: Bandit Code Scan
    dependsOn: []
    jobs:
    - job: Bandit
      displayName: Bandit
      steps:
      - template: template/code-scan-template.yml
        parameters:
          codeScanFileName: bandit
          uploadPath: bandit.log
  ...

.azure-pipelines/compatibility-test.yml:
  stages:
  - stage: null
    displayName: Compatibility Test
    dependsOn: []
    jobs:
    - job: null
      timeoutInMinutes: 20
      strategy:
        matrix:
          Python310_Linux:
            python_version: '3.10'
            vmImage: ubuntu-latest
          Python311_Linux:
            python_version: '3.11'
  ...

.azure-pipelines/unit-test-hpu.yml:
  pool: GAUDI
  stages:
  - stage: Unit_test
    displayName: Unit Test
    dependsOn: []
    jobs:
    - job: null
      displayName: Unit Test
      steps:
      - template: template/ut-template.yml
        parameters:
          imageSource: pull
          dockerConfigName: commonDockerConfig
  ...

.azure-pipelines/unit-test-xpu.yml:
  pool: B60
  stages:
  - stage: Unit_test
    displayName: Unit Test
    dependsOn: []
    jobs:
    - job: null
      displayName: Unit Test
      steps:
      - template: template/ut-template.yml
        parameters:
          dockerConfigName: commonDockerConfig
          utScriptFileName: run_ut_xpu
  ...

.azure-pipelines/unit-test.yml:
  pool: ICX-16C
  stages:
  - stage: Unit_test
    displayName: Unit Test
    dependsOn: []
    jobs:
    - job: null
      timeoutInMinutes: 120
      strategy:
        matrix:
          part1:
            PART: 1
          part2:
            PART: 2
          part3:
            PART: 3
          part4:
            PART: 4
  ...

refactor: enhance common unit test execution and logging structure
  .azure-pipelines/scripts/cuda_unit_test/run_cuda_ut.sh
  .azure-pipelines/scripts/ut/run_ut.sh
  .azure-pipelines/scripts/ut/run_ut_cuda.sh
Due: .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

refactor: remove obsolete unit tests for main module
  test/unit/common/test_main.py
Due: .azure-pipelines/unit-test.yml

refactor: remove redundant TestPatternMatcher class and update usage in TestParseLayerConfig
  test/unit/test_cpu/quantization/test_model_free.py
Due: .azure-pipelines/unit-test.yml

Fix CT export in mixed‑precision mode (#2128)
  auto_round/export/export_to_llmcompressor/export.py
  test/unit/test_cpu/export/test_llmc_signature.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

refactor: optimize expert selection and output handling in moe forward functions
  auto_round/modeling/fused_moe/moe_experts_interface.py
  auto_round/modeling/fused_moe/utils.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

refactor: remove unsupported model classes and related tests
  test/unit/common/utils/test_set_layer_config.py
Due: .azure-pipelines/unit-test.yml

refactor: enhance unit test execution by grouping common tests and improving logging
  .azure-pipelines/scripts/ut/run_ut_xpu.sh
Due: .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml

refactor: update nightly test configurations for PR-triggered runs and adjust test parts
  .azure-pipelines/nightly-test-cpu.yml
  .azure-pipelines/nightly-test-xpu.yml
Due: none

add moe prepare
  auto_round_extension/ark/auto_round_kernel/__init__.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-xpu.yml

refactor: add support for ark unit tests and improve logging structure
  .azure-pipelines/nightly-test-xpu.yml
  .azure-pipelines/scripts/ut/run_ut_xpu.sh
Due: .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml

add workaround for llmc issue and add unit tests for model_free_utils helpers (#2207)
  auto_round/utils/model_free_utils.py
  test/unit/test_cpu/quantization/test_model_free.py
  test/unit/test_cpu/utils/test_model_free_cross_shard.py
  test/unit/test_cpu/utils/test_model_free_utils.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

refactor: optimize expert selection and output handling in moe forward (#2209)
  auto_round/modeling/fused_moe/moe_experts_interface.py
  auto_round/modeling/fused_moe/utils.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Add more test cases to improve CUDA UT coverage (#2159)
  test/unit/test_cpu/models/test_cosmos3.py
  test/unit/test_cuda/algorithms/test_block_runner.py
  test/unit/test_cuda/algorithms/test_config_resolver.py
  test/unit/test_cuda/algorithms/test_sign_sgd_pipeline.py
  test/unit/test_cuda/auto_scheme/__init__.py
  test/unit/test_cuda/auto_scheme/test_auto_scheme.py
  test/unit/test_cuda/compressors/__init__.py
  test/unit/test_cuda/compressors/test_layer_config.py
  test/unit/test_cuda/data_type/__init__.py
  test/unit/test_cuda/data_type/test_ste.py
  test/unit/test_cuda/export/test_autoround_int_export.py
  test/unit/test_cuda/export/test_fp8_schemes.py
  test/unit/test_cuda/export/test_mxfp_nvfp.py
  test/unit/test_cuda/export/test_nvfp_autoround_export.py
  test/unit/test_cuda/models/test_special_model.py
  test/unit/test_cuda/quantization/test_act_quantization.py
  test/unit/test_cuda/schemes/__init__.py
  test/unit/test_cuda/schemes/test_scheme_presets.py
Due: .azure-pipelines/unit-test.yml

Simplify default calibration dataset log (#2162)
  auto_round/compressors/base.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix DiffusionCompressionOrchestrator missing nsamples (#2179)
  auto_round/compressors/diffusion_mixin.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Enable Torch compilation for throughput tests (#2181)
  test/e2e/test_cuda/test_sglang_throughput.py
  test/e2e/test_cuda/test_vllm_throughput.py
Due: .azure-pipelines/unit-test.yml

adjust lrx2 logic to fix its issue in mixed bits scenarios and add more woq support in llmc (#2164)
  auto_round/algorithms/quantization/sign_round/config.py
  auto_round/algorithms/quantization/sign_round/quantizer.py
  auto_round/auto_scheme/delta_loss.py
  auto_round/auto_scheme/utils.py
  auto_round/compressors/base.py
  auto_round/envs.py
  auto_round/export/formats/backends/llm_compressor.py
  docs/environments.md
  docs/environments_CN.md
  docs/step_by_step.md
  docs/step_by_step_CN.md
  test/unit/test_cpu/export/test_export.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Fix wan i2v pipeline (#2180)
  auto_round/calibration/diffusion.py
  test/unit/test_cpu/calibration/test_diffusion.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

For compatibility with Stable Diffusion (#2191)
  auto_round/utils/model.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

update readme (#2194)
  README.md
  README_CN.md
Due: none

Increase memory limits for the build process in the CI pipeline (#2198)
  .azure-pipelines/template/lib-build-template.yml
Due: none

Reduce SYCL-TLA Compiler Memory (#2193)
  auto_round_extension/ark/README.md
  auto_round_extension/ark/README_CN.md
  auto_round_extension/ark/auto_round_kernel/CMakeLists.txt
  auto_round_extension/ark/auto_round_kernel/ark.cpp
  auto_round_extension/ark/auto_round_kernel/sdpa.cpp
  auto_round_extension/ark/auto_round_kernel/sdpa_generation.cmake
  auto_round_extension/ark/auto_round_kernel/sdpa_kernel_instantiation.cpp.in
  auto_round_extension/ark/auto_round_kernel/sycl_tla_gemm.cpp.in
  auto_round_extension/ark/auto_round_kernel/sycl_tla_generation.cmake
  auto_round_extension/ark/auto_round_kernel/sycl_tla_moe.cpp.in
  auto_round_extension/ark/auto_round_kernel/wrapper/include/sycl_s8_wrapper.hpp
  auto_round_extension/ark/auto_round_kernel/wrapper/include/sycl_tla_common.hpp
  auto_round_extension/ark/auto_round_kernel/wrapper/include/sycl_tla_dense_gemm.hpp
  auto_round_extension/ark/auto_round_kernel/wrapper/include/sycl_tla_dense_gemm_helpers.hpp
  auto_round_extension/ark/auto_round_kernel/wrapper/include/sycl_tla_moe.hpp
  auto_round_extension/ark/auto_round_kernel/wrapper/include/sycl_tla_moe_decode.hpp
  auto_round_extension/ark/auto_round_kernel/wrapper/include/sycl_tla_moe_mixed.hpp
  auto_round_extension/ark/auto_round_kernel/wrapper/include/sycl_tla_moe_prefill_fp8_dpas.hpp
  auto_round_extension/ark/auto_round_kernel/wrapper/include/sycl_tla_moe_prefill_fp8_helpers.hpp
  auto_round_extension/ark/auto_round_kernel/wrapper/include/sycl_tla_moe_prefill_fp8_tensor_helpers.hpp
  auto_round_extension/ark/auto_round_kernel/wrapper/include/sycl_tla_moe_prefill_int8_helpers.hpp
  auto_round_extension/ark/auto_round_kernel/wrapper/include/sycl_tla_moe_prefill_int_dpas.hpp
  auto_round_extension/ark/auto_round_kernel/wrapper/include/sycl_tla_moe_prefill_int_tensor_helpers.hpp
  auto_round_extension/ark/auto_round_kernel/wrapper/include/sycl_tla_moe_prefill_s4_dpas.hpp
  auto_round_extension/ark/auto_round_kernel/wrapper/include/sycl_tla_moe_prefill_s4_helpers.hpp
  auto_round_extension/ark/auto_round_kernel/wrapper/include/sycl_tla_moe_prefill_upcast.hpp
  auto_round_extension/ark/auto_round_kernel/wrapper/include/sycl_tla_s8_gemm.hpp
  auto_round_extension/ark/auto_round_kernel/wrapper/include/sycl_tla_s8_gemm_fixed.hpp
  auto_round_extension/ark/auto_round_kernel/wrapper/include/sycl_tla_s8_gemm_helpers.hpp
  auto_round_extension/ark/auto_round_kernel/wrapper/include/sycl_tla_sdpa.hpp
  auto_round_extension/ark/auto_round_kernel/wrapper/include/xpu_wrapper.hpp
  auto_round_extension/ark/setup.py
  auto_round_extension/ark/test/test_ark_cpu_mixed_bestla_sdpa.py
  auto_round_extension/ark/tools/analyze_sycl_tla_templates.py
  auto_round_extension/ark/tools/measure_sycl_tla_compile_memory.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-xpu.yml

support model_type == "inkling_mm_model"
  auto_round/utils/missing_tensors.py
  auto_round/utils/model_free_utils.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

refine opt_rtn setting, fix comments
  auto_round/algorithms/transforms/awq/config.py
  auto_round/autoround.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

add awq benchmark details, refine docs
  README.md
  README_CN.md
  docs/awq_details.md
  docs/awq_details_CN.md
  docs/step_by_step.md
  docs/step_by_step_CN.md
Due: none

fix
  docs/awq_details.md
  docs/awq_details_CN.md
Due: none

remove ut directory.
  test/unit/test_xpu/transform/__init__.py
  test/unit/test_xpu/transform/test_hadamard.py
  test/unit/test_xpu/transform/test_spinquant.py
Due: .azure-pipelines/unit-test.yml

fix
  auto_round/algorithms/block_runner.py
  auto_round/special_model_handler.py
  test/unit/common/quantization/test_model_free.py
  test/unit/common/schemes/test_scheme.py
  test/unit/common/utils/test_device.py
  test/unit/common/utils/test_device_manager.py
  test/unit/common/utils/test_generation.py
  test/unit/test_cpu/algorithms/test_awq.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

opt the performance
  auto_round_extension/ark/auto_round_kernel/wrapper/include/sycl_tla_moe.hpp
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-xpu.yml

cherry-pick 1d05046319991552f0c0de42876ed811573cf452 & a2c27b019160781425ab45fa0c59a86bb32020bf
  auto_round/compressors/model_free.py
  test/unit/test_cpu/quantization/test_model_free.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Add v0.15.0rc branch to PR triggers in pipeline configurations
  .azure-pipelines/ark-unit-test.yml
  .azure-pipelines/code-scan.yml
  .azure-pipelines/compatibility-test.yml
  .azure-pipelines/nightly-test-cpu.yml
  .azure-pipelines/nightly-test-xpu.yml
  .azure-pipelines/performance-test.yaml
  .azure-pipelines/unit-test-cuda.yml
  .azure-pipelines/unit-test-hpu.yml
  .azure-pipelines/unit-test-xpu.yml
  .azure-pipelines/unit-test.yml
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Path conditions:
  .azure-pipelines/code-scan.yml: any of: auto_round, auto_round_extension, setup.py, requirements.txt, requirements-cpu.txt, requirements-hpu.txt, .azure-pipelines/code-scan.yml, .azure-pipelines/scripts/codeScan
  .azure-pipelines/compatibility-test.yml: any of: auto_round, auto_round_extension, setup.py, setup.cfg, requirements.txt, requirements-cpu.txt, .azure-pipelines/compatibility-test.yml, but not: *.md, **/*.md
  .azure-pipelines/unit-test-hpu.yml: any of: auto_round, test/test*hpu*', setup.py, requirements-lib.txt, .azure-pipelines/scripts/ut, .azure-pipelines/template/docker-template.yml, .azure-pipelines/template/ut-template.yml, but not: auto_round/export/export_to_autogptq, auto_round/export/export_to_awq, *.md, **/*.md
  .azure-pipelines/unit-test-xpu.yml: any of: auto_round, auto_round_extension, test/test_ark, test/test_xpu, setup.py, .azure-pipelines/template/ut-template.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/scripts/ut/run_ut_xpu.sh, but not: *.md, **/*.md
  .azure-pipelines/unit-test.yml: any of: auto_round, auto_round_extension, test, setup.py, requirements.txt, requirements-cpu.txt, .azure-pipelines/scripts/ut, .azure-pipelines/unit-test.yml, .azure-pipelines/template/ut-template.yml, .azure-pipelines/template/docker-template.yml, but not: auto_round_extension/ark, test/test_hpu, test/test_ark, test/test_xpu, *.md, **/*.md, .azure-pipelines/scripts/ut/run_ut_hpu.sh, .azure-pipelines/scripts/ut/run_ut_cuda.sh, .azure-pipelines/scripts/ut/run_ut_xpu.sh
