Repository intel/auto-round: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

.azure-pipelines/code-scan.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: BanditCodeScan
    displayName: Bandit Code Scan
    dependsOn: []
    jobs:
    - job: Bandit
      displayName: Bandit
      steps:
      - template: template/code-scan-template.yml
        parameters:
          codeScanFileName: bandit
          uploadPath: bandit.log
  ...

.azure-pipelines/unit-test-hpu.yml:
  pool: GAUDI
  stages:
  - stage: Unit_test
    displayName: Unit Test
    dependsOn: []
    jobs:
    - job: null
      displayName: Unit Test
      steps:
      - template: template/ut-template.yml
        parameters:
          imageSource: pull
          dockerConfigName: commonDockerConfig
  ...

.azure-pipelines/unit-test.yml:
  pool: ICX-16C
  stages:
  - stage: Unit_test
    displayName: Unit Test
    dependsOn: []
    jobs:
    - job: null
      displayName: Unit Test
      steps:
      - template: template/ut-template.yml
        parameters:
          dockerConfigName: commonDockerConfig
          utScriptFileName: run_ut
  ...

fix block name api
  test/test_block_names.py
  test_cuda/test_vlms.py
Due: .azure-pipelines/unit-test.yml

set eval_bs to auto
  auto_round/script/llm.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

add group_size divisible check in backend (#512)
  auto_round/inference/backend.py
  auto_round/script/llm.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

add support matrix
  auto_round/mllm/README.md
  auto_round/mllm/processor.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

clean
  auto_round/mllm/README.md
  auto_round/mllm/processor.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

support for more vlms (#390)
  auto_round/autoround.py
  auto_round/export/export_to_autoround/export.py
  auto_round/mllm/README.md
  auto_round/mllm/autoround_mllm.py
  auto_round/mllm/mllm_dataset.py
  auto_round/mllm/processor.py
  auto_round/mllm/template.py
  auto_round/mllm/templates/default.json
  auto_round/mllm/templates/mllama.json
  auto_round/mllm/templates/phi3_v.json
  auto_round/mllm/templates/qwen2_vl.json
  auto_round/script/llm.py
  auto_round/script/mllm.py
  auto_round/special_model_handler.py
  auto_round/utils.py
  test/test_block_names.py
  test/test_mllm.py
  test_cuda/test_vlms.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix bs!=1 for gemma and MiniMax-Text-01
  README.md
  auto_round/autoround.py
  auto_round/special_model_handler.py
  auto_round/utils.py
  auto_round_extension/cuda/triton_utils/dequant.py
  auto_round_extension/cuda/triton_utils_zp/dequant.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

rm verbose to align with torch 2.7
  auto_round/autoround.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

refine and rm gpu installation
  README.md
  auto_round/utils.py
  requirements-gpu.txt
  setup.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

patch for vlm
  README.md
  auto_round/autoround.py
  auto_round/mllm/README.md
  auto_round/mllm/autoround_mllm.py
  test/test_mllm.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix merge
  test/test_mllm.py
Due: .azure-pipelines/unit-test.yml

remove load str
  auto_round/autoround.py
  auto_round/mllm/autoround_mllm.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

add readme
  README.md
  auto_round/mllm/README.md
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test.yml

update
  README.md
  auto_round/autoround.py
  auto_round/mllm/README.md
  auto_round/mllm/autoround_mllm.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

update
  README.md
Due: none

add regex support in layer_config setting
  auto_round/autoround.py
  auto_round/export/export_to_autogptq/export.py
  auto_round/export/export_to_awq/export.py
  test/test_autoround.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

move gguf test to cuda
  test_cuda/test_gguf_format.py
Due: none

format
  auto_round/autoround.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

update
  test/test_block_names.py
  test/test_gguf_format.py
Due: .azure-pipelines/unit-test.yml

move gguf-dq test to cuda (#520)
  test/test_block_names.py
  test_cuda/test_gguf_format.py
Due: .azure-pipelines/unit-test.yml

update
  README.md
  auto_round/mllm/README.md
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test.yml

fix bs!=1 for gemma and MiniMax-Text-01 (#515)
  README.md
  auto_round/autoround.py
  auto_round/special_model_handler.py
  auto_round/utils.py
  auto_round_extension/cuda/triton_utils/dequant.py
  auto_round_extension/cuda/triton_utils_zp/dequant.py
  requirements-gpu.txt
  setup.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix ut
  test/test_gguf_format.py
Due: .azure-pipelines/unit-test.yml

add regex support in layer_config setting (#519)
  auto_round/autoround.py
  auto_round/export/export_to_autogptq/export.py
  auto_round/export/export_to_awq/export.py
  test/test_autoround.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

patch for vlm (#518)
  README.md
  auto_round/autoround.py
  auto_round/mllm/README.md
  auto_round/mllm/autoround_mllm.py
  test/test_gguf_format.py
  test/test_mllm.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

rename backend
  auto_round/export/export_to_autoround/export.py
  auto_round/inference/auto_quantizer.py
  auto_round/inference/convert_model.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix
  auto_round/inference/backend.py
  auto_round/inference/convert_model.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix issue
  auto_round/inference/convert_model.py
  test/test_autoround.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

rename backend to packing_format in config.json (#521)
  auto_round/export/export_to_autoround/export.py
  auto_round/inference/auto_quantizer.py
  auto_round/inference/backend.py
  auto_round/inference/convert_model.py
  test/test_autoround.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

enable llama4 int8 quantization baseline
  auto_round/autoround.py
  auto_round/data_type/int.py
  auto_round/script/mllm.py
  auto_round/special_model_handler.py
  auto_round/utils.py
  auto_round/wrapper.py
  run_llama4_quant.sh
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

add save config
  auto_round/utils.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fixtypo
  auto_round/utils.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix examples model_dtype
  auto_round/script/llm.py
  auto_round/script/mllm.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix examples model_dtype (#523)
  auto_round/script/llm.py
  auto_round/script/mllm.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

update convert hf to gguf to support more models
  auto_round/export/export_to_gguf/convert.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix
  auto_round/export/export_to_gguf/convert.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

code scan
  auto_round/export/export_to_gguf/convert.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

rm fp16 export in autoround format
  auto_round/export/export_to_autoround/export.py
  auto_round/inference/backend.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

Path conditions:
  .azure-pipelines/code-scan.yml: any of: auto_round, setup.py, requirements.txt, .azure-pipelines/code-scan.yml, .azure-pipelines/scripts/codeScan
  .azure-pipelines/unit-test-hpu.yml: any of: auto_round, test/test*hpu*', setup.py, requirements-hpu.txt, .azure-pipelines/scripts/ut, but not: auto_round/export/export_to_autogptq, auto_round/export/export_to_awq, *.md, **/*.md
  .azure-pipelines/unit-test.yml: any of: auto_round, auto_round_extension, test, setup.py, requirements_pt.txt, .azure-pipelines/scripts/ut
