Repository intel/auto-round: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

Path conditions:
  .azure-pipelines/code-scan.yml: any of: auto_round, setup.py, requirements.txt, .azure-pipelines/code-scan.yml, .azure-pipelines/scripts/codeScan
  .azure-pipelines/compatibility-test.yml: any of: auto_round, auto_round_extension, setup.py, setup.cfg, requirements.txt, requirements-cpu.txt, .azure-pipelines/compatibility-test.yml, but not: *.md, **/*.md
  .azure-pipelines/unit-test-hpu.yml: any of: auto_round, test/test*hpu*', setup.py, requirements-lib.txt, .azure-pipelines/scripts/ut, .azure-pipelines/template/docker-template.yml, .azure-pipelines/template/ut-template.yml, but not: auto_round/export/export_to_autogptq, auto_round/export/export_to_awq, *.md, **/*.md
  .azure-pipelines/unit-test.yml: any of: auto_round, auto_round_extension, test, setup.py, requirements.txt, requirements-cpu.txt, .azure-pipelines/scripts/ut, .azure-pipelines/unit-test.yml, .azure-pipelines/template/ut-template.yml, .azure-pipelines/template/docker-template.yml, but not: test/test*hpu*, *.md, **/*.md

update gguf alg ext (#1026)
  README.md
  auto_round/alg_ext.abi3.so
  auto_round/compressors/base.py
  auto_round/data_type/int.py
  auto_round/data_type/utils.py
  docs/gguf_alg_ext_acc.md
  test/test_cpu/test_autoround.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

update readme
  README.md
Due: none

refine readme
  README.md
Due: none

refine
  auto_round/export/export_to_gguf/packing.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

optimize vram for gguf and add momentum (#1031)
  README.md
  auto_round/__main__.py
  auto_round/compressors/base.py
  auto_round/data_type/gguf.py
  auto_round/data_type/int.py
  auto_round/export/export_to_awq/utils.py
  auto_round/export/export_to_gguf/packing.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

add eval cmd
  inc_examples/README.md
  inc_examples/run_eval.sh
  inc_examples/run_evaluation.sh
Due: none

remove examples
  inc_examples/README.md
  inc_examples/generate.py
  inc_examples/quantize.py
  inc_examples/run_eval.sh
  inc_examples/run_evaluation.sh
  inc_examples/run_gen.sh
  inc_examples/run_generate.sh
  inc_examples/run_quant.sh
Due: none

enable compile for hpu
  auto_round/compressors/base.py
  auto_round/utils/device.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix incorrect model name
  docs/alg_202508.md
Due: none

fix incorrect model name (#1035)
  docs/alg_202508.md
Due: none

Bump into v0.9.0 (#1024)
  README.md
Due: none

compile rtn
  auto_round/compressors/base.py
  auto_round/data_type/fp8.py
  auto_round/utils/device.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

add cmd
  run_quant.sh
Due: none

add replace lm-head
  auto_round/compressors/base.py
  auto_round/export/export_to_autoround/export.py
  auto_round/replace_lm_head.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix regression
  auto_round/compressors/base.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

update
  auto_round/compressors/base.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix mxfp4
  auto_round_extension/vllm_ext/moe_impl_mxfp4.py
Due: .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test.yml

add readme
  auto_round_extension/vllm_ext/README.md
Due: none

fix
  auto_round_extension/vllm_ext/README.md
Due: none

fix accuracy regression (#1041)
  auto_round/compressors/base.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix shape
  auto_round/experimental/attention.py
  auto_round/experimental/kv_cache.py
  auto_round/utils/common.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

udapte cmd
  auto_round/compressors/base.py
  auto_round/compressors/utils.py
  run_quant.sh
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

add environment.md and remove AutoRoundMLLM usage in readme
  README.md
  auto_round/envs.py
  docs/environments.md
  docs/step_by_step.md
  docs/tips_and_tricks.md
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

reduce vram
  auto_round/compressors/base.py
  auto_round/data_type/gguf.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

update
  auto_round/compressors/base.py
  auto_round/data_type/gguf.py
  auto_round/export/export_to_gguf/packing.py
  auto_round/utils/common.py
  auto_round/wrapper.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

Update docs/environments.md
  docs/environments.md
Due: none

update per review comments
  README.md
  docs/environments.md
  docs/step_by_step.md
Due: none

add trace
  README.md
Due: none

fix atten
  auto_round/__main__.py
  auto_round/data_type/fp8.py
  auto_round/data_type/utils.py
  auto_round/experimental/attention.py
  auto_round/experimental/kv_cache.py
  auto_round/experimental/utils.py
  auto_round/utils/model.py
  run_quant.sh
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

tmp
  auto_round/compressors/base.py
  auto_round/experimental/attention.py
  auto_round/experimental/kv_cache.py
  auto_round/experimental/utils.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

update
  README.md
  auto_round/compressors/base.py
  auto_round/export/export_to_gguf/convert.py
  auto_round/export/export_to_gguf/export.py
  auto_round/export/export_to_gguf/packing.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix bug
  auto_round/utils/device.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

update
  auto_round/compressors/base.py
  auto_round/data_type/gguf.py
  auto_round/data_type/int.py
  auto_round/export/export_to_gguf/packing.py
  auto_round/utils/device.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

git push
  auto_round/utils/device.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix accuracy bug
  auto_round/export/export_to_gguf/packing.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml
