Repository intel/auto-round: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Path conditions:
  .azure-pipelines/code-scan.yml: any of: auto_round, auto_round_extension, setup.py, requirements.txt, requirements-cpu.txt, requirements-hpu.txt, .azure-pipelines/code-scan.yml, .azure-pipelines/scripts/codeScan
  .azure-pipelines/compatibility-test.yml: any of: auto_round, auto_round_extension, setup.py, setup.cfg, requirements.txt, requirements-cpu.txt, .azure-pipelines/compatibility-test.yml, but not: *.md, **/*.md
  .azure-pipelines/unit-test-hpu.yml: any of: auto_round, test/test*hpu*', setup.py, requirements-lib.txt, .azure-pipelines/scripts/ut, .azure-pipelines/template/docker-template.yml, .azure-pipelines/template/ut-template.yml, but not: auto_round/export/export_to_autogptq, auto_round/export/export_to_awq, *.md, **/*.md
  .azure-pipelines/unit-test-xpu.yml: any of: auto_round, auto_round_extension, test/test_ark, test/test_xpu, setup.py, .azure-pipelines/template/ut-template.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/scripts/ut/run_ut_xpu.sh, but not: *.md, **/*.md
  .azure-pipelines/unit-test.yml: any of: auto_round, auto_round_extension, test, setup.py, requirements.txt, requirements-cpu.txt, .azure-pipelines/scripts/ut, .azure-pipelines/unit-test.yml, .azure-pipelines/template/ut-template.yml, .azure-pipelines/template/docker-template.yml, but not: auto_round_extension/ark, test/test_hpu, test/test_ark, test/test_xpu, *.md, **/*.md, .azure-pipelines/scripts/ut/run_ut_hpu.sh, .azure-pipelines/scripts/ut/run_ut_cuda.sh, .azure-pipelines/scripts/ut/run_ut_xpu.sh

update llama-cpp-python installation for CUDA CI (#1907)
  .azure-pipelines/scripts/cuda_unit_test/run_cuda_ut.sh
  .azure-pipelines/scripts/ut/collect_result.py
  .azure-pipelines/scripts/ut/run_ut_cuda.sh
Due: .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix gguf opt-rtn regression (#1905)
  auto_round/export/export_to_gguf/convert.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix: guard zero-division in GGUF quant kernels to avoid NaN block scales (#1909)
  auto_round/export/export_to_gguf/packing.py
  test/test_cpu/export/test_gguf_format.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fallback compute type on b70 if needed (#1904)
  auto_round_extension/ark/auto_round_kernel/qlinear.py
  auto_round_extension/ark/auto_round_kernel/utils.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-xpu.yml

[ARK] update README (#1906)
  auto_round_extension/ark/README.md
Due: .azure-pipelines/code-scan.yml

bump auto-round-lib patch release version
  auto_round_extension/ark/auto_round_kernel/version.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-xpu.yml

fix inplace rotation issue (#1903)
  auto_round/__main__.py
  auto_round/algorithms/transforms/rotation/config.py
  auto_round/algorithms/transforms/rotation/dispatcher.py
  auto_round/algorithms/transforms/rotation/inplace/apply.py
  auto_round/compressors/base.py
  auto_round/compressors/entry.py
  auto_round/schemes.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix awq cuda CI
  test/test_cuda/algorithms/test_awq.py
Due: .azure-pipelines/unit-test.yml

revert typo
  test/test_cuda/algorithms/test_awq.py
Due: .azure-pipelines/unit-test.yml

enable clamp for model free
  auto_round/compressors/model_free.py
  test/test_cpu/quantization/test_model_free.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

refine CI generate case
  test/test_cuda/algorithms/test_awq.py
Due: .azure-pipelines/unit-test.yml

adjust embedding logic
  auto_round/auto_scheme/delta_loss.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

update
  auto_round/auto_scheme/delta_loss.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

save some memory
  auto_round/auto_scheme/delta_loss.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix awq cuda CI (#1912)
  test/test_cuda/algorithms/test_awq.py
Due: .azure-pipelines/unit-test.yml

[ARK] Add sparse Sage kernel and preprocess path
  auto_round_extension/ark/auto_round_kernel/__init__.py
  auto_round_extension/ark/auto_round_kernel/ark.cpp
  auto_round_extension/ark/auto_round_kernel/sdpa.cpp
  auto_round_extension/ark/auto_round_kernel/sparge_preprocess_triton.py
  auto_round_extension/ark/auto_round_kernel/wrapper/include/stla/xe_sage_fwd_kernel.hpp
  auto_round_extension/ark/auto_round_kernel/wrapper/include/stla/xe_sagev1_fwd_mainloop.hpp
  auto_round_extension/ark/auto_round_kernel/wrapper/include/stla/xe_sparse_sagev1_fwd_mainloop.hpp
  auto_round_extension/ark/auto_round_kernel/wrapper/include/sycl_tla_common.hpp
  auto_round_extension/ark/auto_round_kernel/wrapper/include/sycl_tla_sdpa.hpp
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-xpu.yml

[ARK] Add sparse attention tests and benchmark
  auto_round_extension/ark/auto_round_kernel/wrapper/test/test_sage_sparse_prefill_e2e.py
  auto_round_extension/ark/auto_round_kernel/wrapper/test/test_sdpa.hpp
  auto_round_extension/ark/auto_round_kernel/wrapper/test/test_sparge_decode_topk_e2e.py
  auto_round_extension/ark/auto_round_kernel/wrapper/test/test_sparge_preprocess_topk_e2e.py
  auto_round_extension/ark/test/bench_sparse_topk.py
  auto_round_extension/ark/test/test_qwen_sparse_decode_e2e.py
  auto_round_extension/ark/test/test_qwen_sparse_prefill_e2e.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-xpu.yml

[ARK] Add sparse attention design and status docs
  auto_round_extension/ark/auto_round_kernel/SAGE_ATTENTION_NOTE.md
  auto_round_extension/ark/auto_round_kernel/docs/README.md
  auto_round_extension/ark/auto_round_kernel/docs/SAGE_MAINLOOP_BODY_DIAGRAM.html
  auto_round_extension/ark/auto_round_kernel/docs/SPARGE_ARK_XPU_INTEGRATION_PLAN.md
  auto_round_extension/ark/auto_round_kernel/docs/SPARGE_PREPROCESS_PORT_PLAN.md
  auto_round_extension/ark/auto_round_kernel/docs/SPARSE_PREFETCH_NOTES.md
  auto_round_extension/ark/auto_round_kernel/docs/SPARSE_SAGE_CAUSAL_PREFILL_PLAN.md
  auto_round_extension/ark/auto_round_kernel/docs/SPARSE_SAGE_DECODE_PLAN.md
  auto_round_extension/ark/auto_round_kernel/docs/SPARSE_SAGE_KERNEL_FIX_PLAN.md
  auto_round_extension/ark/auto_round_kernel/docs/SPARSE_SAGE_KERNEL_STATUS.md
  auto_round_extension/ark/auto_round_kernel/docs/SPARSE_SAGE_PREFILL_PARTIAL_E2E_PLAN.md
  auto_round_extension/ark/auto_round_kernel/docs/SPARSE_TOPK_BENCH_PLAN.md
  auto_round_extension/ark/auto_round_kernel/docs/WAN_SPARSE_ATTENTION_PLAN.md
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-xpu.yml

[ARK] Add Wan and Flux sparse attention demos
  auto_round_extension/ark/auto_round_kernel/flux_sparse_patch.py
  auto_round_extension/ark/auto_round_kernel/run_flux.py
  auto_round_extension/ark/auto_round_kernel/run_spa.sh
  auto_round_extension/ark/auto_round_kernel/run_wan.py
  auto_round_extension/ark/auto_round_kernel/wan_sparse_patch.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-xpu.yml

[ARK] Add XPU sparse kernel benchmark harness
  auto_round_extension/ark/auto_round_kernel/CMakeLists.txt
  auto_round_extension/ark/auto_round_kernel/compat/include/oneapi/mkl/rng/device.hpp
  auto_round_extension/ark/auto_round_kernel/docs/SPARSE_KERNEL_BENCH_PLAN.md
  auto_round_extension/ark/auto_round_kernel/wrapper/test/bench_sparse_kernel.cpp
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-xpu.yml

[ARK] Use copy-based sparse Sage mainloop baseline
  auto_round_extension/ark/auto_round_kernel/wrapper/include/stla/xe_sagev1_fwd_mainloop.hpp
  auto_round_extension/ark/auto_round_kernel/wrapper/include/stla/xe_sparse_sagev1_fwd_mainloop.hpp
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-xpu.yml

[ARK] Update sparse kernel status and prefetch notes
  auto_round_extension/ark/auto_round_kernel/docs/README.md
  auto_round_extension/ark/auto_round_kernel/docs/SPARSE_PREFETCH_NOTES.md
  auto_round_extension/ark/auto_round_kernel/docs/SPARSE_SAGE_KERNEL_STATUS.md
Due: .azure-pipelines/code-scan.yml

add type annotation
  auto_round/algorithms/base.py
  auto_round/algorithms/pipeline.py
  auto_round/algorithms/quantization/adam_round/adam.py
  auto_round/algorithms/quantization/base.py
  auto_round/algorithms/quantization/config.py
  auto_round/algorithms/quantization/rtn/config.py
  auto_round/algorithms/quantization/rtn/quantizer.py
  auto_round/algorithms/quantization/sign_round/config.py
  auto_round/algorithms/quantization/sign_round/quantizer.py
  auto_round/algorithms/quantization/sign_round/sign_sgd.py
  auto_round/algorithms/quantization/sign_roundv2/quantizer.py
  auto_round/algorithms/transforms/awq/config.py
  auto_round/algorithms/transforms/awq/quantizer.py
  auto_round/algorithms/transforms/quarot/config.py
  auto_round/algorithms/transforms/quarot/inplace/apply.py
  auto_round/algorithms/transforms/quarot/inplace/hooks.py
  auto_round/algorithms/transforms/spinquant/cayley_optimizer.py
  auto_round/algorithms/transforms/spinquant/monkeypatch.py
  auto_round/algorithms/transforms/spinquant/preprocessor.py
  auto_round/algorithms/transforms/spinquant/rotation_utils.py
  auto_round/algorithms/transforms/spinquant/training.py
  auto_round/autoround.py
  auto_round/cli/main.py
  auto_round/compressors/base.py
  auto_round/compressors/data_driven.py
  auto_round/compressors/diffusion/dataset.py
  auto_round/compressors/diffusion_mixin.py
  auto_round/compressors/entry.py
  auto_round/compressors/mllm/dataset.py
  auto_round/compressors/mllm/processor.py
  auto_round/compressors/mllm_mixin.py
  auto_round/compressors/model_free.py
  auto_round/compressors/shard_writer.py
  auto_round/compressors/zero_shot.py
  auto_round/context/base.py
  auto_round/context/compress.py
  auto_round/context/model.py
  test/test_cpu/core/test_pipeline_fail_fast.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

rm clear memory to speedup
  auto_round/auto_scheme/delta_loss.py
  auto_round/auto_scheme/gen_auto_scheme.py
  auto_round/utils/device_manager.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

rm clear memory to speedup
  auto_round/auto_scheme/gen_auto_scheme.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix: enhance log analysis and coverage reporting in CUDA tests
  .azure-pipelines/scripts/ut/collect_result.py
  .azure-pipelines/scripts/ut/run_ut_cuda.sh
  test/test_cuda/integrations/test_vllm.py
Due: .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

enable MXFP clamp for model free (#1914)
  auto_round/compressors/model_free.py
  test/test_cpu/quantization/test_model_free.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Add MXFP quantization tests and configuration handling
  auto_round/compressors/model_free.py
  test/test_cpu/quantization/test_model_free.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

adjust
  auto_round/auto_scheme/delta_loss.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix
  auto_round/auto_scheme/delta_loss.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix: update coverage path in unit test scripts for consistency
  .azure-pipelines/scripts/ut/run_ut_cuda.sh
Due: .azure-pipelines/unit-test-hpu.yml

performance
  auto_round/compressors/data_driven.py
  test/test_cpu/core/test_hpu_clear_memory.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

performance
  auto_round/compressors/data_driven.py
  test/test_cpu/core/test_awq_autoround_smoke.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix
  auto_round/experimental/apply_rotation_transform.py
  auto_round/experimental/utils.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix import
  auto_round/experimental/utils.py
  test/test_cpu/core/test_awq_autoround_smoke.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml
