Repository intel/auto-round: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

.azure-pipelines/code-scan.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: BanditCodeScan
    displayName: Bandit Code Scan
    dependsOn: []
    jobs:
    - job: Bandit
      displayName: Bandit
      steps:
      - template: template/code-scan-template.yml
        parameters:
          codeScanFileName: bandit
          uploadPath: bandit.log
  ...

.azure-pipelines/compatibility-test.yml:
  stages:
  - stage: null
    displayName: Compatibility Test
    dependsOn: []
    jobs:
    - job: null
      timeoutInMinutes: 20
      strategy:
        matrix:
          Python310_Linux:
            python_version: '3.10'
            vmImage: ubuntu-latest
          Python311_Linux:
            python_version: '3.11'
  ...

.azure-pipelines/unit-test-hpu.yml:
  pool: GAUDI
  stages:
  - stage: Unit_test
    displayName: Unit Test
    dependsOn: []
    jobs:
    - job: null
      displayName: Unit Test
      steps:
      - template: template/ut-template.yml
        parameters:
          imageSource: pull
          dockerConfigName: commonDockerConfig
  ...

.azure-pipelines/unit-test-xpu.yml:
  pool: B60
  stages:
  - stage: Unit_test
    displayName: Unit Test
    dependsOn: []
    jobs:
    - job: null
      displayName: Unit Test
      steps:
      - template: template/ut-template.yml
        parameters:
          dockerConfigName: commonDockerConfig
          utScriptFileName: run_ut_xpu
  ...

.azure-pipelines/unit-test.yml:
  pool: ICX-16C
  stages:
  - stage: Unit_test
    displayName: Unit Test
    dependsOn: []
    jobs:
    - job: null
      timeoutInMinutes: 120
      strategy:
        matrix:
          part1:
            PART: 1
          part2:
            PART: 2
          part3:
            PART: 3
          part4:
            PART: 4
  ...

reduce cpu test chunks
  .azure-pipelines/nightly-test-cpu.yml
  .azure-pipelines/scripts/ut/run_ut.sh
  .azure-pipelines/unit-test.yml
Due: .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

remove model free test case
  test/unit/test_cpu/core/test_init.py
Due: .azure-pipelines/unit-test.yml

test: skip HPU FP8 test with transformers 5.16.x (#2247)
  test/unit/test_hpu/test_quant_fp8.py
Due: .azure-pipelines/unit-test.yml

Update troubleshooting tips for quantization issues in README_CN.md (#2244)
  README_CN.md
Due: none

test: skip FP8 tests with transformers 5.16.x (#2241)
  test/unit/test_cuda/models/test_fp8_model.py
Due: .azure-pipelines/unit-test.yml

disable torch compile in rtn/opt-rtn/iters<10 and fix glm-5.3 tuning exception (#2246)
  README.md
  README_CN.md
  auto_round/calibration/inputs.py
  auto_round/compressors/base.py
  auto_round/compressors/layer_config/__init__.py
  auto_round/compressors/layer_config_resolver.py
  auto_round/compressors/orchestrator.py
  auto_round/compressors/utils.py
  auto_round/special_model_handler.py
  auto_round/utils/device_manager.py
  test/unit/test_cpu/core/test_init.py
  test/unit/test_cpu/core/test_pipeline_fast.py
  test/unit/test_cpu/models/test_special_model_handler.py
  test/unit/test_cpu/utils/test_apply.py
  test/unit/test_cpu/utils/test_layer_config_resolver.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

[Bugfix] Fix Sglang e2e UT issue (#2250)
  test/e2e/test_cuda/test_sglang_throughput.py
Due: .azure-pipelines/unit-test.yml

fix argument mismatch (#2248)
  test/e2e/test_cuda/test_sglang_throughput.py
  test/e2e/test_cuda/test_vllm_throughput.py
Due: .azure-pipelines/unit-test.yml

bump release version
  README.md
  README_CN.md
  auto_round/version.py
  auto_round_extension/ark/auto_round_kernel/version.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

calibration: stream targeted block re-quantization's calibration pass
  auto_round/auto_scheme/delta_loss.py
  auto_round/calibration/llm.py
  docs/environments.md
  docs/environments_CN.md
  test/test_cpu/core/test_targeted_block_calib_stream.py
  test/test_cpu/schemes/test_auto_scheme_disk_stream.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Allow non-MLLM calibration datasets when not quantizing vision
  auto_round/calibration/mllm.py
  test/test_cpu/models/test_mllm_text_only_calib.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

bump release version (#2257)
  README.md
  README_CN.md
  auto_round/version.py
  auto_round_extension/ark/auto_round_kernel/version.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix: Update minmax_scale_bound to (0.0, 2.0)
  auto_round/wrapper.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

support custom max shard size in CLI and model export
  auto_round/cli/main.py
  auto_round/cli/parser.py
  auto_round/compressors/base.py
  auto_round/compressors/shard_writer.py
  test/unit/test_cpu/utils/test_cli_usage.py
  test/unit/test_cpu/utils/test_shard_writer.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

feat: Add map_max_scale_to_power2 function for mapping linear max_scale to power-of-two ladder
  auto_round/data_type/mxfp.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

update docker name
  .azure-pipelines/nightly-test-xpu.yml
Due: none

divided xpu test
  .azure-pipelines/scripts/ut/run_ut_xpu.sh
  .azure-pipelines/unit-test-xpu.yml
Due: .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml

remove invalid param
  .azure-pipelines/nightly-test-cpu.yml
  .azure-pipelines/nightly-test-xpu.yml
  .azure-pipelines/template/code-scan-template.yml
  .azure-pipelines/template/docker-template.yml
  .azure-pipelines/unit-test-hpu.yml
  .azure-pipelines/unit-test-xpu.yml
  .azure-pipelines/unit-test.yml
Due: .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

remove duplicate code scan
  .azure-pipelines/code-scan.yml
  .azure-pipelines/template/code-scan-template.yml
Due: .azure-pipelines/code-scan.yml

bug fix
  .azure-pipelines/unit-test-xpu.yml
Due: .azure-pipelines/unit-test-xpu.yml

Enhance coverage reporting by introducing hardware-specific configuration files and updating scripts to utilize them
  .azure-pipelines/nightly-test-cpu.yml
  .azure-pipelines/scripts/cuda_unit_test/run_cuda_ut.sh
  .azure-pipelines/scripts/ut/collect_log.sh
  .azure-pipelines/scripts/ut/coveragerc/cpu.coveragerc
  .azure-pipelines/scripts/ut/coveragerc/cuda.coveragerc
  .azure-pipelines/scripts/ut/coveragerc/hpu.coveragerc
  .azure-pipelines/scripts/ut/coveragerc/xpu.coveragerc
  .azure-pipelines/scripts/ut/run_ut.sh
  .azure-pipelines/scripts/ut/run_ut_cuda.sh
  .azure-pipelines/scripts/ut/run_ut_hpu.sh
  .azure-pipelines/scripts/ut/run_ut_xpu.sh
  .azure-pipelines/unit-test-cuda.yml
  .azure-pipelines/unit-test.yml
Due: .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Add graphify-out to .gitignore
  .gitignore
Due: none

fix: suppress pylint no-member on multiline export call
  auto_round/cli/main.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

remove invalid code
  .azure-pipelines/template/ut-template.yml
Due: .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

update by comments
  README.md
  README_CN.md
  auto_round/algorithms/composer.py
  auto_round/algorithms/quantization/rtn/config.py
  auto_round/algorithms/quantization/sign_round/config.py
  auto_round/algorithms/registry.py
  auto_round/algorithms/transforms/awq/config.py
  auto_round/algorithms/transforms/hadamard/config.py
  auto_round/algorithms/transforms/spinquant/preprocessor.py
  auto_round/algorithms/transforms/svdquant/config.py
  auto_round/autoround.py
  auto_round/cli/algorithms.py
  test/unit/common/core/test_pipeline_fast.py
  test/unit/common/utils/test_cli_usage.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Enhance coverage collection and reporting in CI pipeline
  .azure-pipelines/nightly-test-xpu.yml
  .azure-pipelines/scripts/cuda_unit_test/run_cuda_ut.sh
  .azure-pipelines/scripts/ut/collect_log.sh
  .azure-pipelines/scripts/ut/coveragerc/cpu.coveragerc
  .azure-pipelines/scripts/ut/coveragerc/cuda.coveragerc
  .azure-pipelines/scripts/ut/coveragerc/hpu.coveragerc
  .azure-pipelines/scripts/ut/coveragerc/xpu.coveragerc
  .azure-pipelines/scripts/ut/run_ut_cuda.sh
  .azure-pipelines/scripts/ut/run_ut_xpu.sh
Due: .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix: warm up Triton CUDA driver before mocking device capability (#2253)
  test/conftest.py
  test/unit/test_cuda/models/test_fp8_model.py
Due: .azure-pipelines/unit-test.yml

fix: kimi 2.6 dequantization is not correct
  auto_round/compressors/model_free.py
  auto_round/utils/model_free_utils.py
  test/unit/common/quantization/test_model_free.py
  test/unit/test_cpu/utils/test_model_free_utils.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

change LinearLR to CosineAnnealingLR
  auto_round/algorithms/quantization/sign_round/quantizer.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

set step=0.25
  auto_round/data_type/mxfp.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Enhance CI pipeline configurations and coverage reporting for better accuracy
  .azure-pipelines/nightly-test-cpu.yml
  .azure-pipelines/nightly-test-xpu.yml
  .azure-pipelines/scripts/ut/coveragerc/hpu.coveragerc
  .azure-pipelines/scripts/ut/detect_changed_tests.sh
  .azure-pipelines/scripts/ut/run_ut_hpu.sh
  .azure-pipelines/scripts/ut/run_ut_xpu.sh
  .azure-pipelines/unit-test-hpu.yml
  .azure-pipelines/unit-test-xpu.yml
Due: .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Refactor fake model handling: remove AR_SAVE_FAKE_MODEL, update evaluation logic, and enhance state dict normalization
  auto_round/envs.py
  auto_round/eval/evaluation.py
  auto_round/export/formats/backends/fake.py
  auto_round/inference/backend.py
  docs/environments.md
  docs/environments_CN.md
  test/unit/test_cpu/export/test_fake_format.py
  test/unit/test_cuda/quantization/test_act_quantization.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

feat: Add support for deterministic algorithms flags in CLI and update logging behavior
  auto_round/cli/main.py
  auto_round/compressors/base.py
  test/unit/common/core/test_init.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Fix syntax in condition for Coverage stage in nightly-test-xpu.yml
  .azure-pipelines/nightly-test-xpu.yml
Due: none

feat: Update default torch.compile policy in ModelFreeCompressorCore and add corresponding unit test
  auto_round/compressors/model_free.py
  test/unit/common/quantization/test_model_free.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

set step=0.5
  auto_round/data_type/mxfp.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

bug fix
  .azure-pipelines/performance-test.yaml
  .azure-pipelines/scripts/codeScan/pylint/pylint.sh
  .azure-pipelines/scripts/ut/run_ut_xpu.sh
  .azure-pipelines/unit-test-xpu.yml
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml

Path conditions:
  .azure-pipelines/code-scan.yml: any of: auto_round, auto_round_extension, setup.py, requirements.txt, requirements-cpu.txt, requirements-hpu.txt, .azure-pipelines/code-scan.yml, .azure-pipelines/scripts/codeScan
  .azure-pipelines/compatibility-test.yml: any of: auto_round, auto_round_extension, setup.py, setup.cfg, requirements.txt, requirements-cpu.txt, .azure-pipelines/compatibility-test.yml, but not: *.md, **/*.md
  .azure-pipelines/unit-test-hpu.yml: any of: auto_round, test/test*hpu*', setup.py, requirements-lib.txt, .azure-pipelines/scripts/ut, .azure-pipelines/template/docker-template.yml, .azure-pipelines/template/ut-template.yml, but not: auto_round/export/export_to_autogptq, auto_round/export/export_to_awq, *.md, **/*.md
  .azure-pipelines/unit-test-xpu.yml: any of: auto_round, auto_round_extension, test/test_ark, test/test_xpu, setup.py, .azure-pipelines/template/ut-template.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/scripts/ut/run_ut_xpu.sh, but not: *.md, **/*.md
  .azure-pipelines/unit-test.yml: any of: auto_round, auto_round_extension, test, setup.py, requirements.txt, requirements-cpu.txt, .azure-pipelines/scripts/ut, .azure-pipelines/unit-test.yml, .azure-pipelines/template/ut-template.yml, .azure-pipelines/template/docker-template.yml, but not: auto_round_extension/ark, test/test_hpu, test/test_ark, test/test_xpu, *.md, **/*.md, .azure-pipelines/scripts/ut/run_ut_hpu.sh, .azure-pipelines/scripts/ut/run_ut_cuda.sh, .azure-pipelines/scripts/ut/run_ut_xpu.sh
