Repository intel/auto-round: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test.yml

.azure-pipelines/code-scan.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: BanditCodeScan
    displayName: Bandit Code Scan
    dependsOn: []
    jobs:
    - job: Bandit
      displayName: Bandit
      steps:
      - template: template/code-scan-template.yml
        parameters:
          codeScanFileName: bandit
          uploadPath: bandit.log
  ...

.azure-pipelines/unit-test.yml:
  pool: ICX-16C
  stages:
  - stage: Unit_test
    displayName: Unit Test
    dependsOn: []
    jobs:
    - job: null
      displayName: Unit Test
      steps:
      - template: template/ut-template.yml
        parameters:
          dockerConfigName: commonDockerConfig
          utScriptFileName: run_ut
  ...

update exampls
  auto_round/autoround.py
  auto_round/export/export_to_autogptq.py
  auto_round/export/export_to_autoround/export.py
  auto_round/special_model_handler.py
  examples/multimodal-modeling/Llava/README.md
  examples/multimodal-modeling/Llava/main.py
  examples/multimodal-modeling/Qwen-VL/README.md
  examples/multimodal-modeling/Qwen-VL/main.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test.yml

fix conflict
  auto_round/export/export_to_autogptq.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test.yml

fix conflict and code scan issue
  auto_round/export/export_to_autogptq/export.py
  auto_round/utils.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test.yml

remove unnecessary log and add device arg for evaluation
  auto_round/auto_quantizer.py
  auto_round/export/export_to_autoround/export.py
  auto_round/utils.py
  auto_round_extension/cuda/post_init.py
  examples/language-modeling/eval_042/evaluation.py
  examples/language-modeling/run_lyt.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test.yml

add multimodal quant results
  examples/multimodal-modeling/Llava/README.md
  examples/multimodal-modeling/Llava/main.py
  examples/multimodal-modeling/Qwen-VL/README.md
  examples/multimodal-modeling/Qwen-VL/main.py
Due: none

update readme
  examples/language-modeling/README.md
Due: none

add ut
  auto_round/layer_wise/utils.py
  examples/language-modeling/main.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test.yml

add ut
  test/test_low_cpu_mem.py
Due: .azure-pipelines/unit-test.yml

fix
  auto_round/autoround.py
  auto_round/export/export_to_itrex/export.py
  auto_round/layer_wise/utils.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test.yml

update readme doc
  README.md
  examples/language-modeling/run_lyt.py
Due: none

restore evaluation code
  examples/language-modeling/eval_042/evaluation.py
Due: none

enable llava & Qwen-VL multimodal model quantization (#165)
  auto_round/autoround.py
  auto_round/export/export_to_autogptq/export.py
  auto_round/export/export_to_autoround/export.py
  auto_round/special_model_handler.py
  auto_round/utils.py
  examples/multimodal-modeling/Llava/README.md
  examples/multimodal-modeling/Llava/evaluation.py
  examples/multimodal-modeling/Llava/main.py
  examples/multimodal-modeling/Llava/mm_evaluation/__init__.py
  examples/multimodal-modeling/Llava/mm_evaluation/textvqa.py
  examples/multimodal-modeling/Llava/run_autoround.sh
  examples/multimodal-modeling/Llava/run_autoround_on_gaudi.sh
  examples/multimodal-modeling/Qwen-VL/README.md
  examples/multimodal-modeling/Qwen-VL/main.py
  examples/multimodal-modeling/Qwen-VL/mm_evaluation/__init__.py
  examples/multimodal-modeling/Qwen-VL/mm_evaluation/evaluate_multiple_choice.py
  examples/multimodal-modeling/Qwen-VL/mm_evaluation/evaluate_vqa.py
  examples/multimodal-modeling/Qwen-VL/mm_evaluation/vqa.py
  examples/multimodal-modeling/Qwen-VL/mm_evaluation/vqa_eval.py
  examples/multimodal-modeling/Qwen-VL/run_autoround.sh
  examples/multimodal-modeling/Qwen-VL/run_autoround_on_gaudi.sh
  examples/multimodal-modeling/requirements.txt
  examples/multimodal-modeling/run_autoround.sh
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test.yml

modify ut
  auto_round/layer_wise/modified_pickle.py
  auto_round/layer_wise/utils.py
  auto_round/quantizer.py
  examples/language-modeling/main.py
  test/test_low_cpu_mem.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test.yml

Add layer wise mode to save memory (#136)
  auto_round/autoround.py
  auto_round/export/export_to_itrex/export.py
  auto_round/layer_wise/__init__.py
  auto_round/layer_wise/load.py
  auto_round/layer_wise/modified_pickle.py
  auto_round/layer_wise/utils.py
  auto_round/quantizer.py
  auto_round/utils.py
  examples/language-modeling/main.py
  test/test_low_cpu_mem.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test.yml

fix zp plus_1
  auto_round_extension/hpu/qlinear_hpu.py
Due: .azure-pipelines/unit-test.yml

Update README.md
  README.md
Due: none

fix typo
  examples/multimodal-modeling/Llava/main.py
Due: none

fix typos (#185)
  README.md
  examples/multimodal-modeling/Llava/main.py
Due: none

patch for layer/block wise
  auto_round/autoround.py
  examples/language-modeling/README.md
  examples/language-modeling/main.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test.yml

fix
  examples/language-modeling/main.py
Due: none

update
  auto_round/autoround.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test.yml

update
  auto_round/autoround.py
  auto_round/utils.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test.yml

add initial support of mxfp4
  auto_round/data_type/__init__.py
  auto_round/data_type/int.py
  auto_round/data_type/mxfp.py
  auto_round/data_type/register.py
  auto_round/data_type/utils.py
  auto_round/quantizer.py
  auto_round/utils.py
  examples/language-modeling/main.py
  test/test_autoround.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test.yml

fix some issues
  auto_round/data_type/mxfp.py
  auto_round/data_type/utils.py
  auto_round/quantizer.py
  examples/language-modeling/main.py
  test/test_autoround.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test.yml

fix line too long issue
  auto_round/data_type/utils.py
  auto_round/quantizer.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test.yml

enable hpu inference of gptq models
  auto_round/auto_quantizer.py
  auto_round/utils.py
  auto_round_extension/hpu/qlinear_hpu.py
  examples/language-modeling/eval_042/evaluation.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test.yml

change auto_quantizer logic
  auto_round/auto_quantizer.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test.yml

fix unit test issue
  auto_round/data_type/int.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test.yml

fix one bug
  auto_round/quantizer.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test.yml

tiny change
  auto_round/quantizer.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test.yml

fix several issues
  auto_round/data_type/mxfp.py
  auto_round/data_type/utils.py
  auto_round/quantizer.py
  auto_round/version.py
  examples/language-modeling/main.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test.yml

fix line too long issue
  auto_round/quantizer.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test.yml

add ut and add qlinear_hpu_gptq
  README.md
  auto_round/utils.py
  auto_round_extension/hpu/qlinear_hpu_gptq.py
  test/test_hpu.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test.yml

add hqt version check and refine doc
  README.md
  auto_round/auto_quantizer.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test.yml

comment qlinear_hpu
  auto_round_extension/hpu/qlinear_hpu.py
Due: .azure-pipelines/unit-test.yml

fix all zero issue
  auto_round/data_type/mxfp.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test.yml

modify api name
  auto_round/autoround.py
  auto_round/low_cpu_mem/__init__.py
  auto_round/low_cpu_mem/load.py
  auto_round/low_cpu_mem/modified_pickle.py
  auto_round/low_cpu_mem/utils.py
  examples/language-modeling/main.py
  test/test_low_cpu_mem.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test.yml

Path conditions:
  .azure-pipelines/code-scan.yml: any of: auto_round, setup.py, requirements.txt, .azure-pipelines/code-scan.yml, .azure-pipelines/scripts/codeScan
  .azure-pipelines/unit-test.yml: any of: auto_round, auto_round_extension, test, setup.py, requirements_pt.txt, .azure-pipelines/scripts/ut
