Repository intel/auto-round: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Path conditions:
  .azure-pipelines/code-scan.yml: any of: auto_round, setup.py, requirements.txt, .azure-pipelines/code-scan.yml, .azure-pipelines/scripts/codeScan
  .azure-pipelines/compatibility-test.yml: any of: auto_round, auto_round_extension, setup.py, setup.cfg, requirements.txt, requirements-cpu.txt, .azure-pipelines/compatibility-test.yml, but not: *.md, **/*.md
  .azure-pipelines/unit-test-hpu.yml: any of: auto_round, test/test*hpu*', setup.py, requirements-lib.txt, .azure-pipelines/scripts/ut, .azure-pipelines/template/docker-template.yml, .azure-pipelines/template/ut-template.yml, but not: auto_round/export/export_to_autogptq, auto_round/export/export_to_awq, *.md, **/*.md
  .azure-pipelines/unit-test-xpu.yml: any of: auto_round/utils, auto_round_extension/ark, test/test_ark, setup.py, .azure-pipelines/template/ut-template.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/scripts/ut/run_ut_xpu.sh, but not: *.md, **/*.md
  .azure-pipelines/unit-test.yml: any of: auto_round, auto_round_extension, test, setup.py, requirements.txt, requirements-cpu.txt, .azure-pipelines/scripts/ut, .azure-pipelines/unit-test.yml, .azure-pipelines/template/ut-template.yml, .azure-pipelines/template/docker-template.yml, but not: test/test*hpu*, *.md, **/*.md

autoround:awq is entering the depracated phase
  test/test_xpu/test_autoround.py
Due: .azure-pipelines/unit-test.yml

update MD
  auto_round_extension/ark/README.md
Due: none

revert ipex; add windows for ark
  auto_round/inference/backend.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix issues
  auto_round/autoround.py
  auto_round/export/export_to_autoround/export.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

update
  README.md
  auto_round/__main__.py
  auto_round/autoround.py
  auto_round/compressors/base.py
  auto_round/compressors/config.py
  auto_round/compressors/utils.py
  docs/tips_and_tricks.md
  test/test_cpu/test_gguf_format.py
  test/test_cpu/test_moe_alignment.py
  test/test_cpu/test_moe_model.py
  test/test_cpu/test_mxfp_nvfp.py
  test/test_cuda/test_export.py
  test/test_cuda/test_main_func.py
  test/test_cuda/test_moe_model.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix line too long issue
  README.md
  auto_round/autoround.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix ut
  test/test_cpu/test_act_quantization.py
Due: .azure-pipelines/unit-test.yml

set disable_opt_rtn to optional bool and change default value from False to None
  README.md
  auto_round/__main__.py
  auto_round/autoround.py
  auto_round/compressors/base.py
  auto_round/compressors/config.py
  docs/step_by_step.md
  requirements.txt
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix typo
  requirements.txt
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test.yml

refine replacement logic
  auto_round/modelling/replace_modules.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

use Algorithm
  auto_round_extension/ark/README.md
Due: none

refine gpt-oss
  auto_round/compressors/base.py
  auto_round/modelling/gpt_oss.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

rename
  auto_round/__main__.py
  auto_round/autoround.py
  auto_round/compressors/base.py
  auto_round/compressors/config.py
  auto_round/compressors/utils.py
  docs/tips_and_tricks.md
  test/test_cpu/test_gguf_format.py
  test/test_cpu/test_moe_alignment.py
  test/test_cpu/test_moe_model.py
  test/test_cpu/test_mxfp_nvfp.py
  test/test_cuda/test_export.py
  test/test_cuda/test_main_func.py
  test/test_cuda/test_moe_model.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

update
  README.md
  auto_round/autoround.py
  auto_round/export/export_to_autoround/export.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

Add FP8 dtype info to quant config (#1228)
  auto_round/export/export_to_llmcompressor/export_to_static_fp.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

refine
  auto_round/autoround.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

reformat
  auto_round/autoround.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

[API Change]rename fp_layers to ignore_layers (#1233)
  README.md
  auto_round/__main__.py
  auto_round/autoround.py
  auto_round/compressors/base.py
  auto_round/compressors/config.py
  auto_round/compressors/utils.py
  auto_round/export/export_to_autoround/export.py
  docs/tips_and_tricks.md
  test/test_cpu/test_act_quantization.py
  test/test_cpu/test_gguf_format.py
  test/test_cpu/test_moe_alignment.py
  test/test_cpu/test_moe_model.py
  test/test_cpu/test_mxfp_nvfp.py
  test/test_cuda/test_export.py
  test/test_cuda/test_main_func.py
  test/test_cuda/test_moe_model.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

update ut
  .azure-pipelines/docker/Dockerfile.devel
  .azure-pipelines/scripts/ut/run_ut.sh
  .azure-pipelines/scripts/ut/run_ut_hpu.sh
  .azure-pipelines/scripts/ut/run_ut_xpu.sh
Due: .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix log
  .azure-pipelines/scripts/ut/run_ut_hpu.sh
Due: .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix cuda ut fail
  test/helpers.py
  test/test_cpu/test_cli_usage.py
  test/test_cpu/test_gguf_format.py
  test/test_cuda/test_alg_ext.py
  test/test_cuda/test_fp8_input.py
  test/test_cuda/test_gguf.py
  test/test_cuda/test_marlin_backend.py
  test/test_cuda/test_mix_bits.py
  test/test_cuda/test_multiple_card.py
  test/test_cuda/test_multiple_card_calib.py
  test/test_cuda/test_scheme.py
  test/test_cuda/test_support_vlms.py
Due: .azure-pipelines/unit-test.yml

export lazy mode env explicit
  .azure-pipelines/scripts/ut/run_ut_hpu.sh
Due: .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

refine code
  auto_round/compressors/base.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

enhance memory monitor
  auto_round/utils/device.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix auto_awq related
  auto_round/formats.py
  docs/step_by_step.md
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

Update test/test_cuda/test_scheme.py
  test/test_cuda/test_scheme.py
Due: .azure-pipelines/unit-test.yml

[HPU]Export lazy mode env explicit (#1239)
  .azure-pipelines/scripts/ut/run_ut_hpu.sh
Due: .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

add support for moe model with non-linear exports layer for gguf
  auto_round/export/export_to_gguf/convert.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix precommit
  test/README.md
Due: none

set disable_opt_rtn to optional bool and change default value to None (#1231)
  README.md
  auto_round/__main__.py
  auto_round/autoround.py
  auto_round/compressors/base.py
  auto_round/compressors/config.py
  docs/step_by_step.md
  requirements.txt
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

refine arg setting
  README.md
  auto_round/__main__.py
  auto_round/alg_ext.py
  auto_round/auto_scheme/gen_auto_scheme.py
  auto_round/autoround.py
  auto_round/compressors/base.py
  auto_round/compressors/config.py
  auto_round/data_type/utils.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

Revert "set disable_opt_rtn to optional bool and change default value to Non…"
  README.md
  auto_round/__main__.py
  auto_round/autoround.py
  auto_round/compressors/base.py
  auto_round/compressors/config.py
  docs/step_by_step.md
  requirements.txt
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

update
  auto_round/compressors/config.py
  auto_round/utils/model.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

update fix
  auto_round/wrapper.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

update disable_opt_rtn setting
  README.md
  auto_round/__main__.py
  auto_round/alg_ext.py
  auto_round/autoround.py
  auto_round/compressors/base.py
  auto_round/compressors/config.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

refine docstring, fixtypo
  auto_round/__main__.py
  auto_round/alg_ext.py
  auto_round/autoround.py
  auto_round/compressors/base.py
  auto_round/compressors/config.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

refine docstring
  auto_round/__main__.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fixtypo
  auto_round/autoround.py
  auto_round/compressors/base.py
  auto_round/compressors/config.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

Update setting of disable opt rtn (#1249)
  README.md
  auto_round/__main__.py
  auto_round/autoround.py
  auto_round/compressors/base.py
  auto_round/compressors/config.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml
