Repository intel/auto-round: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Path conditions:
  .azure-pipelines/code-scan.yml: any of: auto_round, auto_round_extension, setup.py, requirements.txt, requirements-cpu.txt, requirements-hpu.txt, .azure-pipelines/code-scan.yml, .azure-pipelines/scripts/codeScan
  .azure-pipelines/compatibility-test.yml: any of: auto_round, auto_round_extension, setup.py, setup.cfg, requirements.txt, requirements-cpu.txt, .azure-pipelines/compatibility-test.yml, but not: *.md, **/*.md
  .azure-pipelines/unit-test-hpu.yml: any of: auto_round, test/test*hpu*', setup.py, requirements-lib.txt, .azure-pipelines/scripts/ut, .azure-pipelines/template/docker-template.yml, .azure-pipelines/template/ut-template.yml, but not: auto_round/export/export_to_autogptq, auto_round/export/export_to_awq, *.md, **/*.md
  .azure-pipelines/unit-test-xpu.yml: any of: auto_round, auto_round_extension, test/test_ark, test/test_xpu, setup.py, .azure-pipelines/template/ut-template.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/scripts/ut/run_ut_xpu.sh, but not: *.md, **/*.md
  .azure-pipelines/unit-test.yml: any of: auto_round, auto_round_extension, test, setup.py, requirements.txt, requirements-cpu.txt, .azure-pipelines/scripts/ut, .azure-pipelines/unit-test.yml, .azure-pipelines/template/ut-template.yml, .azure-pipelines/template/docker-template.yml, but not: auto_round_extension/ark, test/test_hpu, test/test_ark, test/test_xpu, *.md, **/*.md, .azure-pipelines/scripts/ut/run_ut_hpu.sh, .azure-pipelines/scripts/ut/run_ut_cuda.sh, .azure-pipelines/scripts/ut/run_ut_xpu.sh

update llmcompressor dependency to use main branch and remove version constraints for transformers
  test/test_cpu/requirements.txt
  test/test_cpu/requirements_llmc.txt
Due: .azure-pipelines/unit-test.yml

Update requirements to pin compressed-tensors and ensure transformers compatibility
  test/test_cpu/requirements.txt
  test/test_cpu/requirements_llmc.txt
Due: .azure-pipelines/unit-test.yml

Support HPU for MemoryMonitor
  auto_round/utils/device.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix CI OOM
  test/test_cuda/models/test_omni_model.py
Due: .azure-pipelines/unit-test.yml

fix
  test/test_cpu/requirements.txt
Due: .azure-pipelines/unit-test.yml

fix bug
  auto_round/export/export_to_gguf/export.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix gguf bug for qwen3.5 moe and some small models (#1575)
  auto_round/alg_ext.py
  auto_round/compressors/base.py
  auto_round/compressors/utils.py
  auto_round/data_type/gguf.py
  auto_round/export/export_to_gguf/convert.py
  auto_round/export/export_to_gguf/export.py
  auto_round/export/export_to_gguf/packing.py
  test/test_cuda/export/test_gguf_format.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix bug
  auto_round/utils/device.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Update requirements.txt
  test/test_cpu/requirements.txt
Due: .azure-pipelines/unit-test.yml

remove try except and optimize forward content
  auto_round/special_model_handler.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Update torch to 2.11.0 in CI
  .azure-pipelines/scripts/cuda_unit_test/run_cuda_ut.sh
  .azure-pipelines/scripts/cuda_unit_test/runpod_manager.py
  .azure-pipelines/scripts/ut/run_ut_cuda.sh
  .azure-pipelines/template/ut-template.yml
  .azure-pipelines/unit-test-cuda.yml
Due: .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix torch
  .azure-pipelines/scripts/cuda_unit_test/run_cuda_ut.sh
  .azure-pipelines/scripts/ut/run_ut_cuda.sh
Due: .azure-pipelines/unit-test-hpu.yml

fix torch install
  .azure-pipelines/scripts/cuda_unit_test/run_cuda_ut.sh
  .azure-pipelines/scripts/ut/run_ut_cuda.sh
Due: .azure-pipelines/unit-test-hpu.yml

support compressed-tensors refactor (#1595)
  auto_round/utils/weight_handler.py
  test/test_cpu/advanced/test_low_precision_input_model.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

set torch-backend
  .azure-pipelines/scripts/cuda_unit_test/run_cuda_ut.sh
  .azure-pipelines/scripts/ut/run_ut_cuda.sh
Due: .azure-pipelines/unit-test-hpu.yml

fix llmc test
  .azure-pipelines/scripts/cuda_unit_test/run_cuda_ut.sh
  .azure-pipelines/scripts/ut/run_ut_cuda.sh
Due: .azure-pipelines/unit-test-hpu.yml

Update device.py
  auto_round/utils/device.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix CI
  test/test_cpu/export/test_gguf_format.py
  test/test_cpu/models/test_moe_alignment.py
  test/test_cpu/models/test_omni_model.py
Due: .azure-pipelines/unit-test.yml

refine transform config api.
  auto_round/compressors/base.py
  auto_round/experimental/transform/apply.py
  auto_round/experimental/transform/helper.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix llmc test
  .azure-pipelines/scripts/cuda_unit_test/run_cuda_ut.sh
  .azure-pipelines/scripts/ut/run_ut.sh
  test/test_cpu/requirements_llmc.txt
Due: .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

Update auto_round/experimental/transform/helper.py
  auto_round/experimental/transform/helper.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Update auto_round/experimental/transform/apply.py
  auto_round/experimental/transform/apply.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix torch compile oom issue
  auto_round/compressors/base.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Update auto_round/compressors/base.py
  auto_round/compressors/base.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Update python to 3.12 in cuda ut
  .azure-pipelines/scripts/cuda_unit_test/run_cuda_ut.sh
  .azure-pipelines/scripts/ut/run_ut_cuda.sh
  test/test_cuda/requirements_vlm.txt
Due: .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix requirements
  test/test_cpu/requirements_llmc.txt
Due: .azure-pipelines/unit-test.yml

fix: refactor and fix Omni model tests to improve CI stability (#1598)
  auto_round/compressors/base.py
  auto_round/special_model_handler.py
  test/fixtures.py
  test/helpers.py
  test/test_cuda/models/test_omni_model.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

support HPU memory dump in MemoryMonitor (#1605)
  auto_round/utils/device.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix: enhance performance logging and metrics collection in performance scripts
  .azure-pipelines/scripts/performance/check_performance.py
  .azure-pipelines/scripts/performance/perf_test.sh
Due: none

fix fp8 quant_func
  auto_round/data_type/fp8.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix pattern
  .azure-pipelines/scripts/performance/check_performance.py
Due: none

feat: add workflow to close stale issues and pull requests
  .github/workflows/check-stale-issue.yml
Due: none

update start date
  .github/workflows/check-stale-issue.yml
Due: none

fix comments
  .github/workflows/check-stale-issue.yml
Due: none

revert awq dtype change for vllm inference limitation
  auto_round/export/export_to_autoround/export.py
  auto_round/export/export_to_awq/export.py
  test/test_cuda/integrations/test_vllm.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix left CI
  test/test_cpu/advanced/test_low_precision_input_model.py
  test/test_cpu/models/test_moe_alignment.py
Due: .azure-pipelines/unit-test.yml
