Repository intel/auto-round: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Path conditions:
  .azure-pipelines/code-scan.yml: any of: auto_round, auto_round_extension, setup.py, requirements.txt, requirements-cpu.txt, requirements-hpu.txt, .azure-pipelines/code-scan.yml, .azure-pipelines/scripts/codeScan
  .azure-pipelines/compatibility-test.yml: any of: auto_round, auto_round_extension, setup.py, setup.cfg, requirements.txt, requirements-cpu.txt, .azure-pipelines/compatibility-test.yml, but not: *.md, **/*.md
  .azure-pipelines/unit-test-hpu.yml: any of: auto_round, test/test*hpu*', setup.py, requirements-lib.txt, .azure-pipelines/scripts/ut, .azure-pipelines/template/docker-template.yml, .azure-pipelines/template/ut-template.yml, but not: auto_round/export/export_to_autogptq, auto_round/export/export_to_awq, *.md, **/*.md
  .azure-pipelines/unit-test-xpu.yml: any of: auto_round, auto_round_extension, test/test_ark, test/test_xpu, setup.py, .azure-pipelines/template/ut-template.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/scripts/ut/run_ut_xpu.sh, but not: *.md, **/*.md
  .azure-pipelines/unit-test.yml: any of: auto_round, auto_round_extension, test, setup.py, requirements.txt, requirements-cpu.txt, .azure-pipelines/scripts/ut, .azure-pipelines/unit-test.yml, .azure-pipelines/template/ut-template.yml, .azure-pipelines/template/docker-template.yml, but not: auto_round_extension/ark, test/test_hpu, test/test_ark, test/test_xpu, *.md, **/*.md, .azure-pipelines/scripts/ut/run_ut_hpu.sh, .azure-pipelines/scripts/ut/run_ut_cuda.sh, .azure-pipelines/scripts/ut/run_ut_xpu.sh

update auto-round-lib build
  auto_round_extension/ark/auto_round_kernel/kernel_build.bat
  auto_round_extension/ark/auto_round_kernel/kernel_build.sh
  auto_round_extension/ark/requirements.txt
  auto_round_extension/ark/setup.py
  auto_round_extension/ark/test/ut_build.bat
  auto_round_extension/ark/test/ut_build.sh
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-xpu.yml

initial support
  auto_round/__main__.py
  auto_round/autoround.py
  auto_round/calib_dataset.py
  auto_round/compressors/base.py
  auto_round/compressors/vllm/__init__.py
  auto_round/compressors/vllm/compressor.py
  auto_round/data_type/utils.py
  auto_round/export/export_to_autogptq/export.py
  auto_round/export/export_to_autoround/export.py
  auto_round/export/export_to_llmcompressor/export_to_fp.py
  auto_round/modeling/fused_moe/__init__.py
  auto_round/modeling/fused_moe/deepseek_v2.py
  auto_round/modeling/fused_moe/gpt_oss.py
  auto_round/modeling/fused_moe/llama4.py
  auto_round/modeling/fused_moe/qwen3_5_moe.py
  auto_round/modeling/fused_moe/qwen3_omni.py
  auto_round/modeling/fused_moe/qwen3_vl_moe.py
  auto_round/modeling/replace_modules.py
  auto_round/modeling/vllm_module.py
  auto_round/special_model_handler.py
  auto_round/utils/common.py
  auto_round/utils/model.py
  test/test_cpu/models/test_moe_model.py
  test/test_cpu/models/test_omni_model.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix: restore AutoRound __new__ signature after merge
  auto_round/autoround.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

use cu130
  .azure-pipelines/scripts/cuda_unit_test/run_cuda_ut.sh
  .azure-pipelines/scripts/cuda_unit_test/runpod_manager.py
  .azure-pipelines/scripts/ut/run_ut_cuda.sh
  .azure-pipelines/unit-test-cuda.yml
Due: .azure-pipelines/unit-test-hpu.yml

fix(vllm): stabilize use_vllm_loading model init
  auto_round/compressors/vllm/compressor.py
  auto_round/utils/model.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

for test
  .azure-pipelines/scripts/cuda_unit_test/run_cuda_ut.sh
Due: none

update sglang
  .azure-pipelines/scripts/cuda_unit_test/run_cuda_ut.sh
  .azure-pipelines/scripts/ut/run_ut_cuda.sh
  test/test_cuda/requirements_sglang.txt
Due: .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

Add auto-round-lib build workflow in CI
  .azure-pipelines/build-auto-round-lib.yml
  .azure-pipelines/template/lib-build-template.yml
  .azure-pipelines/template/ut-template.yml
  .azure-pipelines/unit-test.yml
  auto_round_extension/ark/auto_round_kernel/version.py
  auto_round_extension/ark/setup.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

add comments
  .azure-pipelines/build-auto-round-lib.yml
  .azure-pipelines/template/lib-build-template.yml
Due: none

update build timeout
  .azure-pipelines/template/lib-build-template.yml
Due: none

bug fix
  .azure-pipelines/template/lib-build-template.yml
  .azure-pipelines/template/ut-template.yml
  .azure-pipelines/unit-test.yml
Due: .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix user
  .azure-pipelines/template/lib-build-template.yml
Due: none

update condition
  .azure-pipelines/template/lib-build-template.yml
Due: none

fix oneapi path
  .azure-pipelines/template/lib-build-template.yml
Due: none

add deps
  .azure-pipelines/template/lib-build-template.yml
Due: none

add accuracy check in CUDA CI
  test/test_cuda/models/test_fp8_model.py
  test/test_cuda/models/test_get_block_name.py
Due: .azure-pipelines/unit-test.yml

use another oneapi path
  .azure-pipelines/template/lib-build-template.yml
Due: none

fix path
  .azure-pipelines/template/lib-build-template.yml
Due: none

minor fix
  .azure-pipelines/template/lib-build-template.yml
Due: none

test another docker image
  .azure-pipelines/template/lib-build-template.yml
Due: none

fix acc
  auto_round/algorithms/quantization/rtn/quantizer.py
  test/test_cuda/models/test_fp8_model.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

recover CI
  test/test_cuda/models/test_fp8_model.py
Due: .azure-pipelines/unit-test.yml

refactor change detection logic for ark wheel build
  .azure-pipelines/template/lib-build-template.yml
Due: none

align saved folders
  auto_round/compressors/base.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix: update output variable formatting for ark wheel build detection
  .azure-pipelines/template/lib-build-template.yml
Due: none

update
  auto_round_extension/triton/triton_utils/fused_matmul.py
  auto_round_extension/triton/triton_utils/kernels.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix: correct condition syntax for downloading ark wheel artifact
  .azure-pipelines/template/ut-template.yml
Due: .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Update test_sglang.py
  test/test_cuda/integrations/test_sglang.py
Due: .azure-pipelines/unit-test.yml

remove useless code
  auto_round/algorithms/quantization/rtn/quantizer.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix: add requirements installation for ark extensions in unit test scripts
  .azure-pipelines/template/ut-template.yml
  .azure-pipelines/unit-test-xpu.yml
Due: .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix path
  .azure-pipelines/template/ut-template.yml
Due: .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix: remove debug task and streamline environment setup for ark wheel installation
  .azure-pipelines/template/ut-template.yml
Due: .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

disable compile block forward for mllm
  auto_round/algorithms/quantization/base.py
  auto_round/compressors/base.py
  auto_round/compressors_new/base.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

tmp
  bench_triton_matmul.py
  learn.py
  test_calibration_pairing.py
Due: none

fix
  auto_round_extension/triton/triton_utils/fused_matmul.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

delete
  bench_triton_matmul.py
  learn.py
  test_calibration_pairing.py
Due: none

remove IPEX related code, doc, and test
  .claude/skills/add-inference-backend/SKILL.md
  .claude/skills/readme.md
  auto_round/inference/backend.py
  auto_round/inference/convert_model.py
  auto_round_extension/ipex/__init__.py
  auto_round_extension/ipex/qlinear_ipex_awq.py
  auto_round_extension/ipex/qlinear_ipex_gptq.py
  docs/step_by_step.md
  docs/step_by_step_CN.md
  test/envs.py
  test/test_cuda/export/test_auto_round_format.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

remove left code
  auto_round/inference/backend.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix bug
  auto_round/inference/convert_model.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

vibecoding
  _smoke_device.py
  auto_round/algorithms/transforms/rotation/inplace/apply.py
  auto_round/algorithms/transforms/rotation/inplace/hooks.py
  auto_round/auto_scheme/delta_loss.py
  auto_round/compressors/diffusion/compressor.py
  auto_round/compressors/mllm/compressor.py
  auto_round/compressors_new/diffusion_mixin.py
  auto_round/inference/convert_model.py
  auto_round/utils/__init__.py
  auto_round/utils/device.py
  auto_round/utils/device_backend.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml
