Repository intel/auto-round: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

Path conditions:
  .azure-pipelines/code-scan.yml: any of: auto_round, setup.py, requirements.txt, .azure-pipelines/code-scan.yml, .azure-pipelines/scripts/codeScan
  .azure-pipelines/unit-test-hpu.yml: any of: auto_round, test/test*hpu*', setup.py, requirements-hpu.txt, .azure-pipelines/scripts/ut, but not: auto_round/export/export_to_autogptq, auto_round/export/export_to_awq, *.md, **/*.md
  .azure-pipelines/unit-test.yml: any of: auto_round, auto_round_extension, test, setup.py, requirements_pt.txt, .azure-pipelines/scripts/ut

fix bug for transformers new version
  auto_round/export/export_to_itrex/export.py
  auto_round/script/llm.py
  auto_round/script/mllm.py
  auto_round/utils.py
  auto_round/wrapper.py
  test/requirements.txt
  test/test_autoround.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

try to fix triton runtimeerror
  test/requirements.txt
Due: .azure-pipelines/unit-test.yml

revert
  test/requirements.txt
Due: .azure-pipelines/unit-test.yml

fix
  test/requirements.txt
Due: .azure-pipelines/unit-test.yml

fix by comment
  test/test_cuda/requirements.txt
  test/test_cuda/requirements_vlm.txt
Due: .azure-pipelines/unit-test.yml

fix pip install url
  .azure-pipelines/scripts/ut/run_ut.sh
Due: .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix
  .azure-pipelines/scripts/ut/run_ut.sh
Due: .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

support for llava-based hf model
  auto_round/mllm/autoround_mllm.py
  auto_round/mllm/processor.py
  auto_round/mllm/template.py
  auto_round/utils.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

clean
  auto_round/utils.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

Support for more gguf format and float zp for Q*_1 (#560)
  .azure-pipelines/scripts/ut/run_ut.sh
  auto_round/autoround.py
  auto_round/data_type/int.py
  auto_round/export/export_to_gguf/config.py
  auto_round/export/export_to_gguf/convert.py
  auto_round/export/export_to_gguf/export.py
  auto_round/export/export_to_gguf/quant_cpu.py
  auto_round/export/export_to_gguf/quant_gpu.py
  auto_round/export/export_to_gguf/utils.py
  auto_round/export/export_to_itrex/export.py
  auto_round/script/llm.py
  auto_round/script/mllm.py
  auto_round/utils.py
  auto_round/wrapper.py
  test/requirements.txt
  test/test_autoround.py
  test/test_gguf_format.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

update readme
  README.md
  docs/step_by_step.md
Due: none

update readme
  README.md
Due: none

Update README.md
  README.md
Due: none

update readme (#569)
  README.md
  docs/step_by_step.md
Due: none

update
  README.md
Due: none

update readme (#571)
  README.md
Due: none

fix by comment
  auto_round/mllm/autoround_mllm.py
  auto_round/mllm/processor.py
  auto_round/mllm/template.py
  test/test_mllm.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

refine ut
  .azure-pipelines/scripts/ut/run_ut.sh
  .azure-pipelines/scripts/ut/run_ut_hpu.sh
Due: .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

check
  q2_autoround_baseline.sh
  q4_autoround_baseline.sh
Due: none

update README
  README.md
Due: none

support for llava-based hf model (#568)
  README.md
  auto_round/mllm/autoround_mllm.py
  auto_round/mllm/processor.py
  auto_round/mllm/template.py
  auto_round/utils.py
  test/test_mllm.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

add gguf_quant for rtn
  auto_round/data_type/int.py
  auto_round/export/export_to_gguf/quant_gpu.py
  auto_round/utils.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

add ut
  README.md
  auto_round/data_type/int.py
  test/test_gguf_format.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix
  test/test_gguf_format.py
Due: .azure-pipelines/unit-test.yml

add gguf accuracy data
  README.md
  docs/gguf_accuracy.md
Due: none

refine
  README.md
Due: none

refine
  docs/gguf_accuracy.md
Due: none

fix typo
  docs/gguf_accuracy.md
Due: none

add gguf accuracy data (#574)
  README.md
  docs/gguf_accuracy.md
Due: none

fix save folder typo, modify default asym 4bits auto-round format to awq
  auto_round/autoround.py
  auto_round/script/mllm.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

code scan
  auto_round/data_type/int.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml
