Repository intel/auto-round: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

Path conditions:
  .azure-pipelines/code-scan.yml: any of: auto_round, setup.py, requirements.txt, .azure-pipelines/code-scan.yml, .azure-pipelines/scripts/codeScan
  .azure-pipelines/unit-test-hpu.yml: any of: auto_round, test/test*hpu*', setup.py, requirements-lib.txt, .azure-pipelines/scripts/ut, .azure-pipelines/template/docker-template.yml, .azure-pipelines/template/ut-template.yml, but not: auto_round/export/export_to_autogptq, auto_round/export/export_to_awq, *.md, **/*.md
  .azure-pipelines/unit-test.yml: any of: auto_round, auto_round_extension, test, setup.py, requirements.txt, requirements-cpu.txt, .azure-pipelines/scripts/ut, .azure-pipelines/unit-test.yml, .azure-pipelines/template/ut-template.yml, .azure-pipelines/template/docker-template.yml, but not: test/test*hpu*, *.md, **/*.md

revert defualt act_group_size
  auto_round/autoround.py
  test/test_cpu/test_export.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

update
  auto_round/autoround.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

move log info to check format
  auto_round/autoround.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

clean
  auto_round/autoround.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix
  .azure-pipelines/scripts/ut/run_ut.sh
Due: .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

support to save image_processor
  auto_round/export/export_to_autogptq/export.py
  auto_round/export/export_to_autoround/export.py
  auto_round/export/export_to_autoround/export_to_fp8_woq.py
  auto_round/export/export_to_awq/export.py
  auto_round/mllm/README.md
  auto_round/mllm/autoround_mllm.py
  auto_round/mllm/template.py
  auto_round/special_model_handler.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

add ut
  README.md
  auto_round/mllm/README.md
  test/test_cpu/test_mllm.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test.yml

fix
  auto_round/autoround.py
  auto_round/export/export_to_autoround/export_to_fp8_woq.py
  test/test_cpu/test_export.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix
  auto_round/autoround.py
  auto_round/data_type/mxfp.py
  auto_round/export/export_to_gguf/packing.py
  auto_round/version.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix
  auto_round/autoround.py
  auto_round/data_type/gguf.py
  auto_round/data_type/nvfp.py
  auto_round/script/llm.py
  auto_round/utils.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

update
  README.md
  auto_round/data_type/nvfp.py
  auto_round/mllm/README.md
  docs/step_by_step.md
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

update
  README.md
Due: none

update readme
  README.md
Due: none

try to fix ut
  README.md
  auto_round/utils.py
  docs/step_by_step.md
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

update readme
  docs/step_by_step.md
Due: none

support static global scale for nvfp4 and update readme (#691)
  README.md
  auto_round/autoround.py
  auto_round/data_type/gguf.py
  auto_round/data_type/mxfp.py
  auto_round/data_type/nvfp.py
  auto_round/export/export_to_gguf/packing.py
  auto_round/mllm/README.md
  auto_round/script/llm.py
  auto_round/utils.py
  auto_round/version.py
  docs/step_by_step.md
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

update readme
  README.md
  docs/step_by_step.md
Due: none

update readme
  auto_round/wrapper.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

Update README.md
  README.md
Due: none

Update docs/step_by_step.md
  docs/step_by_step.md
Due: none

Update readme (#695)
  README.md
  docs/step_by_step.md
Due: none

Add script for cuda unit test (#567)
  .azure-pipelines/scripts/ut/run_ut_cuda.sh
  .azure-pipelines/scripts/ut/run_ut_hpu.sh
  .gitignore
  test/test_cuda/requirements_vlm.txt
  test/test_cuda/test_support_vlms.py
Due: .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

support to save image_processor (#694)
  auto_round/export/export_to_autogptq/export.py
  auto_round/export/export_to_autoround/export.py
  auto_round/export/export_to_autoround/export_to_fp8_woq.py
  auto_round/export/export_to_awq/export.py
  auto_round/mllm/README.md
  auto_round/mllm/autoround_mllm.py
  auto_round/mllm/template.py
  auto_round/special_model_handler.py
  test/test_cpu/test_mllm.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

support for static activation quantization calibration with group_size (#693)
  auto_round/autoround.py
  auto_round/export/export_to_autoround/export_to_fp8_woq.py
  auto_round/script/llm.py
  auto_round/wrapper.py
  test/test_cpu/test_act_quantization.py
  test/test_cpu/test_export.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

Delete q4_choice.sh
  q4_choice.sh
Due: none

Delete q4_debug.sh
  q4_debug.sh
Due: none

Delete q4_k_s.sh
  q4_k_s.sh
Due: none

Delete _choice_bse.log
  _choice_bse.log
Due: none
