Repository intel/auto-round: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

.azure-pipelines/code-scan.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: BanditCodeScan
    displayName: Bandit Code Scan
    dependsOn: []
    jobs:
    - job: Bandit
      displayName: Bandit
      steps:
      - template: template/code-scan-template.yml
        parameters:
          codeScanFileName: bandit
          uploadPath: bandit.log
  ...

.azure-pipelines/compatibility-test.yml:
  stages:
  - stage: null
    displayName: Compatibility Test
    dependsOn: []
    jobs:
    - job: null
      timeoutInMinutes: 20
      strategy:
        matrix:
          Python310_Linux:
            python_version: '3.10'
            vmImage: ubuntu-latest
          Python311_Linux:
            python_version: '3.11'
  ...

.azure-pipelines/unit-test-hpu.yml:
  pool: GAUDI
  stages:
  - stage: Unit_test
    displayName: Unit Test
    dependsOn: []
    jobs:
    - job: null
      displayName: Unit Test
      steps:
      - template: template/ut-template.yml
        parameters:
          imageSource: pull
          dockerConfigName: commonDockerConfig
  ...

.azure-pipelines/unit-test-xpu.yml:
  pool: B60
  stages:
  - stage: Unit_test
    displayName: Unit Test
    dependsOn: []
    jobs:
    - job: null
      displayName: Unit Test
      steps:
      - template: template/ut-template.yml
        parameters:
          dockerConfigName: commonDockerConfig
          utScriptFileName: run_ut_xpu
  ...

.azure-pipelines/unit-test.yml:
  pool: ICX-16C
  stages:
  - stage: Unit_test
    displayName: Unit Test
    dependsOn: []
    jobs:
    - job: null
      timeoutInMinutes: 120
      strategy:
        matrix:
          part1:
            PART: 1
          part2:
            PART: 2
          part3:
            PART: 3
          part4:
            PART: 4
  ...

fix: preserve GLM nextn weights during checkpoint copying
  auto_round/utils/missing_tensors.py
  test/unit/common/utils/test_missing_tensors.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix: apply debug layer limits to nested configs
  auto_round/utils/model.py
  test/unit/common/utils/test_model_utils.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

docs: explain Windows Triton compilation prerequisites
  docs/step_by_step.md
  docs/step_by_step_CN.md
Due: none

fix: preserve calibration dataset on memory errors
  auto_round/auto_scheme/delta_loss.py
  test/unit/common/schemes/test_calibration_oom.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

chore: update Python version references to 3.11 across configuration and documentation files
  .azure-pipelines/ark-unit-test.yml
  .azure-pipelines/compatibility-test.yml
  .github/ISSUE_TEMPLATE/bug_report.yml
  pyproject.toml
  setup.py
  test/README.md
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Bump version and upgrade python version (#2429)
  .azure-pipelines/ark-unit-test.yml
  .azure-pipelines/compatibility-test.yml
  .github/ISSUE_TEMPLATE/bug_report.yml
  README.md
  README_CN.md
  auto_round/version.py
  pyproject.toml
  setup.py
  test/README.md
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

docs: explain Windows Triton compilation prerequisites (#2432)
  docs/step_by_step.md
  docs/step_by_step_CN.md
Due: none

fix: apply debug layer limits to nested configs (#2431)
  auto_round/utils/model.py
  test/unit/common/utils/test_model_utils.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Move new disk-stream tests to the CUDA tier; drop unused last_grad_input
  auto_round/auto_scheme/delta_loss.py
  test/unit/test_cuda/auto_scheme/test_auto_scheme_disk_stream.py
  test/unit/test_cuda/calibration/test_targeted_block_calib_stream.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix: include adopted shards in checkpoint statistics
  auto_round/compressors/shard_writer.py
  test/unit/common/utils/test_shard_writer.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix: correct Q5_K GGUF packing
  auto_round/export/export_to_gguf/packing.py
  test/unit/test_cpu/export/test_gguf_format.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix: keep 0 in the range of GGUF asymmetric K-quant groups
  auto_round/data_type/gguf.py
  test/unit/test_cpu/export/test_gguf_format.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix: keep make_q3_quants sums in sync with accepted levels
  auto_round/export/export_to_gguf/packing.py
  test/unit/test_cpu/export/test_gguf_format.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

add requests into main requirements.txt
  requirements.txt
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test.yml

fix: give attn_v of LLM_TYPE_70B models Q5_K like llama.cpp
  auto_round/export/export_to_gguf/gguf_dtype.py
  test/unit/common/export/test_gguf_dtype_helpers.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix: update torch and kernels versions in CUDA unit test scripts
  .azure-pipelines/scripts/cuda_unit_test/run_cuda_ut.sh
  .azure-pipelines/scripts/ut/run_ut_cuda.sh
Due: .azure-pipelines/unit-test-hpu.yml

fix: update transformers setup link in CUDA unit test environment
  .azure-pipelines/scripts/cuda_unit_test/run_cuda_ut.sh
Due: none

feat: export SVDQuant NVFP4 checkpoints for vLLM-Omni
  auto_round/export/svdquant_omni.py
  test/unit/common/export/test_svdquant_omni.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Fix CUDA UT timm issue (#2444)
  .azure-pipelines/scripts/cuda_unit_test/run_cuda_ut.sh
  .azure-pipelines/scripts/ut/run_ut_cuda.sh
Due: .azure-pipelines/unit-test-hpu.yml

feat: register Omni SVDQuant format with NVFP4 validation
  auto_round/autoround.py
  auto_round/export/formats/backends/__init__.py
  auto_round/export/formats/backends/svdquant_omni.py
  auto_round/export/svdquant_omni.py
  auto_round/utils/common.py
  test/unit/common/export/test_svdquant_omni.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix: give attn_v of LLM_TYPE_70B models Q5_K like llama.cpp (#2443)
  auto_round/export/export_to_gguf/gguf_dtype.py
  test/unit/common/export/test_gguf_dtype_helpers.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix: keep 0 in the range of GGUF asymmetric K-quant groups (#2438)
  auto_round/data_type/gguf.py
  test/unit/test_cpu/export/test_gguf_format.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix: correct Q5_K GGUF packing (#2437)
  auto_round/export/export_to_gguf/packing.py
  test/unit/test_cpu/export/test_gguf_format.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix: keep make_q3_quants sums in sync with accepted levels (#2439)
  auto_round/export/export_to_gguf/packing.py
  test/unit/test_cpu/export/test_gguf_format.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Potential fix for pull request finding 'Remove unused parse_scheme import'
  auto_round/autoround.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Potential fix for pull request finding 'Remove unused parse_dataset_spec import'
  auto_round/calib_dataset.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Potential fix for pull request finding 'Remove unused imports'
  auto_round/utils/dataset_utils.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix: honor Omni adapter arguments and record mappings
  auto_round/export/formats/backends/svdquant_omni.py
  auto_round/export/svdquant_omni.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix: forward pipeline call kwargs through diffusion entry
  auto_round/autoround.py
  test/unit/common/core/test_entry_normalization.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Potential fix for pull request finding
  test/unit/common/core/test_entry_normalization.py
Due: .azure-pipelines/unit-test.yml

Update test_entry_normalization.py
  test/unit/common/core/test_entry_normalization.py
Due: .azure-pipelines/unit-test.yml

fix: group generic self-attention QKV for SVDQuant
  auto_round/algorithms/transforms/svdquant/smooth_adapters/base.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix: align NVFP4 residual scales after SVDQuant transforms
  auto_round/algorithms/composer.py
  auto_round/algorithms/transforms/svdquant/apply.py
  auto_round/data_type/utils.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

refactor: extract extensible shared smoothing engine
  auto_round/algorithms/composer.py
  auto_round/algorithms/transforms/awq/base.py
  auto_round/algorithms/transforms/awq/smooth.py
  auto_round/algorithms/transforms/smoothing/__init__.py
  auto_round/algorithms/transforms/smoothing/calibration.py
  auto_round/algorithms/transforms/smoothing/engine.py
  auto_round/algorithms/transforms/smoothing/errors.py
  auto_round/algorithms/transforms/smoothing/groups.py
  auto_round/algorithms/transforms/smoothing/replay.py
  auto_round/algorithms/transforms/smoothing/scale.py
  auto_round/algorithms/transforms/smoothing/search.py
  auto_round/algorithms/transforms/svdquant/apply.py
  auto_round/algorithms/transforms/svdquant/residual.py
  auto_round/algorithms/transforms/svdquant/smooth.py
  auto_round/algorithms/transforms/svdquant/smooth_adapters/base.py
  docs/svdquant_details.md
  docs/svdquant_details_CN.md
  test/unit/common/algorithms/test_smoothing.py
  test/unit/common/algorithms/test_smoothing_awq_compatibility.py
  test/unit/common/algorithms/test_smoothing_engine.py
  test/unit/common/algorithms/test_svdquant.py
  test/unit/common/algorithms/test_svdquant_residual.py
  test/unit/common/algorithms/test_svdquant_smooth.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix: preserve calibrated NVFP4 scale update scheduling
  auto_round/algorithms/composer.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

refactor: reuse fused attention projection discovery for SVDQuant
  auto_round/algorithms/transforms/svdquant/smooth_adapters/base.py
  auto_round/data_type/utils.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix: forward pipeline call kwargs through diffusion entry (#2448)
  auto_round/autoround.py
  test/unit/common/core/test_entry_normalization.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

refactor: streamline model evaluation logic in run_model_evaluation function
  auto_round/eval/evaluation.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Path conditions:
  .azure-pipelines/code-scan.yml: any of: auto_round, auto_round_extension, setup.py, requirements.txt, requirements-cpu.txt, requirements-hpu.txt, .azure-pipelines/code-scan.yml, .azure-pipelines/scripts/codeScan
  .azure-pipelines/compatibility-test.yml: any of: auto_round, auto_round_extension, setup.py, setup.cfg, requirements.txt, requirements-cpu.txt, .azure-pipelines/compatibility-test.yml, but not: *.md, **/*.md
  .azure-pipelines/unit-test-hpu.yml: any of: auto_round, test/test*hpu*', setup.py, requirements-lib.txt, .azure-pipelines/scripts/ut, .azure-pipelines/template/docker-template.yml, .azure-pipelines/template/ut-template.yml, but not: auto_round/export/export_to_autogptq, auto_round/export/export_to_awq, *.md, **/*.md
  .azure-pipelines/unit-test-xpu.yml: any of: auto_round, auto_round_extension, test/test_ark, test/test_xpu, setup.py, .azure-pipelines/template/ut-template.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/scripts/ut/run_ut_xpu.sh, but not: *.md, **/*.md
  .azure-pipelines/unit-test.yml: any of: auto_round, auto_round_extension, test, setup.py, requirements.txt, requirements-cpu.txt, .azure-pipelines/scripts/ut, .azure-pipelines/unit-test.yml, .azure-pipelines/template/ut-template.yml, .azure-pipelines/template/docker-template.yml, but not: auto_round_extension/ark, test/test_hpu, test/test_ark, test/test_xpu, *.md, **/*.md, .azure-pipelines/scripts/ut/run_ut_hpu.sh, .azure-pipelines/scripts/ut/run_ut_cuda.sh, .azure-pipelines/scripts/ut/run_ut_xpu.sh
