Repository intel/auto-round: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Path conditions:
  .azure-pipelines/code-scan.yml: any of: auto_round, auto_round_extension, setup.py, requirements.txt, requirements-cpu.txt, requirements-hpu.txt, .azure-pipelines/code-scan.yml, .azure-pipelines/scripts/codeScan
  .azure-pipelines/compatibility-test.yml: any of: auto_round, auto_round_extension, setup.py, setup.cfg, requirements.txt, requirements-cpu.txt, .azure-pipelines/compatibility-test.yml, but not: *.md, **/*.md
  .azure-pipelines/unit-test-hpu.yml: any of: auto_round, test/test*hpu*', setup.py, requirements-lib.txt, .azure-pipelines/scripts/ut, .azure-pipelines/template/docker-template.yml, .azure-pipelines/template/ut-template.yml, but not: auto_round/export/export_to_autogptq, auto_round/export/export_to_awq, *.md, **/*.md
  .azure-pipelines/unit-test-xpu.yml: any of: auto_round, auto_round_extension, test/test_ark, test/test_xpu, setup.py, .azure-pipelines/template/ut-template.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/scripts/ut/run_ut_xpu.sh, but not: *.md, **/*.md
  .azure-pipelines/unit-test.yml: any of: auto_round, auto_round_extension, test, setup.py, requirements.txt, requirements-cpu.txt, .azure-pipelines/scripts/ut, .azure-pipelines/unit-test.yml, .azure-pipelines/template/ut-template.yml, .azure-pipelines/template/docker-template.yml, but not: auto_round_extension/ark, test/test_hpu, test/test_ark, test/test_xpu, *.md, **/*.md, .azure-pipelines/scripts/ut/run_ut_hpu.sh, .azure-pipelines/scripts/ut/run_ut_cuda.sh, .azure-pipelines/scripts/ut/run_ut_xpu.sh

support gptqmodel 7.0.0 and fix bug in CI (#1772)
  auto_round/compressors_new/calib.py
  auto_round/export/export_to_autogptq/export.py
  auto_round/inference/backend.py
  auto_round/inference/convert_model.py
  auto_round_extension/cuda/gptqmodel_marlin.py
  test/README.md
  test/helpers.py
  test/test_cpu/quantization/test_mxfp_nvfp.py
  test/test_cuda/models/test_fp8_model.py
  test/test_cuda/models/test_get_block_name.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

clean and fix for new arch (#1761)
  auto_round/compressors_new/base.py
  auto_round/export/utils.py
  auto_round/utils/common.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix amp (#1767)
  auto_round/alg_ext.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix accuracy regression and check it in CUDA CI (#1785)
  auto_round/algorithms/quantization/rtn/quantizer.py
  auto_round/compressors/base.py
  test/test_cuda/models/test_fp8_model.py
  test/test_cuda/models/test_get_block_name.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Fix hpu error (#1766)
  auto_round/modeling/__init__.py
  auto_round/modeling/hpu_patch.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

add support for MiMo-V2-Flash (#1718)
  auto_round/utils/common.py
  auto_round/utils/model.py
  auto_round/utils/weight_handler.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

support model_free WOQ quantization (#1699)
  auto_round/__main__.py
  auto_round/autoround.py
  auto_round/compressors/__init__.py
  auto_round/compressors/model_free.py
  auto_round/compressors_new/entry.py
  auto_round/compressors_new/model_free.py
  auto_round/compressors_new/utils.py
  auto_round/utils/common.py
  auto_round/utils/missing_tensors.py
  auto_round/utils/model.py
  docs/step_by_step.md
  docs/step_by_step_CN.md
  test/test_cpu/core/test_low_cpu_mem_options.py
  test/test_cpu/models/test_conv1d.py
  test/test_cpu/quantization/test_asym.py
  test/test_cpu/quantization/test_mix_bits.py
  test/test_cpu/quantization/test_model_free.py
  test/test_cpu/quantization/test_model_free_parity.py
  test/test_cpu/schemes/test_scheme.py
  test/test_cuda/export/test_auto_gptq_format.py
  test/test_cuda/quantization/test_model_free_parity.py
  test/test_xpu/quantization/test_model_free_parity.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Fix incompatible weight names (#1759)
  auto_round/autoround.py
  auto_round/compressors/base.py
  auto_round/compressors/shard_writer.py
  auto_round/compressors_new/base.py
  auto_round/compressors_new/shard_writer.py
  auto_round/inference/convert_model.py
  auto_round/utils/common.py
  test/test_cpu/models/test_mllm.py
  test/test_cuda/integrations/test_sglang.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix new arch bug for llmc (#1781)
  auto_round/compressors_new/base.py
  auto_round/compressors_new/calib.py
  auto_round/compressors_new/entry.py
  auto_round/compressors_new/zero_shot.py
  auto_round/context/base.py
  auto_round/context/model.py
  auto_round/utils/device.py
  auto_round/utils/model.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Fix vllm CUDA CI (#1750)
  .azure-pipelines/scripts/cuda_unit_test/run_cuda_ut.sh
  .azure-pipelines/scripts/ut/run_ut_cuda.sh
Due: .azure-pipelines/unit-test-hpu.yml

add warnings for lm_head activation scale fallback (#1728)
  auto_round/compressors/base.py
  auto_round/wrapper.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

delete unreproduced results for now (#1760)
  README.md
  README_CN.md
  docs/int4_acc.md
Due: none

Optimize CUDA CI and Code Scan workflows (#1770)
  .azure-pipelines/code-scan.yml
  .azure-pipelines/scripts/codeScan/bandit/bandit.sh
  .azure-pipelines/scripts/cuda_unit_test/monitor_gpu.py
  .azure-pipelines/scripts/cuda_unit_test/run_cuda_ut.sh
  .azure-pipelines/scripts/cuda_unit_test/runpod_manager.py
  .azure-pipelines/scripts/ut/run_ut_cuda.sh
  .azure-pipelines/unit-test-cuda.yml
  .pre-commit-config.yaml
  test/test_cuda/requirements.txt
  test/test_cuda/requirements_sglang.txt
  test/test_cuda/requirements_vlm.txt
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

Continue optimizing AutoScheme RAM consumption
  auto_round/compressors/base.py
  auto_round/utils/offload.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix
  auto_round/algorithms/quantization/base.py
  auto_round/algorithms/quantization/rtn/quantizer.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

allow pre-release
  .azure-pipelines/template/ut-template.yml
Due: .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix AWQ MoE test: expect both mlp.gate and mlp.shared_expert_gate as FP
  test/test_cpu/algorithms/test_awq.py
  test/test_cuda/algorithms/test_awq.py
Due: .azure-pipelines/unit-test.yml

fix: restore AutoRound __new__ signature after merge
  auto_round/autoround.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix: update replace_modules import paths
  auto_round/compressors_new/zero_shot.py
  auto_round/context/model.py
  auto_round/modeling/fused_moe/step3_5_moe.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

initial support
  auto_round/__main__.py
  auto_round/autoround.py
  auto_round/calib_dataset.py
  auto_round/compressors/__init__.py
  auto_round/compressors/base.py
  auto_round/compressors/vllm/__init__.py
  auto_round/compressors/vllm/compressor.py
  auto_round/data_type/utils.py
  auto_round/export/export_to_autogptq/export.py
  auto_round/export/export_to_autoround/export.py
  auto_round/export/export_to_llmcompressor/export_to_fp.py
  auto_round/modeling/fused_moe/__init__.py
  auto_round/modeling/fused_moe/deepseek_v2.py
  auto_round/modeling/fused_moe/gpt_oss.py
  auto_round/modeling/fused_moe/llama4.py
  auto_round/modeling/fused_moe/qwen3_5_moe.py
  auto_round/modeling/fused_moe/qwen3_omni.py
  auto_round/modeling/fused_moe/qwen3_vl_moe.py
  auto_round/modeling/replace_modules.py
  auto_round/modeling/vllm_module.py
  auto_round/special_model_handler.py
  auto_round/utils/common.py
  auto_round/utils/model.py
  test/test_cpu/models/test_moe_model.py
  test/test_cpu/models/test_omni_model.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix(vllm): stabilize use_vllm_loading model init
  auto_round/compressors/vllm/compressor.py
  auto_round/utils/model.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

vllm: support seqlen 2048 calibration prompts without decode
  auto_round/compressors/vllm/compressor.py
  auto_round/utils/model.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

vllm: support seqlen 2048 calibration prompts without decode
  auto_round/compressors/vllm/compressor.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Fix Qwen Omni quantization model issue for long-form audio generation
  auto_round/compressors/base.py
  auto_round/compressors/shard_writer.py
  auto_round/modeling/fused_moe/moe_experts_interface.py
  auto_round/modeling/fused_moe/qwen3_omni.py
  auto_round/modeling/fused_moe/replace_modules.py
  auto_round/special_model_handler.py
  auto_round/utils/common.py
  auto_round/utils/missing_tensors.py
  test/test_cpu/models/test_omni_model.py
  test/test_cpu/utils/test_missing_tensors.py
  test/test_cpu/utils/test_shard_writer.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix ci xpu issue, not caused by this PR
  test/test_xpu/test_autoround.py
Due: .azure-pipelines/unit-test-xpu.yml

Update test_shard_writer.py
  test/test_cpu/utils/test_shard_writer.py
Due: .azure-pipelines/unit-test.yml

fix pre-commit
  test/test_cpu/utils/test_missing_tensors.py
Due: .azure-pipelines/unit-test.yml

fix ut
  auto_round/utils/missing_tensors.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix workflow
  .azure-pipelines/template/ut-template.yml
Due: .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

add logger warning
  auto_round/formats.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

separate v2
  auto_round/algorithms/quantization/__init__.py
  auto_round/algorithms/quantization/sign_roundv2/__init__.py
  auto_round/algorithms/quantization/sign_roundv2/quantizer.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fixed logger warning pylint
  auto_round/formats.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

update
  auto_round/compressors_new/base.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

adapt code for new arch
  auto_round/algorithms/quantization/base.py
  auto_round/calibration/utils.py
  auto_round/compressors_new/calib.py
  auto_round/compressors_new/diffusion_mixin.py
  auto_round/compressors_new/utils.py
  auto_round/context/model.py
  auto_round/modeling/fused_moe/moe_experts_interface.py
  auto_round/special_model_handler.py
  auto_round/utils/device.py
  auto_round/utils/model.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

add smooth K for sagev1
  auto_round_extension/ark/.gitignore
  auto_round_extension/ark/auto_round_kernel/CMakeLists.txt
  auto_round_extension/ark/auto_round_kernel/__init__.py
  auto_round_extension/ark/auto_round_kernel/ark.cpp
  auto_round_extension/ark/auto_round_kernel/wrapper/include/utils.hpp
  auto_round_extension/ark/auto_round_kernel/wrapper/include/xpu_wrapper.hpp
  auto_round_extension/ark/auto_round_kernel/wrapper/test/test_gemm.hpp
  auto_round_extension/ark/auto_round_kernel/wrapper/test/test_main.cpp
  auto_round_extension/ark/auto_round_kernel/wrapper/test/test_quant.hpp
  auto_round_extension/ark/auto_round_kernel/wrapper/test/test_sdpa.hpp
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-xpu.yml

feat(vllm): integrate use_vllm_loading into new AutoRound architecture with CLI/context/model routing and VllmMixin
  auto_round/__main__.py
  auto_round/compressors_new/base.py
  auto_round/compressors_new/entry.py
  auto_round/compressors_new/vllm_mixin.py
  auto_round/context/model.py
  auto_round/utils/model.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml
