Repository intel/auto-round: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

.azure-pipelines/code-scan.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: BanditCodeScan
    displayName: Bandit Code Scan
    dependsOn: []
    jobs:
    - job: Bandit
      displayName: Bandit
      steps:
      - template: template/code-scan-template.yml
        parameters:
          codeScanFileName: bandit
          uploadPath: bandit.log
  ...

.azure-pipelines/compatibility-test.yml:
  stages:
  - stage: null
    displayName: Compatibility Test
    dependsOn: []
    jobs:
    - job: null
      timeoutInMinutes: 20
      strategy:
        matrix:
          Python310_Linux:
            python_version: '3.10'
            vmImage: ubuntu-latest
          Python311_Linux:
            python_version: '3.11'
  ...

.azure-pipelines/unit-test-hpu.yml:
  pool: GAUDI
  stages:
  - stage: Unit_test
    displayName: Unit Test
    dependsOn: []
    jobs:
    - job: null
      displayName: Unit Test
      steps:
      - template: template/ut-template.yml
        parameters:
          imageSource: pull
          dockerConfigName: commonDockerConfig
  ...

.azure-pipelines/unit-test-xpu.yml:
  pool: B60
  stages:
  - stage: Unit_test
    displayName: Unit Test
    dependsOn: []
    jobs:
    - job: null
      displayName: Unit Test
      steps:
      - template: template/ut-template.yml
        parameters:
          dockerConfigName: commonDockerConfig
          utScriptFileName: run_ut_xpu
  ...

.azure-pipelines/unit-test.yml:
  pool: ICX-16C
  stages:
  - stage: Unit_test
    displayName: Unit Test
    dependsOn: []
    jobs:
    - job: null
      timeoutInMinutes: 120
      strategy:
        matrix:
          part1:
            PART: 1
          part2:
            PART: 2
          part3:
            PART: 3
          part4:
            PART: 4
  ...

Add NVFP4 quantization support with layer configuration checks in model_free.py for nvidia nvfp4 model reformat
  auto_round/compressors/model_free.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Normalize NVFP4 global scales to reciprocal form in _normalize_nvfp4_source_tensors function
  auto_round/compressors/model_free.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Enhance quantization handling by adding NVFP4 support in _get_mxfp_group_scheme_and_format function
  auto_round/compressors/model_free.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix performance regression bug (#2136)
  auto_round/algorithms/quantization/base.py
  auto_round/algorithms/quantization/rtn/quantizer.py
  auto_round/algorithms/quantization/sign_roundv2/quantizer.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix device target
  auto_round/calibration/diffusion.py
  test/unit/test_cpu/models/test_diffusion.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Update unit test requirements paths for CUDA tests
  .azure-pipelines/scripts/ut/run_ut_cuda.sh
Due: .azure-pipelines/unit-test-hpu.yml

quant_method == auto-round by defauly
  auto_round/export/formats/backends/fp8.py
  test/unit/test_cuda/export/test_auto_round_format.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

quant_method == auto-round by defauly
  auto_round/export/formats/backends/fp8.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

modify the blockforwardrunner cache process
  auto_round/algorithms/block_runner.py
  test/unit/test_cpu/algorithms/test_block_runner.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

feat: add per-head fp8 kv attention calibration (#2044)
  auto_round/autoround.py
  auto_round/cli/main.py
  auto_round/cli/parser.py
  auto_round/compressors/base.py
  auto_round/context/compress.py
  auto_round/experimental/attention.py
  auto_round/experimental/kv_cache.py
  auto_round/experimental/utils.py
  auto_round/export/export_to_llmcompressor/export_to_fp.py
  auto_round/export/export_to_llmcompressor/export_to_static_fp.py
  test/unit/test_cpu/export/test_export.py
  test/unit/test_cpu/export/test_llmc_format.py
  test/unit/test_cpu/test_experimental_fp8_granularity.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Potential fix for pull request finding
  auto_round/algorithms/transforms/svdquant/apply.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Resolved issues by Copilot comments
  auto_round_extension/ark/auto_round_kernel/__init__.py
  auto_round_extension/ark/test/validate_non_int8_cpu_sdpa.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-xpu.yml

feat: enable search scale for mxfp in model-free - enable search scale for mxfp in model-free - add disable_opt_rtn parameter for model-free quantization and update related tests
  auto_round/autoround.py
  auto_round/compressors/model_free.py
  auto_round/data_type/mxfp.py
  auto_round/utils/missing_tensors.py
  test/unit/test_cpu/quantization/test_model_free.py
  test/unit/test_cpu/utils/test_missing_tensors.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Resolved issues by Copilot comments
  auto_round_extension/ark/auto_round_kernel/__init__.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-xpu.yml

chore: add bf16-sparse FLUX.1-dev output image reference
  auto_round_extension/ark/examples/flux_sparse_bf16_topk0.5_512.png
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-xpu.yml

detect the B70
  auto_round_extension/ark/auto_round_kernel/CMakeLists.txt
  auto_round_extension/ark/auto_round_kernel/bestla/CMakeLists.txt
  auto_round_extension/ark/setup.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-xpu.yml

refactor algorithm cli
  auto_round/algorithms/config.py
  auto_round/algorithms/quantization/config.py
  auto_round/algorithms/quantization/rtn/config.py
  auto_round/algorithms/quantization/sign_round/config.py
  auto_round/algorithms/registry.py
  auto_round/algorithms/transforms/awq/config.py
  auto_round/algorithms/transforms/hadamard/config.py
  auto_round/cli/algorithms.py
  auto_round/cli/main.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

remove legance algorithm arg
  auto_round/autoround.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Refactor summary printing in unit test scripts to use a dedicated Python script for improved readability and maintainability
  .azure-pipelines/scripts/cuda_unit_test/run_cuda_ut.sh
  .azure-pipelines/scripts/ut/print_summary.py
  .azure-pipelines/scripts/ut/run_ut.sh
  .azure-pipelines/scripts/ut/run_ut_hpu.sh
  .azure-pipelines/scripts/ut/run_ut_xpu.sh
Due: .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

remove class compressorbuilder
  auto_round/autoround.py
  test/test_cpu/core/test_autoround_entry.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Update timeout handling in unit test scripts and fix import path for llmc integration test
  .azure-pipelines/scripts/ut/run_ut_cuda.sh
  test/integration/test_cuda/test_llmc_integration.py
Due: .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

remove useless code
  auto_round_extension/ark/auto_round_kernel/wrapper/include/sycl_tla_s8_gemm.hpp
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-xpu.yml

clean autoround api
  auto_round/autoround.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

chore: remove weekly CUDA pipeline configuration
  .azure-pipelines/weekly-test-cuda.yml
Due: none

remove rotation_config, pass by alg_configs
  auto_round/algorithms/quantization/rtn/config.py
  auto_round/algorithms/registry.py
  auto_round/autoround.py
  docs/rotation_details.md
  docs/step_by_step.md
  docs/step_by_step_CN.md
  test/test_cpu/core/test_autoround_entry.py
  test/test_cuda/transform/test_mxfp4_transform.py
  test/test_cuda/transform/test_spinquant.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

clean
  auto_round_extension/ark/SPARSE_BF16_HANDOFF_20260805_CN.md
  auto_round_extension/ark/SPARSE_BF16_STATUS_20260729.md
  auto_round_extension/ark/SPARSE_BF16_STATUS_20260729_CN.md
Due: .azure-pipelines/code-scan.yml

chore: drop dev handoff and generated images from bf16 sparse branch
  auto_round_extension/ark/SPARSE_BF16_HANDOFF_20260805.md
  auto_round_extension/ark/bf16_sparse_speedup_vs_dense_sdpa.png
  auto_round_extension/ark/examples/flux_sparse_bf16_topk0.5_512.png
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-xpu.yml

feat: enhance nightly CI pipelines with parameterized unit tests and integration paths
  .azure-pipelines/nightly-test-xpu.yml
  .azure-pipelines/nightly-test.yml
  .azure-pipelines/scripts/ut/run_ut.sh
  .azure-pipelines/scripts/ut/run_ut_xpu.sh
  .azure-pipelines/template/ut-template.yml
  test/integration/README.md
Due: .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Removed internal features & Restored public LSE entry
  auto_round_extension/ark/auto_round_kernel/CMakeLists.txt
  auto_round_extension/ark/auto_round_kernel/__init__.py
  auto_round_extension/ark/auto_round_kernel/ark.cpp
  auto_round_extension/ark/auto_round_kernel/ark/cpu/mha_dense.h
  auto_round_extension/ark/auto_round_kernel/ark/cpu/mha_dense_wrapper.h
  auto_round_extension/ark/auto_round_kernel/ark/cpu/sdpa.cpp
  auto_round_extension/ark/auto_round_kernel/ark/cpu/sdpa.h
  auto_round_extension/ark/test/test_ark_cpu_mixed_bestla_sdpa.py
  auto_round_extension/ark/test/test_ark_cpu_sdpa.py
  auto_round_extension/ark/test/validate_non_int8_cpu_sdpa.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-xpu.yml

fix: update unit test script to use UT_MODE for test part and pass it to docker exec
  .azure-pipelines/scripts/ut/run_ut.sh
  .azure-pipelines/template/ut-template.yml
Due: .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

feat: add nightly pipeline for CPU integration and coverage collection
  .azure-pipelines/nightly-test-cpu.yml
Due: none

fix: update nightly pipeline paths to include configuration files
  .azure-pipelines/nightly-test-cpu.yml
  .azure-pipelines/nightly-test-xpu.yml
Due: none

fix: remove skip_ci decorator from test_llm and test_mllm in TestModelScope
  .azure-pipelines/scripts/ut/run_ut.sh
  .azure-pipelines/scripts/ut/run_ut_xpu.sh
  test/unit/test_cpu/utils/test_model_scope.py
Due: .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix: update UT execution environment variables and streamline docker exec command
  .azure-pipelines/template/ut-template.yml
Due: .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix: correct import path for multi_card in test_llmc_integration.py
  test/integration/test_cpu/test_llmc_integration.py
Due: .azure-pipelines/unit-test.yml

Fix import path for multi_card in llmc integration test
  test/integration/test_cpu/test_llmc_integration.py
Due: .azure-pipelines/unit-test.yml

removed repeated yml
  .github/workflows/ark_cpu_sdpa.yml
Due: none

feat: enhance model-free mode with calibration-free WOQ and optimized RTN support
  auto_round/autoround.py
  auto_round/compressors/model_free.py
  auto_round/utils/missing_tensors.py
  docs/step_by_step.md
  docs/step_by_step_CN.md
  test/unit/test_cpu/quantization/test_model_free.py
  test/unit/test_cpu/quantization/test_model_free_parity.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Refactor NVFP4 E5M3 quantization to use "nvfp4_v2" data type
  auto_round/compressors/model_free.py
  auto_round/data_type/nvfp.py
  auto_round/experimental/qmodules/nvfp4_e5m3.py
  auto_round/export/export_to_autoround/qlinear_fp.py
  auto_round/export/export_to_llmcompressor/export_to_fp.py
  auto_round/export/formats/backends/llm_compressor.py
  auto_round/export/formats/base.py
  auto_round/inference/backend.py
  auto_round/inference/convert_model.py
  auto_round/schemes.py
  auto_round_extension/cuda/cute_nvfp4_e5m3.py
  test/unit/test_cpu/core/test_format_decoupling.py
  test/unit/test_cpu/data_type/test_nvfp.py
  test/unit/test_cpu/export/test_fake_format.py
  test/unit/test_cpu/quantization/test_model_free.py
  test/unit/test_cpu/quantization/test_nvfp4_quant_linear.py
  test/unit/test_cuda/quantization/test_nvfp4_e5m3_cute.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

update per comments
  auto_round/compressors/model_free.py
  auto_round/export/formats/backends/autoround.py
  docs/nvfp4_e5m3.md
  docs/nvfp4_e5m3_CN.md
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Path conditions:
  .azure-pipelines/code-scan.yml: any of: auto_round, auto_round_extension, setup.py, requirements.txt, requirements-cpu.txt, requirements-hpu.txt, .azure-pipelines/code-scan.yml, .azure-pipelines/scripts/codeScan
  .azure-pipelines/compatibility-test.yml: any of: auto_round, auto_round_extension, setup.py, setup.cfg, requirements.txt, requirements-cpu.txt, .azure-pipelines/compatibility-test.yml, but not: *.md, **/*.md
  .azure-pipelines/unit-test-hpu.yml: any of: auto_round, test/test*hpu*', setup.py, requirements-lib.txt, .azure-pipelines/scripts/ut, .azure-pipelines/template/docker-template.yml, .azure-pipelines/template/ut-template.yml, but not: auto_round/export/export_to_autogptq, auto_round/export/export_to_awq, *.md, **/*.md
  .azure-pipelines/unit-test-xpu.yml: any of: auto_round, auto_round_extension, test/test_ark, test/test_xpu, setup.py, .azure-pipelines/template/ut-template.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/scripts/ut/run_ut_xpu.sh, but not: *.md, **/*.md
  .azure-pipelines/unit-test.yml: any of: auto_round, auto_round_extension, test, setup.py, requirements.txt, requirements-cpu.txt, .azure-pipelines/scripts/ut, .azure-pipelines/unit-test.yml, .azure-pipelines/template/ut-template.yml, .azure-pipelines/template/docker-template.yml, but not: auto_round_extension/ark, test/test_hpu, test/test_ark, test/test_xpu, *.md, **/*.md, .azure-pipelines/scripts/ut/run_ut_hpu.sh, .azure-pipelines/scripts/ut/run_ut_cuda.sh, .azure-pipelines/scripts/ut/run_ut_xpu.sh
