Repository intel/auto-round: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

.azure-pipelines/code-scan.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: BanditCodeScan
    displayName: Bandit Code Scan
    dependsOn: []
    jobs:
    - job: Bandit
      displayName: Bandit
      steps:
      - template: template/code-scan-template.yml
        parameters:
          codeScanFileName: bandit
          uploadPath: bandit.log
  ...

.azure-pipelines/compatibility-test.yml:
  stages:
  - stage: null
    displayName: Compatibility Test
    dependsOn: []
    jobs:
    - job: null
      timeoutInMinutes: 20
      strategy:
        matrix:
          Python310_Linux:
            python_version: '3.10'
            vmImage: ubuntu-latest
          Python311_Linux:
            python_version: '3.11'
  ...

.azure-pipelines/unit-test-hpu.yml:
  pool: GAUDI
  stages:
  - stage: Unit_test
    displayName: Unit Test
    dependsOn: []
    jobs:
    - job: null
      displayName: Unit Test
      steps:
      - template: template/ut-template.yml
        parameters:
          imageSource: pull
          dockerConfigName: commonDockerConfig
  ...

.azure-pipelines/unit-test-xpu.yml:
  pool: B60
  stages:
  - stage: Unit_test
    displayName: Unit Test
    dependsOn: []
    jobs:
    - job: null
      displayName: Unit Test
      steps:
      - template: template/ut-template.yml
        parameters:
          dockerConfigName: commonDockerConfig
          utScriptFileName: run_ut_xpu
  ...

.azure-pipelines/unit-test.yml:
  pool: ICX-16C
  stages:
  - stage: Unit_test
    displayName: Unit Test
    dependsOn: []
    jobs:
    - job: null
      timeoutInMinutes: 120
      strategy:
        matrix:
          part1:
            PART: 1
          part2:
            PART: 2
          part3:
            PART: 3
          part4:
            PART: 4
  ...

Add NVFP4 E5M3 support with CuTe QDQ integration and related tests
  auto_round/data_type/nvfp.py
  auto_round/experimental/qmodules/nvfp4_e5m3.py
  auto_round_extension/cuda/cute_nvfp4_e5m3.py
  test/test_cpu/quantization/test_nvfp4_quant_linear.py
  test/test_cuda/quantization/test_nvfp4_e5m3_cute.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix CI
  auto_round/export/formats/backends/fake.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fixed module name
  .github/workflows/non_int8_cpu_sdpa.yml
Due: none

fix: skip cpu-related tests when cpuinfo is missing
  auto_round_extension/ark/test/test_ark_cpu_sdpa.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-xpu.yml

blocked unsupported internal feature kernel
  auto_round_extension/ark/auto_round_kernel/ark/cpu/sdpa.cpp
  auto_round_extension/ark/test/test_ark_cpu_internal_sdpa.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-xpu.yml

added workflow tests
  .github/workflows/ark_cpu_sdpa.yml
  .github/workflows/non_int8_cpu_sdpa.yml
Due: none

added workflow tests
  .github/workflows/ark_cpu_sdpa.yml
Due: none

fixed internal feature router on mixed fp16
  auto_round_extension/ark/auto_round_kernel/ark/cpu/mha_dense_wrapper.h
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-xpu.yml

cleaned up out-of-scope codes
  .github/workflows/ark_cpu_sdpa.yml
  auto_round_extension/ark/auto_round_kernel/CMakeLists.txt
  auto_round_extension/ark/auto_round_kernel/ark.cpp
  auto_round_extension/ark/auto_round_kernel/ark/cpu/sdpa.cpp
  auto_round_extension/ark/test/test_ark_cpu_internal_sdpa.py
  auto_round_extension/ark/test/validate_non_int8_cpu_sdpa.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-xpu.yml

fixed internal feature avoiding wrong router
  auto_round_extension/ark/auto_round_kernel/ark/cpu/mha_dense_wrapper.h
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-xpu.yml

fix: harden CPU sdpa test imports and document scalar reference
  auto_round_extension/ark/requirements.txt
  auto_round_extension/ark/test/test_ark_cpu_internal_sdpa.py
  auto_round_extension/ark/test/test_ark_cpu_sdpa.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-xpu.yml

fixed cpu sdpa regression
  auto_round_extension/ark/auto_round_kernel/__init__.py
  auto_round_extension/ark/auto_round_kernel/ark.cpp
  auto_round_extension/ark/test/test_ark_cpu_sdpa.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-xpu.yml

added avx512 stable branch & amx-bf16 branch to mixed fp16 route
  auto_round_extension/ark/auto_round_kernel/ark/cpu/mha_dense_wrapper.h
  auto_round_extension/ark/auto_round_kernel/ark/cpu/sdpa.cpp
  auto_round_extension/ark/auto_round_kernel/ark/cpu/sdpa.h
  auto_round_extension/ark/test/bench_ark_cpu_sdpa.py
  auto_round_extension/ark/test/test_ark_cpu_internal_sdpa.py
  auto_round_extension/ark/test/test_ark_cpu_sdpa.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-xpu.yml

complete CPU sdpa route wiring, route4 debug in progress
  .github/workflows/non_int8_cpu_sdpa.yml
  .gitignore
  auto_round_extension/ark/.gitignore
  auto_round_extension/ark/README.md
  auto_round_extension/ark/auto_round_kernel/__init__.py
  auto_round_extension/ark/auto_round_kernel/ark.cpp
  auto_round_extension/ark/auto_round_kernel/ark/cpu/mha_dense.cpp
  auto_round_extension/ark/auto_round_kernel/ark/cpu/mha_dense.h
  auto_round_extension/ark/auto_round_kernel/ark/cpu/mha_dense_wrapper.h
  auto_round_extension/ark/auto_round_kernel/ark/cpu/sdpa.cpp
  auto_round_extension/ark/auto_round_kernel/ark/cpu/sdpa.h
  auto_round_extension/ark/auto_round_kernel/bestla/bestla/bestla_gemm.h
  auto_round_extension/ark/auto_round_kernel/wrapper/include/utils.hpp
  auto_round_extension/ark/auto_round_kernel/wrapper/test/test_reorder_kv.hpp
  auto_round_extension/ark/test/bench_ark_cpu_sdpa.py
  auto_round_extension/ark/test/test_ark_cpu_internal_sdpa.py
  auto_round_extension/ark/test/test_ark_cpu_mixed_bestla_sdpa.py
  auto_round_extension/ark/test/test_ark_cpu_sdpa.py
  auto_round_extension/ark/test/validate_non_int8_cpu_sdpa.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-xpu.yml

removed excessive redefinition of TENSOR_LAYOUT
  auto_round_extension/ark/auto_round_kernel/ark.cpp
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-xpu.yml

blocked unsupported internal feature kernel
  auto_round_extension/ark/auto_round_kernel/ark/cpu/mha_dense_wrapper.h
  auto_round_extension/ark/auto_round_kernel/ark/cpu/sdpa.cpp
  auto_round_extension/ark/test/test_ark_cpu_internal_sdpa.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-xpu.yml

WIP: added CI runner debuger
  auto_round_extension/ark/auto_round_kernel/ark/cpu/mha_dense_wrapper.h
  auto_round_extension/ark/test/test_ark_cpu_internal_sdpa.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-xpu.yml

fixed cpu sdpa regressions
  auto_round_extension/ark/auto_round_kernel/__init__.py
  auto_round_extension/ark/auto_round_kernel/ark.cpp
  auto_round_extension/ark/auto_round_kernel/wrapper/include/utils.hpp
  auto_round_extension/ark/test/test_ark_cpu_sdpa.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-xpu.yml

rebased and merged upstream main
  auto_round_extension/ark/auto_round_kernel/wrapper/include/utils.hpp
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-xpu.yml

fix: defer .so import to end of __init__.py to prevent circular import
  .github/workflows/ark_cpu_sdpa.yml
  auto_round_extension/ark/auto_round_kernel/__init__.py
  auto_round_extension/ark/test/test_ark_cpu_internal_sdpa.py
  auto_round_extension/ark/test/test_ark_cpu_sdpa.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-xpu.yml

fix: skip cpu-related tests when cpuinfo is missing
  auto_round_extension/ark/test/test_ark_cpu_internal_sdpa.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-xpu.yml

modified CI compiling path
  .github/workflows/non_int8_cpu_sdpa.yml
Due: none

Removed out-of-scope xpu alignment
  auto_round_extension/ark/auto_round_kernel/__init__.py
  auto_round_extension/ark/auto_round_kernel/ark.cpp
  auto_round_extension/ark/auto_round_kernel/wrapper/include/sycl_tla_common.hpp
  auto_round_extension/ark/test/test_xpu_kv_cache.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-xpu.yml

fixed internal feature router
  auto_round_extension/ark/auto_round_kernel/ark/cpu/sdpa.cpp
  auto_round_extension/ark/test/test_ark_cpu_internal_sdpa.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-xpu.yml

[auto_round format] Add NVFP4 E5M3 support with CuTe integration and update related components
  auto_round/compressors/model_free.py
  auto_round/experimental/qmodules/__init__.py
  auto_round/experimental/qmodules/nvfp4_e5m3.py
  auto_round/export/formats/backends/autoround.py
  auto_round/export/formats/base.py
  auto_round/inference/backend.py
  auto_round/inference/convert_model.py
  test/test_cpu/core/test_format_decoupling.py
  test/test_cpu/export/test_fake_format.py
  test/test_cpu/quantization/test_model_free.py
  test/test_cpu/quantization/test_nvfp4_quant_linear.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Fixed import.so route bug & removed out-of-scope tests
  auto_round_extension/ark/test/test_ark_cpu_internal_sdpa.py
  auto_round_extension/ark/test/test_ark_cpu_mixed_bestla_sdpa.py
  auto_round_extension/ark/test/test_ark_cpu_sdpa.py
  auto_round_extension/ark/test/test_sdpa_parity.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-xpu.yml

[fix] XPU crash due to circle call of nonzero() and index_select() (#2117)
  .claude/skills/adapt-new-llm/SKILL.md
  auto_round/modeling/fused_moe/moe_experts_interface.py
  auto_round/modeling/fused_moe/qwen3_5_moe.py
  auto_round/modeling/fused_moe/qwen3_omni.py
  auto_round/modeling/fused_moe/qwen3_vl_moe.py
  auto_round/modeling/fused_moe/replace_modules.py
  auto_round/modeling/fused_moe/step3_5_moe.py
  auto_round/modeling/fused_moe/utils.py
  auto_round/modeling/unfused_moe/deepseek_v3.py
  auto_round/modeling/unfused_moe/ernie4_5_moe.py
  auto_round/modeling/unfused_moe/glm_moe.py
  auto_round/modeling/unfused_moe/glm_moe_dsa.py
  auto_round/modeling/unfused_moe/glm_moe_light.py
  auto_round/modeling/unfused_moe/qwen3_moe.py
  auto_round/modeling/unfused_moe/qwen3_next.py
  auto_round/utils/missing_tensors.py
  test/test_cpu/utils/test_missing_tensors.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Enhance model conversion and CUDA integration for NVFP4 E5M3 support
  auto_round/inference/convert_model.py
  auto_round/utils/common.py
  auto_round_extension/cuda/cute_nvfp4_e5m3.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

dev-20260805:In mixed‑precision mode, the LLM Compressor export modification: the original format unifies all layers as Linear, causing vLLM inference to fail during parsing.
  auto_round/export/export_to_llmcompressor/export.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Revert "Fix: temporarily skip tests due to known issues with xfail annotation…"
  test/test_cpu/export/test_llmc_format.py
  test/test_xpu/test_llmc_integration.py
Due: .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Add random-init diffusion quantization path
  HANDOFF_MINIMAX_RANDOM_INIT.md
  auto_round/autoround.py
  auto_round/compressors/base.py
  auto_round/context/model.py
  auto_round/utils/model.py
  test/test_cpu/core/test_entry_contract.py
  test/test_cpu/models/test_diffusion.py
  test/test_cpu/quantization/test_model_free.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

chore: ignore XPU build artifact directories
  auto_round_extension/ark/.gitignore
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-xpu.yml

feat: wire native BF16 sparse SDPA kernel and launchers
  auto_round_extension/ark/auto_round_kernel/CMakeLists.txt
  auto_round_extension/ark/auto_round_kernel/__init__.py
  auto_round_extension/ark/auto_round_kernel/ark.cpp
  auto_round_extension/ark/auto_round_kernel/sdpa_sparse_bf16.cpp
  auto_round_extension/ark/auto_round_kernel/wrapper/include/sycl_tla_common.hpp
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-xpu.yml

fix: BF16 sparse native kernel element-aware MMA and softmax scale
  auto_round_extension/ark/auto_round_kernel/wrapper/include/stla/xe_sparse_sagev1_fwd_mainloop.hpp
  auto_round_extension/ark/auto_round_kernel/wrapper/include/sycl_tla_sdpa_sparse.hpp
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-xpu.yml

fix: sparse BF16 LUT crash, lossless round-trip, and preprocess speed
  auto_round_extension/ark/auto_round_kernel/sparge_preprocess_triton.py
  auto_round_extension/ark/auto_round_kernel/sparse_attention.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-xpu.yml

feat: BF16 sparse SDPA benchmark support and repro script
  auto_round_extension/ark/benchmarks/bench_sparse_topk.py
  auto_round_extension/ark/tools/repro_sparse_bf16_sdpa_bench.sh
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-xpu.yml

test: BF16 sparse preprocess and LUT regression tests
  auto_round_extension/ark/auto_round_kernel/wrapper/test/test_sage_sparse_prefill_e2e.py
  auto_round_extension/ark/auto_round_kernel/wrapper/test/test_sparge_preprocess_topk_e2e.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-xpu.yml

feat: include ark-xbuild in wan sparse binding search roots
  auto_round_extension/ark/examples/wan_sparse_patch.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-xpu.yml

refactor: remove dense-mask fallback from sage_sparse_bf16
  auto_round_extension/ark/auto_round_kernel/sparse_attention.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-xpu.yml

Path conditions:
  .azure-pipelines/code-scan.yml: any of: auto_round, auto_round_extension, setup.py, requirements.txt, requirements-cpu.txt, requirements-hpu.txt, .azure-pipelines/code-scan.yml, .azure-pipelines/scripts/codeScan
  .azure-pipelines/compatibility-test.yml: any of: auto_round, auto_round_extension, setup.py, setup.cfg, requirements.txt, requirements-cpu.txt, .azure-pipelines/compatibility-test.yml, but not: *.md, **/*.md
  .azure-pipelines/unit-test-hpu.yml: any of: auto_round, test/test*hpu*', setup.py, requirements-lib.txt, .azure-pipelines/scripts/ut, .azure-pipelines/template/docker-template.yml, .azure-pipelines/template/ut-template.yml, but not: auto_round/export/export_to_autogptq, auto_round/export/export_to_awq, *.md, **/*.md
  .azure-pipelines/unit-test-xpu.yml: any of: auto_round, auto_round_extension, test/test_ark, test/test_xpu, setup.py, .azure-pipelines/template/ut-template.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/scripts/ut/run_ut_xpu.sh, but not: *.md, **/*.md
  .azure-pipelines/unit-test.yml: any of: auto_round, auto_round_extension, test, setup.py, requirements.txt, requirements-cpu.txt, .azure-pipelines/scripts/ut, .azure-pipelines/unit-test.yml, .azure-pipelines/template/ut-template.yml, .azure-pipelines/template/docker-template.yml, but not: auto_round_extension/ark, test/test_hpu, test/test_ark, test/test_xpu, *.md, **/*.md, .azure-pipelines/scripts/ut/run_ut_hpu.sh, .azure-pipelines/scripts/ut/run_ut_cuda.sh, .azure-pipelines/scripts/ut/run_ut_xpu.sh
