Repository intel/auto-round: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

.azure-pipelines/code-scan.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: BanditCodeScan
    displayName: Bandit Code Scan
    dependsOn: []
    jobs:
    - job: Bandit
      displayName: Bandit
      steps:
      - template: template/code-scan-template.yml
        parameters:
          codeScanFileName: bandit
          uploadPath: bandit.log
  ...

.azure-pipelines/compatibility-test.yml:
  stages:
  - stage: null
    displayName: Compatibility Test
    dependsOn: []
    jobs:
    - job: null
      timeoutInMinutes: 20
      strategy:
        matrix:
          Python310_Linux:
            python_version: '3.10'
            vmImage: ubuntu-latest
          Python311_Linux:
            python_version: '3.11'
  ...

.azure-pipelines/unit-test-hpu.yml:
  pool: GAUDI
  stages:
  - stage: Unit_test
    displayName: Unit Test
    dependsOn: []
    jobs:
    - job: null
      displayName: Unit Test
      steps:
      - template: template/ut-template.yml
        parameters:
          imageSource: pull
          dockerConfigName: commonDockerConfig
  ...

.azure-pipelines/unit-test-xpu.yml:
  pool: ICX-16C
  stages:
  - stage: Unit_test
    displayName: Unit Test
    dependsOn: []
    jobs:
    - job: null
      displayName: Unit Test
      steps:
      - template: template/ut-template.yml
        parameters:
          dockerConfigName: commonDockerConfig
          utScriptFileName: run_ut_xpu
  ...

.azure-pipelines/unit-test.yml:
  pool: ICX-16C
  stages:
  - stage: Unit_test
    displayName: Unit Test
    dependsOn: []
    jobs:
    - job: null
      timeoutInMinutes: 120
      strategy:
        matrix:
          part1:
            PART: 1
          part2:
            PART: 2
          part3:
            PART: 3
          part4:
            PART: 4
  ...

fix tokenizer and update code
  auto_round/compressors/vllm/compressor.py
  auto_round/utils/model.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix
  auto_round/__main__.py
  auto_round/compressors/base.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

Update auto_round/compressors/base.py
  auto_round/compressors/base.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

update
  auto_round/compressors/base.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

update issue link
  test/test_cpu/export/test_gguf_format.py
  test/test_cpu/integrations/test_llmc_integration.py
Due: .azure-pipelines/unit-test.yml

refactor
  auto_round/compressors/base.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

Update README_CN.md
  README_CN.md
Due: none

fix
  auto_round/auto_scheme/delta_loss.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix wf init
  auto_round_extension/torch/qlinear_torch.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test.yml

revert wf
  auto_round_extension/torch/qlinear_torch.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test.yml

fix CI
  auto_round/utils/device.py
  auto_round/utils/model.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

add copilot-instructions
  .github/copilot-instructions.md
Due: none

Update .github/copilot-instructions.md
  .github/copilot-instructions.md
Due: none

Fix issue where predefined ignore layers incorrectly apply to GGUF (#1340)
  auto_round/auto_scheme/delta_loss.py
  auto_round/compressors/base.py
  auto_round/compressors/utils.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix test_cuda failure
  test/test_cuda/integrations/test_vllm.py
Due: .azure-pipelines/unit-test.yml

fix mixed type
  auto_round_extension/torch/qlinear_torch.py
  test/test_cpu/backends/test_torch_backend.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test.yml

Update README.md
  README.md
Due: none

Add Chinese README (#1335)
  README.md
  README_CN.md
Due: none

refactor eval and add UT (#1324)
  auto_round/__init__.py
  auto_round/__main__.py
  auto_round/compressors/mllm/eval.py
  auto_round/eval/eval_cli.py
  auto_round/eval/evaluation.py
  auto_round/inference/auto_quantizer.py
  auto_round/inference/backend.py
  auto_round/utils/device.py
  auto_round/utils/model.py
  docs/step_by_step.md
  test/test_ark/test_model.py
  test/test_cpu/advanced/test_evaluation_functions.py
  test/test_cpu/backends/test_torch_backend.py
  test/test_cpu/schemes/test_auto_scheme.py
  test/test_cuda/advanced/test_evaluation.py
  test/test_cuda/advanced/test_multiple_card.py
  test/test_cuda/backends/test_exllamav2_backend.py
  test/test_cuda/backends/test_marlin_backend.py
  test/test_cuda/backends/test_torch_backend.py
  test/test_cuda/backends/test_triton_backend.py
  test/test_cuda/export/test_auto_round_format.py
  test/test_cuda/export/test_export.py
  test/test_cuda/integrations/test_vllm.py
  test/test_cuda/models/test_conv1d.py
  test/test_cuda/models/test_support_vlms.py
  test/test_cuda/models/test_vlms.py
  test/test_cuda/quantization/test_2_3bits.py
  test/test_cuda/schemes/test_auto_scheme.py
  test/test_cuda/utils/test_alg_ext.py
  test/test_cuda/utils/test_customized_data.py
  test/test_xpu/test_autoround.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix log
  auto_round/compressors/base.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

Fix FP8 MLA
  auto_round_extension/vllm_ext/auto_round_ext.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test.yml

update
  auto_round/schemes.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix ci
  .azure-pipelines/scripts/ut/run_ut.sh
Due: .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix
  auto_round/compressors/base.py
  auto_round/wrapper.py
  test/test_ark/test_model.py
  test/test_cpu/backends/test_torch_backend.py
  test/test_cpu/core/test_autoround.py
  test/test_cpu/export/test_export.py
  test/test_cpu/export/test_gguf_format.py
  test/test_cpu/integrations/test_llmcompressor.py
  test/test_cpu/models/test_mllm.py
  test/test_cpu/models/test_moe_model.py
  test/test_cpu/quantization/test_act_quantization.py
  test/test_cpu/quantization/test_mix_bits.py
  test/test_cpu/quantization/test_mxfp_nvfp.py
  test/test_cpu/quantization/test_mxfp_save_load.py
  test/test_cpu/utils/test_generation.py
  test/test_cuda/backends/test_torch_backend.py
  test/test_cuda/backends/test_triton_backend.py
  test/test_cuda/export/test_auto_round_format.py
  test/test_cuda/export/test_export.py
  test/test_cuda/export/test_gguf.py
  test/test_cuda/integrations/test_transformers.py
  test/test_cuda/models/test_moe_model.py
  test/test_cuda/quantization/test_2_3bits.py
  test/test_cuda/quantization/test_mix_bits.py
  test/test_cuda/quantization/test_mxfp_and_nvfp_quant.py
  test/test_cuda/quantization/test_mxfp_nvfp.py
  test/test_cuda/schemes/test_scheme.py
  test/test_xpu/test_autoround.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix ut
  .azure-pipelines/scripts/ut/run_ut_cuda.sh
Due: .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

Optimize CPU RAM peak memeory during quantization
  auto_round/compressors/base.py
  auto_round/utils/model.py
  test/test_cuda/advanced/test_cpu_ram_optimization.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix load mbpp
  auto_round/calib_dataset.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

fix copy out of meta tensor issue
  auto_round_extension/torch/qlinear_torch.py
  auto_round_extension/torch/qlinear_torch_zp.py
  test/test_cuda/quantization/test_mix_bits.py
  test/test_cuda/quantization/test_mxfp_nvfp.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test.yml

registry based look-up for FP8 layer detection
  auto_round/utils/model.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix
  auto_round/calib_dataset.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

support hadamard transform for mxfp4 with rtn or autoround method.
  auto_round/autoround.py
  auto_round/compressors/base.py
  auto_round/experimental/qmodules/mx.py
  auto_round/experimental/triton/mxfp4.py
  auto_round/export/export_to_autoround/export_to_nvfp_mxfp.py
  auto_round/inference/convert_model.py
  auto_round/schemes.py
  auto_round/transforms/transforms.py
  auto_round/wrapper.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

merge conflict fixed, Registry refactor preserved, plus Gaudi2 compatibility and data_type handling from main.
  auto_round/utils/model.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Update step_by_step.md
  docs/step_by_step.md
Due: none

Update step_by_step_CN.md
  docs/step_by_step_CN.md
Due: none

Path conditions:
  .azure-pipelines/code-scan.yml: any of: auto_round, auto_round_extension, setup.py, requirements.txt, requirements-cpu.txt, requirements-hpu.txt, .azure-pipelines/code-scan.yml, .azure-pipelines/scripts/codeScan
  .azure-pipelines/compatibility-test.yml: any of: auto_round, auto_round_extension, setup.py, setup.cfg, requirements.txt, requirements-cpu.txt, .azure-pipelines/compatibility-test.yml, but not: *.md, **/*.md
  .azure-pipelines/unit-test-hpu.yml: any of: auto_round, test/test*hpu*', setup.py, requirements-lib.txt, .azure-pipelines/scripts/ut, .azure-pipelines/template/docker-template.yml, .azure-pipelines/template/ut-template.yml, but not: auto_round/export/export_to_autogptq, auto_round/export/export_to_awq, *.md, **/*.md
  .azure-pipelines/unit-test-xpu.yml: any of: auto_round/utils, auto_round_extension/ark, test/test_ark, setup.py, .azure-pipelines/template/ut-template.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/scripts/ut/run_ut_xpu.sh, but not: *.md, **/*.md
  .azure-pipelines/unit-test.yml: any of: auto_round, auto_round_extension, test, setup.py, requirements.txt, requirements-cpu.txt, .azure-pipelines/scripts/ut, .azure-pipelines/unit-test.yml, .azure-pipelines/template/ut-template.yml, .azure-pipelines/template/docker-template.yml, but not: test/test*hpu*, *.md, **/*.md
