Repository intel/auto-round: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Path conditions:
  .azure-pipelines/code-scan.yml: any of: auto_round, auto_round_extension, setup.py, requirements.txt, requirements-cpu.txt, requirements-hpu.txt, .azure-pipelines/code-scan.yml, .azure-pipelines/scripts/codeScan
  .azure-pipelines/compatibility-test.yml: any of: auto_round, auto_round_extension, setup.py, setup.cfg, requirements.txt, requirements-cpu.txt, .azure-pipelines/compatibility-test.yml, but not: *.md, **/*.md
  .azure-pipelines/unit-test-hpu.yml: any of: auto_round, test/test*hpu*', setup.py, requirements-lib.txt, .azure-pipelines/scripts/ut, .azure-pipelines/template/docker-template.yml, .azure-pipelines/template/ut-template.yml, but not: auto_round/export/export_to_autogptq, auto_round/export/export_to_awq, *.md, **/*.md
  .azure-pipelines/unit-test-xpu.yml: any of: auto_round, auto_round_extension, test/test_ark, test/test_xpu, setup.py, .azure-pipelines/template/ut-template.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/scripts/ut/run_ut_xpu.sh, but not: *.md, **/*.md
  .azure-pipelines/unit-test.yml: any of: auto_round, auto_round_extension, test, setup.py, requirements.txt, requirements-cpu.txt, .azure-pipelines/scripts/ut, .azure-pipelines/unit-test.yml, .azure-pipelines/template/ut-template.yml, .azure-pipelines/template/docker-template.yml, but not: auto_round_extension/ark, test/test_hpu, test/test_ark, test/test_xpu, *.md, **/*.md, .azure-pipelines/scripts/ut/run_ut_hpu.sh, .azure-pipelines/scripts/ut/run_ut_cuda.sh, .azure-pipelines/scripts/ut/run_ut_xpu.sh

support ark CI and release test
  .azure-pipelines/ark-unit-test.yml
  .azure-pipelines/scripts/ut/run_ark_ut.sh
  .azure-pipelines/template/lib-build-template.yml
  .azure-pipelines/template/ut-template.yml
Due: .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Potential fix for pull request finding
  auto_round/utils/model.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

add test env
  .azure-pipelines/ark-unit-test.yml
Due: none

Potential fix for pull request finding
  auto_round/compressors_new/vllm_mixin.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

bug fix
  .azure-pipelines/ark-unit-test.yml
Due: none

do not trigger build in pr test
  .azure-pipelines/ark-unit-test.yml
  .azure-pipelines/build-auto-round-lib.yml
  .azure-pipelines/unit-test.yml
Due: .azure-pipelines/unit-test.yml

bug fix
  .azure-pipelines/ark-unit-test.yml
  .azure-pipelines/build-auto-round-lib.yml
Due: none

fix trigger
  .azure-pipelines/ark-unit-test.yml
Due: none

update deps install
  .azure-pipelines/ark-unit-test.yml
Due: none

support buildMode setting
  .azure-pipelines/ark-unit-test.yml
  .azure-pipelines/template/lib-build-template.yml
Due: none

replace LIB-BUILD-POOL
  .azure-pipelines/template/lib-build-template.yml
Due: none

honor detected model type for use_vllm_loading, harden vLLM fallback for object inputs, and add vLLM utils unit tests
  auto_round/compressors_new/entry.py
  auto_round/compressors_new/vllm_mixin.py
  auto_round/context/model.py
  test/test_cpu/utils/test_vllm_model_utils.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

change build pool
  .azure-pipelines/template/lib-build-template.yml
Due: none

ark fix workflow
  .azure-pipelines/build-auto-round-lib.yml
  .azure-pipelines/template/ut-template.yml
  .azure-pipelines/unit-test.yml
Due: .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Fix GGUF-K RTN routing and fake eval dtype normalization
  auto_round/__main__.py
  auto_round/auto_scheme/delta_loss.py
  auto_round/compressors_new/base.py
  auto_round/compressors_new/entry.py
  auto_round/eval/evaluation.py
  test/test_cpu/export/test_gguf_format.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix and add ut
  auto_round/algorithms/quantization/sign_roundv2/quantizer.py
  auto_round/compressors/base.py
  auto_round/compressors/utils.py
  test/test_cpu/utils/test_calibration_inputs.py
  test/test_cpu/utils/test_set_layer_config.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix CUDA CI and update document
  README.md
  README_CN.md
  test/test_cuda/models/test_get_block_name.py
Due: .azure-pipelines/unit-test.yml

delete legancy
  auto_round/__main__.py
  auto_round/algorithms/transforms/rotation/config.py
  auto_round/algorithms/transforms/rotation/dispatcher.py
  auto_round/algorithms/transforms/rotation/inplace/__init__.py
  auto_round/autoround.py
  auto_round/compressors_legacy/__init__.py
  auto_round/compressors_legacy/adam.py
  auto_round/compressors_legacy/base.py
  auto_round/compressors_legacy/config.py
  auto_round/compressors_legacy/diffusion/README.md
  auto_round/compressors_legacy/diffusion/__init__.py
  auto_round/compressors_legacy/diffusion/compressor.py
  auto_round/compressors_legacy/diffusion/dataset.py
  auto_round/compressors_legacy/diffusion/eval.py
  auto_round/compressors_legacy/diffusion/hybrid.py
  auto_round/compressors_legacy/mllm/__init__.py
  auto_round/compressors_legacy/mllm/compressor.py
  auto_round/compressors_legacy/mllm/eval.py
  auto_round/compressors_legacy/shard_writer.py
  auto_round/compressors_legacy/utils.py
  auto_round/envs.py
  auto_round/experimental/rotation_inplace/__init__.py
  auto_round/experimental/rotation_inplace/apply_rotation_transform.py
  auto_round/experimental/rotation_inplace/model_config.py
  auto_round/experimental/rotation_inplace/utils.py
  auto_round/experimental/transform/__init__.py
  auto_round/experimental/transform/apply.py
  auto_round/experimental/transform/hadamards.py
  auto_round/experimental/transform/patch_modules.py
  auto_round/experimental/transform/rotation_config.py
  auto_round/experimental/transform/triton/__init__.py
  auto_round/experimental/transform/triton/mxfp4.py
  auto_round/experimental/transform/utils/__init__.py
  auto_round/experimental/transform/utils/hadamard.py
  auto_round/experimental/transform/utils/matrix.py
  auto_round/experimental/utils.py
  auto_round/inference/convert_model.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

add auto_round_rtn cli and remove fast
  auto_round/__main__.py
  setup.cfg
  test/test_cpu/utils/test_cli_usage.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix disable_model_free
  auto_round/__main__.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

change binary build container
  .azure-pipelines/template/lib-build-template.yml
Due: none

remove duplicate code
  .azure-pipelines/build-auto-round-lib.yml
Due: none

remove invalid code
  .azure-pipelines/template/lib-build-template.yml
Due: none

add auto_round_opt_rtn
  auto_round/__main__.py
  setup.cfg
  test/test_cpu/utils/test_cli_usage.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

update lm-eval usage
  auto_round_extension/ark/README.md
  auto_round_extension/ark/auto_round_kernel/__init__.py
  auto_round_extension/ark/auto_round_kernel/torch_sdpa_patch.py
  auto_round_extension/ark/tools/lm_eval_with_ark_sdpa.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-xpu.yml

fix copy file issue
  auto_round/__main__.py
  auto_round/compressors/model_free.py
  auto_round/eval/evaluation.py
  test/test_cpu/quantization/test_model_free.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

add print log
  auto_round_extension/ark/auto_round_kernel/wrapper/include/utils.hpp
  auto_round_extension/ark/auto_round_kernel/wrapper/include/xpu_wrapper.hpp
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-xpu.yml

remove code
  .azure-pipelines/ark-unit-test.yml
Due: none

Add Dockerfile updates to install specific versions of PyTorch and torchvision; enhance image build logic to check for changes
  .azure-pipelines/docker/Dockerfile.devel
  .azure-pipelines/docker/Dockerfile_xpu.devel
  .azure-pipelines/template/docker-template.yml
Due: .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

reduce XPU memory usage in CI
  test/test_xpu/test_llmc_integration.py
Due: .azure-pipelines/unit-test-xpu.yml

update error report
  .azure-pipelines/template/docker-template.yml
Due: .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

Comma-separated list to avoid YAML float parsing in runtime inputs.
  .azure-pipelines/ark-unit-test.yml
  .azure-pipelines/template/lib-build-template.yml
Due: none

use local machine to upstream package
  .azure-pipelines/ark-unit-test.yml
Due: none

fix issues
  auto_round/calibration/utils.py
  auto_round/compressors_new/calib.py
  auto_round/compressors_new/diffusion_mixin.py
  auto_round/utils/device.py
  auto_round/utils/model.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix lint
  auto_round/compressors_new/diffusion_mixin.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Update auto_round/utils/bagel_loader.py
  auto_round/utils/bagel_loader.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

exclude cuda test
  .azure-pipelines/unit-test-cuda.yml
Due: none

fix uts
  auto_round/compressors_new/calib.py
  auto_round/compressors_new/diffusion_mixin.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml
