Repository intel/auto-round: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

.azure-pipelines/code-scan.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: BanditCodeScan
    displayName: Bandit Code Scan
    dependsOn: []
    jobs:
    - job: Bandit
      displayName: Bandit
      steps:
      - template: template/code-scan-template.yml
        parameters:
          codeScanFileName: bandit
          uploadPath: bandit.log
  ...

.azure-pipelines/compatibility-test.yml:
  stages:
  - stage: null
    displayName: Compatibility Test
    dependsOn: []
    jobs:
    - job: null
      timeoutInMinutes: 20
      strategy:
        matrix:
          Python310_Linux:
            python_version: '3.10'
            vmImage: ubuntu-latest
          Python311_Linux:
            python_version: '3.11'
  ...

.azure-pipelines/unit-test-hpu.yml:
  pool: GAUDI
  stages:
  - stage: Unit_test
    displayName: Unit Test
    dependsOn: []
    jobs:
    - job: null
      displayName: Unit Test
      steps:
      - template: template/ut-template.yml
        parameters:
          imageSource: pull
          dockerConfigName: commonDockerConfig
  ...

.azure-pipelines/unit-test-xpu.yml:
  pool: B60
  stages:
  - stage: Unit_test
    displayName: Unit Test
    dependsOn: []
    jobs:
    - job: null
      displayName: Unit Test
      steps:
      - template: template/ut-template.yml
        parameters:
          dockerConfigName: commonDockerConfig
          utScriptFileName: run_ut_xpu
  ...

.azure-pipelines/unit-test.yml:
  pool: ICX-16C
  stages:
  - stage: Unit_test
    displayName: Unit Test
    dependsOn: []
    jobs:
    - job: null
      timeoutInMinutes: 120
      strategy:
        matrix:
          part1:
            PART: 1
          part2:
            PART: 2
          part3:
            PART: 3
          part4:
            PART: 4
  ...

Zhenzhong/moe opt (#2216)
  auto_round_extension/ark/auto_round_kernel/__init__.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-xpu.yml

cherry-pick conflict implementation (#2215)
  auto_round/compressors/model_free.py
  test/unit/test_cpu/quantization/test_model_free.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix: improve memory management during tensor processing and dequantization
  auto_round/compressors/model_free.py
  auto_round/utils/model_free_utils.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix: stabilize CUDA unit test failures
  auto_round/utils/distributed.py
  test/unit/common/algorithms/transforms/hadamard/test_hadamard_apply.py
  test/unit/common/quantization/test_asym.py
  test/unit/common/schemes/test_scheme.py
  test/unit/common/utils/test_distributed.py
  test/unit/test_cuda/algorithms/test_awq.py
  test/unit/test_cuda/export/test_auto_round_format.py
  test/unit/test_cuda/models/test_special_model.py
  test/unit/test_cuda/requirements.txt
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

perf: reduce CUDA format matrix in PR CI
  test/unit/test_cuda/export/test_auto_round_format.py
Due: .azure-pipelines/unit-test.yml

perf: reduce duplicate CUDA backend tests
  test/unit/test_cuda/backends/test_exllamav2_backend.py
  test/unit/test_cuda/backends/test_marlin_backend.py
Due: .azure-pipelines/unit-test.yml

Preserve diffusion component dtypes during quantization (#2205)
  auto_round/compressors/diffusion_mixin.py
  test/unit/test_cpu/compressors/test_diffusion_mixin.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

Update README.md
  README.md
Due: none

update
  auto_round/auto_scheme/delta_loss.py
  auto_round/auto_scheme/gen_auto_scheme.py
  auto_round/auto_scheme/solver.py
  auto_round/cli/main.py
  auto_round/cli/parser.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

modify the moe API
  auto_round_extension/ark/auto_round_kernel/__init__.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-xpu.yml

update iters and max bounder
  auto_round/algorithms/quantization/sign_round/quantizer.py
  auto_round/wrapper.py
  test/unit/test_cpu/algorithms/test_sign_round_quantizer.py
  test/unit/test_cpu/core/test_wrapper_utils.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

feat: add compute_mx_v_scale function for per-element v step-scale in MXFP quantization
  auto_round/data_type/mxfp.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

update
  auto_round/auto_scheme/delta_loss.py
  auto_round/auto_scheme/gen_auto_scheme.py
  docs/auto_scheme_solver.md
  docs/auto_scheme_solver_CN.md
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

disable timeout in pytest until found a more stable method
  .azure-pipelines/scripts/cuda_unit_test/run_cuda_ut.sh
  .azure-pipelines/scripts/ut/run_ut.sh
  .azure-pipelines/scripts/ut/run_ut_hpu.sh
  .azure-pipelines/scripts/ut/run_ut_xpu.sh
Due: .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix wan component keep float32
  auto_round/compressors/diffusion_mixin.py
  auto_round/utils/model.py
  test/unit/test_cpu/compressors/test_diffusion_mixin.py
  test/unit/test_cpu/models/test_diffusion.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

disable timeout in pytest until found a more stable method (#2222)
  .azure-pipelines/scripts/cuda_unit_test/run_cuda_ut.sh
  .azure-pipelines/scripts/ut/run_ut.sh
  .azure-pipelines/scripts/ut/run_ut_hpu.sh
  .azure-pipelines/scripts/ut/run_ut_xpu.sh
Due: .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix: normalize diffusion pipeline dtype loading
  auto_round/utils/model.py
  test/unit/test_cpu/models/test_diffusion.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

docs: document AR_SCHEME_MEM_INVENTORY and translate the AR_AUTO_SCHEME_NO_SERIAL_FALLBACK entry to Chinese
  docs/environments.md
  docs/environments_CN.md
Due: none

test(auto_scheme): assert MXFP4/MXFP8 options yield a mixed layer config
  test/unit/test_cpu/schemes/test_auto_scheme.py
Due: .azure-pipelines/unit-test.yml

fix(auto_scheme): memory and correctness fixes for parallel scoring on large MoE models
  auto_round/auto_scheme/delta_loss.py
  auto_round/envs.py
  auto_round/utils/disk_stream_util.py
  auto_round/utils/offload.py
  docs/environments.md
  docs/environments_CN.md
  test/unit/test_cpu/schemes/test_auto_scheme.py
  test/unit/test_cpu/schemes/test_auto_scheme_disk_stream.py
  test/unit/test_cpu/utils/test_disk_stream_util.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix(auto_scheme): accumulate weight scores for every weight-quantized scheme
  auto_round/auto_scheme/delta_loss.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix(auto_scheme): allow disk-stream parallel scoring for text-only VLM runs
  auto_round/auto_scheme/delta_loss.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

feat(auto_scheme): batch-granularity scoring resume + resilient parallel pool
  auto_round/auto_scheme/delta_loss.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix(auto_scheme): name holding attributes deterministically in referrer snippets
  auto_round/auto_scheme/delta_loss.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix(auto_scheme): route serial-unsafe scoring through disk-stream workers
  auto_round/auto_scheme/delta_loss.py
  test/unit/test_cpu/schemes/test_auto_scheme.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

fix(auto_scheme): make batch_checkpoint bindings mutually exclusive in workers
  auto_round/auto_scheme/delta_loss.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

add early stop
  auto_round/algorithms/quantization/sign_round/quantizer.py
  auto_round/envs.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

update minmax_scale_bound
  auto_round/wrapper.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

add awq torch_compile fix, disable_opt_rtn by default for awq (#2208)
  README.md
  README_CN.md
  auto_round/algorithms/composer.py
  auto_round/algorithms/registry.py
  auto_round/algorithms/transforms/awq/base.py
  auto_round/algorithms/transforms/awq/config.py
  auto_round/algorithms/transforms/awq/qdq.py
  auto_round/autoround.py
  auto_round/cli/algorithms.py
  auto_round/cli/parser.py
  docs/awq_details.md
  docs/awq_details_CN.md
  docs/rotation_details.md
  docs/step_by_step.md
  docs/step_by_step_CN.md
  test/unit/test_cpu/algorithms/test_awq.py
  test/unit/test_cpu/core/test_autoround_entry.py
  test/unit/test_cpu/core/test_entry_contract.py
  test/unit/test_cpu/core/test_pipeline_fail_fast.py
  test/unit/test_cpu/utils/test_model_scope.py
  test/unit/test_cuda/algorithms/test_awq.py
  test/unit/test_cuda/backends/test_exllamav2_backend.py
  test/unit/test_cuda/backends/test_torch_backend.py
  test/unit/test_cuda/export/test_auto_round_format.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

update auto_scheme_acc doc (#2000)
  docs/auto_scheme_acc.md
Due: none

fix: update default patience for early stopping in SignRound to 50
  auto_round/envs.py
Due: .azure-pipelines/code-scan.yml, .azure-pipelines/compatibility-test.yml, .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

add enable_torch_compile mark to SGLang and vLLM throughput tests
  test/e2e/test_cuda/test_sglang_throughput.py
  test/e2e/test_cuda/test_vllm_throughput.py
Due: .azure-pipelines/unit-test.yml

refactor: remove timeout options from pytest commands in UT scripts
  .azure-pipelines/scripts/cuda_unit_test/run_cuda_ut.sh
  .azure-pipelines/scripts/ut/run_ut.sh
  .azure-pipelines/scripts/ut/run_ut_xpu.sh
Due: .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/unit-test.yml

bug fix
  .azure-pipelines/scripts/ut/run_ut.sh
Due: .azure-pipelines/unit-test-hpu.yml, .azure-pipelines/unit-test.yml

update
  docs/algorithm_combinations.md
  docs/algorithm_combinations_CN.md
  docs/lfq_acc.md
Due: none

update
  README.md
  README_CN.md
  docs/algorithm_combinations.md
  docs/algorithm_combinations_CN.md
Due: none

update
  docs/algorithm_combinations.md
  docs/algorithm_combinations_CN.md
Due: none

update
  README.md
  README_CN.md
Due: none

update
  README.md
Due: none

Path conditions:
  .azure-pipelines/code-scan.yml: any of: auto_round, auto_round_extension, setup.py, requirements.txt, requirements-cpu.txt, requirements-hpu.txt, .azure-pipelines/code-scan.yml, .azure-pipelines/scripts/codeScan
  .azure-pipelines/compatibility-test.yml: any of: auto_round, auto_round_extension, setup.py, setup.cfg, requirements.txt, requirements-cpu.txt, .azure-pipelines/compatibility-test.yml, but not: *.md, **/*.md
  .azure-pipelines/unit-test-hpu.yml: any of: auto_round, test/test*hpu*', setup.py, requirements-lib.txt, .azure-pipelines/scripts/ut, .azure-pipelines/template/docker-template.yml, .azure-pipelines/template/ut-template.yml, but not: auto_round/export/export_to_autogptq, auto_round/export/export_to_awq, *.md, **/*.md
  .azure-pipelines/unit-test-xpu.yml: any of: auto_round, auto_round_extension, test/test_ark, test/test_xpu, setup.py, .azure-pipelines/template/ut-template.yml, .azure-pipelines/unit-test-xpu.yml, .azure-pipelines/scripts/ut/run_ut_xpu.sh, but not: *.md, **/*.md
  .azure-pipelines/unit-test.yml: any of: auto_round, auto_round_extension, test, setup.py, requirements.txt, requirements-cpu.txt, .azure-pipelines/scripts/ut, .azure-pipelines/unit-test.yml, .azure-pipelines/template/ut-template.yml, .azure-pipelines/template/docker-template.yml, but not: auto_round_extension/ark, test/test_hpu, test/test_ark, test/test_xpu, *.md, **/*.md, .azure-pipelines/scripts/ut/run_ut_hpu.sh, .azure-pipelines/scripts/ut/run_ut_cuda.sh, .azure-pipelines/scripts/ut/run_ut_xpu.sh
